<div class="section_2_about">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                  <div class="images_flow_about_us_2">
                    <img src="{{section.settings.Aboutus_section2_Image1 | img_url:'master' }}" alt="">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="images_flow_about_us_3 text-center">
                    <img src="{{section.settings.Aboutus_section2_Image2 | img_url:'master' }}" alt="">
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="images_flow_about_us_4">
                  <img src="{{section.settings.Aboutus_section2_Image3 | img_url:'master' }}" alt="">
                  <img src="{{section.settings.Aboutus_section2_Image4 | img_url:'master'}}" alt="">
                </div>
                </div>
              </div>
        </div>
    </div>

{% schema %}
  {
    "name": "Second Section",
    "settings": [
 	  {
        "id": "Aboutus_section2_Image1",
        "type": "image_picker",
        "label": "First image"
        
      },
 {
        "id": "Aboutus_section2_Image2",
        "type": "image_picker",
        "label": "Second image"
        
      },
 {
        "id": "Aboutus_section2_Image3",
        "type": "image_picker",
        "label": "Third image"
        
      },
 {
        "id": "Aboutus_section2_Image4",
        "type": "image_picker",
        "label": "Fourth image"
        
      }

	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
