<div class="section_2">
    <div class="container">
      <div class="bottle_1">
       <h1 class="With-every-bottle-of_1">{{section.settings.Second-Sectiontext}}</h1>
      </div>
    </div>     
 </div>

<style>
.section_2 {
  background-image: url({{section.settings.Image_Section_2 | img_url:'master'}});
}
</style>
{% schema %}
  {
    "name": "Homepage second Section",
    "settings": [
           {
        "id": "Second-Sectiontext",
        "type": "textarea",
        "label": "Add custom text below",
		"default": "Enter text here"
      },
	  {
        "id": "Image_Section_2",
        "type": "image_picker",
        "label": "Sectioin 2 image"
        
      }

    ]
  }
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
