<style>
  .col3{
      width: 33.3%;
  }
  .col-image{
      width: 100%;
      height: 403px;
  }
  .margin-t{
      margin-top: 180px;
  }
  .row{
    max-width:100%;
    margin:0px;
  }
    .col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1{
    padding:0px;
    }
  @media (max-width: 425px) and (min-width: 320px){
  .margin-t{
      margin-top: 100px;
  }
    .col-image{
    margin: 40px 0px 0px 0px;
      height: auto;
    }
  }
  @media (max-width: 550px) and (min-width: 400px){
  .margin-t{
      margin-top: 100px;
  }
    .col-image{
    margin: 40px 0px 0px 0px;
    padding:20px;
      height: auto;
    }
  }
  @media (max-width: 768px) and (min-width: 550px){
  .margin-t{
      margin-top: 100px;
  }
    .col-image{
    margin: 40px 0px 0px 10px;
    padding:20px;
      height: auto;
    }
  }
  @media (max-width: 1024px) and (min-width: 768px){
  .margin-t{
      margin-top: 0px;
  }
    .col-image{
    margin: 40px 0px 0px 10px;
      height: 403px;
/*     padding:20px; */
    }
  }
     @media (max-width: 2560px) and (min-width: 1800px){
    .col-image{
    margin: 40px 0px 0px 10px;
      height: 403px;
/*     padding:20px; */
    }
     }
</style>
        <!--tour-images-->
        <div class="main-container margin-t">
            <div class="row">
              {% for block in section.blocks %}
                <div class="col-lg-4 col-md-12 col-sm-12 coll-1">
                    <img class="col-image" src="{{ block.settings.product-image | img_url: '444x' }}">
                </div>
              {% endfor %}
            </div>
        </div>
        <!--tour-images-end-->
{% schema %}
  {
    "name": "area images",
    "settings": [],
"blocks": [
    {
      "type": "select",
      "name": "Add image",
      "settings": [
        {
          "id": "product",
          "type": "url",
       		"label": "add image"
        },
        {
          "id": "product-image",
          "type": "image_picker",
          "label": "add a image"
        }
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
