<style>
  
.Schedule-a-Tour h2{
    max-width: 209px;
    margin: 107px 399px 0px 97px;
    font-family: Canela;
    font-size: 32px !important;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #171f15;
  }
.Meet-Hattie {
    max-width: 393.7px;
    height: 503px;
    text-align: center;
  margin-left:auto;
  margin-right:97px;
  }
  .Tours-are-available p{
    max-width: 608px;
    height: 200px;
    margin: 48px 0 0 97px;
    font-family: ApercuPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #171f15;
    text-align: justify;
  }
  .col3{
      width: 33.3%;
  }
  .col-image{
      width: 100%;
      height: 403px;
  }
  .margin-t{
      margin-top: 180px;
  }
  .row-hattie{
  max-width:100%;
  }
  @media (max-width: 400px) and (min-width: 320px){
  .CleanShot img{
    max-width:280px;
  }
    .CleanShot{
    margin:20px;
      width:290px;
      height:auto;
  }
    .text-section{
        margin: 20px 0px 20px 35px;
    }
    .text-section h2{
    font-size:20px;
    }
    .first-col {
     display: inline-table;
    }
    .Schedule-a-Tour{
    display:content;
     width:290px;
    }
    .Schedule-a-Tour h2{
        margin: 30px 0px 0px 0px;
    font-size: 20px !important;
    width: 290px;
    text-align: left;
    }
    .Tours-are-available p{
        margin: 20px 0px 0px 0px;
      font-size:14px !important;
      width:290px;
    }
    .Meet-Hattie {
    margin-left:30px;
    }
    .Meet-Hattie img{
    max-width:250px;
      margin:210px 0px 0px 0px;
    }
    .main-contaainer{
    width:93%;
      margin:auto;
    }
  }
  @media (max-width: 550px) and (min-width: 400px){
  .CleanShot img{
    max-width:280px;
  }
    .CleanShot{
    margin:20px;
      width:290px;
      height:auto;
  }
    .text-section{
        margin: 20px 0px 20px 35px;
    }
    .text-section h2{
    font-size:20px;
    }
    .first-col {
     display: inline-table;
    }
    .Schedule-a-Tour{
    display:content;
     width:290px;
    }
    .Schedule-a-Tour h2{
        margin: 30px 0px 0px 0px;
    font-size: 20px !important;
    width: 290px;
    text-align: center;
    }
    .Tours-are-available p{
        margin: 20px 40px 0px 40px;
      font-size:14px !important;
    }
    .Meet-Hattie {
    margin-left:40px;
      margin-right:25px;
    }
    .Meet-Hattie img{
    max-width: 330px;
    margin: 90px auto 0px auto;
    }
    .margin-t{
    margin-top:20px !important;
    }
    .main-contaainer{
    width:93%;
      margin:auto;
    }
  }
  @media (max-width: 768px) and (min-width: 550px){
    .text-section{
        margin: 20px 0px 20px 35px;
    }
    .text-section h2{
    font-size:20px;
    }
    .first-col {
     display: inline-table;
    }
    .Schedule-a-Tour{
    display:content;
     width:290px;
    }
    .Schedule-a-Tour h2{
        margin: 30px 0px 0px 50px;
    font-size: 20px !important;
    width: 290px;
    text-align: center;
    }
    .Tours-are-available p{
        margin: 20px 0 0 70px;
      font-size:14px !important;
    }
    .Meet-Hattie {
    margin: 0px auto;
    }
    .Meet-Hattie img{
    max-width:250px;
      margin:10px auto 0px auto;
    }
    .col-image{
    padding:0px !important;
      margin:40px 0px 0px 0px !important;
      max-width:100%;
    }
  }
  @media (max-width: 1024px) and (min-width: 768px){
  
    .text-section{
        margin: 20px 0px 20px 35px;
    }
    .text-section h2{
    font-size:20px;
    }
    .first-col {
     display: inline-table;
    }
    .Schedule-a-Tour{
    display:content;
     width:290px;
    }
    .Schedule-a-Tour h2{
        margin: 30px 0px 0px 50px;
    font-size: 20px !important;
    width: 290px;
    text-align: center;
    }
    .Tours-are-available p{
        margin: 20px 0 0 70px;
      font-size:14px !important;
    }
    .Meet-Hattie {
    margin: 0px auto;
      height:350px;
    }
    .Meet-Hattie img{
    max-width:250px;
      margin:10px auto 0px auto;
    }
    .margin-top{
    margin-top:50px;
    }
    .col-image{
    padding:0px !important;
      margin:40px 0px 0px 0px !important;
      max-width:100%;
    }
  .main-contaainer{
    max-width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}
  }  
  
   @media (max-width: 1440px) and (min-width: 1024px){
    .row-hattie{
      max-width:100% !important;
    }
  .main-contaainer{
    max-width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}
   }
  @media (max-width: 1800px) and (min-width: 1440px){
    .row-hattie{
      max-width:100% !important;
    }
  .main-contaainer{
    max-width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}
   }
  @media (max-width: 2560px) and (min-width: 1801px){
    .row-hattie{
    max-width:100% !important;
      margin:0px auto !important;
    }
    .margin-top{
    margin-top:180px;
    }
  .main-contaainer{
    max-width: 70%;
    margin: 0px auto 0px auto;
    padding: 0px;
}
    .Schedule-a-Tour h2 {
    max-width: 608px;
    margin: 107px 399px 0px 97px;
    font-family: Canela;
    font-size: 32px !important;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #171f15;
}
    .Tours-are-available p {
    max-width: 608px;
    height: 200px;
    margin: 48px 0 0 97px;
    font-family: ApercuPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #171f15;
    text-align: justify;
}
  }
</style>
        <!--schedule-->
        <div class="container main-contaainer margin-top">
          <div class="">
            <div class="row row-hattie">
                <div class="col-lg-6 col-md-12 col-sm-12 first-col">
                    <div class="row Schedule-a-Tour">
                    <h2>{{ section.settings.title }}</h2>
                </div>
                <div class="row Tours-are-available">
                        <p>{{ section.settings.text }}</p>
            </div>
            </div>
              {% for block in section.blocks %}
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <div class="Meet-Hattie">
                    <img src="{{ block.settings.product-image | img_url: '394x503' }}">
                  </div>
                </div>
              {% endfor %}
                </div> 
          </div>
        </div>
{% schema %}
  {
    "name": "Schedule-a-Tour",
    "settings": [
    {
        "id": "title",
        "type": "text",
        "label": "Add custom text below"
      },
    {
        "id": "text",
        "type": "html",
        "label": "Add custom text below"
      }
  ],
"blocks": [
    {
      "type": "select",
      "name": "Add image",
      "settings": [
        {
          "id": "product",
          "type": "url",
       		"label": "add image"
        },
        {
          "id": "product-image",
          "type": "image_picker",
          "label": "image picker"
        }
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
