<tr class="row2486">
    <td class="column0 style2 s">THRIFTWAY JC NEWPORT</td>
    <td class="column1 style5 s">107 N COAST HWY</td>
    <td class="column2 style8 s">NEWPORT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2487">
    <td class="column0 style2 s">THRIFTWAY JC NEWPORT</td>
    <td class="column1 style5 s">107 N COAST HWY</td>
    <td class="column2 style8 s">NEWPORT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2488">
    <td class="column0 style2 s">THRIFTWAY JC NEWPORT</td>
    <td class="column1 style5 s">107 N COAST HWY</td>
    <td class="column2 style8 s">NEWPORT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2489">
    <td class="column0 style2 s">THRIFTWAY JC NEWPORT</td>
    <td class="column1 style5 s">107 N COAST HWY</td>
    <td class="column2 style8 s">NEWPORT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2490">
    <td class="column0 style3 s">SAWYERS LANDING</td>
    <td class="column1 style4 s">4098 YAQUINA BAY RD.</td>
    <td class="column2 style7 s">NEWPORT</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2491">
    <td class="column0 style2 s">SAWYERS LANDING</td>
    <td class="column1 style5 s">4098 YAQUINA BAY RD.</td>
    <td class="column2 style8 s">NEWPORT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2492">
    <td class="column0 style2 s">SAWYERS LANDING</td>
    <td class="column1 style5 s">4098 YAQUINA BAY RD.</td>
    <td class="column2 style8 s">NEWPORT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2493">
    <td class="column0 style2 s">SAWYERS LANDING</td>
    <td class="column1 style5 s">4098 YAQUINA BAY RD.</td>
    <td class="column2 style8 s">NEWPORT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
     <tr class="row2494">
    <td class="column0 style3 s">FRED MEYER #227-NEWPORT</td>
    <td class="column1 style4 s">150 NE 20TH</td>
    <td class="column2 style7 s">NEWPORT</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2495">
    <td class="column0 style2 s">FRED MEYER #227-NEWPORT</td>
    <td class="column1 style5 s">150 NE 20TH</td>
    <td class="column2 style8 s">NEWPORT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2496">
    <td class="column0 style2 s">FRED MEYER #227-NEWPORT</td>
    <td class="column1 style5 s">150 NE 20TH</td>
    <td class="column2 style8 s">NEWPORT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2497">
    <td class="column0 style2 s">FRED MEYER #227-NEWPORT</td>
    <td class="column1 style5 s">150 NE 20TH</td>
    <td class="column2 style8 s">NEWPORT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2498">
    <td class="column0 style2 s">FRED MEYER #227-NEWPORT</td>
    <td class="column1 style5 s">150 NE 20TH</td>
    <td class="column2 style8 s">NEWPORT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2499">
    <td class="column0 style3 s">TAPHOUSE AT NYE CREEK</td>
    <td class="column1 style4 s">520 NW ALPINE ST</td>
    <td class="column2 style7 s">NEWPORT</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2500">
    <td class="column0 style2 s">TAPHOUSE AT NYE CREEK</td>
    <td class="column1 style5 s">520 NW ALPINE ST</td>
    <td class="column2 style8 s">NEWPORT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT CAB SAUV</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2501">
    <td class="column0 style2 s">TAPHOUSE AT NYE CREEK</td>
    <td class="column1 style5 s">520 NW ALPINE ST</td>
    <td class="column2 style8 s">NEWPORT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
                <tr class="row2502">
                    <td class="column0 style2 s">TAPHOUSE AT NYE CREEK</td>
                    <td class="column1 style5 s">520 NW ALPINE ST</td>
                    <td class="column2 style8 s">NEWPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2503">
                    <td class="column0 style2 s">TAPHOUSE AT NYE CREEK</td>
                    <td class="column1 style5 s">520 NW ALPINE ST</td>
                    <td class="column2 style8 s">NEWPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2504">
                    <td class="column0 style2 s">TAPHOUSE AT NYE CREEK</td>
                    <td class="column1 style5 s">520 NW ALPINE ST</td>
                    <td class="column2 style8 s">NEWPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2505">
                    <td class="column0 style3 s">NORTH BEND LIQUOR</td>
                    <td class="column1 style4 s">2229 NEWMARK ST</td>
                    <td class="column2 style7 s">NORTH BEND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2506">
                    <td class="column0 style2 s">NORTH BEND LIQUOR</td>
                    <td class="column1 style5 s">2229 NEWMARK ST</td>
                    <td class="column2 style8 s">NORTH BEND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2507">
                    <td class="column0 style2 s">NORTH BEND LIQUOR</td>
                    <td class="column1 style5 s">2229 NEWMARK ST</td>
                    <td class="column2 style8 s">NORTH BEND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2508">
                    <td class="column0 style2 s">NORTH BEND LIQUOR</td>
                    <td class="column1 style5 s">2229 NEWMARK ST</td>
                    <td class="column2 style8 s">NORTH BEND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2509">
                    <td class="column0 style2 s">NORTH BEND LIQUOR</td>
                    <td class="column1 style5 s">2229 NEWMARK ST</td>
                    <td class="column2 style8 s">NORTH BEND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2510">
                    <td class="column0 style2 s">NORTH BEND LIQUOR</td>
                    <td class="column1 style5 s">2229 NEWMARK ST</td>
                    <td class="column2 style8 s">NORTH BEND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2511">
                    <td class="column0 style2 s">NORTH BEND LIQUOR</td>
                    <td class="column1 style5 s">2229 NEWMARK ST</td>
                    <td class="column2 style8 s">NORTH BEND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2512">
                    <td class="column0 style2 s">NORTH BEND LIQUOR</td>
                    <td class="column1 style5 s">2229 NEWMARK ST</td>
                    <td class="column2 style8 s">NORTH BEND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2513">
                    <td class="column0 style2 s">NORTH BEND LIQUOR</td>
                    <td class="column1 style5 s">2229 NEWMARK ST</td>
                    <td class="column2 style8 s">NORTH BEND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2514">
                    <td class="column0 style2 s">NORTH BEND LIQUOR</td>
                    <td class="column1 style5 s">2229 NEWMARK ST</td>
                    <td class="column2 style8 s">NORTH BEND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2515">
                    <td class="column0 style2 s">NORTH BEND LIQUOR</td>
                    <td class="column1 style5 s">2229 NEWMARK ST</td>
                    <td class="column2 style8 s">NORTH BEND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2516">
                    <td class="column0 style3 s">RITE AID #05379- NORTH BEND</td>
                    <td class="column1 style4 s">PONY VILLAGE SHOP CR</td>
                    <td class="column2 style7 s">NORTH BEND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2517">
                    <td class="column0 style2 s">RITE AID #05379- NRTH BND</td>
                    <td class="column1 style5 s">PONY VILLAGE SHOP CR</td>
                    <td class="column2 style8 s">NORTH BEND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2518">
                    <td class="column0 style3 s">QUICK E MART</td>
                    <td class="column1 style4 s">1880 NEWMARK ST</td>
                    <td class="column2 style7 s">NORTH BEND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2519">
                    <td class="column0 style2 s">QUICK E MART</td>
                    <td class="column1 style5 s">1880 NEWMARK ST</td>
                    <td class="column2 style8 s">NORTH BEND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2520">
                    <td class="column0 style3 s">SAFEWAY #1557 NORTH BEND</td>
                    <td class="column1 style4 s">1735 VIRGINIA</td>
                    <td class="column2 style7 s">NORTH BEND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2521">
                    <td class="column0 style2 s">SAFEWAY #1557 NORTH BEND</td>
                    <td class="column1 style5 s">1735 VIRGINIA</td>
                    <td class="column2 style8 s">NORTH BEND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2522">
                    <td class="column0 style2 s">SAFEWAY #1557 NORTH BEND</td>
                    <td class="column1 style5 s">1735 VIRGINIA</td>
                    <td class="column2 style8 s">NORTH BEND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2523">
                    <td class="column0 style2 s">SAFEWAY #1557 NORTH BEND</td>
                    <td class="column1 style5 s">1735 VIRGINIA</td>
                    <td class="column2 style8 s">NORTH BEND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2524">
                    <td class="column0 style2 s">SAFEWAY #1557 NORTH BEND</td>
                    <td class="column1 style5 s">1735 VIRGINIA</td>
                    <td class="column2 style8 s">NORTH BEND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2525">
                    <td class="column0 style2 s">SAFEWAY #1557 NORTH BEND</td>
                    <td class="column1 style5 s">1735 VIRGINIA</td>
                    <td class="column2 style8 s">NORTH BEND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2526">
                    <td class="column0 style2 s">SAFEWAY #1557 NORTH BEND</td>
                    <td class="column1 style5 s">1735 VIRGINIA</td>
                    <td class="column2 style8 s">NORTH BEND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2527">
                    <td class="column0 style3 s">CHEVRON NORTH PLAINS</td>
                    <td class="column1 style4 s">10025 NW GLENCOE RD</td>
                    <td class="column2 style7 s">NORTH PLAINS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2528">
                    <td class="column0 style2 s">CHEVRON NORTH PLAINS</td>
                    <td class="column1 style5 s">10025 NW GLENCOE RD</td>
                    <td class="column2 style8 s">NORTH PLAINS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2529">
                    <td class="column0 style3 s">NOTI PUB</td>
                    <td class="column1 style4 s">22506 HWY 126</td>
                    <td class="column2 style7 s">NOTI</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2530">
                    <td class="column0 style2 s">NOTI PUB</td>
                    <td class="column1 style5 s">22506 HWY 126</td>
                    <td class="column2 style8 s">NOTI</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2531">
                    <td class="column0 style3 s">O'BRIEN COUNTRY STORE</td>
                    <td class="column1 style4 s">33096 REDWOOD HIGHWAY</td>
                    <td class="column2 style7 s">O'BRIEN</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2532">
                    <td class="column0 style2 s">O'BRIEN COUNTRY STORE</td>
                    <td class="column1 style5 s">33096 REDWOOD HIGHWAY</td>
                    <td class="column2 style8 s">O'BRIEN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2533">
                    <td class="column0 style3 s">RAYS FOODS #50</td>
                    <td class="column1 style4 s">48067 HWY 58/POB 738</td>
                    <td class="column2 style7 s">OAKRIDGE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2534">
                    <td class="column0 style2 s">RAYS FOODS #50</td>
                    <td class="column1 style5 s">48067 HWY 58/POB 738</td>
                    <td class="column2 style8 s">OAKRIDGE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2535">
                    <td class="column0 style2 s">RAYS FOODS #50</td>
                    <td class="column1 style5 s">48067 HWY 58/POB 738</td>
                    <td class="column2 style8 s">OAKRIDGE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2536">
                    <td class="column0 style2 s">RAYS FOODS #50</td>
                    <td class="column1 style5 s">48067 HWY 58/POB 738</td>
                    <td class="column2 style8 s">OAKRIDGE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2537">
                    <td class="column0 style2 s">RAYS FOODS #50</td>
                    <td class="column1 style5 s">48067 HWY 58/POB 738</td>
                    <td class="column2 style8 s">OAKRIDGE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2538">
                    <td class="column0 style2 s">RAYS FOODS #50</td>
                    <td class="column1 style5 s">48067 HWY 58/POB 738</td>
                    <td class="column2 style8 s">OAKRIDGE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2539">
                    <td class="column0 style3 s">REDLAND STORE</td>
                    <td class="column1 style4 s">18151 S REDLAND RD</td>
                    <td class="column2 style7 s">OREGON CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                     <tr class="row2540">
                    <td class="column0 style2 s">REDLAND STORE</td>
                    <td class="column1 style5 s">18151 S REDLAND RD</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2541">
                    <td class="column0 style2 s">REDLAND STORE</td>
                    <td class="column1 style5 s">18151 S REDLAND RD</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2542">
                    <td class="column0 style3 s">FRED MEYER #242-OREGON CITY</td>
                    <td class="column1 style4 s">1839 MOLALLA AVE</td>
                    <td class="column2 style7 s">OREGON CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2543">
                    <td class="column0 style2 s">FRED MEYER #242-ORE CITY</td>
                    <td class="column1 style5 s">1839 MOLALLA AVE</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2544">
                    <td class="column0 style2 s">FRED MEYER #242-ORE CITY</td>
                    <td class="column1 style5 s">1839 MOLALLA AVE</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2545">
                    <td class="column0 style2 s">FRED MEYER #242-ORE CITY</td>
                    <td class="column1 style5 s">1839 MOLALLA AVE</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2546">
                    <td class="column0 style2 s">FRED MEYER #242-ORE CITY</td>
                    <td class="column1 style5 s">1839 MOLALLA AVE</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2547">
                    <td class="column0 style3 s">ARCH BRIDGE TAPHOUSE</td>
                    <td class="column1 style4 s">205 7TH ST</td>
                    <td class="column2 style7 s">OREGON CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2548">
                    <td class="column0 style2 s">ARCH BRIDGE TAPHOUSE</td>
                    <td class="column1 style5 s">205 7TH ST</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2549">
                    <td class="column0 style3 s">WINCO FOODS #154-OREGON CITY</td>
                    <td class="column1 style4 s">19701 HWY 213</td>
                    <td class="column2 style7 s">OREGON CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2550">
                    <td class="column0 style2 s">WINCO FOODS #154-OC</td>
                    <td class="column1 style5 s">19701 HWY 213</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2551">
                    <td class="column0 style2 s">WINCO FOODS #154-OC</td>
                    <td class="column1 style5 s">19701 HWY 213</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2552">
                    <td class="column0 style2 s">WINCO FOODS #154-OC</td>
                    <td class="column1 style5 s">19701 HWY 213</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2553">
                    <td class="column0 style2 s">WINCO FOODS #154-OC</td>
                    <td class="column1 style5 s">19701 HWY 213</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2554">
                    <td class="column0 style3 s">SOUTH END GROCERY</td>
                    <td class="column1 style4 s">1033 SOUTH END RD</td>
                    <td class="column2 style7 s">OREGON CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2555">
                    <td class="column0 style2 s">SOUTH END GROCERY</td>
                    <td class="column1 style5 s">1033 SOUTH END RD</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2556">
                    <td class="column0 style2 s">SOUTH END GROCERY</td>
                    <td class="column1 style5 s">1033 SOUTH END RD</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2557">
                    <td class="column0 style2 s">SOUTH END GROCERY</td>
                    <td class="column1 style5 s">1033 SOUTH END RD</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2558">
                    <td class="column0 style2 s">SOUTH END GROCERY</td>
                    <td class="column1 style5 s">1033 SOUTH END RD</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2559">
                    <td class="column0 style3 s">BI-MART #622 OREGON CITY</td>
                    <td class="column1 style4 s">1813 S MOLALLA AVE</td>
                    <td class="column2 style7 s">OREGON CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2560">
                    <td class="column0 style2 s">BI-MART #622 OREGON CITY</td>
                    <td class="column1 style5 s">1813 S MOLALLA AVE</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2561">
                    <td class="column0 style3 s">RITE AID #5332- OREGON CITY</td>
                    <td class="column1 style4 s">22 O.C. SHOPPING CENTER</td>
                    <td class="column2 style7 s">OREGON CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2562">
                    <td class="column0 style2 s">RITE AID #5332- ORE CITY</td>
                    <td class="column1 style5 s">22 O.C. SHOPPING CENTER</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2563">
                    <td class="column0 style3 s">WILD HARE SALOON #2</td>
                    <td class="column1 style4 s">1656A S BEAVERCREEK RD</td>
                    <td class="column2 style7 s">OREGON CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2564">
                    <td class="column0 style2 s">WILD HARE SALOON #2</td>
                    <td class="column1 style5 s">1656A S BEAVERCREEK RD</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2565">
                    <td class="column0 style3 s">ALBERTSONS #0571 BEAVERCREEK RD</td>
                    <td class="column1 style4 s">19007 S BEAVERCREEK RD L</td>
                    <td class="column2 style7 s">OREGON CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2566">
                    <td class="column0 style2 s">ALBERTSONS #0571 BVRCK RD</td>
                    <td class="column1 style5 s">19007 S BEAVERCREEK RD L</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2567">
                    <td class="column0 style2 s">ALBERTSONS #0571 BVRCK RD</td>
                    <td class="column1 style5 s">19007 S BEAVERCREEK RD L</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2568">
                    <td class="column0 style3 s">REDLAND STATION</td>
                    <td class="column1 style4 s">18150 S REDLAND RD</td>
                    <td class="column2 style7 s">OREGON CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2569">
                    <td class="column0 style2 s">REDLAND STATION</td>
                    <td class="column1 style5 s">18150 S REDLAND RD</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2570">
                    <td class="column0 style3 s">SAFEWAY #2993 OREGON CTY</td>
                    <td class="column1 style4 s">13434 COLTON PLACE</td>
                    <td class="column2 style7 s">OREGON CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2571">
                    <td class="column0 style2 s">SAFEWAY #2993 OREGON CTY</td>
                    <td class="column1 style5 s">13434 COLTON PLACE</td>
                    <td class="column2 style8 s">OREGON CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2572">
                    <td class="column0 style3 s">CAPE KIWANDA RV RESORT</td>
                    <td class="column1 style4 s">33315 CAPE KIWANDA-V.1362</td>
                    <td class="column2 style7 s">PACIFIC CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2573">
                    <td class="column0 style2 s">CAPE KIWANDA RV RESORT</td>
                    <td class="column1 style5 s">33315 CAPE KIWANDA-V.1362</td>
                    <td class="column2 style8 s">PACIFIC CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2574">
                    <td class="column0 style2 s">CAPE KIWANDA RV RESORT</td>
                    <td class="column1 style5 s">33315 CAPE KIWANDA-V.1362</td>
                    <td class="column2 style8 s">PACIFIC CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2575">
                    <td class="column0 style3 s">MCISAAC'S STORE</td>
                    <td class="column1 style4 s">MAIN ST PO BOX 445</td>
                    <td class="column2 style7 s">PARKDALE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2576">
                    <td class="column0 style2 s">MCISAAC'S STORE</td>
                    <td class="column1 style5 s">MAIN ST PO BOX 445</td>
                    <td class="column2 style8 s">PARKDALE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2577">
                    <td class="column0 style2 s">MCISAAC'S STORE</td>
                    <td class="column1 style5 s">MAIN ST PO BOX 445</td>
                    <td class="column2 style8 s">PARKDALE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2578">
                    <td class="column0 style2 s">MCISAAC'S STORE</td>
                    <td class="column1 style5 s">MAIN ST PO BOX 445</td>
                    <td class="column2 style8 s">PARKDALE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2579">
                    <td class="column0 style3 s">MOMIJI SUSHI &amp; HIBACHI</td>
                    <td class="column1 style4 s">210 S.W. 17TH ST</td>
                    <td class="column2 style7 s">PENDLETON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2580">
                    <td class="column0 style2 s">MOMIJI SUSHI &amp; HIBACHI</td>
                    <td class="column1 style5 s">210 S.W. 17TH ST</td>
                    <td class="column2 style8 s">PENDLETON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2581">
                    <td class="column0 style3 s">40 TAPS - THE OAK ROOM</td>
                    <td class="column1 style4 s">337 S.W. EMIGRANT AVE</td>
                    <td class="column2 style7 s">PENDLETON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2582">
                    <td class="column0 style2 s">40 TAPS - THE OAK ROOM</td>
                    <td class="column1 style5 s">337 S.W. EMIGRANT AVE</td>
                    <td class="column2 style8 s">PENDLETON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2583">
                    <td class="column0 style3 s">ALEXANDERS CHOCOLATE CLAS</td>
                    <td class="column1 style4 s">363 S MAIN STREET</td>
                    <td class="column2 style7 s">PENDLETON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2584">
                    <td class="column0 style2 s">ALEXANDERS CHOCOLATE CLAS</td>
                    <td class="column1 style5 s">363 S MAIN STREET</td>
                    <td class="column2 style8 s">PENDLETON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2585">
                    <td class="column0 style2 s">ALEXANDERS CHOCOLATE CLAS</td>
                    <td class="column1 style5 s">363 S MAIN STREET</td>
                    <td class="column2 style8 s">PENDLETON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2586">
                    <td class="column0 style2 s">ALEXANDERS CHOCOLATE CLAS</td>
                    <td class="column1 style5 s">363 S MAIN STREET</td>
                    <td class="column2 style8 s">PENDLETON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
