
        <tr class="row2708">
            <td class="column0 style2 s">NEW SEASONS #1110 HTHORNE</td>
            <td class="column1 style5 s">4034 SE HAWTHORNE BLVD</td>
            <td class="column2 style8 s">PORTLAND</td>
            <td class="column3 style11 s">OR</td>
            <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2709">
            <td class="column0 style3 s">PIZZAYAKI</td>
            <td class="column1 style4 s">12544 SE DIVISION ST</td>
            <td class="column2 style7 s">PORTLAND</td>
            <td class="column3 style10 s">OR</td>
            <td class="column4 style21 s">&nbsp;</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2710">
            <td class="column0 style2 s">PIZZAYAKI</td>
            <td class="column1 style5 s">12544 SE DIVISION ST</td>
            <td class="column2 style8 s">PORTLAND</td>
            <td class="column3 style11 s">OR</td>
            <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2711">
            <td class="column0 style3 s">CULLENS CORNER</td>
            <td class="column1 style4 s">4938 N ALBINA</td>
            <td class="column2 style7 s">PORTLAND</td>
            <td class="column3 style10 s">OR</td>
            <td class="column4 style21 s">&nbsp;</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2712">
            <td class="column0 style2 s">CULLENS CORNER</td>
            <td class="column1 style5 s">4938 N ALBINA</td>
            <td class="column2 style8 s">PORTLAND</td>
            <td class="column3 style11 s">OR</td>
            <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2713">
            <td class="column0 style3 s">JOLLY ROGER WEST</td>
            <td class="column1 style4 s">5627 SW KELLY L</td>
            <td class="column2 style7 s">PORTLAND</td>
            <td class="column3 style10 s">OR</td>
            <td class="column4 style21 s">&nbsp;</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2714">
            <td class="column0 style2 s">JOLLY ROGER WEST</td>
            <td class="column1 style5 s">5627 SW KELLY L</td>
            <td class="column2 style8 s">PORTLAND</td>
            <td class="column3 style11 s">OR</td>
            <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2715">
            <td class="column0 style2 s">JOLLY ROGER WEST</td>
            <td class="column1 style5 s">5627 SW KELLY L</td>
            <td class="column2 style8 s">PORTLAND</td>
            <td class="column3 style11 s">OR</td>
            <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2716">
            <td class="column0 style3 s">WINCO FOODS #132 POWELL</td>
            <td class="column1 style4 s">7979 SE POWELL BLVD</td>
            <td class="column2 style7 s">PORTLAND</td>
            <td class="column3 style10 s">OR</td>
            <td class="column4 style21 s">&nbsp;</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2717">
            <td class="column0 style2 s">WINCO FOODS #132 POWELL</td>
            <td class="column1 style5 s">7979 SE POWELL BLVD</td>
            <td class="column2 style8 s">PORTLAND</td>
            <td class="column3 style11 s">OR</td>
            <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2718">
            <td class="column0 style2 s">WINCO FOODS #132 POWELL</td>
            <td class="column1 style5 s">7979 SE POWELL BLVD</td>
            <td class="column2 style8 s">PORTLAND</td>
            <td class="column3 style11 s">OR</td>
            <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2719">
            <td class="column0 style2 s">WINCO FOODS #132 POWELL</td>
            <td class="column1 style5 s">7979 SE POWELL BLVD</td>
            <td class="column2 style8 s">PORTLAND</td>
            <td class="column3 style11 s">OR</td>
            <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2720">
            <td class="column0 style2 s">WINCO FOODS #132 POWELL</td>
            <td class="column1 style5 s">7979 SE POWELL BLVD</td>
            <td class="column2 style8 s">PORTLAND</td>
            <td class="column3 style11 s">OR</td>
            <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2721">
            <td class="column0 style2 s">WINCO FOODS #132 POWELL</td>
            <td class="column1 style5 s">7979 SE POWELL BLVD</td>
            <td class="column2 style8 s">PORTLAND</td>
            <td class="column3 style11 s">OR</td>
            <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2722">
            <td class="column0 style3 s">ALBERTSONS #0596 W UNION</td>
            <td class="column1 style4 s">18425 NW W. UNION RD.</td>
            <td class="column2 style7 s">PORTLAND</td>
            <td class="column3 style10 s">OR</td>
            <td class="column4 style21 s">&nbsp;</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2723">
            <td class="column0 style2 s">ALBERTSONS #0596 W UNION</td>
            <td class="column1 style5 s">18425 NW W. UNION RD.</td>
            <td class="column2 style8 s">PORTLAND</td>
            <td class="column3 style11 s">OR</td>
            <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2724">
            <td class="column0 style2 s">ALBERTSONS #0596 W UNION</td>
            <td class="column1 style5 s">18425 NW W. UNION RD.</td>
            <td class="column2 style8 s">PORTLAND</td>
            <td class="column3 style11 s">OR</td>
            <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2725">
            <td class="column0 style2 s">ALBERTSONS #0596 W UNION</td>
            <td class="column1 style5 s">18425 NW W. UNION RD.</td>
            <td class="column2 style8 s">PORTLAND</td>
            <td class="column3 style11 s">OR</td>
            <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2726">
            <td class="column0 style3 s">GO FOOD STORES</td>
            <td class="column1 style4 s">1720 SW JEFFERSON ST</td>
            <td class="column2 style7 s">PORTLAND</td>
            <td class="column3 style10 s">OR</td>
            <td class="column4 style21 s">&nbsp;</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2727">
            <td class="column0 style2 s">GO FOOD STORES</td>
            <td class="column1 style5 s">1720 SW JEFFERSON ST</td>
            <td class="column2 style8 s">PORTLAND</td>
            <td class="column3 style11 s">OR</td>
            <td class="column4 style22 s">ROCK POINT RIVER RED</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2728">
            <td class="column0 style3 s">PARKSTONE WOOD KITCHEN</td>
            <td class="column1 style4 s">9921 NE CASCADES PKWY</td>
            <td class="column2 style7 s">PORTLAND</td>
            <td class="column3 style10 s">OR</td>
            <td class="column4 style21 s">&nbsp;</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2729">
            <td class="column0 style2 s">PARKSTONE WOOD KITCHEN</td>
            <td class="column1 style5 s">9921 NE CASCADES PKWY</td>
            <td class="column2 style8 s">PORTLAND</td>
            <td class="column3 style11 s">OR</td>
            <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2730">
            <td class="column0 style2 s">PARKSTONE WOOD KITCHEN</td>
            <td class="column1 style5 s">9921 NE CASCADES PKWY</td>
            <td class="column2 style8 s">PORTLAND</td>
            <td class="column3 style11 s">OR</td>
            <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            <tr class="row2731">
            <td class="column0 style3 s">SHO AUTHENTIC JAPANESE</td>
            <td class="column1 style4 s">10100 SW BARBUR</td>
            <td class="column2 style7 s">PORTLAND</td>
            <td class="column3 style10 s">OR</td>
            <td class="column4 style21 s">&nbsp;</td>
            <td class="column5 style14 s"></td>
            <td class="column6">&nbsp;</td>
            </tr>
            
            <tr class="row2732">
                <td class="column0 style2 s">SHO AUTHENTIC JAPANESE</td>
                <td class="column1 style5 s">10100 SW BARBUR</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                 </tr>
                <tr class="row2733">
                <td class="column0 style3 s">FRED MEYER #135-HAWTHORNE</td>
                <td class="column1 style4 s">3805 SE HAWTHORNE</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2734">
                <td class="column0 style2 s">FRED MEYER #135-HAWTHORNE</td>
                <td class="column1 style5 s">3805 SE HAWTHORNE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2735">
                <td class="column0 style2 s">FRED MEYER #135-HAWTHORNE</td>
                <td class="column1 style5 s">3805 SE HAWTHORNE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2736">
                <td class="column0 style2 s">FRED MEYER #135-HAWTHORNE</td>
                <td class="column1 style5 s">3805 SE HAWTHORNE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2737">
                <td class="column0 style2 s">FRED MEYER #135-HAWTHORNE</td>
                <td class="column1 style5 s">3805 SE HAWTHORNE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2738">
                <td class="column0 style3 s">SAFEWAY #1525 CORNELL</td>
                <td class="column1 style4 s">13485 NW CORNELL</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2739">
                <td class="column0 style2 s">SAFEWAY #1525 CORNELL</td>
                <td class="column1 style5 s">13485 NW CORNELL</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2740">
                <td class="column0 style2 s">SAFEWAY #1525 CORNELL</td>
                <td class="column1 style5 s">13485 NW CORNELL</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2741">
                <td class="column0 style2 s">SAFEWAY #1525 CORNELL</td>
                <td class="column1 style5 s">13485 NW CORNELL</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2742">
                <td class="column0 style2 s">SAFEWAY #1525 CORNELL</td>
                <td class="column1 style5 s">13485 NW CORNELL</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2743">
                <td class="column0 style2 s">SAFEWAY #1525 CORNELL</td>
                <td class="column1 style5 s">13485 NW CORNELL</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2744">
                <td class="column0 style3 s">WHOLE FOODS LAURELHURST</td>
                <td class="column1 style4 s">2825 E BURNSIDE</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2745">
                <td class="column0 style2 s">WHOLE FOODS 10402-BURNSDE</td>
                <td class="column1 style5 s">2825 E BURNSIDE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2746">
                <td class="column0 style2 s">WHOLE FOODS 10402-BURNSDE</td>
                <td class="column1 style5 s">2825 E BURNSIDE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2747">
                <td class="column0 style2 s">WHOLE FOODS 10402-BURNSDE</td>
                <td class="column1 style5 s">2825 E BURNSIDE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2748">
                <td class="column0 style3 s">WHOLE FOODS PEARL DISTRICT</td>
                <td class="column1 style4 s">1210 NW COUCH</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2749">
                <td class="column0 style2 s">WHOLE FOODS 10148 - COUCH</td>
                <td class="column1 style5 s">1210 NW COUCH</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2750">
                <td class="column0 style2 s">WHOLE FOODS 10148 - COUCH</td>
                <td class="column1 style5 s">1210 NW COUCH</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2751">
                <td class="column0 style2 s">WHOLE FOODS 10148 - COUCH</td>
                <td class="column1 style5 s">1210 NW COUCH</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2752">
                <td class="column0 style3 s">QUE PASA CANTINA</td>
                <td class="column1 style4 s">1408 SE 12TH AVE</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2753">
                <td class="column0 style2 s">QUE PASA CANTINA</td>
                <td class="column1 style5 s">1408 SE 12TH AVE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2754">
                <td class="column0 style2 s">QUE PASA CANTINA</td>
                <td class="column1 style5 s">1408 SE 12TH AVE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2755">
                <td class="column0 style3 s">RITE AID #5347- SE 39TH</td>
                <td class="column1 style4 s">2440 SE 39TH AVENUE</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2756">
                <td class="column0 style2 s">RITE AID #5347- SE 39TH</td>
                <td class="column1 style5 s">2440 SE 39TH AVENUE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2757">
                <td class="column0 style3 s">MIGRATION BREWING</td>
                <td class="column1 style4 s">2828 NE GLISAN ST</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2758">
                <td class="column0 style2 s">MIGRATION BREWING*</td>
                <td class="column1 style5 s">2828 NE GLISAN ST</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2759">
                <td class="column0 style3 s">CLAUDIA'S</td>
                <td class="column1 style4 s">3006 SE HAWTHORNE</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2760">
                <td class="column0 style2 s">CLAUDIA'S</td>
                <td class="column1 style5 s">3006 SE HAWTHORNE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2761">
                <td class="column0 style3 s">AKASARU RAMEN*</td>
                <td class="column1 style4 s">2712 NE ALBERTA ST</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2762">
                <td class="column0 style2 s">AKASARU RAMEN*</td>
                <td class="column1 style5 s">2712 NE ALBERTA ST</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2763">
                <td class="column0 style3 s">BRIX TAVERN</td>
                <td class="column1 style4 s">1338 NW HOYT</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2764">
                <td class="column0 style2 s">BRIX TAVERN</td>
                <td class="column1 style5 s">1338 NW HOYT</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2765">
                <td class="column0 style3 s">NEW SEASONS N. WILLIAMS AVE</td>
                <td class="column1 style4 s">3445 N WILLIAMS AVE</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2766">
                <td class="column0 style2 s">NEW SEASONS #1113 WILLIAM</td>
                <td class="column1 style5 s">3445 N WILLIAMS AVE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2767">
                <td class="column0 style2 s">NEW SEASONS #1113 WILLIAM</td>
                <td class="column1 style5 s">3445 N WILLIAMS AVE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2768">
                <td class="column0 style3 s">BLACK BIRD PIZZA</td>
                <td class="column1 style4 s">1935 SE HAWTHORNE R</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2769">
                <td class="column0 style2 s">BLACK BIRD PIZZA</td>
                <td class="column1 style5 s">1935 SE HAWTHORNE R</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                 <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2770">
                <td class="column0 style3 s">BEAUMONT MIX SHOP</td>
                <td class="column1 style4 s">3334 NE KILLINGSWORTH ST</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2771">
                <td class="column0 style2 s">BEAUMONT MIX SHOP</td>
                <td class="column1 style5 s">3334 NE KILLINGSWORTH ST</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2772">
                <td class="column0 style3 s">STATELINE LIQUOR @ JANTZEN BEACH</td>
                <td class="column1 style4 s">1190 N JANTZEN DR</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2773">
                <td class="column0 style2 s">STATELINE LIQUOR @ JZ BCH</td>
                <td class="column1 style5 s">1190 N JANTZEN DR</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2774">
                <td class="column0 style2 s">STATELINE LIQUOR @ JZ BCH</td>
                <td class="column1 style5 s">1190 N JANTZEN DR</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2775">
                <td class="column0 style2 s">STATELINE LIQUOR @ JZ BCH</td>
                <td class="column1 style5 s">1190 N JANTZEN DR</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2776">
                <td class="column0 style2 s">STATELINE LIQUOR @ JZ BCH</td>
                <td class="column1 style5 s">1190 N JANTZEN DR</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2777">
                <td class="column0 style2 s">STATELINE LIQUOR @ JZ BCH</td>
                <td class="column1 style5 s">1190 N JANTZEN DR</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2778">
                <td class="column0 style2 s">STATELINE LIQUOR @ JZ BCH</td>
                <td class="column1 style5 s">1190 N JANTZEN DR</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2779">
                <td class="column0 style3 s">QFC #201 - BETHANY</td>
                <td class="column1 style4 s">4756 NW BETHANY</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2780">
                <td class="column0 style2 s">QFC #201 - BETHANY</td>
                <td class="column1 style5 s">4756 NW BETHANY</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2781">
                <td class="column0 style2 s">QFC #201 - BETHANY</td>
                <td class="column1 style5 s">4756 NW BETHANY</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2782">
                <td class="column0 style2 s">QFC #201 - BETHANY</td>
                <td class="column1 style5 s">4756 NW BETHANY</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2783">
                <td class="column0 style2 s">QFC #201 - BETHANY</td>
                <td class="column1 style5 s">4756 NW BETHANY</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2784">
                <td class="column0 style2 s">QFC #201 - BETHANY</td>
                <td class="column1 style5 s">4756 NW BETHANY</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2785">
                <td class="column0 style3 s">BETE-LUKAS ETHIOPIAN RES*</td>
                <td class="column1 style4 s">2504 SE 50TH AVE #D</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2786">
                <td class="column0 style2 s">BETE-LUKAS ETHIOPIAN RES*</td>
                <td class="column1 style5 s">2504 SE 50TH AVE #D</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2787">
                <td class="column0 style2 s">BETE-LUKAS ETHIOPIAN RES*</td>
                <td class="column1 style5 s">2504 SE 50TH AVE #D</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2788">
                <td class="column0 style3 s">SAFEWAY #1612 LLOYD CTR</td>
                <td class="column1 style4 s">1100 NE BROADWAY ..21612</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2789">
                <td class="column0 style2 s">SAFEWAY #1612 LLOYD CTR</td>
                <td class="column1 style5 s">1100 NE BROADWAY ..21612</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2790">
                <td class="column0 style2 s">SAFEWAY #1612 LLOYD CTR</td>
                <td class="column1 style5 s">1100 NE BROADWAY ..21612</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2791">
                <td class="column0 style2 s">SAFEWAY #1612 LLOYD CTR</td>
                <td class="column1 style5 s">1100 NE BROADWAY ..21612</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2792">
                <td class="column0 style3 s">PADDYS</td>
                <td class="column1 style4 s">65 SW YAMHILL L</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2793">
                <td class="column0 style2 s">PADDYS</td>
                <td class="column1 style5 s">65 SW YAMHILL L</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2794">
                <td class="column0 style3 s">FRED MEYER #255-LOMBARD</td>
                <td class="column1 style4 s">6850 N LOMBARD</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2795">
                <td class="column0 style2 s">FRED MEYER #255-LOMBARD</td>
                <td class="column1 style5 s">6850 N LOMBARD</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2796">
                <td class="column0 style2 s">FRED MEYER #255-LOMBARD</td>
                <td class="column1 style5 s">6850 N LOMBARD</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2797">
                <td class="column0 style2 s">FRED MEYER #255-LOMBARD</td>
                <td class="column1 style5 s">6850 N LOMBARD</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2798">
                <td class="column0 style3 s">SAFEWAY #3136 CAPITOL HILL</td>
                <td class="column1 style4 s">8145 SW BARBUR</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2799">
                <td class="column0 style2 s">SAFEWAY #3136 BARBUR</td>
                <td class="column1 style5 s">8145 SW BARBUR</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2800">
                <td class="column0 style2 s">SAFEWAY #3136 BARBUR</td>
                <td class="column1 style5 s">8145 SW BARBUR</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2801">
                <td class="column0 style2 s">SAFEWAY #3136 BARBUR</td>
                <td class="column1 style5 s">8145 SW BARBUR</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2802">
                <td class="column0 style3 s">CAPITOL HWY DELI MART</td>
                <td class="column1 style4 s">11102 SW CAPITOL HWY</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2803">
                <td class="column0 style2 s">CAPITOL HWY DELI MART</td>
                <td class="column1 style5 s">11102 SW CAPITOL HWY</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row2804">
                <td class="column0 style3 s">BEAUMONT MARKET #</td>
                <td class="column1 style4 s">4130 NE FREMONT</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>