
                <tr class="row3274">
                    <td class="column0 style2 s">SAFEWAY #1665 REDMOND</td>
                    <td class="column1 style5 s">1705 S HWY 97</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3275">
                    <td class="column0 style2 s">SAFEWAY #1665 REDMOND</td>
                    <td class="column1 style5 s">1705 S HWY 97</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3276">
                    <td class="column0 style2 s">SAFEWAY #1665 REDMOND</td>
                    <td class="column1 style5 s">1705 S HWY 97</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3277">
                    <td class="column0 style2 s">SAFEWAY #1665 REDMOND</td>
                    <td class="column1 style5 s">1705 S HWY 97</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3278">
                    <td class="column0 style3 s">LOGAN'S MARKET</td>
                    <td class="column1 style4 s">900 SW 23RD ST</td>
                    <td class="column2 style7 s">REDMOND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3279">
                    <td class="column0 style2 s">LOGAN'S MARKET</td>
                    <td class="column1 style5 s">900 SW 23RD ST</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3280">
                    <td class="column0 style2 s">LOGAN'S MARKET</td>
                    <td class="column1 style5 s">900 SW 23RD ST</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3281">
                    <td class="column0 style2 s">LOGAN'S MARKET</td>
                    <td class="column1 style5 s">900 SW 23RD ST</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3282">
                    <td class="column0 style3 s">RITE AID #5394- REDMOND</td>
                    <td class="column1 style4 s">1514 HIGHLAND AVE.</td>
                    <td class="column2 style7 s">REDMOND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3283">
                    <td class="column0 style2 s">RITE AID #5394- REDMOND</td>
                    <td class="column1 style5 s">1514 HIGHLAND AVE.</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3284">
                    <td class="column0 style3 s">GENERAL DUFFY'S</td>
                    <td class="column1 style4 s">404 SW FOREST AVE</td>
                    <td class="column2 style7 s">REDMOND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3285">
                    <td class="column0 style2 s">GENERAL DUFFY'S</td>
                    <td class="column1 style5 s">404 SW FOREST AVE</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3286">
                    <td class="column0 style2 s">GENERAL DUFFY'S</td>
                    <td class="column1 style5 s">404 SW FOREST AVE</td>
                    <td class="column2 style8 s">REDMOND</td>
                     <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3287">
                    <td class="column0 style2 s">GENERAL DUFFY'S</td>
                    <td class="column1 style5 s">404 SW FOREST AVE</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3288">
                    <td class="column0 style2 s">GENERAL DUFFY'S</td>
                    <td class="column1 style5 s">404 SW FOREST AVE</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3289">
                    <td class="column0 style2 s">GENERAL DUFFY'S</td>
                    <td class="column1 style5 s">404 SW FOREST AVE</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3290">
                    <td class="column0 style3 s">AL FORNO FERRUZZA</td>
                    <td class="column1 style4 s">73285 E HWY 26</td>
                    <td class="column2 style7 s">RHODODENDREN</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3291">
                    <td class="column0 style2 s">AL FORNO FERRUZZA</td>
                    <td class="column1 style5 s">73285 E HWY 26</td>
                    <td class="column2 style8 s">RHODODENDREN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3292">
                    <td class="column0 style2 s">AL FORNO FERRUZZA</td>
                    <td class="column1 style5 s">73285 E HWY 26</td>
                    <td class="column2 style8 s">RHODODENDREN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3293">
                    <td class="column0 style3 s">MAIN ST MART &amp; DELI</td>
                    <td class="column1 style4 s">142 MAIN STREET</td>
                    <td class="column2 style7 s">RIDDLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3294">
                    <td class="column0 style2 s">MAIN ST MART &amp; DELI</td>
                    <td class="column1 style5 s">142 MAIN STREET</td>
                    <td class="column2 style8 s">RIDDLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3295">
                    <td class="column0 style3 s">SAND DOLLAR REST &amp; LOUNGE</td>
                    <td class="column1 style4 s">210 S. 1ST AVE</td>
                    <td class="column2 style7 s">ROCKAWAY BEACH</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3296">
                    <td class="column0 style2 s">SAND DOLLAR REST &amp; LOUNGE</td>
                    <td class="column1 style5 s">210 S. 1ST AVE</td>
                    <td class="column2 style8 s">ROCKAWAY BEACH</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3297">
                    <td class="column0 style2 s">SAND DOLLAR REST &amp; LOUNGE</td>
                    <td class="column1 style5 s">210 S. 1ST AVE</td>
                    <td class="column2 style8 s">ROCKAWAY BEACH</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3298">
                    <td class="column0 style2 s">SAND DOLLAR REST &amp; LOUNGE</td>
                    <td class="column1 style5 s">210 S. 1ST AVE</td>
                    <td class="column2 style8 s">ROCKAWAY BEACH</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3299">
                    <td class="column0 style2 s">SAND DOLLAR REST &amp; LOUNGE</td>
                    <td class="column1 style5 s">210 S. 1ST AVE</td>
                    <td class="column2 style8 s">ROCKAWAY BEACH</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3300">
                    <td class="column0 style2 s">SAND DOLLAR REST &amp; LOUNGE</td>
                    <td class="column1 style5 s">210 S. 1ST AVE</td>
                    <td class="column2 style8 s">ROCKAWAY BEACH</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3301">
                    <td class="column0 style2 s">SAND DOLLAR REST &amp; LOUNGE</td>
                    <td class="column1 style5 s">210 S. 1ST AVE</td>
                    <td class="column2 style8 s">ROCKAWAY BEACH</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3302">
                    <td class="column0 style2 s">SAND DOLLAR REST &amp; LOUNGE</td>
                    <td class="column1 style5 s">210 S. 1ST AVE</td>
                    <td class="column2 style8 s">ROCKAWAY BEACH</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3303">
                    <td class="column0 style3 s">JOE'S SNACKS N BEER</td>
                    <td class="column1 style4 s">101 S MILLER</td>
                    <td class="column2 style7 s">ROCKAWAY BEACH</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3304">
                    <td class="column0 style2 s">JOE'S SNACKS N BEER</td>
                    <td class="column1 style5 s">101 S MILLER</td>
                    <td class="column2 style8 s">ROCKAWAY BEACH</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3305">
                    <td class="column0 style3 s">CENTER MRKT #27 -ROCKAWY</td>
                    <td class="column1 style4 s">140 HWY 101 N</td>
                    <td class="column2 style7 s">ROCKAWAY BEACH</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3306">
                    <td class="column0 style2 s">CENTER MRKT #27 -ROCKAWY</td>
                    <td class="column1 style5 s">140 HWY 101 N</td>
                    <td class="column2 style8 s">ROCKAWAY BEACH</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3307">
                    <td class="column0 style3 s">OFFSHORE GRILL</td>
                    <td class="column1 style4 s">122 HWY 101 N</td>
                    <td class="column2 style7 s">ROCKAWAY BEACH</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3308">
                    <td class="column0 style2 s">OFFSHORE GRILL</td>
                    <td class="column1 style5 s">122 HWY 101 N</td>
                    <td class="column2 style8 s">ROCKAWAY BEACH</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3309">
                    <td class="column0 style3 s">CHEVRON #136-PINE ST RR</td>
                    <td class="column1 style4 s">95 PINE ST</td>
                    <td class="column2 style7 s">ROGUE RIVER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3310">
                    <td class="column0 style2 s">CHEVRON #136-PINE ST RR</td>
                    <td class="column1 style5 s">95 PINE ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3311">
                    <td class="column0 style2 s">CHEVRON #136-PINE ST RR</td>
                    <td class="column1 style5 s">95 PINE ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3312">
                    <td class="column0 style2 s">CHEVRON #136-PINE ST RR</td>
                    <td class="column1 style5 s">95 PINE ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3313">
                    <td class="column0 style3 s">RAY'S FOODS #5 ROGUE RIVER</td>
                    <td class="column1 style4 s">506 MAIN ST</td>
                    <td class="column2 style7 s">ROGUE RIVER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                     <tr class="row3314">
                    <td class="column0 style2 s">RAY'S FOODS #5 RRIV</td>
                    <td class="column1 style5 s">506 MAIN ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3315">
                    <td class="column0 style2 s">RAY'S FOODS #5 RRIV</td>
                    <td class="column1 style5 s">506 MAIN ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3316">
                    <td class="column0 style2 s">RAY'S FOODS #5 RRIV</td>
                    <td class="column1 style5 s">506 MAIN ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3317">
                    <td class="column0 style2 s">RAY'S FOODS #5 RRIV</td>
                    <td class="column1 style5 s">506 MAIN ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3318">
                    <td class="column0 style2 s">RAY'S FOODS #5 RRIV</td>
                    <td class="column1 style5 s">506 MAIN ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3319">
                    <td class="column0 style2 s">RAY'S FOODS #5 RRIV</td>
                    <td class="column1 style5 s">506 MAIN ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3320">
                    <td class="column0 style2 s">RAY'S FOODS #5 RRIV</td>
                    <td class="column1 style5 s">506 MAIN ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3321">
                    <td class="column0 style2 s">RAY'S FOODS #5 RRIV</td>
                    <td class="column1 style5 s">506 MAIN ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3322">
                    <td class="column0 style2 s">RAY'S FOODS #5 RRIV</td>
                    <td class="column1 style5 s">506 MAIN ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3323">
                     <td class="column0 style2 s">RAY'S FOODS #5 RRIV</td>
                    <td class="column1 style5 s">506 MAIN ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3324">
                    <td class="column0 style2 s">RAY'S FOODS #5 RRIV</td>
                    <td class="column1 style5 s">506 MAIN ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3325">
                    <td class="column0 style3 s">LIL PANTRY ROGUE RIVER</td>
                    <td class="column1 style4 s">501 EAST MAIN</td>
                    <td class="column2 style7 s">ROGUE RIVER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3326">
                    <td class="column0 style2 s">LIL PANTRY ROGUE RIVER</td>
                    <td class="column1 style5 s">501 EAST MAIN</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3327">
                    <td class="column0 style2 s">LIL PANTRY ROGUE RIVER</td>
                    <td class="column1 style5 s">501 EAST MAIN</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3328">
                    <td class="column0 style2 s">LIL PANTRY ROGUE RIVER</td>
                    <td class="column1 style5 s">501 EAST MAIN</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3329">
                    <td class="column0 style2 s">LIL PANTRY ROGUE RIVER</td>
                    <td class="column1 style5 s">501 EAST MAIN</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3330">
                    <td class="column0 style2 s">LIL PANTRY ROGUE RIVER</td>
                    <td class="column1 style5 s">501 EAST MAIN</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3331">
                    <td class="column0 style2 s">LIL PANTRY ROGUE RIVER</td>
                    <td class="column1 style5 s">501 EAST MAIN</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3332">
                    <td class="column0 style2 s">LIL PANTRY ROGUE RIVER</td>
                    <td class="column1 style5 s">501 EAST MAIN</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3333">
                    <td class="column0 style2 s">LIL PANTRY ROGUE RIVER</td>
                    <td class="column1 style5 s">501 EAST MAIN</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3334">
                    <td class="column0 style3 s">WIMER MARKET</td>
                    <td class="column1 style4 s">8816 EAST EVANS CREEK ROA</td>
                    <td class="column2 style7 s">ROGUE RIVER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3335">
                    <td class="column0 style2 s">WIMER MARKET</td>
                    <td class="column1 style5 s">8816 EAST EVANS CREEK ROA</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3336">
                    <td class="column0 style2 s">WIMER MARKET</td>
                    <td class="column1 style5 s">8816 EAST EVANS CREEK ROA</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3337">
                    <td class="column0 style2 s">WIMER MARKET</td>
                    <td class="column1 style5 s">8816 EAST EVANS CREEK ROA</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3338">
                    <td class="column0 style2 s">WIMER MARKET</td>
                    <td class="column1 style5 s">8816 EAST EVANS CREEK ROA</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3339">
                    <td class="column0 style2 s">WIMER MARKET</td>
                    <td class="column1 style5 s">8816 EAST EVANS CREEK ROA</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3340">
                    <td class="column0 style3 s">ROGUE RIVER LIQUOR STORE</td>
                    <td class="column1 style4 s">502 E MAIN ST</td>
                    <td class="column2 style7 s">ROGUE RIVER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3341">
                    <td class="column0 style2 s">ROGUE RIVER LIQUOR STORE</td>
                    <td class="column1 style5 s">502 E MAIN ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3342">
                    <td class="column0 style2 s">ROGUE RIVER LIQUOR STORE</td>
                    <td class="column1 style5 s">502 E MAIN ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3343">
                    <td class="column0 style2 s">ROGUE RIVER LIQUOR STORE</td>
                    <td class="column1 style5 s">502 E MAIN ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">12/750DEL RIO VNYDS CLARET 14</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3344">
                    <td class="column0 style2 s">ROGUE RIVER LIQUOR STORE</td>
                    <td class="column1 style5 s">502 E MAIN ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD SYRAH PORT 375ML</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3345">
                    <td class="column0 style2 s">ROGUE RIVER LIQUOR STORE</td>
                    <td class="column1 style5 s">502 E MAIN ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3346">
                    <td class="column0 style2 s">ROGUE RIVER LIQUOR STORE</td>
                    <td class="column1 style5 s">502 E MAIN ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3347">
                    <td class="column0 style2 s">ROGUE RIVER LIQUOR STORE</td>
                    <td class="column1 style5 s">502 E MAIN ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3348">
                    <td class="column0 style2 s">ROGUE RIVER LIQUOR STORE</td>
                    <td class="column1 style5 s">502 E MAIN ST</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3349">
                    <td class="column0 style3 s">RIVER STATION</td>
                    <td class="column1 style4 s">510 EAST MAIN ST STE G&amp;H</td>
                    <td class="column2 style7 s">ROGUE RIVER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3350">
                    <td class="column0 style2 s">RIVER STATION</td>
                    <td class="column1 style5 s">510 EAST MAIN ST STE G&amp;H</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3351">
                    <td class="column0 style2 s">RIVER STATION</td>
                    <td class="column1 style5 s">510 EAST MAIN ST STE G&amp;H</td>
                    <td class="column2 style8 s">ROGUE RIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>