<tr class="row326">
    <td class="column0 style3 s">BROADWAY SALOON &amp; EATERY</td>
    <td class="column1 style4 s">12434 SW BROADWAY ST</td>
    <td class="column2 style7 s">BEAVERTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row327">
    <td class="column0 style2 s">BROADWAY SALOON &amp; EATERY</td>
    <td class="column1 style5 s">12434 SW BROADWAY ST</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row328">
    <td class="column0 style2 s">BROADWAY SALOON &amp; EATERY</td>
    <td class="column1 style5 s">12434 SW BROADWAY ST</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row329">
    <td class="column0 style3 s">ARAMARK @ MIA HAMM</td>
    <td class="column1 style4 s">1 BOWERMAN DR</td>
    <td class="column2 style7 s">BEAVERTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row330">
    <td class="column0 style2 s">ARAMARK @ MIA HAMM</td>
    <td class="column1 style5 s">1 BOWERMAN DR</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row331">
    <td class="column0 style2 s">ARAMARK @ MIA HAMM</td>
    <td class="column1 style5 s">1 BOWERMAN DR</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row332">
    <td class="column0 style3 s">ARAMARK-LIFEWORKS @ JBS</td>
    <td class="column1 style4 s">1 BOWERMAN DR</td>
    <td class="column2 style7 s">BEAVERTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row333">
    <td class="column0 style2 s">ARAMARK-LIFEWORKS @ JBS</td>
    <td class="column1 style5 s">1 BOWERMAN DR</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row334">
    <td class="column0 style2 s">ARAMARK-LIFEWORKS @ JBS</td>
    <td class="column1 style5 s">1 BOWERMAN DR</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row335">
    <td class="column0 style2 s">ARAMARK-LIFEWORKS @ JBS</td>
    <td class="column1 style5 s">1 BOWERMAN DR</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row336">
    <td class="column0 style2 s">ARAMARK-LIFEWORKS @ JBS</td>
    <td class="column1 style5 s">1 BOWERMAN DR</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row337">
    <td class="column0 style2 s">ARAMARK-LIFEWORKS @ JBS</td>
    <td class="column1 style5 s">1 BOWERMAN DR</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row338">
    <td class="column0 style3 s">HILTON GARDEN INN BEAVERTON</td>
    <td class="column1 style4 s">15520 NW GATEWAY CT</td>
    <td class="column2 style7 s">BEAVERTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row339">
    <td class="column0 style2 s">HILTON GARDEN INN NW*</td>
    <td class="column1 style5 s">15520 NW GATEWAY CT</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row340">
    <td class="column0 style3 s">STOP N GO MINI MART</td>
    <td class="column1 style4 s">2699 NE HWY 20</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row341">
    <td class="column0 style2 s">STOP N GO MINI MART</td>
    <td class="column1 style5 s">2699 NE HWY 20</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row342">
    <td class="column0 style2 s">STOP N GO MINI MART</td>
    <td class="column1 style5 s">2699 NE HWY 20</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row343">
    <td class="column0 style2 s">STOP N GO MINI MART</td>
    <td class="column1 style5 s">2699 NE HWY 20</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row344">
    <td class="column0 style2 s">STOP N GO MINI MART</td>
    <td class="column1 style5 s">2699 NE HWY 20</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row345">
    <td class="column0 style3 s">CHEVRON #220-HWY 20</td>
    <td class="column1 style4 s">2100 NE HWY 20</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row346">
    <td class="column0 style2 s">CHEVRON #220-HWY 20</td>
    <td class="column1 style5 s">2100 NE HWY 20</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row347">
    <td class="column0 style2 s">CHEVRON #220-HWY 20</td>
    <td class="column1 style5 s">2100 NE HWY 20</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row348">
    <td class="column0 style2 s">CHEVRON #220-HWY 20</td>
    <td class="column1 style5 s">2100 NE HWY 20</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row349">
    <td class="column0 style2 s">CHEVRON #220-HWY 20</td>
    <td class="column1 style5 s">2100 NE HWY 20</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row350">
    <td class="column0 style3 s">CE LOVEJOY'S BROOKSWD MKT</td>
    <td class="column1 style4 s">19530 MEADOW DRIVE #140</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row351">
    <td class="column0 style2 s">CE LOVEJOY'S BROOKSWD MKT</td>
    <td class="column1 style5 s">19530 MEADOW DRIVE #140</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row352">
    <td class="column0 style2 s">CE LOVEJOY'S BROOKSWD MKT</td>
     <td class="column1 style5 s">19530 MEADOW DRIVE #140</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row353">
    <td class="column0 style2 s">CE LOVEJOY'S BROOKSWD MKT</td>
    <td class="column1 style5 s">19530 MEADOW DRIVE #140</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row354">
    <td class="column0 style2 s">CE LOVEJOY'S BROOKSWD MKT</td>
    <td class="column1 style5 s">19530 MEADOW DRIVE #140</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row355">
    <td class="column0 style3 s">LA ROSA (BROOKSWOOD)</td>
    <td class="column1 style4 s">19570 AMBER DR.</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row356">
    <td class="column0 style2 s">LA ROSA (BROOKSWOOD)</td>
    <td class="column1 style5 s">19570 AMBER DR.</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row357">
    <td class="column0 style2 s">LA ROSA (BROOKSWOOD)</td>
    <td class="column1 style5 s">19570 AMBER DR.</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row358">
    <td class="column0 style3 s">LAY IT OUT (SP EVENTS)</td>
    <td class="column1 style4 s">704 NW GEORGIA</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row359">
    <td class="column0 style2 s">LAY IT OUT(SP EVENTS)</td>
    <td class="column1 style5 s">704 NW GEORGIA</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row360">
    <td class="column0 style3 s">RIVERWOODS COUNTRY STORE</td>
    <td class="column1 style4 s">19745 BAKER RD</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row361">
    <td class="column0 style2 s">RIVERWOODS COUNTRY STORE</td>
    <td class="column1 style5 s">19745 BAKER RD</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row362">
    <td class="column0 style3 s">US MARKET (EMPIRE) - #350</td>
    <td class="column1 style4 s">63130 NE LANCASTER DR</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row363">
    <td class="column0 style2 s">US MARKET (EMPIRE) - #350</td>
    <td class="column1 style5 s">63130 NE LANCASTER DR</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row364">
    <td class="column0 style3 s">D&amp;D BAR &amp; GRILL</td>
    <td class="column1 style4 s">927 NW BOND ST</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row365">
    <td class="column0 style2 s">D&amp;D BAR &amp; GRILL</td>
    <td class="column1 style5 s">927 NW BOND ST</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row366">
    <td class="column0 style2 s">D&amp;D BAR &amp; GRILL</td>
    <td class="column1 style5 s">927 NW BOND ST</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row367">
    <td class="column0 style2 s">D&amp;D BAR &amp; GRILL</td>
    <td class="column1 style5 s">927 NW BOND ST</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row368">
    <td class="column0 style3 s">RESIDENCE INN BEND</td>
    <td class="column1 style4 s">500 SW BOND ST</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row369">
    <td class="column0 style2 s">RESIDENCE INN BEND</td>
    <td class="column1 style5 s">500 SW BOND ST</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE MERLOT</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row370">
    <td class="column0 style2 s">RESIDENCE INN BEND</td>
    <td class="column1 style5 s">500 SW BOND ST</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row371">
    <td class="column0 style2 s">RESIDENCE INN BEND</td>
    <td class="column1 style5 s">500 SW BOND ST</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row372">
    <td class="column0 style2 s">RESIDENCE INN BEND</td>
    <td class="column1 style5 s">500 SW BOND ST</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row373">
    <td class="column0 style3 s">SILVER MOON BREWING</td>
    <td class="column1 style4 s">24 NW GREENWOOD AVE</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row374">
    <td class="column0 style2 s">SILVER MOON BREWING</td>
    <td class="column1 style5 s">24 NW GREENWOOD AVE</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT CAB SAUV</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row375">
    <td class="column0 style2 s">SILVER MOON BREWING</td>
    <td class="column1 style5 s">24 NW GREENWOOD AVE</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row376">
    <td class="column0 style3 s">CIRCLE K BEND</td>
    <td class="column1 style4 s">3405 N HWY 97</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row377">
    <td class="column0 style2 s">CIRCLE K BEND</td>
    <td class="column1 style5 s">3405 N HWY 97</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row378">
    <td class="column0 style2 s">CIRCLE K BEND</td>
    <td class="column1 style5 s">3405 N HWY 97</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row379">
    <td class="column0 style2 s">CIRCLE K BEND</td>
    <td class="column1 style5 s">3405 N HWY 97</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row380">
    <td class="column0 style2 s">CIRCLE K BEND</td>
    <td class="column1 style5 s">3405 N HWY 97</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row381">
    <td class="column0 style3 s">RITE AID #5390 - NORTH BEND</td>
    <td class="column1 style4 s">2050 NE 3RD ST</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row382">
    <td class="column0 style2 s">RITE AID #5390- BND NORTH</td>
    <td class="column1 style5 s">2050 NE 3RD ST</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row383">
    <td class="column0 style3 s">MT BACHELOR RESORT</td>
    <td class="column1 style4 s">1300 SW CENTURY DR</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row384">
    <td class="column0 style2 s">MT BACHELOR CLEARING ROCK</td>
    <td class="column1 style5 s">1300 SW CENTURY DR</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row385">
    <td class="column0 style2 s">MT BACHELOR CLEARING ROCK</td>
    <td class="column1 style5 s">1300 SW CENTURY DR</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row386">
    <td class="column0 style2 s">MT BACHELOR CLEARING ROCK</td>
    <td class="column1 style5 s">1300 SW CENTURY DR</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row387">
    <td class="column0 style2 s">MT BACHELOR CLEARING ROCK</td>
    <td class="column1 style5 s">1300 SW CENTURY DR</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row388">
    <td class="column0 style3 s">NEWPORT AVENUE MARKET</td>
    <td class="column1 style4 s">1121 NW NEWPORT AVE</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row389">
    <td class="column0 style2 s">NEWPORT AVENUE MARKET</td>
    <td class="column1 style5 s">1121 NW NEWPORT AVE</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row390">
    <td class="column0 style2 s">NEWPORT AVENUE MARKET</td>
    <td class="column1 style5 s">1121 NW NEWPORT AVE</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row391">
    <td class="column0 style2 s">NEWPORT AVENUE MARKET</td>
    <td class="column1 style5 s">1121 NW NEWPORT AVE</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row392">
    <td class="column0 style2 s">NEWPORT AVENUE MARKET</td>
    <td class="column1 style5 s">1121 NW NEWPORT AVE</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row393">
    <td class="column0 style2 s">NEWPORT AVENUE MARKET</td>
    <td class="column1 style5 s">1121 NW NEWPORT AVE</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row394">
    <td class="column0 style3 s">QUICKWAY MARKET</td>
    <td class="column1 style4 s">690 NE BUTLER MKT RD</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row395">
    <td class="column0 style2 s">QUICKWAY MARKET</td>
    <td class="column1 style5 s">690 NE BUTLER MKT RD</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row396">
    <td class="column0 style2 s">QUICKWAY MARKET</td>
    <td class="column1 style5 s">690 NE BUTLER MKT RD</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row397">
    <td class="column0 style2 s">QUICKWAY MARKET</td>
    <td class="column1 style5 s">690 NE BUTLER MKT RD</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row398">
    <td class="column0 style3 s">PHO VIET &amp; CAFÉ</td>
    <td class="column1 style4 s">1326 NE 3RD STREET</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row399">
    <td class="column0 style2 s">PHO VIET &amp; CAFE LLC</td>
    <td class="column1 style5 s">1326 NE 3RD STREET</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row400">
    <td class="column0 style3 s">WHOLE FOODS 10407 - BEND</td>
    <td class="column1 style4 s">2610 NW HWY 20</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row401">
    <td class="column0 style2 s">WHOLE FOODS 10407 - BEND</td>
    <td class="column1 style5 s">2610 NW HWY 20</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row402">
    <td class="column0 style2 s">WHOLE FOODS 10407 - BEND</td>
    <td class="column1 style5 s">2610 NW HWY 20</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row403">
    <td class="column0 style3 s">JUMPING PICKLE CAFE</td>
    <td class="column1 style4 s">63040 NE 18TH ST</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row404">
    <td class="column0 style2 s">JUMPING PICKLE CAFE</td>
    <td class="column1 style5 s">63040 NE 18TH ST</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row405">
    <td class="column0 style3 s">BLACKSMITH</td>
    <td class="column1 style4 s">211 NW GREENWOOD</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row406">
    <td class="column0 style2 s">BLACKSMITH</td>
    <td class="column1 style5 s">211 NW GREENWOOD</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE SYRAH</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row407">
    <td class="column0 style3 s">WHITE WATER TAPHOUSE</td>
    <td class="column1 style4 s">1043 NE BOND STREET</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row408">
    <td class="column0 style2 s">WHITE WATER TAPHOUSE</td>
    <td class="column1 style5 s">1043 NE BOND STREET</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row409">
    <td class="column0 style3 s">ALBERTSONS #3553 BEND</td>
    <td class="column1 style4 s">61155 S HWY 97</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row410">
    <td class="column0 style2 s">ALBERTSONS #3553 BEND</td>
    <td class="column1 style5 s">61155 S HWY 97</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row411">
    <td class="column0 style2 s">ALBERTSONS #3553 BEND</td>
    <td class="column1 style5 s">61155 S HWY 97</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row412">
    <td class="column0 style2 s">ALBERTSONS #3553 BEND</td>
    <td class="column1 style5 s">61155 S HWY 97</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row413">
    <td class="column0 style2 s">ALBERTSONS #3553 BEND</td>
    <td class="column1 style5 s">61155 S HWY 97</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row414">
    <td class="column0 style3 s">SAFEWAY #514 CENTRAL BEND</td>
    <td class="column1 style4 s">647 NE 3RD</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row415">
    <td class="column0 style2 s">SAFEWAY #514 CENTRAL BEND</td>
    <td class="column1 style5 s">647 NE 3RD</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row416">
    <td class="column0 style2 s">SAFEWAY #514 CENTRAL BEND</td>
    <td class="column1 style5 s">647 NE 3RD</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row417">
    <td class="column0 style2 s">SAFEWAY #514 CENTRAL BEND</td>
    <td class="column1 style5 s">647 NE 3RD</td>
    <td class="column2 style8 s">BEND</td>
     <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row418">
    <td class="column0 style3 s">LEVEL 2 LOUNGE</td>
    <td class="column1 style4 s">360 SW POWERHOUSE STE 210</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row419">
    <td class="column0 style2 s">LEVEL 2 GLOBAL FOOD</td>
    <td class="column1 style5 s">360 SW POWERHOUSE STE 210</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row420">
    <td class="column0 style3 s">BI-MART #612 BEND</td>
    <td class="column1 style4 s">351 NE 2ND ST</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row421">
    <td class="column0 style2 s">BI-MART #612 BEND</td>
    <td class="column1 style5 s">351 NE 2ND ST</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row422">
    <td class="column0 style3 s">GREG'S GRILL</td>
    <td class="column1 style4 s">395 SW POWERHOUSE DR.</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row423">
    <td class="column0 style2 s">GREG'S GRILL</td>
    <td class="column1 style5 s">395 SW POWERHOUSE DR.</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CLARET</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row424">
    <td class="column0 style2 s">GREG'S GRILL</td>
    <td class="column1 style5 s">395 SW POWERHOUSE DR.</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row425">
    <td class="column0 style2 s">GREG'S GRILL</td>
    <td class="column1 style5 s">395 SW POWERHOUSE DR.</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row426">
    <td class="column0 style2 s">GREG'S GRILL</td>
    <td class="column1 style5 s">395 SW POWERHOUSE DR.</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row427">
    <td class="column0 style2 s">GREG'S GRILL</td>
    <td class="column1 style5 s">395 SW POWERHOUSE DR.</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row428">
    <td class="column0 style2 s">GREG'S GRILL</td>
    <td class="column1 style5 s">395 SW POWERHOUSE DR.</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD SYRAH PORT 375ML</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row429">
    <td class="column0 style2 s">GREG'S GRILL</td>
    <td class="column1 style5 s">395 SW POWERHOUSE DR.</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row430">
    <td class="column0 style3 s">LA ROSA (NW CROSSING)</td>
    <td class="column1 style4 s">2763 NW CROSSINGS DR</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row431">
    <td class="column0 style2 s">LA ROSA (NW CROSSING)</td>
    <td class="column1 style5 s">2763 NW CROSSINGS DR</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row432">
    <td class="column0 style2 s">LA ROSA (NW CROSSING)</td>
    <td class="column1 style5 s">2763 NW CROSSINGS DR</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row433">
    <td class="column0 style3 s">SIGNATURE BEND</td>
    <td class="column1 style4 s">1415 NE 3RD ST</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row434">
    <td class="column0 style2 s">SIGNATURE BEND</td>
    <td class="column1 style5 s">1415 NE 3RD ST</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row435">
    <td class="column0 style2 s">SIGNATURE BEND</td>
    <td class="column1 style5 s">1415 NE 3RD ST</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row436">
    <td class="column0 style3 s">K MARKET</td>
    <td class="column1 style4 s">3400 NW ALBANY</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row437">
    <td class="column0 style2 s">K MARKET</td>
    <td class="column1 style5 s">3400 NW ALBANY</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row438">
    <td class="column0 style3 s">FOOD 4 LESS BEND</td>
    <td class="column1 style4 s">63455 N HW 97 STE 7</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row439">
    <td class="column0 style2 s">FOOD 4 LESS BEND</td>
    <td class="column1 style5 s">63455 N HW 97 STE 7</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row440">
    <td class="column0 style3 s">COST PLUS #268 (BEND)</td>
    <td class="column1 style4 s">63455 N HWY 97</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row441">
    <td class="column0 style2 s">COST PLUS #268 (BEND)</td>
    <td class="column1 style5 s">63455 N HWY 97</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row442">
    <td class="column0 style2 s">COST PLUS #268 (BEND)</td>
    <td class="column1 style5 s">63455 N HWY 97</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row443">
    <td class="column0 style3 s">EL RANCHO GRANDE</td>
    <td class="column1 style4 s">63455 N HWY 97</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row444">
    <td class="column0 style2 s">EL RANCHO GRANDE</td>
    <td class="column1 style5 s">63455 N HWY 97</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT CAB SAUV</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row445">
    <td class="column0 style3 s">ALBERTSONS #2599 (REVERE)</td>
    <td class="column1 style4 s">1800 NE THIRD ST</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row446">
    <td class="column0 style2 s">ALBERTSONS #2599 (REVERE)</td>
    <td class="column1 style5 s">1800 NE THIRD ST</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row447">
    <td class="column0 style2 s">ALBERTSONS #2599 (REVERE)</td>
    <td class="column1 style5 s">1800 NE THIRD ST</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row448">
    <td class="column0 style2 s">ALBERTSONS #2599 (REVERE)</td>
    <td class="column1 style5 s">1800 NE THIRD ST</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row449">
    <td class="column0 style2 s">ALBERTSONS #2599 (REVERE)</td>
    <td class="column1 style5 s">1800 NE THIRD ST</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row450">
    <td class="column0 style3 s">EAST BEND LIQUOR INC.</td>
    <td class="column1 style4 s">2220 HWY 20 STE #1</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row451">
    <td class="column0 style2 s">EAST BEND LIQUOR INC.</td>
    <td class="column1 style5 s">2220 HWY 20 STE #1</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row452">
    <td class="column0 style3 s">FRED MEYER #021 BEND</td>
    <td class="column1 style4 s">61535 S HWY 97</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row453">
    <td class="column0 style2 s">FRED MEYER #021 BEND</td>
    <td class="column1 style5 s">61535 S HWY 97</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row454">
    <td class="column0 style2 s">FRED MEYER #021 BEND</td>
    <td class="column1 style5 s">61535 S HWY 97</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
     <tr class="row455">
    <td class="column0 style2 s">FRED MEYER #021 BEND</td>
    <td class="column1 style5 s">61535 S HWY 97</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row456">
    <td class="column0 style2 s">FRED MEYER #021 BEND</td>
    <td class="column1 style5 s">61535 S HWY 97</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row457">
    <td class="column0 style2 s">FRED MEYER #021 BEND</td>
    <td class="column1 style5 s">61535 S HWY 97</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row458">
    <td class="column0 style3 s">CHEVRON #224-COLLEGE WAY</td>
    <td class="column1 style4 s">1400 NW COLLEGE WAY</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row459">
    <td class="column0 style2 s">CHEVRON #224-COLLEGE WY</td>
    <td class="column1 style5 s">1400 NW COLLEGE WAY</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row460">
    <td class="column0 style2 s">CHEVRON #224-COLLEGE WY</td>
    <td class="column1 style5 s">1400 NW COLLEGE WAY</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row461">
    <td class="column0 style2 s">CHEVRON #224-COLLEGE WY</td>
    <td class="column1 style5 s">1400 NW COLLEGE WAY</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row462">
    <td class="column0 style2 s">CHEVRON #224-COLLEGE WY</td>
    <td class="column1 style5 s">1400 NW COLLEGE WAY</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row463">
    <td class="column0 style3 s">SAFEWAY #1888 WEST BEND</td>
    <td class="column1 style4 s">320 SW CENTURY DR</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row464">
    <td class="column0 style2 s">SAFEWAY #1888 WEST BEND</td>
    <td class="column1 style5 s">320 SW CENTURY DR</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row465">
    <td class="column0 style2 s">SAFEWAY #1888 WEST BEND</td>
    <td class="column1 style5 s">320 SW CENTURY DR</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row466">
    <td class="column0 style2 s">SAFEWAY #1888 WEST BEND</td>
    <td class="column1 style5 s">320 SW CENTURY DR</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row467">
    <td class="column0 style2 s">SAFEWAY #1888 WEST BEND</td>
    <td class="column1 style5 s">320 SW CENTURY DR</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row468">
    <td class="column0 style2 s">SAFEWAY #1888 WEST BEND</td>
    <td class="column1 style5 s">320 SW CENTURY DR</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row469">
    <td class="column0 style2 s">SAFEWAY #1888 WEST BEND</td>
    <td class="column1 style5 s">320 SW CENTURY DR</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row470">
    <td class="column0 style2 s">SAFEWAY #1888 WEST BEND</td>
    <td class="column1 style5 s">320 SW CENTURY DR</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row471">
    <td class="column0 style3 s">TUMALO STORE</td>
    <td class="column1 style4 s">64683 COOK</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row472">
    <td class="column0 style2 s">TUMALO STORE</td>
    <td class="column1 style5 s">64683 COOK</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row473">
    <td class="column0 style2 s">TUMALO STORE</td>
    <td class="column1 style5 s">64683 COOK</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row474">
    <td class="column0 style2 s">TUMALO STORE</td>
    <td class="column1 style5 s">64683 COOK</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row475">
    <td class="column0 style2 s">TUMALO STORE</td>
    <td class="column1 style5 s">64683 COOK</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row476">
    <td class="column0 style2 s">TUMALO STORE</td>
    <td class="column1 style5 s">64683 COOK</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row477">
    <td class="column0 style2 s">TUMALO STORE</td>
    <td class="column1 style5 s">64683 COOK</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row478">
    <td class="column0 style2 s">TUMALO STORE</td>
    <td class="column1 style5 s">64683 COOK</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row479">
    <td class="column0 style2 s">TUMALO STORE</td>
    <td class="column1 style5 s">64683 COOK</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row480">
    <td class="column0 style2 s">TUMALO STORE</td>
    <td class="column1 style5 s">64683 COOK</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row481">
    <td class="column0 style3 s">GOOD DROP WINE SHOP</td>
    <td class="column1 style4 s">141 NW MINNESOTA</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row482">
    <td class="column0 style2 s">GOOD DROP WINE</td>
    <td class="column1 style5 s">141 NW MINNESOTA</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD SYRAH PORT 375ML</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row483">
    <td class="column0 style3 s">SAFEWAY #1504 E BEND</td>
    <td class="column1 style4 s">2650 NE HWY 20</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row484">
    <td class="column0 style2 s">SAFEWAY #1504 E BEND</td>
    <td class="column1 style5 s">2650 NE HWY 20</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row485">
    <td class="column0 style2 s">SAFEWAY #1504 E BEND</td>
    <td class="column1 style5 s">2650 NE HWY 20</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row486">
    <td class="column0 style2 s">SAFEWAY #1504 E BEND</td>
    <td class="column1 style5 s">2650 NE HWY 20</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row487">
    <td class="column0 style2 s">SAFEWAY #1504 E BEND</td>
    <td class="column1 style5 s">2650 NE HWY 20</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row488">
    <td class="column0 style3 s">CASCADE WEST PUB &amp; GRUB</td>
    <td class="column1 style4 s">64 SW CENTURY DRIVE</td>
    <td class="column2 style7 s">BEND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row489">
    <td class="column0 style2 s">CASCADE WEST PUB &amp; GRUB</td>
    <td class="column1 style5 s">64 SW CENTURY DRIVE</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row490">
    <td class="column0 style2 s">CASCADE WEST PUB &amp; GRUB</td>
    <td class="column1 style5 s">64 SW CENTURY DRIVE</td>
    <td class="column2 style8 s">BEND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
