<tr class="row3">
    <td class="column0 style17 s">Retailer Name</td>
    <td class="column1 style16 s">Address</td>
    <td class="column2 style16 s">City</td>
    <td class="column3 style16 s">State</td>
    <td class="column4 style19 s">Wine</td>
    <td class="column5">&nbsp;</td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row4">
    <td class="column0 style1 s">TOM TOM DELI &amp; MKT</td>
    <td class="column1 style6 s">321 AIRPORT RD</td>
    <td class="column2 style9 s">ALBANY</td>
    <td class="column3 style12 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row5">
    <td class="column0 style2 s">TOM TOM DELI &amp; MKT</td>
    <td class="column1 style5 s">321 AIRPORT RD</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row6">
    <td class="column0 style2 s">TOM TOM DELI &amp; MKT</td>
    <td class="column1 style5 s">321 AIRPORT RD</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row7">
    <td class="column0 style3 s">US MARKET #170</td>
    <td class="column1 style4 s">2211 WAVERLY DR SE #7</td>
    <td class="column2 style7 s">ALBANY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row8">
    <td class="column0 style2 s">US MARKET #170</td>
    <td class="column1 style5 s">2211 WAVERLY DR SE #7</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row9">
    <td class="column0 style2 s">US MARKET #170</td>
    <td class="column1 style5 s">2211 WAVERLY DR SE #7</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row10">
    <td class="column0 style3 s">CORK &amp; BOTTLE SHOPPE</td>
    <td class="column1 style4 s">1236 PACIFIC BLVD SE</td>
    <td class="column2 style7 s">ALBANY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row11">
    <td class="column0 style2 s">CORK &amp; BOTTLE SHOPPE</td>
    <td class="column1 style5 s">1236 PACIFIC BLVD SE</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row12">
    <td class="column0 style3 s">US MARKET #180</td>
    <td class="column1 style4 s">1709 HILL ST</td>
    <td class="column2 style7 s">ALBANY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row13">
    <td class="column0 style2 s">US MARKET #180</td>
    <td class="column1 style5 s">1709 HILL ST</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row14">
    <td class="column0 style2 s">US MARKET #180</td>
    <td class="column1 style5 s">1709 HILL ST</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row15">
    <td class="column0 style2 s">US MARKET #180</td>
    <td class="column1 style5 s">1709 HILL ST</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row16">
    <td class="column0 style3 s">SAFEWAY #1659 ALBANY</td>
    <td class="column1 style4 s">1990 14TH AVE SE</td>
    <td class="column2 style7 s">ALBANY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row17">
    <td class="column0 style2 s">SAFEWAY #1659 ALBANY</td>
    <td class="column1 style5 s">1990 14TH AVE SE</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row18">
    <td class="column0 style3 s">GEARY STREET MARKET</td>
    <td class="column1 style4 s">2805 S GEARY ST</td>
    <td class="column2 style7 s">ALBANY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row19">
    <td class="column0 style2 s">GEARY STREET MARKET</td>
    <td class="column1 style5 s">2805 S GEARY ST</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row20">
    <td class="column0 style3 s">POPS BRANDING IRON</td>
    <td class="column1 style4 s">901 E PACIFIC BLVD</td>
    <td class="column2 style7 s">ALBANY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row21">
    <td class="column0 style2 s">POPS BRANDING IRON</td>
    <td class="column1 style5 s">901 E PACIFIC BLVD</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT CAB SAUV</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row22">
    <td class="column0 style3 s">BI-MART #606 ALBANY</td>
    <td class="column1 style4 s">2152 SANTIAM HWY</td>
    <td class="column2 style7 s">ALBANY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row23">
    <td class="column0 style2 s">BI-MART #606 ALBANY</td>
    <td class="column1 style5 s">2152 SANTIAM HWY</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row24">
    <td class="column0 style3 s">US MARKET #250</td>
    <td class="column1 style4 s">1012 34TH AVE SE</td>
    <td class="column2 style7 s">ALBANY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row25">
    <td class="column0 style2 s">US MARKET #250</td>
    <td class="column1 style5 s">1012 34TH AVE SE</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row26">
    <td class="column0 style2 s">US MARKET #250</td>
    <td class="column1 style5 s">1012 34TH AVE SE</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row27">
    <td class="column0 style3 s">HWY 20 TRUCK STOP</td>
    <td class="column1 style4 s">4196 SANTIAM HWY SE</td>
    <td class="column2 style7 s">ALBANY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row28">
    <td class="column0 style2 s">HWY 20 TRUCK STOP</td>
    <td class="column1 style5 s">4196 SANTIAM HWY SE</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row29">
    <td class="column0 style2 s">HWY 20 TRUCK STOP</td>
    <td class="column1 style5 s">4196 SANTIAM HWY SE</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row30">
    <td class="column0 style3 s">HWY 34 MARKET</td>
    <td class="column1 style4 s">33166 HIGHWAY 34 SE</td>
    <td class="column2 style7 s">ALBANY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row31">
    <td class="column0 style2 s">HWY 34 MARKET</td>
    <td class="column1 style5 s">33166 HIGHWAY 34 SE</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row32">
    <td class="column0 style3 s">SIMPLY RAMEN</td>
    <td class="column1 style4 s">1800 GEARY ST SE</td>
    <td class="column2 style7 s">ALBANY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row33">
    <td class="column0 style2 s">SIMPLY RAMEN</td>
    <td class="column1 style5 s">1800 GEARY ST SE</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row34">
    <td class="column0 style2 s">SIMPLY RAMEN</td>
    <td class="column1 style5 s">1800 GEARY ST SE</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row35">
    <td class="column0 style3 s">NORTH ALBANY IGA</td>
    <td class="column1 style4 s">621 HICKORY ST NW</td>
    <td class="column2 style7 s">ALBANY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row36">
    <td class="column0 style2 s">NORTH ALBANY IGA</td>
    <td class="column1 style5 s">621 HICKORY ST NW</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD SYRAH PORT 375ML</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row37">
    <td class="column0 style2 s">NORTH ALBANY IGA</td>
    <td class="column1 style5 s">621 HICKORY ST NW</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row38">
    <td class="column0 style2 s">NORTH ALBANY IGA</td>
    <td class="column1 style5 s">621 HICKORY ST NW</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row39">
    <td class="column0 style2 s">NORTH ALBANY IGA</td>
    <td class="column1 style5 s">621 HICKORY ST NW</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row40">
    <td class="column0 style2 s">NORTH ALBANY IGA</td>
    <td class="column1 style5 s">621 HICKORY ST NW</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row41">
    <td class="column0 style2 s">NORTH ALBANY IGA</td>
    <td class="column1 style5 s">621 HICKORY ST NW</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row42">
    <td class="column0 style2 s">NORTH ALBANY IGA</td>
    <td class="column1 style5 s">621 HICKORY ST NW</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6 style18 null"></td>
    </tr>
    <tr class="row43">
    <td class="column0 style2 s">NORTH ALBANY IGA</td>
    <td class="column1 style5 s">621 HICKORY ST NW</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row44">
    <td class="column0 style2 s">NORTH ALBANY IGA</td>
    <td class="column1 style5 s">621 HICKORY ST NW</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row45">
    <td class="column0 style2 s">NORTH ALBANY IGA</td>
    <td class="column1 style5 s">621 HICKORY ST NW</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row46">
    <td class="column0 style3 s">FRED MEYER #005 ALBANY</td>
    <td class="column1 style4 s">2500 SANTIAM HWY</td>
    <td class="column2 style7 s">ALBANY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row47">
    <td class="column0 style2 s">FRED MEYER #005 ALBANY</td>
    <td class="column1 style5 s">2500 SANTIAM HWY</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row48">
    <td class="column0 style2 s">FRED MEYER #005 ALBANY</td>
    <td class="column1 style5 s">2500 SANTIAM HWY</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row49">
    <td class="column0 style2 s">FRED MEYER #005 ALBANY</td>
    <td class="column1 style5 s">2500 SANTIAM HWY</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row50">
    <td class="column0 style3 s">RITE AID #05365- ALBANY</td>
    <td class="column1 style4 s">1235 WAVERLY DR SE</td>
    <td class="column2 style7 s">ALBANY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row51">
    <td class="column0 style2 s">RITE AID #05365- ALBANY</td>
    <td class="column1 style5 s">1235 WAVERLY DR SE</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row52">
    <td class="column0 style3 s">WINCO FOODS #143 ALBANY</td>
    <td class="column1 style4 s">3100 PACIFIC BLVD SE</td>
    <td class="column2 style7 s">ALBANY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row53">
    <td class="column0 style2 s">WINCO FOODS #143 ALBANY</td>
    <td class="column1 style5 s">3100 PACIFIC BLVD SE</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row54">
    <td class="column0 style2 s">WINCO FOODS #143 ALBANY</td>
    <td class="column1 style5 s">3100 PACIFIC BLVD SE</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row55">
    <td class="column0 style2 s">WINCO FOODS #143 ALBANY</td>
    <td class="column1 style5 s">3100 PACIFIC BLVD SE</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row56">
    <td class="column0 style2 s">WINCO FOODS #143 ALBANY</td>
    <td class="column1 style5 s">3100 PACIFIC BLVD SE</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row57">
    <td class="column0 style2 s">WINCO FOODS #143 ALBANY</td>
    <td class="column1 style5 s">3100 PACIFIC BLVD SE</td>
    <td class="column2 style8 s">ALBANY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row58">
    <td class="column0 style3 s">GREEN LIGHT FOOD MART</td>
    <td class="column1 style4 s">18535 TV HWY</td>
    <td class="column2 style7 s">ALOHA</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row59">
    <td class="column0 style2 s">GREEN LIGHT FOOD MART</td>
    <td class="column1 style5 s">18535 TV HWY</td>
    <td class="column2 style8 s">ALOHA</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row60">
    <td class="column0 style2 s">GREEN LIGHT FOOD MART</td>
    <td class="column1 style5 s">18535 TV HWY</td>
    <td class="column2 style8 s">ALOHA</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row61">
    <td class="column0 style3 s">ALBERTSONS #3557 ALOHA</td>
    <td class="column1 style4 s">6055 SW 185TH</td>
    <td class="column2 style7 s">ALOHA</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row62">
    <td class="column0 style2 s">ALBERTSONS #3557 ALOHA</td>
    <td class="column1 style5 s">6055 SW 185TH</td>
    <td class="column2 style8 s">ALOHA</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row63">
    <td class="column0 style2 s">ALBERTSONS #3557 ALOHA</td>
    <td class="column1 style5 s">6055 SW 185TH</td>
    <td class="column2 style8 s">ALOHA</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row64">
    <td class="column0 style2 s">ALBERTSONS #3557 ALOHA</td>
    <td class="column1 style5 s">6055 SW 185TH</td>
    <td class="column2 style8 s">ALOHA</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row65">
    <td class="column0 style3 s">SAFEWAY #1889 TV HWY</td>
    <td class="column1 style4 s">20535 SW TUALATIN HWY</td>
    <td class="column2 style7 s">ALOHA</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row66">
    <td class="column0 style2 s">SAFEWAY #1889 TV HWY</td>
    <td class="column1 style5 s">20535 SW TUALATIN HWY</td>
    <td class="column2 style8 s">ALOHA</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row67">
    <td class="column0 style3 s">AMITY MARKET</td>
    <td class="column1 style4 s">520 TRADE STREET</td>
    <td class="column2 style7 s">AMITY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row68">
    <td class="column0 style2 s">AMITY MARKET</td>
    <td class="column1 style5 s">520 TRADE STREET</td>
    <td class="column2 style8 s">AMITY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row69">
    <td class="column0 style2 s">AMITY MARKET</td>
    <td class="column1 style5 s">520 TRADE STREET</td>
    <td class="column2 style8 s">AMITY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row70">
    <td class="column0 style2 s">AMITY MARKET</td>
    <td class="column1 style5 s">520 TRADE STREET</td>
    <td class="column2 style8 s">AMITY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row71">
    <td class="column0 style2 s">AMITY MARKET</td>
    <td class="column1 style5 s">520 TRADE STREET</td>
    <td class="column2 style8 s">AMITY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row72">
    <td class="column0 style3 s">APPLEGATE STORE &amp; CAFE</td>
    <td class="column1 style4 s">15095 HIGHWAY 238</td>
    <td class="column2 style7 s">APPLEGATE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row73">
    <td class="column0 style2 s">APPLEGATE STORE &amp; CAFE</td>
    <td class="column1 style5 s">15095 HIGHWAY 238</td>
    <td class="column2 style8 s">APPLEGATE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row74">
    <td class="column0 style3 s">ARLINGTON GROCERY/DELI</td>
    <td class="column1 style4 s">101 BEECH ST- ON THE MALL</td>
    <td class="column2 style7 s">ARLINGTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row75">
    <td class="column0 style2 s">ARLINGTON GROCERY/DELI</td>
    <td class="column1 style5 s">101 BEECH ST- ON THE MALL</td>
    <td class="column2 style8 s">ARLINGTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE SYRAH</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row76">
    <td class="column0 style2 s">ARLINGTON GROCERY/DELI</td>
    <td class="column1 style5 s">101 BEECH ST- ON THE MALL</td>
    <td class="column2 style8 s">ARLINGTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row77">
    <td class="column0 style2 s">ARLINGTON GROCERY/DELI</td>
    <td class="column1 style5 s">101 BEECH ST- ON THE MALL</td>
    <td class="column2 style8 s">ARLINGTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row78">
    <td class="column0 style3 s">BEAU CLUB</td>
    <td class="column1 style4 s">347 EAST MAIN</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row79">
    <td class="column0 style2 s">BEAU CLUB</td>
    <td class="column1 style5 s">347 EAST MAIN</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row80">
    <td class="column0 style2 s">BEAU CLUB</td>
    <td class="column1 style5 s">347 EAST MAIN</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row81">
    <td class="column0 style3 s">SAFEWAY #3212 ASHLAND</td>
    <td class="column1 style4 s">585 SISKIYOU</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row82">
    <td class="column0 style2 s">SAFEWAY #3212 ASHLAND</td>
    <td class="column1 style5 s">585 SISKIYOU</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE SYRAH</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row83">
    <td class="column0 style2 s">SAFEWAY #3212 ASHLAND</td>
    <td class="column1 style5 s">585 SISKIYOU</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row84">
    <td class="column0 style2 s">SAFEWAY #3212 ASHLAND</td>
    <td class="column1 style5 s">585 SISKIYOU</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row85">
    <td class="column0 style2 s">SAFEWAY #3212 ASHLAND</td>
    <td class="column1 style5 s">585 SISKIYOU</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row86">
    <td class="column0 style2 s">SAFEWAY #3212 ASHLAND</td>
    <td class="column1 style5 s">585 SISKIYOU</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row87">
    <td class="column0 style2 s">SAFEWAY #3212 ASHLAND</td>
    <td class="column1 style5 s">585 SISKIYOU</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row88">
    <td class="column0 style2 s">SAFEWAY #3212 ASHLAND</td>
    <td class="column1 style5 s">585 SISKIYOU</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row89">
    <td class="column0 style2 s">SAFEWAY #3212 ASHLAND</td>
    <td class="column1 style5 s">585 SISKIYOU</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row90">
    <td class="column0 style2 s">SAFEWAY #3212 ASHLAND</td>
    <td class="column1 style5 s">585 SISKIYOU</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row91">
    <td class="column0 style2 s">SAFEWAY #3212 ASHLAND</td>
    <td class="column1 style5 s">585 SISKIYOU</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row92">
    <td class="column0 style2 s">SAFEWAY #3212 ASHLAND</td>
    <td class="column1 style5 s">585 SISKIYOU</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row93">
    <td class="column0 style2 s">SAFEWAY #3212 ASHLAND</td>
    <td class="column1 style5 s">585 SISKIYOU</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row94">
    <td class="column0 style3 s">CALLAHAN'S LODGE</td>
    <td class="column1 style4 s">7100 OLD HIGHWAY 99 SOUTH</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row95">
    <td class="column0 style2 s">CALLAHAN'S LODGE</td>
    <td class="column1 style5 s">7100 OLD HIGHWAY 99 SOUTH</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row96">
    <td class="column0 style3 s">LITTLE TOKYO</td>
    <td class="column1 style4 s">29 N. MAIN STREET</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row97">
    <td class="column0 style2 s">LITTLE TOKYO</td>
    <td class="column1 style5 s">29 N. MAIN STREET</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row98">
    <td class="column0 style2 s">LITTLE TOKYO</td>
    <td class="column1 style5 s">29 N. MAIN STREET</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row99">
    <td class="column0 style3 s">SHOP N KART ASHLAND</td>
    <td class="column1 style4 s">2268 HIGHWAY 66</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row100">
    <td class="column0 style2 s">SHOP N KART ASHLAND</td>
    <td class="column1 style5 s">2268 HIGHWAY 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row101">
    <td class="column0 style2 s">SHOP N KART ASHLAND</td>
    <td class="column1 style5 s">2268 HIGHWAY 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row102">
    <td class="column0 style2 s">SHOP N KART ASHLAND</td>
    <td class="column1 style5 s">2268 HIGHWAY 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row103">
    <td class="column0 style2 s">SHOP N KART ASHLAND</td>
    <td class="column1 style5 s">2268 HIGHWAY 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row104">
    <td class="column0 style2 s">SHOP N KART ASHLAND</td>
    <td class="column1 style5 s">2268 HIGHWAY 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row105">
    <td class="column0 style2 s">SHOP N KART ASHLAND</td>
    <td class="column1 style5 s">2268 HIGHWAY 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row106">
    <td class="column0 style2 s">SHOP N KART ASHLAND</td>
    <td class="column1 style5 s">2268 HIGHWAY 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row107">
    <td class="column0 style2 s">SHOP N KART ASHLAND</td>
    <td class="column1 style5 s">2268 HIGHWAY 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row108">
    <td class="column0 style2 s">SHOP N KART ASHLAND</td>
    <td class="column1 style5 s">2268 HIGHWAY 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row109">
    <td class="column0 style2 s">SHOP N KART ASHLAND</td>
    <td class="column1 style5 s">2268 HIGHWAY 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row110">
    <td class="column0 style2 s">SHOP N KART ASHLAND</td>
    <td class="column1 style5 s">2268 HIGHWAY 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row111">
    <td class="column0 style2 s">SHOP N KART ASHLAND</td>
    <td class="column1 style5 s">2268 HIGHWAY 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row112">
    <td class="column0 style2 s">SHOP N KART ASHLAND</td>
    <td class="column1 style5 s">2268 HIGHWAY 66</td>
     <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row113">
    <td class="column0 style3 s">HOUSE OF THAI*</td>
    <td class="column1 style4 s">1667 SISKIYOU BLVD</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row114">
    <td class="column0 style2 s">HOUSE OF THAI*</td>
    <td class="column1 style5 s">1667 SISKIYOU BLVD</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row115">
    <td class="column0 style2 s">HOUSE OF THAI*</td>
    <td class="column1 style5 s">1667 SISKIYOU BLVD</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row116">
    <td class="column0 style3 s">STOP N SHOP MARKET ASHLAND</td>
    <td class="column1 style4 s">110 LITHIA WAY</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row117">
    <td class="column0 style2 s">STOP N SHOP MKT ASHLAND</td>
    <td class="column1 style5 s">110 LITHIA WAY</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row118">
    <td class="column0 style2 s">STOP N SHOP MKT ASHLAND</td>
    <td class="column1 style5 s">110 LITHIA WAY</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row119">
    <td class="column0 style2 s">STOP N SHOP MKT ASHLAND</td>
    <td class="column1 style5 s">110 LITHIA WAY</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row120">
    <td class="column0 style2 s">STOP N SHOP MKT ASHLAND</td>
    <td class="column1 style5 s">110 LITHIA WAY</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row121">
    <td class="column0 style3 s">OAK TREE NORTHWEST</td>
    <td class="column1 style4 s">2510 HIGHWAY 66</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row122">
    <td class="column0 style2 s">OAK TREE NORTHWEST</td>
    <td class="column1 style5 s">2510 HIGHWAY 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row123">
    <td class="column0 style2 s">OAK TREE NORTHWEST</td>
    <td class="column1 style5 s">2510 HIGHWAY 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row124">
    <td class="column0 style2 s">OAK TREE NORTHWEST</td>
    <td class="column1 style5 s">2510 HIGHWAY 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row125">
    <td class="column0 style3 s">SESSIONS MARKET #2</td>
    <td class="column1 style4 s">1908 ASHLAND STREET</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row126">
    <td class="column0 style2 s">SESSIONS MARKET #2</td>
    <td class="column1 style5 s">1908 ASHLAND STREET</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row127">
    <td class="column0 style2 s">SESSIONS MARKET #2</td>
    <td class="column1 style5 s">1908 ASHLAND STREET</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row128">
    <td class="column0 style2 s">SESSIONS MARKET #2</td>
    <td class="column1 style5 s">1908 ASHLAND STREET</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row129">
    <td class="column0 style2 s">SESSIONS MARKET #2</td>
    <td class="column1 style5 s">1908 ASHLAND STREET</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row130">
    <td class="column0 style3 s">OAK KNOLL GOLF CLUB</td>
    <td class="column1 style4 s">3070 HWY 66</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row131">
     <td class="column0 style2 s">OAK KNOLL GOLF CLUB</td>
    <td class="column1 style5 s">3070 HWY 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row132">
    <td class="column0 style2 s">OAK KNOLL GOLF CLUB</td>
    <td class="column1 style5 s">3070 HWY 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row133">
    <td class="column0 style3 s">BI-MART #608 ASHLND STREET</td>
    <td class="column1 style4 s">2280 ASHLAND STREET</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row134">
    <td class="column0 style2 s">BI-MART #608 ASHLND ST AS</td>
    <td class="column1 style5 s">2280 ASHLAND STREET</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row135">
    <td class="column0 style2 s">BI-MART #608 ASHLND ST AS</td>
    <td class="column1 style5 s">2280 ASHLAND STREET</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row136">
    <td class="column0 style2 s">BI-MART #608 ASHLND ST AS</td>
    <td class="column1 style5 s">2280 ASHLAND STREET</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row137">
    <td class="column0 style2 s">BI-MART #608 ASHLND ST AS</td>
    <td class="column1 style5 s">2280 ASHLAND STREET</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row138">
    <td class="column0 style2 s">BI-MART #608 ASHLND ST AS</td>
    <td class="column1 style5 s">2280 ASHLAND STREET</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row139">
    <td class="column0 style2 s">BI-MART #608 ASHLND ST AS</td>
    <td class="column1 style5 s">2280 ASHLAND STREET</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row140">
    <td class="column0 style2 s">BI-MART #608 ASHLND ST AS</td>
    <td class="column1 style5 s">2280 ASHLAND STREET</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row141">
    <td class="column0 style3 s">RITE AID #5385- ASHLAND</td>
    <td class="column1 style4 s">2341 ASHLAND STREET</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row142">
    <td class="column0 style2 s">RITE AID #5385- ASHLAND</td>
    <td class="column1 style5 s">2341 ASHLAND STREET</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row143">
    <td class="column0 style3 s">LOUIE'S BAR &amp; GRILL</td>
    <td class="column1 style4 s">41 NORTH MAIN</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row144">
    <td class="column0 style2 s">LOUIE'S BAR &amp; GRILL</td>
    <td class="column1 style5 s">41 NORTH MAIN</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row145">
    <td class="column0 style3 s">OREGON SHAKESPEARIAN FEST</td>
    <td class="column1 style4 s">15 SOUTH PIONEER ST.</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row146">
    <td class="column0 style2 s">OREGON SHAKESPEARIAN FEST</td>
    <td class="column1 style5 s">15 SOUTH PIONEER ST.</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row147">
    <td class="column0 style3 s">GREAT AMERICAN PIZZA</td>
    <td class="column1 style4 s">1448 ASHLAND ST</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row148">
    <td class="column0 style2 s">GREAT AMERICAN PIZZA</td>
    <td class="column1 style5 s">1448 ASHLAND ST</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row149">
    <td class="column0 style3 s">CHEVRON #111-HWY 66 ASHLAND</td>
    <td class="column1 style4 s">2500 HWY. 66</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row150">
    <td class="column0 style2 s">CHEVRON #111-HWY 66 ASHL</td>
    <td class="column1 style5 s">2500 HWY. 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row151">
    <td class="column0 style2 s">CHEVRON #111-HWY 66 ASHL</td>
    <td class="column1 style5 s">2500 HWY. 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row152">
    <td class="column0 style2 s">CHEVRON #111-HWY 66 ASHL</td>
    <td class="column1 style5 s">2500 HWY. 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row153">
    <td class="column0 style2 s">CHEVRON #111-HWY 66 ASHL</td>
    <td class="column1 style5 s">2500 HWY. 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row154">
    <td class="column0 style3 s">S. TOWN MARKET &amp; DELI ASHLAND</td>
    <td class="column1 style4 s">1522/1524 SISKIYOU BLVD</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row155">
    <td class="column0 style2 s">S. TOWN MARKET &amp; DELI ASH</td>
    <td class="column1 style5 s">1522/1524 SISKIYOU BLVD</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row156">
    <td class="column0 style2 s">S. TOWN MARKET &amp; DELI ASH</td>
    <td class="column1 style5 s">1522/1524 SISKIYOU BLVD</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row157">
    <td class="column0 style2 s">S. TOWN MARKET &amp; DELI ASH</td>
    <td class="column1 style5 s">1522/1524 SISKIYOU BLVD</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row158">
    <td class="column0 style2 s">S. TOWN MARKET &amp; DELI ASH</td>
    <td class="column1 style5 s">1522/1524 SISKIYOU BLVD</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row159">
    <td class="column0 style2 s">S. TOWN MARKET &amp; DELI ASH</td>
    <td class="column1 style5 s">1522/1524 SISKIYOU BLVD</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row160">
    <td class="column0 style2 s">S. TOWN MARKET &amp; DELI ASH</td>
    <td class="column1 style5 s">1522/1524 SISKIYOU BLVD</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row161">
    <td class="column0 style2 s">S. TOWN MARKET &amp; DELI ASH</td>
    <td class="column1 style5 s">1522/1524 SISKIYOU BLVD</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row162">
    <td class="column0 style3 s">ASHLAND FOOD COOPERATIVE</td>
    <td class="column1 style4 s">237 NORTH FIRST</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row163">
    <td class="column0 style2 s">ASHLAND FOOD COOPERATIVE</td>
    <td class="column1 style5 s">237 NORTH FIRST</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row164">
    <td class="column0 style3 s">CALDERA BREW/PUBLIC HOUSE</td>
    <td class="column1 style4 s">590 CLOVER LN</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row165">
    <td class="column0 style2 s">CALDERA BREW/PUBLIC HOUSE</td>
    <td class="column1 style5 s">590 CLOVER LN</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row166">
    <td class="column0 style2 s">CALDERA BREW/PUBLIC HOUSE</td>
    <td class="column1 style5 s">590 CLOVER LN</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row167">
    <td class="column0 style3 s">MARKET OF CHOICE #11 ASH</td>
    <td class="column1 style4 s">1475 SISKIYOU BLVD</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row168">
    <td class="column0 style2 s">MARKET OF CHOICE #11 ASH</td>
    <td class="column1 style5 s">1475 SISKIYOU BLVD</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row169">
    <td class="column0 style2 s">MARKET OF CHOICE #11 ASH</td>
    <td class="column1 style5 s">1475 SISKIYOU BLVD</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>

    