
                <tr class="row2922">
                    <td class="column0 style2 s">NOB HILL BAR &amp; GRILL</td>
                    <td class="column1 style5 s">937 NW 23RD R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2923">
                    <td class="column0 style3 s">NU-RITE WAY FOOD CTR</td>
                    <td class="column1 style4 s">3965 N MISSISSIPPI</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2924">
                    <td class="column0 style2 s">NU-RITE WAY FOOD CTR</td>
                    <td class="column1 style5 s">3965 N MISSISSIPPI</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2925">
                    <td class="column0 style2 s">NU-RITE WAY FOOD CTR</td>
                    <td class="column1 style5 s">3965 N MISSISSIPPI</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2926">
                    <td class="column0 style2 s">NU-RITE WAY FOOD CTR</td>
                    <td class="column1 style5 s">3965 N MISSISSIPPI</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2927">
                    <td class="column0 style2 s">NU-RITE WAY FOOD CTR</td>
                    <td class="column1 style5 s">3965 N MISSISSIPPI</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2928">
                    <td class="column0 style2 s">NU-RITE WAY FOOD CTR</td>
                    <td class="column1 style5 s">3965 N MISSISSIPPI</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2929">
                    <td class="column0 style3 s">STOP-IN MARKET 42</td>
                    <td class="column1 style4 s">4515 NE 42ND</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2930">
                    <td class="column0 style2 s">STOP-IN MARKET 42</td>
                    <td class="column1 style5 s">4515 NE 42ND</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2931">
                    <td class="column0 style3 s">FOOD&amp;CIGARETTES FOR LESS</td>
                    <td class="column1 style4 s">2313 NW VAUGHN ST R</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2932">
                    <td class="column0 style2 s">FOOD&amp;CIGARETTES FOR LESS</td>
                    <td class="column1 style5 s">2313 NW VAUGHN ST R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2933">
                    <td class="column0 style3 s">SAFEWAY #2790 PEARL</td>
                    <td class="column1 style4 s">1303 NW LOVEJOY ST</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2934">
                    <td class="column0 style2 s">SAFEWAY #2790 PEARL</td>
                    <td class="column1 style5 s">1303 NW LOVEJOY ST</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2935">
                    <td class="column0 style2 s">SAFEWAY #2790 PEARL</td>
                    <td class="column1 style5 s">1303 NW LOVEJOY ST</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2936">
                    <td class="column0 style2 s">SAFEWAY #2790 PEARL</td>
                    <td class="column1 style5 s">1303 NW LOVEJOY ST</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2937">
                    <td class="column0 style2 s">SAFEWAY #2790 PEARL</td>
                    <td class="column1 style5 s">1303 NW LOVEJOY ST</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2938">
                    <td class="column0 style3 s">FRED MEYER #600-HOLLYWOD</td>
                    <td class="column1 style4 s">3030 NE WEIDLER</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2939">
                    <td class="column0 style2 s">FRED MEYER #600-HLYWD</td>
                    <td class="column1 style5 s">3030 NE WEIDLER</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2940">
                    <td class="column0 style2 s">FRED MEYER #600-HLYWD</td>
                    <td class="column1 style5 s">3030 NE WEIDLER</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2941">
                    <td class="column0 style2 s">FRED MEYER #600-HLYWD</td>
                    <td class="column1 style5 s">3030 NE WEIDLER</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2942">
                    <td class="column0 style2 s">FRED MEYER #600-HLYWD</td>
                    <td class="column1 style5 s">3030 NE WEIDLER</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2943">
                    <td class="column0 style2 s">FRED MEYER #600-HLYWD</td>
                    <td class="column1 style5 s">3030 NE WEIDLER</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2944">
                    <td class="column0 style2 s">FRED MEYER #600-HLYWD</td>
                    <td class="column1 style5 s">3030 NE WEIDLER</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2945">
                    <td class="column0 style3 s">LPK MARKET</td>
                    <td class="column1 style4 s">7320 NE FREMONT</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2946">
                    <td class="column0 style2 s">LPK MARKET</td>
                    <td class="column1 style5 s">7320 NE FREMONT</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2947">
                    <td class="column0 style2 s">LPK MARKET</td>
                    <td class="column1 style5 s">7320 NE FREMONT</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2948">
                    <td class="column0 style3 s">NEW SEASONS WOODSTOCK</td>
                    <td class="column1 style4 s">4500 SE WOODSTOCK BLVD</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2949">
                    <td class="column0 style2 s">NEW SEASONS #1117 WDSTOCK</td>
                    <td class="column1 style5 s">4500 SE WOODSTOCK BLVD</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2950">
                    <td class="column0 style2 s">NEW SEASONS #1117 WDSTOCK</td>
                    <td class="column1 style5 s">4500 SE WOODSTOCK BLVD</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2951">
                    <td class="column0 style2 s">NEW SEASONS #1117 WDSTOCK</td>
                    <td class="column1 style5 s">4500 SE WOODSTOCK BLVD</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2952">
                    <td class="column0 style2 s">NEW SEASONS #1117 WDSTOCK</td>
                    <td class="column1 style5 s">4500 SE WOODSTOCK BLVD</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2953">
                    <td class="column0 style2 s">NEW SEASONS #1117 WDSTOCK</td>
                    <td class="column1 style5 s">4500 SE WOODSTOCK BLVD</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2954">
                    <td class="column0 style3 s">THE LITTLE STORE</td>
                    <td class="column1 style4 s">8898 SW LEAHY RD</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2955">
                    <td class="column0 style2 s">THE LITTLE STORE</td>
                    <td class="column1 style5 s">8898 SW LEAHY RD</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2956">
                    <td class="column0 style3 s">SAFEWAY #2448 JEFFERSON</td>
                    <td class="column1 style4 s">1010 SW JEFFERSON</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2957">
                    <td class="column0 style2 s">SAFEWAY #2448 JEFFERSON</td>
                    <td class="column1 style5 s">1010 SW JEFFERSON</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2958">
                    <td class="column0 style2 s">SAFEWAY #2448 JEFFERSON</td>
                    <td class="column1 style5 s">1010 SW JEFFERSON</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2959">
                    <td class="column0 style3 s">THUNDERBIRD BAR</td>
                    <td class="column1 style4 s">5339 SE FOSTER RD</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2960">
                    <td class="column0 style2 s">THUNDERBIRD BAR</td>
                    <td class="column1 style5 s">5339 SE FOSTER RD</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2961">
                    <td class="column0 style3 s">NEW SEASONS SEVEN CORNERS</td>
                    <td class="column1 style4 s">1954 SE DIVISION</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2962">
                    <td class="column0 style2 s">NEW SEASONS #1105 7 CRNRS</td>
                    <td class="column1 style5 s">1954 SE DIVISION</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2963">
                    <td class="column0 style2 s">NEW SEASONS #1105 7 CRNRS</td>
                     <td class="column1 style5 s">1954 SE DIVISION</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2964">
                    <td class="column0 style2 s">NEW SEASONS #1105 7 CRNRS</td>
                    <td class="column1 style5 s">1954 SE DIVISION</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2965">
                    <td class="column0 style3 s">PRESCOTT CORNER MKT</td>
                    <td class="column1 style4 s">1460 NE PRESCOTT</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2966">
                    <td class="column0 style2 s">PRESCOTT CORNER MKT</td>
                    <td class="column1 style5 s">1460 NE PRESCOTT</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2967">
                    <td class="column0 style3 s">TIMBERLINE LODGE-AIRPORT</td>
                    <td class="column1 style4 s">7000 NE AIRPORT WAY D2016</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2968">
                    <td class="column0 style2 s">TIMBERLINE LODGE-AIRPORT</td>
                    <td class="column1 style5 s">7000 NE AIRPORT WAY D2016</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2969">
                    <td class="column0 style2 s">TIMBERLINE LODGE-AIRPORT</td>
                    <td class="column1 style5 s">7000 NE AIRPORT WAY D2016</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2970">
                    <td class="column0 style2 s">TIMBERLINE LODGE-AIRPORT</td>
                    <td class="column1 style5 s">7000 NE AIRPORT WAY D2016</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2971">
                    <td class="column0 style2 s">TIMBERLINE LODGE-AIRPORT</td>
                    <td class="column1 style5 s">7000 NE AIRPORT WAY D2016</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2972">
                    <td class="column0 style3 s">NATURAL MART 3</td>
                    <td class="column1 style4 s">522 NW 19TH AVE</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2973">
                    <td class="column0 style2 s">NATURAL MART 3</td>
                    <td class="column1 style5 s">522 NW 19TH AVE</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2974">
                    <td class="column0 style2 s">NATURAL MART 3</td>
                    <td class="column1 style5 s">522 NW 19TH AVE</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2975">
                    <td class="column0 style3 s">WHOLE FOODS 10375-FREMONT</td>
                    <td class="column1 style4 s">3535 NE 15TH AVE R</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2976">
                    <td class="column0 style2 s">WHOLE FOODS 10375-FREMONT</td>
                    <td class="column1 style5 s">3535 NE 15TH AVE R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2977">
                    <td class="column0 style2 s">WHOLE FOODS 10375-FREMONT</td>
                    <td class="column1 style5 s">3535 NE 15TH AVE R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2978">
                    <td class="column0 style2 s">WHOLE FOODS 10375-FREMONT</td>
                    <td class="column1 style5 s">3535 NE 15TH AVE R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2979">
                    <td class="column0 style2 s">WHOLE FOODS 10375-FREMONT</td>
                    <td class="column1 style5 s">3535 NE 15TH AVE R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2980">
                    <td class="column0 style2 s">WHOLE FOODS 10375-FREMONT</td>
                    <td class="column1 style5 s">3535 NE 15TH AVE R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2981">
                    <td class="column0 style2 s">WHOLE FOODS 10375-FREMONT</td>
                    <td class="column1 style5 s">3535 NE 15TH AVE R</td>
                     <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2982">
                    <td class="column0 style3 s">EASTPORT BEVERAGE</td>
                    <td class="column1 style4 s">8001 SE POWELL BLVD #DD-1</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2983">
                    <td class="column0 style2 s">EASTPORT BEVERAGE</td>
                    <td class="column1 style5 s">8001 SE POWELL BLVD #DD-1</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2984">
                    <td class="column0 style2 s">EASTPORT BEVERAGE</td>
                    <td class="column1 style5 s">8001 SE POWELL BLVD #DD-1</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2985">
                    <td class="column0 style3 s">MY BARTENDER*</td>
                    <td class="column1 style4 s">2305 SE 9TH AVE</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2986">
                    <td class="column0 style2 s">MY BARTENDER*</td>
                    <td class="column1 style5 s">2305 SE 9TH AVE</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2987">
                    <td class="column0 style3 s">ALBERTSONS #0564 NE 181ST</td>
                    <td class="column1 style4 s">451 NE 181ST GLISAN</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2988">
                    <td class="column0 style2 s">ALBERTSONS #0564 NE 181ST</td>
                    <td class="column1 style5 s">451 NE 181ST GLISAN</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2989">
                    <td class="column0 style2 s">ALBERTSONS #0564 NE 181ST</td>
                    <td class="column1 style5 s">451 NE 181ST GLISAN</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2990">
                    <td class="column0 style3 s">RITE AID #5345- ALDER</td>
                    <td class="column1 style4 s">622 SW ALDER R</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2991">
                    <td class="column0 style2 s">RITE AID #5345- ALDER</td>
                    <td class="column1 style5 s">622 SW ALDER R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2992">
                    <td class="column0 style3 s">THE LOMBARD PUB</td>
                    <td class="column1 style4 s">3416 N LOMBARD R</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2993">
                    <td class="column0 style2 s">THE LOMBARD PUB</td>
                    <td class="column1 style5 s">3416 N LOMBARD R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2994">
                    <td class="column0 style2 s">THE LOMBARD PUB</td>
                    <td class="column1 style5 s">3416 N LOMBARD R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2995">
                    <td class="column0 style3 s">US MARKET #175 SE DIVISN</td>
                    <td class="column1 style4 s">17620 SE DIVISION</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2996">
                    <td class="column0 style2 s">US MARKET #175 SE DIVISN</td>
                    <td class="column1 style5 s">17620 SE DIVISION</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2997">
                    <td class="column0 style2 s">US MARKET #175 SE DIVISN</td>
                    <td class="column1 style5 s">17620 SE DIVISION</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2998">
                    <td class="column0 style2 s">US MARKET #175 SE DIVISN</td>
                    <td class="column1 style5 s">17620 SE DIVISION</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2999">
                    <td class="column0 style3 s">WESTSIDE MARKET</td>
                    <td class="column1 style4 s">919 SW 14TH AVE</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3000">
                    <td class="column0 style2 s">WESTSIDE MARKET</td>
                    <td class="column1 style5 s">919 SW 14TH AVE</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3001">
                    <td class="column0 style3 s">THE WURST</td>
                    <td class="column1 style4 s">722 E BURNSIDE</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3002">
                    <td class="column0 style2 s">THE WURST</td>
                    <td class="column1 style5 s">722 E BURNSIDE</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3003">
                    <td class="column0 style2 s">THE WURST</td>
                    <td class="column1 style5 s">722 E BURNSIDE</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3004">
                    <td class="column0 style2 s">THE WURST</td>
                    <td class="column1 style5 s">722 E BURNSIDE</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3005">
                    <td class="column0 style3 s">LANDMARK SALOON</td>
                    <td class="column1 style4 s">4847 SE DIVISION ST</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3006">
                    <td class="column0 style2 s">LANDMARK SALOON</td>
                    <td class="column1 style5 s">4847 SE DIVISION ST</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3007">
                    <td class="column0 style2 s">LANDMARK SALOON</td>
                    <td class="column1 style5 s">4847 SE DIVISION ST</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3008">
                    <td class="column0 style3 s">FLIPSIDE BAR &amp; CARTS</td>
                    <td class="column1 style4 s">9320 SE WOODSTOCK BLVD</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3009">
                    <td class="column0 style2 s">FLIPSIDE BAR &amp; CARTS</td>
                     <td class="column1 style5 s">9320 SE WOODSTOCK BLVD</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3010">
                    <td class="column0 style2 s">FLIPSIDE BAR &amp; CARTS</td>
                    <td class="column1 style5 s">9320 SE WOODSTOCK BLVD</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3011">
                    <td class="column0 style2 s">FLIPSIDE BAR &amp; CARTS</td>
                    <td class="column1 style5 s">9320 SE WOODSTOCK BLVD</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3012">
                    <td class="column0 style3 s">FRED MEYER #125-GLISAN</td>
                    <td class="column1 style4 s">6615 NE GLISAN</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3013">
                    <td class="column0 style2 s">FRED MEYER #125-GLISAN</td>
                    <td class="column1 style5 s">6615 NE GLISAN</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3014">
                    <td class="column0 style3 s">WINCO FOODS #09 SE 82ND</td>
                    <td class="column1 style4 s">11250 SE 82ND AVE L</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3015">
                    <td class="column0 style2 s">WINCO FOODS #09 SE 82ND</td>
                    <td class="column1 style5 s">11250 SE 82ND AVE L</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3016">
                    <td class="column0 style2 s">WINCO FOODS #09 SE 82ND</td>
                    <td class="column1 style5 s">11250 SE 82ND AVE L</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3017">
                    <td class="column0 style2 s">WINCO FOODS #09 SE 82ND</td>
                    <td class="column1 style5 s">11250 SE 82ND AVE L</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3018">
                    <td class="column0 style2 s">WINCO FOODS #09 SE 82ND</td>
                    <td class="column1 style5 s">11250 SE 82ND AVE L</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3019">
                    <td class="column0 style3 s">SAFEWAY #1951 ST JOHNS</td>
                    <td class="column1 style4 s">8330 N IVANHOE ST</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3020">
                    <td class="column0 style2 s">SAFEWAY #1951 ST JOHNS</td>
                    <td class="column1 style5 s">8330 N IVANHOE ST</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3021">
                    <td class="column0 style2 s">SAFEWAY #1951 ST JOHNS</td>
                    <td class="column1 style5 s">8330 N IVANHOE ST</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3022">
                    <td class="column0 style3 s">442 PUB</td>
                    <td class="column1 style4 s">1739 SE HAWTHORNE BLVD</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3023">
                    <td class="column0 style2 s">GOL</td>
                    <td class="column1 style5 s">1739 SE HAWTHORNE BLVD</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3024">
                    <td class="column0 style2 s">GOL</td>
                    <td class="column1 style5 s">1739 SE HAWTHORNE BLVD</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3025">
                    <td class="column0 style3 s">NEW SEASONS SLABTOWN</td>
                    <td class="column1 style4 s">2170 NW RALEIGH ST</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3026">
                    <td class="column0 style2 s">NEW SEASONS #1116 S TOWN</td>
                    <td class="column1 style5 s">2170 NW RALEIGH ST</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3027">
                    <td class="column0 style2 s">NEW SEASONS #1116 S TOWN</td>
                    <td class="column1 style5 s">2170 NW RALEIGH ST</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3028">
                    <td class="column0 style2 s">NEW SEASONS #1116 S TOWN</td>
                    <td class="column1 style5 s">2170 NW RALEIGH ST</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3029">
                    <td class="column0 style2 s">NEW SEASONS #1116 S TOWN</td>
                    <td class="column1 style5 s">2170 NW RALEIGH ST</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3030">
                    <td class="column0 style3 s">KENTON STATION</td>
                    <td class="column1 style4 s">8303 N DENVER L</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3031">
                    <td class="column0 style2 s">KENTON STATION</td>
                    <td class="column1 style5 s">8303 N DENVER L</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3032">
                    <td class="column0 style3 s">SLOANS</td>
                    <td class="column1 style4 s">36 N RUSSELL L</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3033">
                    <td class="column0 style2 s">SLOANS</td>
                    <td class="column1 style5 s">36 N RUSSELL L</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3034">
                    <td class="column0 style2 s">SLOANS</td>
                    <td class="column1 style5 s">36 N RUSSELL L</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3035">
                    <td class="column0 style3 s">ANGELO'S</td>
                    <td class="column1 style4 s">4620 SE HAWTHORNE BL R</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3036">
                    <td class="column0 style2 s">ANGELO'S</td>
                    <td class="column1 style5 s">4620 SE HAWTHORNE BL R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>