
                <tr class="row2018">
                    <td class="column0 style2 s">CROWN MARKET #200 MAIN MF</td>
                    <td class="column1 style5 s">604 W MAIN ST</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2019">
                    <td class="column0 style2 s">CROWN MARKET #200 MAIN MF</td>
                    <td class="column1 style5 s">604 W MAIN ST</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2020">
                    <td class="column0 style2 s">CROWN MARKET #200 MAIN MF</td>
                    <td class="column1 style5 s">604 W MAIN ST</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2021">
                    <td class="column0 style2 s">CROWN MARKET #200 MAIN MF</td>
                    <td class="column1 style5 s">604 W MAIN ST</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2022">
                    <td class="column0 style2 s">CROWN MARKET #200 MAIN MF</td>
                    <td class="column1 style5 s">604 W MAIN ST</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2023">
                    <td class="column0 style3 s">ROSARIO'S ITALIAN RESTAURANT</td>
                    <td class="column1 style4 s">2221 W. MAIN</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2024">
                    <td class="column0 style2 s">ROSARIO'S ITALIAN REST</td>
                    <td class="column1 style5 s">2221 W. MAIN</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2025">
                    <td class="column0 style2 s">ROSARIO'S ITALIAN REST</td>
                    <td class="column1 style5 s">2221 W. MAIN</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2026">
                    <td class="column0 style2 s">ROSARIO'S ITALIAN REST</td>
                    <td class="column1 style5 s">2221 W. MAIN</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                     <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2027">
                    <td class="column0 style2 s">ROSARIO'S ITALIAN REST</td>
                    <td class="column1 style5 s">2221 W. MAIN</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2028">
                    <td class="column0 style3 s">INN AT THE COMMONS</td>
                    <td class="column1 style4 s">200 N. RIVERSIDE</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2029">
                    <td class="column0 style2 s">INN AT THE COMMONS</td>
                    <td class="column1 style5 s">200 N. RIVERSIDE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2030">
                    <td class="column0 style2 s">INN AT THE COMMONS</td>
                    <td class="column1 style5 s">200 N. RIVERSIDE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2031">
                    <td class="column0 style3 s">SHORT STOP MARKT &amp; DEL MEDFORD</td>
                    <td class="column1 style4 s">3320 NORTH PACIFIC HWY</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2032">
                    <td class="column0 style2 s">SHORT STOP MARKT &amp; DEL MF</td>
                    <td class="column1 style5 s">3320 NORTH PACIFIC HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2033">
                    <td class="column0 style2 s">SHORT STOP MARKT &amp; DEL MF</td>
                    <td class="column1 style5 s">3320 NORTH PACIFIC HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2034">
                    <td class="column0 style2 s">SHORT STOP MARKT &amp; DEL MF</td>
                    <td class="column1 style5 s">3320 NORTH PACIFIC HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2035">
                    <td class="column0 style2 s">SHORT STOP MARKT &amp; DEL MF</td>
                    <td class="column1 style5 s">3320 NORTH PACIFIC HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2036">
                    <td class="column0 style3 s">SHERM'S FOOD 4 LESS MEDFORD</td>
                    <td class="column1 style4 s">2230 BIDDLE RD</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2037">
                    <td class="column0 style2 s">SHERM'S FOOD 4 LESS MF</td>
                    <td class="column1 style5 s">2230 BIDDLE RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD SYRAH PORT 375ML</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2038">
                    <td class="column0 style2 s">SHERM'S FOOD 4 LESS MF</td>
                    <td class="column1 style5 s">2230 BIDDLE RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2039">
                    <td class="column0 style2 s">SHERM'S FOOD 4 LESS MF</td>
                    <td class="column1 style5 s">2230 BIDDLE RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2040">
                    <td class="column0 style2 s">SHERM'S FOOD 4 LESS MF</td>
                    <td class="column1 style5 s">2230 BIDDLE RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2041">
                    <td class="column0 style2 s">SHERM'S FOOD 4 LESS MF</td>
                    <td class="column1 style5 s">2230 BIDDLE RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2042">
                    <td class="column0 style2 s">SHERM'S FOOD 4 LESS MF</td>
                    <td class="column1 style5 s">2230 BIDDLE RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2043">
                    <td class="column0 style2 s">SHERM'S FOOD 4 LESS MF</td>
                    <td class="column1 style5 s">2230 BIDDLE RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2044">
                    <td class="column0 style2 s">SHERM'S FOOD 4 LESS MF</td>
                    <td class="column1 style5 s">2230 BIDDLE RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2045">
                    <td class="column0 style2 s">SHERM'S FOOD 4 LESS MF</td>
                    <td class="column1 style5 s">2230 BIDDLE RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2046">
                    <td class="column0 style2 s">SHERM'S FOOD 4 LESS MF</td>
                    <td class="column1 style5 s">2230 BIDDLE RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2047">
                    <td class="column0 style2 s">SHERM'S FOOD 4 LESS MF</td>
                    <td class="column1 style5 s">2230 BIDDLE RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2048">
                    <td class="column0 style2 s">SHERM'S FOOD 4 LESS MF</td>
                    <td class="column1 style5 s">2230 BIDDLE RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2049">
                    <td class="column0 style2 s">SHERM'S FOOD 4 LESS MF</td>
                    <td class="column1 style5 s">2230 BIDDLE RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2050">
                    <td class="column0 style2 s">SHERM'S FOOD 4 LESS MF</td>
                    <td class="column1 style5 s">2230 BIDDLE RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2051">
                    <td class="column0 style3 s">MISOYA BISTRO</td>
                    <td class="column1 style4 s">235 THEATRE ALLEY</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2052">
                    <td class="column0 style2 s">MISOYA BISTRO</td>
                    <td class="column1 style5 s">235 THEATRE ALLEY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2053">
                    <td class="column0 style2 s">MISOYA BISTRO</td>
                    <td class="column1 style5 s">235 THEATRE ALLEY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                     <tr class="row2054">
                    <td class="column0 style3 s">QUALITY MARKET MEDFORD</td>
                    <td class="column1 style4 s">1211 EAST JACKSON STREET</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2055">
                    <td class="column0 style2 s">QUALITY MARKET MF</td>
                    <td class="column1 style5 s">1211 EAST JACKSON STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2056">
                    <td class="column0 style2 s">QUALITY MARKET MF</td>
                    <td class="column1 style5 s">1211 EAST JACKSON STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2057">
                    <td class="column0 style2 s">QUALITY MARKET MF</td>
                    <td class="column1 style5 s">1211 EAST JACKSON STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2058">
                    <td class="column0 style2 s">QUALITY MARKET MF</td>
                    <td class="column1 style5 s">1211 EAST JACKSON STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2059">
                    <td class="column0 style3 s">MARGO'S WINE SHOP &amp; TASTING ROOM</td>
                    <td class="column1 style4 s">940 N PHOENIX RD #102</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2060">
                    <td class="column0 style2 s">MARGO'S WINE SHOP &amp; TAST</td>
                    <td class="column1 style5 s">940 N PHOENIX RD #102</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD SYRAH PORT 375ML</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2061">
                    <td class="column0 style2 s">MARGO'S WINE SHOP &amp; TAST</td>
                    <td class="column1 style5 s">940 N PHOENIX RD #102</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2062">
                    <td class="column0 style2 s">MARGO'S WINE SHOP &amp; TAST</td>
                    <td class="column1 style5 s">940 N PHOENIX RD #102</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                     <tr class="row2063">
                    <td class="column0 style2 s">MARGO'S WINE SHOP &amp; TAST</td>
                    <td class="column1 style5 s">940 N PHOENIX RD #102</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2064">
                    <td class="column0 style3 s">ALBERTSONS #3593 ROSS LANE MEDFORD</td>
                    <td class="column1 style4 s">113 N ROSS LANE</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2065">
                    <td class="column0 style2 s">ALBERTSONS #3593 ROSS MF</td>
                    <td class="column1 style5 s">113 N ROSS LANE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2066">
                    <td class="column0 style2 s">ALBERTSONS #3593 ROSS MF</td>
                    <td class="column1 style5 s">113 N ROSS LANE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2067">
                    <td class="column0 style2 s">ALBERTSONS #3593 ROSS MF</td>
                    <td class="column1 style5 s">113 N ROSS LANE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2068">
                    <td class="column0 style2 s">ALBERTSONS #3593 ROSS MF</td>
                    <td class="column1 style5 s">113 N ROSS LANE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2069">
                    <td class="column0 style2 s">ALBERTSONS #3593 ROSS MF</td>
                    <td class="column1 style5 s">113 N ROSS LANE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2070">
                    <td class="column0 style2 s">ALBERTSONS #3593 ROSS MF</td>
                    <td class="column1 style5 s">113 N ROSS LANE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2071">
                    <td class="column0 style3 s">SMART CHOICE #3</td>
                    <td class="column1 style4 s">3960 S. PACIFIC HIGHWAY</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2072">
                    <td class="column0 style2 s">SMART CHOICE #3</td>
                    <td class="column1 style5 s">3960 S. PACIFIC HIGHWAY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2073">
                    <td class="column0 style3 s">HK SPIRIT COURT ST</td>
                    <td class="column1 style4 s">1325 COURT STREET</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2074">
                    <td class="column0 style2 s">HK SPIRIT COURT ST</td>
                    <td class="column1 style5 s">1325 COURT STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2075">
                    <td class="column0 style3 s">CENTENNIAL GOLF CLUB</td>
                    <td class="column1 style4 s">1900 N PHOENIX</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2076">
                    <td class="column0 style2 s">CENTENNIAL GOLF CLUB</td>
                    <td class="column1 style5 s">1900 N PHOENIX</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2077">
                    <td class="column0 style3 s">ELEMENTS TAPAS BAR &amp; LOUNGE</td>
                    <td class="column1 style4 s">101 E MAIN ST</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2078">
                    <td class="column0 style2 s">ELEMENTS TAPAS BAR&amp;LOUNGE</td>
                    <td class="column1 style5 s">101 E MAIN ST</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2079">
                    <td class="column0 style3 s">FRED MEYER #195 CRATER LAKE HWY</td>
                    <td class="column1 style4 s">2424 CRATER LAKE HIGHWAY</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2080">
                    <td class="column0 style2 s">FRED MEYER #195 CRATER MF</td>
                    <td class="column1 style5 s">2424 CRATER LAKE HIGHWAY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2081">
                    <td class="column0 style2 s">FRED MEYER #195 CRATER MF</td>
                    <td class="column1 style5 s">2424 CRATER LAKE HIGHWAY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2082">
                    <td class="column0 style2 s">FRED MEYER #195 CRATER MF</td>
                    <td class="column1 style5 s">2424 CRATER LAKE HIGHWAY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2083">
                    <td class="column0 style2 s">FRED MEYER #195 CRATER MF</td>
                    <td class="column1 style5 s">2424 CRATER LAKE HIGHWAY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2084">
                    <td class="column0 style2 s">FRED MEYER #195 CRATER MF</td>
                    <td class="column1 style5 s">2424 CRATER LAKE HIGHWAY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2085">
                    <td class="column0 style2 s">FRED MEYER #195 CRATER MF</td>
                    <td class="column1 style5 s">2424 CRATER LAKE HIGHWAY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2086">
                    <td class="column0 style2 s">FRED MEYER #195 CRATER MF</td>
                    <td class="column1 style5 s">2424 CRATER LAKE HIGHWAY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2087">
                    <td class="column0 style2 s">FRED MEYER #195 CRATER MF</td>
                    <td class="column1 style5 s">2424 CRATER LAKE HIGHWAY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2088">
                    <td class="column0 style2 s">FRED MEYER #195 CRATER MF</td>
                    <td class="column1 style5 s">2424 CRATER LAKE HIGHWAY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2089">
                    <td class="column0 style2 s">FRED MEYER #195 CRATER MF</td>
                    <td class="column1 style5 s">2424 CRATER LAKE HIGHWAY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2090">
                    <td class="column0 style2 s">FRED MEYER #195 CRATER MF</td>
                    <td class="column1 style5 s">2424 CRATER LAKE HIGHWAY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2091">
                    <td class="column0 style3 s">MINUTE MARKET #7 TABLE ROCK</td>
                    <td class="column1 style4 s">2521 TABLE ROCK ROAD</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2092">
                    <td class="column0 style2 s">MINUTE MARKET #7 TB RK MF</td>
                    <td class="column1 style5 s">2521 TABLE ROCK ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2093">
                    <td class="column0 style3 s">WHARF FRESH SEAFOOD</td>
                    <td class="column1 style4 s">827 W. JACKSON</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2094">
                    <td class="column0 style2 s">WHARF FRESH SEAFOOD</td>
                    <td class="column1 style5 s">827 W. JACKSON</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2095">
                    <td class="column0 style2 s">WHARF FRESH SEAFOOD</td>
                    <td class="column1 style5 s">827 W. JACKSON</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2096">
                    <td class="column0 style3 s">STEWART MARKET</td>
                    <td class="column1 style4 s">1145 LOZIER LANE</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2097">
                    <td class="column0 style2 s">STEWART MARKET</td>
                    <td class="column1 style5 s">1145 LOZIER LANE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2098">
                    <td class="column0 style3 s">NORTH MEDFORD LIQUOR STORE</td>
                    <td class="column1 style4 s">1590 DELTA WATERS RD</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2099">
                    <td class="column0 style2 s">NORTH MEDFORD LIQUOR ST</td>
                    <td class="column1 style5 s">1590 DELTA WATERS RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2100">
                    <td class="column0 style2 s">NORTH MEDFORD LIQUOR ST</td>
                    <td class="column1 style5 s">1590 DELTA WATERS RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2101">
                    <td class="column0 style2 s">NORTH MEDFORD LIQUOR ST</td>
                    <td class="column1 style5 s">1590 DELTA WATERS RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2102">
                    <td class="column0 style2 s">NORTH MEDFORD LIQUOR ST</td>
                    <td class="column1 style5 s">1590 DELTA WATERS RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2103">
                    <td class="column0 style3 s">MINUTE MARKET #9 HGHLD MF</td>
                    <td class="column1 style4 s">458 HIGHLAND DRIVE</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2104">
                    <td class="column0 style2 s">MINUTE MARKET #9 HGHLD MF</td>
                    <td class="column1 style5 s">458 HIGHLAND DRIVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2105">
                    <td class="column0 style3 s">MEDFORD SPORTS PARK</td>
                    <td class="column1 style4 s">3082 SAMIKE DRIVE</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2106">
                    <td class="column0 style2 s">MEDFORD SPORTS PARK</td>
                    <td class="column1 style5 s">3082 SAMIKE DRIVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2107">
                    <td class="column0 style3 s">CIRCLE K #161 RIVERSIDE</td>
                    <td class="column1 style4 s">1068 S. RIVERSIDE</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2108">
                    <td class="column0 style2 s">CIRCLE K #161 RIVERSID MF</td>
                    <td class="column1 style5 s">1068 S. RIVERSIDE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                     <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2109">
                    <td class="column0 style2 s">CIRCLE K #161 RIVERSID MF</td>
                    <td class="column1 style5 s">1068 S. RIVERSIDE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2110">
                    <td class="column0 style3 s">MINUTE MARKET #2 BARNETT ROAD</td>
                    <td class="column1 style4 s">2608 BARNETT ROAD</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2111">
                    <td class="column0 style2 s">MINUTE MARKET #2 BARN MF</td>
                    <td class="column1 style5 s">2608 BARNETT ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2112">
                    <td class="column0 style3 s">CROWN MARKET STEVENS ST</td>
                    <td class="column1 style4 s">547 STEVENS ST</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2113">
                    <td class="column0 style2 s">CROWN MARKET STEVENS MF</td>
                    <td class="column1 style5 s">547 STEVENS ST</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2114">
                    <td class="column0 style3 s">CARTWRIGHT'S MARKET</td>
                    <td class="column1 style4 s">745 STEWART AVE</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2115">
                    <td class="column0 style2 s">CARTWRIGHT'S MKT ON PREM</td>
                    <td class="column1 style5 s">745 STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2116">
                    <td class="column0 style2 s">CARTWRIGHT'S MKT ON PREM</td>
                    <td class="column1 style5 s">745 STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2117">
                    <td class="column0 style2 s">CARTWRIGHT'S MKT ON PREM</td>
                    <td class="column1 style5 s">745 STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD SYRAH PORT 375ML</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2118">
                    <td class="column0 style2 s">CARTWRIGHT'S MKT ON PREM</td>
                    <td class="column1 style5 s">745 STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2119">
                    <td class="column0 style2 s">CARTWRIGHT'S MKT ON PREM</td>
                    <td class="column1 style5 s">745 STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2120">
                    <td class="column0 style2 s">CARTWRIGHT'S MKT ON PREM</td>
                    <td class="column1 style5 s">745 STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2121">
                    <td class="column0 style3 s">SPIRITS WORLD - MEDFORD</td>
                    <td class="column1 style4 s">535 STEVENS ST. SUITE K</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2122">
                    <td class="column0 style2 s">SPIRITS WORLD- MEDFORD</td>
                    <td class="column1 style5 s">535 STEVENS ST. SUITE K</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2123">
                    <td class="column0 style2 s">SPIRITS WORLD- MEDFORD</td>
                    <td class="column1 style5 s">535 STEVENS ST. SUITE K</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2124">
                    <td class="column0 style2 s">SPIRITS WORLD- MEDFORD</td>
                    <td class="column1 style5 s">535 STEVENS ST. SUITE K</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2125">
                    <td class="column0 style3 s">BI-MART #613 JACKSONVILLE HWY</td>
                    <td class="column1 style4 s">2687 JACKSONVILLE HWY</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2126">
                    <td class="column0 style2 s">BI-MART #613 JVLLE HWY MF</td>
                    <td class="column1 style5 s">2687 JACKSONVILLE HYW</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2127">
                    <td class="column0 style2 s">BI-MART #613 JVLLE HWY MF</td>
                    <td class="column1 style5 s">2687 JACKSONVILLE HYW</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2128">
                    <td class="column0 style2 s">BI-MART #613 JVLLE HWY MF</td>
                    <td class="column1 style5 s">2687 JACKSONVILLE HYW</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2129">
                    <td class="column0 style2 s">BI-MART #613 JVLLE HWY MF</td>
                    <td class="column1 style5 s">2687 JACKSONVILLE HYW</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
