
                <tr class="row3797">
                    <td class="column0 style2 s">CROWN MARKET #600 TALENT</td>
                    <td class="column1 style5 s">806 S PACIFIC HWY</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3798">
                    <td class="column0 style2 s">CROWN MARKET #600 TALENT</td>
                    <td class="column1 style5 s">806 S PACIFIC HWY</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3799">
                    <td class="column0 style2 s">CROWN MARKET #600 TALENT</td>
                    <td class="column1 style5 s">806 S PACIFIC HWY</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3800">
                    <td class="column0 style3 s">TALENT CLUB THE</td>
                    <td class="column1 style4 s">114 TALENT STREET</td>
                    <td class="column2 style7 s">TALENT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3801">
                    <td class="column0 style2 s">TALENT CLUB THE</td>
                    <td class="column1 style5 s">114 TALENT STREET</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3802">
                    <td class="column0 style3 s">CROWN MARKET #500 TALENT</td>
                    <td class="column1 style4 s">160 N PACIFIC HWY #8</td>
                    <td class="column2 style7 s">TALENT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3803">
                    <td class="column0 style2 s">CROWN MARKET #500 TALENT</td>
                    <td class="column1 style5 s">160 N PACIFIC HWY #8</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3804">
                    <td class="column0 style2 s">CROWN MARKET #500 TALENT</td>
                    <td class="column1 style5 s">160 N PACIFIC HWY #8</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3805">
                    <td class="column0 style2 s">CROWN MARKET #500 TALENT</td>
                    <td class="column1 style5 s">160 N PACIFIC HWY #8</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3806">
                    <td class="column0 style2 s">CROWN MARKET #500 TALENT</td>
                    <td class="column1 style5 s">160 N PACIFIC HWY #8</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3807">
                    <td class="column0 style2 s">CROWN MARKET #500 TALENT</td>
                    <td class="column1 style5 s">160 N PACIFIC HWY #8</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3808">
                    <td class="column0 style3 s">TALENT MARKET AND LIQUOR</td>
                    <td class="column1 style4 s">101 NORTH PACIFIC HWY</td>
                    <td class="column2 style7 s">TALENT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3809">
                    <td class="column0 style2 s">TALENT MARKET AND LIQUOR</td>
                    <td class="column1 style5 s">101 NORTH PACIFIC HWY</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3810">
                    <td class="column0 style2 s">TALENT MARKET AND LIQUOR</td>
                    <td class="column1 style5 s">101 NORTH PACIFIC HWY</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3811">
                    <td class="column0 style3 s">TENMILE STORE</td>
                    <td class="column1 style4 s">9857 HWY 42</td>
                    <td class="column2 style7 s">TENMILE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3812">
                    <td class="column0 style2 s">TENMILE STORE</td>
                    <td class="column1 style5 s">9857 HWY 42</td>
                    <td class="column2 style8 s">TENMILE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3813">
                    <td class="column0 style2 s">TENMILE STORE</td>
                    <td class="column1 style5 s">9857 HWY 42</td>
                    <td class="column2 style8 s">TENMILE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3814">
                    <td class="column0 style3 s">PUMP HOUSE BAR &amp; GRILL</td>
                    <td class="column1 style4 s">8320 N. HWY 97</td>
                    <td class="column2 style7 s">TERREBONNE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3815">
                    <td class="column0 style2 s">PUMP HOUSE BAR &amp; GRILL</td>
                    <td class="column1 style5 s">8320 N. HWY 97</td>
                    <td class="column2 style8 s">TERREBONNE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3816">
                    <td class="column0 style2 s">PUMP HOUSE BAR &amp; GRILL</td>
                    <td class="column1 style5 s">8320 N. HWY 97</td>
                    <td class="column2 style8 s">TERREBONNE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3817">
                    <td class="column0 style3 s">FERGUSON'S MARKET</td>
                    <td class="column1 style4 s">8150 N HWY 97</td>
                    <td class="column2 style7 s">TERREBONNE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3818">
                    <td class="column0 style2 s">FERGUSON'S MARKET</td>
                    <td class="column1 style5 s">8150 N HWY 97</td>
                    <td class="column2 style8 s">TERREBONNE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3819">
                    <td class="column0 style2 s">FERGUSON'S MARKET</td>
                    <td class="column1 style5 s">8150 N HWY 97</td>
                    <td class="column2 style8 s">TERREBONNE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3820">
                    <td class="column0 style2 s">FERGUSON'S MARKET</td>
                    <td class="column1 style5 s">8150 N HWY 97</td>
                    <td class="column2 style8 s">TERREBONNE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3821">
                    <td class="column0 style2 s">FERGUSON'S MARKET</td>
                    <td class="column1 style5 s">8150 N HWY 97</td>
                    <td class="column2 style8 s">TERREBONNE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3822">
                    <td class="column0 style2 s">FERGUSON'S MARKET</td>
                    <td class="column1 style5 s">8150 N HWY 97</td>
                    <td class="column2 style8 s">TERREBONNE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3823">
                    <td class="column0 style3 s">SAFEWAY #1489 DALLES</td>
                    <td class="column1 style4 s">520 MT. HOOD STREET</td>
                    <td class="column2 style7 s">THE DALLES</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3824">
                    <td class="column0 style2 s">SAFEWAY #1489 DALLES</td>
                    <td class="column1 style5 s">520 MT. HOOD STREET</td>
                    <td class="column2 style8 s">THE DALLES</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3825">
                    <td class="column0 style2 s">SAFEWAY #1489 DALLES</td>
                    <td class="column1 style5 s">520 MT. HOOD STREET</td>
                    <td class="column2 style8 s">THE DALLES</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3826">
                    <td class="column0 style2 s">SAFEWAY #1489 DALLES</td>
                    <td class="column1 style5 s">520 MT. HOOD STREET</td>
                    <td class="column2 style8 s">THE DALLES</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3827">
                    <td class="column0 style3 s">CENTER MARKET #30</td>
                    <td class="column1 style4 s">1015 WALNUT ST W</td>
                    <td class="column2 style7 s">THE DALLES</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3828">
                    <td class="column0 style2 s">CENTER MARKET #30</td>
                    <td class="column1 style5 s">1015 WALNUT ST W</td>
                    <td class="column2 style8 s">THE DALLES</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3829">
                    <td class="column0 style3 s">RITE AID #5334- DALLES</td>
                    <td class="column1 style4 s">1400W 6TH CASCADE SQ</td>
                    <td class="column2 style7 s">THE DALLES</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3830">
                     <td class="column0 style2 s">RITE AID #5334- DALLES</td>
                    <td class="column1 style5 s">1400W 6TH CASCADE SQ</td>
                    <td class="column2 style8 s">THE DALLES</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3831">
                    <td class="column0 style3 s">FRED MEYER #372-DALLES</td>
                    <td class="column1 style4 s">1215 W 6TH</td>
                    <td class="column2 style7 s">THE DALLES</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3832">
                    <td class="column0 style2 s">FRED MEYER #372-DALLES</td>
                    <td class="column1 style5 s">1215 W 6TH</td>
                    <td class="column2 style8 s">THE DALLES</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3833">
                    <td class="column0 style3 s">ALBERTSONS #3542 BARROWS</td>
                    <td class="column1 style4 s">14300 SW BARROWS RD</td>
                    <td class="column2 style7 s">TIGARD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3834">
                    <td class="column0 style2 s">ALBERTSONS #3542 BARROWS</td>
                    <td class="column1 style5 s">14300 SW BARROWS RD</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3835">
                    <td class="column0 style2 s">ALBERTSONS #3542 BARROWS</td>
                    <td class="column1 style5 s">14300 SW BARROWS RD</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3836">
                    <td class="column0 style2 s">ALBERTSONS #3542 BARROWS</td>
                    <td class="column1 style5 s">14300 SW BARROWS RD</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3837">
                    <td class="column0 style3 s">FRED MEYER #375-TIGARD</td>
                    <td class="column1 style4 s">11565 SW PACIFIC HWY</td>
                    <td class="column2 style7 s">TIGARD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3838">
                    <td class="column0 style2 s">FRED MEYER #375-TIGARD</td>
                    <td class="column1 style5 s">11565 SW PACIFIC HWY</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3839">
                    <td class="column0 style2 s">FRED MEYER #375-TIGARD</td>
                    <td class="column1 style5 s">11565 SW PACIFIC HWY</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3840">
                    <td class="column0 style2 s">FRED MEYER #375-TIGARD</td>
                    <td class="column1 style5 s">11565 SW PACIFIC HWY</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3841">
                    <td class="column0 style2 s">FRED MEYER #375-TIGARD</td>
                    <td class="column1 style5 s">11565 SW PACIFIC HWY</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3842">
                    <td class="column0 style2 s">FRED MEYER #375-TIGARD</td>
                    <td class="column1 style5 s">11565 SW PACIFIC HWY</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3843">
                    <td class="column0 style2 s">FRED MEYER #375-TIGARD</td>
                    <td class="column1 style5 s">11565 SW PACIFIC HWY</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3844">
                    <td class="column0 style3 s">BI-MART #640 PAC HWY</td>
                    <td class="column1 style4 s">13500 SW PAC HWY STE 70</td>
                    <td class="column2 style7 s">TIGARD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3845">
                    <td class="column0 style2 s">BI-MART #640 PAC HWY</td>
                    <td class="column1 style5 s">13500 SW PAC HWY STE 70</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3846">
                    <td class="column0 style3 s">COST PLUS #60 TIGARD*</td>
                    <td class="column1 style4 s">10108 SW WASHINGTON SQ RD</td>
                    <td class="column2 style7 s">TIGARD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3847">
                    <td class="column0 style2 s">COST PLUS #60 TIGARD*</td>
                    <td class="column1 style5 s">10108 SW WASHINGTON SQ RD</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3848">
                    <td class="column0 style2 s">COST PLUS #60 TIGARD*</td>
                    <td class="column1 style5 s">10108 SW WASHINGTON SQ RD</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3849">
                    <td class="column0 style3 s">FLYBOY BREWERY &amp; PUB</td>
                    <td class="column1 style4 s">15230 SW SEQUOIA PKWY 150</td>
                    <td class="column2 style7 s">TIGARD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3850">
                    <td class="column0 style2 s">FLYBOY BREWERY &amp; PUB</td>
                    <td class="column1 style5 s">15230 SW SEQUOIA PKWY 150</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3851">
                    <td class="column0 style3 s">BEACH HUT DELI</td>
                    <td class="column1 style4 s">12436 SW MAIN ST</td>
                    <td class="column2 style7 s">TIGARD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3852">
                    <td class="column0 style2 s">BEACH HUT DELI</td>
                    <td class="column1 style5 s">12436 SW MAIN ST</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3853">
                    <td class="column0 style3 s">SAFEWAY #1478 KING CITY</td>
                    <td class="column1 style4 s">15570 SW PACIFIC HWY</td>
                    <td class="column2 style7 s">TIGARD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3854">
                    <td class="column0 style2 s">SAFEWAY #1478 TIGARD</td>
                    <td class="column1 style5 s">15570 SW PACIFIC HWY</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3855">
                    <td class="column0 style2 s">SAFEWAY #1478 TIGARD</td>
                    <td class="column1 style5 s">15570 SW PACIFIC HWY</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3856">
                    <td class="column0 style2 s">SAFEWAY #1478 TIGARD</td>
                    <td class="column1 style5 s">15570 SW PACIFIC HWY</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3857">
                    <td class="column0 style2 s">SAFEWAY #1478 TIGARD</td>
                    <td class="column1 style5 s">15570 SW PACIFIC HWY</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3858">
                    <td class="column0 style3 s">WALNUT DELI MARKET</td>
                    <td class="column1 style4 s">9930 SW WALNUT STREET</td>
                    <td class="column2 style7 s">TIGARD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3859">
                    <td class="column0 style2 s">WALNUT DELI MARKET</td>
                    <td class="column1 style5 s">9930 SW WALNUT STREET</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3860">
                    <td class="column0 style3 s">THE TIGARD TAPHOUSE</td>
                    <td class="column1 style4 s">9230 SW BURNHAM ST</td>
                    <td class="column2 style7 s">TIGARD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3861">
                    <td class="column0 style2 s">THE TIGARD TAPHOUSE</td>
                    <td class="column1 style5 s">9230 SW BURNHAM ST</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3862">
                    <td class="column0 style2 s">THE TIGARD TAPHOUSE</td>
                    <td class="column1 style5 s">9230 SW BURNHAM ST</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3863">
                    <td class="column0 style3 s">BEER &amp; WINE OUTLET</td>
                    <td class="column1 style4 s">12215 SW MAIN ST RM C&amp;B</td>
                    <td class="column2 style7 s">TIGARD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3864">
                    <td class="column0 style2 s">BEER &amp; WINE OUTLET</td>
                    <td class="column1 style5 s">12215 SW MAIN ST RM C&amp;B</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3865">
                    <td class="column0 style2 s">BEER &amp; WINE OUTLET</td>
                    <td class="column1 style5 s">12215 SW MAIN ST RM C&amp;B</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3866">
                    <td class="column0 style3 s">WHOLE FOODS - GREENWAY</td>
                    <td class="column1 style4 s">12220 SW SCHOLLS FERRY RD</td>
                    <td class="column2 style7 s">TIGARD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                     <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3867">
                    <td class="column0 style2 s">WHOLE FOODS - GREENWAY</td>
                    <td class="column1 style5 s">12220 SW SCHOLLS FERRY RD</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3868">
                    <td class="column0 style2 s">WHOLE FOODS - GREENWAY</td>
                    <td class="column1 style5 s">12220 SW SCHOLLS FERRY RD</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3869">
                    <td class="column0 style2 s">WHOLE FOODS - GREENWAY</td>
                    <td class="column1 style5 s">12220 SW SCHOLLS FERRY RD</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3870">
                    <td class="column0 style3 s">GATOR'S PUB</td>
                    <td class="column1 style4 s">11475 SW PACIFIC HWY</td>
                    <td class="column2 style7 s">TIGARD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3871">
                    <td class="column0 style2 s">GATOR'S PUB</td>
                    <td class="column1 style5 s">11475 SW PACIFIC HWY</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3872">
                    <td class="column0 style2 s">GATOR'S PUB</td>
                    <td class="column1 style5 s">11475 SW PACIFIC HWY</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3873">
                    <td class="column0 style3 s">WHOLE FOODS BRIDGEPORT</td>
                    <td class="column1 style4 s">7380 SW BRIDGEPORT RD</td>
                    <td class="column2 style7 s">TIGARD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3874">
                    <td class="column0 style2 s">WHOLE FOODS 10266-TIGARD</td>
                    <td class="column1 style5 s">7380 SW BRIDGEPORT RD</td>
                    <td class="column2 style8 s">LAKE GROVE AREA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3875">
                    <td class="column0 style2 s">WHOLE FOODS 10266-TIGARD</td>
                    <td class="column1 style5 s">7380 SW BRIDGEPORT RD</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                     </tr>
                    <tr class="row3876">
                    <td class="column0 style2 s">WHOLE FOODS 10266-TIGARD</td>
                    <td class="column1 style5 s">7380 SW BRIDGEPORT RD</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3877">
                    <td class="column0 style3 s">WINCO FOODS #23 TIGARD</td>
                    <td class="column1 style4 s">7501 DARTMOUTH RD</td>
                    <td class="column2 style7 s">TIGARD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3878">
                    <td class="column0 style2 s">WINCO FOODS #23 TIGARD</td>
                    <td class="column1 style5 s">7501 DARTMOUTH RD</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3879">
                    <td class="column0 style2 s">WINCO FOODS #23 TIGARD</td>
                    <td class="column1 style5 s">7501 DARTMOUTH RD</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3880">
                    <td class="column0 style2 s">WINCO FOODS #23 TIGARD</td>
                    <td class="column1 style5 s">7501 DARTMOUTH RD</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>