<tr class="row896">
    <td class="column0 style2 s">RAY'S FOODS #61 EAGLE PT</td>
    <td class="column1 style5 s">11100 HWY 62</td>
    <td class="column2 style8 s">EAGLE POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row897">
    <td class="column0 style2 s">RAY'S FOODS #61 EAGLE PT</td>
    <td class="column1 style5 s">11100 HWY 62</td>
    <td class="column2 style8 s">EAGLE POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row898">
    <td class="column0 style2 s">RAY'S FOODS #61 EAGLE PT</td>
    <td class="column1 style5 s">11100 HWY 62</td>
    <td class="column2 style8 s">EAGLE POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row899">
    <td class="column0 style2 s">RAY'S FOODS #61 EAGLE PT</td>
    <td class="column1 style5 s">11100 HWY 62</td>
    <td class="column2 style8 s">EAGLE POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row900">
    <td class="column0 style3 s">TALON GRILL/EP GOLF CLUB</td>
    <td class="column1 style4 s">100 EAGLE POINT DRIVE</td>
    <td class="column2 style7 s">EAGLE POINT</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row901">
    <td class="column0 style2 s">TALON GRILL/EP GOLF CLUB</td>
    <td class="column1 style5 s">100 EAGLE POINT DRIVE</td>
    <td class="column2 style8 s">EAGLE POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row902">
    <td class="column0 style3 s">FLYING EAGLE MARKET</td>
    <td class="column1 style4 s">14406 HWY 62</td>
    <td class="column2 style7 s">EAGLE POINT</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
     <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row903">
    <td class="column0 style2 s">FLYING EAGLE MARKET</td>
    <td class="column1 style5 s">14406 HWY 62</td>
    <td class="column2 style8 s">EAGLE POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row904">
    <td class="column0 style3 s">EAGLE POINT LIQUOR STORE</td>
    <td class="column1 style4 s">11150 HIGHWAY 62</td>
    <td class="column2 style7 s">EAGLE POINT</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row905">
    <td class="column0 style2 s">EAGLE POINT LIQUOR STORE*</td>
    <td class="column1 style5 s">11150 HIGHWAY 62</td>
    <td class="column2 style8 s">EAGLE POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row906">
    <td class="column0 style3 s">T N T MARKET EASTSIDE</td>
    <td class="column1 style4 s">899 D ST</td>
    <td class="column2 style7 s">EASTSIDE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row907">
    <td class="column0 style2 s">T N T MARKET EASTSIDE</td>
    <td class="column1 style5 s">899 D ST</td>
    <td class="column2 style8 s">EASTSIDE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row908">
    <td class="column0 style3 s">13TH AVENUE MARKET</td>
    <td class="column1 style4 s">410 W 13TH</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row909">
    <td class="column0 style2 s">13TH AVENUE MARKET</td>
    <td class="column1 style5 s">410 W 13TH</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row910">
    <td class="column0 style2 s">13TH AVENUE MARKET</td>
    <td class="column1 style5 s">410 W 13TH</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row911">
    <td class="column0 style3 s">THE WEBFOOT</td>
    <td class="column1 style4 s">839 E 13TH AVE</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row912">
    <td class="column0 style2 s">WEBFOOT THE</td>
    <td class="column1 style5 s">839 E 13TH AVE</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row913">
    <td class="column0 style2 s">WEBFOOT THE</td>
    <td class="column1 style5 s">839 E 13TH AVE</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row914">
    <td class="column0 style3 s">NORTH PARK AVENUE MARKET</td>
    <td class="column1 style4 s">925 N PARK AVE</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row915">
    <td class="column0 style2 s">NORTH PARK AVENUE MARKET</td>
    <td class="column1 style5 s">925 N PARK AVE</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row916">
    <td class="column0 style2 s">NORTH PARK AVENUE MARKET</td>
    <td class="column1 style5 s">925 N PARK AVE</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row917">
    <td class="column0 style3 s">RAIN BAR &amp; GRILL</td>
    <td class="column1 style4 s">485 ALEXANDER LOOP #100</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row918">
    <td class="column0 style2 s">RAIN BAR &amp; GRILL</td>
    <td class="column1 style5 s">485 ALEXANDER LOOP #100</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row919">
    <td class="column0 style3 s">JACKALOPE LOUNGE</td>
    <td class="column1 style4 s">453 WILLAMETTE ST.</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row920">
    <td class="column0 style2 s">JACKALOPE LOUNGE</td>
    <td class="column1 style5 s">453 WILLAMETTE ST.</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row921">
    <td class="column0 style2 s">JACKALOPE LOUNGE</td>
    <td class="column1 style5 s">453 WILLAMETTE ST.</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row922">
    <td class="column0 style2 s">JACKALOPE LOUNGE</td>
    <td class="column1 style5 s">453 WILLAMETTE ST.</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row923">
    <td class="column0 style3 s">NEIGHBORHOOD MARKET</td>
    <td class="column1 style4 s">610 W 1ST ST</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row924">
    <td class="column0 style2 s">NEIGHBORHOOD MARKET</td>
    <td class="column1 style5 s">610 W 1ST ST</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row925">
    <td class="column0 style2 s">NEIGHBORHOOD MARKET</td>
    <td class="column1 style5 s">610 W 1ST ST</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row926">
    <td class="column0 style3 s">THE DAVIS RESTAURANT &amp; BAR</td>
    <td class="column1 style4 s">94 W BROADWAY</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row927">
    <td class="column0 style2 s">THE DAVIS RESTAURANT &amp; BAR</td>
    <td class="column1 style5 s">94 W BROADWAY</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row928">
    <td class="column0 style2 s">THE DAVIS RESTAURANT &amp; BAR</td>
    <td class="column1 style5 s">94 W BROADWAY</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row929">
    <td class="column0 style3 s">BI-MART #663 ROYAL</td>
    <td class="column1 style4 s">4780 ROYAL AVE</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row930">
    <td class="column0 style2 s">BI-MART #663 ROYAL</td>
    <td class="column1 style5 s">4780 ROYAL AVE</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row931">
    <td class="column0 style3 s">PHILYAW'S COOKOUT &amp; CATERING</td>
    <td class="column1 style4 s">1050 BETHEL DR SUITE D1</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row932">
    <td class="column0 style2 s">PHILYAW'S COOKOUT</td>
    <td class="column1 style5 s">1050 BETHEL DR SUITE D1</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row933">
    <td class="column0 style2 s">PHILYAW'S COOKOUT</td>
    <td class="column1 style5 s">1050 BETHEL DR SUITE D1</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row934">
    <td class="column0 style2 s">PHILYAW'S COOKOUT</td>
    <td class="column1 style5 s">1050 BETHEL DR SUITE D1</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row935">
    <td class="column0 style2 s">PHILYAW'S COOKOUT</td>
    <td class="column1 style5 s">1050 BETHEL DR SUITE D1</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row936">
    <td class="column0 style2 s">PHILYAW'S COOKOUT</td>
    <td class="column1 style5 s">1050 BETHEL DR SUITE D1</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row937">
    <td class="column0 style3 s">FRED MEYER #325 DIVISION</td>
    <td class="column1 style4 s">60 DIVISION</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row938">
    <td class="column0 style2 s">FRED MEYER #325 DIVISION</td>
    <td class="column1 style5 s">60 DIVISION</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row939">
    <td class="column0 style2 s">FRED MEYER #325 DIVISION</td>
    <td class="column1 style5 s">60 DIVISION</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row940">
    <td class="column0 style2 s">FRED MEYER #325 DIVISION</td>
    <td class="column1 style5 s">60 DIVISION</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row941">
    <td class="column0 style3 s">DOC'S PAD</td>
    <td class="column1 style4 s">710 WILLAMETTE ST.</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row942">
    <td class="column0 style2 s">DOC'S PAD</td>
    <td class="column1 style5 s">710 WILLAMETTE ST.</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row943">
    <td class="column0 style3 s">COUNTRYSIDE PIZZA</td>
    <td class="column1 style4 s">645 RIVER ROAD</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row944">
    <td class="column0 style2 s">COUNTRYSIDE PIZZA</td>
    <td class="column1 style5 s">645 RIVER ROAD</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row945">
    <td class="column0 style3 s">WILD DUCK CAFE</td>
    <td class="column1 style4 s">1419 VILLARD ST.</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row946">
    <td class="column0 style2 s">WILD DUCK CAFE</td>
    <td class="column1 style5 s">1419 VILLARD ST.</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row947">
    <td class="column0 style3 s">DS MARKET WEST 11</td>
    <td class="column1 style4 s">58 W 11TH AVE STE B</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row948">
    <td class="column0 style2 s">DS MARKET WEST 11</td>
    <td class="column1 style5 s">58 W 11TH AVE STE B</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row949">
    <td class="column0 style2 s">DS MARKET WEST 11</td>
    <td class="column1 style5 s">58 W 11TH AVE STE B</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row950">
    <td class="column0 style2 s">DS MARKET WEST 11</td>
    <td class="column1 style5 s">58 W 11TH AVE STE B</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row951">
    <td class="column0 style2 s">DS MARKET WEST 11</td>
    <td class="column1 style5 s">58 W 11TH AVE STE B</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row952">
    <td class="column0 style3 s">WOW HALL-CCPA</td>
    <td class="column1 style4 s">291 WEST 8TH</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row953">
    <td class="column0 style2 s">WOW HALL-CCPA</td>
    <td class="column1 style5 s">291 WEST 8TH</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row954">
    <td class="column0 style2 s">WOW HALL-CCPA</td>
    <td class="column1 style5 s">291 WEST 8TH</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row955">
    <td class="column0 style3 s">AMAZON MARKET</td>
    <td class="column1 style4 s">1815 W 11TH</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row956">
    <td class="column0 style2 s">AMAZON MKT</td>
    <td class="column1 style5 s">1815 W 11TH</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row957">
    <td class="column0 style3 s">COST PLUS #167 EUGENE</td>
    <td class="column1 style4 s">1011 VALLEY RIVER WAY</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row958">
    <td class="column0 style2 s">COST PLUS #167 EUGENE</td>
    <td class="column1 style5 s">1011 VALLEY RIVER WAY</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row959">
    <td class="column0 style2 s">COST PLUS #167 EUGENE</td>
    <td class="column1 style5 s">1011 VALLEY RIVER WAY</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row960">
    <td class="column0 style3 s">THE STARLIGHT INC</td>
    <td class="column1 style4 s">830 OLIVE ST</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row961">
    <td class="column0 style2 s">THE STARLIGHT INC</td>
    <td class="column1 style5 s">830 OLIVE ST</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row962">
    <td class="column0 style3 s">ALBERTSONS #3564 HILYARD</td>
    <td class="column1 style4 s">3075 HILYARD ST</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row963">
    <td class="column0 style2 s">ALBERTSONS #3564 HILYARD</td>
    <td class="column1 style5 s">3075 HILYARD ST</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row964">
    <td class="column0 style2 s">ALBERTSONS #3564 HILYARD</td>
    <td class="column1 style5 s">3075 HILYARD ST</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row965">
    <td class="column0 style2 s">ALBERTSONS #3564 HILYARD</td>
    <td class="column1 style5 s">3075 HILYARD ST</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row966">
    <td class="column0 style3 s">FERNRIDGE STORE</td>
    <td class="column1 style4 s">27359 CLEAR LAKE RD</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row967">
    <td class="column0 style2 s">FERNRIDGE STORE</td>
    <td class="column1 style5 s">27359 CLEAR LAKE RD</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row968">
    <td class="column0 style2 s">FERNRIDGE STORE</td>
    <td class="column1 style5 s">27359 CLEAR LAKE RD</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row969">
    <td class="column0 style2 s">FERNRIDGE STORE</td>
    <td class="column1 style5 s">27359 CLEAR LAKE RD</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row970">
    <td class="column0 style3 s">SAFEWAY #420 COBURG RD</td>
    <td class="column1 style4 s">1500 COBURG RD</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row971">
    <td class="column0 style2 s">SAFEWAY #420 COBURG RD</td>
    <td class="column1 style5 s">1500 COBURG RD</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row972">
    <td class="column0 style2 s">SAFEWAY #420 COBURG RD</td>
    <td class="column1 style5 s">1500 COBURG RD</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row973">
    <td class="column0 style3 s">ALBERTSONS #0560 DIVISION</td>
    <td class="column1 style4 s">55 DIVISION</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row974">
    <td class="column0 style2 s">ALBERTSONS #0560 DIVISION</td>
    <td class="column1 style5 s">55 DIVISION</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row975">
    <td class="column0 style2 s">ALBERTSONS #0560 DIVISION</td>
    <td class="column1 style5 s">55 DIVISION</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row976">
    <td class="column0 style2 s">ALBERTSONS #0560 DIVISION</td>
    <td class="column1 style5 s">55 DIVISION</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row977">
    <td class="column0 style2 s">ALBERTSONS #0560 DIVISION</td>
    <td class="column1 style5 s">55 DIVISION</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
     <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row978">
    <td class="column0 style3 s">SCRIBLES BISTRO &amp; DELI</td>
    <td class="column1 style4 s">1123 MONROE ST</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row979">
    <td class="column0 style2 s">SCRIBLES BISTRO &amp; DELI</td>
    <td class="column1 style5 s">1123 MONROE ST</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row980">
    <td class="column0 style2 s">SCRIBLES BISTRO &amp; DELI</td>
    <td class="column1 style5 s">1123 MONROE ST</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row981">
    <td class="column0 style2 s">SCRIBLES BISTRO &amp; DELI</td>
    <td class="column1 style5 s">1123 MONROE ST</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row982">
    <td class="column0 style3 s">CHEVRON GREEN ACRES</td>
    <td class="column1 style4 s">1033 GREEN ACRES</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row983">
    <td class="column0 style2 s">CHEVRON GREEN ACRES</td>
    <td class="column1 style5 s">1033 GREEN ACRES</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row984">
    <td class="column0 style2 s">CHEVRON GREEN ACRES</td>
    <td class="column1 style5 s">1033 GREEN ACRES</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row985">
    <td class="column0 style3 s">AMBROSIA RESTAURANT</td>
    <td class="column1 style4 s">174 E BROADWAY</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row986">
    <td class="column0 style2 s">AMBROSIA RESTAURANT</td>
    <td class="column1 style5 s">174 E BROADWAY</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row987">
    <td class="column0 style3 s">JIFFY MARKET</td>
    <td class="column1 style4 s">3443 HILYARD SUITE A</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row988">
    <td class="column0 style2 s">JIFFY MARKET*</td>
    <td class="column1 style5 s">3443 HILYARD SUITE A</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row989">
    <td class="column0 style2 s">JIFFY MARKET*</td>
    <td class="column1 style5 s">3443 HILYARD SUITE A</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row990">
    <td class="column0 style3 s">JAMESON'S</td>
    <td class="column1 style4 s">115 W BROADWAY</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row991">
    <td class="column0 style2 s">JAMESON'S</td>
    <td class="column1 style5 s">115 W BROADWAY</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row992">
    <td class="column0 style3 s">HAMPTON INN EUGENE OR</td>
    <td class="column1 style4 s">3780 WEST 11TH AVE</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row993">
    <td class="column0 style2 s">HAMPTON INN EUGENE OR</td>
    <td class="column1 style5 s">3780 WEST 11TH AVE</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row994">
    <td class="column0 style2 s">HAMPTON INN EUGENE OR</td>
    <td class="column1 style5 s">3780 WEST 11TH AVE</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row995">
    <td class="column0 style3 s">CHURCHILL MARKET &amp; DELI</td>
    <td class="column1 style4 s">2101 BAILEY HILL RD</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row996">
    <td class="column0 style2 s">CHURCHILL MARKET &amp; DELI</td>
    <td class="column1 style5 s">2101 BAILEY HILL RD</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row997">
    <td class="column0 style2 s">CHURCHILL MARKET &amp; DELI</td>
    <td class="column1 style5 s">2101 BAILEY HILL RD</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row998">
    <td class="column0 style2 s">CHURCHILL MARKET &amp; DELI</td>
    <td class="column1 style5 s">2101 BAILEY HILL RD</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row999">
    <td class="column0 style2 s">CHURCHILL MARKET &amp; DELI</td>
    <td class="column1 style5 s">2101 BAILEY HILL RD</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1000">
    <td class="column0 style2 s">CHURCHILL MARKET &amp; DELI</td>
    <td class="column1 style5 s">2101 BAILEY HILL RD</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1001">
    <td class="column0 style2 s">CHURCHILL MARKET &amp; DELI</td>
    <td class="column1 style5 s">2101 BAILEY HILL RD</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1002">
    <td class="column0 style3 s">EVEN HOTEL EUGENE</td>
    <td class="column1 style4 s">2133 CENTENNIEL PLAZA</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1003">
    <td class="column0 style2 s">EVEN HOTEL EUGENE</td>
    <td class="column1 style5 s">2133 CENTENNIEL PLAZA</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1004">
    <td class="column0 style2 s">EVEN HOTEL EUGENE</td>
    <td class="column1 style5 s">2133 CENTENNIEL PLAZA</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1005">
    <td class="column0 style3 s">FRIENDLY STREET MARKET</td>
    <td class="column1 style4 s">2757 FRIENDLY ST</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1006">
    <td class="column0 style2 s">FRIENDLY STREET MARKET</td>
    <td class="column1 style5 s">2757 FRIENDLY ST</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1007">
    <td class="column0 style3 s">SAFEWAY #4288 E 18TH</td>
    <td class="column1 style4 s">145 E 18TH</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1008">
    <td class="column0 style2 s">SAFEWAY #4288 E 18TH</td>
    <td class="column1 style5 s">145 E 18TH</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1009">
    <td class="column0 style2 s">SAFEWAY #4288 E 18TH</td>
    <td class="column1 style5 s">145 E 18TH</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1010">
    <td class="column0 style3 s">FRED MEYER #417 W 11TH</td>
    <td class="column1 style4 s">3333 W 11TH</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1011">
    <td class="column0 style2 s">FRED MEYER #417 W 11TH</td>
    <td class="column1 style5 s">3333 W 11TH</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1012">
    <td class="column0 style2 s">FRED MEYER #417 W 11TH</td>
    <td class="column1 style5 s">3333 W 11TH</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1013">
    <td class="column0 style2 s">FRED MEYER #417 W 11TH</td>
    <td class="column1 style5 s">3333 W 11TH</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1014">
    <td class="column0 style2 s">FRED MEYER #417 W 11TH</td>
    <td class="column1 style5 s">3333 W 11TH</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
     <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1015">
    <td class="column0 style2 s">FRED MEYER #417 W 11TH</td>
    <td class="column1 style5 s">3333 W 11TH</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1016">
    <td class="column0 style2 s">FRED MEYER #417 W 11TH</td>
    <td class="column1 style5 s">3333 W 11TH</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    
    <tr class="row1017">
        <td class="column0 style2 s">FRED MEYER #417 W 11TH</td>
        <td class="column1 style5 s">3333 W 11TH</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1018">
        <td class="column0 style2 s">FRED MEYER #417 W 11TH</td>
        <td class="column1 style5 s">3333 W 11TH</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1019">
        <td class="column0 style2 s">FRED MEYER #417 W 11TH</td>
        <td class="column1 style5 s">3333 W 11TH</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1020">
        <td class="column0 style3 s">THE PINT POT PUBLIC HOUSE</td>
        <td class="column1 style4 s">195 E 17TH AVE</td>
        <td class="column2 style7 s">EUGENE</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1021">
        <td class="column0 style2 s">PINT POT PUBLIC HOUSE TH</td>
        <td class="column1 style5 s">195 E 17TH AVE</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1022">
        <td class="column0 style3 s">WINCO FOODS #39 BARGER</td>
        <td class="column1 style4 s">4275 BARGER</td>
        <td class="column2 style7 s">EUGENE</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1023">
        <td class="column0 style2 s">WINCO FOODS #39 BARGER</td>
        <td class="column1 style5 s">4275 BARGER</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">ROCK POINT RIVER RED</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1024">
        <td class="column0 style2 s">WINCO FOODS #39 BARGER</td>
        <td class="column1 style5 s">4275 BARGER</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1025">
        <td class="column0 style2 s">WINCO FOODS #39 BARGER</td>
        <td class="column1 style5 s">4275 BARGER</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1026">
        <td class="column0 style2 s">WINCO FOODS #39 BARGER</td>
        <td class="column1 style5 s">4275 BARGER</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1027">
        <td class="column0 style2 s">WINCO FOODS #39 BARGER</td>
        <td class="column1 style5 s">4275 BARGER</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1028">
        <td class="column0 style2 s">WINCO FOODS #39 BARGER</td>
        <td class="column1 style5 s">4275 BARGER</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1029">
        <td class="column0 style3 s">ALBERTSONS #3529 18TH</td>
        <td class="column1 style4 s">1675 W 18TH AVE</td>
        <td class="column2 style7 s">EUGENE</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1030">
        <td class="column0 style2 s">ALBERTSONS #3529 18TH</td>
        <td class="column1 style5 s">1675 W 18TH AVE</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1031">
        <td class="column0 style2 s">ALBERTSONS #3529 18TH</td>
        <td class="column1 style5 s">1675 W 18TH AVE</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1032">
        <td class="column0 style3 s">ELMER'S EUGENE</td>
        <td class="column1 style4 s">1036 VALLEY RIVER WAY</td>
        <td class="column2 style7 s">EUGENE</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1033">
        <td class="column0 style2 s">ELMER'S EUGENE</td>
        <td class="column1 style5 s">1036 VALLEY RIVER WAY</td>
        <td class="column2 style8 s">EUGENE</td>
         <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1034">
        <td class="column0 style2 s">ELMER'S EUGENE</td>
        <td class="column1 style5 s">1036 VALLEY RIVER WAY</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT RIVER RED</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1035">
        <td class="column0 style2 s">ELMER'S EUGENE</td>
        <td class="column1 style5 s">1036 VALLEY RIVER WAY</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1036">
        <td class="column0 style3 s">GOOD TIMES CAFE &amp; BAR</td>
        <td class="column1 style4 s">375 E 7TH</td>
        <td class="column2 style7 s">EUGENE</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1037">
        <td class="column0 style2 s">GOOD TIMES CAFE &amp; BAR</td>
        <td class="column1 style5 s">375 E 7TH</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1038">
        <td class="column0 style2 s">GOOD TIMES CAFE &amp; BAR</td>
        <td class="column1 style5 s">375 E 7TH</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1039">
        <td class="column0 style3 s">HILLTOP MARKET #2</td>
        <td class="column1 style4 s">3225 DONALD STREET</td>
        <td class="column2 style7 s">EUGENE</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1040">
        <td class="column0 style2 s">HILLTOP MARKET #2</td>
        <td class="column1 style5 s">3225 DONALD STREET</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">ROCK POINT RIVER RED</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1041">
        <td class="column0 style2 s">HILLTOP MARKET #2</td>
        <td class="column1 style5 s">3225 DONALD STREET</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1042">
        <td class="column0 style3 s">RITE AID #05374- ECHO HOLLOW</td>
        <td class="column1 style4 s">1970 ECHO HOLLOW RD</td>
        <td class="column2 style7 s">EUGENE</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1043">
        <td class="column0 style2 s">RITE AID #05374- ECHO HLW</td>
        <td class="column1 style5 s">1970 ECHO HOLLOW RD</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1044">
        <td class="column0 style3 s">PACIFIC ROADS</td>
        <td class="column1 style4 s">2340 IRVING RD</td>
        <td class="column2 style7 s">EUGENE</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1045">
        <td class="column0 style2 s">PACIFIC ROADS</td>
        <td class="column1 style5 s">2340 IRVING RD</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1046">
        <td class="column0 style2 s">PACIFIC ROADS</td>
        <td class="column1 style5 s">2340 IRVING RD</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1047">
        <td class="column0 style2 s">PACIFIC ROADS</td>
        <td class="column1 style5 s">2340 IRVING RD</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1048">
        <td class="column0 style3 s">OREGON ELECTRIC STATION</td>
        <td class="column1 style4 s">27 E 5TH AVE</td>
        <td class="column2 style7 s">EUGENE</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1049">
        <td class="column0 style2 s">OREGON ELECTRIC STATION</td>
        <td class="column1 style5 s">27 E 5TH AVE</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1050">
        <td class="column0 style3 s">BI-MART #649 WILLAKENZIE</td>
        <td class="column1 style4 s">2510 WILLAKENZIE</td>
        <td class="column2 style7 s">EUGENE</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1051">
        <td class="column0 style2 s">BI-MART #649 WILLAKENZIE</td>
        <td class="column1 style5 s">2510 WILLAKENZIE</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1052">
        <td class="column0 style3 s">NEW FRONTIER MARKET</td>
        <td class="column1 style4 s">1101 W 8TH</td>
        <td class="column2 style7 s">EUGENE</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1053">
        <td class="column0 style2 s">NEW FRONTIER MARKET</td>
        <td class="column1 style5 s">1101 W 8TH</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1054">
        <td class="column0 style2 s">NEW FRONTIER MARKET</td>
        <td class="column1 style5 s">1101 W 8TH</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row1055">
        <td class="column0 style2 s">NEW FRONTIER MARKET</td>
        <td class="column1 style5 s">1101 W 8TH</td>
        <td class="column2 style8 s">EUGENE</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
