
                <tr class="row3352">
                    <td class="column0 style3 s">J &amp; J MARKET</td>
                    <td class="column1 style4 s">1532 SE STEPHENS</td>
                    <td class="column2 style7 s">ROSEBURG</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3353">
                    <td class="column0 style2 s">J &amp; J MARKET</td>
                    <td class="column1 style5 s">1532 SE STEPHENS</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3354">
                    <td class="column0 style3 s">BI-MART #609 ROSEBURG</td>
                    <td class="column1 style4 s">1381 NW GRDN VLLY RD</td>
                    <td class="column2 style7 s">ROSEBURG</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3355">
                    <td class="column0 style2 s">BI-MART #609 ROSEBURG</td>
                    <td class="column1 style5 s">1381 NW GRDN VLLY RD</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3356">
                    <td class="column0 style3 s">SAFEWAY #1666 STEPHENS</td>
                    <td class="column1 style4 s">1539 NE STEPHENS</td>
                    <td class="column2 style7 s">ROSEBURG</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3357">
                    <td class="column0 style2 s">SAFEWAY #1666 STEPHENS</td>
                    <td class="column1 style5 s">1539 NE STEPHENS</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3358">
                    <td class="column0 style2 s">SAFEWAY #1666 STEPHENS</td>
                    <td class="column1 style5 s">1539 NE STEPHENS</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3359">
                    <td class="column0 style3 s">RITE AID #05380- RV MALL</td>
                    <td class="column1 style4 s">1430 NW GARDEN VLLY</td>
                    <td class="column2 style7 s">ROSEBURG</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3360">
                    <td class="column0 style2 s">RITE AID #05380- RV MALL</td>
                    <td class="column1 style5 s">1430 NW GARDEN VLLY</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3361">
                    <td class="column0 style3 s">ALBERTSONS #0515 ROSEBURG</td>
                    <td class="column1 style4 s">3013 NW STEWART PARKWAY</td>
                    <td class="column2 style7 s">ROSEBURG</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3362">
                    <td class="column0 style2 s">ALBERTSONS #0515 ROSEBURG</td>
                    <td class="column1 style5 s">3013 NW STEWART PARKWAY</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3363">
                    <td class="column0 style2 s">ALBERTSONS #0515 ROSEBURG</td>
                    <td class="column1 style5 s">3013 NW STEWART PARKWAY</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3364">
                    <td class="column0 style2 s">ALBERTSONS #0515 ROSEBURG</td>
                    <td class="column1 style5 s">3013 NW STEWART PARKWAY</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3365">
                    <td class="column0 style2 s">ALBERTSONS #0515 ROSEBURG</td>
                    <td class="column1 style5 s">3013 NW STEWART PARKWAY</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3366">
                    <td class="column0 style3 s">DIAMOND LAKE MARKET</td>
                    <td class="column1 style4 s">2976 NE DIAMOND LAKE BLVD</td>
                    <td class="column2 style7 s">ROSEBURG</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3367">
                    <td class="column0 style2 s">DIAMOND LAKE MARKET</td>
                    <td class="column1 style5 s">2976 NE DIAMOND LAKE BLVD</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3368">
                    <td class="column0 style2 s">DIAMOND LAKE MARKET</td>
                    <td class="column1 style5 s">2976 NE DIAMOND LAKE BLVD</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3369">
                    <td class="column0 style3 s">LOGGERS TAP HOUSE INC</td>
                    <td class="column1 style4 s">2060 NW STEWART PKWY</td>
                    <td class="column2 style7 s">ROSEBURG</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3370">
                    <td class="column0 style2 s">LOGGERS TAP HOUSE INC</td>
                    <td class="column1 style5 s">2060 NW STEWART PKWY</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3371">
                    <td class="column0 style3 s">PARROTT HOUSE EST 1891*</td>
                    <td class="column1 style4 s">1772 SE JACKSON ST</td>
                    <td class="column2 style7 s">ROSEBURG</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3372">
                    <td class="column0 style2 s">PARROTT HOUSE EST 1891*</td>
                    <td class="column1 style5 s">1772 SE JACKSON ST</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3373">
                    <td class="column0 style3 s">RIVER FORKS MARKET</td>
                    <td class="column1 style4 s">4342 GARDEN VALLEY R</td>
                    <td class="column2 style7 s">ROSEBURG</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3374">
                    <td class="column0 style2 s">RIVER FORKS MARKET</td>
                    <td class="column1 style5 s">4342 GARDEN VALLEY R</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3375">
                    <td class="column0 style3 s">DOWNTOWN MARKET</td>
                    <td class="column1 style4 s">741 SE JACKSON ST</td>
                    <td class="column2 style7 s">ROSEBURG</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3376">
                    <td class="column0 style2 s">DOWNTOWN MARKET</td>
                    <td class="column1 style5 s">741 SE JACKSON ST</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3377">
                    <td class="column0 style3 s">RAYS FOODS #57 ROSEBURG</td>
                    <td class="column1 style4 s">4601 CARNES RD.</td>
                    <td class="column2 style7 s">ROSEBURG</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3378">
                    <td class="column0 style2 s">RAYS FOODS #57</td>
                    <td class="column1 style5 s">4601 CARNES RD.</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3379">
                    <td class="column0 style2 s">RAYS FOODS #57</td>
                    <td class="column1 style5 s">4601 CARNES RD.</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3380">
                    <td class="column0 style2 s">RAYS FOODS #57</td>
                    <td class="column1 style5 s">4601 CARNES RD.</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3381">
                    <td class="column0 style2 s">RAYS FOODS #57</td>
                    <td class="column1 style5 s">4601 CARNES RD.</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3382">
                    <td class="column0 style2 s">RAYS FOODS #57</td>
                    <td class="column1 style5 s">4601 CARNES RD.</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3383">
                    <td class="column0 style2 s">RAYS FOODS #57</td>
                    <td class="column1 style5 s">4601 CARNES RD.</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3384">
                    <td class="column0 style2 s">RAYS FOODS #57</td>
                    <td class="column1 style5 s">4601 CARNES RD.</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3385">
                    <td class="column0 style2 s">RAYS FOODS #57</td>
                    <td class="column1 style5 s">4601 CARNES RD.</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3386">
                    <td class="column0 style2 s">RAYS FOODS #57</td>
                    <td class="column1 style5 s">4601 CARNES RD.</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3387">
                    <td class="column0 style2 s">RAYS FOODS #57</td>
                    <td class="column1 style5 s">4601 CARNES RD.</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3388">
                    <td class="column0 style2 s">RAYS FOODS #57</td>
                    <td class="column1 style5 s">4601 CARNES RD.</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3389">
                    <td class="column0 style2 s">RAYS FOODS #57</td>
                    <td class="column1 style5 s">4601 CARNES RD.</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3390">
                    <td class="column0 style3 s">SHERMS THUNDERBIRD ROSEBURG</td>
                    <td class="column1 style4 s">2553 STEWART PARKWAY</td>
                    <td class="column2 style7 s">ROSEBURG</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3391">
                    <td class="column0 style2 s">SHERMS THUNDERBIRD</td>
                    <td class="column1 style5 s">2553 STEWART PARKWAY</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3392">
                    <td class="column0 style2 s">SHERMS THUNDERBIRD</td>
                    <td class="column1 style5 s">2553 STEWART PARKWAY</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3393">
                    <td class="column0 style3 s">STEPHENS MARKET</td>
                    <td class="column1 style4 s">1498 SE STEPHENS ST</td>
                    <td class="column2 style7 s">ROSEBURG</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3394">
                    <td class="column0 style2 s">STEPHENS MARKET</td>
                    <td class="column1 style5 s">1498 SE STEPHENS ST</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3395">
                    <td class="column0 style3 s">FRED MEYER #281 ROSEBURG</td>
                    <td class="column1 style4 s">929 NW GARDEN VLY BLVD</td>
                    <td class="column2 style7 s">ROSEBURG</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3396">
                    <td class="column0 style2 s">FRED MEYER #281 ROSEBURG</td>
                    <td class="column1 style5 s">929 NW GARDEN VLY BLVD</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3397">
                    <td class="column0 style2 s">FRED MEYER #281 ROSEBURG</td>
                    <td class="column1 style5 s">929 NW GARDEN VLY BLVD</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3398">
                    <td class="column0 style2 s">FRED MEYER #281 ROSEBURG</td>
                    <td class="column1 style5 s">929 NW GARDEN VLY BLVD</td>
                    <td class="column2 style8 s">ROSEBURG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3399">
                    <td class="column0 style3 s">TOP DOG</td>
                    <td class="column1 style4 s">1798 12TH STREET SE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3400">
                    <td class="column0 style2 s">TOP DOG</td>
                    <td class="column1 style5 s">1798 12TH STREET SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3401">
                    <td class="column0 style2 s">TOP DOG</td>
                    <td class="column1 style5 s">1798 12TH STREET SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3402">
                    <td class="column0 style3 s">MASONRY GRILL</td>
                    <td class="column1 style4 s">120 COMMERCIAL ST NE #A</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3403">
                    <td class="column0 style2 s">MASONRY GRILL</td>
                    <td class="column1 style5 s">120 COMMERCIAL ST NE #A</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3404">
                    <td class="column0 style2 s">MASONRY GRILL</td>
                    <td class="column1 style5 s">120 COMMERCIAL ST NE #A</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3405">
                    <td class="column0 style2 s">MASONRY GRILL</td>
                    <td class="column1 style5 s">120 COMMERCIAL ST NE #A</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3406">
                    <td class="column0 style2 s">MASONRY GRILL</td>
                    <td class="column1 style5 s">120 COMMERCIAL ST NE #A</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3407">
                    <td class="column0 style3 s">UNITED MARKET #110</td>
                    <td class="column1 style4 s">4095 STATE ST</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3408">
                    <td class="column0 style2 s">UNITED MARKET #110</td>
                    <td class="column1 style5 s">4095 STATE ST</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3409">
                    <td class="column0 style3 s">SAFEWAY #1629 CENTER</td>
                    <td class="column1 style4 s">1265 CENTER ST NE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3410">
                    <td class="column0 style2 s">SAFEWAY #1629 CENTER</td>
                    <td class="column1 style5 s">1265 CENTER ST NE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3411">
                    <td class="column0 style3 s">SIMPLY PHO</td>
                    <td class="column1 style4 s">3405 COMMERCIAL ST SE #10</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3412">
                    <td class="column0 style2 s">SIMPLY PHO</td>
                    <td class="column1 style5 s">3405 COMMERCIAL ST SE #10</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3413">
                    <td class="column0 style2 s">SIMPLY PHO</td>
                    <td class="column1 style5 s">3405 COMMERCIAL ST SE #10</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3414">
                    <td class="column0 style2 s">SIMPLY PHO</td>
                    <td class="column1 style5 s">3405 COMMERCIAL ST SE #10</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3415">
                    <td class="column0 style2 s">SIMPLY PHO</td>
                    <td class="column1 style5 s">3405 COMMERCIAL ST SE #10</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3416">
                    <td class="column0 style3 s">DARK HORSE BAR &amp; GRILL</td>
                    <td class="column1 style4 s">1528 BROADWAY ST NE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3417">
                    <td class="column0 style2 s">DARK HORSE BAR &amp; GRILL</td>
                    <td class="column1 style5 s">1528 BROADWAY ST NE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3418">
                    <td class="column0 style3 s">ROTHS #21 PORTLAND ROAD</td>
                    <td class="column1 style4 s">4746 PORTLAND RD NE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3419">
                    <td class="column0 style2 s">ROTHS #21 PORTLAND ROAD</td>
                    <td class="column1 style5 s">4746 PORTLAND RD NE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3420">
                    <td class="column0 style3 s">FRED MEYER #090 MARKET ST</td>
                    <td class="column1 style4 s">3740 MARKET ST NE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3421">
                    <td class="column0 style2 s">FRED MEYER #090 MARKET ST</td>
                    <td class="column1 style5 s">3740 MARKET ST NE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3422">
                    <td class="column0 style2 s">FRED MEYER #090 MARKET ST</td>
                    <td class="column1 style5 s">3740 MARKET ST NE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3423">
                    <td class="column0 style3 s">SAFEWAY #1935 COMMERCIAL</td>
                    <td class="column1 style4 s">5660 COMMERCIAL ST SE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3424">
                    <td class="column0 style2 s">SAFEWAY #1935 COMMERCIAL</td>
                     <td class="column1 style5 s">5660 COMMERCIAL ST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3425">
                    <td class="column0 style2 s">SAFEWAY #1935 COMMERCIAL</td>
                    <td class="column1 style5 s">5660 COMMERCIAL ST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3426">
                    <td class="column0 style2 s">SAFEWAY #1935 COMMERCIAL</td>
                    <td class="column1 style5 s">5660 COMMERCIAL ST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3427">
                    <td class="column0 style2 s">SAFEWAY #1935 COMMERCIAL</td>
                    <td class="column1 style5 s">5660 COMMERCIAL ST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3428">
                    <td class="column0 style3 s">MAGOOS</td>
                    <td class="column1 style4 s">275 COMMERCIAL ST SE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3429">
                    <td class="column0 style2 s">MAGOOS</td>
                    <td class="column1 style5 s">275 COMMERCIAL ST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3430">
                    <td class="column0 style3 s">SAFEWAY #429 LANCSTER</td>
                    <td class="column1 style4 s">3380 LANCASTER DR NE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3431">
                    <td class="column0 style2 s">SAFEWAY #429 LANCSTER</td>
                    <td class="column1 style5 s">3380 LANCASTER DR NE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3432">
                    <td class="column0 style3 s">US MARKET BROADWAY #275</td>
                    <td class="column1 style4 s">1030 BROADWAY NE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3433">
                    <td class="column0 style2 s">US MARKET BROADWAY #275</td>
                    <td class="column1 style5 s">1030 BROADWAY NE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3434">
                    <td class="column0 style3 s">AWESOME INDOOR PLAYGROUND</td>
                    <td class="column1 style4 s">3890 CENTER ST NE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3435">
                    <td class="column0 style2 s">AWESOME INDOOR PLAYGROUND</td>
                    <td class="column1 style5 s">3890 CENTER ST NE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3436">
                    <td class="column0 style2 s">AWESOME INDOOR PLAYGROUND</td>
                    <td class="column1 style5 s">3890 CENTER ST NE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3437">
                    <td class="column0 style3 s">SUNRISE LIQUOR 101</td>
                    <td class="column1 style4 s">1250 LANCASTER DR SE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3438">
                    <td class="column0 style2 s">SUNRISE LIQUOR 101</td>
                    <td class="column1 style5 s">1250 LANCASTER DR SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3439">
                    <td class="column0 style2 s">SUNRISE LIQUOR 101</td>
                    <td class="column1 style5 s">1250 LANCASTER DR SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3440">
                    <td class="column0 style3 s">LANCASTER LIQUOR</td>
                    <td class="column1 style4 s">698 LANCASTER DR NE STE A</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3441">
                    <td class="column0 style2 s">LANCASTER LIQUOR</td>
                    <td class="column1 style5 s">698 LANCASTER DR NE STE A</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3442">
                    <td class="column0 style3 s">ERNIES FOOD MART</td>
                    <td class="column1 style4 s">5322 DALLAS HWY NW</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                     <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3443">
                    <td class="column0 style2 s">ERNIES FOOD MART</td>
                    <td class="column1 style5 s">5322 DALLAS HWY NW</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3444">
                    <td class="column0 style3 s">19TH @ BATTLE CREEK CLUBHOUSE</td>
                    <td class="column1 style4 s">5765 COMMERCIAL ST SE#110</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3445">
                    <td class="column0 style2 s">19TH @ BATTLE CRK CLUBHS</td>
                    <td class="column1 style5 s">5765 COMMERCIAL ST SE#110</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3446">
                    <td class="column0 style2 s">19TH @ BATTLE CRK CLUBHS</td>
                    <td class="column1 style5 s">5765 COMMERCIAL ST SE#110</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3447">
                    <td class="column0 style2 s">19TH @ BATTLE CRK CLUBHS</td>
                    <td class="column1 style5 s">5765 COMMERCIAL ST SE#110</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3448">
                    <td class="column0 style3 s">BEST LITTLE ROADHOUSE</td>
                    <td class="column1 style4 s">1145 COMMERCIAL ST SE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3449">
                    <td class="column0 style2 s">BEST LITTLE ROADHOUSE</td>
                    <td class="column1 style5 s">1145 COMMERCIAL ST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3450">
                    <td class="column0 style2 s">BEST LITTLE ROADHOUSE</td>
                    <td class="column1 style5 s">1145 COMMERCIAL ST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3451">
                    <td class="column0 style3 s">ROTHS #12 WEST SALEM</td>
                    <td class="column1 style4 s">1130 WALLACE RD NW</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3452">
                    <td class="column0 style2 s">ROTHS #12 WEST SALEM</td>
                    <td class="column1 style5 s">1130 WALLACE RD NW</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3453">
                    <td class="column0 style2 s">ROTHS #12 WEST SALEM</td>
                    <td class="column1 style5 s">1130 WALLACE RD NW</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3454">
                    <td class="column0 style2 s">ROTHS #12 WEST SALEM</td>
                    <td class="column1 style5 s">1130 WALLACE RD NW</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3455">
                    <td class="column0 style2 s">ROTHS #12 WEST SALEM</td>
                    <td class="column1 style5 s">1130 WALLACE RD NW</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3456">
                    <td class="column0 style3 s">CENTER MRKT #25 - SALEM</td>
                    <td class="column1 style4 s">9005 RIVER RD N</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3457">
                    <td class="column0 style2 s">CENTER MRKT #25 - SALEM</td>
                    <td class="column1 style5 s">9005 RIVER RD N</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3458">
                    <td class="column0 style2 s">CENTER MRKT #25 - SALEM</td>
                    <td class="column1 style5 s">9005 RIVER RD N</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3459">
                    <td class="column0 style3 s">NIGHT DEPOSIT WHISKEY LIB</td>
                    <td class="column1 style4 s">195 COMMERCIAL ST. N.E.</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3460">
                    <td class="column0 style2 s">NIGHT DEPOSIT WHISKEY LIB</td>
                    <td class="column1 style5 s">195 COMMERCIAL ST. N.E.</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3461">
                    <td class="column0 style2 s">NIGHT DEPOSIT WHISKEY LIB</td>
                    <td class="column1 style5 s">195 COMMERCIAL ST. N.E.</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3462">
                    <td class="column0 style3 s">SALEM CONFERENCE CENTER</td>
                    <td class="column1 style4 s">200 COMMERCIAL ST SE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3463">
                    <td class="column0 style2 s">SALEM CONFERENCE CENTER</td>
                    <td class="column1 style5 s">200 COMMERCIAL ST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3464">
                    <td class="column0 style3 s">ROTHS #2 LANCASTER</td>
                    <td class="column1 style4 s">702 LANCASTER DR NE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3465">
                    <td class="column0 style2 s">ROTHS #2 LANCASTER</td>
                    <td class="column1 style5 s">702 LANCASTER DR NE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>