<tr class="row2130">
    <td class="column0 style2 s">BI-MART #613 JVLLE HWY MF</td>
    <td class="column1 style5 s">2687 JACKSONVILLE HYW</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2131">
    <td class="column0 style3 s">STOP N GO #4 MFR</td>
    <td class="column1 style4 s">523 S CENTRAL</td>
    <td class="column2 style7 s">MEDFORD</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2132">
    <td class="column0 style2 s">STOP N GO #4 MFR</td>
    <td class="column1 style5 s">523 S CENTRAL</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2133">
    <td class="column0 style3 s">KALEIDOSCOPE PIZZERIA &amp; PUB</td>
    <td class="column1 style4 s">3084 CRATER LAKE HWY</td>
    <td class="column2 style7 s">MEDFORD</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2134">
    <td class="column0 style2 s">KALEIDOSCOPE</td>
    <td class="column1 style5 s">3084 CRATER LAKE HWY</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2135">
    <td class="column0 style2 s">KALEIDOSCOPE</td>
    <td class="column1 style5 s">3084 CRATER LAKE HWY</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2136">
    <td class="column0 style2 s">KALEIDOSCOPE</td>
    <td class="column1 style5 s">3084 CRATER LAKE HWY</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2137">
    <td class="column0 style2 s">KALEIDOSCOPE</td>
    <td class="column1 style5 s">3084 CRATER LAKE HWY</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2138">
    <td class="column0 style3 s">SKY HOUSE BAR &amp; GRILL</td>
    <td class="column1 style4 s">1000 TERMINL LOOP PKWY205</td>
    <td class="column2 style7 s">MEDFORD</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2139">
    <td class="column0 style2 s">SKY HOUSE BAR &amp; GRILL</td>
    <td class="column1 style5 s">1000 TERMINL LOOP PKWY205</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2140">
    <td class="column0 style2 s">SKY HOUSE BAR &amp; GRILL</td>
    <td class="column1 style5 s">1000 TERMINL LOOP PKWY205</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2141">
    <td class="column0 style3 s">WOODLAND HEIGHTS GROC MF</td>
    <td class="column1 style4 s">1501 PRUNE</td>
    <td class="column2 style7 s">MEDFORD</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2142">
    <td class="column0 style2 s">WOODLAND HEIGHTS GROC MF</td>
    <td class="column1 style5 s">1501 PRUNE</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
                <tr class="row2143">
                    <td class="column0 style3 s">SHINSEI SUSHI</td>
                    <td class="column1 style4 s">63 ROSSANLY DR STE. C-2</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2144">
                    <td class="column0 style2 s">SHINSEI SUSHI*</td>
                    <td class="column1 style5 s">63 ROSSANLY DR STE. C-2</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2145">
                    <td class="column0 style2 s">SHINSEI SUSHI*</td>
                    <td class="column1 style5 s">63 ROSSANLY DR STE. C-2</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2146">
                    <td class="column0 style3 s">ALBERTSONS #3508 PHOENIX</td>
                    <td class="column1 style4 s">910 N PHOENIX RD</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2147">
                    <td class="column0 style2 s">ALBERTSONS #3508 PHOENIX</td>
                    <td class="column1 style5 s">910 N PHOENIX RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2148">
                    <td class="column0 style2 s">ALBERTSONS #3508 PHOENIX</td>
                    <td class="column1 style5 s">910 N PHOENIX RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2149">
                    <td class="column0 style2 s">ALBERTSONS #3508 PHOENIX</td>
                    <td class="column1 style5 s">910 N PHOENIX RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2150">
                    <td class="column0 style2 s">ALBERTSONS #3508 PHOENIX</td>
                    <td class="column1 style5 s">910 N PHOENIX RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2151">
                    <td class="column0 style2 s">ALBERTSONS #3508 PHOENIX</td>
                    <td class="column1 style5 s">910 N PHOENIX RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2152">
                    <td class="column0 style2 s">ALBERTSONS #3508 PHOENIX</td>
                    <td class="column1 style5 s">910 N PHOENIX RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2153">
                    <td class="column0 style2 s">ALBERTSONS #3508 PHOENIX</td>
                    <td class="column1 style5 s">910 N PHOENIX RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2154">
                    <td class="column0 style2 s">ALBERTSONS #3508 PHOENIX</td>
                    <td class="column1 style5 s">910 N PHOENIX RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2155">
                    <td class="column0 style2 s">ALBERTSONS #3508 PHOENIX</td>
                    <td class="column1 style5 s">910 N PHOENIX RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2156">
                    <td class="column0 style2 s">ALBERTSONS #3508 PHOENIX</td>
                    <td class="column1 style5 s">910 N PHOENIX RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2157">
                    <td class="column0 style2 s">ALBERTSONS #3508 PHOENIX</td>
                    <td class="column1 style5 s">910 N PHOENIX RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2158">
                    <td class="column0 style2 s">ALBERTSONS #3508 PHOENIX</td>
                    <td class="column1 style5 s">910 N PHOENIX RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2159">
                    <td class="column0 style3 s">THUNDERBIRD MARKET #1 MEDFORD</td>
                    <td class="column1 style4 s">2347 WEST MAIN STREET</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2160">
                    <td class="column0 style2 s">THUNDERBIRD #1 MFR</td>
                    <td class="column1 style5 s">2347 WEST MAIN STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2161">
                    <td class="column0 style2 s">THUNDERBIRD #1 MFR</td>
                    <td class="column1 style5 s">2347 WEST MAIN STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2162">
                    <td class="column0 style2 s">THUNDERBIRD #1 MFR</td>
                    <td class="column1 style5 s">2347 WEST MAIN STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2163">
                    <td class="column0 style2 s">THUNDERBIRD #1 MFR</td>
                    <td class="column1 style5 s">2347 WEST MAIN STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2164">
                    <td class="column0 style2 s">THUNDERBIRD #1 MFR</td>
                    <td class="column1 style5 s">2347 WEST MAIN STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2165">
                    <td class="column0 style2 s">THUNDERBIRD #1 MFR</td>
                    <td class="column1 style5 s">2347 WEST MAIN STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2166">
                    <td class="column0 style2 s">THUNDERBIRD #1 MFR</td>
                    <td class="column1 style5 s">2347 WEST MAIN STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2167">
                    <td class="column0 style2 s">THUNDERBIRD #1 MFR</td>
                    <td class="column1 style5 s">2347 WEST MAIN STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2168">
                    <td class="column0 style2 s">THUNDERBIRD #1 MFR</td>
                    <td class="column1 style5 s">2347 WEST MAIN STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2169">
                    <td class="column0 style2 s">THUNDERBIRD #1 MFR</td>
                    <td class="column1 style5 s">2347 WEST MAIN STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2170">
                    <td class="column0 style2 s">THUNDERBIRD #1 MFR</td>
                    <td class="column1 style5 s">2347 WEST MAIN STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2171">
                    <td class="column0 style2 s">THUNDERBIRD #1 MFR</td>
                    <td class="column1 style5 s">2347 WEST MAIN STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2172">
                    <td class="column0 style2 s">THUNDERBIRD #1 MFR</td>
                    <td class="column1 style5 s">2347 WEST MAIN STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2173">
                    <td class="column0 style3 s">SPRING STREET MARKET</td>
                    <td class="column1 style4 s">1910 SPRING STREET</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2174">
                    <td class="column0 style2 s">SPRING STREET MARKET</td>
                    <td class="column1 style5 s">1910 SPRING STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2175">
                    <td class="column0 style2 s">SPRING STREET MARKET</td>
                    <td class="column1 style5 s">1910 SPRING STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2176">
                    <td class="column0 style2 s">SPRING STREET MARKET</td>
                    <td class="column1 style5 s">1910 SPRING STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2177">
                    <td class="column0 style2 s">SPRING STREET MARKET</td>
                    <td class="column1 style5 s">1910 SPRING STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2178">
                    <td class="column0 style3 s">CROWN MARKET #700 MF</td>
                    <td class="column1 style4 s">1808 E BARNETT ROAD</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2179">
                    <td class="column0 style2 s">CROWN MARKET #700 MF</td>
                    <td class="column1 style5 s">1808 E BARNETT ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2180">
                    <td class="column0 style2 s">CROWN MARKET #700 MF</td>
                    <td class="column1 style5 s">1808 E BARNETT ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2181">
                    <td class="column0 style2 s">CROWN MARKET #700 MF</td>
                    <td class="column1 style5 s">1808 E BARNETT ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2182">
                    <td class="column0 style2 s">CROWN MARKET #700 MF</td>
                    <td class="column1 style5 s">1808 E BARNETT ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2183">
                    <td class="column0 style2 s">CROWN MARKET #700 MF</td>
                    <td class="column1 style5 s">1808 E BARNETT ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2184">
                    <td class="column0 style3 s">NEW FAR EAST REST/LOUNGE*</td>
                    <td class="column1 style4 s">236 NORTH FRONT ST</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2185">
                    <td class="column0 style2 s">NEW FAR EAST REST/LOUNGE*</td>
                    <td class="column1 style5 s">236 NORTH FRONT ST</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2186">
                    <td class="column0 style3 s">SOUTHSIDE BEVERAGE</td>
                    <td class="column1 style4 s">51 E STEWART AVE</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2187">
                    <td class="column0 style2 s">SOUTHSIDE BEVERAGE</td>
                    <td class="column1 style5 s">51 E STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2188">
                    <td class="column0 style2 s">SOUTHSIDE BEVERAGE</td>
                    <td class="column1 style5 s">51 E STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2189">
                    <td class="column0 style2 s">SOUTHSIDE BEVERAGE</td>
                    <td class="column1 style5 s">51 E STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2190">
                    <td class="column0 style2 s">SOUTHSIDE BEVERAGE</td>
                    <td class="column1 style5 s">51 E STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2191">
                    <td class="column0 style2 s">SOUTHSIDE BEVERAGE</td>
                    <td class="column1 style5 s">51 E STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2192">
                    <td class="column0 style3 s">BEERWORKS</td>
                    <td class="column1 style4 s">323 E MAIN</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2193">
                    <td class="column0 style2 s">BEERWORKS</td>
                    <td class="column1 style5 s">323 E MAIN</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2194">
                    <td class="column0 style2 s">BEERWORKS</td>
                    <td class="column1 style5 s">323 E MAIN</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2195">
                    <td class="column0 style3 s">CARTWRIGHT'S MARKET</td>
                    <td class="column1 style4 s">745 STEWART AVE</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2196">
                    <td class="column0 style2 s">CARTWRIGHT'S MKT OFF PREM</td>
                    <td class="column1 style5 s">745 STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2197">
                    <td class="column0 style2 s">CARTWRIGHT'S MKT OFF PREM</td>
                    <td class="column1 style5 s">745 STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2198">
                    <td class="column0 style2 s">CARTWRIGHT'S MKT OFF PREM</td>
                    <td class="column1 style5 s">745 STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2199">
                    <td class="column0 style2 s">CARTWRIGHT'S MKT OFF PREM</td>
                    <td class="column1 style5 s">745 STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2200">
                    <td class="column0 style2 s">CARTWRIGHT'S MKT OFF PREM</td>
                    <td class="column1 style5 s">745 STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2201">
                    <td class="column0 style2 s">CARTWRIGHT'S MKT OFF PREM</td>
                    <td class="column1 style5 s">745 STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2202">
                    <td class="column0 style2 s">CARTWRIGHT'S MKT OFF PREM</td>
                    <td class="column1 style5 s">745 STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2203">
                    <td class="column0 style2 s">CARTWRIGHT'S MKT OFF PREM</td>
                    <td class="column1 style5 s">745 STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2204">
                    <td class="column0 style2 s">CARTWRIGHT'S MKT OFF PREM</td>
                    <td class="column1 style5 s">745 STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2205">
                    <td class="column0 style2 s">CARTWRIGHT'S MKT OFF PREM</td>
                    <td class="column1 style5 s">745 STEWART AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2206">
                    <td class="column0 style3 s">ROCKY-TONK GRILL &amp; SALOON</td>
                    <td class="column1 style4 s">333 E MAIN ST</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2207">
                    <td class="column0 style2 s">ROCKY-TONK GRILL &amp; SALOON</td>
                    <td class="column1 style5 s">333 E MAIN ST</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2208">
                    <td class="column0 style3 s">HARRY &amp; DAVID COUNTRY STORE</td>
                    <td class="column1 style4 s">1314 CENTER DR</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2209">
                    <td class="column0 style2 s">HARRY &amp; DAVID COUNTRY STR</td>
                    <td class="column1 style5 s">1314 CENTER DR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CLARET</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2210">
                    <td class="column0 style2 s">HARRY &amp; DAVID COUNTRY STR</td>
                    <td class="column1 style5 s">1314 CENTER DR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD SYRAH PORT 375ML</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2211">
                    <td class="column0 style2 s">HARRY &amp; DAVID COUNTRY STR</td>
                    <td class="column1 style5 s">1314 CENTER DR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2212">
                    <td class="column0 style2 s">HARRY &amp; DAVID COUNTRY STR</td>
                    <td class="column1 style5 s">1314 CENTER DR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2213">
                    <td class="column0 style2 s">HARRY &amp; DAVID COUNTRY STR</td>
                    <td class="column1 style5 s">1314 CENTER DR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2214">
                    <td class="column0 style2 s">HARRY &amp; DAVID COUNTRY STR</td>
                    <td class="column1 style5 s">1314 CENTER DR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2215">
                    <td class="column0 style2 s">HARRY &amp; DAVID COUNTRY STR</td>
                    <td class="column1 style5 s">1314 CENTER DR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2216">
                    <td class="column0 style2 s">HARRY &amp; DAVID COUNTRY STR</td>
                    <td class="column1 style5 s">1314 CENTER DR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2217">
                    <td class="column0 style2 s">HARRY &amp; DAVID COUNTRY STR</td>
                    <td class="column1 style5 s">1314 CENTER DR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2218">
                    <td class="column0 style2 s">HARRY &amp; DAVID COUNTRY STR</td>
                    <td class="column1 style5 s">1314 CENTER DR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2219">
                    <td class="column0 style2 s">HARRY &amp; DAVID COUNTRY STR</td>
                    <td class="column1 style5 s">1314 CENTER DR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2220">
                    <td class="column0 style2 s">HARRY &amp; DAVID COUNTRY STR</td>
                    <td class="column1 style5 s">1314 CENTER DR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2221">
                    <td class="column0 style2 s">HARRY &amp; DAVID COUNTRY STR</td>
                    <td class="column1 style5 s">1314 CENTER DR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2222">
                    <td class="column0 style2 s">HARRY &amp; DAVID COUNTRY STR</td>
                    <td class="column1 style5 s">1314 CENTER DR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2223">
                    <td class="column0 style2 s">HARRY &amp; DAVID COUNTRY STR</td>
                    <td class="column1 style5 s">1314 CENTER DR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2224">
                    <td class="column0 style3 s">MEDFORD FOOD COOP</td>
                    <td class="column1 style4 s">945 S RIVERSIDE AVE</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2225">
                    <td class="column0 style2 s">MEDFORD FOOD COOP</td>
                    <td class="column1 style5 s">945 S RIVERSIDE AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2226">
                    <td class="column0 style2 s">MEDFORD FOOD COOP</td>
                    <td class="column1 style5 s">945 S RIVERSIDE AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2227">
                     <td class="column0 style2 s">MEDFORD FOOD COOP</td>
                    <td class="column1 style5 s">945 S RIVERSIDE AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2228">
                    <td class="column0 style3 s">SAFEWAY #525 SHOPPING CENTER</td>
                    <td class="column1 style4 s">1003 MEDFORD SHOPPING CTR</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2229">
                    <td class="column0 style2 s">SAFEWAY #525 SHP CNT MF</td>
                    <td class="column1 style5 s">1003 MEDFORD SHOPPING CTR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2230">
                    <td class="column0 style2 s">SAFEWAY #525 SHP CNT MF</td>
                    <td class="column1 style5 s">1003 MEDFORD SHOPPING CTR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2231">
                    <td class="column0 style2 s">SAFEWAY #525 SHP CNT MF</td>
                    <td class="column1 style5 s">1003 MEDFORD SHOPPING CTR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2232">
                    <td class="column0 style2 s">SAFEWAY #525 SHP CNT MF</td>
                    <td class="column1 style5 s">1003 MEDFORD SHOPPING CTR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2233">
                    <td class="column0 style2 s">SAFEWAY #525 SHP CNT MF</td>
                    <td class="column1 style5 s">1003 MEDFORD SHOPPING CTR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2234">
                    <td class="column0 style2 s">SAFEWAY #525 SHP CNT MF</td>
                    <td class="column1 style5 s">1003 MEDFORD SHOPPING CTR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2235">
                    <td class="column0 style2 s">SAFEWAY #525 SHP CNT MF</td>
                    <td class="column1 style5 s">1003 MEDFORD SHOPPING CTR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2236">
                    <td class="column0 style2 s">SAFEWAY #525 SHP CNT MF</td>
                    <td class="column1 style5 s">1003 MEDFORD SHOPPING CTR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2237">
                    <td class="column0 style2 s">SAFEWAY #525 SHP CNT MF</td>
                    <td class="column1 style5 s">1003 MEDFORD SHOPPING CTR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2238">
                    <td class="column0 style2 s">SAFEWAY #525 SHP CNT MF</td>
                    <td class="column1 style5 s">1003 MEDFORD SHOPPING CTR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2239">
                    <td class="column0 style2 s">SAFEWAY #525 SHP CNT MF</td>
                    <td class="column1 style5 s">1003 MEDFORD SHOPPING CTR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
