
                <tr class="row2805">
                    <td class="column0 style2 s">BEAUMONT MARKET #</td>
                    <td class="column1 style5 s">4130 NE FREMONT</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2806">
                    <td class="column0 style2 s">BEAUMONT MARKET #</td>
                    <td class="column1 style5 s">4130 NE FREMONT</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2807">
                    <td class="column0 style2 s">BEAUMONT MARKET #</td>
                    <td class="column1 style5 s">4130 NE FREMONT</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2808">
                    <td class="column0 style3 s">BETHANY ATHLETIC CLUB</td>
                    <td class="column1 style4 s">15670 NW CENTRAL DR</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2809">
                    <td class="column0 style2 s">BETHANY ATHLETIC CLUB</td>
                    <td class="column1 style5 s">15670 NW CENTRAL DR</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2810">
                    <td class="column0 style2 s">BETHANY ATHLETIC CLUB</td>
                    <td class="column1 style5 s">15670 NW CENTRAL DR</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2811">
                    <td class="column0 style2 s">BETHANY ATHLETIC CLUB</td>
                    <td class="column1 style5 s">15670 NW CENTRAL DR</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2812">
                    <td class="column0 style3 s">FRED MEYER #153-JOHNSON CREEK</td>
                    <td class="column1 style4 s">8955 SE 82ND</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2813">
                    <td class="column0 style2 s">FRED MEYER #153-JHNSN CRK</td>
                    <td class="column1 style5 s">8955 SE 82ND</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2814">
                    <td class="column0 style2 s">FRED MEYER #153-JHNSN CRK</td>
                    <td class="column1 style5 s">8955 SE 82ND</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2815">
                    <td class="column0 style2 s">FRED MEYER #153-JHNSN CRK</td>
                    <td class="column1 style5 s">8955 SE 82ND</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                     <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2816">
                    <td class="column0 style2 s">FRED MEYER #153-JHNSN CRK</td>
                    <td class="column1 style5 s">8955 SE 82ND</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2817">
                    <td class="column0 style3 s">CHECKERS MART</td>
                    <td class="column1 style4 s">9122 SE FLAVEL</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2818">
                    <td class="column0 style2 s">CHECKERS MART</td>
                    <td class="column1 style5 s">9122 SE FLAVEL</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2819">
                    <td class="column0 style2 s">CHECKERS MART</td>
                    <td class="column1 style5 s">9122 SE FLAVEL</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2820">
                    <td class="column0 style3 s">FRED MEYER #285-RALEIGH HILLS</td>
                    <td class="column1 style4 s">7700 SW BEAVERTON-HLSBORO</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2821">
                    <td class="column0 style2 s">FRED MEYER #285-RALEIGH</td>
                    <td class="column1 style5 s">7700 SW BEAVERTON-HLSBORO</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2822">
                    <td class="column0 style2 s">FRED MEYER #285-RALEIGH</td>
                    <td class="column1 style5 s">7700 SW BEAVERTON-HLSBORO</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2823">
                    <td class="column0 style2 s">FRED MEYER #285-RALEIGH</td>
                    <td class="column1 style5 s">7700 SW BEAVERTON-HLSBORO</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2824">
                    <td class="column0 style2 s">FRED MEYER #285-RALEIGH</td>
                    <td class="column1 style5 s">7700 SW BEAVERTON-HLSBORO</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2825">
                    <td class="column0 style3 s">PORTLAND GOLF CLUB</td>
                    <td class="column1 style4 s">5900 SW SCHOLLS FERRY</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2826">
                    <td class="column0 style2 s">PORTLAND GOLF CLUB</td>
                    <td class="column1 style5 s">5900 SW SCHOLLS FERRY</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2827">
                    <td class="column0 style2 s">PORTLAND GOLF CLUB</td>
                    <td class="column1 style5 s">5900 SW SCHOLLS FERRY</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2828">
                    <td class="column0 style2 s">PORTLAND GOLF CLUB</td>
                    <td class="column1 style5 s">5900 SW SCHOLLS FERRY</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2829">
                    <td class="column0 style2 s">PORTLAND GOLF CLUB</td>
                    <td class="column1 style5 s">5900 SW SCHOLLS FERRY</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2830">
                    <td class="column0 style2 s">PORTLAND GOLF CLUB</td>
                    <td class="column1 style5 s">5900 SW SCHOLLS FERRY</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2831">
                    <td class="column0 style2 s">PORTLAND GOLF CLUB</td>
                    <td class="column1 style5 s">5900 SW SCHOLLS FERRY</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2832">
                    <td class="column0 style3 s">4TH &amp; OAK MARKET</td>
                    <td class="column1 style4 s">306 SW 4TH R</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2833">
                    <td class="column0 style2 s">4TH &amp; OAK MARKET</td>
                    <td class="column1 style5 s">306 SW 4TH R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2834">
                    <td class="column0 style2 s">4TH &amp; OAK MARKET</td>
                    <td class="column1 style5 s">306 SW 4TH R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2835">
                    <td class="column0 style3 s">NEW SEASONS UNIVERSITY PARK</td>
                    <td class="column1 style4 s">6300 N LOMBARD ST</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2836">
                    <td class="column0 style2 s">NEW SEASONS #1118 UN PARK</td>
                    <td class="column1 style5 s">6300 N LOMBARD ST</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2837">
                    <td class="column0 style2 s">NEW SEASONS #1118 UN PARK</td>
                    <td class="column1 style5 s">6300 N LOMBARD ST</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2838">
                    <td class="column0 style2 s">NEW SEASONS #1118 UN PARK</td>
                    <td class="column1 style5 s">6300 N LOMBARD ST</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2839">
                    <td class="column0 style3 s">CEDAR MILL LIQUOR STORE</td>
                    <td class="column1 style4 s">13528 NW CORNELL</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2840">
                    <td class="column0 style2 s">CEDAR MILL LIQUOR STORE</td>
                    <td class="column1 style5 s">13528 NW CORNELL</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2841">
                    <td class="column0 style3 s">COMMODORE GROC &amp; DELI</td>
                    <td class="column1 style4 s">621 SW 16TH L</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2842">
                    <td class="column0 style2 s">COMMODORE GROC &amp; DELI</td>
                    <td class="column1 style5 s">621 SW 16TH L</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2843">
                    <td class="column0 style3 s">SCANDALS</td>
                    <td class="column1 style4 s">1125 SW STARK</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2844">
                    <td class="column0 style2 s">SCANDALS</td>
                    <td class="column1 style5 s">1125 SW STARK</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2845">
                    <td class="column0 style3 s">SHAMROCK MARKET</td>
                    <td class="column1 style4 s">8109 N FESSENDEN</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2846">
                    <td class="column0 style2 s">SHAMROCK MARKET</td>
                    <td class="column1 style5 s">8109 N FESSENDEN</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2847">
                    <td class="column0 style2 s">SHAMROCK MARKET</td>
                    <td class="column1 style5 s">8109 N FESSENDEN</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2848">
                    <td class="column0 style2 s">SHAMROCK MARKET</td>
                    <td class="column1 style5 s">8109 N FESSENDEN</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2849">
                    <td class="column0 style3 s">SAFEWAY #1447 ROSE CITY</td>
                    <td class="column1 style4 s">6901 NE SANDY BLVD</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2850">
                    <td class="column0 style2 s">SAFEWAY #1447 ROSE CITY</td>
                    <td class="column1 style5 s">6901 NE SANDY BLVD</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2851">
                    <td class="column0 style2 s">SAFEWAY #1447 ROSE CITY</td>
                    <td class="column1 style5 s">6901 NE SANDY BLVD</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2852">
                    <td class="column0 style2 s">SAFEWAY #1447 ROSE CITY</td>
                    <td class="column1 style5 s">6901 NE SANDY BLVD</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2853">
                    <td class="column0 style2 s">SAFEWAY #1447 ROSE CITY</td>
                    <td class="column1 style5 s">6901 NE SANDY BLVD</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2854">
                    <td class="column0 style3 s">BLEACHERS</td>
                    <td class="column1 style4 s">575 NW SALTZMAN R</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2855">
                    <td class="column0 style2 s">BLEACHERS</td>
                    <td class="column1 style5 s">575 NW SALTZMAN R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2856">
                    <td class="column0 style2 s">BLEACHERS</td>
                    <td class="column1 style5 s">575 NW SALTZMAN R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2857">
                    <td class="column0 style2 s">BLEACHERS</td>
                    <td class="column1 style5 s">575 NW SALTZMAN R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2858">
                    <td class="column0 style2 s">BLEACHERS</td>
                    <td class="column1 style5 s">575 NW SALTZMAN R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2859">
                    <td class="column0 style3 s">LOMBARD HOUSE</td>
                    <td class="column1 style4 s">7337 N LOMBARD</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2860">
                    <td class="column0 style2 s">LOMBARD HOUSE</td>
                    <td class="column1 style5 s">7337 N LOMBARD</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2861">
                    <td class="column0 style3 s">BAR MAVEN</td>
                    <td class="column1 style4 s">6219 SE FOSTER RD</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2862">
                    <td class="column0 style2 s">BAR MAVEN LLC</td>
                    <td class="column1 style5 s">6219 SE FOSTER RD</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2863">
                    <td class="column0 style2 s">BAR MAVEN LLC</td>
                    <td class="column1 style5 s">6219 SE FOSTER RD</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2864">
                    <td class="column0 style3 s">THE ADVICE BOOTH</td>
                    <td class="column1 style4 s">5426 N GAY AVE</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2865">
                    <td class="column0 style2 s">THE ADVICE BOOTH</td>
                    <td class="column1 style5 s">5426 N GAY AVE</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2866">
                    <td class="column0 style3 s">LOVEJOY CONVENIENCE STORE</td>
                    <td class="column1 style4 s">2110 NW LOVEJOY</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2867">
                    <td class="column0 style2 s">LOVEJOY CONVENIENCE STORE</td>
                    <td class="column1 style5 s">2110 NW LOVEJOY</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2868">
                    <td class="column0 style3 s">FRED MEYER #128-GATEWAY</td>
                    <td class="column1 style4 s">1111 NE 102ND</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2869">
                    <td class="column0 style2 s">FRED MEYER #128-GATEWAY</td>
                    <td class="column1 style5 s">1111 NE 102ND</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2870">
                    <td class="column0 style2 s">FRED MEYER #128-GATEWAY</td>
                    <td class="column1 style5 s">1111 NE 102ND</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2871">
                    <td class="column0 style2 s">FRED MEYER #128-GATEWAY</td>
                    <td class="column1 style5 s">1111 NE 102ND</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2872">
                    <td class="column0 style3 s">SAFEWAY #382 122ND/POWELL</td>
                    <td class="column1 style4 s">3527 SE 122ND</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2873">
                    <td class="column0 style2 s">SAFEWAY #382 122ND/POWELL</td>
                    <td class="column1 style5 s">3527 SE 122ND</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2874">
                    <td class="column0 style3 s">OAKS PARK</td>
                    <td class="column1 style4 s">FOOT OF SE SPOKANE R</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2875">
                    <td class="column0 style2 s">OAKS PARK</td>
                    <td class="column1 style5 s">FOOT OF SE SPOKANE R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2876">
                    <td class="column0 style2 s">OAKS PARK</td>
                    <td class="column1 style5 s">FOOT OF SE SPOKANE R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2877">
                    <td class="column0 style2 s">OAKS PARK</td>
                    <td class="column1 style5 s">FOOT OF SE SPOKANE R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2878">
                    <td class="column0 style3 s">JOHNS MARKET</td>
                    <td class="column1 style4 s">3535 SW MULTNOMAH</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2879">
                    <td class="column0 style2 s">JOHNS MARKET</td>
                    <td class="column1 style5 s">3535 SW MULTNOMAH</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2880">
                    <td class="column0 style3 s">FRED MEYER #360-STADIUM BURNSIDE</td>
                    <td class="column1 style4 s">100 NW 20TH PL</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2881">
                    <td class="column0 style2 s">FRED MEYER #360-STADIUM</td>
                    <td class="column1 style5 s">100 NW 20TH PL</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2882">
                    <td class="column0 style2 s">FRED MEYER #360-STADIUM</td>
                    <td class="column1 style5 s">100 NW 20TH PL</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2883">
                    <td class="column0 style2 s">FRED MEYER #360-STADIUM</td>
                    <td class="column1 style5 s">100 NW 20TH PL</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2884">
                    <td class="column0 style2 s">FRED MEYER #360-STADIUM</td>
                    <td class="column1 style5 s">100 NW 20TH PL</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2885">
                    <td class="column0 style2 s">FRED MEYER #360-STADIUM</td>
                    <td class="column1 style5 s">100 NW 20TH PL</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2886">
                    <td class="column0 style2 s">FRED MEYER #360-STADIUM</td>
                    <td class="column1 style5 s">100 NW 20TH PL</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2887">
                    <td class="column0 style3 s">URBANA MARKET</td>
                    <td class="column1 style4 s">3550 SW RIVER PARKWAY</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2888">
                    <td class="column0 style2 s">URBANA MARKET</td>
                    <td class="column1 style5 s">3550 SW RIVER PARKWAY</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2889">
                    <td class="column0 style2 s">URBANA MARKET</td>
                    <td class="column1 style5 s">3550 SW RIVER PARKWAY</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2890">
                    <td class="column0 style2 s">URBANA MARKET</td>
                    <td class="column1 style5 s">3550 SW RIVER PARKWAY</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2891">
                    <td class="column0 style3 s">AIKO RAMEN*</td>
                    <td class="column1 style4 s">827 SW 2ND AVE</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2892">
                    <td class="column0 style2 s">AIKO RAMEN*</td>
                    <td class="column1 style5 s">827 SW 2ND AVE</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2893">
                    <td class="column0 style3 s">MARKET OF CHOICE #2 CEDAR MILL</td>
                    <td class="column1 style4 s">250 NW LOST SPRINGS TER</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2894">
                    <td class="column0 style2 s">MARKET OF CHOICE #2 CMILL</td>
                    <td class="column1 style5 s">250 NW LOST SPRINGS TER</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2895">
                    <td class="column0 style3 s">FRED MEYER #075-DIVISION</td>
                    <td class="column1 style4 s">14700 SE DIVISION</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2896">
                    <td class="column0 style2 s">FRED MEYER #075-DIVISION</td>
                    <td class="column1 style5 s">14700 SE DIVISION</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2897">
                    <td class="column0 style2 s">FRED MEYER #075-DIVISION</td>
                    <td class="column1 style5 s">14700 SE DIVISION</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2898">
                    <td class="column0 style2 s">FRED MEYER #075-DIVISION</td>
                    <td class="column1 style5 s">14700 SE DIVISION</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2899">
                    <td class="column0 style3 s">WOODSTOCK WINE &amp; DELI</td>
                    <td class="column1 style4 s">4030 SE WOODSTOCK</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2900">
                    <td class="column0 style2 s">WOODSTOCK WINE &amp; DELI</td>
                    <td class="column1 style5 s">4030 SE WOODSTOCK</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2901">
                    <td class="column0 style3 s">HILLSDALE LIQUOR STORE</td>
                    <td class="column1 style4 s">6327 D SW CAPITOL HWY</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2902">
                    <td class="column0 style2 s">HILLSDALE LIQUOR STORE</td>
                    <td class="column1 style5 s">6327 D SW CAPITOL HWY</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2903">
                    <td class="column0 style3 s">UPTOWN CHEVRON FOOD MART</td>
                    <td class="column1 style4 s">2230 W BURNSIDE</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2904">
                    <td class="column0 style2 s">UPTOWN CHEVRON FOOD MART</td>
                    <td class="column1 style5 s">2230 W BURNSIDE</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2905">
                    <td class="column0 style3 s">21ST AVE QUICK STOP MKT</td>
                    <td class="column1 style4 s">602 NW 21ST R</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2906">
                    <td class="column0 style2 s">21ST AVE QUICK STOP MKT</td>
                    <td class="column1 style5 s">602 NW 21ST R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2907">
                    <td class="column0 style2 s">21ST AVE QUICK STOP MKT</td>
                    <td class="column1 style5 s">602 NW 21ST R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2908">
                    <td class="column0 style2 s">21ST AVE QUICK STOP MKT</td>
                    <td class="column1 style5 s">602 NW 21ST R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2909">
                    <td class="column0 style2 s">21ST AVE QUICK STOP MKT</td>
                    <td class="column1 style5 s">602 NW 21ST R</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2910">
                    <td class="column0 style3 s">NEW SEASONS GRANT PARK</td>
                    <td class="column1 style4 s">3210 NE BROADWAY</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2911">
                    <td class="column0 style2 s">NEW SEASONS #1115 GR PARK</td>
                    <td class="column1 style5 s">3210 NE BROADWAY</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2912">
                    <td class="column0 style2 s">NEW SEASONS #1115 GR PARK</td>
                    <td class="column1 style5 s">3210 NE BROADWAY</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2913">
                    <td class="column0 style2 s">NEW SEASONS #1115 GR PARK</td>
                    <td class="column1 style5 s">3210 NE BROADWAY</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2914">
                    <td class="column0 style3 s">NATURE MART</td>
                    <td class="column1 style4 s">1726 SW 4TH AVE</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2915">
                    <td class="column0 style2 s">NATURE MART</td>
                    <td class="column1 style5 s">1726 SW 4TH AVE</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2916">
                    <td class="column0 style2 s">NATURE MART</td>
                    <td class="column1 style5 s">1726 SW 4TH AVE</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2917">
                    <td class="column0 style2 s">NATURE MART</td>
                    <td class="column1 style5 s">1726 SW 4TH AVE</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2918">
                    <td class="column0 style2 s">NATURE MART</td>
                    <td class="column1 style5 s">1726 SW 4TH AVE</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2919">
                    <td class="column0 style2 s">NATURE MART</td>
                    <td class="column1 style5 s">1726 SW 4TH AVE</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2920">
                    <td class="column0 style2 s">NATURE MART</td>
                    <td class="column1 style5 s">1726 SW 4TH AVE</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2921">
                    <td class="column0 style3 s">NOB HILL BAR &amp; GRILL</td>
                    <td class="column1 style4 s">937 NW 23RD R</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>