
                <tr class="row1191">
                    <td class="column0 style2 s">CARTWRIGHT'S MARKET</td>
                    <td class="column1 style5 s">825 SW UNION</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1192">
                    <td class="column0 style2 s">CARTWRIGHT'S MARKET</td>
                    <td class="column1 style5 s">825 SW UNION</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1193">
                    <td class="column0 style2 s">CARTWRIGHT'S MARKET</td>
                    <td class="column1 style5 s">825 SW UNION</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1194">
                    <td class="column0 style2 s">CARTWRIGHT'S MARKET</td>
                    <td class="column1 style5 s">825 SW UNION</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1195">
                    <td class="column0 style2 s">CARTWRIGHT'S MARKET</td>
                    <td class="column1 style5 s">825 SW UNION</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1196">
                    <td class="column0 style2 s">CARTWRIGHT'S MARKET</td>
                    <td class="column1 style5 s">825 SW UNION</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1197">
                    <td class="column0 style2 s">CARTWRIGHT'S MARKET</td>
                    <td class="column1 style5 s">825 SW UNION</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1198">
                    <td class="column0 style2 s">CARTWRIGHT'S MARKET</td>
                    <td class="column1 style5 s">825 SW UNION</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1199">
                    <td class="column0 style3 s">CIRCLE K #123 NE A ST GRANTS PASS</td>
                    <td class="column1 style4 s">836 N.E. 'A' STREET</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1200">
                    <td class="column0 style2 s">CIRCLE K #123 NE A ST GP</td>
                    <td class="column1 style5 s">836 N.E. 'A' STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1201">
                    <td class="column0 style2 s">CIRCLE K #123 NE A ST GP</td>
                    <td class="column1 style5 s">836 N.E. 'A' STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1202">
                    <td class="column0 style2 s">CIRCLE K #123 NE A ST GP</td>
                    <td class="column1 style5 s">836 N.E. 'A' STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1203">
                    <td class="column0 style2 s">CIRCLE K #123 NE A ST GP</td>
                    <td class="column1 style5 s">836 N.E. 'A' STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1204">
                    <td class="column0 style3 s">RIC'S CORVETTE BAR &amp; GRILL</td>
                    <td class="column1 style4 s">1831 NE 6TH ST</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1205">
                    <td class="column0 style2 s">RIC'S CORVETTE BAR &amp;GRILL</td>
                    <td class="column1 style5 s">1831 NE 6TH ST</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1206">
                    <td class="column0 style2 s">RIC'S CORVETTE BAR &amp;GRILL</td>
                    <td class="column1 style5 s">1831 NE 6TH ST</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1207">
                    <td class="column0 style2 s">RIC'S CORVETTE BAR &amp;GRILL</td>
                    <td class="column1 style5 s">1831 NE 6TH ST</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1208">
                    <td class="column0 style3 s">ONE-FIFTEEN BROILER</td>
                    <td class="column1 style4 s">115 NW D ST</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1209">
                    <td class="column0 style2 s">ONE-FIFTEEN BROILER*</td>
                    <td class="column1 style5 s">115 NW D ST</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1210">
                    <td class="column0 style2 s">ONE-FIFTEEN BROILER*</td>
                    <td class="column1 style5 s">115 NW D ST</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1211">
                    <td class="column0 style2 s">ONE-FIFTEEN BROILER*</td>
                    <td class="column1 style5 s">115 NW D ST</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1212">
                    <td class="column0 style2 s">ONE-FIFTEEN BROILER*</td>
                    <td class="column1 style5 s">115 NW D ST</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1213">
                    <td class="column0 style3 s">PROVOLT COUNTRY STORE</td>
                    <td class="column1 style4 s">14299 WILLIAMS HIGHWAY</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1214">
                    <td class="column0 style2 s">PROVOLT COUNTRY STORE</td>
                    <td class="column1 style5 s">14299 WILLIAMS HIGHWAY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1215">
                    <td class="column0 style3 s">CLIMATE CITY BREW CO</td>
                    <td class="column1 style4 s">509 SW G ST</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1216">
                    <td class="column0 style2 s">CLIMATE CITY BREW CO</td>
                    <td class="column1 style5 s">509 SW G ST</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1217">
                    <td class="column0 style2 s">CLIMATE CITY BREW CO</td>
                    <td class="column1 style5 s">509 SW G ST</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1218">
                    <td class="column0 style3 s">SAFEWAY #379 WILLIAMS HWY</td>
                    <td class="column1 style4 s">1640 WILLIAMS HWY</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1219">
                    <td class="column0 style2 s">SAFEWAY #379 WILLMS GP</td>
                    <td class="column1 style5 s">1640 WILLIAMS HWY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1220">
                    <td class="column0 style2 s">SAFEWAY #379 WILLMS GP</td>
                    <td class="column1 style5 s">1640 WILLIAMS HWY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1221">
                    <td class="column0 style2 s">SAFEWAY #379 WILLMS GP</td>
                    <td class="column1 style5 s">1640 WILLIAMS HWY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1222">
                    <td class="column0 style2 s">SAFEWAY #379 WILLMS GP</td>
                    <td class="column1 style5 s">1640 WILLIAMS HWY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1223">
                    <td class="column0 style2 s">SAFEWAY #379 WILLMS GP</td>
                    <td class="column1 style5 s">1640 WILLIAMS HWY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1224">
                    <td class="column0 style2 s">SAFEWAY #379 WILLMS GP</td>
                    <td class="column1 style5 s">1640 WILLIAMS HWY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1225">
                    <td class="column0 style2 s">SAFEWAY #379 WILLMS GP</td>
                    <td class="column1 style5 s">1640 WILLIAMS HWY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1226">
                    <td class="column0 style2 s">SAFEWAY #379 WILLMS GP</td>
                    <td class="column1 style5 s">1640 WILLIAMS HWY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1227">
                    <td class="column0 style2 s">SAFEWAY #379 WILLMS GP</td>
                    <td class="column1 style5 s">1640 WILLIAMS HWY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1228">
                    <td class="column0 style2 s">SAFEWAY #379 WILLMS GP</td>
                    <td class="column1 style5 s">1640 WILLIAMS HWY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1229">
                    <td class="column0 style2 s">SAFEWAY #379 WILLMS GP</td>
                    <td class="column1 style5 s">1640 WILLIAMS HWY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1230">
                    <td class="column0 style2 s">SAFEWAY #379 WILLMS GP</td>
                    <td class="column1 style5 s">1640 WILLIAMS HWY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1231">
                    <td class="column0 style2 s">SAFEWAY #379 WILLMS GP</td>
                    <td class="column1 style5 s">1640 WILLIAMS HWY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1232">
                    <td class="column0 style3 s">REDWOOD MARKET AND DELI</td>
                    <td class="column1 style4 s">1720 REDWOOD AVE. STE A&amp;B</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1233">
                    <td class="column0 style2 s">REDWOOD MARKET AND DELI</td>
                    <td class="column1 style5 s">1720 REDWOOD AVE. STE A&amp;B</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1234">
                    <td class="column0 style2 s">REDWOOD MARKET AND DELI</td>
                    <td class="column1 style5 s">1720 REDWOOD AVE. STE A&amp;B</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1235">
                    <td class="column0 style2 s">REDWOOD MARKET AND DELI</td>
                    <td class="column1 style5 s">1720 REDWOOD AVE. STE A&amp;B</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1236">
                    <td class="column0 style3 s">MATSUKAZE</td>
                    <td class="column1 style4 s">1675 N.E. 7TH STREET</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1237">
                    <td class="column0 style2 s">MATSUKAZE*</td>
                    <td class="column1 style5 s">1675 N.E. 7TH STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1238">
                    <td class="column0 style2 s">MATSUKAZE*</td>
                    <td class="column1 style5 s">1675 N.E. 7TH STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1239">
                    <td class="column0 style2 s">MATSUKAZE*</td>
                    <td class="column1 style5 s">1675 N.E. 7TH STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1240">
                    <td class="column0 style3 s">A-1 MARKET #3 7TH ST</td>
                    <td class="column1 style4 s">605 N.E. SEVENTH STREET</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1241">
                    <td class="column0 style2 s">A-1 MARKET #3 7TH ST GP</td>
                    <td class="column1 style5 s">605 N.E. SEVENTH STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1242">
                    <td class="column0 style2 s">A-1 MARKET #3 7TH ST GP</td>
                    <td class="column1 style5 s">605 N.E. SEVENTH STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1243">
                    <td class="column0 style3 s">A-1 MARKET #4 UPPER RIVER ROAD</td>
                    <td class="column1 style4 s">4203 UPPER RIVER RD</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1244">
                    <td class="column0 style2 s">A-1 MARKET #4 UPPER R GP</td>
                    <td class="column1 style5 s">4203 UPPER RIVER RD</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1245">
                     <td class="column0 style2 s">A-1 MARKET #4 UPPER R GP</td>
                    <td class="column1 style5 s">4203 UPPER RIVER RD</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1246">
                    <td class="column0 style3 s">SHORT STOP C &amp; D</td>
                    <td class="column1 style4 s">1309 G STREET</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1247">
                    <td class="column0 style2 s">SHORT STOP C &amp; D GP</td>
                    <td class="column1 style5 s">1309 G STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1248">
                    <td class="column0 style2 s">SHORT STOP C &amp; D GP</td>
                    <td class="column1 style5 s">1309 G STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1249">
                    <td class="column0 style3 s">RIVERBANKS SPEEDY MART</td>
                    <td class="column1 style4 s">5635 RIVERBANKS RD</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1250">
                    <td class="column0 style2 s">RIVERBANKS SPEEDY MARTFGP</td>
                    <td class="column1 style5 s">5635 RIVERBANKS RD</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1251">
                    <td class="column0 style3 s">TOWN &amp; COUNTRY #1</td>
                    <td class="column1 style4 s">2482 WILLIAMS HIGHWAY</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1252">
                    <td class="column0 style2 s">TOWN &amp; COUNTRY #1</td>
                    <td class="column1 style5 s">2482 WILLIAMS HIGHWAY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1253">
                    <td class="column0 style2 s">TOWN &amp; COUNTRY #1</td>
                    <td class="column1 style5 s">2482 WILLIAMS HIGHWAY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1254">
                    <td class="column0 style3 s">SAM'S MARKET AND DELI</td>
                     <td class="column1 style4 s">8530 MONUMENT DRIVE</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1255">
                    <td class="column0 style2 s">SAM'S MARKET AND DELI</td>
                    <td class="column1 style5 s">8530 MONUMENT DRIVE</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1256">
                    <td class="column0 style2 s">SAM'S MARKET AND DELI</td>
                    <td class="column1 style5 s">8530 MONUMENT DRIVE</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1257">
                    <td class="column0 style2 s">SAM'S MARKET AND DELI</td>
                    <td class="column1 style5 s">8530 MONUMENT DRIVE</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1258">
                    <td class="column0 style3 s">THE 238 BAR</td>
                    <td class="column1 style4 s">1620 WILLIAMS HWY</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1259">
                    <td class="column0 style2 s">THE 238 BAR</td>
                    <td class="column1 style5 s">1620 WILLIAMS HWY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1260">
                    <td class="column0 style3 s">WALMART #1834 GRANTS PASS</td>
                    <td class="column1 style4 s">135 N.E. TERRY LANE</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1261">
                    <td class="column0 style2 s">WALMART #1834 GP</td>
                    <td class="column1 style5 s">135 N.E. TERRY LANE</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1262">
                    <td class="column0 style2 s">WALMART #1834 GP</td>
                    <td class="column1 style5 s">135 N.E. TERRY LANE</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1263">
                    <td class="column0 style2 s">WALMART #1834 GP</td>
                    <td class="column1 style5 s">135 N.E. TERRY LANE</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                     <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1264">
                    <td class="column0 style2 s">WALMART #1834 GP</td>
                    <td class="column1 style5 s">135 N.E. TERRY LANE</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1265">
                    <td class="column0 style2 s">WALMART #1834 GP</td>
                    <td class="column1 style5 s">135 N.E. TERRY LANE</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1266">
                    <td class="column0 style3 s">HORNY GOAT</td>
                    <td class="column1 style4 s">234 SW 5TH ST</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1267">
                    <td class="column0 style2 s">HORNY GOAT</td>
                    <td class="column1 style5 s">234 SW 5TH ST</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CLARET</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1268">
                    <td class="column0 style3 s">CHEVRON #120-REDWOOD HWY</td>
                    <td class="column1 style4 s">650 REDWOOD HWY</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1269">
                    <td class="column0 style2 s">CHEVRON #120-REDWD HWY GP</td>
                    <td class="column1 style5 s">650 REDWOOD HWY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1270">
                    <td class="column0 style2 s">CHEVRON #120-REDWD HWY GP</td>
                    <td class="column1 style5 s">650 REDWOOD HWY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1271">
                    <td class="column0 style2 s">CHEVRON #120-REDWD HWY GP</td>
                    <td class="column1 style5 s">650 REDWOOD HWY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1272">
                    <td class="column0 style2 s">CHEVRON #120-REDWD HWY GP</td>
                    <td class="column1 style5 s">650 REDWOOD HWY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1273">
                    <td class="column0 style3 s">A-1 MARKET #5</td>
                    <td class="column1 style4 s">1671 WILLOW LANE</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1274">
                    <td class="column0 style2 s">A-1 MARKET #5</td>
                    <td class="column1 style5 s">1671 WILLOW LANE</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1275">
                    <td class="column0 style2 s">A-1 MARKET #5</td>
                    <td class="column1 style5 s">1671 WILLOW LANE</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1276">
                    <td class="column0 style3 s">SAFEWAY #290 7TH STREET</td>
                    <td class="column1 style4 s">115 S.E. SEVENTH STREET</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1277">
                    <td class="column0 style2 s">SAFEWAY #290 7TH GP</td>
                    <td class="column1 style5 s">115 S.E. SEVENTH STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1278">
                    <td class="column0 style2 s">SAFEWAY #290 7TH GP</td>
                    <td class="column1 style5 s">115 S.E. SEVENTH STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1279">
                    <td class="column0 style2 s">SAFEWAY #290 7TH GP</td>
                    <td class="column1 style5 s">115 S.E. SEVENTH STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1280">
                    <td class="column0 style2 s">SAFEWAY #290 7TH GP</td>
                    <td class="column1 style5 s">115 S.E. SEVENTH STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1281">
                    <td class="column0 style2 s">SAFEWAY #290 7TH GP</td>
                    <td class="column1 style5 s">115 S.E. SEVENTH STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1282">
                    <td class="column0 style2 s">SAFEWAY #290 7TH GP</td>
                    <td class="column1 style5 s">115 S.E. SEVENTH STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1283">
                    <td class="column0 style2 s">SAFEWAY #290 7TH GP</td>
                    <td class="column1 style5 s">115 S.E. SEVENTH STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1284">
                    <td class="column0 style2 s">SAFEWAY #290 7TH GP</td>
                    <td class="column1 style5 s">115 S.E. SEVENTH STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1285">
                    <td class="column0 style2 s">SAFEWAY #290 7TH GP</td>
                    <td class="column1 style5 s">115 S.E. SEVENTH STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1286">
                    <td class="column0 style2 s">SAFEWAY #290 7TH GP</td>
                    <td class="column1 style5 s">115 S.E. SEVENTH STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1287">
                    <td class="column0 style3 s">WILD RIVER BREWING &amp; PIZZA</td>
                    <td class="column1 style4 s">595 NE E STREET</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1288">
                    <td class="column0 style2 s">WILD RIVER BRWING &amp; PIZZA</td>
                    <td class="column1 style5 s">595 NE E STREET</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1289">
                    <td class="column0 style3 s">DOUBLE TAPS</td>
                    <td class="column1 style4 s">943 NE D ST</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1290">
                    <td class="column0 style2 s">DOUBLE TAPS</td>
                    <td class="column1 style5 s">943 NE D ST</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1291">
                    <td class="column0 style3 s">GRANTS PASS ARCO</td>
                    <td class="column1 style4 s">190 NE TERRY LANE</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1292">
                    <td class="column0 style2 s">GRANTS PASS ARCO</td>
                    <td class="column1 style5 s">190 NE TERRY LANE</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1293">
                    <td class="column0 style3 s">RIVERS EDGE RESTAURANT</td>
                    <td class="column1 style4 s">1936 ROGUE RIVER HWY</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1294">
                    <td class="column0 style2 s">RIVERS EDGE REST</td>
                    <td class="column1 style5 s">1936 ROGUE RIVER HWY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1295">
                    <td class="column0 style2 s">RIVERS EDGE REST</td>
                    <td class="column1 style5 s">1936 ROGUE RIVER HWY</td>
                    <td class="column2 style8 s">GRANTS PASS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1296">
                    <td class="column0 style3 s">LIL PANTRY XPRESS MONUMENT DRIVE</td>
                    <td class="column1 style4 s">5030 MONUMENT DRIVE</td>
                    <td class="column2 style7 s">GRANTS PASS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
