
                <tr class="row3990">
                    <td class="column0 style2 s">RESORT AT THE MOUNTAIN</td>
                    <td class="column1 style5 s">68010 EAST FAIRWAY L</td>
                    <td class="column2 style8 s">WELCHES</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3991">
                    <td class="column0 style3 s">WRAPTITUDE</td>
                    <td class="column1 style4 s">67441 E HWY 26</td>
                    <td class="column2 style7 s">WELCHES</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3992">
                    <td class="column0 style2 s">WRAPTITUDE</td>
                    <td class="column1 style5 s">67441 E HWY 26</td>
                    <td class="column2 style8 s">WELCHES</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3993">
                    <td class="column0 style3 s">ASTRO TOADS #216</td>
                    <td class="column1 style4 s">22250 WILLAMETTE DR</td>
                    <td class="column2 style7 s">WEST LINN</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3994">
                    <td class="column0 style2 s">ASTRO TOADS #216</td>
                    <td class="column1 style5 s">22250 WILLAMETTE DR</td>
                    <td class="column2 style8 s">WEST LINN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3995">
                    <td class="column0 style3 s">CHEVRON WILLAMETTE</td>
                    <td class="column1 style4 s">2115 8TH CT</td>
                    <td class="column2 style7 s">WEST LINN</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3996">
                    <td class="column0 style2 s">CHEVRON WILLAMETTE</td>
                    <td class="column1 style5 s">2115 8TH CT</td>
                    <td class="column2 style8 s">WEST LINN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3997">
                    <td class="column0 style2 s">CHEVRON WILLAMETTE</td>
                    <td class="column1 style5 s">2115 8TH CT</td>
                    <td class="column2 style8 s">WEST LINN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3998">
                    <td class="column0 style3 s">SAFEWAY #1713 WEST LINN</td>
                    <td class="column1 style4 s">22000 SALAMO ROAD</td>
                    <td class="column2 style7 s">WEST LINN</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3999">
                    <td class="column0 style2 s">SAFEWAY #1713 WEST LINN</td>
                    <td class="column1 style5 s">22000 SALAMO ROAD</td>
                    <td class="column2 style8 s">WEST LINN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4000">
                    <td class="column0 style2 s">SAFEWAY #1713 WEST LINN</td>
                    <td class="column1 style5 s">22000 SALAMO ROAD</td>
                    <td class="column2 style8 s">WEST LINN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4001">
                    <td class="column0 style2 s">SAFEWAY #1713 WEST LINN</td>
                    <td class="column1 style5 s">22000 SALAMO ROAD</td>
                    <td class="column2 style8 s">WEST LINN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4002">
                    <td class="column0 style2 s">SAFEWAY #1713 WEST LINN</td>
                    <td class="column1 style5 s">22000 SALAMO ROAD</td>
                    <td class="column2 style8 s">WEST LINN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4003">
                    <td class="column0 style2 s">SAFEWAY #1713 WEST LINN</td>
                    <td class="column1 style5 s">22000 SALAMO ROAD</td>
                    <td class="column2 style8 s">WEST LINN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4004">
                    <td class="column0 style3 s">KELLY'S BRIGHTON MARINA</td>
                    <td class="column1 style4 s">29200 HWY 101 N</td>
                    <td class="column2 style7 s">WHEELER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4005">
                    <td class="column0 style2 s">KELLY'S BRIGHTON MARINA</td>
                    <td class="column1 style5 s">29200 HWY 101 N</td>
                    <td class="column2 style8 s">WHEELER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4006">
                    <td class="column0 style3 s">STOP N GO #1 WCITY</td>
                    <td class="column1 style4 s">2362 ANTELOPE ROAD</td>
                    <td class="column2 style7 s">WHITE CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4007">
                    <td class="column0 style2 s">STOP N GO #1 WCITY</td>
                    <td class="column1 style5 s">2362 ANTELOPE ROAD</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4008">
                    <td class="column0 style2 s">STOP N GO #1 WCITY</td>
                    <td class="column1 style5 s">2362 ANTELOPE ROAD</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4009">
                    <td class="column0 style2 s">STOP N GO #1 WCITY</td>
                    <td class="column1 style5 s">2362 ANTELOPE ROAD</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4010">
                    <td class="column0 style2 s">STOP N GO #1 WCITY</td>
                    <td class="column1 style5 s">2362 ANTELOPE ROAD</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4011">
                    <td class="column0 style3 s">LIL PANTRY CRATER WHITE CITY</td>
                    <td class="column1 style4 s">7600 CRATER LAKE HWY</td>
                    <td class="column2 style7 s">WHITE CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4012">
                    <td class="column0 style2 s">LIL PANTRY CRATER WC</td>
                    <td class="column1 style5 s">7600 CRATER LAKE HWY</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4013">
                    <td class="column0 style2 s">LIL PANTRY CRATER WC</td>
                    <td class="column1 style5 s">7600 CRATER LAKE HWY</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4014">
                    <td class="column0 style2 s">LIL PANTRY CRATER WC</td>
                    <td class="column1 style5 s">7600 CRATER LAKE HWY</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                     <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4015">
                    <td class="column0 style2 s">LIL PANTRY CRATER WC</td>
                    <td class="column1 style5 s">7600 CRATER LAKE HWY</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4016">
                    <td class="column0 style2 s">LIL PANTRY CRATER WC</td>
                    <td class="column1 style5 s">7600 CRATER LAKE HWY</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4017">
                    <td class="column0 style2 s">LIL PANTRY CRATER WC</td>
                    <td class="column1 style5 s">7600 CRATER LAKE HWY</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4018">
                    <td class="column0 style2 s">LIL PANTRY CRATER WC</td>
                    <td class="column1 style5 s">7600 CRATER LAKE HWY</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4019">
                    <td class="column0 style2 s">LIL PANTRY CRATER WC</td>
                    <td class="column1 style5 s">7600 CRATER LAKE HWY</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4020">
                    <td class="column0 style3 s">CHEVRON #140-CRATER L MF</td>
                    <td class="column1 style4 s">6779 CRATER LAKE HWY</td>
                    <td class="column2 style7 s">WHITE CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4021">
                    <td class="column0 style2 s">CHEVRON #140-CRATER L MF</td>
                    <td class="column1 style5 s">6779 CRATER LAKE HWY</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4022">
                    <td class="column0 style2 s">CHEVRON #140-CRATER L MF</td>
                    <td class="column1 style5 s">6779 CRATER LAKE HWY</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4023">
                    <td class="column0 style2 s">CHEVRON #140-CRATER L MF</td>
                    <td class="column1 style5 s">6779 CRATER LAKE HWY</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4024">
                    <td class="column0 style2 s">CHEVRON #140-CRATER L MF</td>
                    <td class="column1 style5 s">6779 CRATER LAKE HWY</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4025">
                    <td class="column0 style3 s">UMI SUSHI WHITE CITY</td>
                    <td class="column1 style4 s">7310 CRATER LAKE HIGHWAY</td>
                    <td class="column2 style7 s">WHITE CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4026">
                    <td class="column0 style2 s">UMI SUSHI WHITE CITY</td>
                    <td class="column1 style5 s">7310 CRATER LAKE HIGHWAY</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4027">
                    <td class="column0 style2 s">UMI SUSHI WHITE CITY</td>
                    <td class="column1 style5 s">7310 CRATER LAKE HIGHWAY</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4028">
                    <td class="column0 style3 s">RAINEY'S CORNER MARKET</td>
                    <td class="column1 style4 s">4865 HIGHWAY 234</td>
                    <td class="column2 style7 s">WHITE CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4029">
                    <td class="column0 style2 s">RAINEY'S CORNER MARKET</td>
                    <td class="column1 style5 s">4865 HIGHWAY 234</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4030">
                    <td class="column0 style2 s">RAINEY'S CORNER MARKET</td>
                    <td class="column1 style5 s">4865 HIGHWAY 234</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4031">
                    <td class="column0 style2 s">RAINEY'S CORNER MARKET</td>
                    <td class="column1 style5 s">4865 HIGHWAY 234</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4032">
                    <td class="column0 style2 s">RAINEY'S CORNER MARKET</td>
                    <td class="column1 style5 s">4865 HIGHWAY 234</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4033">
                    <td class="column0 style2 s">RAINEY'S CORNER MARKET</td>
                    <td class="column1 style5 s">4865 HIGHWAY 234</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4034">
                    <td class="column0 style2 s">RAINEY'S CORNER MARKET</td>
                    <td class="column1 style5 s">4865 HIGHWAY 234</td>
                    <td class="column2 style8 s">WHITE CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4035">
                    <td class="column0 style3 s">WILDERVILLE ST/PIZZA CAFE</td>
                    <td class="column1 style4 s">7845 REDWOOD HIGHWAY</td>
                    <td class="column2 style7 s">WILDERVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4036">
                    <td class="column0 style2 s">WILDERVILLE ST/PIZZA CAFE</td>
                    <td class="column1 style5 s">7845 REDWOOD HIGHWAY</td>
                    <td class="column2 style8 s">WILDERVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4037">
                    <td class="column0 style3 s">WILLIAMS COUNTRY STORE</td>
                    <td class="column1 style4 s">120 E FORK ROAD</td>
                    <td class="column2 style7 s">WILLIAMS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4038">
                    <td class="column0 style2 s">WILLIAMS COUNTRY STORE</td>
                    <td class="column1 style5 s">120 E FORK ROAD</td>
                    <td class="column2 style8 s">WILLIAMS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4039">
                    <td class="column0 style2 s">WILLIAMS COUNTRY STORE</td>
                    <td class="column1 style5 s">120 E FORK ROAD</td>
                    <td class="column2 style8 s">WILLIAMS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4040">
                    <td class="column0 style2 s">WILLIAMS COUNTRY STORE</td>
                    <td class="column1 style5 s">120 E FORK ROAD</td>
                    <td class="column2 style8 s">WILLIAMS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4041">
                    <td class="column0 style2 s">WILLIAMS COUNTRY STORE</td>
                    <td class="column1 style5 s">120 E FORK ROAD</td>
                    <td class="column2 style8 s">WILLIAMS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4042">
                    <td class="column0 style2 s">WILLIAMS COUNTRY STORE</td>
                    <td class="column1 style5 s">120 E FORK ROAD</td>
                    <td class="column2 style8 s">WILLIAMS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4043">
                    <td class="column0 style3 s">WILLIAMS GENERAL STORE</td>
                    <td class="column1 style4 s">20180 WILLIAMS HIGHWAY</td>
                    <td class="column2 style7 s">WILLIAMS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4044">
                    <td class="column0 style2 s">WILLIAMS GENERAL STORE</td>
                    <td class="column1 style5 s">20180 WILLIAMS HIGHWAY</td>
                    <td class="column2 style8 s">WILLIAMS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4045">
                    <td class="column0 style2 s">WILLIAMS GENERAL STORE</td>
                    <td class="column1 style5 s">20180 WILLIAMS HIGHWAY</td>
                    <td class="column2 style8 s">WILLIAMS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4046">
                    <td class="column0 style3 s">RITE AID #5335- SW WILSONVILLE</td>
                    <td class="column1 style4 s">8235 SW WILSONVILLE ROAD</td>
                    <td class="column2 style7 s">WILSONVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4047">
                    <td class="column0 style2 s">RITE AID #5335- SW WLSNVL</td>
                    <td class="column1 style5 s">8235 SW WILSONVILLE ROAD</td>
                    <td class="column2 style8 s">WILSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4048">
                    <td class="column0 style3 s">76 - SOUTH WILSONVILLE</td>
                    <td class="column1 style4 s">30085 SW PARKWAY AVE</td>
                    <td class="column2 style7 s">WILSONVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4049">
                    <td class="column0 style2 s">76 - SOUTH WILSONVILLE</td>
                    <td class="column1 style5 s">30085 SW PARKWAY AVE</td>
                    <td class="column2 style8 s">WILSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4050">
                    <td class="column0 style3 s">IN AND OUT MARKET</td>
                    <td class="column1 style4 s">29020 TWN CTR LP EAST#100</td>
                    <td class="column2 style7 s">WILSONVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4051">
                    <td class="column0 style2 s">IN AND OUT MARKET</td>
                    <td class="column1 style5 s">29020 TWN CTR LP EAST#100</td>
                    <td class="column2 style8 s">WILSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4052">
                    <td class="column0 style3 s">SAFEWAY #285-WILSONVILLE</td>
                    <td class="column1 style4 s">8255 SW WILSONVILLE RD</td>
                    <td class="column2 style7 s">WILSONVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4053">
                    <td class="column0 style2 s">SAFEWAY #285-WILSONVILLE</td>
                    <td class="column1 style5 s">8255 SW WILSONVILLE RD</td>
                    <td class="column2 style8 s">WILSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4054">
                    <td class="column0 style2 s">SAFEWAY #285-WILSONVILLE</td>
                    <td class="column1 style5 s">8255 SW WILSONVILLE RD</td>
                    <td class="column2 style8 s">WILSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4055">
                    <td class="column0 style2 s">SAFEWAY #285-WILSONVILLE</td>
                    <td class="column1 style5 s">8255 SW WILSONVILLE RD</td>
                    <td class="column2 style8 s">WILSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4056">
                    <td class="column0 style2 s">SAFEWAY #285-WILSONVILLE</td>
                    <td class="column1 style5 s">8255 SW WILSONVILLE RD</td>
                    <td class="column2 style8 s">WILSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4057">
                    <td class="column0 style3 s">FRED MEYER #516-WILSNVILLE</td>
                    <td class="column1 style4 s">30300 SW BOONES FERRY RD</td>
                    <td class="column2 style7 s">WILSONVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4058">
                    <td class="column0 style2 s">FRED MEYER #516-WILSNVLLE</td>
                    <td class="column1 style5 s">30300 SW BOONES FERRY RD</td>
                    <td class="column2 style8 s">WILSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4059">
                    <td class="column0 style2 s">FRED MEYER #516-WILSNVLLE</td>
                    <td class="column1 style5 s">30300 SW BOONES FERRY RD</td>
                    <td class="column2 style8 s">WILSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4060">
                    <td class="column0 style2 s">FRED MEYER #516-WILSNVLLE</td>
                    <td class="column1 style5 s">30300 SW BOONES FERRY RD</td>
                    <td class="column2 style8 s">WILSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4061">
                    <td class="column0 style2 s">FRED MEYER #516-WILSNVLLE</td>
                    <td class="column1 style5 s">30300 SW BOONES FERRY RD</td>
                    <td class="column2 style8 s">WILSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4062">
                    <td class="column0 style3 s">VILLEBOIS MARKET</td>
                    <td class="column1 style4 s">28900 SW VILLEBOIS DR #C</td>
                    <td class="column2 style7 s">WILSONVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4063">
                    <td class="column0 style2 s">VILLEBOIS MARKET</td>
                    <td class="column1 style5 s">28900 SW VILLEBOIS DR #C</td>
                    <td class="column2 style8 s">WILSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4064">
                    <td class="column0 style2 s">VILLEBOIS MARKET</td>
                    <td class="column1 style5 s">28900 SW VILLEBOIS DR #C</td>
                    <td class="column2 style8 s">WILSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4065">
                    <td class="column0 style2 s">VILLEBOIS MARKET</td>
                    <td class="column1 style5 s">28900 SW VILLEBOIS DR #C</td>
                    <td class="column2 style8 s">WILSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4066">
                    <td class="column0 style2 s">VILLEBOIS MARKET</td>
                    <td class="column1 style5 s">28900 SW VILLEBOIS DR #C</td>
                    <td class="column2 style8 s">WILSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4067">
                    <td class="column0 style2 s">VILLEBOIS MARKET</td>
                    <td class="column1 style5 s">28900 SW VILLEBOIS DR #C</td>
                    <td class="column2 style8 s">WILSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4068">
                    <td class="column0 style2 s">VILLEBOIS MARKET</td>
                    <td class="column1 style5 s">28900 SW VILLEBOIS DR #C</td>
                    <td class="column2 style8 s">WILSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4069">
                    <td class="column0 style3 s">BI-MART #676 WINSTON</td>
                    <td class="column1 style4 s">391 NW DOUGLAS BLVD</td>
                    <td class="column2 style7 s">WINSTON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4070">
                    <td class="column0 style2 s">BI-MART #676 WINSTON</td>
                    <td class="column1 style5 s">391 NW DOUGLAS BLVD</td>
                    <td class="column2 style8 s">WINSTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4071">
                    <td class="column0 style3 s">J.M MARKET</td>
                    <td class="column1 style4 s">261 MAIN ST</td>
                    <td class="column2 style7 s">WINSTON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4072">
                    <td class="column0 style2 s">J.M MARKET</td>
                    <td class="column1 style5 s">261 MAIN ST</td>
                    <td class="column2 style8 s">WINSTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4073">
                    <td class="column0 style3 s">WINSTON FOOD MART &amp; DELI</td>
                    <td class="column1 style4 s">40 NW MAIN ST</td>
                    <td class="column2 style7 s">WINSTON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4074">
                    <td class="column0 style2 s">WINSTON FOOD MART &amp; DELI</td>
                    <td class="column1 style5 s">40 NW MAIN ST</td>
                    <td class="column2 style8 s">WINSTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4075">
                    <td class="column0 style2 s">WINSTON FOOD MART &amp; DELI</td>
                    <td class="column1 style5 s">40 NW MAIN ST</td>
                    <td class="column2 style8 s">WINSTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4076">
                    <td class="column0 style2 s">WINSTON FOOD MART &amp; DELI</td>
                    <td class="column1 style5 s">40 NW MAIN ST</td>
                    <td class="column2 style8 s">WINSTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4077">
                    <td class="column0 style2 s">WINSTON FOOD MART &amp; DELI</td>
                    <td class="column1 style5 s">40 NW MAIN ST</td>
                    <td class="column2 style8 s">WINSTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4078">
                    <td class="column0 style3 s">WOLF CREEK GENERAL ST/TEX</td>
                    <td class="column1 style4 s">397 OLD HIGHWAY 99</td>
                    <td class="column2 style7 s">WOLF CREEK</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4079">
                    <td class="column0 style2 s">WOLF CREEK GENERAL ST/TEX</td>
                    <td class="column1 style5 s">397 OLD HIGHWAY 99</td>
                    <td class="column2 style8 s">WOLF CREEK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>

                    
                <tr class="row4080">
                    <td class="column0 style3 s">FRED MEYER #660-WOOD VIL</td>
                    <td class="column1 style4 s">22855 NE PARK LANE</td>
                    <td class="column2 style7 s">WOOD VILLAGE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4081">
                    <td class="column0 style2 s">FRED MEYER #660-WOOD VIL</td>
                    <td class="column1 style5 s">22855 NE PARK LANE</td>
                    <td class="column2 style8 s">WOOD VILLAGE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4082">
                    <td class="column0 style2 s">FRED MEYER #660-WOOD VIL</td>
                    <td class="column1 style5 s">22855 NE PARK LANE</td>
                    <td class="column2 style8 s">WOOD VILLAGE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4083">
                    <td class="column0 style2 s">FRED MEYER #660-WOOD VIL</td>
                    <td class="column1 style5 s">22855 NE PARK LANE</td>
                    <td class="column2 style8 s">WOOD VILLAGE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4084">
                    <td class="column0 style2 s">FRED MEYER #660-WOOD VIL</td>
                    <td class="column1 style5 s">22855 NE PARK LANE</td>
                    <td class="column2 style8 s">WOOD VILLAGE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4085">
                    <td class="column0 style2 s">FRED MEYER #660-WOOD VIL</td>
                    <td class="column1 style5 s">22855 NE PARK LANE</td>
                    <td class="column2 style8 s">WOOD VILLAGE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4086">
                    <td class="column0 style3 s">EXIT 16 LIQUOR WOOD VLLG</td>
                    <td class="column1 style4 s">2705 NE 238TH DR #G</td>
                    <td class="column2 style7 s">WOOD VILLAGE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4087">
                    <td class="column0 style2 s">EXIT 16 LIQUOR WOOD VLLG</td>
                    <td class="column1 style5 s">2705 NE 238TH DR #G</td>
                    <td class="column2 style8 s">WOOD VILLAGE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4088">
                    <td class="column0 style3 s">BI-MART #643 WOODBURN</td>
                    <td class="column1 style4 s">1600 MT HOOD AVE</td>
                    <td class="column2 style7 s">WOODBURN</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4089">
                    <td class="column0 style2 s">BI-MART #643 WOODBURN</td>
                    <td class="column1 style5 s">1600 MT HOOD AVE</td>
                    <td class="column2 style8 s">WOODBURN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4090">
                    <td class="column0 style2 s">BI-MART #643 WOODBURN</td>
                    <td class="column1 style5 s">1600 MT HOOD AVE</td>
                    <td class="column2 style8 s">WOODBURN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4091">
                    <td class="column0 style3 s">AM PM OF WOODBURN</td>
                    <td class="column1 style4 s">850 LAWSON AVE</td>
                    <td class="column2 style7 s">WOODBURN</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4092">
                    <td class="column0 style2 s">AM PM OF WOODBURN</td>
                    <td class="column1 style5 s">850 LAWSON AVE</td>
                    <td class="column2 style8 s">WOODBURN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4093">
                    <td class="column0 style3 s">WOODBURN FAST SERVE</td>
                    <td class="column1 style4 s">2990 NEWBERG HWY</td>
                    <td class="column2 style7 s">WOODBURN</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4094">
                    <td class="column0 style2 s">WOODBURN FAST SERVE</td>
                    <td class="column1 style5 s">2990 NEWBERG HWY</td>
                    <td class="column2 style8 s">WOODBURN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4095">
                    <td class="column0 style3 s">SAFEWAY #1976 WOODBURN</td>
                    <td class="column1 style4 s">1550 N PACIFIC HWY</td>
                    <td class="column2 style7 s">WOODBURN</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4096">
                    <td class="column0 style2 s">SAFEWAY #1976 WOODBURN</td>
                    <td class="column1 style5 s">1550 N PACIFIC HWY</td>
                    <td class="column2 style8 s">WOODBURN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4097">
                    <td class="column0 style2 s">SAFEWAY #1976 WOODBURN</td>
                    <td class="column1 style5 s">1550 N PACIFIC HWY</td>
                    <td class="column2 style8 s">WOODBURN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4098">
                    <td class="column0 style3 s">C &amp; K MARKET #77 YACHATS</td>
                    <td class="column1 style4 s">231 N COAST HWY</td>
                    <td class="column2 style7 s">YACHATS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4099">
                    <td class="column0 style2 s">C &amp; K MARKET #77 YACHATS</td>
                    <td class="column1 style5 s">231 N COAST HWY</td>
                    <td class="column2 style8 s">YACHATS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4100">
                    <td class="column0 style2 s">C &amp; K MARKET #77 YACHATS</td>
                    <td class="column1 style5 s">231 N COAST HWY</td>
                    <td class="column2 style8 s">YACHATS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4101">
                    <td class="column0 style3 s">T&amp;E GROCERY STORE</td>
                    <td class="column1 style4 s">110 MAPLE ST</td>
                    <td class="column2 style7 s">YAMHILL</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4102">
                    <td class="column0 style2 s">T&amp;E GROCERY STORE</td>
                    <td class="column1 style5 s">110 MAPLE ST</td>
                    <td class="column2 style8 s">YAMHILL</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4103">
                    <td class="column0 style2 s">T&amp;E GROCERY STORE</td>
                    <td class="column1 style5 s">110 MAPLE ST</td>
                    <td class="column2 style8 s">YAMHILL</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4104">
                    <td class="column0 style2 s">T&amp;E GROCERY STORE</td>
                    <td class="column1 style5 s">110 MAPLE ST</td>
                    <td class="column2 style8 s">YAMHILL</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4105">
                    <td class="column0 style2 s">T&amp;E GROCERY STORE</td>
                    <td class="column1 style5 s">110 MAPLE ST</td>
                    <td class="column2 style8 s">YAMHILL</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4106">
                    <td class="column0 style2 s">T&amp;E GROCERY STORE</td>
                    <td class="column1 style5 s">110 MAPLE ST</td>
                    <td class="column2 style8 s">YAMHILL</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4107">
                    <td class="column0 style2 s">T&amp;E GROCERY STORE</td>
                    <td class="column1 style5 s">110 MAPLE ST</td>
                    <td class="column2 style8 s">YAMHILL</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4108">
                    <td class="column0 style2 s">T&amp;E GROCERY STORE</td>
                    <td class="column1 style5 s">110 MAPLE ST</td>
                    <td class="column2 style8 s">YAMHILL</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row4112">
                    <td class="column0 style0 s">Report Created on 3/23/2020 7:07:16 PM</td>
                    <td class="column1">&nbsp;</td>
                    <td class="column2">&nbsp;</td>
                    <td class="column3">&nbsp;</td>
                    <td class="column4">&nbsp;</td>
                    <td class="column5">&nbsp;</td>
                    <td class="column6">&nbsp;</td>
                    </tr>