
                <tr class="row3578">
                    <td class="column0 style2 s">RITE AID #5342- SEASIDE</td>
                    <td class="column1 style5 s">313 S ROOSEVELT</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3579">
                    <td class="column0 style3 s">STOP &amp; GO - N ROOSEVELT</td>
                    <td class="column1 style4 s">1625 N ROOSEVELT</td>
                    <td class="column2 style7 s">SEASIDE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3580">
                    <td class="column0 style2 s">STOP &amp; GO - N ROOSEVELT</td>
                    <td class="column1 style5 s">1625 N ROOSEVELT</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3581">
                    <td class="column0 style2 s">STOP &amp; GO - N ROOSEVELT</td>
                    <td class="column1 style5 s">1625 N ROOSEVELT</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3582">
                    <td class="column0 style2 s">STOP &amp; GO - N ROOSEVELT</td>
                    <td class="column1 style5 s">1625 N ROOSEVELT</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3583">
                    <td class="column0 style2 s">STOP &amp; GO - N ROOSEVELT</td>
                    <td class="column1 style5 s">1625 N ROOSEVELT</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3584">
                    <td class="column0 style3 s">STOP &amp; GO - SEASIDE</td>
                    <td class="column1 style4 s">860 S ROOSEVELT</td>
                    <td class="column2 style7 s">SEASIDE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3585">
                    <td class="column0 style2 s">STOP &amp; GO - SEASIDE</td>
                    <td class="column1 style5 s">860 S ROOSEVELT</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3586">
                    <td class="column0 style2 s">STOP &amp; GO - SEASIDE</td>
                    <td class="column1 style5 s">860 S ROOSEVELT</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3587">
                    <td class="column0 style2 s">STOP &amp; GO - SEASIDE</td>
                    <td class="column1 style5 s">860 S ROOSEVELT</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3588">
                    <td class="column0 style3 s">SEASIDE LIQUOR STORE</td>
                    <td class="column1 style4 s">740 AVENUE H</td>
                    <td class="column2 style7 s">SEASIDE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3589">
                    <td class="column0 style2 s">SEASIDE LIQUOR STORE</td>
                    <td class="column1 style5 s">740 AVENUE H</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3590">
                    <td class="column0 style2 s">SEASIDE LIQUOR STORE</td>
                    <td class="column1 style5 s">740 AVENUE H</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3591">
                    <td class="column0 style2 s">SEASIDE LIQUOR STORE</td>
                    <td class="column1 style5 s">740 AVENUE H</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3592">
                    <td class="column0 style3 s">HOP &amp; VINE</td>
                    <td class="column1 style4 s">220 S COLUMBIA ST #9 &amp; 10</td>
                    <td class="column2 style7 s">SEASIDE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3593">
                    <td class="column0 style2 s">HOP &amp; VINE</td>
                    <td class="column1 style5 s">220 S COLUMBIA ST #9 &amp; 10</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3594">
                    <td class="column0 style2 s">HOP &amp; VINE</td>
                    <td class="column1 style5 s">220 S COLUMBIA ST #9 &amp; 10</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3595">
                    <td class="column0 style2 s">HOP &amp; VINE</td>
                    <td class="column1 style5 s">220 S COLUMBIA ST #9 &amp; 10</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3596">
                    <td class="column0 style2 s">HOP &amp; VINE</td>
                    <td class="column1 style5 s">220 S COLUMBIA ST #9 &amp; 10</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3597">
                    <td class="column0 style2 s">HOP &amp; VINE</td>
                    <td class="column1 style5 s">220 S COLUMBIA ST #9 &amp; 10</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3598">
                    <td class="column0 style3 s">SAFEWAY #1260 SEASIDE</td>
                    <td class="column1 style4 s">401 S ROOSEVELT</td>
                    <td class="column2 style7 s">SEASIDE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3599">
                    <td class="column0 style2 s">SAFEWAY #1260 SEASIDE</td>
                    <td class="column1 style5 s">401 S ROOSEVELT</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3600">
                    <td class="column0 style2 s">SAFEWAY #1260 SEASIDE</td>
                    <td class="column1 style5 s">401 S ROOSEVELT</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3601">
                    <td class="column0 style2 s">SAFEWAY #1260 SEASIDE</td>
                    <td class="column1 style5 s">401 S ROOSEVELT</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3602">
                    <td class="column0 style2 s">SAFEWAY #1260 SEASIDE</td>
                    <td class="column1 style5 s">401 S ROOSEVELT</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3603">
                    <td class="column0 style3 s">HAMILTON MARKET</td>
                    <td class="column1 style4 s">250 AVENUE U</td>
                    <td class="column2 style7 s">SEASIDE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3604">
                    <td class="column0 style2 s">HAMILTON MARKET</td>
                    <td class="column1 style5 s">250 AVENUE U</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3605">
                    <td class="column0 style3 s">MO'S RESTAURANT-SEASIDE</td>
                    <td class="column1 style4 s">30 N PROM</td>
                    <td class="column2 style7 s">SEASIDE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3606">
                    <td class="column0 style2 s">MO'S RESTAURANT-SEASIDE</td>
                    <td class="column1 style5 s">30 N PROM</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3607">
                    <td class="column0 style2 s">MO'S RESTAURANT-SEASIDE</td>
                    <td class="column1 style5 s">30 N PROM</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3608">
                    <td class="column0 style3 s">RAY'S FOODS #71 SELMA</td>
                    <td class="column1 style4 s">110 DEER CREEK RD</td>
                    <td class="column2 style7 s">SELMA</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3609">
                    <td class="column0 style2 s">RAY'S FOODS #71 SELMA</td>
                    <td class="column1 style5 s">110 DEER CREEK RD</td>
                    <td class="column2 style8 s">SELMA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3610">
                    <td class="column0 style2 s">RAY'S FOODS #71 SELMA</td>
                    <td class="column1 style5 s">110 DEER CREEK RD</td>
                    <td class="column2 style8 s">SELMA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3611">
                    <td class="column0 style2 s">RAY'S FOODS #71 SELMA</td>
                    <td class="column1 style5 s">110 DEER CREEK RD</td>
                    <td class="column2 style8 s">SELMA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3612">
                    <td class="column0 style3 s">SPEEDY MART 2 SELMA</td>
                    <td class="column1 style4 s">18398 REDWOOD HWY UNIT 3</td>
                    <td class="column2 style7 s">SELMA</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3613">
                    <td class="column0 style2 s">SPEEDY MART 2 SELMA</td>
                    <td class="column1 style5 s">18398 REDWOOD HWY UNIT 3</td>
                    <td class="column2 style8 s">SELMA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3614">
                    <td class="column0 style3 s">CHEVRON #145-HWY 62 SHADY</td>
                    <td class="column1 style4 s">21222 HWY 62</td>
                    <td class="column2 style7 s">SHADY COVE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3615">
                    <td class="column0 style2 s">CHEVRON #145-HWY 62 SHADY</td>
                    <td class="column1 style5 s">21222 HWY 62</td>
                    <td class="column2 style8 s">SHADY COVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3616">
                    <td class="column0 style2 s">CHEVRON #145-HWY 62 SHADY</td>
                    <td class="column1 style5 s">21222 HWY 62</td>
                    <td class="column2 style8 s">SHADY COVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3617">
                    <td class="column0 style2 s">CHEVRON #145-HWY 62 SHADY</td>
                    <td class="column1 style5 s">21222 HWY 62</td>
                    <td class="column2 style8 s">SHADY COVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3618">
                    <td class="column0 style2 s">CHEVRON #145-HWY 62 SHADY</td>
                    <td class="column1 style5 s">21222 HWY 62</td>
                    <td class="column2 style8 s">SHADY COVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3619">
                    <td class="column0 style3 s">SHADY COVE SELECT MARKET</td>
                    <td class="column1 style4 s">22111 HWY 62</td>
                    <td class="column2 style7 s">SHADY COVE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3620">
                    <td class="column0 style2 s">SHADY COVE SELECT MARKET</td>
                    <td class="column1 style5 s">22111 HWY 62</td>
                    <td class="column2 style8 s">SHADY COVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3621">
                    <td class="column0 style2 s">SHADY COVE SELECT MARKET</td>
                    <td class="column1 style5 s">22111 HWY 62</td>
                    <td class="column2 style8 s">SHADY COVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3622">
                    <td class="column0 style2 s">SHADY COVE SELECT MARKET</td>
                    <td class="column1 style5 s">22111 HWY 62</td>
                    <td class="column2 style8 s">SHADY COVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3623">
                    <td class="column0 style2 s">SHADY COVE SELECT MARKET</td>
                    <td class="column1 style5 s">22111 HWY 62</td>
                    <td class="column2 style8 s">SHADY COVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3624">
                    <td class="column0 style2 s">SHADY COVE SELECT MARKET</td>
                    <td class="column1 style5 s">22111 HWY 62</td>
                    <td class="column2 style8 s">SHADY COVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3625">
                    <td class="column0 style2 s">SHADY COVE SELECT MARKET</td>
                    <td class="column1 style5 s">22111 HWY 62</td>
                    <td class="column2 style8 s">SHADY COVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3626">
                    <td class="column0 style2 s">SHADY COVE SELECT MARKET</td>
                    <td class="column1 style5 s">22111 HWY 62</td>
                    <td class="column2 style8 s">SHADY COVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3627">
                    <td class="column0 style2 s">SHADY COVE SELECT MARKET</td>
                    <td class="column1 style5 s">22111 HWY 62</td>
                    <td class="column2 style8 s">SHADY COVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3628">
                    <td class="column0 style2 s">SHADY COVE SELECT MARKET</td>
                    <td class="column1 style5 s">22111 HWY 62</td>
                    <td class="column2 style8 s">SHADY COVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3629">
                    <td class="column0 style2 s">SHADY COVE SELECT MARKET</td>
                    <td class="column1 style5 s">22111 HWY 62</td>
                    <td class="column2 style8 s">SHADY COVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3630">
                    <td class="column0 style2 s">SHADY COVE SELECT MARKET</td>
                    <td class="column1 style5 s">22111 HWY 62</td>
                    <td class="column2 style8 s">SHADY COVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3631">
                    <td class="column0 style3 s">STOP N GO #6 SHADY COVE</td>
                    <td class="column1 style4 s">21226 HWY 62 STE A &amp; B</td>
                    <td class="column2 style7 s">SHADY COVE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3632">
                    <td class="column0 style2 s">STOP N GO #6 SHADY COVE</td>
                    <td class="column1 style5 s">21226 HWY 62 STE A &amp; B</td>
                    <td class="column2 style8 s">SHADY COVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3633">
                    <td class="column0 style2 s">STOP N GO #6 SHADY COVE</td>
                    <td class="column1 style5 s">21226 HWY 62 STE A &amp; B</td>
                    <td class="column2 style8 s">SHADY COVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3634">
                    <td class="column0 style2 s">STOP N GO #6 SHADY COVE</td>
                    <td class="column1 style5 s">21226 HWY 62 STE A &amp; B</td>
                    <td class="column2 style8 s">SHADY COVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3635">
                    <td class="column0 style2 s">STOP N GO #6 SHADY COVE</td>
                    <td class="column1 style5 s">21226 HWY 62 STE A &amp; B</td>
                    <td class="column2 style8 s">SHADY COVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3636">
                    <td class="column0 style3 s">SHERIDAN SELECT MARKET</td>
                    <td class="column1 style4 s">135 S BRIDGE ST</td>
                    <td class="column2 style7 s">SHERIDAN</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                     <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3637">
                    <td class="column0 style2 s">SHERIDAN SELECT MARKET</td>
                    <td class="column1 style5 s">135 S BRIDGE ST</td>
                    <td class="column2 style8 s">SHERIDAN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3638">
                    <td class="column0 style2 s">SHERIDAN SELECT MARKET</td>
                    <td class="column1 style5 s">135 S BRIDGE ST</td>
                    <td class="column2 style8 s">SHERIDAN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3639">
                    <td class="column0 style2 s">SHERIDAN SELECT MARKET</td>
                    <td class="column1 style5 s">135 S BRIDGE ST</td>
                    <td class="column2 style8 s">SHERIDAN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3640">
                    <td class="column0 style2 s">SHERIDAN SELECT MARKET</td>
                    <td class="column1 style5 s">135 S BRIDGE ST</td>
                    <td class="column2 style8 s">SHERIDAN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3641">
                    <td class="column0 style2 s">SHERIDAN SELECT MARKET</td>
                    <td class="column1 style5 s">135 S BRIDGE ST</td>
                    <td class="column2 style8 s">SHERIDAN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3642">
                    <td class="column0 style3 s">SAFEWAY #1800 SHERWOOD</td>
                    <td class="column1 style4 s">20685 SW ROY ROGERS</td>
                    <td class="column2 style7 s">SHERWOOD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3643">
                    <td class="column0 style2 s">SAFEWAY #1800 SHERWOOD</td>
                    <td class="column1 style5 s">20685 SW ROY ROGERS</td>
                    <td class="column2 style8 s">SHERWOOD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3644">
                    <td class="column0 style2 s">SAFEWAY #1800 SHERWOOD</td>
                    <td class="column1 style5 s">20685 SW ROY ROGERS</td>
                    <td class="column2 style8 s">SHERWOOD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3645">
                    <td class="column0 style3 s">NOEL'S MARKET</td>
                    <td class="column1 style4 s">180 GAITHER AVE</td>
                    <td class="column2 style7 s">SILETZ</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3646">
                    <td class="column0 style2 s">NOEL'S MARKET</td>
                    <td class="column1 style5 s">180 GAITHER AVE</td>
                    <td class="column2 style8 s">SILETZ</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3647">
                    <td class="column0 style2 s">NOEL'S MARKET</td>
                    <td class="column1 style5 s">180 GAITHER AVE</td>
                    <td class="column2 style8 s">SILETZ</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3648">
                    <td class="column0 style2 s">NOEL'S MARKET</td>
                    <td class="column1 style5 s">180 GAITHER AVE</td>
                    <td class="column2 style8 s">SILETZ</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3649">
                    <td class="column0 style3 s">ROTHS #1 - SILVERTON</td>
                    <td class="column1 style4 s">918 1ST. ST.</td>
                    <td class="column2 style7 s">SILVERTON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3650">
                    <td class="column0 style2 s">ROTHS #1 - SILVERTON</td>
                    <td class="column1 style5 s">918 1ST. ST.</td>
                    <td class="column2 style8 s">SILVERTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3651">
                    <td class="column0 style2 s">ROTHS #1 - SILVERTON</td>
                    <td class="column1 style5 s">918 1ST. ST.</td>
                    <td class="column2 style8 s">SILVERTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3652">
                    <td class="column0 style3 s">SAFEWAY #1580 SILVERTON</td>
                    <td class="column1 style4 s">301 WESTFIELD</td>
                    <td class="column2 style7 s">SILVERTON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3653">
                    <td class="column0 style2 s">SAFEWAY #1580 SILVERTON</td>
                    <td class="column1 style5 s">301 WESTFIELD</td>
                    <td class="column2 style8 s">SILVERTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3654">
                    <td class="column0 style3 s">BI-MART #680 SISTERS</td>
                    <td class="column1 style4 s">445 W HIGHWAY 20</td>
                    <td class="column2 style7 s">SISTERS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3655">
                    <td class="column0 style2 s">BI-MART #680 SISTERS</td>
                    <td class="column1 style5 s">445 W HIGHWAY 20</td>
                    <td class="column2 style8 s">SISTERS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3656">
                    <td class="column0 style3 s">RAYS FOODS #45</td>
                    <td class="column1 style4 s">635 N ARROWLEAF TRAIL</td>
                    <td class="column2 style7 s">SISTERS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3657">
                    <td class="column0 style2 s">RAYS FOODS #45</td>
                    <td class="column1 style5 s">635 N ARROWLEAF TRAIL</td>
                    <td class="column2 style8 s">SISTERS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3658">
                    <td class="column0 style2 s">RAYS FOODS #45</td>
                    <td class="column1 style5 s">635 N ARROWLEAF TRAIL</td>
                    <td class="column2 style8 s">SISTERS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3659">
                    <td class="column0 style2 s">RAYS FOODS #45</td>
                    <td class="column1 style5 s">635 N ARROWLEAF TRAIL</td>
                    <td class="column2 style8 s">SISTERS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3660">
                    <td class="column0 style2 s">RAYS FOODS #45</td>
                    <td class="column1 style5 s">635 N ARROWLEAF TRAIL</td>
                    <td class="column2 style8 s">SISTERS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3661">
                    <td class="column0 style3 s">ASPEN LAKES GOLF COURSE</td>
                    <td class="column1 style4 s">16900 ASPEN LAKES DR.</td>
                    <td class="column2 style7 s">SISTERS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3662">
                    <td class="column0 style2 s">ASPEN LAKES GOLF COURSE</td>
                    <td class="column1 style5 s">16900 ASPEN LAKES DR.</td>
                    <td class="column2 style8 s">SISTERS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3663">
                    <td class="column0 style3 s">CASCADE TRAILSTOP MARKET</td>
                    <td class="column1 style4 s">110 W. CASCADE AVENUE</td>
                    <td class="column2 style7 s">SISTERS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3664">
                    <td class="column0 style2 s">CASCADE TRAILSTOP MARKET</td>
                    <td class="column1 style5 s">110 W. CASCADE AVENUE</td>
                    <td class="column2 style8 s">SISTERS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3665">
                    <td class="column0 style2 s">CASCADE TRAILSTOP MARKET</td>
                    <td class="column1 style5 s">110 W. CASCADE AVENUE</td>
                    <td class="column2 style8 s">SISTERS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3666">
                    <td class="column0 style2 s">CASCADE TRAILSTOP MARKET</td>
                    <td class="column1 style5 s">110 W. CASCADE AVENUE</td>
                    <td class="column2 style8 s">SISTERS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3667">
                    <td class="column0 style2 s">CASCADE TRAILSTOP MARKET</td>
                    <td class="column1 style5 s">110 W. CASCADE AVENUE</td>
                    <td class="column2 style8 s">SISTERS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3668">
                    <td class="column0 style2 s">CASCADE TRAILSTOP MARKET</td>
                    <td class="column1 style5 s">110 W. CASCADE AVENUE</td>
                    <td class="column2 style8 s">SISTERS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3669">
                    <td class="column0 style2 s">CASCADE TRAILSTOP MARKET</td>
                    <td class="column1 style5 s">110 W. CASCADE AVENUE</td>
                    <td class="column2 style8 s">SISTERS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3670">
                    <td class="column0 style2 s">CASCADE TRAILSTOP MARKET</td>
                    <td class="column1 style5 s">110 W. CASCADE AVENUE</td>
                    <td class="column2 style8 s">SISTERS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3671">
                    <td class="column0 style2 s">CASCADE TRAILSTOP MARKET</td>
                    <td class="column1 style5 s">110 W. CASCADE AVENUE</td>
                    <td class="column2 style8 s">SISTERS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3672">
                    <td class="column0 style3 s">OLIVER LEMON'S</td>
                    <td class="column1 style4 s">160 S FIR STREET</td>
                    <td class="column2 style7 s">SISTERS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3673">
                    <td class="column0 style2 s">OLIVER LEMON'S</td>
                    <td class="column1 style5 s">160 S FIR STREET</td>
                    <td class="column2 style8 s">SISTERS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3674">
                    <td class="column0 style2 s">OLIVER LEMON'S</td>
                    <td class="column1 style5 s">160 S FIR STREET</td>
                    <td class="column2 style8 s">SISTERS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3675">
                    <td class="column0 style3 s">TAKODAS</td>
                    <td class="column1 style4 s">425 HWY 20 WEST</td>
                    <td class="column2 style7 s">SISTERS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3676">
                    <td class="column0 style2 s">TAKODAS</td>
                    <td class="column1 style5 s">425 HWY 20 WEST</td>
                    <td class="column2 style8 s">SISTERS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3677">
                    <td class="column0 style3 s">SISTERS DINO MARKET</td>
                    <td class="column1 style4 s">240 E CASCADE AVE</td>
                    <td class="column2 style7 s">SISTERS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3678">
                    <td class="column0 style2 s">SISTERS DINO MARKET</td>
                    <td class="column1 style5 s">240 E CASCADE AVE</td>
                    <td class="column2 style8 s">SISTERS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3679">
                    <td class="column0 style2 s">SISTERS DINO MARKET</td>
                    <td class="column1 style5 s">240 E CASCADE AVE</td>
                    <td class="column2 style8 s">SISTERS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3680">
                    <td class="column0 style3 s">CENTER MARKET #13 JASPER</td>
                    <td class="column1 style4 s">4266 JASPER RD</td>
                    <td class="column2 style7 s">SPRINGFIELD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3681">
                    <td class="column0 style2 s">CENTER MARKET #13 JASPER</td>
                    <td class="column1 style5 s">4266 JASPER RD</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3682">
                    <td class="column0 style2 s">CENTER MARKET #13 JASPER</td>
                    <td class="column1 style5 s">4266 JASPER RD</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                     </tr>
                    <tr class="row3683">
                    <td class="column0 style2 s">CENTER MARKET #13 JASPER</td>
                    <td class="column1 style5 s">4266 JASPER RD</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>