<tr class="row2240">
    <td class="column0 style2 s">SAFEWAY #525 SHP CNT MF</td>
    <td class="column1 style5 s">1003 MEDFORD SHOPPING CTR</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2241">
    <td class="column0 style3 s">CROWN MARKET #900 PROG DR</td>
    <td class="column1 style4 s">1112 PROGRESS DR # 105</td>
    <td class="column2 style7 s">MEDFORD</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2242">
    <td class="column0 style2 s">CROWN MARKET #900 PROG DR</td>
    <td class="column1 style5 s">1112 PROGRESS DR # 105</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2243">
    <td class="column0 style2 s">CROWN MARKET #900 PROG DR</td>
    <td class="column1 style5 s">1112 PROGRESS DR # 105</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2244">
    <td class="column0 style3 s">ROGUE REGENCY INN &amp; SUITE</td>
    <td class="column1 style4 s">2300 BIDDLE RD./PO BOX A</td>
    <td class="column2 style7 s">MEDFORD</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
     <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2245">
    <td class="column0 style2 s">ROGUE REGENCY INN &amp; SUITE</td>
    <td class="column1 style5 s">2300 BIDDLE RD./PO BOX A</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2246">
    <td class="column0 style2 s">ROGUE REGENCY INN &amp; SUITE</td>
    <td class="column1 style5 s">2300 BIDDLE RD./PO BOX A</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2247">
    <td class="column0 style2 s">ROGUE REGENCY INN &amp; SUITE</td>
    <td class="column1 style5 s">2300 BIDDLE RD./PO BOX A</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2248">
    <td class="column0 style2 s">ROGUE REGENCY INN &amp; SUITE</td>
    <td class="column1 style5 s">2300 BIDDLE RD./PO BOX A</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2249">
    <td class="column0 style2 s">ROGUE REGENCY INN &amp; SUITE</td>
    <td class="column1 style5 s">2300 BIDDLE RD./PO BOX A</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2250">
    <td class="column0 style2 s">ROGUE REGENCY INN &amp; SUITE</td>
    <td class="column1 style5 s">2300 BIDDLE RD./PO BOX A</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2251">
    <td class="column0 style2 s">ROGUE REGENCY INN &amp; SUITE</td>
    <td class="column1 style5 s">2300 BIDDLE RD./PO BOX A</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2252">
    <td class="column0 style3 s">CROWN MARKET #800 STW MF</td>
    <td class="column1 style4 s">809 STEWART AVE.</td>
    <td class="column2 style7 s">MEDFORD</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2253">
    <td class="column0 style2 s">CROWN MARKET #800 STW MF</td>
    <td class="column1 style5 s">809 STEWART AVE.</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2254">
    <td class="column0 style2 s">CROWN MARKET #800 STW MF</td>
    <td class="column1 style5 s">809 STEWART AVE.</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2255">
    <td class="column0 style3 s">LAVA LANES OF MEDFORD</td>
    <td class="column1 style4 s">2980 CRATER LAKE HWY</td>
    <td class="column2 style7 s">MEDFORD</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2256">
    <td class="column0 style2 s">LAVA LANES OF MEDFORD</td>
    <td class="column1 style5 s">2980 CRATER LAKE HWY</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE SYRAH</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2257">
    <td class="column0 style3 s">PORTERS DINING AT THE DEPOT</td>
    <td class="column1 style4 s">147 NORTH FRONT STREET</td>
    <td class="column2 style7 s">MEDFORD</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2258">
    <td class="column0 style2 s">PORTERS DINING AT THE DEP</td>
    <td class="column1 style5 s">147 NORTH FRONT STREET</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2259">
    <td class="column0 style3 s">JEFFERSON SPIRITS</td>
    <td class="column1 style4 s">404 E. MAIN ST.</td>
    <td class="column2 style7 s">MEDFORD</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2260">
    <td class="column0 style2 s">JEFFERSON SPIRITS</td>
    <td class="column1 style5 s">404 E. MAIN ST.</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2261">
    <td class="column0 style3 s">SAFEWAY #1643 CRATER LAKE HWY</td>
    <td class="column1 style4 s">3196 CRATER LK HWY</td>
    <td class="column2 style7 s">MEDFORD</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2262">
    <td class="column0 style2 s">SAFEWAY #1643 CRTR LK MF</td>
    <td class="column1 style5 s">3196 CRATER LK HWY</td>
    <td class="column2 style8 s">MEDFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
                <tr class="row2263">
                    <td class="column0 style2 s">SAFEWAY #1643 CRTR LK MF</td>
                    <td class="column1 style5 s">3196 CRATER LK HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2264">
                    <td class="column0 style2 s">SAFEWAY #1643 CRTR LK MF</td>
                    <td class="column1 style5 s">3196 CRATER LK HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2265">
                    <td class="column0 style2 s">SAFEWAY #1643 CRTR LK MF</td>
                    <td class="column1 style5 s">3196 CRATER LK HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2266">
                    <td class="column0 style2 s">SAFEWAY #1643 CRTR LK MF</td>
                    <td class="column1 style5 s">3196 CRATER LK HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2267">
                    <td class="column0 style2 s">SAFEWAY #1643 CRTR LK MF</td>
                    <td class="column1 style5 s">3196 CRATER LK HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2268">
                    <td class="column0 style2 s">SAFEWAY #1643 CRTR LK MF</td>
                    <td class="column1 style5 s">3196 CRATER LK HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2269">
                    <td class="column0 style2 s">SAFEWAY #1643 CRTR LK MF</td>
                    <td class="column1 style5 s">3196 CRATER LK HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2270">
                    <td class="column0 style2 s">SAFEWAY #1643 CRTR LK MF</td>
                    <td class="column1 style5 s">3196 CRATER LK HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2271">
                    <td class="column0 style2 s">SAFEWAY #1643 CRTR LK MF</td>
                    <td class="column1 style5 s">3196 CRATER LK HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2272">
                    <td class="column0 style3 s">ROGUE MANOR FOOD</td>
                    <td class="column1 style4 s">1200 MIRAMAR</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2273">
                    <td class="column0 style2 s">ROGUE MANOR FOOD</td>
                    <td class="column1 style5 s">1200 MIRAMAR</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2274">
                    <td class="column0 style3 s">THE STORE</td>
                    <td class="column1 style4 s">2037 ROBERTS RD</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2275">
                    <td class="column0 style2 s">STORE THE</td>
                    <td class="column1 style5 s">2037 ROBERTS RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2276">
                    <td class="column0 style3 s">ELMER'S BIDDLE RD MEDFORD</td>
                    <td class="column1 style4 s">2000 BIDDLE RD.</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2277">
                    <td class="column0 style2 s">ELMER'S BIDDLE RD MEDFORD</td>
                    <td class="column1 style5 s">2000 BIDDLE RD.</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2278">
                    <td class="column0 style2 s">ELMER'S BIDDLE RD MEDFORD</td>
                    <td class="column1 style5 s">2000 BIDDLE RD.</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2279">
                    <td class="column0 style3 s">CICILY'S PASTERIA &amp; GRILL</td>
                    <td class="column1 style4 s">1251 E MCANDREWS</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2280">
                    <td class="column0 style2 s">CICILY'S PASTERIA &amp; GRILL</td>
                    <td class="column1 style5 s">1251 E MCANDREWS</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2281">
                    <td class="column0 style2 s">CICILY'S PASTERIA &amp; GRILL</td>
                    <td class="column1 style5 s">1251 E MCANDREWS</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2282">
                    <td class="column0 style2 s">CICILY'S PASTERIA &amp; GRILL</td>
                    <td class="column1 style5 s">1251 E MCANDREWS</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2283">
                    <td class="column0 style2 s">CICILY'S PASTERIA &amp; GRILL</td>
                    <td class="column1 style5 s">1251 E MCANDREWS</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2284">
                    <td class="column0 style3 s">WINCO FOODS #44 BARNET ROAD</td>
                    <td class="column1 style4 s">251 BARNETT RD</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2285">
                    <td class="column0 style2 s">WINCO FOODS #44 BARNET MF</td>
                    <td class="column1 style5 s">251 BARNETT RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2286">
                    <td class="column0 style2 s">WINCO FOODS #44 BARNET MF</td>
                    <td class="column1 style5 s">251 BARNETT RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2287">
                    <td class="column0 style2 s">WINCO FOODS #44 BARNET MF</td>
                    <td class="column1 style5 s">251 BARNETT RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2288">
                    <td class="column0 style2 s">WINCO FOODS #44 BARNET MF</td>
                    <td class="column1 style5 s">251 BARNETT RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2289">
                    <td class="column0 style2 s">WINCO FOODS #44 BARNET MF</td>
                    <td class="column1 style5 s">251 BARNETT RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2290">
                    <td class="column0 style2 s">WINCO FOODS #44 BARNET MF</td>
                     <td class="column1 style5 s">251 BARNETT RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2291">
                    <td class="column0 style2 s">WINCO FOODS #44 BARNET MF</td>
                    <td class="column1 style5 s">251 BARNETT RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2292">
                    <td class="column0 style2 s">WINCO FOODS #44 BARNET MF</td>
                    <td class="column1 style5 s">251 BARNETT RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2293">
                    <td class="column0 style2 s">WINCO FOODS #44 BARNET MF</td>
                    <td class="column1 style5 s">251 BARNETT RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2294">
                    <td class="column0 style2 s">WINCO FOODS #44 BARNET MF</td>
                    <td class="column1 style5 s">251 BARNETT RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2295">
                    <td class="column0 style3 s">STAGE STOP STORE</td>
                    <td class="column1 style4 s">2185 GRIFFIN CREEK ROAD</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2296">
                    <td class="column0 style2 s">STAGE STOP STORE</td>
                    <td class="column1 style5 s">2185 GRIFFIN CREEK ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2297">
                    <td class="column0 style2 s">STAGE STOP STORE</td>
                    <td class="column1 style5 s">2185 GRIFFIN CREEK ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2298">
                    <td class="column0 style2 s">STAGE STOP STORE</td>
                    <td class="column1 style5 s">2185 GRIFFIN CREEK ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2299">
                    <td class="column0 style2 s">STAGE STOP STORE</td>
                    <td class="column1 style5 s">2185 GRIFFIN CREEK ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2300">
                    <td class="column0 style2 s">STAGE STOP STORE</td>
                    <td class="column1 style5 s">2185 GRIFFIN CREEK ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2301">
                    <td class="column0 style2 s">STAGE STOP STORE</td>
                    <td class="column1 style5 s">2185 GRIFFIN CREEK ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2302">
                    <td class="column0 style3 s">GRAPE STREET BAR &amp; GRILL</td>
                    <td class="column1 style4 s">31 GRAPE ST</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2303">
                    <td class="column0 style2 s">GRAPE STREET BAR &amp; GRILL</td>
                    <td class="column1 style5 s">31 GRAPE ST</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2304">
                    <td class="column0 style2 s">GRAPE STREET BAR &amp; GRILL</td>
                    <td class="column1 style5 s">31 GRAPE ST</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2305">
                    <td class="column0 style2 s">GRAPE STREET BAR &amp; GRILL</td>
                    <td class="column1 style5 s">31 GRAPE ST</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2306">
                    <td class="column0 style2 s">GRAPE STREET BAR &amp; GRILL</td>
                    <td class="column1 style5 s">31 GRAPE ST</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2307">
                    <td class="column0 style2 s">GRAPE STREET BAR &amp; GRILL</td>
                    <td class="column1 style5 s">31 GRAPE ST</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2308">
                    <td class="column0 style3 s">FRED MEYER #196 CENTER DRIVE</td>
                    <td class="column1 style4 s">1301 CENTER DRIVE</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2309">
                    <td class="column0 style2 s">FRED MEYER #196 CENTER MF</td>
                    <td class="column1 style5 s">1301 CENTER DRIVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2310">
                    <td class="column0 style2 s">FRED MEYER #196 CENTER MF</td>
                    <td class="column1 style5 s">1301 CENTER DRIVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2311">
                    <td class="column0 style2 s">FRED MEYER #196 CENTER MF</td>
                    <td class="column1 style5 s">1301 CENTER DRIVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2312">
                    <td class="column0 style2 s">FRED MEYER #196 CENTER MF</td>
                    <td class="column1 style5 s">1301 CENTER DRIVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2313">
                    <td class="column0 style2 s">FRED MEYER #196 CENTER MF</td>
                    <td class="column1 style5 s">1301 CENTER DRIVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2314">
                    <td class="column0 style2 s">FRED MEYER #196 CENTER MF</td>
                    <td class="column1 style5 s">1301 CENTER DRIVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2315">
                    <td class="column0 style2 s">FRED MEYER #196 CENTER MF</td>
                    <td class="column1 style5 s">1301 CENTER DRIVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2316">
                    <td class="column0 style2 s">FRED MEYER #196 CENTER MF</td>
                    <td class="column1 style5 s">1301 CENTER DRIVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2317">
                    <td class="column0 style2 s">FRED MEYER #196 CENTER MF</td>
                    <td class="column1 style5 s">1301 CENTER DRIVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2318">
                    <td class="column0 style2 s">FRED MEYER #196 CENTER MF</td>
                    <td class="column1 style5 s">1301 CENTER DRIVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2319">
                    <td class="column0 style2 s">FRED MEYER #196 CENTER MF</td>
                    <td class="column1 style5 s">1301 CENTER DRIVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2320">
                    <td class="column0 style3 s">ASTRO EXPRESS MART #245 MF</td>
                    <td class="column1 style4 s">4999 CRATER LAKE HWY</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2321">
                    <td class="column0 style2 s">ASTRO EXPRESS MRT #245 MF</td>
                    <td class="column1 style5 s">4999 CRATER LAKE HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2322">
                    <td class="column0 style2 s">ASTRO EXPRESS MRT #245 MF</td>
                    <td class="column1 style5 s">4999 CRATER LAKE HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2323">
                    <td class="column0 style3 s">STOP N GO #8 MFR</td>
                    <td class="column1 style4 s">2267 W MAIN STREET</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2324">
                    <td class="column0 style2 s">STOP N GO #8 MFR</td>
                    <td class="column1 style5 s">2267 W MAIN STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2325">
                    <td class="column0 style2 s">STOP N GO #8 MFR</td>
                    <td class="column1 style5 s">2267 W MAIN STREET</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2326">
                    <td class="column0 style3 s">EL MOLCAJETE MEXICAN GRIL</td>
                    <td class="column1 style4 s">960 N PHOENIX RD #104</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2327">
                    <td class="column0 style2 s">EL MOLCAJETE MEXICAN GRIL</td>
                    <td class="column1 style5 s">960 N PHOENIX RD #104</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2328">
                    <td class="column0 style3 s">BI-MART #616 BIDDLE ROAD</td>
                    <td class="column1 style4 s">990 BIDDLE ROAD</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2329">
                    <td class="column0 style2 s">BI-MART #616 BIDDLE MF</td>
                    <td class="column1 style5 s">990 BIDDLE ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2330">
                    <td class="column0 style2 s">BI-MART #616 BIDDLE MF</td>
                    <td class="column1 style5 s">990 BIDDLE ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2331">
                    <td class="column0 style2 s">BI-MART #616 BIDDLE MF</td>
                    <td class="column1 style5 s">990 BIDDLE ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2332">
                    <td class="column0 style2 s">BI-MART #616 BIDDLE MF</td>
                    <td class="column1 style5 s">990 BIDDLE ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2333">
                    <td class="column0 style2 s">BI-MART #616 BIDDLE MF</td>
                    <td class="column1 style5 s">990 BIDDLE ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2334">
                    <td class="column0 style2 s">BI-MART #616 BIDDLE MF</td>
                    <td class="column1 style5 s">990 BIDDLE ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2335">
                    <td class="column0 style2 s">BI-MART #616 BIDDLE MF</td>
                    <td class="column1 style5 s">990 BIDDLE ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2336">
                    <td class="column0 style2 s">BI-MART #616 BIDDLE MF</td>
                    <td class="column1 style5 s">990 BIDDLE ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2337">
                    <td class="column0 style2 s">BI-MART #616 BIDDLE MF</td>
                    <td class="column1 style5 s">990 BIDDLE ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2338">
                    <td class="column0 style3 s">MORRTON'S PIZZA</td>
                    <td class="column1 style4 s">980 N. PHOENIX RD</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2339">
                    <td class="column0 style2 s">MORRTON'S PIZZA</td>
                    <td class="column1 style5 s">980 N. PHOENIX RD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2340">
                    <td class="column0 style3 s">RITE AID #5384- MEDFORD CENTER</td>
                    <td class="column1 style4 s">981 MEDFORD CENTER</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2341">
                    <td class="column0 style2 s">RITE AID #5384- MDFD CTR</td>
                    <td class="column1 style5 s">981 MEDFORD CENTER</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2342">
                    <td class="column0 style3 s">JOE'S SPORTS BAR &amp; GRILL</td>
                    <td class="column1 style4 s">2061 ROBERTS ROAD</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2343">
                    <td class="column0 style2 s">JOE'S SPORTS BAR &amp; GR-MFR</td>
                    <td class="column1 style5 s">2061 ROBERTS ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2344">
                    <td class="column0 style3 s">JASPERS CAFÉ</td>
                    <td class="column1 style4 s">2739 NORTH PACIFIC HWY</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2345">
                    <td class="column0 style2 s">JASPERS CAFE*</td>
                    <td class="column1 style5 s">2739 NORTH PACIFIC HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2346">
                    <td class="column0 style2 s">JASPERS CAFE*</td>
                    <td class="column1 style5 s">2739 NORTH PACIFIC HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2347">
                    <td class="column0 style2 s">JASPERS CAFE*</td>
                    <td class="column1 style5 s">2739 NORTH PACIFIC HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2348">
                    <td class="column0 style3 s">WEST HILLS COUNTRY STORE</td>
                    <td class="column1 style4 s">2015 HANLEY ROAD</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2349">
                    <td class="column0 style2 s">WEST HILLS COUNTRY STORE</td>
                    <td class="column1 style5 s">2015 HANLEY ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2350">
                    <td class="column0 style2 s">WEST HILLS COUNTRY STORE</td>
                    <td class="column1 style5 s">2015 HANLEY ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2351">
                    <td class="column0 style3 s">CRATER LAKE MKT MF</td>
                    <td class="column1 style4 s">836 CRATER LAKE AVE</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2352">
                    <td class="column0 style2 s">CRATER LAKE MKT MF</td>
                    <td class="column1 style5 s">836 CRATER LAKE AVE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2353">
                    <td class="column0 style3 s">WEST MAIN SPIRITS MF</td>
                    <td class="column1 style4 s">2386 W MAIN ST SUITE A</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2354">
                    <td class="column0 style2 s">WEST MAIN SPIRITS MF</td>
                    <td class="column1 style5 s">2386 W MAIN ST SUITE A</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2355">
                    <td class="column0 style2 s">WEST MAIN SPIRITS MF</td>
                    <td class="column1 style5 s">2386 W MAIN ST SUITE A</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2356">
                    <td class="column0 style3 s">RAY'S FOODS #12 MERLIN</td>
                    <td class="column1 style4 s">3500 MERLIN ROADWY/BX 993</td>
                    <td class="column2 style7 s">MERLIN</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2357">
                    <td class="column0 style2 s">RAY'S FOODS #12 MERLIN</td>
                    <td class="column1 style5 s">3500 MERLIN ROADWY/BX 993</td>
                    <td class="column2 style8 s">MERLIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2358">
                    <td class="column0 style2 s">RAY'S FOODS #12 MERLIN</td>
                    <td class="column1 style5 s">3500 MERLIN ROADWY/BX 993</td>
                    <td class="column2 style8 s">MERLIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2359">
                    <td class="column0 style2 s">RAY'S FOODS #12 MERLIN</td>
                    <td class="column1 style5 s">3500 MERLIN ROADWY/BX 993</td>
                    <td class="column2 style8 s">MERLIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2360">
                    <td class="column0 style2 s">RAY'S FOODS #12 MERLIN</td>
                    <td class="column1 style5 s">3500 MERLIN ROADWY/BX 993</td>
                    <td class="column2 style8 s">MERLIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2361">
                    <td class="column0 style2 s">RAY'S FOODS #12 MERLIN</td>
                    <td class="column1 style5 s">3500 MERLIN ROADWY/BX 993</td>
                    <td class="column2 style8 s">MERLIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2362">
                    <td class="column0 style2 s">RAY'S FOODS #12 MERLIN</td>
                    <td class="column1 style5 s">3500 MERLIN ROADWY/BX 993</td>
                    <td class="column2 style8 s">MERLIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2363">
                    <td class="column0 style2 s">RAY'S FOODS #12 MERLIN</td>
                    <td class="column1 style5 s">3500 MERLIN ROADWY/BX 993</td>
                    <td class="column2 style8 s">MERLIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2364">
                    <td class="column0 style2 s">RAY'S FOODS #12 MERLIN</td>
                    <td class="column1 style5 s">3500 MERLIN ROADWY/BX 993</td>
                    <td class="column2 style8 s">MERLIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2365">
                    <td class="column0 style2 s">RAY'S FOODS #12 MERLIN</td>
                    <td class="column1 style5 s">3500 MERLIN ROADWY/BX 993</td>
                    <td class="column2 style8 s">MERLIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
