<tr class="row746">
    <td class="column0 style2 s">CORBETT COUNTRY STORE</td>
    <td class="column1 style5 s">36801 HIST COLUM RIVR HWY</td>
    <td class="column2 style8 s">CORBETT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row747">
    <td class="column0 style2 s">CORBETT COUNTRY STORE</td>
    <td class="column1 style5 s">36801 HIST COLUM RIVR HWY</td>
    <td class="column2 style8 s">CORBETT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row748">
    <td class="column0 style3 s">FRED MEYER #060-BASELINE</td>
    <td class="column1 style4 s">2200 W BASELINE</td>
    <td class="column2 style7 s">CORNELIUS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row749">
    <td class="column0 style2 s">FRED MEYER #060-BASELINE</td>
    <td class="column1 style5 s">2200 W BASELINE</td>
    <td class="column2 style8 s">CORNELIUS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row750">
    <td class="column0 style2 s">FRED MEYER #060-BASELINE</td>
    <td class="column1 style5 s">2200 W BASELINE</td>
    <td class="column2 style8 s">CORNELIUS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row751">
    <td class="column0 style2 s">FRED MEYER #060-BASELINE</td>
    <td class="column1 style5 s">2200 W BASELINE</td>
    <td class="column2 style8 s">CORNELIUS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row752">
    <td class="column0 style2 s">FRED MEYER #060-BASELINE</td>
    <td class="column1 style5 s">2200 W BASELINE</td>
    <td class="column2 style8 s">CORNELIUS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row753">
    <td class="column0 style3 s">CIDDICI'S PIZZA - CORVALLIS</td>
    <td class="column1 style4 s">140 NW 3RD ST SUITE B</td>
    <td class="column2 style7 s">CORVALLIS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row754">
    <td class="column0 style2 s">CIDDICI'S PIZZA - CORV</td>
    <td class="column1 style5 s">140 NW 3RD ST SUITE B</td>
    <td class="column2 style8 s">CORVALIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row755">
    <td class="column0 style2 s">CIDDICI'S PIZZA - CORV</td>
    <td class="column1 style5 s">140 NW 3RD ST SUITE B</td>
    <td class="column2 style8 s">CORVALIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row756">
    <td class="column0 style2 s">CIDDICI'S PIZZA - CORV</td>
    <td class="column1 style5 s">140 NW 3RD ST SUITE B</td>
    <td class="column2 style8 s">CORVALIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row757">
    <td class="column0 style2 s">CIDDICI'S PIZZA - CORV</td>
    <td class="column1 style5 s">140 NW 3RD ST SUITE B</td>
    <td class="column2 style8 s">CORVALIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row758">
    <td class="column0 style3 s">WINCO FOODS #03 CORVALLIS</td>
    <td class="column1 style4 s">2335 NW KINGS BLVD</td>
    <td class="column2 style7 s">CORVALLIS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row759">
    <td class="column0 style2 s">WINCO FOODS #03 CORVALLIS</td>
    <td class="column1 style5 s">2335 NW KINGS BLVD</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row760">
    <td class="column0 style2 s">WINCO FOODS #03 CORVALLIS</td>
    <td class="column1 style5 s">2335 NW KINGS BLVD</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row761">
    <td class="column0 style2 s">WINCO FOODS #03 CORVALLIS</td>
    <td class="column1 style5 s">2335 NW KINGS BLVD</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row762">
    <td class="column0 style2 s">WINCO FOODS #03 CORVALLIS</td>
    <td class="column1 style5 s">2335 NW KINGS BLVD</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row763">
    <td class="column0 style2 s">WINCO FOODS #03 CORVALLIS</td>
    <td class="column1 style5 s">2335 NW KINGS BLVD</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row764">
    <td class="column0 style3 s">SAFEWAY #4333 SW 3RD CORVALLIS</td>
    <td class="column1 style4 s">450 SW THIRD</td>
    <td class="column2 style7 s">CORVALLIS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row765">
    <td class="column0 style2 s">SAFEWAY #4333 3RD CORV</td>
    <td class="column1 style5 s">450 SW THIRD</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row766">
    <td class="column0 style3 s">CORVALLIS MARKET</td>
    <td class="column1 style4 s">28788 HWY 34</td>
    <td class="column2 style7 s">CORVALLIS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row767">
    <td class="column0 style2 s">CORVALLIS MARKET</td>
    <td class="column1 style5 s">28788 HWY 34</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row768">
    <td class="column0 style2 s">CORVALLIS MARKET</td>
    <td class="column1 style5 s">28788 HWY 34</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row769">
    <td class="column0 style2 s">CORVALLIS MARKET</td>
    <td class="column1 style5 s">28788 HWY 34</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row770">
    <td class="column0 style3 s">STOCK MARKET</td>
    <td class="column1 style4 s">300 S W 4TH</td>
    <td class="column2 style7 s">CORVALLIS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row771">
    <td class="column0 style2 s">STOCK MARKET</td>
    <td class="column1 style5 s">300 S W 4TH</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row772">
    <td class="column0 style3 s">FIRST ALTERNATIVE #2</td>
    <td class="column1 style4 s">2855 NW GRANT</td>
    <td class="column2 style7 s">CORVALLIS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row773">
    <td class="column0 style2 s">FIRST ALTERNATIVE #2</td>
     <td class="column1 style5 s">2855 NW GRANT</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row774">
    <td class="column0 style2 s">FIRST ALTERNATIVE #2</td>
    <td class="column1 style5 s">2855 NW GRANT</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row775">
    <td class="column0 style3 s">CORK &amp; BOTTLE SHOPPE</td>
    <td class="column1 style4 s">1875 NW 9TH ST</td>
    <td class="column2 style7 s">CORVALLIS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row776">
    <td class="column0 style2 s">CORK &amp; BOTTLE SHOPPE</td>
    <td class="column1 style5 s">1875 NW 9TH ST</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row777">
    <td class="column0 style3 s">SAFEWAY #1765 PHILOMATH</td>
    <td class="column1 style4 s">5270 SW PHILOMATH BLVD</td>
    <td class="column2 style7 s">CORVALLIS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row778">
    <td class="column0 style2 s">SAFEWAY #1765 PHILOMATH</td>
    <td class="column1 style5 s">5270 SW PHILOMATH BLVD</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row779">
    <td class="column0 style2 s">SAFEWAY #1765 PHILOMATH</td>
    <td class="column1 style5 s">5270 SW PHILOMATH BLVD</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row780">
    <td class="column0 style3 s">WESTERN MARKET</td>
    <td class="column1 style4 s">2875 SW WESTERN BLVD</td>
    <td class="column2 style7 s">CORVALLIS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row781">
    <td class="column0 style2 s">WESTERN MARKET</td>
    <td class="column1 style5 s">2875 SW WESTERN BLVD</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row782">
    <td class="column0 style2 s">WESTERN MARKET</td>
    <td class="column1 style5 s">2875 SW WESTERN BLVD</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row783">
    <td class="column0 style2 s">WESTERN MARKET</td>
    <td class="column1 style5 s">2875 SW WESTERN BLVD</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row784">
    <td class="column0 style3 s">VILLAGE FOOD MART</td>
    <td class="column1 style4 s">6002 WILLIAM R CARR RD</td>
    <td class="column2 style7 s">CORVALLIS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row785">
    <td class="column0 style2 s">VILLAGE FOOD MART</td>
    <td class="column1 style5 s">6002 WILLIAM R CARR RD</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row786">
    <td class="column0 style3 s">CORVALLIS MARKET #2</td>
    <td class="column1 style4 s">1621 NW 9TH</td>
    <td class="column2 style7 s">CORVALLIS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row787">
    <td class="column0 style2 s">CORVALLIS MARKET #2</td>
    <td class="column1 style5 s">1621 NW 9TH</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row788">
    <td class="column0 style3 s">COUNTRY MARKET &amp; DELI</td>
    <td class="column1 style4 s">310 NW 53RD RD</td>
    <td class="column2 style7 s">CORVALLIS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row789">
    <td class="column0 style2 s">COUNTRY MARKET &amp; DELI</td>
    <td class="column1 style5 s">310 NW 53RD RD</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row790">
    <td class="column0 style3 s">BI-MART #604 CORVALLIS</td>
    <td class="column1 style4 s">2045 NW 9TH</td>
    <td class="column2 style7 s">CORVALLIS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row791">
    <td class="column0 style2 s">BI-MART #604 CORVALLIS</td>
    <td class="column1 style5 s">2045 NW 9TH</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
     <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row792">
    <td class="column0 style3 s">FRED MEYER #070 CORVALLIS</td>
    <td class="column1 style4 s">777 NW KINGS RD</td>
    <td class="column2 style7 s">CORVALLIS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row793">
    <td class="column0 style2 s">FRED MEYER #070 CORVALLIS</td>
    <td class="column1 style5 s">777 NW KINGS RD</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row794">
    <td class="column0 style2 s">FRED MEYER #070 CORVALLIS</td>
    <td class="column1 style5 s">777 NW KINGS RD</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row795">
    <td class="column0 style3 s">WHITESIDES/CORVALLIS BREW</td>
    <td class="column1 style4 s">119 SW 4TH ST</td>
    <td class="column2 style7 s">CORVALLIS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row796">
    <td class="column0 style2 s">WHITESIDES/CORVALLIS BREW</td>
    <td class="column1 style5 s">119 SW 4TH ST</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row797">
    <td class="column0 style2 s">WHITESIDES/CORVALLIS BREW</td>
    <td class="column1 style5 s">119 SW 4TH ST</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row798">
    <td class="column0 style3 s">LEVY REST @ OSU RESER STD</td>
    <td class="column1 style4 s">660 SW 26TH ST</td>
    <td class="column2 style7 s">CORVALLIS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row799">
    <td class="column0 style2 s">LEVY REST @ OSU RESER STD</td>
    <td class="column1 style5 s">660 SW 26TH ST</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row800">
    <td class="column0 style3 s">BI-MART #639 PHILOMATH</td>
    <td class="column1 style4 s">1555 SW 53RD</td>
    <td class="column2 style7 s">CORVALLIS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row801">
    <td class="column0 style2 s">BI-MART #639 PHILOMATH</td>
    <td class="column1 style5 s">1555 SW 53RD</td>
    <td class="column2 style8 s">CORVALLIS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row802">
    <td class="column0 style3 s">SHELL STATION</td>
    <td class="column1 style4 s">1220 HWY 99 NORTH</td>
    <td class="column2 style7 s">COTTAGE GROVE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row803">
    <td class="column0 style2 s">RANI PAL 1 CORP</td>
    <td class="column1 style5 s">1220 HWY 99 NORTH</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row804">
    <td class="column0 style2 s">RANI PAL 1 CORP</td>
    <td class="column1 style5 s">1220 HWY 99 NORTH</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row805">
    <td class="column0 style2 s">RANI PAL 1 CORP</td>
    <td class="column1 style5 s">1220 HWY 99 NORTH</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row806">
    <td class="column0 style2 s">RANI PAL 1 CORP</td>
    <td class="column1 style5 s">1220 HWY 99 NORTH</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row807">
    <td class="column0 style3 s">MARKET EXPRESS</td>
    <td class="column1 style4 s">1250 GATEWAY BLVD</td>
    <td class="column2 style7 s">COTTAGE GROVE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row808">
    <td class="column0 style2 s">MARKET EXPRESS</td>
    <td class="column1 style5 s">1250 GATEWAY BLVD</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row809">
    <td class="column0 style3 s">SAFEWAY #1458 COTTAGE GRV</td>
    <td class="column1 style4 s">1500 E. MAIN ST.</td>
    <td class="column2 style7 s">COTTAGE GROVE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row810">
    <td class="column0 style2 s">SAFEWAY #1458 COTTAGE GRV</td>
    <td class="column1 style5 s">1500 E. MAIN ST.</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row811">
    <td class="column0 style3 s">COTTAGE MARKET</td>
    <td class="column1 style4 s">603 S 5TH</td>
    <td class="column2 style7 s">COTTAGE GROVE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row812">
    <td class="column0 style2 s">COTTAGE MARKET</td>
    <td class="column1 style5 s">603 S 5TH</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row813">
    <td class="column0 style2 s">COTTAGE MARKET</td>
    <td class="column1 style5 s">603 S 5TH</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row814">
    <td class="column0 style3 s">EL TAPATIO</td>
    <td class="column1 style4 s">725 GIBBS AVE</td>
    <td class="column2 style7 s">COTTAGE GROVE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row815">
    <td class="column0 style2 s">EL TAPATIO</td>
    <td class="column1 style5 s">725 GIBBS AVE</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row816">
    <td class="column0 style2 s">EL TAPATIO</td>
    <td class="column1 style5 s">725 GIBBS AVE</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row817">
    <td class="column0 style3 s">AXE &amp; FIDDLE</td>
    <td class="column1 style4 s">657 E MAIN ST</td>
    <td class="column2 style7 s">COTTAGE GROVE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row818">
    <td class="column0 style2 s">AXE &amp; FIDDLE</td>
    <td class="column1 style5 s">657 E MAIN ST</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row819">
    <td class="column0 style3 s">KWIK PIK MARKET 2</td>
    <td class="column1 style4 s">925 E GIBBS ST</td>
    <td class="column2 style7 s">COTTAGE GROVE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
     <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row820">
    <td class="column0 style2 s">KWIK PIK MARKET 2</td>
    <td class="column1 style5 s">925 E GIBBS ST</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row821">
    <td class="column0 style2 s">KWIK PIK MARKET 2</td>
    <td class="column1 style5 s">925 E GIBBS ST</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row822">
    <td class="column0 style2 s">KWIK PIK MARKET 2</td>
    <td class="column1 style5 s">925 E GIBBS ST</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row823">
    <td class="column0 style3 s">AMERICAN MARKET #8</td>
    <td class="column1 style4 s">911 E MAIN ST</td>
    <td class="column2 style7 s">COTTAGE GROVE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row824">
    <td class="column0 style2 s">AMERICAN MARKET #8</td>
    <td class="column1 style5 s">911 E MAIN ST</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row825">
    <td class="column0 style2 s">AMERICAN MARKET #8</td>
    <td class="column1 style5 s">911 E MAIN ST</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row826">
    <td class="column0 style3 s">GET N GO GROCERY - 4</td>
    <td class="column1 style4 s">33399 ROW RIVER RD</td>
    <td class="column2 style7 s">COTTAGE GROVE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row827">
    <td class="column0 style2 s">GET N GO GROCERY - 4</td>
    <td class="column1 style5 s">33399 ROW RIVER RD</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row828">
    <td class="column0 style3 s">GET N GO MARKET &amp; LAUNDRY</td>
    <td class="column1 style4 s">3075 ROW RIVER RD.</td>
    <td class="column2 style7 s">COTTAGE GROVE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row829">
    <td class="column0 style2 s">GET N GO MKT &amp; LAUNDRY</td>
    <td class="column1 style5 s">3075 ROW RIVER RD.</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row830">
    <td class="column0 style2 s">GET N GO MKT &amp; LAUNDRY</td>
    <td class="column1 style5 s">3075 ROW RIVER RD.</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row831">
    <td class="column0 style2 s">GET N GO MKT &amp; LAUNDRY</td>
    <td class="column1 style5 s">3075 ROW RIVER RD.</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row832">
    <td class="column0 style2 s">GET N GO MKT &amp; LAUNDRY</td>
    <td class="column1 style5 s">3075 ROW RIVER RD.</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row833">
    <td class="column0 style2 s">GET N GO MKT &amp; LAUNDRY</td>
    <td class="column1 style5 s">3075 ROW RIVER RD.</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row834">
    <td class="column0 style2 s">GET N GO MKT &amp; LAUNDRY</td>
    <td class="column1 style5 s">3075 ROW RIVER RD.</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row835">
    <td class="column0 style3 s">BI-MART #620 COTTAGE GROVE</td>
    <td class="column1 style4 s">100 GATEWAY RD</td>
    <td class="column2 style7 s">COTTAGE GROVE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row836">
    <td class="column0 style2 s">BI-MART #620 COTTAGE GROV</td>
    <td class="column1 style5 s">100 GATEWAY RD</td>
    <td class="column2 style8 s">COTTAGE GROVE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row837">
    <td class="column0 style3 s">BI-MART #675 CRESWELL</td>
    <td class="column1 style4 s">150 MELTEN RD</td>
    <td class="column2 style7 s">CRESWELL</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row838">
    <td class="column0 style2 s">BI-MART #675 CRESWELL</td>
    <td class="column1 style5 s">150 MELTEN RD</td>
    <td class="column2 style8 s">CRESWELL</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row839">
    <td class="column0 style3 s">T JS FAMILY REST</td>
    <td class="column1 style4 s">33769 E OREGON</td>
    <td class="column2 style7 s">CRESWELL</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row840">
    <td class="column0 style2 s">T JS FAMILY REST</td>
    <td class="column1 style5 s">33769 E OREGON</td>
    <td class="column2 style8 s">CRESWELL</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row841">
    <td class="column0 style2 s">T JS FAMILY REST</td>
    <td class="column1 style5 s">33769 E OREGON</td>
    <td class="column2 style8 s">CRESWELL</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row842">
    <td class="column0 style2 s">T JS FAMILY REST</td>
    <td class="column1 style5 s">33769 E OREGON</td>
    <td class="column2 style8 s">CRESWELL</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row843">
    <td class="column0 style3 s">FAST MART CRESWELL #3</td>
    <td class="column1 style4 s">5 S FRONT ST</td>
    <td class="column2 style7 s">CRESWELL</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row844">
    <td class="column0 style2 s">FAST MART CRESWELL #3</td>
    <td class="column1 style5 s">5 S FRONT ST</td>
    <td class="column2 style8 s">CRESWELL</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row845">
    <td class="column0 style3 s">CENTER MARKET #2 DALLAS</td>
    <td class="column1 style4 s">216 SW WASHINGTON ST</td>
    <td class="column2 style7 s">DALLAS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row846">
    <td class="column0 style2 s">CENTER MARKET #2 DALLAS</td>
    <td class="column1 style5 s">216 SW WASHINGTON ST</td>
    <td class="column2 style8 s">DALLAS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row847">
    <td class="column0 style2 s">CENTER MARKET #2 DALLAS</td>
    <td class="column1 style5 s">216 SW WASHINGTON ST</td>
    <td class="column2 style8 s">DALLAS</td>
     <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row848">
    <td class="column0 style3 s">OREGON MARKET II</td>
    <td class="column1 style4 s">210 W ELLENDALE AVE. 103</td>
    <td class="column2 style7 s">DALLAS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row849">
    <td class="column0 style2 s">OREGON MARKET II</td>
    <td class="column1 style5 s">210 W ELLENDALE AVE. 103</td>
    <td class="column2 style8 s">DALLAS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row850">
    <td class="column0 style2 s">OREGON MARKET II</td>
    <td class="column1 style5 s">210 W ELLENDALE AVE. 103</td>
    <td class="column2 style8 s">DALLAS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row851">
    <td class="column0 style3 s">RITE AID #5368- DALLAS</td>
    <td class="column1 style4 s">178 W ELLENDALE AVE</td>
    <td class="column2 style7 s">DALLAS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row852">
    <td class="column0 style2 s">RITE AID #5368- DALLAS</td>
    <td class="column1 style5 s">178 W ELLENDALE AVE</td>
    <td class="column2 style8 s">DALLAS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row853">
    <td class="column0 style3 s">CENTER MARKET #14</td>
    <td class="column1 style4 s">1283 SW FAIRVIEW AVE</td>
    <td class="column2 style7 s">DALLAS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row854">
    <td class="column0 style2 s">CENTER MARKET #14</td>
    <td class="column1 style5 s">1283 SW FAIRVIEW AVE</td>
    <td class="column2 style8 s">DALLAS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row855">
    <td class="column0 style2 s">CENTER MARKET #14</td>
    <td class="column1 style5 s">1283 SW FAIRVIEW AVE</td>
    <td class="column2 style8 s">DALLAS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    
    <tr class="row856">
        <td class="column0 style3 s">SAFEWAY #521 DAMASCUS</td>
        <td class="column1 style4 s">20151 SE HWY 212 L</td>
        <td class="column2 style7 s">DAMASCUS</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row857">
        <td class="column0 style2 s">SAFEWAY #521 DAMASCUS</td>
        <td class="column1 style5 s">20151 SE HWY 212 L</td>
        <td class="column2 style8 s">DAMASCUS</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row858">
        <td class="column0 style2 s">SAFEWAY #521 DAMASCUS</td>
        <td class="column1 style5 s">20151 SE HWY 212 L</td>
        <td class="column2 style8 s">DAMASCUS</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row859">
        <td class="column0 style3 s">LORD BRIXXTON'S LAIR</td>
        <td class="column1 style4 s">3245 N HIGHWAY 101</td>
        <td class="column2 style7 s">DEPOE BAY</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row860">
        <td class="column0 style2 s">LORD BRIXXTON'S LAIR</td>
        <td class="column1 style5 s">3245 N HIGHWAY 101</td>
        <td class="column2 style8 s">DEPOE BAY</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row861">
        <td class="column0 style2 s">LORD BRIXXTON'S LAIR</td>
        <td class="column1 style5 s">3245 N HIGHWAY 101</td>
        <td class="column2 style8 s">DEPOE BAY</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT RIVER RED</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row862">
        <td class="column0 style2 s">LORD BRIXXTON'S LAIR</td>
        <td class="column1 style5 s">3245 N HIGHWAY 101</td>
        <td class="column2 style8 s">DEPOE BAY</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row863">
        <td class="column0 style3 s">CHESTER'S LINCOLN BEACH</td>
        <td class="column1 style4 s">3950 N HWY 101</td>
        <td class="column2 style7 s">DEPOE BAY</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row864">
        <td class="column0 style2 s">CHESTER'S LINCOLN BEACH</td>
        <td class="column1 style5 s">3950 N HWY 101</td>
        <td class="column2 style8 s">DEPOE BAY</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row865">
        <td class="column0 style2 s">CHESTER'S LINCOLN BEACH</td>
        <td class="column1 style5 s">3950 N HWY 101</td>
        <td class="column2 style8 s">DEPOE BAY</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row866">
        <td class="column0 style2 s">CHESTER'S LINCOLN BEACH</td>
        <td class="column1 style5 s">3950 N HWY 101</td>
        <td class="column2 style8 s">DEPOE BAY</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row867">
        <td class="column0 style3 s">SURFRIDER RESORT</td>
        <td class="column1 style4 s">3115 NW HWY 101</td>
        <td class="column2 style7 s">DEPOE BAY</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row868">
        <td class="column0 style2 s">SURFRIDER RESORT</td>
        <td class="column1 style5 s">3115 NW HWY 101</td>
        <td class="column2 style8 s">DEPOE BAY</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row869">
        <td class="column0 style3 s">CENTER MRKT #18 -DEPOE BY</td>
        <td class="column1 style4 s">446 NE HWY 101</td>
        <td class="column2 style7 s">DEPOE BAY</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row870">
        <td class="column0 style2 s">CENTER MRKT #18 -DEPOE BY</td>
        <td class="column1 style5 s">446 NE HWY 101</td>
        <td class="column2 style8 s">DEPOE BAY</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row871">
        <td class="column0 style2 s">CENTER MRKT #18 -DEPOE BY</td>
        <td class="column1 style5 s">446 NE HWY 101</td>
        <td class="column2 style8 s">DEPOE BAY</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row872">
        <td class="column0 style3 s">RIVERS RUN DELI &amp; GAS</td>
        <td class="column1 style4 s">105 BREITENBUSH</td>
        <td class="column2 style7 s">DETROIT</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row873">
        <td class="column0 style2 s">RIVERS RUN DELI &amp; GAS</td>
        <td class="column1 style5 s">105 BREITENBUSH</td>
        <td class="column2 style8 s">DETROIT</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row874">
        <td class="column0 style3 s">EAGLE CREEK FOOD MART</td>
        <td class="column1 style4 s">29629 SE HIGHWAY 224</td>
        <td class="column2 style7 s">EAGLE CREEK</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row875">
        <td class="column0 style2 s">EAGLE CREEK FOOD MART</td>
        <td class="column1 style5 s">29629 SE HIGHWAY 224</td>
        <td class="column2 style8 s">EAGLE CREEK</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row876">
        <td class="column0 style3 s">EZ MARKET</td>
        <td class="column1 style4 s">10522 HWY 62 STE A</td>
        <td class="column2 style7 s">EAGLE POINT</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row877">
        <td class="column0 style2 s">EZ MARKET</td>
        <td class="column1 style5 s">10522 HWY 62 STE A</td>
        <td class="column2 style8 s">EAGLE POINT</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row878">
        <td class="column0 style2 s">EZ MARKET</td>
        <td class="column1 style5 s">10522 HWY 62 STE A</td>
        <td class="column2 style8 s">EAGLE POINT</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT RIVER RED</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row879">
        <td class="column0 style2 s">EZ MARKET</td>
        <td class="column1 style5 s">10522 HWY 62 STE A</td>
        <td class="column2 style8 s">EAGLE POINT</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row880">
        <td class="column0 style3 s">EAGLES MARKET</td>
        <td class="column1 style4 s">16068 HWY 62</td>
        <td class="column2 style7 s">EAGLE POINT</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row881">
        <td class="column0 style2 s">EAGLES MARKET</td>
        <td class="column1 style5 s">16068 HWY 62</td>
        <td class="column2 style8 s">EAGLE POINT</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">ROCK POINT RIVER RED</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row882">
        <td class="column0 style2 s">EAGLES MARKET</td>
        <td class="column1 style5 s">16068 HWY 62</td>
        <td class="column2 style8 s">EAGLE POINT</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row883">
        <td class="column0 style2 s">EAGLES MARKET</td>
        <td class="column1 style5 s">16068 HWY 62</td>
        <td class="column2 style8 s">EAGLE POINT</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row884">
        <td class="column0 style2 s">EAGLES MARKET</td>
        <td class="column1 style5 s">16068 HWY 62</td>
        <td class="column2 style8 s">EAGLE POINT</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row885">
        <td class="column0 style3 s">RAY'S FOODS #61 EAGLE POINT</td>
        <td class="column1 style4 s">11100 HWY 62</td>
        <td class="column2 style7 s">EAGLE POINT</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row886">
        <td class="column0 style2 s">RAY'S FOODS #61 EAGLE PT</td>
        <td class="column1 style5 s">11100 HWY 62</td>
        <td class="column2 style8 s">EAGLE POINT</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">DEL RIO VINEYARD SYRAH PORT 375ML</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row887">
        <td class="column0 style2 s">RAY'S FOODS #61 EAGLE PT</td>
        <td class="column1 style5 s">11100 HWY 62</td>
        <td class="column2 style8 s">EAGLE POINT</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row888">
        <td class="column0 style2 s">RAY'S FOODS #61 EAGLE PT</td>
        <td class="column1 style5 s">11100 HWY 62</td>
        <td class="column2 style8 s">EAGLE POINT</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row889">
        <td class="column0 style2 s">RAY'S FOODS #61 EAGLE PT</td>
        <td class="column1 style5 s">11100 HWY 62</td>
        <td class="column2 style8 s">EAGLE POINT</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row890">
        <td class="column0 style2 s">RAY'S FOODS #61 EAGLE PT</td>
        <td class="column1 style5 s">11100 HWY 62</td>
        <td class="column2 style8 s">EAGLE POINT</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row891">
        <td class="column0 style2 s">RAY'S FOODS #61 EAGLE PT</td>
        <td class="column1 style5 s">11100 HWY 62</td>
        <td class="column2 style8 s">EAGLE POINT</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row892">
        <td class="column0 style2 s">RAY'S FOODS #61 EAGLE PT</td>
        <td class="column1 style5 s">11100 HWY 62</td>
        <td class="column2 style8 s">EAGLE POINT</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row893">
        <td class="column0 style2 s">RAY'S FOODS #61 EAGLE PT</td>
        <td class="column1 style5 s">11100 HWY 62</td>
        <td class="column2 style8 s">EAGLE POINT</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row894">
        <td class="column0 style2 s">RAY'S FOODS #61 EAGLE PT</td>
        <td class="column1 style5 s">11100 HWY 62</td>
        <td class="column2 style8 s">EAGLE POINT</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row895">
        <td class="column0 style2 s">RAY'S FOODS #61 EAGLE PT</td>
        <td class="column1 style5 s">11100 HWY 62</td>
        <td class="column2 style8 s">EAGLE POINT</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
