<tr class="row1297">
    <td class="column0 style2 s">LIL PANTRY XPRESS MON GP</td>
    <td class="column1 style5 s">5030 MONUMENT DRIVE</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1298">
    <td class="column0 style2 s">LIL PANTRY XPRESS MON GP</td>
    <td class="column1 style5 s">5030 MONUMENT DRIVE</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1299">
    <td class="column0 style2 s">LIL PANTRY XPRESS MON GP</td>
    <td class="column1 style5 s">5030 MONUMENT DRIVE</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1300">
    <td class="column0 style2 s">LIL PANTRY XPRESS MON GP</td>
    <td class="column1 style5 s">5030 MONUMENT DRIVE</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1301">
    <td class="column0 style2 s">LIL PANTRY XPRESS MON GP</td>
    <td class="column1 style5 s">5030 MONUMENT DRIVE</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1302">
    <td class="column0 style2 s">LIL PANTRY XPRESS MON GP</td>
    <td class="column1 style5 s">5030 MONUMENT DRIVE</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1303">
    <td class="column0 style2 s">LIL PANTRY XPRESS MON GP</td>
    <td class="column1 style5 s">5030 MONUMENT DRIVE</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1304">
    <td class="column0 style3 s">JOE CREEK COUNTRY STORE</td>
    <td class="column1 style4 s">699 JUMP OFF JOE CREEK RD</td>
    <td class="column2 style7 s">GRANTS PASS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1305">
    <td class="column0 style2 s">JOE CREEK COUNTRY STORE</td>
    <td class="column1 style5 s">699 JUMP OFF JOE CREEK RD</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1306">
    <td class="column0 style3 s">LIL PANTRY GRANTS PASS</td>
    <td class="column1 style4 s">979 ROGUE RIVER HIGHWAY</td>
    <td class="column2 style7 s">GRANTS PASS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1307">
    <td class="column0 style2 s">LIL PANTRY GP</td>
    <td class="column1 style5 s">979 ROGUE RIVER HIGHWAY</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1308">
    <td class="column0 style2 s">LIL PANTRY GP</td>
    <td class="column1 style5 s">979 ROGUE RIVER HIGHWAY</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
     <tr class="row1309">
    <td class="column0 style2 s">LIL PANTRY GP</td>
    <td class="column1 style5 s">979 ROGUE RIVER HIGHWAY</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1310">
    <td class="column0 style2 s">LIL PANTRY GP</td>
    <td class="column1 style5 s">979 ROGUE RIVER HIGHWAY</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1311">
    <td class="column0 style2 s">LIL PANTRY GP</td>
    <td class="column1 style5 s">979 ROGUE RIVER HIGHWAY</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1312">
    <td class="column0 style2 s">LIL PANTRY GP</td>
    <td class="column1 style5 s">979 ROGUE RIVER HIGHWAY</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1313">
    <td class="column0 style2 s">LIL PANTRY GP</td>
    <td class="column1 style5 s">979 ROGUE RIVER HIGHWAY</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1314">
    <td class="column0 style3 s">THE MARKET</td>
    <td class="column1 style4 s">1070 ROGUE RIVER HIGHWAY</td>
    <td class="column2 style7 s">GRANTS PASS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1315">
    <td class="column0 style2 s">MARKET THE</td>
    <td class="column1 style5 s">1070 ROGUE RIVER HIGHWAY</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1316">
    <td class="column0 style3 s">SIXTH STREET MARKET</td>
    <td class="column1 style4 s">1330 NW 6TH ST UNIT EFG</td>
    <td class="column2 style7 s">GRANTS PASS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1317">
    <td class="column0 style2 s">SIXTH STREET MARKET</td>
    <td class="column1 style5 s">1330 NW 6TH ST UNIT EFG</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1318">
    <td class="column0 style2 s">SIXTH STREET MARKET</td>
    <td class="column1 style5 s">1330 NW 6TH ST UNIT EFG</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1319">
    <td class="column0 style2 s">SIXTH STREET MARKET</td>
    <td class="column1 style5 s">1330 NW 6TH ST UNIT EFG</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1320">
    <td class="column0 style2 s">SIXTH STREET MARKET</td>
    <td class="column1 style5 s">1330 NW 6TH ST UNIT EFG</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
<tr class="row1321">
    <td class="column0 style3 s">FRANK N STENES MONSTER GROWLERS</td>
    <td class="column1 style4 s">950 SE 6TH ST</td>
    <td class="column2 style7 s">GRANTS PASS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1322">
    <td class="column0 style2 s">FRANK N STENES MONSTER GROWLERS</td>
    <td class="column1 style5 s">950 SE 6TH ST</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CLARET</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1323">
    <td class="column0 style2 s">FRANK N STENES MONSTER GROWLERS</td>
    <td class="column1 style5 s">950 SE 6TH ST</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1324">
    <td class="column0 style2 s">FRANK N STENES MONSTER GROWLERS</td>
    <td class="column1 style5 s">950 SE 6TH ST</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1325">
    <td class="column0 style2 s">FRANK N STENES MONSTER GROWLERS</td>
    <td class="column1 style5 s">950 SE 6TH ST</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1326">
    <td class="column0 style2 s">FRANK N STENES MONSTER GROWLERS</td>
    <td class="column1 style5 s">950 SE 6TH ST</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1327">
    <td class="column0 style3 s">SAVAGE CREEK SCOOPS &amp; MORE</td>
    <td class="column1 style4 s">6415 ROGUE RIVER HWY</td>
    <td class="column2 style7 s">GRANTS PASS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1328">
    <td class="column0 style2 s">SAVAGE CREEK SCOOPS &amp; MOR</td>
    <td class="column1 style5 s">6415 ROGUE RIVER HWY</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1329">
    <td class="column0 style3 s">TOWN &amp; COUNTRY #2</td>
    <td class="column1 style4 s">1910 REDWOOD AVENUE</td>
    <td class="column2 style7 s">GRANTS PASS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1330">
    <td class="column0 style2 s">TOWN &amp; COUNTRY #2</td>
    <td class="column1 style5 s">1910 REDWOOD AVENUE</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1331">
    <td class="column0 style2 s">TOWN &amp; COUNTRY #2</td>
    <td class="column1 style5 s">1910 REDWOOD AVENUE</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1332">
    <td class="column0 style2 s">TOWN &amp; COUNTRY #2</td>
    <td class="column1 style5 s">1910 REDWOOD AVENUE</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1333">
    <td class="column0 style2 s">TOWN &amp; COUNTRY #2</td>
    <td class="column1 style5 s">1910 REDWOOD AVENUE</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1334">
    <td class="column0 style2 s">TOWN &amp; COUNTRY #2</td>
    <td class="column1 style5 s">1910 REDWOOD AVENUE</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1335">
    <td class="column0 style3 s">MURPHY STORE #119</td>
    <td class="column1 style4 s">6410 WILLIAMS HWY</td>
    <td class="column2 style7 s">GRANTS PASS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1336">
    <td class="column0 style2 s">MURPHY STORE #119</td>
    <td class="column1 style5 s">6410 WILLIAMS HWY</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1337">
    <td class="column0 style2 s">MURPHY STORE #119</td>
    <td class="column1 style5 s">6410 WILLIAMS HWY</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1338">
    <td class="column0 style2 s">MURPHY STORE #119</td>
    <td class="column1 style5 s">6410 WILLIAMS HWY</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1339">
    <td class="column0 style2 s">MURPHY STORE #119</td>
    <td class="column1 style5 s">6410 WILLIAMS HWY</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1340">
    <td class="column0 style3 s">GRANTS PASS LIQUOR</td>
    <td class="column1 style4 s">210 S.E. 8TH STREET</td>
    <td class="column2 style7 s">GRANTS PASS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1341">
    <td class="column0 style2 s">GRANTS PASS LIQUOR</td>
    <td class="column1 style5 s">210 S.E. 8TH STREET</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1342">
    <td class="column0 style2 s">GRANTS PASS LIQUOR</td>
    <td class="column1 style5 s">210 S.E. 8TH STREET</td>
    <td class="column2 style8 s">GRANTS PASS</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1343">
    <td class="column0 style3 s">RITE AID #5386- NE D GP</td>
    <td class="column1 style4 s">915 NE 'D' STREET</td>
    <td class="column2 style7 s">GRANTS PASS</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
<tr class="row1344">
<td class="column0 style2 s">RITE AID #5386- NE D GP</td>
<td class="column1 style5 s">915 NE 'D' STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1345">
<td class="column0 style3 s">FAST &amp; EASY MART</td>
<td class="column1 style4 s">3545 DEMARAY RD UNIT A</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1346">
<td class="column0 style2 s">FAST &amp; EASY MART</td>
<td class="column1 style5 s">3545 DEMARAY RD UNIT A</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1347">
<td class="column0 style3 s">WINCO FOODS # 138 GP</td>
<td class="column1 style4 s">231 NE TERRY LANE</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1348">
<td class="column0 style2 s">WINCO FOODS # 138 GP</td>
<td class="column1 style5 s">231 NE TERRY LANE</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">ROCK POINT RIVER RED</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1349">
<td class="column0 style2 s">WINCO FOODS # 138 GP</td>
<td class="column1 style5 s">231 NE TERRY LANE</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1350">
<td class="column0 style2 s">WINCO FOODS # 138 GP</td>
<td class="column1 style5 s">231 NE TERRY LANE</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1351">
<td class="column0 style2 s">WINCO FOODS # 138 GP</td>
<td class="column1 style5 s">231 NE TERRY LANE</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1352">
<td class="column0 style2 s">WINCO FOODS # 138 GP</td>
<td class="column1 style5 s">231 NE TERRY LANE</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1353">
<td class="column0 style2 s">WINCO FOODS # 138 GP</td>
<td class="column1 style5 s">231 NE TERRY LANE</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1354">
<td class="column0 style2 s">WINCO FOODS # 138 GP</td>
<td class="column1 style5 s">231 NE TERRY LANE</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1355">
<td class="column0 style2 s">WINCO FOODS # 138 GP</td>
<td class="column1 style5 s">231 NE TERRY LANE</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1356">
<td class="column0 style2 s">WINCO FOODS # 138 GP</td>
<td class="column1 style5 s">231 NE TERRY LANE</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1357">
<td class="column0 style2 s">WINCO FOODS # 138 GP</td>
<td class="column1 style5 s">231 NE TERRY LANE</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1358">
<td class="column0 style3 s">FRED MEYER #126 REDWOOD</td>
<td class="column1 style4 s">1101 REDWOOD HIGHWAY</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1359">
<td class="column0 style2 s">FRED MEYER #126 REDWOOD</td>
<td class="column1 style5 s">1101 REDWOOD HIGHWAY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1360">
<td class="column0 style2 s">FRED MEYER #126 REDWOOD</td>
<td class="column1 style5 s">1101 REDWOOD HIGHWAY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1361">
<td class="column0 style2 s">FRED MEYER #126 REDWOOD</td>
<td class="column1 style5 s">1101 REDWOOD HIGHWAY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1362">
<td class="column0 style2 s">FRED MEYER #126 REDWOOD</td>
<td class="column1 style5 s">1101 REDWOOD HIGHWAY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT RIVER RED</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1363">
<td class="column0 style2 s">FRED MEYER #126 REDWOOD</td>
<td class="column1 style5 s">1101 REDWOOD HIGHWAY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1364">
<td class="column0 style3 s">CLOVERLAWN MARKET</td>
<td class="column1 style4 s">2600 CLOVERLAWN DR</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1365">
<td class="column0 style2 s">CLOVERLAWN MARKET</td>
<td class="column1 style5 s">2600 CLOVERLAWN DR</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1366">
<td class="column0 style3 s">THE SOUND LOUNGE</td>
<td class="column1 style4 s">225 S.E. 'H' STREET</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1367">
<td class="column0 style2 s">THE SOUND LOUNGE</td>
<td class="column1 style5 s">225 S.E. 'H' STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1368">
<td class="column0 style3 s">JEROME PRAIRIE MARKET</td>
<td class="column1 style4 s">5229 REDWOOD AVE</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1369">
<td class="column0 style2 s">JEROME PRAIRIE MARKET</td>
<td class="column1 style5 s">5229 REDWOOD AVE</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1370">
<td class="column0 style3 s">M STREET MARKET</td>
<td class="column1 style4 s">1024 SOUTHEAST M STREET</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1371">
<td class="column0 style2 s">M STREET MARKET</td>
<td class="column1 style5 s">1024 SOUTHEAST M STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1372">
<td class="column0 style2 s">M STREET MARKET</td>
<td class="column1 style5 s">1024 SOUTHEAST M STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1373">
<td class="column0 style3 s">CIRCLE K 76 #126</td>
<td class="column1 style4 s">1995 NE 6TH ST</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1374">
<td class="column0 style2 s">CIRCLE K 76 #126</td>
<td class="column1 style5 s">1995 NE 6TH ST</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1375">
<td class="column0 style2 s">CIRCLE K 76 #126</td>
<td class="column1 style5 s">1995 NE 6TH ST</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1376">
<td class="column0 style2 s">CIRCLE K 76 #126</td>
<td class="column1 style5 s">1995 NE 6TH ST</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1377">
<td class="column0 style2 s">CIRCLE K 76 #126</td>
<td class="column1 style5 s">1995 NE 6TH ST</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1378">
<td class="column0 style3 s">BI-MART #610 REDWOOD GRANTS PASS</td>
<td class="column1 style4 s">230 S.W. REDWOOD HIGHWAY</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1379">
<td class="column0 style2 s">BI-MART #610 REDWOOD GP</td>
<td class="column1 style5 s">230 S.W. REDWOOD HIGHWAY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1380">
<td class="column0 style2 s">BI-MART #610 REDWOOD GP</td>
<td class="column1 style5 s">230 S.W. REDWOOD HIGHWAY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT RIVER RED</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1381">
<td class="column0 style2 s">BI-MART #610 REDWOOD GP</td>
<td class="column1 style5 s">230 S.W. REDWOOD HIGHWAY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1382">
<td class="column0 style2 s">BI-MART #610 REDWOOD GP</td>
<td class="column1 style5 s">230 S.W. REDWOOD HIGHWAY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1383">
<td class="column0 style2 s">BI-MART #610 REDWOOD GP</td>
<td class="column1 style5 s">230 S.W. REDWOOD HIGHWAY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1384">
<td class="column0 style2 s">BI-MART #610 REDWOOD GP</td>
<td class="column1 style5 s">230 S.W. REDWOOD HIGHWAY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1385">
<td class="column0 style2 s">BI-MART #610 REDWOOD GP</td>
<td class="column1 style5 s">230 S.W. REDWOOD HIGHWAY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1386">
<td class="column0 style2 s">BI-MART #610 REDWOOD GP</td>
<td class="column1 style5 s">230 S.W. REDWOOD HIGHWAY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1387">
<td class="column0 style2 s">BI-MART #610 REDWOOD GP</td>
<td class="column1 style5 s">230 S.W. REDWOOD HIGHWAY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1388">
<td class="column0 style2 s">BI-MART #610 REDWOOD GP</td>
<td class="column1 style5 s">230 S.W. REDWOOD HIGHWAY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1389">
<td class="column0 style3 s">ALBERTSONS #3541 ALLEN GRANTS PASS</td>
<td class="column1 style4 s">1690 ALLEN CREEK RD</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1390">
<td class="column0 style2 s">ALBERTSONS #3541 ALLEN GP</td>
<td class="column1 style5 s">1690 ALLEN CREEK RD</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">ROCK POINT RIVER RED</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1391">
<td class="column0 style2 s">ALBERTSONS #3541 ALLEN GP</td>
<td class="column1 style5 s">1690 ALLEN CREEK RD</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1392">
<td class="column0 style2 s">ALBERTSONS #3541 ALLEN GP</td>
<td class="column1 style5 s">1690 ALLEN CREEK RD</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1393">
<td class="column0 style2 s">ALBERTSONS #3541 ALLEN GP</td>
<td class="column1 style5 s">1690 ALLEN CREEK RD</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1394">
<td class="column0 style2 s">ALBERTSONS #3541 ALLEN GP</td>
<td class="column1 style5 s">1690 ALLEN CREEK RD</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1395">
<td class="column0 style2 s">ALBERTSONS #3541 ALLEN GP</td>
<td class="column1 style5 s">1690 ALLEN CREEK RD</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1396">
<td class="column0 style2 s">ALBERTSONS #3541 ALLEN GP</td>
<td class="column1 style5 s">1690 ALLEN CREEK RD</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1397">
<td class="column0 style2 s">ALBERTSONS #3541 ALLEN GP</td>
<td class="column1 style5 s">1690 ALLEN CREEK RD</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1398">
<td class="column0 style2 s">ALBERTSONS #3541 ALLEN GP</td>
<td class="column1 style5 s">1690 ALLEN CREEK RD</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1399">
<td class="column0 style2 s">ALBERTSONS #3541 ALLEN GP</td>
<td class="column1 style5 s">1690 ALLEN CREEK RD</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1400">
<td class="column0 style3 s">GIANELLI'S TASTE OF ITALY</td>
<td class="column1 style4 s">211 NE A ST</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1401">
<td class="column0 style2 s">GIANELLI'S TASTE OF ITAL*</td>
<td class="column1 style5 s">211 NE A ST</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1402">
<td class="column0 style3 s">LIL PANTRY NORTH GRANTS PASS</td>
<td class="column1 style4 s">2017 NW VINE STREET</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1403">
<td class="column0 style2 s">LIL PANTRY NORTH GP</td>
<td class="column1 style5 s">2017 NW VINE STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1404">
<td class="column0 style2 s">LIL PANTRY NORTH GP</td>
<td class="column1 style5 s">2017 NW VINE STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1405">
<td class="column0 style2 s">LIL PANTRY NORTH GP</td>
<td class="column1 style5 s">2017 NW VINE STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1406">
<td class="column0 style2 s">LIL PANTRY NORTH GP</td>
<td class="column1 style5 s">2017 NW VINE STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1407">
<td class="column0 style2 s">LIL PANTRY NORTH GP</td>
<td class="column1 style5 s">2017 NW VINE STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1408">
<td class="column0 style2 s">LIL PANTRY NORTH GP</td>
<td class="column1 style5 s">2017 NW VINE STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1409">
<td class="column0 style2 s">LIL PANTRY NORTH GP</td>
<td class="column1 style5 s">2017 NW VINE STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT RIVER RED</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1410">
<td class="column0 style2 s">LIL PANTRY NORTH GP</td>
<td class="column1 style5 s">2017 NW VINE STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1411">
<td class="column0 style3 s">BRIDGE STREET MARKET</td>
<td class="column1 style4 s">732 S.W. BRIDGE STREET</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1412">
<td class="column0 style2 s">BRIDGE STREET MARKET</td>
<td class="column1 style5 s">732 S.W. BRIDGE STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1413">
<td class="column0 style2 s">BRIDGE STREET MARKET</td>
<td class="column1 style5 s">732 S.W. BRIDGE STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1414">
<td class="column0 style3 s">ROGUE RIVER MARKET &amp; DELI</td>
<td class="column1 style4 s">1641 ROGUE RIVER HIGHWAY</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1415">
<td class="column0 style2 s">ROGUE RIVER MARKET &amp; DELI</td>
<td class="column1 style5 s">1641 ROGUE RIVER HIGHWAY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1416">
<td class="column0 style2 s">ROGUE RIVER MARKET &amp; DELI</td>
<td class="column1 style5 s">1641 ROGUE RIVER HIGHWAY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1417">
<td class="column0 style3 s">A-1 MARKET #2 G ST GRANTS PASS</td>
<td class="column1 style4 s">556 SW 'G' STREET</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1418">
<td class="column0 style2 s">A-1 MARKET #2 G ST GP</td>
<td class="column1 style5 s">556 SW 'G' STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1419">
<td class="column0 style2 s">A-1 MARKET #2 G ST GP</td>
<td class="column1 style5 s">556 SW 'G' STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1420">
<td class="column0 style2 s">A-1 MARKET #2 G ST GP</td>
<td class="column1 style5 s">556 SW 'G' STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT RIVER RED</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1421">
<td class="column0 style2 s">A-1 MARKET #2 G ST GP</td>
<td class="column1 style5 s">556 SW 'G' STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1422">
<td class="column0 style3 s">BOHEMIAN BAR &amp; BISTRO</td>
<td class="column1 style4 s">233 SW G STREET</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1423">
<td class="column0 style2 s">BOHEMIAN BAR &amp; BISTRO</td>
<td class="column1 style5 s">233 SW G STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1424">
<td class="column0 style3 s">NEW HOPE MARKET</td>
<td class="column1 style4 s">5200 NEW HOPE RD</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1425">
<td class="column0 style2 s">NEW HOPE MARKET</td>
<td class="column1 style5 s">5200 NEW HOPE RD</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1426">
<td class="column0 style3 s">PLAZA LIQUOR</td>
<td class="column1 style4 s">1638 WILLIAMS HWY</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1427">
<td class="column0 style2 s">PLAZA LIQUOR</td>
<td class="column1 style5 s">1638 WILLIAMS HWY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1428">
<td class="column0 style2 s">PLAZA LIQUOR</td>
<td class="column1 style5 s">1638 WILLIAMS HWY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1429">
<td class="column0 style3 s">KINGS CORNER MARKET</td>
<td class="column1 style4 s">1664A SE N STREET STE 6A</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1430">
<td class="column0 style2 s">KINGS CORNER MARKET</td>
<td class="column1 style5 s">1664A SE N STREET STE 6A</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1431">
<td class="column0 style2 s">KINGS CORNER MARKET</td>
<td class="column1 style5 s">1664A SE N STREET STE 6A</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1432">
<td class="column0 style2 s">KINGS CORNER MARKET</td>
<td class="column1 style5 s">1664A SE N STREET STE 6A</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1433">
<td class="column0 style2 s">KINGS CORNER MARKET</td>
<td class="column1 style5 s">1664A SE N STREET STE 6A</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1434">
<td class="column0 style3 s">WEASKU INN</td>
<td class="column1 style4 s">5560 ROGUE RIVER HWY</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1435">
<td class="column0 style2 s">WEASKU INN*</td>
<td class="column1 style5 s">5560 ROGUE RIVER HWY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1436">
<td class="column0 style3 s">LITTLE BRIDGE ST. MARKET</td>
<td class="column1 style4 s">2035 SW BRIDGE ST</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1437">
<td class="column0 style2 s">LITTLE BRIDGE ST. MARKET</td>
<td class="column1 style5 s">2035 SW BRIDGE ST</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1438">
<td class="column0 style2 s">LITTLE BRIDGE ST. MARKET</td>
<td class="column1 style5 s">2035 SW BRIDGE ST</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1439">
<td class="column0 style3 s">THE LAUGHING CLAM</td>
<td class="column1 style4 s">121 SW G ST</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1440">
<td class="column0 style2 s">LAUGHING CLAM THE</td>
<td class="column1 style5 s">121 SW G ST</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1441">
<td class="column0 style2 s">LAUGHING CLAM THE</td>
<td class="column1 style5 s">121 SW G ST</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1442">
<td class="column0 style2 s">LAUGHING CLAM THE</td>
<td class="column1 style5 s">121 SW G ST</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1443">
<td class="column0 style3 s">APPLEBEE'S GRANTS PASS</td>
<td class="column1 style4 s">250 NE AGNESS AVE</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1444">
<td class="column0 style2 s">APPLEBEE'S GRANTS PASS</td>
<td class="column1 style5 s">250 NE AGNESS AVE</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>