
                <tr class="row3881">
                    <td class="column0 style2 s">WINCO FOODS #23 TIGARD</td>
                    <td class="column1 style5 s">7501 DARTMOUTH RD</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3882">
                    <td class="column0 style2 s">WINCO FOODS #23 TIGARD</td>
                    <td class="column1 style5 s">7501 DARTMOUTH RD</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3883">
                    <td class="column0 style3 s">BOUNTY HUNTER</td>
                    <td class="column1 style4 s">11445 SW PACIFIC HWY</td>
                    <td class="column2 style7 s">TIGARD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3884">
                    <td class="column0 style2 s">BOUNTY HUNTER</td>
                    <td class="column1 style5 s">11445 SW PACIFIC HWY</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3885">
                    <td class="column0 style2 s">BOUNTY HUNTER</td>
                    <td class="column1 style5 s">11445 SW PACIFIC HWY</td>
                    <td class="column2 style8 s">TIGARD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3886">
                    <td class="column0 style3 s">TILLAMOOK CHEESE FACTORY</td>
                    <td class="column1 style4 s">4175 HWY 101 N</td>
                    <td class="column2 style7 s">TILLAMOOK</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3887">
                    <td class="column0 style2 s">TILLAMOOK CHEESE FACTORY</td>
                    <td class="column1 style5 s">4175 HWY 101 N</td>
                    <td class="column2 style8 s">TILLAMOOK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3888">
                    <td class="column0 style2 s">TILLAMOOK CHEESE FACTORY</td>
                    <td class="column1 style5 s">4175 HWY 101 N</td>
                    <td class="column2 style8 s">TILLAMOOK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3889">
                    <td class="column0 style2 s">TILLAMOOK CHEESE FACTORY</td>
                    <td class="column1 style5 s">4175 HWY 101 N</td>
                    <td class="column2 style8 s">TILLAMOOK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3890">
                    <td class="column0 style3 s">SOUTH PRAIRIE STORE</td>
                    <td class="column1 style4 s">6730 S PRAIRIE ROAD</td>
                    <td class="column2 style7 s">TILLAMOOK</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3891">
                    <td class="column0 style2 s">SOUTH PRAIRIE STORE</td>
                    <td class="column1 style5 s">6730 S PRAIRIE ROAD</td>
                    <td class="column2 style8 s">TILLAMOOK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3892">
                    <td class="column0 style3 s">FRED MEYER #377-TILLAMOOK</td>
                    <td class="column1 style4 s">2500 N MAIN STREET</td>
                    <td class="column2 style7 s">TILLAMOOK</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3893">
                    <td class="column0 style2 s">FRED MEYER #377-TILLAMOOK</td>
                    <td class="column1 style5 s">2500 N MAIN STREET</td>
                    <td class="column2 style8 s">TILLAMOOK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3894">
                    <td class="column0 style2 s">FRED MEYER #377-TILLAMOOK</td>
                    <td class="column1 style5 s">2500 N MAIN STREET</td>
                    <td class="column2 style8 s">TILLAMOOK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3895">
                    <td class="column0 style2 s">FRED MEYER #377-TILLAMOOK</td>
                    <td class="column1 style5 s">2500 N MAIN STREET</td>
                    <td class="column2 style8 s">TILLAMOOK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3896">
                    <td class="column0 style2 s">FRED MEYER #377-TILLAMOOK</td>
                    <td class="column1 style5 s">2500 N MAIN STREET</td>
                    <td class="column2 style8 s">TILLAMOOK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3897">
                    <td class="column0 style3 s">BAYSIDE MARKET &amp; DELI</td>
                    <td class="column1 style4 s">4995 CRAB AVENUE W</td>
                    <td class="column2 style7 s">TILLAMOOK</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3898">
                    <td class="column0 style2 s">BAYSIDE MARKET &amp; DELI</td>
                    <td class="column1 style5 s">4995 CRAB AVENUE W</td>
                    <td class="column2 style8 s">TILLAMOOK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3899">
                    <td class="column0 style2 s">BAYSIDE MARKET &amp; DELI</td>
                    <td class="column1 style5 s">4995 CRAB AVENUE W</td>
                    <td class="column2 style8 s">TILLAMOOK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3900">
                    <td class="column0 style2 s">BAYSIDE MARKET &amp; DELI</td>
                    <td class="column1 style5 s">4995 CRAB AVENUE W</td>
                    <td class="column2 style8 s">TILLAMOOK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3901">
                    <td class="column0 style2 s">BAYSIDE MARKET &amp; DELI</td>
                    <td class="column1 style5 s">4995 CRAB AVENUE W</td>
                    <td class="column2 style8 s">TILLAMOOK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3902">
                    <td class="column0 style2 s">BAYSIDE MARKET &amp; DELI</td>
                    <td class="column1 style5 s">4995 CRAB AVENUE W</td>
                    <td class="column2 style8 s">TILLAMOOK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3903">
                    <td class="column0 style2 s">BAYSIDE MARKET &amp; DELI</td>
                    <td class="column1 style5 s">4995 CRAB AVENUE W</td>
                    <td class="column2 style8 s">TILLAMOOK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3904">
                    <td class="column0 style3 s">SAFEWAY #2723 TILLAMOOK</td>
                    <td class="column1 style4 s">1815 4TH ST</td>
                    <td class="column2 style7 s">TILLAMOOK</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3905">
                    <td class="column0 style2 s">SAFEWAY #2723 TILLAMOOK</td>
                    <td class="column1 style5 s">1815 4TH ST</td>
                    <td class="column2 style8 s">TILLAMOOK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3906">
                    <td class="column0 style3 s">CENTER MRKT #12 TILLAMOOK</td>
                    <td class="column1 style4 s">604 MAIN STREET</td>
                    <td class="column2 style7 s">TILLAMOOK</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3907">
                    <td class="column0 style2 s">CENTER MRKT #12 TILMK MN</td>
                    <td class="column1 style5 s">604 MAIN STREET</td>
                    <td class="column2 style8 s">TILLAMOOK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3908">
                    <td class="column0 style3 s">NEWMAN'S AT 988</td>
                    <td class="column1 style4 s">988 S HEMLOCK</td>
                    <td class="column2 style7 s">TOLOVANA PARK</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3909">
                    <td class="column0 style2 s">NEWMAN'S AT 988</td>
                    <td class="column1 style5 s">988 S HEMLOCK</td>
                    <td class="column2 style8 s">TOLOVANA PARK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD SYRAH PORT 375ML</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3910">
                    <td class="column0 style3 s">TRAIL MARKET</td>
                    <td class="column1 style4 s">24231 HWY 62</td>
                    <td class="column2 style7 s">TRAIL</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3911">
                    <td class="column0 style2 s">TRAIL MARKET</td>
                    <td class="column1 style5 s">24231 HWY 62</td>
                    <td class="column2 style8 s">TRAIL</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3912">
                    <td class="column0 style3 s">SUNSET ON THE ROGUE</td>
                    <td class="column1 style4 s">26876 HWY 62</td>
                    <td class="column2 style7 s">TRAIL</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                     <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3913">
                    <td class="column0 style2 s">SUNSET ON THE ROGUE</td>
                    <td class="column1 style5 s">26876 HWY 62</td>
                    <td class="column2 style8 s">TRAIL</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3914">
                    <td class="column0 style3 s">ALBERTSONS #0536 TROUTDALE</td>
                    <td class="column1 style4 s">25691 SE STARK</td>
                    <td class="column2 style7 s">TROUTDALE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3915">
                    <td class="column0 style2 s">ALBERTSONS #0536 TROUTDAL</td>
                    <td class="column1 style5 s">25691 SE STARK</td>
                    <td class="column2 style8 s">TROUTDALE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3916">
                    <td class="column0 style2 s">ALBERTSONS #0536 TROUTDAL</td>
                    <td class="column1 style5 s">25691 SE STARK</td>
                    <td class="column2 style8 s">TROUTDALE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3917">
                    <td class="column0 style2 s">ALBERTSONS #0536 TROUTDAL</td>
                    <td class="column1 style5 s">25691 SE STARK</td>
                    <td class="column2 style8 s">TROUTDALE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3918">
                    <td class="column0 style2 s">ALBERTSONS #0536 TROUTDAL</td>
                    <td class="column1 style5 s">25691 SE STARK</td>
                    <td class="column2 style8 s">TROUTDALE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3919">
                    <td class="column0 style3 s">SAFEWAY #1542 CHERRY PARK</td>
                    <td class="column1 style4 s">2501 SW CHERRY PARK RD</td>
                    <td class="column2 style7 s">TROUTDALE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3920">
                    <td class="column0 style2 s">SAFEWAY #1542 CHERRY PARK</td>
                    <td class="column1 style5 s">2501 SW CHERRY PARK RD</td>
                    <td class="column2 style8 s">TROUTDALE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3921">
                    <td class="column0 style3 s">TROUTINI</td>
                    <td class="column1 style4 s">101 W HIST COL RVR HWY</td>
                    <td class="column2 style7 s">TROUTDALE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3922">
                     <td class="column0 style2 s">TROUTINI</td>
                    <td class="column1 style5 s">101 W HIST COL RVR HWY</td>
                    <td class="column2 style8 s">TROUTDALE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3923">
                    <td class="column0 style3 s">SAFEWAY #1047 LAKE GROVE</td>
                    <td class="column1 style4 s">17779 SW LWR BOONES FERRY</td>
                    <td class="column2 style7 s">TUALATIN</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3924">
                    <td class="column0 style2 s">SAFEWAY #1047 LAKE GROVE</td>
                    <td class="column1 style5 s">17779 SW LWR BOONES FERRY</td>
                    <td class="column2 style8 s">TUALATIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3925">
                    <td class="column0 style2 s">SAFEWAY #1047 LAKE GROVE</td>
                    <td class="column1 style5 s">17779 SW LWR BOONES FERRY</td>
                    <td class="column2 style8 s">TUALATIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3926">
                    <td class="column0 style2 s">SAFEWAY #1047 LAKE GROVE</td>
                    <td class="column1 style5 s">17779 SW LWR BOONES FERRY</td>
                    <td class="column2 style8 s">TUALATIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3927">
                    <td class="column0 style3 s">THE CI BAR AND GRILL</td>
                    <td class="column1 style4 s">18786 SW BOONES FRY L</td>
                    <td class="column2 style7 s">TUALATIN</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3928">
                    <td class="column0 style2 s">THE CI BAR AND GRILL</td>
                    <td class="column1 style5 s">18786 SW BOONES FRY L</td>
                    <td class="column2 style8 s">TUALATIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3929">
                    <td class="column0 style3 s">FRED MEYER #393-TUALATIN</td>
                    <td class="column1 style4 s">19200 SW MARTINAZZI</td>
                    <td class="column2 style7 s">TUALATIN</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3930">
                    <td class="column0 style2 s">FRED MEYER #393-TUALATIN</td>
                    <td class="column1 style5 s">19200 SW MARTINAZZI</td>
                    <td class="column2 style8 s">TUALATIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3931">
                    <td class="column0 style2 s">FRED MEYER #393-TUALATIN</td>
                    <td class="column1 style5 s">19200 SW MARTINAZZI</td>
                    <td class="column2 style8 s">TUALATIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3932">
                    <td class="column0 style2 s">FRED MEYER #393-TUALATIN</td>
                    <td class="column1 style5 s">19200 SW MARTINAZZI</td>
                    <td class="column2 style8 s">TUALATIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3933">
                    <td class="column0 style2 s">FRED MEYER #393-TUALATIN</td>
                    <td class="column1 style5 s">19200 SW MARTINAZZI</td>
                    <td class="column2 style8 s">TUALATIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3934">
                    <td class="column0 style3 s">NEW SEASONS NYBERG</td>
                    <td class="column1 style4 s">7703 SW NYBERG RD</td>
                    <td class="column2 style7 s">TUALATIN</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3935">
                    <td class="column0 style2 s">NEW SEASONS #1114 NYBERG</td>
                    <td class="column1 style5 s">7703 SW NYBERG RD</td>
                    <td class="column2 style8 s">TUALATIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3936">
                    <td class="column0 style2 s">NEW SEASONS #1114 NYBERG</td>
                    <td class="column1 style5 s">7703 SW NYBERG RD</td>
                    <td class="column2 style8 s">TUALATIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3937">
                    <td class="column0 style2 s">NEW SEASONS #1114 NYBERG</td>
                    <td class="column1 style5 s">7703 SW NYBERG RD</td>
                    <td class="column2 style8 s">TUALATIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3938">
                    <td class="column0 style2 s">NEW SEASONS #1114 NYBERG</td>
                    <td class="column1 style5 s">7703 SW NYBERG RD</td>
                    <td class="column2 style8 s">TUALATIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3939">
                    <td class="column0 style3 s">CENTER MARKET #20</td>
                    <td class="column1 style4 s">5280 CHICAGO ST SE</td>
                    <td class="column2 style7 s">TURNER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3940">
                    <td class="column0 style2 s">CENTER MARKET #20</td>
                    <td class="column1 style5 s">5280 CHICAGO ST SE</td>
                    <td class="column2 style8 s">TURNER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3941">
                    <td class="column0 style3 s">RAYS FOODS #39 VENETA</td>
                    <td class="column1 style4 s">88320 TERRITORIAL RD</td>
                    <td class="column2 style7 s">VENETA</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3942">
                    <td class="column0 style2 s">RAYS FOODS #39</td>
                    <td class="column1 style5 s">88320 TERRITORIAL RD</td>
                    <td class="column2 style8 s">VENETA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3943">
                    <td class="column0 style2 s">RAYS FOODS #39</td>
                    <td class="column1 style5 s">88320 TERRITORIAL RD</td>
                    <td class="column2 style8 s">VENETA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3944">
                    <td class="column0 style2 s">RAYS FOODS #39</td>
                    <td class="column1 style5 s">88320 TERRITORIAL RD</td>
                    <td class="column2 style8 s">VENETA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3945">
                    <td class="column0 style2 s">RAYS FOODS #39</td>
                    <td class="column1 style5 s">88320 TERRITORIAL RD</td>
                    <td class="column2 style8 s">VENETA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3946">
                    <td class="column0 style2 s">RAYS FOODS #39</td>
                    <td class="column1 style5 s">88320 TERRITORIAL RD</td>
                    <td class="column2 style8 s">VENETA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3947">
                    <td class="column0 style2 s">RAYS FOODS #39</td>
                    <td class="column1 style5 s">88320 TERRITORIAL RD</td>
                    <td class="column2 style8 s">VENETA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3948">
                    <td class="column0 style2 s">RAYS FOODS #39</td>
                    <td class="column1 style5 s">88320 TERRITORIAL RD</td>
                    <td class="column2 style8 s">VENETA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3949">
                    <td class="column0 style3 s">DS MART</td>
                    <td class="column1 style4 s">87754 TERRITORIAL RD</td>
                    <td class="column2 style7 s">VENETA</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3950">
                    <td class="column0 style2 s">DS MART</td>
                    <td class="column1 style5 s">87754 TERRITORIAL RD</td>
                    <td class="column2 style8 s">VENETA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3951">
                    <td class="column0 style2 s">DS MART</td>
                    <td class="column1 style5 s">87754 TERRITORIAL RD</td>
                    <td class="column2 style8 s">VENETA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3952">
                    <td class="column0 style3 s">BROADWAY GRILL</td>
                    <td class="column1 style4 s">24992 W BROADWAY</td>
                    <td class="column2 style7 s">VENETA</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3953">
                    <td class="column0 style2 s">BROADWAY GRILL</td>
                    <td class="column1 style5 s">24992 W BROADWAY</td>
                    <td class="column2 style8 s">VENETA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3954">
                    <td class="column0 style3 s">AMERICAN MARKET #5</td>
                    <td class="column1 style4 s">24979 W. BROADWAY</td>
                    <td class="column2 style7 s">VENETA</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3955">
                    <td class="column0 style2 s">AMERICAN MARKET #5</td>
                    <td class="column1 style5 s">24979 W. BROADWAY</td>
                    <td class="column2 style8 s">VENETA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3956">
                    <td class="column0 style2 s">AMERICAN MARKET #5</td>
                    <td class="column1 style5 s">24979 W. BROADWAY</td>
                    <td class="column2 style8 s">VENETA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3957">
                    <td class="column0 style3 s">BI-MART #669 VENETA</td>
                    <td class="column1 style4 s">25126 JEANS RD</td>
                    <td class="column2 style7 s">VENETA</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3958">
                    <td class="column0 style2 s">BI-MART #669 VENETA</td>
                    <td class="column1 style5 s">25126 JEANS RD</td>
                    <td class="column2 style8 s">VENETA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3959">
                    <td class="column0 style3 s">BRIDGE STREET MINI MART</td>
                    <td class="column1 style4 s">490 BRIDGE ST</td>
                    <td class="column2 style7 s">VERNONIA</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3960">
                    <td class="column0 style2 s">BRIDGE STREET MINI MART</td>
                    <td class="column1 style5 s">490 BRIDGE ST</td>
                    <td class="column2 style8 s">VERNONIA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3961">
                    <td class="column0 style2 s">BRIDGE STREET MINI MART</td>
                    <td class="column1 style5 s">490 BRIDGE ST</td>
                    <td class="column2 style8 s">VERNONIA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3962">
                    <td class="column0 style2 s">BRIDGE STREET MINI MART</td>
                    <td class="column1 style5 s">490 BRIDGE ST</td>
                    <td class="column2 style8 s">VERNONIA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3963">
                    <td class="column0 style3 s">R &amp; S MARKET</td>
                    <td class="column1 style4 s">735 JEFFERSON AVE</td>
                    <td class="column2 style7 s">VERNONIA</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3964">
                    <td class="column0 style2 s">R &amp; S MARKET</td>
                    <td class="column1 style5 s">735 JEFFERSON AVE</td>
                    <td class="column2 style8 s">VERNONIA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3965">
                    <td class="column0 style2 s">R &amp; S MARKET</td>
                    <td class="column1 style5 s">735 JEFFERSON AVE</td>
                    <td class="column2 style8 s">VERNONIA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3966">
                    <td class="column0 style3 s">EVERYONE'S MARKET #7</td>
                    <td class="column1 style4 s">45602 MCKENZIE HWY</td>
                    <td class="column2 style7 s">VIDA</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3967">
                    <td class="column0 style2 s">EVERYONE'S MARKET #7</td>
                    <td class="column1 style5 s">45602 MCKENZIE HWY</td>
                    <td class="column2 style8 s">VIDA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3968">
                    <td class="column0 style3 s">HI-SCHOOL PHARMACY #1187</td>
                    <td class="column1 style4 s">110 SW HWY 101</td>
                    <td class="column2 style7 s">WALDPORT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3969">
                    <td class="column0 style2 s">HI-SCHOOL PHARMACY #1187</td>
                    <td class="column1 style5 s">110 SW HWY 101</td>
                    <td class="column2 style8 s">WALDPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3970">
                    <td class="column0 style2 s">HI-SCHOOL PHARMACY #1187</td>
                    <td class="column1 style5 s">110 SW HWY 101</td>
                    <td class="column2 style8 s">WALDPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3971">
                    <td class="column0 style3 s">US MARKET 101 - WALDPORT</td>
                    <td class="column1 style4 s">230 SW HIGHWAY 101</td>
                    <td class="column2 style7 s">WALDPORT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3972">
                    <td class="column0 style2 s">US MARKET 101 - WALDPORT</td>
                    <td class="column1 style5 s">230 SW HIGHWAY 101</td>
                    <td class="column2 style8 s">WALDPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3973">
                    <td class="column0 style3 s">RAY'S FOODS #44 WALDPORT</td>
                    <td class="column1 style4 s">580 NE BROADWAY</td>
                    <td class="column2 style7 s">WALDPORT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3974">
                    <td class="column0 style2 s">RAY'S FOODS #44 WALDPORT</td>
                    <td class="column1 style5 s">580 NE BROADWAY</td>
                    <td class="column2 style8 s">WALDPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3975">
                    <td class="column0 style2 s">RAY'S FOODS #44 WALDPORT</td>
                    <td class="column1 style5 s">580 NE BROADWAY</td>
                    <td class="column2 style8 s">WALDPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3976">
                    <td class="column0 style2 s">RAY'S FOODS #44 WALDPORT</td>
                    <td class="column1 style5 s">580 NE BROADWAY</td>
                    <td class="column2 style8 s">WALDPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3977">
                    <td class="column0 style2 s">RAY'S FOODS #44 WALDPORT</td>
                    <td class="column1 style5 s">580 NE BROADWAY</td>
                    <td class="column2 style8 s">WALDPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3978">
                    <td class="column0 style3 s">FRED MEYER #218-WARRENTON</td>
                    <td class="column1 style4 s">1451 HWY 101</td>
                    <td class="column2 style7 s">WARRENTON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3979">
                    <td class="column0 style2 s">FRED MEYER #218-WARRENTON</td>
                    <td class="column1 style5 s">1451 HWY 101</td>
                    <td class="column2 style8 s">WARRENTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3980">
                    <td class="column0 style2 s">FRED MEYER #218-WARRENTON</td>
                    <td class="column1 style5 s">1451 HWY 101</td>
                    <td class="column2 style8 s">WARRENTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3981">
                    <td class="column0 style2 s">FRED MEYER #218-WARRENTON</td>
                    <td class="column1 style5 s">1451 HWY 101</td>
                    <td class="column2 style8 s">WARRENTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3982">
                    <td class="column0 style3 s">EL BURRO LOCO</td>
                    <td class="column1 style4 s">67211 E HWY 26</td>
                    <td class="column2 style7 s">WELCHES</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3983">
                    <td class="column0 style2 s">EL BURRO LOCO</td>
                    <td class="column1 style5 s">67211 E HWY 26</td>
                    <td class="column2 style8 s">WELCHES</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3984">
                    <td class="column0 style3 s">MT HOOD VILLAGE STORE</td>
                    <td class="column1 style4 s">65000 HWY 26</td>
                    <td class="column2 style7 s">WELCHES</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3985">
                    <td class="column0 style2 s">MT HOOD VILLAGE STORE</td>
                    <td class="column1 style5 s">65000 HWY 26</td>
                    <td class="column2 style8 s">WELCHES</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3986">
                    <td class="column0 style2 s">MT HOOD VILLAGE STORE</td>
                    <td class="column1 style5 s">65000 HWY 26</td>
                    <td class="column2 style8 s">WELCHES</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3987">
                    <td class="column0 style2 s">MT HOOD VILLAGE STORE</td>
                    <td class="column1 style5 s">65000 HWY 26</td>
                    <td class="column2 style8 s">WELCHES</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3988">
                    <td class="column0 style2 s">MT HOOD VILLAGE STORE</td>
                    <td class="column1 style5 s">65000 HWY 26</td>
                    <td class="column2 style8 s">WELCHES</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3989">
                    <td class="column0 style3 s">RESORT AT THE MOUNTAIN</td>
                    <td class="column1 style4 s">68010 EAST FAIRWAY L</td>
                    <td class="column2 style7 s">WELCHES</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>