
                    <tr class="row491">
                        <td class="column0 style3 s">US MARKET (BUTLER) #150</td>
                        <td class="column1 style4 s">2625 NE BUTLER MKT RD</td>
                        <td class="column2 style7 s">BEND</td>
                        <td class="column3 style10 s">OR</td>
                        <td class="column4 style21 s">&nbsp;</td>
                        <td class="column5 style14 s"></td>
                        <td class="column6">&nbsp;</td>
                        </tr>
                        <tr class="row492">
                        <td class="column0 style2 s">US MARKET (BUTLER) #150</td>
                         <td class="column1 style5 s">2625 NE BUTLER MKT RD</td>
                        <td class="column2 style8 s">BEND</td>
                        <td class="column3 style11 s">OR</td>
                        <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                        <td class="column5 style14 s"></td>
                        <td class="column6">&nbsp;</td>
                        </tr>
                        <tr class="row493">
                        <td class="column0 style2 s">US MARKET (BUTLER) #150</td>
                        <td class="column1 style5 s">2625 NE BUTLER MKT RD</td>
                        <td class="column2 style8 s">BEND</td>
                        <td class="column3 style11 s">OR</td>
                        <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                        <td class="column5 style14 s"></td>
                        <td class="column6">&nbsp;</td>
                        </tr>
                        <tr class="row494">
                        <td class="column0 style2 s">US MARKET (BUTLER) #150</td>
                        <td class="column1 style5 s">2625 NE BUTLER MKT RD</td>
                        <td class="column2 style8 s">BEND</td>
                        <td class="column3 style11 s">OR</td>
                        <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                        <td class="column5 style14 s"></td>
                        <td class="column6">&nbsp;</td>
                        </tr>
                        <tr class="row495">
                        <td class="column0 style3 s">WALLOW BAR &amp; GRILL</td>
                        <td class="column1 style4 s">17363 SPRING RIVER ROAD</td>
                        <td class="column2 style7 s">BEND</td>
                        <td class="column3 style10 s">OR</td>
                        <td class="column4 style21 s">&nbsp;</td>
                        <td class="column5 style14 s"></td>
                        <td class="column6">&nbsp;</td>
                        </tr>
                        <tr class="row496">
                        <td class="column0 style2 s">WALLOW BAR &amp; GRILL</td>
                        <td class="column1 style5 s">17363 SPRING RIVER ROAD</td>
                        <td class="column2 style8 s">BEND</td>
                        <td class="column3 style11 s">OR</td>
                        <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                        <td class="column5 style14 s"></td>
                        <td class="column6">&nbsp;</td>
                        </tr>
                        <tr class="row497">
                        <td class="column0 style2 s">WALLOW BAR &amp; GRILL</td>
                        <td class="column1 style5 s">17363 SPRING RIVER ROAD</td>
                        <td class="column2 style8 s">BEND</td>
                        <td class="column3 style11 s">OR</td>
                        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                        <td class="column5 style14 s"></td>
                        <td class="column6">&nbsp;</td>
                        </tr>
                        <tr class="row498">
                        <td class="column0 style2 s">WALLOW BAR &amp; GRILL</td>
                        <td class="column1 style5 s">17363 SPRING RIVER ROAD</td>
                        <td class="column2 style8 s">BEND</td>
                        <td class="column3 style11 s">OR</td>
                        <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                        <td class="column5 style14 s"></td>
                        <td class="column6">&nbsp;</td>
                        </tr>
                        <tr class="row499">
                        <td class="column0 style2 s">WALLOW BAR &amp; GRILL</td>
                        <td class="column1 style5 s">17363 SPRING RIVER ROAD</td>
                        <td class="column2 style8 s">BEND</td>
                        <td class="column3 style11 s">OR</td>
                        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                        <td class="column5 style14 s"></td>
                        <td class="column6">&nbsp;</td>
                        </tr>
                        <tr class="row500">
                        <td class="column0 style2 s">WALLOW BAR &amp; GRILL</td>
                        <td class="column1 style5 s">17363 SPRING RIVER ROAD</td>
                        <td class="column2 style8 s">BEND</td>
                        <td class="column3 style11 s">OR</td>
                        <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                        <td class="column5 style14 s"></td>
                        <td class="column6">&nbsp;</td>
                        </tr>
                <tr class="row501">
                <td class="column0 style3 s">3RD STREET BEVERAGE</td>
                <td class="column1 style4 s">740 NE 3RD ST</td>
                <td class="column2 style7 s">BEND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row502">
                <td class="column0 style2 s">3RD STREET BEVERAGE</td>
                <td class="column1 style5 s">740 NE 3RD ST</td>
                <td class="column2 style8 s">BEND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row503">
                <td class="column0 style3 s">BLACK BUTTE GENERAL STORE</td>
                <td class="column1 style4 s">13890 HAWKS BEARD</td>
                <td class="column2 style7 s">BLACKBUTTE RNCH</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row504">
                <td class="column0 style2 s">BLACK BUTTE GENERAL STORE</td>
                <td class="column1 style5 s">13890 HAWKS BEARD</td>
                <td class="column2 style8 s">BLACKBUTTE RNCH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row505">
                <td class="column0 style2 s">BLACK BUTTE GENERAL STORE</td>
                <td class="column1 style5 s">13890 HAWKS BEARD</td>
                <td class="column2 style8 s">BLACKBUTTE RNCH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row506">
                <td class="column0 style2 s">BLACK BUTTE GENERAL STORE</td>
                <td class="column1 style5 s">13890 HAWKS BEARD</td>
                <td class="column2 style8 s">BLACKBUTTE RNCH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row507">
                <td class="column0 style2 s">BLACK BUTTE GENERAL STORE</td>
                <td class="column1 style5 s">13890 HAWKS BEARD</td>
                <td class="column2 style8 s">BLACKBUTTE RNCH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row508">
                <td class="column0 style2 s">BLACK BUTTE GENERAL STORE</td>
                <td class="column1 style5 s">13890 HAWKS BEARD</td>
                <td class="column2 style8 s">BLACKBUTTE RNCH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row509">
                <td class="column0 style2 s">BLACK BUTTE GENERAL STORE</td>
                <td class="column1 style5 s">13890 HAWKS BEARD</td>
                <td class="column2 style8 s">BLACKBUTTE RNCH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row510">
                <td class="column0 style3 s">BLODGETT COUNTRY STORE</td>
                <td class="column1 style4 s">21412 HWY 20</td>
                 <td class="column2 style7 s">BLODGETT</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row511">
                <td class="column0 style2 s">BLODGETT COUNTRY STORE</td>
                <td class="column1 style5 s">21412 HWY 20</td>
                <td class="column2 style8 s">BLODGETT</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row512">
                <td class="column0 style2 s">BLODGETT COUNTRY STORE</td>
                <td class="column1 style5 s">21412 HWY 20</td>
                <td class="column2 style8 s">BLODGETT</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row513">
                <td class="column0 style2 s">BLODGETT COUNTRY STORE</td>
                <td class="column1 style5 s">21412 HWY 20</td>
                <td class="column2 style8 s">BLODGETT</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row514">
                <td class="column0 style3 s">BLUE SKY MARKET</td>
                <td class="column1 style4 s">91808 MILL CREEK RD</td>
                <td class="column2 style7 s">BLUE RIVER</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row515">
                <td class="column0 style2 s">BLUE SKY MARKET</td>
                <td class="column1 style5 s">91808 MILL CREEK RD</td>
                <td class="column2 style8 s">BLUE RIVER</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row516">
                <td class="column0 style3 s">KING'S PRO SHOP*</td>
                <td class="column1 style4 s">54947 MCKENZIE HWY</td>
                <td class="column2 style7 s">BLUE RIVER</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row517">
                <td class="column0 style2 s">KING'S PRO SHOP*</td>
                <td class="column1 style5 s">54947 MCKENZIE HWY</td>
                <td class="column2 style8 s">BLUE RIVER</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row518">
                <td class="column0 style3 s">BONANZA GENERAL STORE</td>
                <td class="column1 style4 s">HWY 70/ PO BOX 158</td>
                <td class="column2 style7 s">BONANZA</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row519">
                <td class="column0 style2 s">BONANZA GENERAL STORE</td>
                <td class="column1 style5 s">HWY 70/ PO BOX 158</td>
                <td class="column2 style8 s">BONANZA</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row520">
                <td class="column0 style2 s">BONANZA GENERAL STORE</td>
                <td class="column1 style5 s">HWY 70/ PO BOX 158</td>
                <td class="column2 style8 s">BONANZA</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row521">
                <td class="column0 style2 s">BONANZA GENERAL STORE</td>
                <td class="column1 style5 s">HWY 70/ PO BOX 158</td>
                <td class="column2 style8 s">BONANZA</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row522">
                <td class="column0 style2 s">BONANZA GENERAL STORE</td>
                <td class="column1 style5 s">HWY 70/ PO BOX 158</td>
                <td class="column2 style8 s">BONANZA</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row523">
                <td class="column0 style3 s">CHESTER'S PUB</td>
                <td class="column1 style4 s">31293 SE HWY 26</td>
                <td class="column2 style7 s">BORING</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row524">
                <td class="column0 style2 s">CHESTER'S PUB</td>
                <td class="column1 style5 s">31293 SE HWY 26</td>
                <td class="column2 style8 s">BORING</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row525">
                <td class="column0 style2 s">CHESTER'S PUB</td>
                <td class="column1 style5 s">31293 SE HWY 26</td>
                <td class="column2 style8 s">BORING</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row526">
                <td class="column0 style2 s">CHESTER'S PUB</td>
                <td class="column1 style5 s">31293 SE HWY 26</td>
                <td class="column2 style8 s">BORING</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row527">
                <td class="column0 style3 s">BARTON FOOD MART STORE</td>
                <td class="column1 style4 s">24802 SE HWY 224 L</td>
                <td class="column2 style7 s">BORING</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row528">
                <td class="column0 style2 s">BARTON FOOD MART STORE</td>
                <td class="column1 style5 s">24802 SE HWY 224 L</td>
                <td class="column2 style8 s">BORING</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row529">
                <td class="column0 style3 s">WHALESHEAD RV PARK</td>
                <td class="column1 style4 s">19921 WHALESHEAD RD</td>
                <td class="column2 style7 s">BROOKINGS</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row530">
                <td class="column0 style2 s">WHALESHEAD RV PARK</td>
                <td class="column1 style5 s">19921 WHALESHEAD RD</td>
                <td class="column2 style8 s">BROOKINGS</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row531">
                <td class="column0 style3 s">BI-MART #683</td>
                <td class="column1 style4 s">248 WHARF ST</td>
                <td class="column2 style7 s">BROOKINGS</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row532">
                <td class="column0 style2 s">BI-MART #683</td>
                <td class="column1 style5 s">248 WHARF ST</td>
                <td class="column2 style8 s">BROOKINGS</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row533">
                <td class="column0 style3 s">FRED MEYER #030 BROOKINGS</td>
                <td class="column1 style4 s">325 5TH ST.</td>
                <td class="column2 style7 s">BROOKINGS</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row534">
                <td class="column0 style2 s">FRED MEYER #030 BROOKINGS</td>
                <td class="column1 style5 s">325 5TH ST.</td>
                <td class="column2 style8 s">BROOKINGS</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row535">
                <td class="column0 style2 s">FRED MEYER #030 BROOKINGS</td>
                <td class="column1 style5 s">325 5TH ST.</td>
                <td class="column2 style8 s">BROOKINGS</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row536">
                <td class="column0 style2 s">FRED MEYER #030 BROOKINGS</td>
                <td class="column1 style5 s">325 5TH ST.</td>
                <td class="column2 style8 s">BROOKINGS</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row537">
                <td class="column0 style2 s">FRED MEYER #030 BROOKINGS</td>
                <td class="column1 style5 s">325 5TH ST.</td>
                <td class="column2 style8 s">BROOKINGS</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row538">
                <td class="column0 style2 s">FRED MEYER #030 BROOKINGS</td>
                <td class="column1 style5 s">325 5TH ST.</td>
                <td class="column2 style8 s">BROOKINGS</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row539">
                <td class="column0 style3 s">NARROWS BURNS</td>
                <td class="column1 style4 s">707 PONDEROSA VILLAGE</td>
                <td class="column2 style7 s">BURNS</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row540">
                <td class="column0 style2 s">NARROWS BURNS</td>
                <td class="column1 style5 s">707 PONDEROSA VILLAGE</td>
                <td class="column2 style8 s">BURNS</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row541">
                <td class="column0 style3 s">BURNS-HINES LIQUOR STORE</td>
                <td class="column1 style4 s">767 PONDEROSA VILLAGE</td>
                <td class="column2 style7 s">BURNS</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row542">
                <td class="column0 style2 s">BURNS-HINES LIQUOR STORE</td>
                <td class="column1 style5 s">767 PONDEROSA VILLAGE</td>
                <td class="column2 style8 s">BURNS</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD SYRAH PORT 375ML</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row543">
                <td class="column0 style3 s">MARKET PLUS</td>
                <td class="column1 style4 s">P.O. BOX 205</td>
                <td class="column2 style7 s">CAMAS VALLEY</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row544">
                <td class="column0 style2 s">MARKET PLUS</td>
                <td class="column1 style5 s">P.O. BOX 205</td>
                <td class="column2 style8 s">CAMAS VALLEY</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row545">
                <td class="column0 style2 s">MARKET PLUS</td>
                <td class="column1 style5 s">P.O. BOX 205</td>
                <td class="column2 style8 s">CAMAS VALLEY</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row546">
                <td class="column0 style3 s">SAFEWAY #2604 CANBY</td>
                <td class="column1 style4 s">1051 SW 1ST AVE</td>
                <td class="column2 style7 s">CANBY</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row547">
                <td class="column0 style2 s">SAFEWAY #2604 CANBY</td>
                <td class="column1 style5 s">1051 SW 1ST AVE</td>
                <td class="column2 style8 s">CANBY</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row548">
                <td class="column0 style3 s">WILD HARE SALOON &amp; CAFE</td>
                <td class="column1 style4 s">1190 SW 1ST (99E)</td>
                <td class="column2 style7 s">CANBY</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row549">
                <td class="column0 style2 s">WILD HARE SALOON &amp; CAFE</td>
                <td class="column1 style5 s">1190 SW 1ST (99E)</td>
                <td class="column2 style8 s">CANBY</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row550">
                <td class="column0 style3 s">FRED MEYER #651-CANBY</td>
                <td class="column1 style4 s">1401 S E 1ST</td>
                <td class="column2 style7 s">CANBY</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row551">
                <td class="column0 style2 s">FRED MEYER #651-CANBY</td>
                <td class="column1 style5 s">1401 S E 1ST</td>
                <td class="column2 style8 s">CANBY</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row552">
                <td class="column0 style2 s">FRED MEYER #651-CANBY</td>
                <td class="column1 style5 s">1401 S E 1ST</td>
                <td class="column2 style8 s">CANBY</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row553">
                <td class="column0 style3 s">THERESA'S FAMILY MARKET</td>
                <td class="column1 style4 s">1170 S HEMLOCK</td>
                <td class="column2 style7 s">CANNON BEACH</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row554">
                <td class="column0 style2 s">THERESA'S FAMILY MARKET</td>
                <td class="column1 style5 s">1170 S HEMLOCK</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row555">
                <td class="column0 style2 s">THERESA'S FAMILY MARKET</td>
                <td class="column1 style5 s">1170 S HEMLOCK</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row556">
                <td class="column0 style2 s">THERESA'S FAMILY MARKET</td>
                <td class="column1 style5 s">1170 S HEMLOCK</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row557">
                <td class="column0 style3 s">BILL'S TAVERN</td>
                <td class="column1 style4 s">188 N HEMLOCK</td>
                <td class="column2 style7 s">CANNON BEACH</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row558">
                <td class="column0 style2 s">BILL'S TAVERN</td>
                <td class="column1 style5 s">188 N HEMLOCK</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row559">
                <td class="column0 style3 s">MARINER MARKET</td>
                <td class="column1 style4 s">139 N HEMLOCK STREET</td>
                <td class="column2 style7 s">CANNON BEACH</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row560">
                <td class="column0 style2 s">MARINER MARKET</td>
                <td class="column1 style5 s">139 N HEMLOCK STREET</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD SYRAH PORT 375ML</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row561">
                <td class="column0 style2 s">MARINER MARKET</td>
                <td class="column1 style5 s">139 N HEMLOCK STREET</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row562">
                <td class="column0 style2 s">MARINER MARKET</td>
                <td class="column1 style5 s">139 N HEMLOCK STREET</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row563">
                <td class="column0 style2 s">MARINER MARKET</td>
                <td class="column1 style5 s">139 N HEMLOCK STREET</td>
                 <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row564">
                <td class="column0 style2 s">MARINER MARKET</td>
                <td class="column1 style5 s">139 N HEMLOCK STREET</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row565">
                <td class="column0 style2 s">MARINER MARKET</td>
                <td class="column1 style5 s">139 N HEMLOCK STREET</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row566">
                <td class="column0 style2 s">MARINER MARKET</td>
                <td class="column1 style5 s">139 N HEMLOCK STREET</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row567">
                <td class="column0 style2 s">MARINER MARKET</td>
                <td class="column1 style5 s">139 N HEMLOCK STREET</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row568">
                <td class="column0 style2 s">MARINER MARKET</td>
                <td class="column1 style5 s">139 N HEMLOCK STREET</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row569">
                <td class="column0 style3 s">FULTANO'S PIZZA</td>
                <td class="column1 style4 s">200 N HEMLOCK</td>
                <td class="column2 style7 s">CANNON BEACH</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row570">
                <td class="column0 style2 s">FULTANO'S PIZZA</td>
                <td class="column1 style5 s">200 N HEMLOCK</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row571">
                <td class="column0 style2 s">FULTANO'S PIZZA</td>
                <td class="column1 style5 s">200 N HEMLOCK</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row572">
                <td class="column0 style3 s">CANNON BEACH FRESH FOODS</td>
                <td class="column1 style4 s">3401 S HEMLOCK ST</td>
                <td class="column2 style7 s">CANNON BEACH</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row573">
                <td class="column0 style2 s">CANNON BEACH FRESH FOODS</td>
                <td class="column1 style5 s">3401 S HEMLOCK ST</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row574">
                <td class="column0 style2 s">CANNON BEACH FRESH FOODS</td>
                <td class="column1 style5 s">3401 S HEMLOCK ST</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row575">
                <td class="column0 style2 s">CANNON BEACH FRESH FOODS</td>
                <td class="column1 style5 s">3401 S HEMLOCK ST</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row576">
                <td class="column0 style2 s">CANNON BEACH FRESH FOODS</td>
                <td class="column1 style5 s">3401 S HEMLOCK ST</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row577">
                <td class="column0 style2 s">CANNON BEACH FRESH FOODS</td>
                <td class="column1 style5 s">3401 S HEMLOCK ST</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row578">
                <td class="column0 style2 s">CANNON BEACH FRESH FOODS</td>
                <td class="column1 style5 s">3401 S HEMLOCK ST</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row579">
                <td class="column0 style2 s">CANNON BEACH FRESH FOODS</td>
                <td class="column1 style5 s">3401 S HEMLOCK ST</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row580">
                <td class="column0 style2 s">CANNON BEACH FRESH FOODS</td>
                <td class="column1 style5 s">3401 S HEMLOCK ST</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row581">
                <td class="column0 style2 s">CANNON BEACH FRESH FOODS</td>
                <td class="column1 style5 s">3401 S HEMLOCK ST</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row582">
                <td class="column0 style2 s">CANNON BEACH FRESH FOODS</td>
                <td class="column1 style5 s">3401 S HEMLOCK ST</td>
                <td class="column2 style8 s">CANNON BEACH</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row583">
                <td class="column0 style3 s">RAY'S FOODS #66</td>
                <td class="column1 style4 s">POB 258 / 125 NE MAIN ST</td>
                <td class="column2 style7 s">CANYONVILLE</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row584">
                <td class="column0 style2 s">RAY'S FOODS #66</td>
                <td class="column1 style5 s">POB 258 / 125 NE MAIN ST</td>
                <td class="column2 style8 s">CANYONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row585">
                <td class="column0 style3 s">SELECT MKT (CARLTON)</td>
                <td class="column1 style4 s">320 N YAMHILL</td>
                <td class="column2 style7 s">CARLTON</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row586">
                <td class="column0 style2 s">SELECT MKT (CARLTON)</td>
                <td class="column1 style5 s">320 N YAMHILL</td>
                <td class="column2 style8 s">CARLTON</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row587">
                <td class="column0 style2 s">SELECT MKT (CARLTON)</td>
                <td class="column1 style5 s">320 N YAMHILL</td>
                <td class="column2 style8 s">CARLTON</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row588">
                <td class="column0 style3 s">CASCADE LOCKS ALE HOUSE</td>
                <td class="column1 style4 s">500 SE WANAPA</td>
                <td class="column2 style7 s">CASCADE LOCKS</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row589">
                <td class="column0 style2 s">CASCADE LOCKS ALE HOUSE</td>
                <td class="column1 style5 s">500 SE WANAPA</td>
                <td class="column2 style8 s">CASCADE LOCKS</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row590">
                <td class="column0 style3 s">COLUMBIA MARKET</td>
                <td class="column1 style4 s">450 SW WANAPA ST</td>
                <td class="column2 style7 s">CASCADE LOCKS</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row591">
                <td class="column0 style2 s">COLUMBIA MARKET</td>
                <td class="column1 style5 s">450 SW WANAPA ST</td>
                <td class="column2 style8 s">CASCADE LOCKS</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row592">
                <td class="column0 style3 s">SPEEDY MART CJ</td>
                <td class="column1 style4 s">305 S REDWOOD HWY</td>
                <td class="column2 style7 s">CAVE JUNCTION</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row593">
                <td class="column0 style2 s">SPEEDY MART CJ</td>
                <td class="column1 style5 s">305 S REDWOOD HWY</td>
                <td class="column2 style8 s">CAVE JUNCTION</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row594">
                <td class="column0 style2 s">SPEEDY MART CJ</td>
                <td class="column1 style5 s">305 S REDWOOD HWY</td>
                <td class="column2 style8 s">CAVE JUNCTION</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row595">
                <td class="column0 style3 s">SHOP SMART-RAY'S #28 CJ</td>
                <td class="column1 style4 s">205 WATKINS STREET</td>
                <td class="column2 style7 s">CAVE JUNCTION</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row596">
                <td class="column0 style2 s">SHOP SMART-RAY'S #28 CJ</td>
                <td class="column1 style5 s">205 WATKINS STREET</td>
                <td class="column2 style8 s">CAVE JUNCTION</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row597">
                <td class="column0 style2 s">SHOP SMART-RAY'S #28 CJ</td>
                <td class="column1 style5 s">205 WATKINS STREET</td>
                <td class="column2 style8 s">CAVE JUNCTION</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row598">
                <td class="column0 style2 s">SHOP SMART-RAY'S #28 CJ</td>
                <td class="column1 style5 s">205 WATKINS STREET</td>
                <td class="column2 style8 s">CAVE JUNCTION</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row599">
                <td class="column0 style2 s">SHOP SMART-RAY'S #28 CJ</td>
                <td class="column1 style5 s">205 WATKINS STREET</td>
                <td class="column2 style8 s">CAVE JUNCTION</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row600">
                <td class="column0 style2 s">SHOP SMART-RAY'S #28 CJ</td>
                <td class="column1 style5 s">205 WATKINS STREET</td>
                <td class="column2 style8 s">CAVE JUNCTION</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row601">
                <td class="column0 style2 s">SHOP SMART-RAY'S #28 CJ</td>
                <td class="column1 style5 s">205 WATKINS STREET</td>
                <td class="column2 style8 s">CAVE JUNCTION</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row602">
                <td class="column0 style2 s">SHOP SMART-RAY'S #28 CJ</td>
                <td class="column1 style5 s">205 WATKINS STREET</td>
                <td class="column2 style8 s">CAVE JUNCTION</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row603">
                <td class="column0 style2 s">SHOP SMART-RAY'S #28 CJ</td>
                <td class="column1 style5 s">205 WATKINS STREET</td>
                <td class="column2 style8 s">CAVE JUNCTION</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row604">
                <td class="column0 style3 s">SISKIYOU MARKET</td>
                <td class="column1 style4 s">390 CAVES HIGHWAY</td>
                <td class="column2 style7 s">CAVE JUNCTION</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row605">
                <td class="column0 style2 s">SISKIYOU MARKET</td>
                <td class="column1 style5 s">390 CAVES HIGHWAY</td>
                <td class="column2 style8 s">CAVE JUNCTION</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row606">
                <td class="column0 style2 s">SISKIYOU MARKET</td>
                <td class="column1 style5 s">390 CAVES HIGHWAY</td>
                <td class="column2 style8 s">CAVE JUNCTION</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row607">
                <td class="column0 style3 s">UNION 76 #114 CAVE JUNC</td>
                <td class="column1 style4 s">112 S. REDWOOD HWY</td>
                <td class="column2 style7 s">CAVE JUNCTION</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row608">
                <td class="column0 style2 s">UNION 76 #114 CAVE JUNC</td>
                <td class="column1 style5 s">112 S. REDWOOD HWY</td>
                <td class="column2 style8 s">CAVE JUNCTION</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row609">
                <td class="column0 style2 s">UNION 76 #114 CAVE JUNC</td>
                <td class="column1 style5 s">112 S. REDWOOD HWY</td>
                <td class="column2 style8 s">CAVE JUNCTION</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row610">
                <td class="column0 style2 s">UNION 76 #114 CAVE JUNC</td>
                <td class="column1 style5 s">112 S. REDWOOD HWY</td>
                <td class="column2 style8 s">CAVE JUNCTION</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row611">
                <td class="column0 style2 s">UNION 76 #114 CAVE JUNC</td>
                <td class="column1 style5 s">112 S. REDWOOD HWY</td>
                <td class="column2 style8 s">CAVE JUNCTION</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row612">
                <td class="column0 style3 s">MARY'S BBQ PLACE</td>
                <td class="column1 style4 s">841 E PINE ST</td>
                <td class="column2 style7 s">CENTRAL POINT</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row613">
                <td class="column0 style2 s">MARY'S BBQ PLACE</td>
                <td class="column1 style5 s">841 E PINE ST</td>
                <td class="column2 style8 s">CENTRAL POINT</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row614">
                <td class="column0 style3 s">A-1 MARKET #12</td>
                <td class="column1 style4 s">507 S FRONT STREET</td>
                <td class="column2 style7 s">CENTRAL POINT</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row615">
                <td class="column0 style2 s">A-1 MARKET #12</td>
                <td class="column1 style5 s">507 S FRONT STREET</td>
                <td class="column2 style8 s">CENTRAL POINT</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>

