
                <tr class="row1445">
                    <td class="column0 style3 s">CHEAP CHARLIES</td>
                    <td class="column1 style4 s">67 NE ROBERTS AVE</td>
                    <td class="column2 style7 s">GRESHAM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1446">
                    <td class="column0 style2 s">CHEAP CHARLIES</td>
                    <td class="column1 style5 s">67 NE ROBERTS AVE</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1447">
                    <td class="column0 style3 s">SAFEWAY #1070 182ND &amp; POWELL</td>
                    <td class="column1 style4 s">1001 SW HIGHLAND DR</td>
                    <td class="column2 style7 s">GRESHAM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1448">
                    <td class="column0 style2 s">SAFEWAY #1070 182&amp;PWL</td>
                    <td class="column1 style5 s">1001 SW HIGHLAND DR</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1449">
                    <td class="column0 style2 s">SAFEWAY #1070 182&amp;PWL</td>
                    <td class="column1 style5 s">1001 SW HIGHLAND DR</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1450">
                    <td class="column0 style2 s">SAFEWAY #1070 182&amp;PWL</td>
                    <td class="column1 style5 s">1001 SW HIGHLAND DR</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1451">
                    <td class="column0 style3 s">WINCO FOODS #47 GRESHAM</td>
                    <td class="column1 style4 s">2511 SE 1ST</td>
                    <td class="column2 style7 s">GRESHAM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1452">
                    <td class="column0 style2 s">WINCO FOODS #47 GRESHAM</td>
                    <td class="column1 style5 s">2511 SE 1ST</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1453">
                    <td class="column0 style2 s">WINCO FOODS #47 GRESHAM</td>
                    <td class="column1 style5 s">2511 SE 1ST</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1454">
                    <td class="column0 style2 s">WINCO FOODS #47 GRESHAM</td>
                    <td class="column1 style5 s">2511 SE 1ST</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1455">
                    <td class="column0 style2 s">WINCO FOODS #47 GRESHAM</td>
                    <td class="column1 style5 s">2511 SE 1ST</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1456">
                    <td class="column0 style3 s">KELLY CREEK SUPERETTE</td>
                    <td class="column1 style4 s">1404 SE 282ND AVE</td>
                    <td class="column2 style7 s">GRESHAM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1457">
                    <td class="column0 style2 s">KELLY CREEK SUPERETTE</td>
                    <td class="column1 style5 s">1404 SE 282ND AVE</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1458">
                    <td class="column0 style2 s">KELLY CREEK SUPERETTE</td>
                    <td class="column1 style5 s">1404 SE 282ND AVE</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1459">
                    <td class="column0 style2 s">KELLY CREEK SUPERETTE</td>
                    <td class="column1 style5 s">1404 SE 282ND AVE</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1460">
                    <td class="column0 style2 s">KELLY CREEK SUPERETTE</td>
                    <td class="column1 style5 s">1404 SE 282ND AVE</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1461">
                    <td class="column0 style3 s">RITE AID #5327- NE DVSION</td>
                    <td class="column1 style4 s">1555 N E DIVISION</td>
                    <td class="column2 style7 s">GRESHAM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1462">
                    <td class="column0 style2 s">RITE AID #5327- NE DVSION</td>
                    <td class="column1 style5 s">1555 N E DIVISION</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1463">
                    <td class="column0 style3 s">FRED MEYER #127 - GRESHAM</td>
                    <td class="column1 style4 s">2497 SE BURNSIDE</td>
                    <td class="column2 style7 s">GRESHAM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1464">
                    <td class="column0 style2 s">FRED MEYER #127-GRESHAM</td>
                    <td class="column1 style5 s">2497 SE BURNSIDE</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1465">
                    <td class="column0 style2 s">FRED MEYER #127-GRESHAM</td>
                    <td class="column1 style5 s">2497 SE BURNSIDE</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1466">
                    <td class="column0 style2 s">FRED MEYER #127-GRESHAM</td>
                    <td class="column1 style5 s">2497 SE BURNSIDE</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1467">
                    <td class="column0 style2 s">FRED MEYER #127-GRESHAM</td>
                    <td class="column1 style5 s">2497 SE BURNSIDE</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1468">
                    <td class="column0 style2 s">FRED MEYER #127-GRESHAM</td>
                    <td class="column1 style5 s">2497 SE BURNSIDE</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1469">
                    <td class="column0 style2 s">FRED MEYER #127-GRESHAM</td>
                    <td class="column1 style5 s">2497 SE BURNSIDE</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1470">
                    <td class="column0 style3 s">GRESHAM PIZZA SCHMIZZA</td>
                    <td class="column1 style4 s">850 NW EASTMAN PKWY</td>
                    <td class="column2 style7 s">GRESHAM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1471">
                    <td class="column0 style2 s">GRESHAM PIZZA SCHMIZZA</td>
                    <td class="column1 style5 s">850 NW EASTMAN PKWY</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1472">
                    <td class="column0 style2 s">GRESHAM PIZZA SCHMIZZA</td>
                    <td class="column1 style5 s">850 NW EASTMAN PKWY</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1473">
                    <td class="column0 style3 s">BOCCELLI'S RESTORANTE</td>
                    <td class="column1 style4 s">246 N MAIN ST</td>
                    <td class="column2 style7 s">GRESHAM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                     <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1474">
                    <td class="column0 style2 s">BOCCELLI'S RESTORANTE</td>
                    <td class="column1 style5 s">246 N MAIN ST</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1475">
                    <td class="column0 style2 s">BOCCELLI'S RESTORANTE</td>
                    <td class="column1 style5 s">246 N MAIN ST</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1476">
                    <td class="column0 style3 s">SAFEWAY #430 GRESHAM</td>
                    <td class="column1 style4 s">1455 NE DIVISION</td>
                    <td class="column2 style7 s">GRESHAM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1477">
                    <td class="column0 style2 s">SAFEWAY #430 GRESHAM</td>
                    <td class="column1 style5 s">1455 NE DIVISION</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1478">
                    <td class="column0 style3 s">COST PLUS #141 GRESHAM</td>
                    <td class="column1 style4 s">989 NW 12TH</td>
                    <td class="column2 style7 s">GRESHAM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1479">
                    <td class="column0 style2 s">COST PLUS #141 GRESHAM*</td>
                    <td class="column1 style5 s">989 NW 12TH</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1480">
                    <td class="column0 style2 s">COST PLUS #141 GRESHAM*</td>
                    <td class="column1 style5 s">989 NW 12TH</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1481">
                    <td class="column0 style3 s">BI-MART #630 HOGAN DRIVE</td>
                    <td class="column1 style4 s">2800 NE HOGAN DRIVE</td>
                    <td class="column2 style7 s">GRESHAM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1482">
                    <td class="column0 style2 s">BI-MART #630 HOGAN #</td>
                    <td class="column1 style5 s">2800 NE HOGAN DRIVE</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1483">
                    <td class="column0 style3 s">7 MARKET</td>
                    <td class="column1 style4 s">1461 SE HOGAN ROAD</td>
                    <td class="column2 style7 s">GRESHAM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1484">
                    <td class="column0 style2 s">7 MARKET</td>
                    <td class="column1 style5 s">1461 SE HOGAN ROAD</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1485">
                    <td class="column0 style2 s">7 MARKET</td>
                    <td class="column1 style5 s">1461 SE HOGAN ROAD</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1486">
                    <td class="column0 style3 s">MIGRATION BREWING - GRESHAM</td>
                    <td class="column1 style4 s">18188 NE WILKES RD</td>
                    <td class="column2 style7 s">GRESHAM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1487">
                    <td class="column0 style2 s">MIGRATION BREWING-GRSHM*</td>
                    <td class="column1 style5 s">18188 NE WILKES RD</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1488">
                    <td class="column0 style2 s">MIGRATION BREWING-GRSHM*</td>
                    <td class="column1 style5 s">18188 NE WILKES RD</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1489">
                    <td class="column0 style2 s">MIGRATION BREWING-GRSHM*</td>
                    <td class="column1 style5 s">18188 NE WILKES RD</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1490">
                    <td class="column0 style2 s">MIGRATION BREWING-GRSHM*</td>
                    <td class="column1 style5 s">18188 NE WILKES RD</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1491">
                    <td class="column0 style2 s">MIGRATION BREWING-GRSHM*</td>
                    <td class="column1 style5 s">18188 NE WILKES RD</td>
                    <td class="column2 style8 s">GRESHAM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1492">
                    <td class="column0 style3 s">HAINES SELL RITE</td>
                    <td class="column1 style4 s">810 FRONT STREET</td>
                    <td class="column2 style7 s">HAINES</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1493">
                    <td class="column0 style2 s">HAINES SELL RITE</td>
                    <td class="column1 style5 s">810 FRONT STREET</td>
                    <td class="column2 style8 s">HAINES</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1494">
                    <td class="column0 style3 s">HALSEY SELECT MARKET</td>
                    <td class="column1 style4 s">360 W 2ND</td>
                    <td class="column2 style7 s">HALSEY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1495">
                    <td class="column0 style2 s">HALSEY SELECT MARKET</td>
                    <td class="column1 style5 s">360 W 2ND</td>
                    <td class="column2 style8 s">HALSEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1496">
                    <td class="column0 style2 s">HALSEY SELECT MARKET</td>
                    <td class="column1 style5 s">360 W 2ND</td>
                    <td class="column2 style8 s">HALSEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1497">
                    <td class="column0 style2 s">HALSEY SELECT MARKET</td>
                    <td class="column1 style5 s">360 W 2ND</td>
                    <td class="column2 style8 s">HALSEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1498">
                    <td class="column0 style3 s">PIONEER VILLA MINI-MART</td>
                    <td class="column1 style4 s">33180 HWY 228</td>
                    <td class="column2 style7 s">HALSEY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1499">
                    <td class="column0 style2 s">PIONEER VILLA MINI-MART</td>
                    <td class="column1 style5 s">33180 HWY 228</td>
                    <td class="column2 style8 s">HALSEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1500">
                    <td class="column0 style2 s">PIONEER VILLA MINI-MART</td>
                    <td class="column1 style5 s">33180 HWY 228</td>
                    <td class="column2 style8 s">HALSEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1501">
                    <td class="column0 style3 s">MOBILE - PIONEER</td>
                    <td class="column1 style4 s">32980 HWY 228</td>
                    <td class="column2 style7 s">HALSEY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1502">
                    <td class="column0 style2 s">Q PIONEER LLC</td>
                    <td class="column1 style5 s">32980 HWY 228</td>
                    <td class="column2 style8 s">HALSEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1503">
                    <td class="column0 style2 s">Q PIONEER LLC</td>
                    <td class="column1 style5 s">32980 HWY 228</td>
                    <td class="column2 style8 s">HALSEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1504">
                    <td class="column0 style2 s">Q PIONEER LLC</td>
                    <td class="column1 style5 s">32980 HWY 228</td>
                    <td class="column2 style8 s">HALSEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1505">
                    <td class="column0 style3 s">FRED MEYER #694 SUNNYSIDE</td>
                    <td class="column1 style4 s">17050 SE SUNNYSIDE RD.</td>
                    <td class="column2 style7 s">HAPPY VALLEY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1506">
                    <td class="column0 style2 s">FRED MEYER #694 SUNNYSIDE</td>
                    <td class="column1 style5 s">17050 SE SUNNYSIDE RD.</td>
                    <td class="column2 style8 s">HAPPY VALLEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1507">
                    <td class="column0 style2 s">FRED MEYER #694 SUNNYSIDE</td>
                    <td class="column1 style5 s">17050 SE SUNNYSIDE RD.</td>
                    <td class="column2 style8 s">HAPPY VALLEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1508">
                    <td class="column0 style2 s">FRED MEYER #694 SUNNYSIDE</td>
                    <td class="column1 style5 s">17050 SE SUNNYSIDE RD.</td>
                    <td class="column2 style8 s">HAPPY VALLEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1509">
                    <td class="column0 style2 s">FRED MEYER #694 SUNNYSIDE</td>
                    <td class="column1 style5 s">17050 SE SUNNYSIDE RD.</td>
                    <td class="column2 style8 s">HAPPY VALLEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1510">
                    <td class="column0 style3 s">SPORTS ON TAP</td>
                    <td class="column1 style4 s">16021 E HAPPY VLY TWN CTR</td>
                    <td class="column2 style7 s">HAPPY VALLEY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1511">
                    <td class="column0 style2 s">SPORTS ON TAP</td>
                    <td class="column1 style5 s">16021 E HAPPY VLY TWN CTR</td>
                    <td class="column2 style8 s">HAPPY VALLEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1512">
                    <td class="column0 style3 s">SMOKER FRIENDLY 1</td>
                    <td class="column1 style4 s">9010 SE 82ND AVE</td>
                    <td class="column2 style7 s">HAPPY VALLEY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1513">
                    <td class="column0 style2 s">SMOKER FRIENDLY 1</td>
                    <td class="column1 style5 s">9010 SE 82ND AVE</td>
                    <td class="column2 style8 s">HAPPY VALLEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1514">
                    <td class="column0 style2 s">SMOKER FRIENDLY 1</td>
                    <td class="column1 style5 s">9010 SE 82ND AVE</td>
                    <td class="column2 style8 s">HAPPY VALLEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1515">
                    <td class="column0 style3 s">HAPPY HOLLOW PIZZA</td>
                    <td class="column1 style4 s">16085 SE HAPPY VALLEY TC</td>
                    <td class="column2 style7 s">HAPPY VALLEY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1516">
                    <td class="column0 style2 s">HAPPY HOLLOW PIZZA</td>
                    <td class="column1 style5 s">16085 SE HAPPY VALLEY TC</td>
                    <td class="column2 style8 s">HAPPY VALLEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1517">
                    <td class="column0 style2 s">HAPPY HOLLOW PIZZA</td>
                    <td class="column1 style5 s">16085 SE HAPPY VALLEY TC</td>
                    <td class="column2 style8 s">HAPPY VALLEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1518">
                    <td class="column0 style2 s">HAPPY HOLLOW PIZZA</td>
                    <td class="column1 style5 s">16085 SE HAPPY VALLEY TC</td>
                    <td class="column2 style8 s">HAPPY VALLEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1519">
                    <td class="column0 style3 s">NEW SEASONS #1109 H VALLE</td>
                    <td class="column1 style4 s">15861 SE HAPPY VALLEY TC</td>
                    <td class="column2 style7 s">HAPPY VALLEY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                     <tr class="row1520">
                    <td class="column0 style2 s">NEW SEASONS #1109 H VALLE</td>
                    <td class="column1 style5 s">15861 SE HAPPY VALLEY TC</td>
                    <td class="column2 style8 s">HAPPY VALLEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1521">
                    <td class="column0 style2 s">NEW SEASONS #1109 H VALLE</td>
                    <td class="column1 style5 s">15861 SE HAPPY VALLEY TC</td>
                    <td class="column2 style8 s">HAPPY VALLEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1522">
                    <td class="column0 style2 s">NEW SEASONS #1109 H VALLE</td>
                    <td class="column1 style5 s">15861 SE HAPPY VALLEY TC</td>
                    <td class="column2 style8 s">HAPPY VALLEY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1523">
                    <td class="column0 style3 s">RITE AID #5376- HARBOR</td>
                    <td class="column1 style4 s">16261-3 HWY 101</td>
                    <td class="column2 style7 s">HARBOR</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1524">
                    <td class="column0 style2 s">RITE AID #5376- HARBOR</td>
                    <td class="column1 style5 s">16261-3 HWY 101</td>
                    <td class="column2 style8 s">HARBOR</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1525">
                    <td class="column0 style3 s">HEPPNER FAMILY FOODS</td>
                    <td class="column1 style4 s">236 N MAIN ST</td>
                    <td class="column2 style7 s">HEPPNER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1526">
                    <td class="column0 style2 s">HEPPNER FAMILY FOODS</td>
                    <td class="column1 style5 s">236 N MAIN ST</td>
                    <td class="column2 style8 s">HEPPNER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1527">
                    <td class="column0 style3 s">UNION CLUB</td>
                    <td class="column1 style4 s">201 E MAIN</td>
                    <td class="column2 style7 s">HERMISTON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1528">
                    <td class="column0 style2 s">UNION CLUB</td>
                    <td class="column1 style5 s">201 E MAIN</td>
                    <td class="column2 style8 s">HERMISTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1529">
                    <td class="column0 style3 s">SPACE AGE FUEL</td>
                    <td class="column1 style4 s">77522 HWY 207</td>
                    <td class="column2 style7 s">HERMISTON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1530">
                    <td class="column0 style2 s">SPACE AGE FUEL</td>
                    <td class="column1 style5 s">77522 HWY 207</td>
                    <td class="column2 style8 s">HERMISTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1531">
                    <td class="column0 style2 s">SPACE AGE FUEL</td>
                    <td class="column1 style5 s">77522 HWY 207</td>
                    <td class="column2 style8 s">HERMISTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1532">
                    <td class="column0 style3 s">SAFEWAY #444 - HERMISTON</td>
                    <td class="column1 style4 s">990 S HWY 395</td>
                    <td class="column2 style7 s">HERMISTON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1533">
                    <td class="column0 style2 s">SAFEWAY #444 - HERMISTON</td>
                    <td class="column1 style5 s">990 S HWY 395</td>
                    <td class="column2 style8 s">HERMISTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1534">
                    <td class="column0 style3 s">BELLINGER FARMS</td>
                    <td class="column1 style4 s">29088 BRIDGE ROAD</td>
                    <td class="column2 style7 s">HERMISTON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1535">
                    <td class="column0 style2 s">BELLINGER FARMS</td>
                    <td class="column1 style5 s">29088 BRIDGE ROAD</td>
                    <td class="column2 style8 s">HERMISTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1536">
                    <td class="column0 style2 s">BELLINGER FARMS</td>
                    <td class="column1 style5 s">29088 BRIDGE ROAD</td>
                    <td class="column2 style8 s">HERMISTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1537">
                    <td class="column0 style2 s">BELLINGER FARMS</td>
                    <td class="column1 style5 s">29088 BRIDGE ROAD</td>
                    <td class="column2 style8 s">HERMISTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1538">
                    <td class="column0 style2 s">BELLINGER FARMS</td>
                    <td class="column1 style5 s">29088 BRIDGE ROAD</td>
                    <td class="column2 style8 s">HERMISTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1539">
                    <td class="column0 style2 s">BELLINGER FARMS</td>
                    <td class="column1 style5 s">29088 BRIDGE ROAD</td>
                    <td class="column2 style8 s">HERMISTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1540">
                    <td class="column0 style3 s">GOTTA STOP MINI MART</td>
                    <td class="column1 style4 s">1580 W HIGHLAND AVE</td>
                    <td class="column2 style7 s">HERMISTON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1541">
                    <td class="column0 style2 s">GOTTA STOP MINI MART</td>
                    <td class="column1 style5 s">1580 W HIGHLAND AVE</td>
                    <td class="column2 style8 s">HERMISTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1542">
                    <td class="column0 style2 s">GOTTA STOP MINI MART</td>
                    <td class="column1 style5 s">1580 W HIGHLAND AVE</td>
                    <td class="column2 style8 s">HERMISTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1543">
                    <td class="column0 style2 s">GOTTA STOP MINI MART</td>
                    <td class="column1 style5 s">1580 W HIGHLAND AVE</td>
                    <td class="column2 style8 s">HERMISTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1544">
                    <td class="column0 style3 s">SHORT STOP</td>
                    <td class="column1 style4 s">32553 E PUMPKIN CTR RD</td>
                    <td class="column2 style7 s">HERMISTON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1545">
                    <td class="column0 style2 s">SHORT STOP</td>
                    <td class="column1 style5 s">32553 E PUMPKIN CTR RD</td>
                    <td class="column2 style8 s">HERMISTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1546">
                    <td class="column0 style2 s">SHORT STOP</td>
                    <td class="column1 style5 s">32553 E PUMPKIN CTR RD</td>
                    <td class="column2 style8 s">HERMISTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1547">
                    <td class="column0 style2 s">SHORT STOP</td>
                    <td class="column1 style5 s">32553 E PUMPKIN CTR RD</td>
                    <td class="column2 style8 s">HERMISTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1548">
                    <td class="column0 style3 s">NEW SEASONS #1103 ORENCO</td>
                    <td class="column1 style4 s">1453 NE 61ST AVENUE</td>
                    <td class="column2 style7 s">HILLSBORO</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1549">
                    <td class="column0 style2 s">NEW SEASONS #1103 ORENCO</td>
                    <td class="column1 style5 s">1453 NE 61ST AVENUE</td>
                    <td class="column2 style8 s">HILLSBORO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1550">
                    <td class="column0 style2 s">NEW SEASONS #1103 ORENCO</td>
                    <td class="column1 style5 s">1453 NE 61ST AVENUE</td>
                    <td class="column2 style8 s">HILLSBORO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1551">
                    <td class="column0 style2 s">NEW SEASONS #1103 ORENCO</td>
                    <td class="column1 style5 s">1453 NE 61ST AVENUE</td>
                    <td class="column2 style8 s">HILLSBORO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1552">
                    <td class="column0 style2 s">NEW SEASONS #1103 ORENCO</td>
                    <td class="column1 style5 s">1453 NE 61ST AVENUE</td>
                    <td class="column2 style8 s">HILLSBORO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1553">
                    <td class="column0 style3 s">FRED MEYER #143 - HILLSBORO</td>
                    <td class="column1 style4 s">6495 SE TV HWY</td>
                    <td class="column2 style7 s">HILLSBORO</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1554">
                    <td class="column0 style2 s">FRED MEYER #143-HILLSBORO</td>
                    <td class="column1 style5 s">6495 SE TV HWY</td>
                    <td class="column2 style8 s">HILLSBORO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1555">
                    <td class="column0 style2 s">FRED MEYER #143-HILLSBORO</td>
                    <td class="column1 style5 s">6495 SE TV HWY</td>
                    <td class="column2 style8 s">HILLSBORO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1556">
                    <td class="column0 style2 s">FRED MEYER #143-HILLSBORO</td>
                    <td class="column1 style5 s">6495 SE TV HWY</td>
                    <td class="column2 style8 s">HILLSBORO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1557">
                    <td class="column0 style2 s">FRED MEYER #143-HILLSBORO</td>
                    <td class="column1 style5 s">6495 SE TV HWY</td>
                    <td class="column2 style8 s">HILLSBORO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1558">
                    <td class="column0 style3 s">ALOFT HILLSBORO-BEAVERTON</td>
                    <td class="column1 style4 s">1705 NW AMBERGLEN CT</td>
                    <td class="column2 style7 s">HILLSBORO</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1559">
                    <td class="column0 style2 s">ALOFT HILLSBORO-BVTN*</td>
                    <td class="column1 style5 s">1705 NW AMBERGLEN CT</td>
                    <td class="column2 style8 s">HILLSBORO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1560">
                    <td class="column0 style3 s">RITE AID #5339- NW 185TH</td>
                    <td class="column1 style4 s">2021 NW 185TH</td>
                    <td class="column2 style7 s">HILLSBORO</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1561">
                    <td class="column0 style2 s">RITE AID #5339- NW185TH</td>
                    <td class="column1 style5 s">2021 NW 185TH</td>
                    <td class="column2 style8 s">HILLSBORO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1562">
                    <td class="column0 style3 s">CHEVRON-TANASBOURNE WEST</td>
                    <td class="column1 style4 s">21755 NW IMBRIE</td>
                    <td class="column2 style7 s">HILLSBORO</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1563">
                    <td class="column0 style2 s">CHEVRON-TANASBOURNE WEST</td>
                    <td class="column1 style5 s">21755 NW IMBRIE</td>
                    <td class="column2 style8 s">HILLSBORO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
