<tr class="row2366">
    <td class="column0 style3 s">BALDINIS</td>
    <td class="column1 style4 s">107 GALICE ROAD</td>
    <td class="column2 style7 s">MERLIN</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2367">
    <td class="column0 style2 s">BALDINIS</td>
    <td class="column1 style5 s">107 GALICE ROAD</td>
    <td class="column2 style8 s">MERLIN</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2368">
    <td class="column0 style2 s">BALDINIS</td>
    <td class="column1 style5 s">107 GALICE ROAD</td>
    <td class="column2 style8 s">MERLIN</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2369">
    <td class="column0 style2 s">BALDINIS</td>
    <td class="column1 style5 s">107 GALICE ROAD</td>
    <td class="column2 style8 s">MERLIN</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2370">
    <td class="column0 style3 s">LIL PANTRY MERLIN RD MERLIN</td>
    <td class="column1 style4 s">148 MERLIN ROAD</td>
    <td class="column2 style7 s">MERLIN</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2371">
    <td class="column0 style2 s">LIL PANTRY MERLIN RD MERL</td>
    <td class="column1 style5 s">148 MERLIN ROAD</td>
    <td class="column2 style8 s">MERLIN</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2372">
    <td class="column0 style2 s">LIL PANTRY MERLIN RD MERL</td>
    <td class="column1 style5 s">148 MERLIN ROAD</td>
    <td class="column2 style8 s">MERLIN</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2373">
    <td class="column0 style2 s">LIL PANTRY MERLIN RD MERL</td>
    <td class="column1 style5 s">148 MERLIN ROAD</td>
    <td class="column2 style8 s">MERLIN</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
     <tr class="row2374">
    <td class="column0 style2 s">LIL PANTRY MERLIN RD MERL</td>
    <td class="column1 style5 s">148 MERLIN ROAD</td>
    <td class="column2 style8 s">MERLIN</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2375">
    <td class="column0 style2 s">LIL PANTRY MERLIN RD MERL</td>
    <td class="column1 style5 s">148 MERLIN ROAD</td>
    <td class="column2 style8 s">MERLIN</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2376">
    <td class="column0 style2 s">LIL PANTRY MERLIN RD MERL</td>
    <td class="column1 style5 s">148 MERLIN ROAD</td>
    <td class="column2 style8 s">MERLIN</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2377">
    <td class="column0 style2 s">LIL PANTRY MERLIN RD MERL</td>
    <td class="column1 style5 s">148 MERLIN ROAD</td>
    <td class="column2 style8 s">MERLIN</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2378">
    <td class="column0 style2 s">LIL PANTRY MERLIN RD MERL</td>
    <td class="column1 style5 s">148 MERLIN ROAD</td>
    <td class="column2 style8 s">MERLIN</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2379">
    <td class="column0 style2 s">LIL PANTRY MERLIN RD MERL</td>
    <td class="column1 style5 s">148 MERLIN ROAD</td>
    <td class="column2 style8 s">MERLIN</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
                <tr class="row2380">
                    <td class="column0 style3 s">MILL CITY MARKET PLACE</td>
                    <td class="column1 style4 s">829 1ST AVE</td>
                    <td class="column2 style7 s">MILL CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2381">
                    <td class="column0 style2 s">MILL CITY MARKET PLACE</td>
                    <td class="column1 style5 s">829 1ST AVE</td>
                    <td class="column2 style8 s">MILL CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2382">
                    <td class="column0 style3 s">TAJ FOOD MART</td>
                    <td class="column1 style4 s">84802 HWY 11</td>
                    <td class="column2 style7 s">MILTON FREEWATE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2383">
                    <td class="column0 style2 s">TAJ FOOD MART (M/F)</td>
                     <td class="column1 style5 s">84802 HWY 11</td>
                    <td class="column2 style8 s">MILTON FREEWATE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2384">
                    <td class="column0 style2 s">TAJ FOOD MART (M/F)</td>
                    <td class="column1 style5 s">84802 HWY 11</td>
                    <td class="column2 style8 s">MILTON FREEWATE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2385">
                    <td class="column0 style3 s">SUPER MILTON</td>
                    <td class="column1 style4 s">21 N. COLUMBIA</td>
                    <td class="column2 style7 s">MILTON FREEWATE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2386">
                    <td class="column0 style2 s">SUPER MILTON</td>
                    <td class="column1 style5 s">21 N. COLUMBIA</td>
                    <td class="column2 style8 s">MILTON FREEWATE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2387">
                    <td class="column0 style2 s">SUPER MILTON</td>
                    <td class="column1 style5 s">21 N. COLUMBIA</td>
                    <td class="column2 style8 s">MILTON FREEWATE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2388">
                    <td class="column0 style2 s">SUPER MILTON</td>
                    <td class="column1 style5 s">21 N. COLUMBIA</td>
                    <td class="column2 style8 s">MILTON FREEWATE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2389">
                    <td class="column0 style3 s">FRED MEYER #240 OAK GROVE</td>
                    <td class="column1 style4 s">14700 SE MCLOUGHLIN RD</td>
                    <td class="column2 style7 s">MILWAUKIE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2390">
                    <td class="column0 style2 s">FRED MEYER #240-OAK GROVE</td>
                    <td class="column1 style5 s">14700 SE MCLOUGHLIN RD</td>
                    <td class="column2 style8 s">MILWAUKIE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2391">
                    <td class="column0 style2 s">FRED MEYER #240-OAK GROVE</td>
                    <td class="column1 style5 s">14700 SE MCLOUGHLIN RD</td>
                    <td class="column2 style8 s">MILWAUKIE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2392">
                    <td class="column0 style2 s">FRED MEYER #240-OAK GROVE</td>
                    <td class="column1 style5 s">14700 SE MCLOUGHLIN RD</td>
                    <td class="column2 style8 s">MILWAUKIE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2393">
                    <td class="column0 style2 s">FRED MEYER #240-OAK GROVE</td>
                    <td class="column1 style5 s">14700 SE MCLOUGHLIN RD</td>
                    <td class="column2 style8 s">MILWAUKIE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2394">
                    <td class="column0 style3 s">MILWAUKIE LIQUOR STORE</td>
                    <td class="column1 style4 s">10804 SE OAK ST</td>
                    <td class="column2 style7 s">MILWAUKIE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2395">
                    <td class="column0 style2 s">MILWAUKIE LIQUOR STORE</td>
                    <td class="column1 style5 s">10804 SE OAK ST</td>
                    <td class="column2 style8 s">MILWAUKIE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2396">
                    <td class="column0 style2 s">MILWAUKIE LIQUOR STORE</td>
                    <td class="column1 style5 s">10804 SE OAK ST</td>
                    <td class="column2 style8 s">MILWAUKIE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2397">
                    <td class="column0 style3 s">ROSWELL MARKET</td>
                    <td class="column1 style4 s">8929 SE 42ND AVE</td>
                    <td class="column2 style7 s">MILWAUKIE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2398">
                    <td class="column0 style2 s">ROSWELL MARKET</td>
                    <td class="column1 style5 s">8929 SE 42ND AVE</td>
                    <td class="column2 style8 s">MILWAUKIE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2399">
                    <td class="column0 style3 s">SAFEWAY #2696 WEBSTER RD</td>
                    <td class="column1 style4 s">14840 SE WEBSTER RD</td>
                    <td class="column2 style7 s">MILWAUKIE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2400">
                    <td class="column0 style2 s">SAFEWAY #2696 WEBSTER RD</td>
                    <td class="column1 style5 s">14840 SE WEBSTER RD</td>
                    <td class="column2 style8 s">MILWAUKIE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2401">
                    <td class="column0 style2 s">SAFEWAY #2696 WEBSTER RD</td>
                    <td class="column1 style5 s">14840 SE WEBSTER RD</td>
                    <td class="column2 style8 s">MILWAUKIE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2402">
                    <td class="column0 style3 s">SPACE AGE HARRISON ST MART</td>
                    <td class="column1 style4 s">4140 SE HARRISON</td>
                    <td class="column2 style7 s">MILWAUKIE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2403">
                    <td class="column0 style2 s">SPACE AGE HARRISON ST MRT</td>
                    <td class="column1 style5 s">4140 SE HARRISON</td>
                    <td class="column2 style8 s">MILWAUKIE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2404">
                    <td class="column0 style3 s">SAFEWAY #2690 KING RD</td>
                    <td class="column1 style4 s">4320 SE KING RD</td>
                    <td class="column2 style7 s">MILWAUKIE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2405">
                    <td class="column0 style2 s">SAFEWAY #2690 KING RD</td>
                    <td class="column1 style5 s">4320 SE KING RD</td>
                    <td class="column2 style8 s">MILWAUKIE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2406">
                    <td class="column0 style2 s">SAFEWAY #2690 KING RD</td>
                    <td class="column1 style5 s">4320 SE KING RD</td>
                    <td class="column2 style8 s">MILWAUKIE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2407">
                    <td class="column0 style3 s">ERIC'S MARKET</td>
                    <td class="column1 style4 s">9410 SE 32ND AVE R</td>
                    <td class="column2 style7 s">MILWAUKIE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2408">
                    <td class="column0 style2 s">ERIC'S MARKET</td>
                    <td class="column1 style5 s">9410 SE 32ND AVE R</td>
                    <td class="column2 style8 s">MILWAUKIE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2409">
                    <td class="column0 style3 s">RITE AID #5352- MILWAUKIE</td>
                    <td class="column1 style4 s">10860 SE OAK L</td>
                    <td class="column2 style7 s">MILWAUKIE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2410">
                    <td class="column0 style2 s">RITE AID #5352- MILWAUKIE</td>
                    <td class="column1 style5 s">10860 SE OAK L</td>
                    <td class="column2 style8 s">MILWAUKIE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                     <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2411">
                    <td class="column0 style3 s">JACKSONS #535 -MILWAUKIE</td>
                    <td class="column1 style4 s">18122 SE MCLOUGHLIN L</td>
                    <td class="column2 style7 s">MILWAUKIE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2412">
                    <td class="column0 style2 s">JACKSONS #535 -MILWAUKIE</td>
                    <td class="column1 style5 s">18122 SE MCLOUGHLIN L</td>
                    <td class="column2 style8 s">MILWAUKIE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2413">
                    <td class="column0 style3 s">SAFEWAY #1751 MOLALLA</td>
                    <td class="column1 style4 s">1525 W MAIN ST</td>
                    <td class="column2 style7 s">MOLALLA</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2414">
                    <td class="column0 style2 s">SAFEWAY #1751 MOLALLA</td>
                    <td class="column1 style5 s">1525 W MAIN ST</td>
                    <td class="column2 style8 s">MOLALLA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2415">
                    <td class="column0 style2 s">SAFEWAY #1751 MOLALLA</td>
                    <td class="column1 style5 s">1525 W MAIN ST</td>
                    <td class="column2 style8 s">MOLALLA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2416">
                    <td class="column0 style2 s">SAFEWAY #1751 MOLALLA</td>
                    <td class="column1 style5 s">1525 W MAIN ST</td>
                    <td class="column2 style8 s">MOLALLA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2417">
                    <td class="column0 style3 s">BI-MART MOLALLA</td>
                    <td class="column1 style4 s">514 W MAIN</td>
                    <td class="column2 style7 s">MOLALLA</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2418">
                    <td class="column0 style2 s">BI-MART MOLALLA</td>
                    <td class="column1 style5 s">514 W MAIN</td>
                    <td class="column2 style8 s">MOLALLA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2419">
                    <td class="column0 style3 s">LEGENDS BAR &amp; GRILL</td>
                    <td class="column1 style4 s">28301 S HWY 213</td>
                    <td class="column2 style7 s">MOLALLA</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2420">
                    <td class="column0 style2 s">LEGENDS BAR &amp; GRILL</td>
                    <td class="column1 style5 s">28301 S HWY 213</td>
                    <td class="column2 style8 s">MOLALLA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2421">
                    <td class="column0 style2 s">LEGENDS BAR &amp; GRILL</td>
                    <td class="column1 style5 s">28301 S HWY 213</td>
                    <td class="column2 style8 s">MOLALLA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2422">
                    <td class="column0 style3 s">BI-MART #646 MONMOUTH</td>
                    <td class="column1 style4 s">444 SOUTH PACIFIC AVE</td>
                    <td class="column2 style7 s">MONMOUTH</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2423">
                    <td class="column0 style2 s">BI-MART #646 MONMOUTH</td>
                    <td class="column1 style5 s">444 SOUTH PACIFIC AVE</td>
                    <td class="column2 style8 s">MONMOUTH</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2424">
                    <td class="column0 style3 s">MONMOUTH MARKET/DELI</td>
                    <td class="column1 style4 s">417 MAIN STREET E</td>
                    <td class="column2 style7 s">MONMOUTH</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2425">
                    <td class="column0 style2 s">MONMOUTH MARKET/DELI</td>
                    <td class="column1 style5 s">417 MAIN STREET E</td>
                    <td class="column2 style8 s">MONMOUTH</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2426">
                    <td class="column0 style2 s">MONMOUTH MARKET/DELI</td>
                    <td class="column1 style5 s">417 MAIN STREET E</td>
                    <td class="column2 style8 s">MONMOUTH</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2427">
                    <td class="column0 style3 s">KINGS VALLEY STORE</td>
                    <td class="column1 style4 s">HWY 233 RT 2 BOX 76</td>
                    <td class="column2 style7 s">MONMOUTH</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2428">
                    <td class="column0 style2 s">KINGS VALLEY STORE</td>
                    <td class="column1 style5 s">HWY 233 RT 2 BOX 76</td>
                    <td class="column2 style8 s">MONMOUTH</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2429">
                    <td class="column0 style2 s">KINGS VALLEY STORE</td>
                    <td class="column1 style5 s">HWY 233 RT 2 BOX 76</td>
                    <td class="column2 style8 s">MONMOUTH</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2430">
                    <td class="column0 style2 s">KINGS VALLEY STORE</td>
                    <td class="column1 style5 s">HWY 233 RT 2 BOX 76</td>
                    <td class="column2 style8 s">MONMOUTH</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2431">
                    <td class="column0 style3 s">NEIGHBORHOOD MARKET-MONMO</td>
                    <td class="column1 style4 s">173 S. PACIFIC HWY</td>
                    <td class="column2 style7 s">MONMOUTH</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2432">
                    <td class="column0 style2 s">NEIGHBORHOOD MARKET-MONMO</td>
                    <td class="column1 style5 s">173 S. PACIFIC HWY</td>
                    <td class="column2 style8 s">MONMOUTH</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2433">
                    <td class="column0 style3 s">HIDDEN VALLEY MKT MURPHY</td>
                    <td class="column1 style4 s">7200 WILLIAMS HWY</td>
                    <td class="column2 style7 s">MURPHY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2434">
                    <td class="column0 style2 s">HIDDEN VALLEY MKT MURPHY</td>
                    <td class="column1 style5 s">7200 WILLIAMS HWY</td>
                    <td class="column2 style8 s">MURPHY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2435">
                    <td class="column0 style2 s">HIDDEN VALLEY MKT MURPHY</td>
                    <td class="column1 style5 s">7200 WILLIAMS HWY</td>
                    <td class="column2 style8 s">MURPHY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2436">
                    <td class="column0 style2 s">HIDDEN VALLEY MKT MURPHY</td>
                    <td class="column1 style5 s">7200 WILLIAMS HWY</td>
                    <td class="column2 style8 s">MURPHY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2437">
                    <td class="column0 style2 s">HIDDEN VALLEY MKT MURPHY</td>
                    <td class="column1 style5 s">7200 WILLIAMS HWY</td>
                    <td class="column2 style8 s">MURPHY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2438">
                    <td class="column0 style2 s">HIDDEN VALLEY MKT MURPHY</td>
                    <td class="column1 style5 s">7200 WILLIAMS HWY</td>
                    <td class="column2 style8 s">MURPHY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2439">
                    <td class="column0 style2 s">HIDDEN VALLEY MKT MURPHY</td>
                    <td class="column1 style5 s">7200 WILLIAMS HWY</td>
                    <td class="column2 style8 s">MURPHY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2440">
                    <td class="column0 style2 s">HIDDEN VALLEY MKT MURPHY</td>
                    <td class="column1 style5 s">7200 WILLIAMS HWY</td>
                    <td class="column2 style8 s">MURPHY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2441">
                    <td class="column0 style2 s">HIDDEN VALLEY MKT MURPHY</td>
                    <td class="column1 style5 s">7200 WILLIAMS HWY</td>
                    <td class="column2 style8 s">MURPHY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2442">
                    <td class="column0 style2 s">HIDDEN VALLEY MKT MURPHY</td>
                    <td class="column1 style5 s">7200 WILLIAMS HWY</td>
                    <td class="column2 style8 s">MURPHY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2443">
                    <td class="column0 style3 s">NICK'S DOLLAR MART</td>
                    <td class="column1 style4 s">101 N OLD PACIFIC HWY</td>
                    <td class="column2 style7 s">MYRTLE CREEK</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2444">
                    <td class="column0 style2 s">NICK'S DOLLAR MART</td>
                    <td class="column1 style5 s">101 N OLD PACIFIC HWY</td>
                    <td class="column2 style8 s">MYRTLE CREEK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2445">
                    <td class="column0 style3 s">TRI-CITY FOODMART &amp; DELI</td>
                    <td class="column1 style4 s">118 NW PACIFIC HWY</td>
                    <td class="column2 style7 s">MYRTLE CREEK</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2446">
                    <td class="column0 style2 s">TRI-CITY FOODMART &amp; DELI</td>
                    <td class="column1 style5 s">118 NW PACIFIC HWY</td>
                    <td class="column2 style8 s">MYRTLE CREEK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2447">
                    <td class="column0 style3 s">SMOKES &amp; MORE</td>
                    <td class="column1 style4 s">674 SOUTH MAIN ST</td>
                    <td class="column2 style7 s">MYRTLE CREEK</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2448">
                    <td class="column0 style2 s">SMOKES &amp; MORE</td>
                    <td class="column1 style5 s">674 SOUTH MAIN ST</td>
                    <td class="column2 style8 s">MYRTLE CREEK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2449">
                    <td class="column0 style3 s">A.G. MARKET &amp; CIGS</td>
                    <td class="column1 style4 s">231 S MAIN ST</td>
                    <td class="column2 style7 s">MYRTLE CREEK</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2450">
                    <td class="column0 style2 s">A.G. MARKET &amp; CIGS</td>
                    <td class="column1 style5 s">231 S MAIN ST</td>
                    <td class="column2 style8 s">MYRTLE CREEK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2451">
                    <td class="column0 style2 s">A.G. MARKET &amp; CIGS</td>
                    <td class="column1 style5 s">231 S MAIN ST</td>
                    <td class="column2 style8 s">MYRTLE CREEK</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2452">
                    <td class="column0 style3 s">FRED MEYER #220-NEWBERG</td>
                    <td class="column1 style4 s">3300 PORTLAND ROAD</td>
                    <td class="column2 style7 s">NEWBERG</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2453">
                    <td class="column0 style2 s">FRED MEYER #220-NEWBERG</td>
                    <td class="column1 style5 s">3300 PORTLAND ROAD</td>
                    <td class="column2 style8 s">NEWBERG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2454">
                    <td class="column0 style2 s">FRED MEYER #220-NEWBERG</td>
                    <td class="column1 style5 s">3300 PORTLAND ROAD</td>
                    <td class="column2 style8 s">NEWBERG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2455">
                    <td class="column0 style2 s">FRED MEYER #220-NEWBERG</td>
                    <td class="column1 style5 s">3300 PORTLAND ROAD</td>
                    <td class="column2 style8 s">NEWBERG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2456">
                    <td class="column0 style2 s">FRED MEYER #220-NEWBERG</td>
                    <td class="column1 style5 s">3300 PORTLAND ROAD</td>
                    <td class="column2 style8 s">NEWBERG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2457">
                    <td class="column0 style3 s">THRIFTWAY NAPS</td>
                    <td class="column1 style4 s">112 E FIRST STREET</td>
                    <td class="column2 style7 s">NEWBERG</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2458">
                    <td class="column0 style2 s">THRIFTWAY NAPS</td>
                    <td class="column1 style5 s">112 E FIRST STREET</td>
                    <td class="column2 style8 s">NEWBERG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2459">
                    <td class="column0 style3 s">SAFEWAY #2623 NEWBERG</td>
                    <td class="column1 style4 s">1140 N SPRINGBROOK S</td>
                    <td class="column2 style7 s">NEWBERG</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2460">
                    <td class="column0 style2 s">SAFEWAY #2623 NEWBERG</td>
                    <td class="column1 style5 s">1140 N SPRINGBROOK S</td>
                    <td class="column2 style8 s">NEWBERG</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2461">
                    <td class="column0 style3 s">NEWPORT LIQUOR STORE</td>
                    <td class="column1 style4 s">2019 N COAST HWY</td>
                    <td class="column2 style7 s">NEWPORT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2462">
                    <td class="column0 style2 s">NEWPORT LIQUOR STORE</td>
                    <td class="column1 style5 s">2019 N COAST HWY</td>
                    <td class="column2 style8 s">NEWPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2463">
                    <td class="column0 style2 s">NEWPORT LIQUOR STORE</td>
                    <td class="column1 style5 s">2019 N COAST HWY</td>
                    <td class="column2 style8 s">NEWPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2464">
                    <td class="column0 style2 s">NEWPORT LIQUOR STORE</td>
                    <td class="column1 style5 s">2019 N COAST HWY</td>
                    <td class="column2 style8 s">NEWPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2465">
                    <td class="column0 style3 s">BARGE INN</td>
                    <td class="column1 style4 s">358 SW BAY BLVD</td>
                    <td class="column2 style7 s">NEWPORT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2466">
                     <td class="column0 style2 s">BARGE INN</td>
                    <td class="column1 style5 s">358 SW BAY BLVD</td>
                    <td class="column2 style8 s">NEWPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2467">
                    <td class="column0 style2 s">BARGE INN</td>
                    <td class="column1 style5 s">358 SW BAY BLVD</td>
                    <td class="column2 style8 s">NEWPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2468">
                    <td class="column0 style2 s">BARGE INN</td>
                    <td class="column1 style5 s">358 SW BAY BLVD</td>
                    <td class="column2 style8 s">NEWPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2469">
                    <td class="column0 style3 s">ARS - SHELL #503 NEWPORT</td>
                    <td class="column1 style4 s">22 N COAST HWY</td>
                    <td class="column2 style7 s">NEWPORT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2470">
                    <td class="column0 style2 s">ARS - SHELL #503 NEWPORT</td>
                    <td class="column1 style5 s">22 N COAST HWY</td>
                    <td class="column2 style8 s">NEWPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2471">
                    <td class="column0 style3 s">FORINASH GALLERY</td>
                    <td class="column1 style4 s">856 SW BAY BLVD</td>
                    <td class="column2 style7 s">NEWPORT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2472">
                    <td class="column0 style2 s">FORINASH GALLERY*</td>
                    <td class="column1 style5 s">856 SW BAY BLVD</td>
                    <td class="column2 style8 s">NEWPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2473">
                    <td class="column0 style3 s">RITE AID #5370- NEWPORT</td>
                    <td class="column1 style4 s">2336 N COAST HWY</td>
                    <td class="column2 style7 s">NEWPORT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2474">
                    <td class="column0 style2 s">RITE AID #5370- NEWPORT</td>
                    <td class="column1 style5 s">2336 N COAST HWY</td>
                    <td class="column2 style8 s">NEWPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2475">
                    <td class="column0 style3 s">ARCHWAY MARKET</td>
                    <td class="column1 style4 s">715 NW BEACH DR</td>
                    <td class="column2 style7 s">NEWPORT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2476">
                    <td class="column0 style2 s">ARCHWAY MARKET</td>
                    <td class="column1 style5 s">715 NW BEACH DR</td>
                    <td class="column2 style8 s">NEWPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2477">
                    <td class="column0 style3 s">GEORGIE'S BEACH SIDE GRIL</td>
                    <td class="column1 style4 s">744 SW ELIZABETH</td>
                    <td class="column2 style7 s">NEWPORT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2478">
                    <td class="column0 style2 s">GEORGIE'S BEACH SIDE GRIL</td>
                    <td class="column1 style5 s">744 SW ELIZABETH</td>
                    <td class="column2 style8 s">NEWPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2479">
                    <td class="column0 style3 s">SHARKS</td>
                    <td class="column1 style4 s">852 SW BAY BLVD</td>
                    <td class="column2 style7 s">NEWPORT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2480">
                    <td class="column0 style2 s">SHARKS*</td>
                    <td class="column1 style5 s">852 SW BAY BLVD</td>
                    <td class="column2 style8 s">NEWPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2481">
                    <td class="column0 style3 s">THRIFTWAY JC MARKET NEWPORT</td>
                    <td class="column1 style4 s">107 N COAST HWY</td>
                    <td class="column2 style7 s">NEWPORT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2482">
                    <td class="column0 style2 s">THRIFTWAY JC NEWPORT</td>
                    <td class="column1 style5 s">107 N COAST HWY</td>
                    <td class="column2 style8 s">NEWPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2483">
                    <td class="column0 style2 s">THRIFTWAY JC NEWPORT</td>
                    <td class="column1 style5 s">107 N COAST HWY</td>
                    <td class="column2 style8 s">NEWPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2484">
                    <td class="column0 style2 s">THRIFTWAY JC NEWPORT</td>
                    <td class="column1 style5 s">107 N COAST HWY</td>
                    <td class="column2 style8 s">NEWPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2485">
                    <td class="column0 style2 s">THRIFTWAY JC NEWPORT</td>
                    <td class="column1 style5 s">107 N COAST HWY</td>
                    <td class="column2 style8 s">NEWPORT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
