<tr class="row616">
    <td class="column0 style2 s">A-1 MARKET #12</td>
    <td class="column1 style5 s">507 S FRONT STREET</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row617">
    <td class="column0 style2 s">A-1 MARKET #12</td>
    <td class="column1 style5 s">507 S FRONT STREET</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row618">
    <td class="column0 style3 s">J &amp; J MARKET AND DELI</td>
     <td class="column1 style4 s">2248 BEALL LANE</td>
    <td class="column2 style7 s">CENTRAL POINT</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row619">
    <td class="column0 style2 s">J &amp; J MARKET AND DELI</td>
    <td class="column1 style5 s">2248 BEALL LANE</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row620">
    <td class="column0 style2 s">J &amp; J MARKET AND DELI</td>
    <td class="column1 style5 s">2248 BEALL LANE</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
<tr class="row621">
    <td class="column0 style2 s">J &amp; J MARKET AND DELI</td>
    <td class="column1 style5 s">2248 BEALL LANE</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row622">
    <td class="column0 style2 s">J &amp; J MARKET AND DELI</td>
    <td class="column1 style5 s">2248 BEALL LANE</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row623">
    <td class="column0 style2 s">J &amp; J MARKET AND DELI</td>
    <td class="column1 style5 s">2248 BEALL LANE</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row624">
    <td class="column0 style2 s">J &amp; J MARKET AND DELI</td>
    <td class="column1 style5 s">2248 BEALL LANE</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row625">
    <td class="column0 style3 s">DAVE'S CENTRAL MARKET</td>
    <td class="column1 style4 s">750 HOPKINS ROAD</td>
    <td class="column2 style7 s">CENTRAL POINT</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row626">
    <td class="column0 style2 s">DAVE'S CENTRAL MARKET</td>
    <td class="column1 style5 s">750 HOPKINS ROAD</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row627">
    <td class="column0 style2 s">DAVE'S CENTRAL MARKET</td>
    <td class="column1 style5 s">750 HOPKINS ROAD</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row628">
    <td class="column0 style2 s">DAVE'S CENTRAL MARKET</td>
    <td class="column1 style5 s">750 HOPKINS ROAD</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row629">
    <td class="column0 style2 s">DAVE'S CENTRAL MARKET</td>
    <td class="column1 style5 s">750 HOPKINS ROAD</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row630">
    <td class="column0 style3 s">RAY'S FOODS #9 CENTRAL POINT</td>
    <td class="column1 style4 s">126 PINE STREET</td>
    <td class="column2 style7 s">CENTRAL POINT</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row631">
    <td class="column0 style2 s">RAY'S FOODS #9 CPT</td>
    <td class="column1 style5 s">126 PINE STREET</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row632">
    <td class="column0 style2 s">RAY'S FOODS #9 CPT</td>
    <td class="column1 style5 s">126 PINE STREET</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row633">
    <td class="column0 style2 s">RAY'S FOODS #9 CPT</td>
    <td class="column1 style5 s">126 PINE STREET</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row634">
    <td class="column0 style2 s">RAY'S FOODS #9 CPT</td>
    <td class="column1 style5 s">126 PINE STREET</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row635">
    <td class="column0 style2 s">RAY'S FOODS #9 CPT</td>
    <td class="column1 style5 s">126 PINE STREET</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row636">
    <td class="column0 style2 s">RAY'S FOODS #9 CPT</td>
    <td class="column1 style5 s">126 PINE STREET</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row637">
    <td class="column0 style2 s">RAY'S FOODS #9 CPT</td>
    <td class="column1 style5 s">126 PINE STREET</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row638">
    <td class="column0 style2 s">RAY'S FOODS #9 CPT</td>
    <td class="column1 style5 s">126 PINE STREET</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row639">
    <td class="column0 style2 s">RAY'S FOODS #9 CPT</td>
    <td class="column1 style5 s">126 PINE STREET</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row640">
    <td class="column0 style2 s">RAY'S FOODS #9 CPT</td>
    <td class="column1 style5 s">126 PINE STREET</td>
    <td class="column2 style8 s">CENTRAL POINT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>

<tr class="row641">
<td class="column0 style2 s">RAY'S FOODS #9 CPT</td>
<td class="column1 style5 s">126 PINE STREET</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row642">
<td class="column0 style2 s">RAY'S FOODS #9 CPT</td>
<td class="column1 style5 s">126 PINE STREET</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row643">
<td class="column0 style2 s">RAY'S FOODS #9 CPT</td>
<td class="column1 style5 s">126 PINE STREET</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row644">
<td class="column0 style2 s">RAY'S FOODS #9 CPT</td>
<td class="column1 style5 s">126 PINE STREET</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row645">
<td class="column0 style3 s">TOUVELLE LODGE</td>
<td class="column1 style4 s">9367 TABLE ROCK ROAD</td>
<td class="column2 style7 s">CENTRAL POINT</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row646">
<td class="column0 style2 s">TOUVELLE LODGE</td>
<td class="column1 style5 s">9367 TABLE ROCK ROAD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">ROCK POINT RIVER RED</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row647">
<td class="column0 style2 s">TOUVELLE LODGE</td>
<td class="column1 style5 s">9367 TABLE ROCK ROAD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row648">
<td class="column0 style3 s">ALBERTSONS #3595 PLAZA BLVD</td>
<td class="column1 style4 s">1360 PLAZA BLVD</td>
<td class="column2 style7 s">CENTRAL POINT</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row649">
<td class="column0 style2 s">ALBERTSONS #3595 PLAZA CP</td>
<td class="column1 style5 s">1360 PLAZA BLVD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">DEL RIO VINEYARD ESTATE SYRAH</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row650">
<td class="column0 style2 s">ALBERTSONS #3595 PLAZA CP</td>
<td class="column1 style5 s">1360 PLAZA BLVD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row651">
<td class="column0 style2 s">ALBERTSONS #3595 PLAZA CP</td>
<td class="column1 style5 s">1360 PLAZA BLVD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row652">
<td class="column0 style2 s">ALBERTSONS #3595 PLAZA CP</td>
<td class="column1 style5 s">1360 PLAZA BLVD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row653">
<td class="column0 style2 s">ALBERTSONS #3595 PLAZA CP</td>
<td class="column1 style5 s">1360 PLAZA BLVD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row654">
<td class="column0 style2 s">ALBERTSONS #3595 PLAZA CP</td>
<td class="column1 style5 s">1360 PLAZA BLVD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row655">
<td class="column0 style2 s">ALBERTSONS #3595 PLAZA CP</td>
<td class="column1 style5 s">1360 PLAZA BLVD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row656">
<td class="column0 style2 s">ALBERTSONS #3595 PLAZA CP</td>
<td class="column1 style5 s">1360 PLAZA BLVD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row657">
<td class="column0 style2 s">ALBERTSONS #3595 PLAZA CP</td>
<td class="column1 style5 s">1360 PLAZA BLVD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row658">
<td class="column0 style3 s">THE POINT PUB &amp; GRILL</td>
<td class="column1 style4 s">311 EAST PINE ST.</td>
<td class="column2 style7 s">CENTRAL POINT</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row659">
<td class="column0 style2 s">THE POINT PUB &amp; GRILL</td>
<td class="column1 style5 s">311 EAST PINE ST.</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row660">
<td class="column0 style3 s">CIRCLE K #115 E PINE CENTRAL POINT</td>
<td class="column1 style4 s">1065 EAST PINE</td>
<td class="column2 style7 s">CENTRAL POINT</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row661">
<td class="column0 style2 s">CIRCLE K #115 E PINE CPT</td>
<td class="column1 style5 s">1065 EAST PINE</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row662">
<td class="column0 style2 s">CIRCLE K #115 E PINE CPT</td>
<td class="column1 style5 s">1065 EAST PINE</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row663">
<td class="column0 style2 s">CIRCLE K #115 E PINE CPT</td>
<td class="column1 style5 s">1065 EAST PINE</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row664">
<td class="column0 style2 s">CIRCLE K #115 E PINE CPT</td>
<td class="column1 style5 s">1065 EAST PINE</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row665">
<td class="column0 style3 s">MJ MARKET</td>
<td class="column1 style4 s">7467 BLACKWELL ROAD</td>
<td class="column2 style7 s">CENTRAL POINT</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row666">
<td class="column0 style2 s">MJ MARKET</td>
<td class="column1 style5 s">7467 BLACKWELL ROAD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row667">
<td class="column0 style2 s">MJ MARKET</td>
<td class="column1 style5 s">7467 BLACKWELL ROAD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row668">
<td class="column0 style3 s">FAST AND EASY MART</td>
<td class="column1 style4 s">13325 ANTIOCH RD</td>
<td class="column2 style7 s">CENTRAL POINT</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row669">
<td class="column0 style2 s">FAST AND EASY MART</td>
<td class="column1 style5 s">13325 ANTIOCH RD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row670">
<td class="column0 style3 s">FAIR CITY MARKET CENTRAL POINT</td>
<td class="column1 style4 s">1775 N 10TH ST</td>
<td class="column2 style7 s">CENTRAL POINT</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row671">
<td class="column0 style2 s">FAIR CITY MARKET CPT</td>
<td class="column1 style5 s">1775 N 10TH ST</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row672">
<td class="column0 style2 s">FAIR CITY MARKET CPT</td>
<td class="column1 style5 s">1775 N 10TH ST</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row673">
<td class="column0 style2 s">FAIR CITY MARKET CPT</td>
<td class="column1 style5 s">1775 N 10TH ST</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row674">
<td class="column0 style2 s">FAIR CITY MARKET CPT</td>
<td class="column1 style5 s">1775 N 10TH ST</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT RIVER RED</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row675">
<td class="column0 style3 s">LIL PANTRY TABLE ROCK CENTRAL PT</td>
<td class="column1 style4 s">5017 TABLE ROCK RD</td>
<td class="column2 style7 s">CENTRAL POINT</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row676">
<td class="column0 style2 s">LIL PANTRY TABLE ROCK MF</td>
<td class="column1 style5 s">5017 TABLE ROCK RD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">ROCK POINT RIVER RED</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row677">
<td class="column0 style2 s">LIL PANTRY TABLE ROCK MF</td>
<td class="column1 style5 s">5017 TABLE ROCK RD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row678">
<td class="column0 style2 s">LIL PANTRY TABLE ROCK MF</td>
<td class="column1 style5 s">5017 TABLE ROCK RD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row679">
<td class="column0 style2 s">LIL PANTRY TABLE ROCK MF</td>
<td class="column1 style5 s">5017 TABLE ROCK RD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row680">
<td class="column0 style2 s">LIL PANTRY TABLE ROCK MF</td>
<td class="column1 style5 s">5017 TABLE ROCK RD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row681">
<td class="column0 style2 s">LIL PANTRY TABLE ROCK MF</td>
<td class="column1 style5 s">5017 TABLE ROCK RD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row682">
<td class="column0 style2 s">LIL PANTRY TABLE ROCK MF</td>
<td class="column1 style5 s">5017 TABLE ROCK RD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row683">
<td class="column0 style2 s">LIL PANTRY TABLE ROCK MF</td>
<td class="column1 style5 s">5017 TABLE ROCK RD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row684">
<td class="column0 style3 s">ZEN ZEN SUSHI &amp; TERIYAKI</td>
<td class="column1 style4 s">223 E PINE STREET</td>
<td class="column2 style7 s">CENTRAL POINT</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row685">
<td class="column0 style2 s">ZEN ZEN SUSHI &amp; TERIYAKI*</td>
<td class="column1 style5 s">223 E PINE STREET</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row686">
<td class="column0 style2 s">ZEN ZEN SUSHI &amp; TERIYAKI*</td>
<td class="column1 style5 s">223 E PINE STREET</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT CAB SAUV</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row687">
<td class="column0 style2 s">ZEN ZEN SUSHI &amp; TERIYAKI*</td>
<td class="column1 style5 s">223 E PINE STREET</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row688">
<td class="column0 style2 s">ZEN ZEN SUSHI &amp; TERIYAKI*</td>
<td class="column1 style5 s">223 E PINE STREET</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row689">
<td class="column0 style2 s">ZEN ZEN SUSHI &amp; TERIYAKI*</td>
<td class="column1 style5 s">223 E PINE STREET</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row690">
<td class="column0 style3 s">DARDANELLE'S COMMUNITY STORE</td>
<td class="column1 style4 s">9625 OLD STAGE RD</td>
<td class="column2 style7 s">CENTRAL POINT</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row691">
<td class="column0 style2 s">DARDANELLE'S COMMUNITY ST</td>
<td class="column1 style5 s">9625 OLD STAGE RD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">ROCK POINT RIVER RED</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row692">
<td class="column0 style2 s">DARDANELLE'S COMMUNITY ST</td>
<td class="column1 style5 s">9625 OLD STAGE RD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row693">
<td class="column0 style2 s">DARDANELLE'S COMMUNITY ST</td>
<td class="column1 style5 s">9625 OLD STAGE RD</td>
<td class="column2 style8 s">CENTRAL POINT</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row694">
<td class="column0 style3 s">OLD GENERAL STORE</td>
<td class="column1 style4 s">91133 CAPE ARAGO HWY</td>
<td class="column2 style7 s">CHARLESTON</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row695">
<td class="column0 style2 s">OLD GENERAL STORE</td>
<td class="column1 style5 s">91133 CAPE ARAGO HWY</td>
<td class="column2 style8 s">CHARLESTON</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row696">
<td class="column0 style2 s">OLD GENERAL STORE</td>
<td class="column1 style5 s">91133 CAPE ARAGO HWY</td>
<td class="column2 style8 s">CHARLESTON</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row697">
<td class="column0 style3 s">BI-MART #657 DAMASCUS</td>
<td class="column1 style4 s">20000 SE HWY 212</td>
<td class="column2 style7 s">CLACKAMAS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row698">
<td class="column0 style2 s">BI-MART #657 DAMASCUS</td>
<td class="column1 style5 s">20000 SE HWY 212</td>
<td class="column2 style8 s">CLACKAMAS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row699">
<td class="column0 style3 s">FRED MEYER #063-CLACKAMAS</td>
<td class="column1 style4 s">16301 SE 82ND</td>
<td class="column2 style7 s">CLACKAMAS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row700">
<td class="column0 style2 s">FRED MEYER #063-CLACKAMAS</td>
<td class="column1 style5 s">16301 SE 82ND</td>
<td class="column2 style8 s">CLACKAMAS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">ROCK POINT RIVER RED</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row701">
<td class="column0 style2 s">FRED MEYER #063-CLACKAMAS</td>
<td class="column1 style5 s">16301 SE 82ND</td>
<td class="column2 style8 s">CLACKAMAS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row702">
<td class="column0 style2 s">FRED MEYER #063-CLACKAMAS</td>
<td class="column1 style5 s">16301 SE 82ND</td>
<td class="column2 style8 s">CLACKAMAS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row703">
<td class="column0 style3 s">COST PLUS #133 CLACKAMAS</td>
<td class="column1 style4 s">8626 SE SUNNYSIDE RD</td>
<td class="column2 style7 s">CLACKAMAS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row704">
<td class="column0 style2 s">COST PLUS #133 CLACKAMAS*</td>
<td class="column1 style5 s">8626 SE SUNNYSIDE RD</td>
<td class="column2 style8 s">CLACKAMAS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">ROCK POINT RIVER RED</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row705">
<td class="column0 style2 s">COST PLUS #133 CLACKAMAS*</td>
<td class="column1 style5 s">8626 SE SUNNYSIDE RD</td>
<td class="column2 style8 s">CLACKAMAS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row706">
<td class="column0 style3 s">RITE AID #5326- CLACKAMAS</td>
<td class="column1 style4 s">12002 SE SUNNYSIDE RD R</td>
<td class="column2 style7 s">CLACKAMAS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row707">
<td class="column0 style2 s">RITE AID #5326- CLACKAMAS</td>
<td class="column1 style5 s">12002 SE SUNNYSIDE RD R</td>
<td class="column2 style8 s">CLACKAMAS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row708">
<td class="column0 style3 s">SAFEWAY #1231 SUNNYSIDE</td>
<td class="column1 style4 s">12032 SE SUNNYSIDE R</td>
<td class="column2 style7 s">CLACKAMAS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row709">
<td class="column0 style2 s">SAFEWAY #1231 SUNNYSIDE</td>
<td class="column1 style5 s">12032 SE SUNNYSIDE R</td>
<td class="column2 style8 s">CLACKAMAS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row710">
<td class="column0 style2 s">SAFEWAY #1231 SUNNYSIDE</td>
<td class="column1 style5 s">12032 SE SUNNYSIDE R</td>
<td class="column2 style8 s">CLACKAMAS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row711">
<td class="column0 style2 s">SAFEWAY #1231 SUNNYSIDE</td>
<td class="column1 style5 s">12032 SE SUNNYSIDE R</td>
<td class="column2 style8 s">CLACKAMAS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row712">
<td class="column0 style3 s">FLOWERS &amp; FLUFF</td>
<td class="column1 style4 s">46 E COLUMBIA RIVER HWY</td>
<td class="column2 style7 s">CLATSKANIE</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row713">
<td class="column0 style2 s">FLOWERS &amp; FLUFF</td>
<td class="column1 style5 s">46 E COLUMBIA RIVER HWY</td>
<td class="column2 style8 s">CLATSKANIE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row714">
<td class="column0 style3 s">CLATSKANIE SHELL MINI MRT</td>
<td class="column1 style4 s">260 W HWY 30</td>
<td class="column2 style7 s">CLATSKANIE</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row715">
<td class="column0 style2 s">CLATSKANIE SHELL MINI MRT</td>
<td class="column1 style5 s">260 W HWY 30</td>
<td class="column2 style8 s">CLATSKANIE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row716">
<td class="column0 style3 s">WINE &amp; BEER WORLD</td>
<td class="column1 style4 s">235 W COLUMBIA RIVER HWY</td>
<td class="column2 style7 s">CLATSKANIE</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row717">
<td class="column0 style2 s">WINE &amp; BEER WORLD</td>
<td class="column1 style5 s">235 W COLUMBIA RIVER HWY</td>
<td class="column2 style8 s">CLATSKANIE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row718">
<td class="column0 style3 s">COBURG PIZZA COMPANY</td>
<td class="column1 style4 s">90999 S WILLAMETTE ST</td>
<td class="column2 style7 s">COBURG</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row719">
<td class="column0 style2 s">COBURG PIZZA COMPANY*</td>
<td class="column1 style5 s">90999 S WILLAMETTE ST</td>
<td class="column2 style8 s">COBURG</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row720">
<td class="column0 style2 s">COBURG PIZZA COMPANY*</td>
<td class="column1 style5 s">90999 S WILLAMETTE ST</td>
<td class="column2 style8 s">COBURG</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row721">
<td class="column0 style3 s">COLUMBIA GROCERIES &amp; GAS</td>
<td class="column1 style4 s">300 "A" STREET</td>
<td class="column2 style7 s">COLUMBIA CITY</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row722">
<td class="column0 style2 s">COLUMBIA GROCERIES &amp; GAS</td>
<td class="column1 style5 s">300 "A" STREET</td>
<td class="column2 style8 s">COLUMBIA CITY</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row723">
<td class="column0 style2 s">COLUMBIA GROCERIES &amp; GAS</td>
<td class="column1 style5 s">300 "A" STREET</td>
<td class="column2 style8 s">COLUMBIA CITY</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row724">
<td class="column0 style3 s">LIGHTHOUSE MARKET</td>
<td class="column1 style4 s">705 EMPIRE BLVD</td>
<td class="column2 style7 s">COOS BAY</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row725">
<td class="column0 style2 s">LIGHTHOUSE MARKET LLC</td>
<td class="column1 style5 s">705 EMPIRE BLVD</td>
<td class="column2 style8 s">COOS BAY</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row726">
<td class="column0 style3 s">DAVE'S PIZZA</td>
<td class="column1 style4 s">740 KOOS BAY BLVD</td>
<td class="column2 style7 s">COOS BAY</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row727">
<td class="column0 style2 s">DAVE'S PIZZA</td>
<td class="column1 style5 s">740 KOOS BAY BLVD</td>
<td class="column2 style8 s">COOS BAY</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row728">
<td class="column0 style3 s">SAFEWAY #1556 COOS BAY</td>
<td class="column1 style4 s">230 E. JOHNSON AVE</td>
<td class="column2 style7 s">COOS BAY</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row729">
<td class="column0 style2 s">SAFEWAY #1556 COOS BAY</td>
<td class="column1 style5 s">230 E. JOHNSON AVE</td>
<td class="column2 style8 s">COOS BAY</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row730">
<td class="column0 style2 s">SAFEWAY #1556 COOS BAY</td>
<td class="column1 style5 s">230 E. JOHNSON AVE</td>
<td class="column2 style8 s">COOS BAY</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>

<tr class="row731">
    <td class="column0 style2 s">SAFEWAY #1556 COOS BAY</td>
    <td class="column1 style5 s">230 E. JOHNSON AVE</td>
    <td class="column2 style8 s">COOS BAY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row732">
    <td class="column0 style2 s">SAFEWAY #1556 COOS BAY</td>
    <td class="column1 style5 s">230 E. JOHNSON AVE</td>
    <td class="column2 style8 s">COOS BAY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row733">
    <td class="column0 style2 s">SAFEWAY #1556 COOS BAY</td>
    <td class="column1 style5 s">230 E. JOHNSON AVE</td>
    <td class="column2 style8 s">COOS BAY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row734">
    <td class="column0 style2 s">SAFEWAY #1556 COOS BAY</td>
    <td class="column1 style5 s">230 E. JOHNSON AVE</td>
    <td class="column2 style8 s">COOS BAY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row735">
    <td class="column0 style2 s">SAFEWAY #1556 COOS BAY</td>
    <td class="column1 style5 s">230 E. JOHNSON AVE</td>
    <td class="column2 style8 s">COOS BAY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row736">
    <td class="column0 style2 s">SAFEWAY #1556 COOS BAY</td>
    <td class="column1 style5 s">230 E. JOHNSON AVE</td>
    <td class="column2 style8 s">COOS BAY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row737">
    <td class="column0 style3 s">FRED MEYER #050 COOS BAY</td>
    <td class="column1 style4 s">1020 S 1ST ST</td>
    <td class="column2 style7 s">COOS BAY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row738">
    <td class="column0 style2 s">FRED MEYER #050 COOS BAY</td>
    <td class="column1 style5 s">1020 S 1ST ST</td>
    <td class="column2 style8 s">COOS BAY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row739">
    <td class="column0 style2 s">FRED MEYER #050 COOS BAY</td>
    <td class="column1 style5 s">1020 S 1ST ST</td>
    <td class="column2 style8 s">COOS BAY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row740">
    <td class="column0 style2 s">FRED MEYER #050 COOS BAY</td>
    <td class="column1 style5 s">1020 S 1ST ST</td>
    <td class="column2 style8 s">COOS BAY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row741">
    <td class="column0 style2 s">FRED MEYER #050 COOS BAY</td>
    <td class="column1 style5 s">1020 S 1ST ST</td>
    <td class="column2 style8 s">COOS BAY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row742">
    <td class="column0 style3 s">BI-MART #668 COOS BAY</td>
    <td class="column1 style4 s">550 SOUTH FOURTH STREET</td>
    <td class="column2 style7 s">COOS BAY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row743">
    <td class="column0 style2 s">BI-MART #668 COOS BAY</td>
    <td class="column1 style5 s">550 SOUTH FOURTH STREET</td>
    <td class="column2 style8 s">COOS BAY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row744">
    <td class="column0 style3 s">CORBETT COUNTRY STORE</td>
    <td class="column1 style4 s">36801 HIST COLUM RIVR HWY</td>
    <td class="column2 style7 s">CORBETT</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row745">
    <td class="column0 style2 s">CORBETT COUNTRY STORE</td>
    <td class="column1 style5 s">36801 HIST COLUM RIVR HWY</td>
    <td class="column2 style8 s">CORBETT</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
