
                <tr class="row3684">
                    <td class="column0 style3 s">CAFE YUMM! #100005*</td>
                    <td class="column1 style4 s">3340 GATEWAY ST</td>
                    <td class="column2 style7 s">SPRINGFIELD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3685">
                    <td class="column0 style2 s">CAFE YUMM! #100005*</td>
                    <td class="column1 style5 s">3340 GATEWAY ST</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3686">
                    <td class="column0 style3 s">TRACKSTIRS</td>
                    <td class="column1 style4 s">3350 GATEWAY</td>
                    <td class="column2 style7 s">SPRINGFIELD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3687">
                    <td class="column0 style2 s">TRACKSTIRS</td>
                    <td class="column1 style5 s">3350 GATEWAY</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3688">
                    <td class="column0 style3 s">FRED MEYER #328 Q ST</td>
                    <td class="column1 style4 s">650 Q ST</td>
                    <td class="column2 style7 s">SPRINGFIELD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3689">
                    <td class="column0 style2 s">FRED MEYER #328 Q ST</td>
                    <td class="column1 style5 s">650 Q ST</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3690">
                    <td class="column0 style2 s">FRED MEYER #328 Q ST</td>
                    <td class="column1 style5 s">650 Q ST</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3691">
                    <td class="column0 style2 s">FRED MEYER #328 Q ST</td>
                    <td class="column1 style5 s">650 Q ST</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3692">
                    <td class="column0 style2 s">FRED MEYER #328 Q ST</td>
                    <td class="column1 style5 s">650 Q ST</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3693">
                    <td class="column0 style3 s">14TH &amp; MAIN ST MARKET</td>
                    <td class="column1 style4 s">1408 MAIN ST</td>
                    <td class="column2 style7 s">SPRINGFIELD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3694">
                    <td class="column0 style2 s">14TH &amp; MAIN ST MARKET</td>
                    <td class="column1 style5 s">1408 MAIN ST</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3695">
                    <td class="column0 style2 s">14TH &amp; MAIN ST MARKET</td>
                    <td class="column1 style5 s">1408 MAIN ST</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3696">
                    <td class="column0 style3 s">WINCO FOODS #34 SPRINGFIE</td>
                    <td class="column1 style4 s">1920 OLYMPIC ST</td>
                    <td class="column2 style7 s">SPRINGFIELD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3697">
                    <td class="column0 style2 s">WINCO FOODS #34 SPRINGFIE</td>
                    <td class="column1 style5 s">1920 OLYMPIC ST</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3698">
                    <td class="column0 style2 s">WINCO FOODS #34 SPRINGFIE</td>
                    <td class="column1 style5 s">1920 OLYMPIC ST</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3699">
                    <td class="column0 style2 s">WINCO FOODS #34 SPRINGFIE</td>
                    <td class="column1 style5 s">1920 OLYMPIC ST</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3700">
                    <td class="column0 style2 s">WINCO FOODS #34 SPRINGFIE</td>
                    <td class="column1 style5 s">1920 OLYMPIC ST</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3701">
                    <td class="column0 style2 s">WINCO FOODS #34 SPRINGFIE</td>
                    <td class="column1 style5 s">1920 OLYMPIC ST</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3702">
                    <td class="column0 style3 s">RIVER STOP REST &amp; SPORTS</td>
                    <td class="column1 style4 s">39297 MCKENZIE HWY</td>
                    <td class="column2 style7 s">SPRINGFIELD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3703">
                    <td class="column0 style2 s">RIVER STOP REST &amp; SPORTS</td>
                    <td class="column1 style5 s">39297 MCKENZIE HWY</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3704">
                    <td class="column0 style3 s">ALBERTSONS #0570 MARCOLA</td>
                    <td class="column1 style4 s">2000 MARCOLA RD</td>
                    <td class="column2 style7 s">SPRINGFIELD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3705">
                    <td class="column0 style2 s">ALBERTSONS #0570 MARCOLA</td>
                    <td class="column1 style5 s">2000 MARCOLA RD</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3706">
                    <td class="column0 style2 s">ALBERTSONS #0570 MARCOLA</td>
                    <td class="column1 style5 s">2000 MARCOLA RD</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3707">
                    <td class="column0 style3 s">SAFEWAY #1094 PIONEER</td>
                    <td class="column1 style4 s">1891 PIONEER PKWY E</td>
                    <td class="column2 style7 s">SPRINGFIELD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3708">
                    <td class="column0 style2 s">SAFEWAY #1094 PIONEER</td>
                    <td class="column1 style5 s">1891 PIONEER PKWY E</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3709">
                    <td class="column0 style3 s">BI-MART #627 MAIN ST</td>
                    <td class="column1 style4 s">5744 MAIN</td>
                    <td class="column2 style7 s">SPRINGFIELD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3710">
                    <td class="column0 style2 s">BI-MART #627 MAIN ST</td>
                    <td class="column1 style5 s">5744 MAIN</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3711">
                    <td class="column0 style2 s">BI-MART #627 MAIN ST</td>
                    <td class="column1 style5 s">5744 MAIN</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3712">
                    <td class="column0 style3 s">ALBERTSONS #0574 MAIN ST</td>
                    <td class="column1 style4 s">5755 S. MAIN STREET</td>
                    <td class="column2 style7 s">SPRINGFIELD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3713">
                    <td class="column0 style2 s">ALBERTSONS #0574 MAIN ST</td>
                    <td class="column1 style5 s">5755 S. MAIN STREET</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3714">
                    <td class="column0 style2 s">ALBERTSONS #0574 MAIN ST</td>
                    <td class="column1 style5 s">5755 S. MAIN STREET</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3715">
                    <td class="column0 style2 s">ALBERTSONS #0574 MAIN ST</td>
                    <td class="column1 style5 s">5755 S. MAIN STREET</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3716">
                    <td class="column0 style2 s">ALBERTSONS #0574 MAIN ST</td>
                    <td class="column1 style5 s">5755 S. MAIN STREET</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3717">
                    <td class="column0 style3 s">BI-MART #603 MOHAWK</td>
                    <td class="column1 style4 s">1521 MOHAWK</td>
                    <td class="column2 style7 s">SPRINGFIELD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3718">
                    <td class="column0 style2 s">BI-MART #603 MOHAWK</td>
                    <td class="column1 style5 s">1521 MOHAWK</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3719">
                    <td class="column0 style3 s">GATEWAY TAPHOUSE</td>
                    <td class="column1 style4 s">3198 GATEWAY ST</td>
                    <td class="column2 style7 s">SPRINGFIELD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3720">
                    <td class="column0 style2 s">GATEWAY TAPHOUSE</td>
                    <td class="column1 style5 s">3198 GATEWAY ST</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3721">
                    <td class="column0 style2 s">GATEWAY TAPHOUSE</td>
                    <td class="column1 style5 s">3198 GATEWAY ST</td>
                    <td class="column2 style8 s">SPRINGFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3722">
                    <td class="column0 style3 s">YANKTON STORE</td>
                    <td class="column1 style4 s">33144 PITTSBURGH RD</td>
                    <td class="column2 style7 s">ST HELENS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3723">
                    <td class="column0 style2 s">YANKTON STORE</td>
                    <td class="column1 style5 s">33144 PITTSBURGH RD</td>
                    <td class="column2 style8 s">ST HELENS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3724">
                    <td class="column0 style2 s">YANKTON STORE</td>
                    <td class="column1 style5 s">33144 PITTSBURGH RD</td>
                    <td class="column2 style8 s">ST HELENS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3725">
                    <td class="column0 style3 s">SAFEWAY #424 ST HELENS</td>
                    <td class="column1 style4 s">795 COLUMBIA RVR HWY</td>
                    <td class="column2 style7 s">ST HELENS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3726">
                    <td class="column0 style2 s">SAFEWAY #424 ST HELENS</td>
                    <td class="column1 style5 s">795 COLUMBIA RVR HWY</td>
                    <td class="column2 style8 s">ST HELENS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3727">
                    <td class="column0 style3 s">RITE AID #5333- ST HELEN</td>
                    <td class="column1 style4 s">785 S COLUMBIA WAY</td>
                    <td class="column2 style7 s">ST HELENS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3728">
                    <td class="column0 style2 s">RITE AID #5333- ST HELEN</td>
                    <td class="column1 style5 s">785 S COLUMBIA WAY</td>
                    <td class="column2 style8 s">ST HELENS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3729">
                    <td class="column0 style3 s">CENTER MARKET #24</td>
                    <td class="column1 style4 s">530 N. MAIN STREET</td>
                    <td class="column2 style7 s">STANFIELD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3730">
                    <td class="column0 style2 s">CENTER MARKET #24</td>
                    <td class="column1 style5 s">530 N. MAIN STREET</td>
                    <td class="column2 style8 s">STANFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3731">
                    <td class="column0 style2 s">CENTER MARKET #24</td>
                    <td class="column1 style5 s">530 N. MAIN STREET</td>
                    <td class="column2 style8 s">STANFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3732">
                    <td class="column0 style2 s">CENTER MARKET #24</td>
                    <td class="column1 style5 s">530 N. MAIN STREET</td>
                    <td class="column2 style8 s">STANFIELD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3733">
                    <td class="column0 style3 s">BI-MART #647 STAYTON</td>
                    <td class="column1 style4 s">1701 SHAFF RD</td>
                    <td class="column2 style7 s">STAYTON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3734">
                    <td class="column0 style2 s">BI-MART #647 STAYTON</td>
                    <td class="column1 style5 s">1701 SHAFF RD</td>
                    <td class="column2 style8 s">STAYTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3735">
                    <td class="column0 style3 s">SAFEWAY #1527 STAYTON</td>
                    <td class="column1 style4 s">1535 NORTH 1ST ST</td>
                    <td class="column2 style7 s">STAYTON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3736">
                    <td class="column0 style2 s">SAFEWAY #1527 STAYTON</td>
                    <td class="column1 style5 s">1535 NORTH 1ST ST</td>
                    <td class="column2 style8 s">STAYTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3737">
                    <td class="column0 style3 s">ROTHS #15 STAYTON</td>
                    <td class="column1 style4 s">1770 SHAFF RD.</td>
                    <td class="column2 style7 s">STAYTON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3738">
                    <td class="column0 style2 s">ROTHS #15 STAYTON</td>
                    <td class="column1 style5 s">1770 SHAFF RD.</td>
                    <td class="column2 style8 s">STAYTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3739">
                    <td class="column0 style2 s">ROTHS #15 STAYTON</td>
                    <td class="column1 style5 s">1770 SHAFF RD.</td>
                    <td class="column2 style8 s">STAYTON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3740">
                    <td class="column0 style3 s">WOODEN NICKEL SUBLIMITY</td>
                    <td class="column1 style4 s">1085 CENTER</td>
                    <td class="column2 style7 s">SUBLIMITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3741">
                    <td class="column0 style2 s">WOODEN NICKEL SUBLIMITY</td>
                    <td class="column1 style5 s">1085 CENTER</td>
                    <td class="column2 style8 s">SUBLIMITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3742">
                    <td class="column0 style3 s">LODGE AT SUMMER LAKE*</td>
                    <td class="column1 style4 s">53460 HWY 31</td>
                    <td class="column2 style7 s">SUMMER LAKE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3743">
                    <td class="column0 style2 s">LODGE AT SUMMER LAKE*</td>
                    <td class="column1 style5 s">53460 HWY 31</td>
                    <td class="column2 style8 s">SUMMER LAKE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3744">
                    <td class="column0 style2 s">LODGE AT SUMMER LAKE*</td>
                    <td class="column1 style5 s">53460 HWY 31</td>
                    <td class="column2 style8 s">SUMMER LAKE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3745">
                    <td class="column0 style2 s">LODGE AT SUMMER LAKE*</td>
                    <td class="column1 style5 s">53460 HWY 31</td>
                    <td class="column2 style8 s">SUMMER LAKE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3746">
                    <td class="column0 style2 s">LODGE AT SUMMER LAKE*</td>
                    <td class="column1 style5 s">53460 HWY 31</td>
                    <td class="column2 style8 s">SUMMER LAKE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3747">
                    <td class="column0 style2 s">LODGE AT SUMMER LAKE*</td>
                    <td class="column1 style5 s">53460 HWY 31</td>
                    <td class="column2 style8 s">SUMMER LAKE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3748">
                    <td class="column0 style3 s">VENTURE LANE SHELL</td>
                    <td class="column1 style4 s">56896 VENTURE LANE</td>
                    <td class="column2 style7 s">SUNRIVER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3749">
                    <td class="column0 style2 s">VENTURE LANE SHELL</td>
                    <td class="column1 style5 s">56896 VENTURE LANE</td>
                    <td class="column2 style8 s">SUNRIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3750">
                    <td class="column0 style2 s">VENTURE LANE SHELL</td>
                    <td class="column1 style5 s">56896 VENTURE LANE</td>
                    <td class="column2 style8 s">SUNRIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3751">
                    <td class="column0 style2 s">VENTURE LANE SHELL</td>
                    <td class="column1 style5 s">56896 VENTURE LANE</td>
                    <td class="column2 style8 s">SUNRIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3752">
                    <td class="column0 style2 s">VENTURE LANE SHELL</td>
                    <td class="column1 style5 s">56896 VENTURE LANE</td>
                    <td class="column2 style8 s">SUNRIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3753">
                    <td class="column0 style3 s">SUNRIVER MARKETPLACE</td>
                    <td class="column1 style4 s">18160 COTTONWOOD RD</td>
                    <td class="column2 style7 s">SUNRIVER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3754">
                    <td class="column0 style2 s">SUNRIVER MARKETPLACE</td>
                    <td class="column1 style5 s">18160 COTTONWOOD RD</td>
                    <td class="column2 style8 s">SUNRIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3755">
                    <td class="column0 style2 s">SUNRIVER MARKETPLACE</td>
                    <td class="column1 style5 s">18160 COTTONWOOD RD</td>
                    <td class="column2 style8 s">SUNRIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3756">
                    <td class="column0 style3 s">SUMMIT XPRESS</td>
                    <td class="column1 style4 s">17355 SPRING RIVER RD</td>
                    <td class="column2 style7 s">SUNRIVER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3757">
                    <td class="column0 style2 s">SUMMIT XPRESS</td>
                    <td class="column1 style5 s">17355 SPRING RIVER RD</td>
                    <td class="column2 style8 s">SUNRIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3758">
                    <td class="column0 style3 s">SUNRIVER COUNTRY STORE</td>
                    <td class="column1 style4 s">18160 COTTONWOOD RD #222</td>
                    <td class="column2 style7 s">SUNRIVER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3759">
                    <td class="column0 style2 s">SUNRIVER COUNTRY STORE</td>
                    <td class="column1 style5 s">18160 COTTONWOOD RD #222</td>
                    <td class="column2 style8 s">SUNRIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3760">
                    <td class="column0 style2 s">SUNRIVER COUNTRY STORE</td>
                    <td class="column1 style5 s">18160 COTTONWOOD RD #222</td>
                    <td class="column2 style8 s">SUNRIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3761">
                    <td class="column0 style2 s">SUNRIVER COUNTRY STORE</td>
                    <td class="column1 style5 s">18160 COTTONWOOD RD #222</td>
                    <td class="column2 style8 s">SUNRIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3762">
                    <td class="column0 style2 s">SUNRIVER COUNTRY STORE</td>
                    <td class="column1 style5 s">18160 COTTONWOOD RD #222</td>
                    <td class="column2 style8 s">SUNRIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3763">
                    <td class="column0 style2 s">SUNRIVER COUNTRY STORE</td>
                    <td class="column1 style5 s">18160 COTTONWOOD RD #222</td>
                    <td class="column2 style8 s">SUNRIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">12/750DEL RIO VNYDS CLARET 14</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3764">
                    <td class="column0 style2 s">SUNRIVER COUNTRY STORE</td>
                    <td class="column1 style5 s">18160 COTTONWOOD RD #222</td>
                    <td class="column2 style8 s">SUNRIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3765">
                    <td class="column0 style2 s">SUNRIVER COUNTRY STORE</td>
                    <td class="column1 style5 s">18160 COTTONWOOD RD #222</td>
                    <td class="column2 style8 s">SUNRIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3766">
                    <td class="column0 style2 s">SUNRIVER COUNTRY STORE</td>
                    <td class="column1 style5 s">18160 COTTONWOOD RD #222</td>
                    <td class="column2 style8 s">SUNRIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3767">
                    <td class="column0 style2 s">SUNRIVER COUNTRY STORE</td>
                    <td class="column1 style5 s">18160 COTTONWOOD RD #222</td>
                    <td class="column2 style8 s">SUNRIVER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3768">
                    <td class="column0 style3 s">PRICELESS #56 SUTHERLIN</td>
                    <td class="column1 style4 s">811 E CENTRAL</td>
                    <td class="column2 style7 s">SUTHERLIN</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3769">
                    <td class="column0 style2 s">PRICELESS #56 SUTHERLIN</td>
                    <td class="column1 style5 s">811 E CENTRAL</td>
                    <td class="column2 style8 s">SUTHERLIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3770">
                    <td class="column0 style2 s">PRICELESS #56 SUTHERLIN</td>
                    <td class="column1 style5 s">811 E CENTRAL</td>
                    <td class="column2 style8 s">SUTHERLIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3771">
                    <td class="column0 style3 s">BI-MART #652 SUTHERLIN</td>
                    <td class="column1 style4 s">833 E CENTRAL</td>
                    <td class="column2 style7 s">SUTHERLIN</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3772">
                    <td class="column0 style2 s">BI-MART #652 SUTHERLIN</td>
                    <td class="column1 style5 s">833 E CENTRAL</td>
                    <td class="column2 style8 s">SUTHERLIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3773">
                    <td class="column0 style2 s">BI-MART #652 SUTHERLIN</td>
                    <td class="column1 style5 s">833 E CENTRAL</td>
                    <td class="column2 style8 s">SUTHERLIN</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3774">
                    <td class="column0 style3 s">BI-MART SWEET HOME #685</td>
                    <td class="column1 style4 s">1980 MAIN ST</td>
                    <td class="column2 style7 s">SWEET HOME</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3775">
                    <td class="column0 style2 s">BI-MART SWEET HOME #685</td>
                    <td class="column1 style5 s">1980 MAIN ST</td>
                    <td class="column2 style8 s">SWEET HOME</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3776">
                    <td class="column0 style3 s">THE POINT RESTAURANT &amp; LOUNGE</td>
                    <td class="column1 style4 s">6305 HWY 20</td>
                    <td class="column2 style7 s">SWEET HOME</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3777">
                    <td class="column0 style2 s">THE POINT RESTAURANT &amp; LO</td>
                    <td class="column1 style5 s">6305 HWY 20</td>
                    <td class="column2 style8 s">SWEET HOME</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3778">
                    <td class="column0 style2 s">THE POINT RESTAURANT &amp; LO</td>
                    <td class="column1 style5 s">6305 HWY 20</td>
                    <td class="column2 style8 s">SWEET HOME</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3779">
                    <td class="column0 style2 s">THE POINT RESTAURANT &amp; LO</td>
                    <td class="column1 style5 s">6305 HWY 20</td>
                    <td class="column2 style8 s">SWEET HOME</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3780">
                    <td class="column0 style2 s">THE POINT RESTAURANT &amp; LO</td>
                    <td class="column1 style5 s">6305 HWY 20</td>
                    <td class="column2 style8 s">SWEET HOME</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3781">
                    <td class="column0 style3 s">RAY'S FOOD #82 TALENT</td>
                    <td class="column1 style4 s">215 E WAGNER ST</td>
                    <td class="column2 style7 s">TALENT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3782">
                    <td class="column0 style2 s">RAY'S FOOD #82 TALENT</td>
                    <td class="column1 style5 s">215 E WAGNER ST</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3783">
                    <td class="column0 style2 s">RAY'S FOOD #82 TALENT</td>
                    <td class="column1 style5 s">215 E WAGNER ST</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3784">
                    <td class="column0 style2 s">RAY'S FOOD #82 TALENT</td>
                    <td class="column1 style5 s">215 E WAGNER ST</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3785">
                    <td class="column0 style2 s">RAY'S FOOD #82 TALENT</td>
                    <td class="column1 style5 s">215 E WAGNER ST</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3786">
                    <td class="column0 style2 s">RAY'S FOOD #82 TALENT</td>
                    <td class="column1 style5 s">215 E WAGNER ST</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3787">
                    <td class="column0 style2 s">RAY'S FOOD #82 TALENT</td>
                    <td class="column1 style5 s">215 E WAGNER ST</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3788">
                    <td class="column0 style2 s">RAY'S FOOD #82 TALENT</td>
                    <td class="column1 style5 s">215 E WAGNER ST</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3789">
                    <td class="column0 style3 s">CHEVRON #164-VLEY VW TALENT</td>
                    <td class="column1 style4 s">301 W VALLEY VIEW ROAD</td>
                    <td class="column2 style7 s">TALENT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3790">
                    <td class="column0 style2 s">CHEVRON #164-VLEY VW TLNT</td>
                    <td class="column1 style5 s">301 W VALLEY VIEW ROAD</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3791">
                    <td class="column0 style2 s">CHEVRON #164-VLEY VW TLNT</td>
                    <td class="column1 style5 s">301 W VALLEY VIEW ROAD</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3792">
                    <td class="column0 style2 s">CHEVRON #164-VLEY VW TLNT</td>
                    <td class="column1 style5 s">301 W VALLEY VIEW ROAD</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3793">
                    <td class="column0 style3 s">CROWN MARKET #600 TALENT</td>
                    <td class="column1 style4 s">806 S PACIFIC HWY</td>
                    <td class="column2 style7 s">TALENT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3794">
                    <td class="column0 style2 s">CROWN MARKET #600 TALENT</td>
                    <td class="column1 style5 s">806 S PACIFIC HWY</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3795">
                    <td class="column0 style2 s">CROWN MARKET #600 TALENT</td>
                    <td class="column1 style5 s">806 S PACIFIC HWY</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3796">
                    <td class="column0 style2 s">CROWN MARKET #600 TALENT</td>
                    <td class="column1 style5 s">806 S PACIFIC HWY</td>
                    <td class="column2 style8 s">TALENT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>