<tr class="row1056">
    <td class="column0 style2 s">NEW FRONTIER MARKET</td>
    <td class="column1 style5 s">1101 W 8TH</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1057">
    <td class="column0 style3 s">NORTHSIDE LIQUOR</td>
    <td class="column1 style4 s">1530 COBURG RD</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1058">
    <td class="column0 style2 s">NORTHSIDE LIQUOR</td>
    <td class="column1 style5 s">1530 COBURG RD</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1059">
    <td class="column0 style2 s">NORTHSIDE LIQUOR</td>
    <td class="column1 style5 s">1530 COBURG RD</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1060">
    <td class="column0 style3 s">ALBERTSONS #0572 COBURG</td>
    <td class="column1 style4 s">311 COBURG RD</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1061">
    <td class="column0 style2 s">ALBERTSONS #0572 COBURG</td>
    <td class="column1 style5 s">311 COBURG RD</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1062">
    <td class="column0 style2 s">ALBERTSONS #0572 COBURG</td>
    <td class="column1 style5 s">311 COBURG RD</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1063">
    <td class="column0 style2 s">ALBERTSONS #0572 COBURG</td>
    <td class="column1 style5 s">311 COBURG RD</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1064">
    <td class="column0 style2 s">ALBERTSONS #0572 COBURG</td>
    <td class="column1 style5 s">311 COBURG RD</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1065">
    <td class="column0 style3 s">SESSIONS MUSIC HALL</td>
    <td class="column1 style4 s">44 E. 7TH AVE</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1066">
    <td class="column0 style2 s">SESSIONS MUSIC HALL</td>
    <td class="column1 style5 s">44 E. 7TH AVE</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1067">
    <td class="column0 style3 s">RITE AID #05375- W 29TH</td>
    <td class="column1 style4 s">57 W 29TH</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1068">
    <td class="column0 style2 s">RITE AID #05375- W 29TH</td>
    <td class="column1 style5 s">57 W 29TH</td>
    <td class="column2 style8 s">EUGENE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row1069">
    <td class="column0 style3 s">PLACIDO'S PASTA SHOP*</td>
    <td class="column1 style4 s">150 SHELTON-MCMUR BLV 103</td>
    <td class="column2 style7 s">EUGENE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
<tr class="row1070">
<td class="column0 style2 s">PLACIDO'S PASTA SHOP*</td>
<td class="column1 style5 s">150 SHELTON-MCMUR BLV 103</td>
<td class="column2 style8 s">EUGENE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1071">
<td class="column0 style3 s">EL TORITO MEAT MARKET</td>
<td class="column1 style4 s">1333 W 7TH AVE</td>
<td class="column2 style7 s">EUGENE</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1072">
<td class="column0 style2 s">EL TORITO MEAT MARKET</td>
<td class="column1 style5 s">1333 W 7TH AVE</td>
<td class="column2 style8 s">EUGENE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">ROCK POINT RIVER RED</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1073">
<td class="column0 style3 s">TRACK TOWN PIZZA</td>
<td class="column1 style4 s">1809 FRANKLIN BLVD.</td>
<td class="column2 style7 s">EUGENE</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1074">
<td class="column0 style2 s">TRACK TOWN PIZZA</td>
<td class="column1 style5 s">1809 FRANKLIN BLVD.</td>
<td class="column2 style8 s">EUGENE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1075">
<td class="column0 style3 s">QUICK TRIP #2</td>
<td class="column1 style4 s">2429 HILYARD</td>
<td class="column2 style7 s">EUGENE</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1076">
<td class="column0 style2 s">QUICK TRIP #2</td>
<td class="column1 style5 s">2429 HILYARD</td>
<td class="column2 style8 s">EUGENE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">ROCK POINT RIVER RED</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1077">
<td class="column0 style2 s">QUICK TRIP #2</td>
<td class="column1 style5 s">2429 HILYARD</td>
<td class="column2 style8 s">EUGENE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1078">
<td class="column0 style2 s">QUICK TRIP #2</td>
<td class="column1 style5 s">2429 HILYARD</td>
<td class="column2 style8 s">EUGENE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1079">
<td class="column0 style2 s">QUICK TRIP #2</td>
<td class="column1 style5 s">2429 HILYARD</td>
<td class="column2 style8 s">EUGENE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1080">
<td class="column0 style2 s">QUICK TRIP #2</td>
<td class="column1 style5 s">2429 HILYARD</td>
<td class="column2 style8 s">EUGENE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT CAB SAUV</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1081">
<td class="column0 style2 s">QUICK TRIP #2</td>
<td class="column1 style5 s">2429 HILYARD</td>
<td class="column2 style8 s">EUGENE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1082">
<td class="column0 style3 s">BI-MART #602 W 18TH</td>
<td class="column1 style4 s">1680 W 18TH</td>
<td class="column2 style7 s">EUGENE</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1083">
<td class="column0 style2 s">BI-MART #602 W 18TH</td>
<td class="column1 style5 s">1680 W 18TH</td>
<td class="column2 style8 s">EUGENE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1084">
<td class="column0 style3 s">ALBERTSONS #0513 ROYAL</td>
<td class="column1 style4 s">4740 ROYAL AVE</td>
<td class="column2 style7 s">EUGENE</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1085">
<td class="column0 style2 s">ALBERTSONS #0513 ROYAL</td>
<td class="column1 style5 s">4740 ROYAL AVE</td>
<td class="column2 style8 s">EUGENE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1086">
<td class="column0 style2 s">ALBERTSONS #0513 ROYAL</td>
<td class="column1 style5 s">4740 ROYAL AVE</td>
<td class="column2 style8 s">EUGENE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1087">
<td class="column0 style2 s">ALBERTSONS #0513 ROYAL</td>
<td class="column1 style5 s">4740 ROYAL AVE</td>
<td class="column2 style8 s">EUGENE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1088">
<td class="column0 style3 s">SAFEWAY #4513 E 40TH</td>
<td class="column1 style4 s">350 E 40TH</td>
<td class="column2 style7 s">EUGENE</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1089">
<td class="column0 style2 s">SAFEWAY #4513 E 40TH</td>
<td class="column1 style5 s">350 E 40TH</td>
<td class="column2 style8 s">EUGENE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1090">
<td class="column0 style3 s">FRINK'S GENERAL STORE</td>
<td class="column1 style4 s">319 N MAIN ST</td>
<td class="column2 style7 s">FALL CITY</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1091">
<td class="column0 style2 s">FRINK'S GENERAL STORE</td>
<td class="column1 style5 s">319 N MAIN ST</td>
<td class="column2 style8 s">FALL CITY</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">ROCK POINT RIVER RED</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1092">
<td class="column0 style2 s">FRINK'S GENERAL STORE</td>
<td class="column1 style5 s">319 N MAIN ST</td>
<td class="column2 style8 s">FALL CITY</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1093">
<td class="column0 style3 s">BRIDGEPORT MARKET</td>
<td class="column1 style4 s">75 HARBOR ST #100</td>
<td class="column2 style7 s">FLORENCE</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1094">
<td class="column0 style2 s">BRIDGEPORT MARKET</td>
<td class="column1 style5 s">75 HARBOR ST #100</td>
<td class="column2 style8 s">FLORENCE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">ROCK POINT RIVER RED</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1095">
<td class="column0 style3 s">BI-MART #644 FLORENCE</td>
<td class="column1 style4 s">4310 HWY 101</td>
<td class="column2 style7 s">FLORENCE</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1096">
<td class="column0 style2 s">BI-MART #644 FLORENCE</td>
<td class="column1 style5 s">4310 HWY 101</td>
<td class="column2 style8 s">FLORENCE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">DEL RIO VINEYARD ESTATE SYRAH</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1097">
<td class="column0 style2 s">BI-MART #644 FLORENCE</td>
<td class="column1 style5 s">4310 HWY 101</td>
<td class="column2 style8 s">FLORENCE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1098">
<td class="column0 style3 s">FRED MEYER #464 FLORENCE</td>
<td class="column1 style4 s">4701 HIGHWAY 101</td>
<td class="column2 style7 s">FLORENCE</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1099">
<td class="column0 style2 s">FRED MEYER #464 FLORENCE</td>
<td class="column1 style5 s">4701 HIGHWAY 101</td>
<td class="column2 style8 s">FLORENCE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1100">
<td class="column0 style2 s">FRED MEYER #464 FLORENCE</td>
<td class="column1 style5 s">4701 HIGHWAY 101</td>
<td class="column2 style8 s">FLORENCE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1101">
<td class="column0 style3 s">SAFEWAY #363 FLORENCE</td>
<td class="column1 style4 s">700 HWY 101</td>
<td class="column2 style7 s">FLORENCE</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1102">
<td class="column0 style2 s">SAFEWAY #363 FLORENCE</td>
<td class="column1 style5 s">700 HWY 101</td>
<td class="column2 style8 s">FLORENCE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1103">
<td class="column0 style3 s">BI-MART #635 FOREST GROVE</td>
<td class="column1 style4 s">3225 PACIFIC AVE.</td>
<td class="column2 style7 s">FOREST GROVE</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1104">
<td class="column0 style2 s">BI-MART #635 FOREST GROVE</td>
<td class="column1 style5 s">3225 PACIFIC AVE.</td>
<td class="column2 style8 s">FOREST GROVE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1105">
<td class="column0 style2 s">BI-MART #635 FOREST GROVE</td>
<td class="column1 style5 s">3225 PACIFIC AVE.</td>
<td class="column2 style8 s">FOREST GROVE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1106">
<td class="column0 style3 s">SHELDON OIL 9 GALES CRK</td>
<td class="column1 style4 s">55870 HWY 6</td>
<td class="column2 style7 s">GALES CREEK</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1107">
<td class="column0 style2 s">SHELDON OIL 9 GALES CRK</td>
<td class="column1 style5 s">55870 HWY 6</td>
<td class="column2 style8 s">GALES CREEK</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1108">
<td class="column0 style3 s">ACE TAVERN</td>
<td class="column1 style4 s">114 W FRONT ST</td>
<td class="column2 style7 s">GASTON</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1109">
<td class="column0 style2 s">ACE TAVERN</td>
<td class="column1 style5 s">114 W FRONT ST</td>
<td class="column2 style8 s">GASTON</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1110">
<td class="column0 style2 s">ACE TAVERN</td>
<td class="column1 style5 s">114 W FRONT ST</td>
<td class="column2 style8 s">GASTON</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1111">
<td class="column0 style3 s">LAKE STOP</td>
<td class="column1 style4 s">8015 SW OLD HWY 47</td>
<td class="column2 style7 s">GASTON</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1112">
<td class="column0 style2 s">LAKE STOP</td>
<td class="column1 style5 s">8015 SW OLD HWY 47</td>
<td class="column2 style8 s">GASTON</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1113">
<td class="column0 style2 s">LAKE STOP</td>
<td class="column1 style5 s">8015 SW OLD HWY 47</td>
<td class="column2 style8 s">GASTON</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1114">
<td class="column0 style3 s">SWEET SHOP GEARHART</td>
<td class="column1 style4 s">567 PACIFIC WAY</td>
<td class="column2 style7 s">GEARHART</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1115">
<td class="column0 style2 s">SWEET SHOP GEARHART</td>
<td class="column1 style5 s">567 PACIFIC WAY</td>
<td class="column2 style8 s">GEARHART</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">ROCK POINT CAB SAUV</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1116">
<td class="column0 style2 s">SWEET SHOP GEARHART</td>
<td class="column1 style5 s">567 PACIFIC WAY</td>
<td class="column2 style8 s">GEARHART</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1117">
<td class="column0 style2 s">SWEET SHOP GEARHART</td>
<td class="column1 style5 s">567 PACIFIC WAY</td>
<td class="column2 style8 s">GEARHART</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1118">
<td class="column0 style3 s">SAFEWAY #4387 GLADSTONE</td>
<td class="column1 style4 s">95 SE 82ND DR</td>
<td class="column2 style7 s">GLADSTONE</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1119">
<td class="column0 style2 s">SAFEWAY #4387 GLADSTONE</td>
<td class="column1 style5 s">95 SE 82ND DR</td>
<td class="column2 style8 s">GLADSTONE</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1120">
<td class="column0 style3 s">SIDE DOOR CAFE</td>
<td class="column1 style4 s">6675 GLENEDEN BEACH LOOP</td>
<td class="column2 style7 s">GLENEDEN BCH</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1121">
<td class="column0 style2 s">SIDE DOOR CAFE</td>
<td class="column1 style5 s">6675 GLENEDEN BEACH LOOP</td>
<td class="column2 style8 s">GLENEDEN BCH</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1122">
<td class="column0 style3 s">RAYS FOODS #8</td>
<td class="column1 style4 s">29560 ELLENSBURG</td>
<td class="column2 style7 s">GOLD BEACH</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1123">
<td class="column0 style2 s">RAYS FOODS #8</td>
<td class="column1 style5 s">29560 ELLENSBURG</td>
<td class="column2 style8 s">GOLD BEACH</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1124">
<td class="column0 style3 s">FOOTS CREEK DELI MART</td>
<td class="column1 style4 s">3175 ROGUE RIVER HWY.</td>
<td class="column2 style7 s">GOLD HILL</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1125">
<td class="column0 style2 s">FOOTS CREEK DELI MART</td>
<td class="column1 style5 s">3175 ROGUE RIVER HWY.</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1126">
<td class="column0 style2 s">FOOTS CREEK DELI MART</td>
<td class="column1 style5 s">3175 ROGUE RIVER HWY.</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1127">
<td class="column0 style2 s">FOOTS CREEK DELI MART</td>
<td class="column1 style5 s">3175 ROGUE RIVER HWY.</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1128">
<td class="column0 style2 s">FOOTS CREEK DELI MART</td>
<td class="column1 style5 s">3175 ROGUE RIVER HWY.</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1129">
<td class="column0 style2 s">FOOTS CREEK DELI MART</td>
<td class="column1 style5 s">3175 ROGUE RIVER HWY.</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1130">
<td class="column0 style2 s">FOOTS CREEK DELI MART</td>
<td class="column1 style5 s">3175 ROGUE RIVER HWY.</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1131">
<td class="column0 style3 s">RAY'S FOODS #43 GOLD HILL</td>
<td class="column1 style4 s">868 2ND AVE</td>
<td class="column2 style7 s">GOLD HILL</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1132">
<td class="column0 style2 s">RAY'S FOODS #43 GOLD HILL</td>
<td class="column1 style5 s">868 2ND AVE</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1133">
<td class="column0 style2 s">RAY'S FOODS #43 GOLD HILL</td>
<td class="column1 style5 s">868 2ND AVE</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1134">
<td class="column0 style2 s">RAY'S FOODS #43 GOLD HILL</td>
<td class="column1 style5 s">868 2ND AVE</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1135">
<td class="column0 style2 s">RAY'S FOODS #43 GOLD HILL</td>
<td class="column1 style5 s">868 2ND AVE</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1136">
<td class="column0 style2 s">RAY'S FOODS #43 GOLD HILL</td>
<td class="column1 style5 s">868 2ND AVE</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1137">
<td class="column0 style2 s">RAY'S FOODS #43 GOLD HILL</td>
<td class="column1 style5 s">868 2ND AVE</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1138">
<td class="column0 style2 s">RAY'S FOODS #43 GOLD HILL</td>
<td class="column1 style5 s">868 2ND AVE</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1139">
<td class="column0 style2 s">RAY'S FOODS #43 GOLD HILL</td>
<td class="column1 style5 s">868 2ND AVE</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1140">
<td class="column0 style2 s">RAY'S FOODS #43 GOLD HILL</td>
<td class="column1 style5 s">868 2ND AVE</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1141">
<td class="column0 style2 s">RAY'S FOODS #43 GOLD HILL</td>
<td class="column1 style5 s">868 2ND AVE</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1142">
<td class="column0 style2 s">RAY'S FOODS #43 GOLD HILL</td>
<td class="column1 style5 s">868 2ND AVE</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1143">
<td class="column0 style2 s">RAY'S FOODS #43 GOLD HILL</td>
<td class="column1 style5 s">868 2ND AVE</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT RIVER RED</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1144">
<td class="column0 style2 s">RAY'S FOODS #43 GOLD HILL</td>
<td class="column1 style5 s">868 2ND AVE</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1145">
<td class="column0 style3 s">GOLD HILL MARKET &amp; DELI</td>
<td class="column1 style4 s">392 2ND AVE</td>
<td class="column2 style7 s">GOLD HILL</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1146">
<td class="column0 style2 s">GOLD HILL MARKET &amp; DELI</td>
<td class="column1 style5 s">392 2ND AVE</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1147">
<td class="column0 style2 s">GOLD HILL MARKET &amp; DELI</td>
<td class="column1 style5 s">392 2ND AVE</td>
<td class="column2 style8 s">GOLD HILL</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1148">
<td class="column0 style3 s">GLACIER HAUS</td>
<td class="column1 style4 s">88817 E GOVT CAMP LOOP</td>
<td class="column2 style7 s">GOVERNMENT CAMP</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1149">
<td class="column0 style2 s">GLACIER HAUS</td>
<td class="column1 style5 s">88817 E GOVT CAMP LOOP</td>
<td class="column2 style8 s">GOVERNMENT CAMP</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1150">
<td class="column0 style3 s">A-1 MARKET 8TH ST GP</td>
<td class="column1 style4 s">225 SE 8TH STREET</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1151">
<td class="column0 style2 s">A-1 MARKET 8TH ST GP</td>
<td class="column1 style5 s">225 SE 8TH STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1152">
<td class="column0 style2 s">A-1 MARKET 8TH ST GP</td>
<td class="column1 style5 s">225 SE 8TH STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1153">
<td class="column0 style3 s">TAPROCK NORTHWEST GRILL</td>
<td class="column1 style4 s">971 SE 6TH STREET</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1154">
<td class="column0 style2 s">TAPROCK NORTHWEST GRILL</td>
<td class="column1 style5 s">971 SE 6TH STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1155">
<td class="column0 style2 s">TAPROCK NORTHWEST GRILL</td>
<td class="column1 style5 s">971 SE 6TH STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1156">
<td class="column0 style2 s">TAPROCK NORTHWEST GRILL</td>
<td class="column1 style5 s">971 SE 6TH STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1157">
<td class="column0 style2 s">TAPROCK NORTHWEST GRILL</td>
<td class="column1 style5 s">971 SE 6TH STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1158">
<td class="column0 style2 s">TAPROCK NORTHWEST GRILL</td>
<td class="column1 style5 s">971 SE 6TH STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1159">
<td class="column0 style2 s">TAPROCK NORTHWEST GRILL</td>
<td class="column1 style5 s">971 SE 6TH STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1160">
<td class="column0 style3 s">FIREBALL #122 NE 6TH STREET</td>
<td class="column1 style4 s">1044 NE 6TH STREET</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1161">
<td class="column0 style2 s">FIREBALL #122 NE 6TH GP</td>
<td class="column1 style5 s">1044 NE 6TH STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1162">
<td class="column0 style2 s">FIREBALL #122 NE 6TH GP</td>
<td class="column1 style5 s">1044 NE 6TH STREET</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1163">
<td class="column0 style3 s">AHI SUSHI &amp; SAKE BAR</td>
<td class="column1 style4 s">941 SE 7TH ST</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1164">
<td class="column0 style2 s">AHI SUSHI &amp; SAKE BAR*</td>
<td class="column1 style5 s">941 SE 7TH ST</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1165">
<td class="column0 style2 s">AHI SUSHI &amp; SAKE BAR*</td>
<td class="column1 style5 s">941 SE 7TH ST</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1166">
<td class="column0 style2 s">AHI SUSHI &amp; SAKE BAR*</td>
<td class="column1 style5 s">941 SE 7TH ST</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1167">
<td class="column0 style2 s">AHI SUSHI &amp; SAKE BAR*</td>
<td class="column1 style5 s">941 SE 7TH ST</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1168">
<td class="column0 style3 s">SPEAK EASY TAP ROOM</td>
<td class="column1 style4 s">208 NW 6TH ST #1 &amp; 2</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1169">
<td class="column0 style2 s">SPEAK EASY TAP ROOM</td>
<td class="column1 style5 s">208 NW 6TH ST #1 &amp; 2</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1170">
<td class="column0 style3 s">RITE AID #5387- WILLIAMS HWY</td>
<td class="column1 style4 s">1642 WILLIAMS HWY</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1171">
<td class="column0 style2 s">RITE AID #5387- WILMS GP</td>
<td class="column1 style5 s">1642 WILLIAMS HWY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1172">
<td class="column0 style3 s">KOI SUSHI ASIAN BISTRO</td>
<td class="column1 style4 s">111 NE HILLCREST DR</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1173">
<td class="column0 style2 s">KOI SUSHI ASIAN BISTRO</td>
<td class="column1 style5 s">111 NE HILLCREST DR</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1174">
<td class="column0 style2 s">KOI SUSHI ASIAN BISTRO</td>
<td class="column1 style5 s">111 NE HILLCREST DR</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1175">
<td class="column0 style2 s">KOI SUSHI ASIAN BISTRO</td>
<td class="column1 style5 s">111 NE HILLCREST DR</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1176">
<td class="column0 style2 s">KOI SUSHI ASIAN BISTRO</td>
<td class="column1 style5 s">111 NE HILLCREST DR</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1177">
<td class="column0 style2 s">KOI SUSHI ASIAN BISTRO</td>
<td class="column1 style5 s">111 NE HILLCREST DR</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT RIVER RED</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1178">
<td class="column0 style2 s">KOI SUSHI ASIAN BISTRO</td>
<td class="column1 style5 s">111 NE HILLCREST DR</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT CAB SAUV</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1179">
<td class="column0 style3 s">A-1 MARKET #11 ROGUE RIVER HWY</td>
<td class="column1 style4 s">8981 ROGUE RIVER HWY</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1180">
<td class="column0 style2 s">A-1 MARKET #11 RR HWY GP</td>
<td class="column1 style5 s">8981 ROGUE RIVER HWY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1181">
<td class="column0 style2 s">A-1 MARKET #11 RR HWY GP</td>
<td class="column1 style5 s">8981 ROGUE RIVER HWY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT RIVER RED</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1182">
<td class="column0 style2 s">A-1 MARKET #11 RR HWY GP</td>
<td class="column1 style5 s">8981 ROGUE RIVER HWY</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1183">
<td class="column0 style3 s">CARTWRIGHT'S MARKET</td>
<td class="column1 style4 s">825 SW UNION</td>
<td class="column2 style7 s">GRANTS PASS</td>
<td class="column3 style10 s">OR</td>
<td class="column4 style21 s">&nbsp;</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1184">
<td class="column0 style2 s">CARTWRIGHT'S MARKET</td>
<td class="column1 style5 s">825 SW UNION</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1185">
<td class="column0 style2 s">CARTWRIGHT'S MARKET</td>
<td class="column1 style5 s">825 SW UNION</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1186">
<td class="column0 style2 s">CARTWRIGHT'S MARKET</td>
<td class="column1 style5 s">825 SW UNION</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1187">
<td class="column0 style2 s">CARTWRIGHT'S MARKET</td>
<td class="column1 style5 s">825 SW UNION</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1188">
<td class="column0 style2 s">CARTWRIGHT'S MARKET</td>
<td class="column1 style5 s">825 SW UNION</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1189">
<td class="column0 style2 s">CARTWRIGHT'S MARKET</td>
<td class="column1 style5 s">825 SW UNION</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>
<tr class="row1190">
<td class="column0 style2 s">CARTWRIGHT'S MARKET</td>
<td class="column1 style5 s">825 SW UNION</td>
<td class="column2 style8 s">GRANTS PASS</td>
<td class="column3 style11 s">OR</td>
<td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
<td class="column5 style14 s"></td>
<td class="column6">&nbsp;</td>
</tr>