
                <tr class="row1904">
                    <td class="column0 style2 s">SPANISH HEAD</td>
                    <td class="column1 style5 s">4009 S HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1905">
                    <td class="column0 style2 s">SPANISH HEAD</td>
                    <td class="column1 style5 s">4009 S HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1906">
                    <td class="column0 style3 s">SAFEWAY #415 LINCOLN CITY</td>
                    <td class="column1 style4 s">4101 LOGAN RD</td>
                    <td class="column2 style7 s">LINCOLN CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1907">
                    <td class="column0 style2 s">SAFEWAY #415 LINCOLN CITY</td>
                    <td class="column1 style5 s">4101 LOGAN RD</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1908">
                    <td class="column0 style2 s">SAFEWAY #415 LINCOLN CITY</td>
                    <td class="column1 style5 s">4101 LOGAN RD</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1909">
                    <td class="column0 style2 s">SAFEWAY #415 LINCOLN CITY</td>
                    <td class="column1 style5 s">4101 LOGAN RD</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1910">
                    <td class="column0 style2 s">SAFEWAY #415 LINCOLN CITY</td>
                    <td class="column1 style5 s">4101 LOGAN RD</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1911">
                    <td class="column0 style3 s">KENNY'S IGA NORTH LINCOLN CITY</td>
                    <td class="column1 style4 s">2429 NW HWY 101</td>
                    <td class="column2 style7 s">LINCOLN CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1912">
                    <td class="column0 style2 s">KENNY'S IGA NORTH</td>
                    <td class="column1 style5 s">2429 NW HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1913">
                    <td class="column0 style2 s">KENNY'S IGA NORTH</td>
                    <td class="column1 style5 s">2429 NW HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1914">
                    <td class="column0 style2 s">KENNY'S IGA NORTH</td>
                    <td class="column1 style5 s">2429 NW HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1915">
                    <td class="column0 style2 s">KENNY'S IGA NORTH</td>
                    <td class="column1 style5 s">2429 NW HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1916">
                    <td class="column0 style2 s">KENNY'S IGA NORTH</td>
                    <td class="column1 style5 s">2429 NW HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1917">
                    <td class="column0 style2 s">KENNY'S IGA NORTH</td>
                    <td class="column1 style5 s">2429 NW HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1918">
                    <td class="column0 style2 s">KENNY'S IGA NORTH</td>
                    <td class="column1 style5 s">2429 NW HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1919">
                    <td class="column0 style2 s">KENNY'S IGA NORTH</td>
                    <td class="column1 style5 s">2429 NW HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1920">
                    <td class="column0 style2 s">KENNY'S IGA NORTH</td>
                    <td class="column1 style5 s">2429 NW HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1921">
                    <td class="column0 style3 s">RITE AID #5371- LINCOLN CITY</td>
                    <td class="column1 style4 s">4041 NW LOGAN RD</td>
                    <td class="column2 style7 s">LINCOLN CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1922">
                    <td class="column0 style2 s">RITE AID #5371- LINC CITY</td>
                    <td class="column1 style5 s">4041 NW LOGAN RD</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1923">
                    <td class="column0 style3 s">LIQUOR OUTLET - LINCOLN CITY</td>
                    <td class="column1 style4 s">2409 NW HWY 101</td>
                    <td class="column2 style7 s">LINCOLN CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1924">
                    <td class="column0 style2 s">LIQUOR OUTLET - LINC CITY</td>
                    <td class="column1 style5 s">2409 NW HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1925">
                    <td class="column0 style2 s">LIQUOR OUTLET - LINC CITY</td>
                    <td class="column1 style5 s">2409 NW HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                     <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1926">
                    <td class="column0 style2 s">LIQUOR OUTLET - LINC CITY</td>
                    <td class="column1 style5 s">2409 NW HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1927">
                    <td class="column0 style2 s">LIQUOR OUTLET - LINC CITY</td>
                    <td class="column1 style5 s">2409 NW HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1928">
                    <td class="column0 style2 s">LIQUOR OUTLET - LINC CITY</td>
                    <td class="column1 style5 s">2409 NW HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1929">
                    <td class="column0 style2 s">LIQUOR OUTLET - LINC CITY</td>
                    <td class="column1 style5 s">2409 NW HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1930">
                    <td class="column0 style2 s">LIQUOR OUTLET - LINC CITY</td>
                    <td class="column1 style5 s">2409 NW HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1931">
                    <td class="column0 style2 s">LIQUOR OUTLET - LINC CITY</td>
                    <td class="column1 style5 s">2409 NW HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1932">
                    <td class="column0 style3 s">KENNY'S IGA SOUTH LINCOLN CITY</td>
                    <td class="column1 style4 s">4845 S HWY 101</td>
                    <td class="column2 style7 s">LINCOLN CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1933">
                    <td class="column0 style2 s">KENNY'S IGA SOUTH</td>
                    <td class="column1 style5 s">4845 S HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1934">
                    <td class="column0 style2 s">KENNY'S IGA SOUTH</td>
                    <td class="column1 style5 s">4845 S HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1935">
                    <td class="column0 style2 s">KENNY'S IGA SOUTH</td>
                    <td class="column1 style5 s">4845 S HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1936">
                    <td class="column0 style2 s">KENNY'S IGA SOUTH</td>
                    <td class="column1 style5 s">4845 S HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1937">
                    <td class="column0 style2 s">KENNY'S IGA SOUTH</td>
                    <td class="column1 style5 s">4845 S HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1938">
                    <td class="column0 style2 s">KENNY'S IGA SOUTH</td>
                    <td class="column1 style5 s">4845 S HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1939">
                    <td class="column0 style2 s">KENNY'S IGA SOUTH</td>
                    <td class="column1 style5 s">4845 S HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1940">
                    <td class="column0 style2 s">KENNY'S IGA SOUTH</td>
                    <td class="column1 style5 s">4845 S HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1941">
                    <td class="column0 style2 s">KENNY'S IGA SOUTH</td>
                    <td class="column1 style5 s">4845 S HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1942">
                    <td class="column0 style2 s">KENNY'S IGA SOUTH</td>
                    <td class="column1 style5 s">4845 S HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1943">
                    <td class="column0 style2 s">KENNY'S IGA SOUTH</td>
                    <td class="column1 style5 s">4845 S HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1944">
                    <td class="column0 style3 s">ARS - SHELL #504 LINCOLN CTY</td>
                    <td class="column1 style4 s">1410 SE HWY 101</td>
                    <td class="column2 style7 s">LINCOLN CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1945">
                    <td class="column0 style2 s">ARS - SHELL #504 LINC CTY</td>
                    <td class="column1 style5 s">1410 SE HWY 101</td>
                    <td class="column2 style8 s">LINCOLN CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1946">
                    <td class="column0 style3 s">M CROW &amp; CO. GENERAL STORE</td>
                    <td class="column1 style4 s">133 HWY 82</td>
                    <td class="column2 style7 s">LOSTINE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1947">
                    <td class="column0 style2 s">M CROW LLC</td>
                    <td class="column1 style5 s">133 HWY 82</td>
                    <td class="column2 style8 s">LOSTINE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1948">
                    <td class="column0 style2 s">M CROW LLC</td>
                    <td class="column1 style5 s">133 HWY 82</td>
                    <td class="column2 style8 s">LOSTINE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1949">
                    <td class="column0 style2 s">M CROW LLC</td>
                    <td class="column1 style5 s">133 HWY 82</td>
                    <td class="column2 style8 s">LOSTINE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1950">
                    <td class="column0 style3 s">TIGER MART CIRCLE K</td>
                    <td class="column1 style4 s">1210 S HWY 97</td>
                    <td class="column2 style7 s">MADRAS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1951">
                    <td class="column0 style2 s">TIGER MART CIRCLE K</td>
                    <td class="column1 style5 s">1210 S HWY 97</td>
                    <td class="column2 style8 s">MADRAS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1952">
                    <td class="column0 style3 s">GREAT EARTH NATURAL FOOD</td>
                    <td class="column1 style4 s">46 SW D ST</td>
                    <td class="column2 style7 s">MADRAS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                     <tr class="row1953">
                    <td class="column0 style2 s">GREAT EARTH NATURAL FOOD*</td>
                    <td class="column1 style5 s">46 SW D ST</td>
                    <td class="column2 style8 s">MADRAS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1954">
                    <td class="column0 style2 s">GREAT EARTH NATURAL FOOD*</td>
                    <td class="column1 style5 s">46 SW D ST</td>
                    <td class="column2 style8 s">MADRAS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1955">
                    <td class="column0 style2 s">GREAT EARTH NATURAL FOOD*</td>
                    <td class="column1 style5 s">46 SW D ST</td>
                    <td class="column2 style8 s">MADRAS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD SYRAH PORT 375ML</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1956">
                    <td class="column0 style2 s">GREAT EARTH NATURAL FOOD*</td>
                    <td class="column1 style5 s">46 SW D ST</td>
                    <td class="column2 style8 s">MADRAS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1957">
                    <td class="column0 style3 s">BI-MART #654 MADRAS</td>
                    <td class="column1 style4 s">1575 S HWY 97</td>
                    <td class="column2 style7 s">MADRAS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1958">
                    <td class="column0 style2 s">BI-MART #654 MADRAS</td>
                    <td class="column1 style5 s">1575 S HWY 97</td>
                    <td class="column2 style8 s">MADRAS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1959">
                    <td class="column0 style3 s">SAFEWAY #1960 MADRAS</td>
                    <td class="column1 style4 s">80 NE CEDAR ST</td>
                    <td class="column2 style7 s">MADRAS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1960">
                    <td class="column0 style2 s">SAFEWAY #1960 MADRAS</td>
                    <td class="column1 style5 s">80 NE CEDAR ST</td>
                    <td class="column2 style8 s">MADRAS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1961">
                    <td class="column0 style3 s">SNACK JACK'S</td>
                    <td class="column1 style4 s">46760 NW SUNSET HIGHWAY</td>
                    <td class="column2 style7 s">MANNING</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1962">
                    <td class="column0 style2 s">SNACK JACK'S</td>
                    <td class="column1 style5 s">46760 NW SUNSET HIGHWAY</td>
                    <td class="column2 style8 s">MANNING</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1963">
                    <td class="column0 style2 s">SNACK JACK'S</td>
                    <td class="column1 style5 s">46760 NW SUNSET HIGHWAY</td>
                    <td class="column2 style8 s">MANNING</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1964">
                    <td class="column0 style3 s">MANZANITA FRESH FOODS</td>
                    <td class="column1 style4 s">733 MANZANITA AVENUE</td>
                    <td class="column2 style7 s">MANZANITA</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1965">
                    <td class="column0 style2 s">MANZANITA FRESH FOODS</td>
                    <td class="column1 style5 s">733 MANZANITA AVENUE</td>
                    <td class="column2 style8 s">MANZANITA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1966">
                    <td class="column0 style2 s">MANZANITA FRESH FOODS</td>
                    <td class="column1 style5 s">733 MANZANITA AVENUE</td>
                    <td class="column2 style8 s">MANZANITA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1967">
                    <td class="column0 style2 s">MANZANITA FRESH FOODS</td>
                    <td class="column1 style5 s">733 MANZANITA AVENUE</td>
                    <td class="column2 style8 s">MANZANITA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1968">
                    <td class="column0 style3 s">MANZANITA GROCERY &amp; DELI</td>
                    <td class="column1 style4 s">193 LANEDA AVENUE</td>
                    <td class="column2 style7 s">MANZANITA</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1969">
                    <td class="column0 style2 s">MANZANITA GROCERY &amp; DELI</td>
                    <td class="column1 style5 s">193 LANEDA AVENUE</td>
                    <td class="column2 style8 s">MANZANITA</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1970">
                    <td class="column0 style3 s">MCKENZIE GENERAL STORE</td>
                    <td class="column1 style4 s">91837 TAYLOR RD</td>
                    <td class="column2 style7 s">MCKENZIE BRIDGE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1971">
                    <td class="column0 style2 s">MCKENZIE GENERAL STORE</td>
                    <td class="column1 style5 s">91837 TAYLOR RD</td>
                    <td class="column2 style8 s">MCKENZIE BRIDGE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1972">
                    <td class="column0 style2 s">MCKENZIE GENERAL STORE</td>
                    <td class="column1 style5 s">91837 TAYLOR RD</td>
                    <td class="column2 style8 s">MCKENZIE BRIDGE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1973">
                    <td class="column0 style2 s">MCKENZIE GENERAL STORE</td>
                    <td class="column1 style5 s">91837 TAYLOR RD</td>
                    <td class="column2 style8 s">MCKENZIE BRIDGE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1974">
                    <td class="column0 style2 s">MCKENZIE GENERAL STORE</td>
                    <td class="column1 style5 s">91837 TAYLOR RD</td>
                    <td class="column2 style8 s">MCKENZIE BRIDGE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1975">
                    <td class="column0 style2 s">MCKENZIE GENERAL STORE</td>
                    <td class="column1 style5 s">91837 TAYLOR RD</td>
                    <td class="column2 style8 s">MCKENZIE BRIDGE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1976">
                    <td class="column0 style2 s">MCKENZIE GENERAL STORE</td>
                    <td class="column1 style5 s">91837 TAYLOR RD</td>
                    <td class="column2 style8 s">MCKENZIE BRIDGE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1977">
                    <td class="column0 style3 s">ROTHS #4 - MCMINVILLE</td>
                    <td class="column1 style4 s">1595 S BAKER ST</td>
                    <td class="column2 style7 s">MCMINNVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1978">
                    <td class="column0 style2 s">ROTHS #4 - MCMINVILLE</td>
                    <td class="column1 style5 s">1595 S BAKER ST</td>
                    <td class="column2 style8 s">MCMINNVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1979">
                    <td class="column0 style2 s">ROTHS #4 - MCMINVILLE</td>
                    <td class="column1 style5 s">1595 S BAKER ST</td>
                    <td class="column2 style8 s">MCMINNVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1980">
                    <td class="column0 style3 s">BI-MART #615 MCMINNVILLE</td>
                    <td class="column1 style4 s">1635 S BAKER</td>
                    <td class="column2 style7 s">MCMINNVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1981">
                    <td class="column0 style2 s">BI-MART #615 MCMINNVILLE</td>
                    <td class="column1 style5 s">1635 S BAKER</td>
                    <td class="column2 style8 s">MCMINNVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1982">
                    <td class="column0 style2 s">BI-MART #615 MCMINNVILLE</td>
                    <td class="column1 style5 s">1635 S BAKER</td>
                    <td class="column2 style8 s">MCMINNVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1983">
                    <td class="column0 style3 s">WINCO FOODS #41 HWY 99</td>
                    <td class="column1 style4 s">2585 NE HWY 99W</td>
                    <td class="column2 style7 s">MCMINNVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1984">
                    <td class="column0 style2 s">WINCO FOODS #41 HWY 99</td>
                    <td class="column1 style5 s">2585 NE HWY 99W</td>
                    <td class="column2 style8 s">MCMINNVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1985">
                    <td class="column0 style2 s">WINCO FOODS #41 HWY 99</td>
                    <td class="column1 style5 s">2585 NE HWY 99W</td>
                    <td class="column2 style8 s">MCMINNVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1986">
                    <td class="column0 style3 s">SAFEWAY #1601 MCMINNVILLE</td>
                    <td class="column1 style4 s">2490 N HWY 99 W</td>
                    <td class="column2 style7 s">MCMINNVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1987">
                    <td class="column0 style2 s">SAFEWAY #1601 MCMINNVILLE</td>
                    <td class="column1 style5 s">2490 N HWY 99 W</td>
                    <td class="column2 style8 s">MCMINNVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1988">
                    <td class="column0 style2 s">SAFEWAY #1601 MCMINNVILLE</td>
                    <td class="column1 style5 s">2490 N HWY 99 W</td>
                    <td class="column2 style8 s">MCMINNVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1989">
                    <td class="column0 style2 s">SAFEWAY #1601 MCMINNVILLE</td>
                    <td class="column1 style5 s">2490 N HWY 99 W</td>
                    <td class="column2 style8 s">MCMINNVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1990">
                    <td class="column0 style3 s">ALBERTSONS #2528 MCMINNVILLE</td>
                    <td class="column1 style4 s">615 SW KECK DR</td>
                    <td class="column2 style7 s">MCMINNVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1991">
                    <td class="column0 style2 s">ALBERTSONS #2528 MCMINVLE</td>
                    <td class="column1 style5 s">615 SW KECK DR</td>
                    <td class="column2 style8 s">MCMINNVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1992">
                    <td class="column0 style2 s">ALBERTSONS #2528 MCMINVLE</td>
                    <td class="column1 style5 s">615 SW KECK DR</td>
                    <td class="column2 style8 s">MCMINNVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1993">
                    <td class="column0 style2 s">ALBERTSONS #2528 MCMINVLE</td>
                    <td class="column1 style5 s">615 SW KECK DR</td>
                    <td class="column2 style8 s">MCMINNVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1994">
                    <td class="column0 style2 s">ALBERTSONS #2528 MCMINVLE</td>
                    <td class="column1 style5 s">615 SW KECK DR</td>
                    <td class="column2 style8 s">MCMINNVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1995">
                    <td class="column0 style3 s">COUNTRY STORE MEDFORD</td>
                    <td class="column1 style4 s">1670 KINGS HWY</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1996">
                    <td class="column0 style2 s">COUNTRY STORE MF</td>
                    <td class="column1 style5 s">1670 KINGS HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1997">
                    <td class="column0 style2 s">COUNTRY STORE MF</td>
                    <td class="column1 style5 s">1670 KINGS HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1998">
                    <td class="column0 style2 s">COUNTRY STORE MF</td>
                    <td class="column1 style5 s">1670 KINGS HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1999">
                    <td class="column0 style2 s">COUNTRY STORE MF</td>
                    <td class="column1 style5 s">1670 KINGS HWY</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2000">
                    <td class="column0 style3 s">THE ROGUE GRAPE</td>
                    <td class="column1 style4 s">36 SOUTH CENTRAL AVENUE</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2001">
                    <td class="column0 style2 s">THE ROGUE GRAPE</td>
                    <td class="column1 style5 s">36 SOUTH CENTRAL AVENUE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2002">
                    <td class="column0 style2 s">THE ROGUE GRAPE</td>
                    <td class="column1 style5 s">36 SOUTH CENTRAL AVENUE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2003">
                    <td class="column0 style2 s">THE ROGUE GRAPE</td>
                    <td class="column1 style5 s">36 SOUTH CENTRAL AVENUE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2004">
                    <td class="column0 style2 s">THE ROGUE GRAPE</td>
                    <td class="column1 style5 s">36 SOUTH CENTRAL AVENUE</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD SYRAH PORT 375ML</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2005">
                    <td class="column0 style3 s">8TH &amp; GRAPE ST MARKET</td>
                    <td class="column1 style4 s">103 S. GRAPE ST</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2006">
                    <td class="column0 style2 s">8TH &amp; GRAPE ST MARKET</td>
                    <td class="column1 style5 s">103 S. GRAPE ST</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2007">
                    <td class="column0 style2 s">8TH &amp; GRAPE ST MARKET</td>
                    <td class="column1 style5 s">103 S. GRAPE ST</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2008">
                    <td class="column0 style3 s">SPECIAL EVENTS MISC.</td>
                    <td class="column1 style4 s">501 AIRPORT ROAD</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2009">
                    <td class="column0 style2 s">SPECIAL EVENTS MISC.</td>
                    <td class="column1 style5 s">501 AIRPORT ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2010">
                    <td class="column0 style2 s">SPECIAL EVENTS MISC.</td>
                    <td class="column1 style5 s">501 AIRPORT ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2011">
                    <td class="column0 style2 s">SPECIAL EVENTS MISC.</td>
                    <td class="column1 style5 s">501 AIRPORT ROAD</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2012">
                    <td class="column0 style3 s">SMART CHOICE MARKET</td>
                    <td class="column1 style4 s">223 WEST JACKSON</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2013">
                    <td class="column0 style2 s">SMART CHOICE MARKET</td>
                    <td class="column1 style5 s">223 WEST JACKSON</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2014">
                    <td class="column0 style3 s">MINUTE MARKET #4 E MAIN MEDFORD</td>
                    <td class="column1 style4 s">610 EAST MAIN</td>
                    <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2015">
                    <td class="column0 style2 s">MINUTE MARKET #4 E MN MF</td>
                    <td class="column1 style5 s">610 EAST MAIN</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2016">
                    <td class="column0 style2 s">MINUTE MARKET #4 E MN MF</td>
                    <td class="column1 style5 s">610 EAST MAIN</td>
                    <td class="column2 style8 s">MEDFORD</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row2017">
                    <td class="column0 style3 s">CROWN MARKET #200 MAIN MEDFORD</td>
                    <td class="column1 style4 s">604 W MAIN ST</td>
                     <td class="column2 style7 s">MEDFORD</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>