    
                    <tr class="row1564">
                        <td class="column0 style2 s">CHEVRON-TANASBOURNE WEST</td>
                        <td class="column1 style5 s">21755 NW IMBRIE</td>
                        <td class="column2 style8 s">HILLSBORO</td>
                        <td class="column3 style11 s">OR</td>
                        <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                        <td class="column5 style14 s"></td>
                        <td class="column6">&nbsp;</td>
                        </tr>
                        <tr class="row1565">
                        <td class="column0 style3 s">BI-MART #618 TV HWY</td>
                        <td class="column1 style4 s">2075 SE TV HWY</td>
                        <td class="column2 style7 s">HILLSBORO</td>
                        <td class="column3 style10 s">OR</td>
                        <td class="column4 style21 s">&nbsp;</td>
                        <td class="column5 style14 s"></td>
                        <td class="column6">&nbsp;</td>
                        </tr>
                        <tr class="row1566">
                        <td class="column0 style2 s">BI-MART #618 TV HWY</td>
                        <td class="column1 style5 s">2075 SE TV HWY</td>
                        <td class="column2 style8 s">HILLSBORO</td>
                        <td class="column3 style11 s">OR</td>
                        <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                        <td class="column5 style14 s"></td>
                        <td class="column6">&nbsp;</td>
                        </tr>
                        <tr class="row1567">
                        <td class="column0 style3 s">FRED MEYER #661-SUNSET</td>
                        <td class="column1 style4 s">22075 NW IMBRIE</td>
                        <td class="column2 style7 s">HILLSBORO</td>
                        <td class="column3 style10 s">OR</td>
                        <td class="column4 style21 s">&nbsp;</td>
                        <td class="column5 style14 s"></td>
                        <td class="column6">&nbsp;</td>
                        </tr>
                <tr class="row1568">
                <td class="column0 style2 s">FRED MEYER #661-SUNSET</td>
                <td class="column1 style5 s">22075 NW IMBRIE</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1569">
                <td class="column0 style2 s">FRED MEYER #661-SUNSET</td>
                <td class="column1 style5 s">22075 NW IMBRIE</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1570">
                <td class="column0 style2 s">FRED MEYER #661-SUNSET</td>
                <td class="column1 style5 s">22075 NW IMBRIE</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1571">
                <td class="column0 style2 s">FRED MEYER #661-SUNSET</td>
                <td class="column1 style5 s">22075 NW IMBRIE</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1572">
                <td class="column0 style3 s">WILSON CAFE &amp; SPORTS BAR</td>
                <td class="column1 style4 s">134 NE 2ND</td>
                <td class="column2 style7 s">HILLSBORO</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1573">
                <td class="column0 style2 s">WILSON CAFE &amp; SPORTS BAR</td>
                <td class="column1 style5 s">134 NE 2ND</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1574">
                <td class="column0 style3 s">EMBASSY SUITES HILLSBOR0</td>
                <td class="column1 style4 s">20001 NW TANASBOURNE</td>
                <td class="column2 style7 s">HILLSBORO</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1575">
                <td class="column0 style2 s">EMBASSY SUITES -HILLSBOR0</td>
                <td class="column1 style5 s">20001 NW TANASBOURNE</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1576">
                <td class="column0 style2 s">EMBASSY SUITES -HILLSBOR0</td>
                <td class="column1 style5 s">20001 NW TANASBOURNE</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1577">
                <td class="column0 style2 s">EMBASSY SUITES -HILLSBOR0</td>
                <td class="column1 style5 s">20001 NW TANASBOURNE</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1578">
                <td class="column0 style2 s">EMBASSY SUITES -HILLSBOR0</td>
                <td class="column1 style5 s">20001 NW TANASBOURNE</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1579">
                <td class="column0 style2 s">EMBASSY SUITES -HILLSBOR0</td>
                <td class="column1 style5 s">20001 NW TANASBOURNE</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1580">
                <td class="column0 style3 s">ALBERTSONS #0591 HILLSBORO</td>
                <td class="column1 style4 s">888 NE 25TH AVE</td>
                <td class="column2 style7 s">HILLSBORO</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1581">
                <td class="column0 style2 s">ALBERTSONS #0591 HLLSBORO</td>
                <td class="column1 style5 s">888 NE 25TH AVE</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1582">
                <td class="column0 style2 s">ALBERTSONS #0591 HLLSBORO</td>
                <td class="column1 style5 s">888 NE 25TH AVE</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1583">
                <td class="column0 style2 s">ALBERTSONS #0591 HLLSBORO</td>
                <td class="column1 style5 s">888 NE 25TH AVE</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1584">
                <td class="column0 style2 s">ALBERTSONS #0591 HLLSBORO</td>
                <td class="column1 style5 s">888 NE 25TH AVE</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1585">
                <td class="column0 style3 s">S AND S MARKET</td>
                <td class="column1 style4 s">2831 E MAIN</td>
                <td class="column2 style7 s">HILLSBORO</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1586">
                <td class="column0 style2 s">S AND S MARKET</td>
                <td class="column1 style5 s">2831 E MAIN</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1587">
                <td class="column0 style3 s">CORNELL LIQUOR STORE</td>
                <td class="column1 style4 s">895 NE 25TH AVE #7C</td>
                <td class="column2 style7 s">HILLSBORO</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1588">
                <td class="column0 style2 s">CORNELL LIQUOR STORE</td>
                <td class="column1 style5 s">895 NE 25TH AVE #7C</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1589">
                <td class="column0 style3 s">RITE AID #5338- SE TV HW</td>
                <td class="column1 style4 s">2425 S E TV HWY</td>
                <td class="column2 style7 s">HILLSBORO</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1590">
                <td class="column0 style2 s">RITE AID #5338- SE TV HW</td>
                <td class="column1 style5 s">2425 S E TV HWY</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1591">
                <td class="column0 style3 s">ALBERTSONS #0590 BASELINE</td>
                <td class="column1 style4 s">7500 W BASELINE</td>
                <td class="column2 style7 s">HILLSBORO</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1592">
                <td class="column0 style2 s">ALBERTSONS #0590 BASELINE</td>
                <td class="column1 style5 s">7500 W BASELINE</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1593">
                <td class="column0 style2 s">ALBERTSONS #0590 BASELINE</td>
                <td class="column1 style5 s">7500 W BASELINE</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                 <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1594">
                <td class="column0 style3 s">WHOLE FOODS 10327-CORNELL</td>
                <td class="column1 style4 s">19440 NW CORNELL ROAD</td>
                <td class="column2 style7 s">HILLSBORO</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1595">
                <td class="column0 style2 s">WHOLE FOODS 10327-CORNELL</td>
                <td class="column1 style5 s">19440 NW CORNELL ROAD</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1596">
                <td class="column0 style2 s">WHOLE FOODS 10327-CORNELL</td>
                <td class="column1 style5 s">19440 NW CORNELL ROAD</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1597">
                <td class="column0 style2 s">WHOLE FOODS 10327-CORNELL</td>
                <td class="column1 style5 s">19440 NW CORNELL ROAD</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1598">
                <td class="column0 style3 s">WINCO FOODS #28 SW OAK</td>
                <td class="column1 style4 s">1500 SW OAK</td>
                <td class="column2 style7 s">HILLSBORO</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1599">
                <td class="column0 style2 s">WINCO FOODS #28 SW OAK</td>
                <td class="column1 style5 s">1500 SW OAK</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1600">
                <td class="column0 style2 s">WINCO FOODS #28 SW OAK</td>
                <td class="column1 style5 s">1500 SW OAK</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1601">
                <td class="column0 style3 s">SAFEWAY #1230 NW 185TH</td>
                <td class="column1 style4 s">2177 NW 185TH AVE</td>
                <td class="column2 style7 s">HILLSBORO</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1602">
                <td class="column0 style2 s">SAFEWAY #1230 NW 185TH</td>
                <td class="column1 style5 s">2177 NW 185TH AVE</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                 <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1603">
                <td class="column0 style2 s">SAFEWAY #1230 NW 185TH</td>
                <td class="column1 style5 s">2177 NW 185TH AVE</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1604">
                <td class="column0 style3 s">WINCO FOODS #40 NE BUTLER</td>
                <td class="column1 style4 s">7330 NE BUTLER RD</td>
                <td class="column2 style7 s">HILLSBORO</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1605">
                <td class="column0 style2 s">WINCO FOODS #40 NE BUTLER</td>
                <td class="column1 style5 s">7330 NE BUTLER RD</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1606">
                <td class="column0 style2 s">WINCO FOODS #40 NE BUTLER</td>
                <td class="column1 style5 s">7330 NE BUTLER RD</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1607">
                <td class="column0 style2 s">WINCO FOODS #40 NE BUTLER</td>
                <td class="column1 style5 s">7330 NE BUTLER RD</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1608">
                <td class="column0 style2 s">WINCO FOODS #40 NE BUTLER</td>
                <td class="column1 style5 s">7330 NE BUTLER RD</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1609">
                <td class="column0 style2 s">WINCO FOODS #40 NE BUTLER</td>
                <td class="column1 style5 s">7330 NE BUTLER RD</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1610">
                <td class="column0 style2 s">WINCO FOODS #40 NE BUTLER</td>
                <td class="column1 style5 s">7330 NE BUTLER RD</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1611">
                <td class="column0 style3 s">CHAMPION'S SPORTS BAR/GRILL</td>
                <td class="column1 style4 s">2947 SE 73RD AVE</td>
                <td class="column2 style7 s">HILLSBORO</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                 <tr class="row1612">
                <td class="column0 style2 s">CHAMPION'S SPORTS BAR/GRI</td>
                <td class="column1 style5 s">2947 SE 73RD AVE</td>
                <td class="column2 style8 s">HILLSBORO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1613">
                <td class="column0 style3 s">RITE AID #5392- BURNS</td>
                <td class="column1 style4 s">629 HWY 20</td>
                <td class="column2 style7 s">HINES</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1614">
                <td class="column0 style2 s">RITE AID #5392- BURNS</td>
                <td class="column1 style5 s">629 HWY 20</td>
                <td class="column2 style8 s">HINES</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1615">
                <td class="column0 style3 s">ROSAUERS 116-HOOD RIVER</td>
                <td class="column1 style4 s">1867 12TH</td>
                <td class="column2 style7 s">HOOD RIVER</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1616">
                <td class="column0 style2 s">ROSAUERS 116-HOOD RVR#</td>
                <td class="column1 style5 s">1867 12TH</td>
                <td class="column2 style8 s">HOOD RIVER</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1617">
                <td class="column0 style2 s">ROSAUERS 116-HOOD RVR#</td>
                <td class="column1 style5 s">1867 12TH</td>
                <td class="column2 style8 s">HOOD RIVER</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1618">
                <td class="column0 style3 s">RITE AID #5328- HOOD RIVER</td>
                <td class="column1 style4 s">2049 WEST CASCADE AVE</td>
                <td class="column2 style7 s">HOOD RIVER</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1619">
                <td class="column0 style2 s">RITE AID #5328- HOOD RVR</td>
                <td class="column1 style5 s">2049 WEST CASCADE AVE</td>
                <td class="column2 style8 s">HOOD RIVER</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1620">
                <td class="column0 style3 s">SAFEWAY #1123 HOOD RIVER</td>
                <td class="column1 style4 s">2249 CASCADE AVENUE</td>
                <td class="column2 style7 s">HOOD RIVER</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1621">
                <td class="column0 style2 s">SAFEWAY #1123 HOOD RVR</td>
                <td class="column1 style5 s">2249 CASCADE AVENUE</td>
                <td class="column2 style8 s">HOOD RIVER</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1622">
                <td class="column0 style2 s">SAFEWAY #1123 HOOD RVR</td>
                <td class="column1 style5 s">2249 CASCADE AVENUE</td>
                <td class="column2 style8 s">HOOD RIVER</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1623">
                <td class="column0 style2 s">SAFEWAY #1123 HOOD RVR</td>
                <td class="column1 style5 s">2249 CASCADE AVENUE</td>
                <td class="column2 style8 s">HOOD RIVER</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1624">
                <td class="column0 style3 s">MESQUITERY</td>
                <td class="column1 style4 s">1219 12TH STREET</td>
                <td class="column2 style7 s">HOOD RIVER</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1625">
                <td class="column0 style2 s">MESQUITERY #</td>
                <td class="column1 style5 s">1219 12TH STREET</td>
                <td class="column2 style8 s">HOOD RIVER</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1626">
                <td class="column0 style3 s">HUGO HITCHING POST</td>
                <td class="column1 style4 s">6411 HUGO ROAD</td>
                <td class="column2 style7 s">HUGO</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1627">
                <td class="column0 style2 s">HUGO HITCHING POST</td>
                <td class="column1 style5 s">6411 HUGO ROAD</td>
                <td class="column2 style8 s">HUGO</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1628">
                <td class="column0 style3 s">ROTHS #10 INDEPENDENCE</td>
                <td class="column1 style4 s">1401 MONMOUTH ST</td>
                <td class="column2 style7 s">INDEPENDENCE</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1629">
                <td class="column0 style2 s">ROTHS #10 INDEPENDENCE</td>
                <td class="column1 style5 s">1401 MONMOUTH ST</td>
                <td class="column2 style8 s">INDEPENDENCE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1630">
                <td class="column0 style2 s">ROTHS #10 INDEPENDENCE</td>
                <td class="column1 style5 s">1401 MONMOUTH ST</td>
                <td class="column2 style8 s">INDEPENDENCE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1631">
                <td class="column0 style3 s">CIRCLE S</td>
                <td class="column1 style4 s">1082 MONMOUTH ST</td>
                <td class="column2 style7 s">INDEPENDENCE</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1632">
                <td class="column0 style2 s">CIRCLE S</td>
                <td class="column1 style5 s">1082 MONMOUTH ST</td>
                <td class="column2 style8 s">INDEPENDENCE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1633">
                <td class="column0 style3 s">FRAU KEMMLING SCHOOLHAUS</td>
                <td class="column1 style4 s">525 BIGHAM KNOLL</td>
                <td class="column2 style7 s">JACKSONVILLE</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1634">
                <td class="column0 style2 s">FRAU KEMMLING SCHOOLHAUS</td>
                <td class="column1 style5 s">525 BIGHAM KNOLL</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1635">
                <td class="column0 style2 s">FRAU KEMMLING SCHOOLHAUS</td>
                <td class="column1 style5 s">525 BIGHAM KNOLL</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1636">
                <td class="column0 style3 s">CARRIAGE HOUSE JACKSONVIL</td>
                <td class="column1 style4 s">635 N OREGON STREET</td>
                <td class="column2 style7 s">JACKSONVILLE</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1637">
                <td class="column0 style2 s">CARRIAGE HOUSE JACKSONVIL</td>
                <td class="column1 style5 s">635 N OREGON STREET</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1638">
                <td class="column0 style2 s">CARRIAGE HOUSE JACKSONVIL</td>
                <td class="column1 style5 s">635 N OREGON STREET</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1639">
                <td class="column0 style3 s">RUCH COUNTRY STORE</td>
                <td class="column1 style4 s">7350 HWY 238</td>
                <td class="column2 style7 s">JACKSONVILLE</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1640">
                <td class="column0 style2 s">RUCH COUNTRY STORE</td>
                <td class="column1 style5 s">7350 HWY 238</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1641">
                <td class="column0 style3 s">BACK PORCH BBQ</td>
                <td class="column1 style4 s">605 N 5TH</td>
                <td class="column2 style7 s">JACKSONVILLE</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1642">
                <td class="column0 style2 s">BACK PORCH BBQ</td>
                <td class="column1 style5 s">605 N 5TH</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1643">
                <td class="column0 style2 s">BACK PORCH BBQ</td>
                <td class="column1 style5 s">605 N 5TH</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1644">
                <td class="column0 style3 s">RAY'S FOODS #63 JACKSONVILLE</td>
                <td class="column1 style4 s">401 N 5TH ST</td>
                <td class="column2 style7 s">JACKSONVILLE</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1645">
                <td class="column0 style2 s">RAY'S FOODS #63 JACKSONVILLE</td>
                <td class="column1 style5 s">401 N 5TH ST</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1646">
                <td class="column0 style2 s">RAY'S FOODS #63 JACKSONVILLE</td>
                <td class="column1 style5 s">401 N 5TH ST</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1647">
                <td class="column0 style2 s">RAY'S FOODS #63 JACKSONVILLE</td>
                <td class="column1 style5 s">401 N 5TH ST</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1648">
                <td class="column0 style2 s">RAY'S FOODS #63 JACKSONVILLE</td>
                <td class="column1 style5 s">401 N 5TH ST</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1649">
                <td class="column0 style2 s">RAY'S FOODS #63 JACKSONVILLE</td>
                <td class="column1 style5 s">401 N 5TH ST</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1650">
                <td class="column0 style2 s">RAY'S FOODS #63 JACKSONVILLE</td>
                <td class="column1 style5 s">401 N 5TH ST</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1651">
                <td class="column0 style2 s">RAY'S FOODS #63 JACKSONVILLE</td>
                <td class="column1 style5 s">401 N 5TH ST</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1652">
                <td class="column0 style2 s">RAY'S FOODS #63 JACKSONVILLE</td>
                <td class="column1 style5 s">401 N 5TH ST</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1653">
                <td class="column0 style2 s">RAY'S FOODS #63 JACKSONVILLE</td>
                <td class="column1 style5 s">401 N 5TH ST</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1654">
                <td class="column0 style2 s">RAY'S FOODS #63 JACKSONVILLE</td>
                <td class="column1 style5 s">401 N 5TH ST</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1655">
                <td class="column0 style2 s">RAY'S FOODS #63 JACKSONVILLE</td>
                <td class="column1 style5 s">401 N 5TH ST</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1656">
                <td class="column0 style2 s">RAY'S FOODS #63 JACKSONVILLE</td>
                <td class="column1 style5 s">401 N 5TH ST</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1657">
                <td class="column0 style2 s">RAY'S FOODS #63 JACKSONVILLE</td>
                <td class="column1 style5 s">401 N 5TH ST</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                 <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1658">
                <td class="column0 style3 s">BELLA UNION</td>
                <td class="column1 style4 s">170 W. CAL ST</td>
                <td class="column2 style7 s">JACKSONVILLE</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1659">
                <td class="column0 style2 s">BELLA UNION</td>
                <td class="column1 style5 s">170 W. CAL ST</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1660">
                <td class="column0 style2 s">BELLA UNION</td>
                <td class="column1 style5 s">170 W. CAL ST</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1661">
                <td class="column0 style3 s">LA FIESTA JACKSONVILLE</td>
                <td class="column1 style4 s">150 S OREGON ST</td>
                <td class="column2 style7 s">JACKSONVILLE</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1662">
                <td class="column0 style2 s">LA FIESTA JACKSONVILLE</td>
                <td class="column1 style5 s">150 S OREGON ST</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1663">
                <td class="column0 style3 s">CHEVRON CIRCLE K# 165 JACKSONVILLE</td>
                <td class="column1 style4 s">945 NORTH 5TH STREET</td>
                <td class="column2 style7 s">JACKSONVILLE</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1664">
                <td class="column0 style2 s">CHEV CIRCLE K# 165 JVILLE</td>
                <td class="column1 style5 s">945 NORTH 5TH STREET</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1665">
                <td class="column0 style2 s">CHEV CIRCLE K# 165 JVILLE</td>
                <td class="column1 style5 s">945 NORTH 5TH STREET</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1666">
                <td class="column0 style2 s">CHEV CIRCLE K# 165 JVILLE</td>
                <td class="column1 style5 s">945 NORTH 5TH STREET</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1667">
                <td class="column0 style2 s">CHEV CIRCLE K# 165 JVILLE</td>
                <td class="column1 style5 s">945 NORTH 5TH STREET</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1668">
                <td class="column0 style3 s">JACKSONVILLE INN</td>
                <td class="column1 style4 s">175 E CALIFORNIA ST</td>
                <td class="column2 style7 s">JACKSONVILLE</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1669">
                <td class="column0 style2 s">JACKSONVILLE INN</td>
                <td class="column1 style5 s">175 E CALIFORNIA ST</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1670">
                <td class="column0 style2 s">JACKSONVILLE INN</td>
                <td class="column1 style5 s">175 E CALIFORNIA ST</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1671">
                <td class="column0 style2 s">JACKSONVILLE INN</td>
                <td class="column1 style5 s">175 E CALIFORNIA ST</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row1672">
                <td class="column0 style2 s">JACKSONVILLE INN</td>
                <td class="column1 style5 s">175 E CALIFORNIA ST</td>
                <td class="column2 style8 s">JACKSONVILLE</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>