
                <tr class="row3156">
                    <td class="column0 style2 s">GROWLERS USA</td>
                    <td class="column1 style5 s">615 SW HARRISON ST #B</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3157">
                    <td class="column0 style3 s">SASQUATCH BREWING</td>
                    <td class="column1 style4 s">6440 SW CAPITAL HWY</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3158">
                    <td class="column0 style2 s">SASQUATCH BREWING</td>
                    <td class="column1 style5 s">6440 SW CAPITAL HWY</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3159">
                    <td class="column0 style2 s">SASQUATCH BREWING</td>
                    <td class="column1 style5 s">6440 SW CAPITAL HWY</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3160">
                    <td class="column0 style2 s">SASQUATCH BREWING</td>
                    <td class="column1 style5 s">6440 SW CAPITAL HWY</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3161">
                    <td class="column0 style2 s">SASQUATCH BREWING</td>
                    <td class="column1 style5 s">6440 SW CAPITAL HWY</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3162">
                    <td class="column0 style2 s">SASQUATCH BREWING</td>
                    <td class="column1 style5 s">6440 SW CAPITAL HWY</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3163">
                    <td class="column0 style2 s">SASQUATCH BREWING</td>
                    <td class="column1 style5 s">6440 SW CAPITAL HWY</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3164">
                    <td class="column0 style3 s">NEW SEASONS SELLWOOD</td>
                    <td class="column1 style4 s">1214 SE TACOMA</td>
                    <td class="column2 style7 s">PORTLAND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3165">
                    <td class="column0 style2 s">NEW SEASONS #1102 TACOMA</td>
                    <td class="column1 style5 s">1214 SE TACOMA</td>
                    <td class="column2 style8 s">PORTLAND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3166">
                    <td class="column0 style3 s">76 - PRINEVILLE</td>
                    <td class="column1 style4 s">550 NW 3RD ST</td>
                    <td class="column2 style7 s">PRINEVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3167">
                    <td class="column0 style2 s">76 - PRINEVILLE</td>
                    <td class="column1 style5 s">550 NW 3RD ST</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3168">
                    <td class="column0 style3 s">BI-MART #660 PRINEVILLE</td>
                    <td class="column1 style4 s">2091 NE 3RD</td>
                    <td class="column2 style7 s">PRINEVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3169">
                    <td class="column0 style2 s">BI-MART #660 PRINEVILLE</td>
                    <td class="column1 style5 s">2091 NE 3RD</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3170">
                    <td class="column0 style3 s">CROSS STREET STATION 76</td>
                    <td class="column1 style4 s">1717 NE 3RD ST</td>
                    <td class="column2 style7 s">PRINEVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3171">
                    <td class="column0 style2 s">CROSS STREET STATION 76</td>
                    <td class="column1 style5 s">1717 NE 3RD ST</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3172">
                    <td class="column0 style2 s">CROSS STREET STATION 76</td>
                    <td class="column1 style5 s">1717 NE 3RD ST</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3173">
                    <td class="column0 style2 s">CROSS STREET STATION 76</td>
                    <td class="column1 style5 s">1717 NE 3RD ST</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3174">
                    <td class="column0 style2 s">CROSS STREET STATION 76</td>
                    <td class="column1 style5 s">1717 NE 3RD ST</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                     </tr>
                    <tr class="row3175">
                    <td class="column0 style2 s">CROSS STREET STATION 76</td>
                    <td class="column1 style5 s">1717 NE 3RD ST</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3176">
                    <td class="column0 style2 s">CROSS STREET STATION 76</td>
                    <td class="column1 style5 s">1717 NE 3RD ST</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3177">
                    <td class="column0 style3 s">RAYS FOODS #60</td>
                    <td class="column1 style4 s">1535 E 3RD ST</td>
                    <td class="column2 style7 s">PRINEVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3178">
                    <td class="column0 style2 s">RAYS FOODS #60</td>
                    <td class="column1 style5 s">1535 E 3RD ST</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3179">
                    <td class="column0 style2 s">RAYS FOODS #60</td>
                    <td class="column1 style5 s">1535 E 3RD ST</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3180">
                    <td class="column0 style2 s">RAYS FOODS #60</td>
                    <td class="column1 style5 s">1535 E 3RD ST</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3181">
                    <td class="column0 style2 s">RAYS FOODS #60</td>
                    <td class="column1 style5 s">1535 E 3RD ST</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3182">
                    <td class="column0 style3 s">MAIN STATION EXPRESS</td>
                    <td class="column1 style4 s">999 N MAIN ST</td>
                    <td class="column2 style7 s">PRINEVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3183">
                    <td class="column0 style2 s">MAIN STATION EXPRESS</td>
                    <td class="column1 style5 s">999 N MAIN ST</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3184">
                    <td class="column0 style2 s">MAIN STATION EXPRESS</td>
                    <td class="column1 style5 s">999 N MAIN ST</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3185">
                    <td class="column0 style2 s">MAIN STATION EXPRESS</td>
                    <td class="column1 style5 s">999 N MAIN ST</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3186">
                    <td class="column0 style3 s">THRIFTWAY ERICKSONS PRINEVILLE</td>
                    <td class="column1 style4 s">315 N 3RD ST</td>
                    <td class="column2 style7 s">PRINEVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3187">
                    <td class="column0 style2 s">THRIFTWAY ERICKSONS PRNVL</td>
                    <td class="column1 style5 s">315 N 3RD ST</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3188">
                    <td class="column0 style2 s">THRIFTWAY ERICKSONS PRNVL</td>
                    <td class="column1 style5 s">315 N 3RD ST</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3189">
                    <td class="column0 style2 s">THRIFTWAY ERICKSONS PRNVL</td>
                    <td class="column1 style5 s">315 N 3RD ST</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3190">
                    <td class="column0 style2 s">THRIFTWAY ERICKSONS PRNVL</td>
                    <td class="column1 style5 s">315 N 3RD ST</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3191">
                    <td class="column0 style2 s">THRIFTWAY ERICKSONS PRNVL</td>
                    <td class="column1 style5 s">315 N 3RD ST</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3192">
                    <td class="column0 style3 s">R&amp;R GROCERY STORE</td>
                    <td class="column1 style4 s">940 SE COMBS FLAT RD</td>
                    <td class="column2 style7 s">PRINEVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3193">
                    <td class="column0 style2 s">R&amp;R GROCERY STORE</td>
                    <td class="column1 style5 s">940 SE COMBS FLAT RD</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3194">
                    <td class="column0 style2 s">R&amp;R GROCERY STORE</td>
                    <td class="column1 style5 s">940 SE COMBS FLAT RD</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3195">
                    <td class="column0 style3 s">TOWNE PUMP</td>
                    <td class="column1 style4 s">612 NW MADRAS HWY</td>
                    <td class="column2 style7 s">PRINEVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3196">
                    <td class="column0 style2 s">TOWNE PUMP</td>
                    <td class="column1 style5 s">612 NW MADRAS HWY</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3197">
                    <td class="column0 style2 s">TOWNE PUMP</td>
                    <td class="column1 style5 s">612 NW MADRAS HWY</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3198">
                    <td class="column0 style2 s">TOWNE PUMP</td>
                    <td class="column1 style5 s">612 NW MADRAS HWY</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3199">
                    <td class="column0 style3 s">WAGNERS PRICE SLASHER</td>
                    <td class="column1 style4 s">930 N MAIN</td>
                    <td class="column2 style7 s">PRINEVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3200">
                    <td class="column0 style2 s">WAGNERS PRICE SLASHER</td>
                    <td class="column1 style5 s">930 N MAIN</td>
                    <td class="column2 style8 s">PRINEVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3201">
                    <td class="column0 style3 s">PROSPECT STORE</td>
                    <td class="column1 style4 s">500 MILL CREEK DRIVE</td>
                    <td class="column2 style7 s">PROSPECT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3202">
                    <td class="column0 style2 s">PROSPECT STORE</td>
                    <td class="column1 style5 s">500 MILL CREEK DRIVE</td>
                    <td class="column2 style8 s">PROSPECT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3203">
                    <td class="column0 style2 s">PROSPECT STORE</td>
                    <td class="column1 style5 s">500 MILL CREEK DRIVE</td>
                    <td class="column2 style8 s">PROSPECT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3204">
                    <td class="column0 style2 s">PROSPECT STORE</td>
                    <td class="column1 style5 s">500 MILL CREEK DRIVE</td>
                    <td class="column2 style8 s">PROSPECT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3205">
                    <td class="column0 style2 s">PROSPECT STORE</td>
                    <td class="column1 style5 s">500 MILL CREEK DRIVE</td>
                    <td class="column2 style8 s">PROSPECT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3206">
                    <td class="column0 style2 s">PROSPECT STORE</td>
                    <td class="column1 style5 s">500 MILL CREEK DRIVE</td>
                    <td class="column2 style8 s">PROSPECT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3207">
                    <td class="column0 style3 s">UNION CREEK RESORT</td>
                    <td class="column1 style4 s">56484 HWY 62</td>
                    <td class="column2 style7 s">PROSPECT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3208">
                    <td class="column0 style2 s">UNION CREEK RESORT</td>
                    <td class="column1 style5 s">56484 HWY 62</td>
                    <td class="column2 style8 s">PROSPECT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3209">
                    <td class="column0 style2 s">UNION CREEK RESORT</td>
                    <td class="column1 style5 s">56484 HWY 62</td>
                    <td class="column2 style8 s">PROSPECT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3210">
                    <td class="column0 style2 s">UNION CREEK RESORT</td>
                    <td class="column1 style5 s">56484 HWY 62</td>
                    <td class="column2 style8 s">PROSPECT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3211">
                    <td class="column0 style2 s">UNION CREEK RESORT</td>
                    <td class="column1 style5 s">56484 HWY 62</td>
                    <td class="column2 style8 s">PROSPECT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3212">
                    <td class="column0 style3 s">BECKIE'S CAFE &amp; UNION CR</td>
                    <td class="column1 style4 s">W/S HIGHWAY 62 11 MI. N.</td>
                    <td class="column2 style7 s">PROSPECT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3213">
                    <td class="column0 style2 s">BECKIE'S CAFE &amp; UNION CR</td>
                    <td class="column1 style5 s">W/S HIGHWAY 62 11 MI. N.</td>
                    <td class="column2 style8 s">PROSPECT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3214">
                    <td class="column0 style2 s">BECKIE'S CAFE &amp; UNION CR</td>
                    <td class="column1 style5 s">W/S HIGHWAY 62 11 MI. N.</td>
                    <td class="column2 style8 s">PROSPECT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3215">
                    <td class="column0 style2 s">BECKIE'S CAFE &amp; UNION CR</td>
                    <td class="column1 style5 s">W/S HIGHWAY 62 11 MI. N.</td>
                    <td class="column2 style8 s">PROSPECT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3216">
                    <td class="column0 style2 s">BECKIE'S CAFE &amp; UNION CR</td>
                    <td class="column1 style5 s">W/S HIGHWAY 62 11 MI. N.</td>
                    <td class="column2 style8 s">PROSPECT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3217">
                    <td class="column0 style2 s">BECKIE'S CAFE &amp; UNION CR</td>
                    <td class="column1 style5 s">W/S HIGHWAY 62 11 MI. N.</td>
                    <td class="column2 style8 s">PROSPECT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3218">
                    <td class="column0 style3 s">CASCADE GORGE STORE</td>
                    <td class="column1 style4 s">2651 MILLCREEK RD</td>
                    <td class="column2 style7 s">PROSPECT</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3219">
                    <td class="column0 style2 s">CASCADE GORGE STORE</td>
                    <td class="column1 style5 s">2651 MILLCREEK RD</td>
                    <td class="column2 style8 s">PROSPECT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3220">
                    <td class="column0 style2 s">CASCADE GORGE STORE</td>
                    <td class="column1 style5 s">2651 MILLCREEK RD</td>
                    <td class="column2 style8 s">PROSPECT</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3221">
                    <td class="column0 style3 s">ALSTON'S PUB &amp; GRILL</td>
                    <td class="column1 style4 s">25196 ALSTON RD</td>
                    <td class="column2 style7 s">RAINIER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3222">
                    <td class="column0 style2 s">ALSTON'S PUB &amp; GRILL</td>
                    <td class="column1 style5 s">25196 ALSTON RD</td>
                    <td class="column2 style8 s">RAINIER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3223">
                    <td class="column0 style2 s">ALSTON'S PUB &amp; GRILL</td>
                    <td class="column1 style5 s">25196 ALSTON RD</td>
                    <td class="column2 style8 s">RAINIER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3224">
                    <td class="column0 style3 s">SILVERLEAF MARKET</td>
                    <td class="column1 style4 s">7535 FALCON CREST DR</td>
                    <td class="column2 style7 s">REDMOND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3225">
                    <td class="column0 style2 s">SILVERLEAF MARKET</td>
                    <td class="column1 style5 s">7535 FALCON CREST DR</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3226">
                    <td class="column0 style3 s">CHEVRON #227-REDMOND</td>
                    <td class="column1 style4 s">2005 S HWY 97</td>
                    <td class="column2 style7 s">REDMOND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3227">
                    <td class="column0 style2 s">CHEVRON #227-REDMOND</td>
                    <td class="column1 style5 s">2005 S HWY 97</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3228">
                    <td class="column0 style2 s">CHEVRON #227-REDMOND</td>
                    <td class="column1 style5 s">2005 S HWY 97</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3229">
                    <td class="column0 style2 s">CHEVRON #227-REDMOND</td>
                    <td class="column1 style5 s">2005 S HWY 97</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3230">
                    <td class="column0 style3 s">SEVENTH ST BREW HOUSE</td>
                    <td class="column1 style4 s">855 SW 7TH</td>
                    <td class="column2 style7 s">REDMOND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3231">
                    <td class="column0 style2 s">SEVENTH ST BREW HOUSE</td>
                    <td class="column1 style5 s">855 SW 7TH</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3232">
                    <td class="column0 style3 s">BUGGY STOP</td>
                    <td class="column1 style4 s">1350 N HWY 97</td>
                    <td class="column2 style7 s">REDMOND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3233">
                    <td class="column0 style2 s">BUGGY STOP</td>
                    <td class="column1 style5 s">1350 N HWY 97</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3234">
                    <td class="column0 style2 s">BUGGY STOP</td>
                    <td class="column1 style5 s">1350 N HWY 97</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3235">
                    <td class="column0 style2 s">BUGGY STOP</td>
                    <td class="column1 style5 s">1350 N HWY 97</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3236">
                    <td class="column0 style2 s">BUGGY STOP</td>
                    <td class="column1 style5 s">1350 N HWY 97</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3237">
                    <td class="column0 style3 s">BOTTOMS UP SALOON</td>
                    <td class="column1 style4 s">1421 N HWY 97</td>
                    <td class="column2 style7 s">REDMOND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3238">
                    <td class="column0 style2 s">BOTTOMS UP SALOON</td>
                    <td class="column1 style5 s">1421 N HWY 97</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3239">
                    <td class="column0 style2 s">BOTTOMS UP SALOON</td>
                    <td class="column1 style5 s">1421 N HWY 97</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                     <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3240">
                    <td class="column0 style2 s">BOTTOMS UP SALOON</td>
                    <td class="column1 style5 s">1421 N HWY 97</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3241">
                    <td class="column0 style3 s">GRACE &amp; HAMMER</td>
                    <td class="column1 style4 s">641 SW CASCADE</td>
                    <td class="column2 style7 s">REDMOND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3242">
                    <td class="column0 style2 s">GRACE &amp; HAMMER</td>
                    <td class="column1 style5 s">641 SW CASCADE</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3243">
                    <td class="column0 style3 s">E BAR &amp; GRILL</td>
                    <td class="column1 style4 s">521 S 6TH</td>
                    <td class="column2 style7 s">REDMOND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3244">
                    <td class="column0 style2 s">E BAR &amp; GRILL</td>
                    <td class="column1 style5 s">521 S 6TH</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3245">
                    <td class="column0 style2 s">E BAR &amp; GRILL</td>
                    <td class="column1 style5 s">521 S 6TH</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3246">
                    <td class="column0 style3 s">FRED MEYER #650 REDMOND</td>
                    <td class="column1 style4 s">944 SW 9TH ST</td>
                    <td class="column2 style7 s">REDMOND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3247">
                    <td class="column0 style2 s">FRED MEYER #650 REDMOND</td>
                    <td class="column1 style5 s">944 SW 9TH ST</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3248">
                    <td class="column0 style2 s">FRED MEYER #650 REDMOND</td>
                    <td class="column1 style5 s">944 SW 9TH ST</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3249">
                    <td class="column0 style2 s">FRED MEYER #650 REDMOND</td>
                    <td class="column1 style5 s">944 SW 9TH ST</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3250">
                    <td class="column0 style3 s">REDMOND SMOKEHOUSE</td>
                    <td class="column1 style4 s">353 SE RAILROAD BLVD</td>
                    <td class="column2 style7 s">REDMOND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3251">
                    <td class="column0 style2 s">REDMOND SMOKEHOUSE</td>
                    <td class="column1 style5 s">353 SE RAILROAD BLVD</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3252">
                    <td class="column0 style3 s">POWELL BUTTE COUNTRY STORE</td>
                    <td class="column1 style4 s">HWY 126</td>
                    <td class="column2 style7 s">REDMOND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3253">
                    <td class="column0 style2 s">POWELL BUTTE COUNTRY STOR</td>
                    <td class="column1 style5 s">HWY 126</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3254">
                    <td class="column0 style2 s">POWELL BUTTE COUNTRY STOR</td>
                    <td class="column1 style5 s">HWY 126</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3255">
                    <td class="column0 style2 s">POWELL BUTTE COUNTRY STOR</td>
                    <td class="column1 style5 s">HWY 126</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3256">
                    <td class="column0 style3 s">BI-MART #641 REDMOND</td>
                    <td class="column1 style4 s">1727 SW ODEM MEDO RD</td>
                    <td class="column2 style7 s">REDMOND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3257">
                    <td class="column0 style2 s">BI-MART #641 REDMOND</td>
                    <td class="column1 style5 s">1727 SW ODEM MEDO RD</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3258">
                    <td class="column0 style3 s">MI CANTINA GRILL</td>
                    <td class="column1 style4 s">413 SW GLACIER AVE</td>
                    <td class="column2 style7 s">REDMOND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3259">
                    <td class="column0 style2 s">MI CANTINA GRILL</td>
                    <td class="column1 style5 s">413 SW GLACIER AVE</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3260">
                    <td class="column0 style2 s">MI CANTINA GRILL</td>
                    <td class="column1 style5 s">413 SW GLACIER AVE</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3261">
                    <td class="column0 style2 s">MI CANTINA GRILL</td>
                    <td class="column1 style5 s">413 SW GLACIER AVE</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3262">
                    <td class="column0 style3 s">COMFORT SUITES REDMOND*</td>
                    <td class="column1 style4 s">2243 SW YEW AVE</td>
                    <td class="column2 style7 s">REDMOND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3263">
                    <td class="column0 style2 s">COMFORT SUITES REDMOND*</td>
                    <td class="column1 style5 s">2243 SW YEW AVE</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3264">
                    <td class="column0 style2 s">COMFORT SUITES REDMOND*</td>
                    <td class="column1 style5 s">2243 SW YEW AVE</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3265">
                    <td class="column0 style3 s">CARNAVAL MEXICAN GRILL</td>
                    <td class="column1 style4 s">343 SW 6TH ST</td>
                    <td class="column2 style7 s">REDMOND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3266">
                    <td class="column0 style2 s">CARNAVAL MEXICAN GRILL</td>
                    <td class="column1 style5 s">343 SW 6TH ST</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3267">
                    <td class="column0 style2 s">CARNAVAL MEXICAN GRILL</td>
                    <td class="column1 style5 s">343 SW 6TH ST</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                     <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3268">
                    <td class="column0 style2 s">CARNAVAL MEXICAN GRILL</td>
                    <td class="column1 style5 s">343 SW 6TH ST</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3269">
                    <td class="column0 style2 s">CARNAVAL MEXICAN GRILL</td>
                    <td class="column1 style5 s">343 SW 6TH ST</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3270">
                    <td class="column0 style2 s">CARNAVAL MEXICAN GRILL</td>
                    <td class="column1 style5 s">343 SW 6TH ST</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3271">
                    <td class="column0 style3 s">RIM ROCK TAP HOUSE</td>
                    <td class="column1 style4 s">845 SW 17TH STREET #301</td>
                    <td class="column2 style7 s">REDMOND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3272">
                    <td class="column0 style2 s">RIM ROCK TAP HOUSE</td>
                    <td class="column1 style5 s">845 SW 17TH STREET #301</td>
                    <td class="column2 style8 s">REDMOND</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3273">
                    <td class="column0 style3 s">SAFEWAY #1665 REDMOND</td>
                    <td class="column1 style4 s">1705 S HWY 97</td>
                    <td class="column2 style7 s">REDMOND</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>