<tr class="row2587">
    <td class="column0 style3 s">SAFEWAY #1642 - PENDLETON</td>
    <td class="column1 style4 s">201 SW 20TH ST</td>
    <td class="column2 style7 s">PENDLETON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2588">
    <td class="column0 style2 s">SAFEWAY #1642 - PENDLETON</td>
    <td class="column1 style5 s">201 SW 20TH ST</td>
    <td class="column2 style8 s">PENDLETON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2589">
    <td class="column0 style2 s">SAFEWAY #1642 - PENDLETON</td>
    <td class="column1 style5 s">201 SW 20TH ST</td>
    <td class="column2 style8 s">PENDLETON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2590">
    <td class="column0 style3 s">RITE AID #5395 PENDLETON</td>
    <td class="column1 style4 s">1900 SW COURT ST</td>
    <td class="column2 style7 s">PENDLETON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2591">
    <td class="column0 style2 s">RITE AID #5395 PENDLETON</td>
    <td class="column1 style5 s">1900 SW COURT ST</td>
    <td class="column2 style8 s">PENDLETON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2592">
    <td class="column0 style3 s">JONA'S MARKET</td>
    <td class="column1 style4 s">100 S 8TH ST</td>
    <td class="column2 style7 s">PHILOMATH</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2593">
    <td class="column0 style2 s">JONA'S MARKET</td>
    <td class="column1 style5 s">100 S 8TH ST</td>
    <td class="column2 style8 s">PHILOMATH</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2594">
    <td class="column0 style3 s">RAY'S FOODS #10 PHOENIX</td>
    <td class="column1 style4 s">4260 S PACIFIC HWY/BX 993</td>
    <td class="column2 style7 s">PHOENIX</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2595">
    <td class="column0 style2 s">RAY'S FOODS #10 PHNX</td>
    <td class="column1 style5 s">4260 S PACIFIC HWY/BX 993</td>
    <td class="column2 style8 s">PHOENIX</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2596">
    <td class="column0 style2 s">RAY'S FOODS #10 PHNX</td>
    <td class="column1 style5 s">4260 S PACIFIC HWY/BX 993</td>
    <td class="column2 style8 s">PHOENIX</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2597">
    <td class="column0 style2 s">RAY'S FOODS #10 PHNX</td>
    <td class="column1 style5 s">4260 S PACIFIC HWY/BX 993</td>
    <td class="column2 style8 s">PHOENIX</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2598">
    <td class="column0 style2 s">RAY'S FOODS #10 PHNX</td>
    <td class="column1 style5 s">4260 S PACIFIC HWY/BX 993</td>
    <td class="column2 style8 s">PHOENIX</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2599">
    <td class="column0 style2 s">RAY'S FOODS #10 PHNX</td>
    <td class="column1 style5 s">4260 S PACIFIC HWY/BX 993</td>
    <td class="column2 style8 s">PHOENIX</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2600">
    <td class="column0 style2 s">RAY'S FOODS #10 PHNX</td>
    <td class="column1 style5 s">4260 S PACIFIC HWY/BX 993</td>
    <td class="column2 style8 s">PHOENIX</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2601">
    <td class="column0 style2 s">RAY'S FOODS #10 PHNX</td>
    <td class="column1 style5 s">4260 S PACIFIC HWY/BX 993</td>
    <td class="column2 style8 s">PHOENIX</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2602">
    <td class="column0 style2 s">RAY'S FOODS #10 PHNX</td>
    <td class="column1 style5 s">4260 S PACIFIC HWY/BX 993</td>
    <td class="column2 style8 s">PHOENIX</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2603">
    <td class="column0 style3 s">CIRCLE K #166 PHOENIX</td>
    <td class="column1 style4 s">730 N. MAIN ST</td>
    <td class="column2 style7 s">PHOENIX</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2604">
    <td class="column0 style2 s">CIRCLE K #166 PHOENIX</td>
    <td class="column1 style5 s">730 N. MAIN ST</td>
    <td class="column2 style8 s">PHOENIX</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2605">
    <td class="column0 style2 s">CIRCLE K #166 PHOENIX</td>
    <td class="column1 style5 s">730 N. MAIN ST</td>
    <td class="column2 style8 s">PHOENIX</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2606">
    <td class="column0 style2 s">CIRCLE K #166 PHOENIX</td>
    <td class="column1 style5 s">730 N. MAIN ST</td>
    <td class="column2 style8 s">PHOENIX</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2607">
    <td class="column0 style2 s">CIRCLE K #166 PHOENIX</td>
    <td class="column1 style5 s">730 N. MAIN ST</td>
    <td class="column2 style8 s">PHOENIX</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2608">
    <td class="column0 style3 s">CROWN MARKET #300 PHOENX</td>
    <td class="column1 style4 s">3503 SOUTH PACIFIC HWY</td>
    <td class="column2 style7 s">PHOENIX</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2609">
    <td class="column0 style2 s">CROWN MARKET #300 PHOENX</td>
    <td class="column1 style5 s">3503 SOUTH PACIFIC HWY</td>
    <td class="column2 style8 s">PHOENIX</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2610">
    <td class="column0 style2 s">CROWN MARKET #300 PHOENX</td>
    <td class="column1 style5 s">3503 SOUTH PACIFIC HWY</td>
    <td class="column2 style8 s">PHOENIX</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2611">
    <td class="column0 style3 s">RITE AID #6776- PHOENIX</td>
    <td class="column1 style4 s">636 NORTH MAIN STREET</td>
    <td class="column2 style7 s">PHOENIX</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2612">
    <td class="column0 style2 s">RITE AID #6776- PHOENIX</td>
    <td class="column1 style5 s">636 NORTH MAIN STREET</td>
    <td class="column2 style8 s">PHOENIX</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2613">
    <td class="column0 style3 s">PILOT ROCK MARKET</td>
    <td class="column1 style4 s">168 NW BIRCH ST</td>
    <td class="column2 style7 s">PILOT ROCK</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2614">
    <td class="column0 style2 s">PILOT ROCK MARKET</td>
    <td class="column1 style5 s">168 NW BIRCH ST</td>
    <td class="column2 style8 s">PILOT ROCK</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2615">
    <td class="column0 style2 s">PILOT ROCK MARKET</td>
    <td class="column1 style5 s">168 NW BIRCH ST</td>
    <td class="column2 style8 s">PILOT ROCK</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2616">
    <td class="column0 style2 s">PILOT ROCK MARKET</td>
    <td class="column1 style5 s">168 NW BIRCH ST</td>
    <td class="column2 style8 s">PILOT ROCK</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2617">
    <td class="column0 style3 s">RAYS FOODS #55</td>
    <td class="column1 style4 s">1555 N OREGON STREET</td>
    <td class="column2 style7 s">PORT ORFORD</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2618">
    <td class="column0 style2 s">RAYS FOODS #55</td>
    <td class="column1 style5 s">1555 N OREGON STREET</td>
    <td class="column2 style8 s">PORT ORFORD</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row2619">
    <td class="column0 style3 s">RANGER STATION PDX</td>
    <td class="column1 style4 s">4260 SE HAWTHORNE BLVD</td>
    <td class="column2 style7 s">PORTLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    
    <tr class="row2620">
        <td class="column0 style2 s">RANGER STATION PDX</td>
        <td class="column1 style5 s">4260 SE HAWTHORNE BLVD</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2621">
        <td class="column0 style2 s">RANGER STATION PDX</td>
        <td class="column1 style5 s">4260 SE HAWTHORNE BLVD</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2622">
        <td class="column0 style3 s">RITE AID #5356- BARNES</td>
        <td class="column1 style4 s">11190 SW BARNES RD</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2623">
        <td class="column0 style2 s">RITE AID #5356- BARNES</td>
        <td class="column1 style5 s">11190 SW BARNES RD</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2624">
        <td class="column0 style3 s">HUBERS CAFE</td>
        <td class="column1 style4 s">411 SW 3RD R</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2625">
        <td class="column0 style2 s">HUBERS CAFE</td>
        <td class="column1 style5 s">411 SW 3RD R</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2626">
        <td class="column0 style3 s">MA &amp; PA MARKET</td>
        <td class="column1 style4 s">1200 SW WASHINGTON L</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2627">
        <td class="column0 style2 s">MA &amp; PA MARKET</td>
        <td class="column1 style5 s">1200 SW WASHINGTON L</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">ROCK POINT CAB SAUV</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2628">
        <td class="column0 style3 s">90TH MINI MART</td>
        <td class="column1 style4 s">9016 NE SANDY R</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2629">
        <td class="column0 style2 s">90TH MINI MART</td>
        <td class="column1 style5 s">9016 NE SANDY R</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2630">
        <td class="column0 style2 s">90TH MINI MART</td>
        <td class="column1 style5 s">9016 NE SANDY R</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2631">
        <td class="column0 style3 s">NEW SEASONS #1104 NE 33RD</td>
        <td class="column1 style4 s">5320 NE 33RD</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
         <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2632">
        <td class="column0 style2 s">NEW SEASONS #1104 NE 33RD</td>
        <td class="column1 style5 s">5320 NE 33RD</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2633">
        <td class="column0 style2 s">NEW SEASONS #1104 NE 33RD</td>
        <td class="column1 style5 s">5320 NE 33RD</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2634">
        <td class="column0 style2 s">NEW SEASONS #1104 NE 33RD</td>
        <td class="column1 style5 s">5320 NE 33RD</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT RIVER RED</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2635">
        <td class="column0 style2 s">NEW SEASONS #1104 NE 33RD</td>
        <td class="column1 style5 s">5320 NE 33RD</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2636">
        <td class="column0 style3 s">THE OREGON PUBLIC HOUSE</td>
        <td class="column1 style4 s">700 NE DEKUM ST</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2637">
        <td class="column0 style2 s">THE OREGON PUBLIC HOUSE</td>
        <td class="column1 style5 s">700 NE DEKUM ST</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2638">
        <td class="column0 style3 s">QFC #206 - MILWAUKIE</td>
        <td class="column1 style4 s">6411 SE MILWAUKIE</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2639">
        <td class="column0 style2 s">QFC #206 - MILWAUKIE</td>
        <td class="column1 style5 s">6411 SE MILWAUKIE</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">ROCK POINT RIVER RED</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2640">
        <td class="column0 style3 s">ASAP MARKET</td>
        <td class="column1 style4 s">7407 SE 52ND</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2641">
        <td class="column0 style2 s">ASAP MARKET</td>
        <td class="column1 style5 s">7407 SE 52ND</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2642">
        <td class="column0 style3 s">RITE AID #5358- DIV</td>
        <td class="column1 style4 s">16401 SE DIVISION</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2643">
        <td class="column0 style2 s">RITE AID #5358- DIV</td>
        <td class="column1 style5 s">16401 SE DIVISION</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2644">
        <td class="column0 style3 s">SAFEWAY #509 MLK</td>
        <td class="column1 style4 s">5920 NE ML KING BLVD</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2645">
        <td class="column0 style2 s">SAFEWAY #509 MLK</td>
        <td class="column1 style5 s">5920 NE ML KING BLVD</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2646">
        <td class="column0 style3 s">COLUMBIA EDGEWATER COUNTRY CLUB</td>
        <td class="column1 style4 s">2220 NE MARINE DR L</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2647">
        <td class="column0 style2 s">COLUMBIA EDGEWATER CC</td>
        <td class="column1 style5 s">2220 NE MARINE DR L</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">ROCK POINT RIVER RED</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2648">
        <td class="column0 style2 s">COLUMBIA EDGEWATER CC</td>
        <td class="column1 style5 s">2220 NE MARINE DR L</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2649">
        <td class="column0 style2 s">COLUMBIA EDGEWATER CC</td>
        <td class="column1 style5 s">2220 NE MARINE DR L</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2650">
        <td class="column0 style2 s">COLUMBIA EDGEWATER CC</td>
        <td class="column1 style5 s">2220 NE MARINE DR L</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2651">
        <td class="column0 style2 s">COLUMBIA EDGEWATER CC</td>
        <td class="column1 style5 s">2220 NE MARINE DR L</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2652">
        <td class="column0 style2 s">COLUMBIA EDGEWATER CC</td>
        <td class="column1 style5 s">2220 NE MARINE DR L</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2653">
        <td class="column0 style2 s">COLUMBIA EDGEWATER CC</td>
        <td class="column1 style5 s">2220 NE MARINE DR L</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2654">
        <td class="column0 style2 s">COLUMBIA EDGEWATER CC</td>
        <td class="column1 style5 s">2220 NE MARINE DR L</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2655">
        <td class="column0 style3 s">MAK'S MINI MART</td>
        <td class="column1 style4 s">616 SW COLLEGE ST</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2656">
        <td class="column0 style2 s">MAK'S MINI MART</td>
        <td class="column1 style5 s">616 SW COLLEGE ST</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">ROCK POINT RIVER RED</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2657">
        <td class="column0 style2 s">MAK'S MINI MART</td>
        <td class="column1 style5 s">616 SW COLLEGE ST</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2658">
        <td class="column0 style3 s">STORMBREAKER BREWING</td>
        <td class="column1 style4 s">8409 N LOMBARD ST</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2659">
        <td class="column0 style2 s">STORMBREAKER BREWING</td>
        <td class="column1 style5 s">8409 N LOMBARD ST</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2660">
        <td class="column0 style2 s">STORMBREAKER BREWING</td>
        <td class="column1 style5 s">8409 N LOMBARD ST</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2661">
        <td class="column0 style2 s">STORMBREAKER BREWING</td>
        <td class="column1 style5 s">8409 N LOMBARD ST</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT RIVER RED</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2662">
        <td class="column0 style2 s">STORMBREAKER BREWING</td>
        <td class="column1 style5 s">8409 N LOMBARD ST</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2663">
        <td class="column0 style3 s">QFC #202 - BARNES RD</td>
        <td class="column1 style4 s">7525 SW BARNES ROAD</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2664">
        <td class="column0 style2 s">QFC #202 - BARNES RD</td>
        <td class="column1 style5 s">7525 SW BARNES ROAD</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">ROCK POINT RIVER RED</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2665">
        <td class="column0 style2 s">QFC #202 - BARNES RD</td>
        <td class="column1 style5 s">7525 SW BARNES ROAD</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2666">
        <td class="column0 style2 s">QFC #202 - BARNES RD</td>
        <td class="column1 style5 s">7525 SW BARNES ROAD</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2667">
        <td class="column0 style2 s">QFC #202 - BARNES RD</td>
        <td class="column1 style5 s">7525 SW BARNES ROAD</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2668">
        <td class="column0 style2 s">QFC #202 - BARNES RD</td>
        <td class="column1 style5 s">7525 SW BARNES ROAD</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2669">
        <td class="column0 style2 s">QFC #202 - BARNES RD</td>
        <td class="column1 style5 s">7525 SW BARNES ROAD</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2670">
        <td class="column0 style2 s">QFC #202 - BARNES RD</td>
        <td class="column1 style5 s">7525 SW BARNES ROAD</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2671">
        <td class="column0 style3 s">RIVERSIDE CORRAL INC</td>
        <td class="column1 style4 s">545 SE TACOMA L</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2672">
        <td class="column0 style2 s">RIVERSIDE CORRAL INC</td>
        <td class="column1 style5 s">545 SE TACOMA L</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2673">
        <td class="column0 style3 s">BURLINGAME SHELL</td>
        <td class="column1 style4 s">8517 SW TERWILLIGER BLVD</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2674">
        <td class="column0 style2 s">BURLINGAME SHELL</td>
        <td class="column1 style5 s">8517 SW TERWILLIGER BLVD</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2675">
        <td class="column0 style3 s">BI-MART #653 WOODSTOCK</td>
        <td class="column1 style4 s">4315 SE WOODSTOCK</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2676">
        <td class="column0 style2 s">BI-MART #653 WOODSTOCK</td>
        <td class="column1 style5 s">4315 SE WOODSTOCK</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2677">
        <td class="column0 style3 s">MONSOON THAI*</td>
        <td class="column1 style4 s">4236 N MISSISSIPPI AVE</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2678">
        <td class="column0 style2 s">MONSOON THAI*</td>
        <td class="column1 style5 s">4236 N MISSISSIPPI AVE</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2679">
        <td class="column0 style3 s">JOLLY ROGER'S</td>
        <td class="column1 style4 s">1340 SE 12TH AVE</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2680">
        <td class="column0 style2 s">JOLLY ROGER'S</td>
        <td class="column1 style5 s">1340 SE 12TH AVE</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2681">
        <td class="column0 style3 s">SAFEWAY #3134 HAWTHORNE</td>
        <td class="column1 style4 s">2800 SE HAWTHORNE</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2682">
        <td class="column0 style2 s">SAFEWAY #3134 HAWTHORNE</td>
        <td class="column1 style5 s">2800 SE HAWTHORNE</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2683">
        <td class="column0 style2 s">SAFEWAY #3134 HAWTHORNE</td>
        <td class="column1 style5 s">2800 SE HAWTHORNE</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2684">
        <td class="column0 style2 s">SAFEWAY #3134 HAWTHORNE</td>
        <td class="column1 style5 s">2800 SE HAWTHORNE</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2685">
        <td class="column0 style3 s">WINCO FOODS #13 GATEWAY</td>
        <td class="column1 style4 s">1222 NE 102ND</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2686">
        <td class="column0 style2 s">WINCO FOODS #13 GATEWAY</td>
        <td class="column1 style5 s">1222 NE 102ND</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
         <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2687">
        <td class="column0 style2 s">WINCO FOODS #13 GATEWAY</td>
        <td class="column1 style5 s">1222 NE 102ND</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2688">
        <td class="column0 style2 s">WINCO FOODS #13 GATEWAY</td>
        <td class="column1 style5 s">1222 NE 102ND</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2689">
        <td class="column0 style2 s">WINCO FOODS #13 GATEWAY</td>
        <td class="column1 style5 s">1222 NE 102ND</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2690">
        <td class="column0 style3 s">MOCK CREST MARKET</td>
        <td class="column1 style4 s">3715 N LOMBARD</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2691">
        <td class="column0 style2 s">MOCK CREST MARKET</td>
        <td class="column1 style5 s">3715 N LOMBARD</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">ROCK POINT RIVER RED</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2692">
        <td class="column0 style2 s">MOCK CREST MARKET</td>
        <td class="column1 style5 s">3715 N LOMBARD</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2693">
        <td class="column0 style3 s">CIVIC FOOD MART</td>
        <td class="column1 style4 s">729 ROSA PARKS WAY</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2694">
        <td class="column0 style2 s">CIVIC FOOD MART</td>
        <td class="column1 style5 s">729 ROSA PARKS WAY</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2695">
        <td class="column0 style2 s">CIVIC FOOD MART</td>
        <td class="column1 style5 s">729 ROSA PARKS WAY</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT RIVER RED</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2696">
        <td class="column0 style2 s">CIVIC FOOD MART</td>
        <td class="column1 style5 s">729 ROSA PARKS WAY</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2697">
        <td class="column0 style3 s">BETHANY TAPHOUSE</td>
        <td class="column1 style4 s">4840 NW BETHANY BLVD</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2698">
        <td class="column0 style2 s">BETHANY TAPHOUSE</td>
        <td class="column1 style5 s">4840 NW BETHANY BLVD</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2699">
        <td class="column0 style3 s">SUNNY'S MINI MART</td>
        <td class="column1 style4 s">6204 SE DIVISION</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2700">
        <td class="column0 style2 s">SUNNY'S MINI MART</td>
        <td class="column1 style5 s">6204 SE DIVISION</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">DEL RIO VINEYARD ESTATE MERLOT</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2701">
        <td class="column0 style2 s">SUNNY'S MINI MART</td>
        <td class="column1 style5 s">6204 SE DIVISION</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2702">
        <td class="column0 style2 s">SUNNY'S MINI MART</td>
        <td class="column1 style5 s">6204 SE DIVISION</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2703">
        <td class="column0 style2 s">SUNNY'S MINI MART</td>
        <td class="column1 style5 s">6204 SE DIVISION</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2704">
        <td class="column0 style2 s">SUNNY'S MINI MART</td>
        <td class="column1 style5 s">6204 SE DIVISION</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2705">
        <td class="column0 style3 s">SAFEWAY #1523 WOODSTOCK</td>
        <td class="column1 style4 s">4515 SE WOODSTOCK</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2706">
        <td class="column0 style2 s">SAFEWAY #1523 WOODSTOCK</td>
        <td class="column1 style5 s">4515 SE WOODSTOCK</td>
        <td class="column2 style8 s">PORTLAND</td>
        <td class="column3 style11 s">OR</td>
        <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>
        <tr class="row2707">
        <td class="column0 style3 s">NEW SEASONS HAWTHORNE</td>
        <td class="column1 style4 s">4034 SE HAWTHORNE BLVD</td>
        <td class="column2 style7 s">PORTLAND</td>
        <td class="column3 style10 s">OR</td>
        <td class="column4 style21 s">&nbsp;</td>
        <td class="column5 style14 s"></td>
        <td class="column6">&nbsp;</td>
        </tr>