
                <tr class="row1785">
                    <td class="column0 style2 s">FRED MEYER #165 SHASTA KF</td>
                    <td class="column1 style5 s">2655 SHASTA WAY</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1786">
                    <td class="column0 style3 s">THE ALIBI</td>
                    <td class="column1 style4 s">5711 S 6TH ST</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1787">
                     <td class="column0 style2 s">ALIBI THE</td>
                    <td class="column1 style5 s">5711 S 6TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1788">
                    <td class="column0 style3 s">RAYS MARKET</td>
                    <td class="column1 style4 s">4237 GREENSPRINGS DR.</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1789">
                    <td class="column0 style2 s">RIYS MARKET INC</td>
                    <td class="column1 style5 s">4237 GREENSPRINGS DR.</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1790">
                    <td class="column0 style2 s">RIYS MARKET INC</td>
                    <td class="column1 style5 s">4237 GREENSPRINGS DR.</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1791">
                    <td class="column0 style3 s">RITE AID #5388- S 6TH KFALLS</td>
                    <td class="column1 style4 s">2521 S 6TH ST</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1792">
                    <td class="column0 style2 s">RITE AID #5388- S 6TH KF</td>
                    <td class="column1 style5 s">2521 S 6TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1793">
                    <td class="column0 style3 s">MAZATLAN GRILL KFALLS</td>
                    <td class="column1 style4 s">2322 WASHBURN WAY</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1794">
                    <td class="column0 style2 s">MAZATLAN GRILL KFALLS</td>
                    <td class="column1 style5 s">2322 WASHBURN WAY</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1795">
                    <td class="column0 style3 s">WAFFLE HUT AND EATERY</td>
                    <td class="column1 style4 s">106 MAIN ST</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1796">
                    <td class="column0 style2 s">WAFFLE HUT AND EATERY</td>
                    <td class="column1 style5 s">106 MAIN ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1797">
                    <td class="column0 style2 s">WAFFLE HUT AND EATERY</td>
                    <td class="column1 style5 s">106 MAIN ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1798">
                    <td class="column0 style2 s">WAFFLE HUT AND EATERY</td>
                    <td class="column1 style5 s">106 MAIN ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1799">
                    <td class="column0 style3 s">PREMS GAS &amp; MINI MART</td>
                    <td class="column1 style4 s">2564 6TH ST.</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1800">
                    <td class="column0 style2 s">PREMS GAS &amp; MINI MART</td>
                    <td class="column1 style5 s">2564 6TH ST.</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1801">
                    <td class="column0 style3 s">HOMEDALE MINI MART</td>
                    <td class="column1 style4 s">3348 HOMEDALE RD</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1802">
                    <td class="column0 style2 s">HOMEDALE MINI MART INC</td>
                    <td class="column1 style5 s">3348 HOMEDALE RD</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1803">
                    <td class="column0 style2 s">HOMEDALE MINI MART INC</td>
                    <td class="column1 style5 s">3348 HOMEDALE RD</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1804">
                    <td class="column0 style3 s">LAKE OF THE WOODS MARINA</td>
                    <td class="column1 style4 s">950 HARRIMAN RT</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1805">
                    <td class="column0 style2 s">LAKE OF THE WOODS MARINA</td>
                    <td class="column1 style5 s">950 HARRIMAN RT</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1806">
                    <td class="column0 style2 s">LAKE OF THE WOODS MARINA</td>
                    <td class="column1 style5 s">950 HARRIMAN RT</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1807">
                    <td class="column0 style2 s">LAKE OF THE WOODS MARINA</td>
                    <td class="column1 style5 s">950 HARRIMAN RT</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1808">
                    <td class="column0 style3 s">NOA-NOA</td>
                    <td class="column1 style4 s">2316 WASHBURN WAY</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1809">
                    <td class="column0 style2 s">NOA-NOA</td>
                    <td class="column1 style5 s">2316 WASHBURN WAY</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1810">
                    <td class="column0 style3 s">OREGON AVE SHELL &amp; FOOD MART</td>
                    <td class="column1 style4 s">2075 OREGON AVE</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1811">
                    <td class="column0 style2 s">OREGON AVE SHELL &amp; FOOD M</td>
                    <td class="column1 style5 s">2075 OREGON AVE</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1812">
                    <td class="column0 style2 s">OREGON AVE SHELL &amp; FOOD M</td>
                    <td class="column1 style5 s">2075 OREGON AVE</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1813">
                    <td class="column0 style2 s">OREGON AVE SHELL &amp; FOOD M</td>
                    <td class="column1 style5 s">2075 OREGON AVE</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1814">
                    <td class="column0 style3 s">SHILO RESTAURANT</td>
                    <td class="column1 style4 s">2500 ALMOND ST</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1815">
                    <td class="column0 style2 s">SHILO RESTAURANT</td>
                    <td class="column1 style5 s">2500 ALMOND ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1816">
                    <td class="column0 style2 s">SHILO RESTAURANT</td>
                    <td class="column1 style5 s">2500 ALMOND ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1817">
                    <td class="column0 style2 s">SHILO RESTAURANT</td>
                    <td class="column1 style5 s">2500 ALMOND ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1818">
                    <td class="column0 style2 s">SHILO RESTAURANT</td>
                    <td class="column1 style5 s">2500 ALMOND ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1819">
                    <td class="column0 style2 s">SHILO RESTAURANT</td>
                    <td class="column1 style5 s">2500 ALMOND ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1820">
                    <td class="column0 style2 s">SHILO RESTAURANT</td>
                    <td class="column1 style5 s">2500 ALMOND ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1821">
                    <td class="column0 style3 s">SODEXO OREGON INSTITUTE OF TECHNOLOGY</td>
                    <td class="column1 style4 s">3201 CAMPUS DR</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1822">
                    <td class="column0 style2 s">SODEXO OIT</td>
                    <td class="column1 style5 s">3201 CAMPUS DR</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1823">
                    <td class="column0 style2 s">SODEXO OIT</td>
                    <td class="column1 style5 s">3201 CAMPUS DR</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1824">
                    <td class="column0 style2 s">SODEXO OIT</td>
                    <td class="column1 style5 s">3201 CAMPUS DR</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1825">
                    <td class="column0 style3 s">LAKE HOUSE RESTAURANT</td>
                    <td class="column1 style4 s">950 HARRIMAN RT</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1826">
                    <td class="column0 style2 s">LAKE HOUSE RESTAURANT</td>
                    <td class="column1 style5 s">950 HARRIMAN RT</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1827">
                    <td class="column0 style3 s">ALBERTSONS #0577 S 6TH KFALLS</td>
                    <td class="column1 style4 s">5500 S 6TH ST</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1828">
                    <td class="column0 style2 s">ALBERTSONS #0577 S 6TH KFALLS</td>
                    <td class="column1 style5 s">5500 S 6TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1829">
                    <td class="column0 style2 s">ALBERTSONS #0577 S 6TH KFALLS</td>
                    <td class="column1 style5 s">5500 S 6TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1830">
                    <td class="column0 style2 s">ALBERTSONS #0577 S 6TH KFALLS</td>
                    <td class="column1 style5 s">5500 S 6TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1831">
                    <td class="column0 style2 s">ALBERTSONS #0577 S 6TH KFALLS</td>
                    <td class="column1 style5 s">5500 S 6TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1832">
                    <td class="column0 style2 s">ALBERTSONS #0577 S 6TH KFALLS</td>
                    <td class="column1 style5 s">5500 S 6TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                     <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1833">
                    <td class="column0 style2 s">ALBERTSONS #0577 S 6TH KFALLS</td>
                    <td class="column1 style5 s">5500 S 6TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1834">
                    <td class="column0 style3 s">CIRCLE K #156 OREGON AV KF</td>
                    <td class="column1 style4 s">2123 OREGON AVE</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1835">
                    <td class="column0 style2 s">CIRCLE K #156 OREGN AV KF</td>
                    <td class="column1 style5 s">2123 OREGON AVE</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1836">
                    <td class="column0 style2 s">CIRCLE K #156 OREGN AV KF</td>
                    <td class="column1 style5 s">2123 OREGON AVE</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1837">
                    <td class="column0 style2 s">CIRCLE K #156 OREGN AV KF</td>
                    <td class="column1 style5 s">2123 OREGON AVE</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1838">
                    <td class="column0 style2 s">CIRCLE K #156 OREGN AV KF</td>
                    <td class="column1 style5 s">2123 OREGON AVE</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1839">
                    <td class="column0 style3 s">RITE AID #5398 LA GRANDE</td>
                    <td class="column1 style4 s">2212 ISLAND AVE</td>
                    <td class="column2 style7 s">LA GRANDE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1840">
                    <td class="column0 style2 s">RITE AID #5398 LA GRANDE</td>
                    <td class="column1 style5 s">2212 ISLAND AVE</td>
                    <td class="column2 style8 s">LA GRANDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1841">
                    <td class="column0 style3 s">WINE DOWN</td>
                    <td class="column1 style4 s">115 DEPOT STREET</td>
                    <td class="column2 style7 s">LA GRANDE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1842">
                     <td class="column0 style2 s">WINE DOWN LLC</td>
                    <td class="column1 style5 s">115 DEPOT STREET</td>
                    <td class="column2 style8 s">LA GRANDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1843">
                    <td class="column0 style2 s">WINE DOWN LLC</td>
                    <td class="column1 style5 s">115 DEPOT STREET</td>
                    <td class="column2 style8 s">LA GRANDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1844">
                    <td class="column0 style2 s">WINE DOWN LLC</td>
                    <td class="column1 style5 s">115 DEPOT STREET</td>
                    <td class="column2 style8 s">LA GRANDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1845">
                    <td class="column0 style2 s">WINE DOWN LLC</td>
                    <td class="column1 style5 s">115 DEPOT STREET</td>
                    <td class="column2 style8 s">LA GRANDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1846">
                    <td class="column0 style3 s">BARE BONES BAR</td>
                    <td class="column1 style4 s">1519 ADAMS AV</td>
                    <td class="column2 style7 s">LA GRANDE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1847">
                    <td class="column0 style2 s">BARE BONES LG</td>
                    <td class="column1 style5 s">1519 ADAMS AV</td>
                    <td class="column2 style8 s">LA GRANDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1848">
                    <td class="column0 style3 s">SAFEWAY #1827 - LA GRANDE</td>
                    <td class="column1 style4 s">2111 ADAMS AVE</td>
                    <td class="column2 style7 s">LA GRANDE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1849">
                    <td class="column0 style2 s">SAFEWAY #1827 - LG</td>
                    <td class="column1 style5 s">2111 ADAMS AVE</td>
                    <td class="column2 style8 s">LA GRANDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1850">
                    <td class="column0 style3 s">ALBERTSONS #3531 LAKE GROVE</td>
                    <td class="column1 style4 s">16199 BOONES FERRY</td>
                    <td class="column2 style7 s">LAKE GROVE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1851">
                    <td class="column0 style2 s">ALBERTSONS #3531 LK GROV</td>
                    <td class="column1 style5 s">16199 BOONES FERRY</td>
                    <td class="column2 style8 s">LAKE GROVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1852">
                    <td class="column0 style2 s">ALBERTSONS #3531 LK GROV</td>
                    <td class="column1 style5 s">16199 BOONES FERRY</td>
                    <td class="column2 style8 s">LAKE GROVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1853">
                    <td class="column0 style2 s">ALBERTSONS #3531 LK GROV</td>
                    <td class="column1 style5 s">16199 BOONES FERRY</td>
                    <td class="column2 style8 s">LAKE GROVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1854">
                    <td class="column0 style2 s">ALBERTSONS #3531 LK GROV</td>
                    <td class="column1 style5 s">16199 BOONES FERRY</td>
                    <td class="column2 style8 s">LAKE GROVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1855">
                    <td class="column0 style2 s">ALBERTSONS #3531 LK GROV</td>
                    <td class="column1 style5 s">16199 BOONES FERRY</td>
                    <td class="column2 style8 s">LAKE GROVE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1856">
                    <td class="column0 style3 s">GEMINI PUB </td>
                    <td class="column1 style4 s">456 N STATE R</td>
                    <td class="column2 style7 s">LAKE OSWEGO</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1857">
                    <td class="column0 style2 s">GEMINI PUB</td>
                    <td class="column1 style5 s">456 N STATE R</td>
                    <td class="column2 style8 s">LAKE OSWEGO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1858">
                    <td class="column0 style3 s">BOONES FERRY CHEVRON</td>
                    <td class="column1 style4 s">17830 SW BOONES FERRY</td>
                    <td class="column2 style7 s">LAKE OSWEGO</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1859">
                    <td class="column0 style2 s">BOONES FERRY CHEVRON</td>
                    <td class="column1 style5 s">17830 SW BOONES FERRY</td>
                    <td class="column2 style8 s">LAKE OSWEGO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1860">
                    <td class="column0 style3 s">SAFEWAY #508 LAKE OSWEGO</td>
                    <td class="column1 style4 s">401 A AVENUE</td>
                     <td class="column2 style7 s">LAKE OSWEGO</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1861">
                    <td class="column0 style2 s">SAFEWAY #508 LAKE OSWEGO</td>
                    <td class="column1 style5 s">401 A AVENUE</td>
                    <td class="column2 style8 s">LAKE OSWEGO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1862">
                    <td class="column0 style2 s">SAFEWAY #508 LAKE OSWEGO</td>
                    <td class="column1 style5 s">401 A AVENUE</td>
                    <td class="column2 style8 s">LAKE OSWEGO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1863">
                    <td class="column0 style2 s">SAFEWAY #508 LAKE OSWEGO</td>
                    <td class="column1 style5 s">401 A AVENUE</td>
                    <td class="column2 style8 s">LAKE OSWEGO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1864">
                    <td class="column0 style2 s">SAFEWAY #508 LAKE OSWEGO</td>
                    <td class="column1 style5 s">401 A AVENUE</td>
                    <td class="column2 style8 s">LAKE OSWEGO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1865">
                    <td class="column0 style2 s">SAFEWAY #508 LAKE OSWEGO</td>
                    <td class="column1 style5 s">401 A AVENUE</td>
                    <td class="column2 style8 s">LAKE OSWEGO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1866">
                    <td class="column0 style3 s">RITE AID #5329- LAKE OSWEGO</td>
                    <td class="column1 style4 s">90 B AVE</td>
                    <td class="column2 style7 s">LAKE OSWEGO</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1867">
                    <td class="column0 style2 s">RITE AID #5329- L.O.</td>
                    <td class="column1 style5 s">90 B AVE</td>
                    <td class="column2 style8 s">LAKE OSWEGO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1868">
                    <td class="column0 style3 s">NEW SEASONS MOUNTAIN PARK</td>
                    <td class="column1 style4 s">3 SW MONROE PARKWAY</td>
                    <td class="column2 style7 s">LAKE OSWEGO</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1869">
                    <td class="column0 style2 s">NEW SEASONS #1107 MT PARK</td>
                    <td class="column1 style5 s">3 SW MONROE PARKWAY</td>
                    <td class="column2 style8 s">LAKE OSWEGO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1870">
                    <td class="column0 style2 s">NEW SEASONS #1107 MT PARK</td>
                    <td class="column1 style5 s">3 SW MONROE PARKWAY</td>
                    <td class="column2 style8 s">LAKE OSWEGO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1871">
                    <td class="column0 style2 s">NEW SEASONS #1107 MT PARK</td>
                    <td class="column1 style5 s">3 SW MONROE PARKWAY</td>
                    <td class="column2 style8 s">LAKE OSWEGO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1872">
                    <td class="column0 style3 s">MANZANA ROTISSERIE GRILL</td>
                    <td class="column1 style4 s">305 FIRST ST</td>
                    <td class="column2 style7 s">LAKE OSWEGO</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1873">
                    <td class="column0 style2 s">MANZANA ROTISSERIE GRILL</td>
                    <td class="column1 style5 s">305 FIRST ST</td>
                    <td class="column2 style8 s">LAKE OSWEGO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1874">
                    <td class="column0 style3 s">TUCCI RISTORANTE</td>
                    <td class="column1 style4 s">220 A AVENUE</td>
                    <td class="column2 style7 s">LAKE OSWEGO</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1875">
                    <td class="column0 style2 s">TUCCI</td>
                    <td class="column1 style5 s">220 A AVENUE</td>
                    <td class="column2 style8 s">LAKE OSWEGO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1876">
                    <td class="column0 style3 s">JJS PUB</td>
                    <td class="column1 style4 s">1399 MCVEY AVE</td>
                    <td class="column2 style7 s">LAKE OSWEGO</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1877">
                    <td class="column0 style2 s">JJS PUB</td>
                    <td class="column1 style5 s">1399 MCVEY AVE</td>
                    <td class="column2 style8 s">LAKE OSWEGO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1878">
                    <td class="column0 style3 s">7-ELEVEN #14497 - A ST</td>
                    <td class="column1 style4 s">505 A ST</td>
                    <td class="column2 style7 s">LAKE OSWEGO</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1879">
                    <td class="column0 style2 s">7-ELEVEN #14497 - A ST</td>
                    <td class="column1 style5 s">505 A ST</td>
                    <td class="column2 style8 s">LAKE OSWEGO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1880">
                    <td class="column0 style3 s">SAFEWAY #4316 LAKEVIEW</td>
                    <td class="column1 style4 s">244 N F ST</td>
                    <td class="column2 style7 s">LAKEVIEW</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1881">
                    <td class="column0 style2 s">SAFEWAY #4316 LAKEVIEW</td>
                    <td class="column1 style5 s">244 N F ST</td>
                    <td class="column2 style8 s">LAKEVIEW</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1882">
                    <td class="column0 style3 s">LAPINE MINI MART</td>
                    <td class="column1 style4 s">52530 HWY 97</td>
                    <td class="column2 style7 s">LAPINE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1883">
                    <td class="column0 style2 s">LAPINE MINI MART</td>
                    <td class="column1 style5 s">52530 HWY 97</td>
                    <td class="column2 style8 s">LAPINE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1884">
                    <td class="column0 style3 s">RAYS FOODS #76</td>
                    <td class="column1 style4 s">51573 HWY 97</td>
                    <td class="column2 style7 s">LAPINE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1885">
                    <td class="column0 style2 s">RAYS FOODS #76</td>
                    <td class="column1 style5 s">51573 HWY 97</td>
                    <td class="column2 style8 s">LAPINE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1886">
                    <td class="column0 style3 s">BI-MART #671 LAPINE</td>
                    <td class="column1 style4 s">51670 HUNTINGTON RD</td>
                    <td class="column2 style7 s">LAPINE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1887">
                    <td class="column0 style2 s">BI-MART #671 LAPINE</td>
                    <td class="column1 style5 s">51670 HUNTINGTON RD</td>
                    <td class="column2 style8 s">LAPINE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1888">
                    <td class="column0 style3 s">SHOP SMART #54</td>
                    <td class="column1 style4 s">51370 HWY 97</td>
                    <td class="column2 style7 s">LAPINE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1889">
                    <td class="column0 style2 s">SHOP SMART #54</td>
                    <td class="column1 style5 s">51370 HWY 97</td>
                    <td class="column2 style8 s">LAPINE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1890">
                    <td class="column0 style3 s">YUVI'S MART</td>
                    <td class="column1 style4 s">33750 SANTIAM HWY</td>
                    <td class="column2 style7 s">LEBANON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1891">
                    <td class="column0 style2 s">YUVI'S MART</td>
                    <td class="column1 style5 s">33750 SANTIAM HWY</td>
                    <td class="column2 style8 s">LEBANON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1892">
                    <td class="column0 style2 s">YUVI'S MART</td>
                    <td class="column1 style5 s">33750 SANTIAM HWY</td>
                    <td class="column2 style8 s">LEBANON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1893">
                    <td class="column0 style2 s">YUVI'S MART</td>
                    <td class="column1 style5 s">33750 SANTIAM HWY</td>
                    <td class="column2 style8 s">LEBANON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1894">
                    <td class="column0 style3 s">LEBANON LIQUOR STORE</td>
                    <td class="column1 style4 s">865 SOUTH MAIN ST</td>
                    <td class="column2 style7 s">LEBANON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1895">
                    <td class="column0 style2 s">LEBANON LIQUOR STORE</td>
                    <td class="column1 style5 s">865 SOUTH MAIN ST</td>
                    <td class="column2 style8 s">LEBANON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1896">
                    <td class="column0 style3 s">7TH STREET MART #1</td>
                    <td class="column1 style4 s">590 TANGENT ST</td>
                    <td class="column2 style7 s">LEBANON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1897">
                    <td class="column0 style2 s">7TH STREET MART #1</td>
                    <td class="column1 style5 s">590 TANGENT ST</td>
                    <td class="column2 style8 s">LEBANON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1898">
                    <td class="column0 style3 s">LEBANON MARKET</td>
                    <td class="column1 style4 s">1695 S MAIN ST</td>
                    <td class="column2 style7 s">LEBANON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1899">
                    <td class="column0 style2 s">LEBANON MARKET</td>
                    <td class="column1 style5 s">1695 S MAIN ST</td>
                    <td class="column2 style8 s">LEBANON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1900">
                    <td class="column0 style2 s">LEBANON MARKET</td>
                    <td class="column1 style5 s">1695 S MAIN ST</td>
                    <td class="column2 style8 s">LEBANON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1901">
                    <td class="column0 style3 s">GAME TIME 2</td>
                    <td class="column1 style4 s">3130 SANTIAM HWY</td>
                    <td class="column2 style7 s">LEBANON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1902">
                    <td class="column0 style2 s">GAME TIME 2</td>
                    <td class="column1 style5 s">3130 SANTIAM HWY</td>
                    <td class="column2 style8 s">LEBANON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1903">
                    <td class="column0 style3 s">THE INN AT SPANISH HEAD</td>
                    <td class="column1 style4 s">4009 S HWY 101</td>
                    <td class="column2 style7 s">LINCOLN CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>