
    <tr class="row170">
    <td class="column0 style2 s">MARKET OF CHOICE #11 ASH</td>
    <td class="column1 style5 s">1475 SISKIYOU BLVD</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row171">
    <td class="column0 style2 s">MARKET OF CHOICE #11 ASH</td>
    <td class="column1 style5 s">1475 SISKIYOU BLVD</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row172">
    <td class="column0 style2 s">MARKET OF CHOICE #11 ASH</td>
    <td class="column1 style5 s">1475 SISKIYOU BLVD</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row173">
    <td class="column0 style3 s">MINUTE MARKET #5 N MAIN ST</td>
    <td class="column1 style4 s">304 NORTH MAIN</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row174">
    <td class="column0 style2 s">MINUTE MARKET #5 N MN MF</td>
    <td class="column1 style5 s">304 NORTH MAIN</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row175">
    <td class="column0 style2 s">MINUTE MARKET #5 N MN MF</td>
    <td class="column1 style5 s">304 NORTH MAIN</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row176">
    <td class="column0 style3 s">BLACK SHEEP PUB &amp; RESTAURANT</td>
    <td class="column1 style4 s">51 N MAIN ST E</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row177">
    <td class="column0 style2 s">BLACK SHEEP PUB &amp; RESTAUR</td>
    <td class="column1 style5 s">51 N MAIN ST E</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row178">
    <td class="column0 style3 s">CREEKSIDE PIZZA BISTRO</td>
    <td class="column1 style4 s">92 1\2 N MAIN</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row179">
    <td class="column0 style2 s">CREEKSIDE PIZZA BISTRO</td>
    <td class="column1 style5 s">92 1\2 N MAIN</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row180">
    <td class="column0 style2 s">CREEKSIDE PIZZA BISTRO</td>
    <td class="column1 style5 s">92 1\2 N MAIN</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row181">
    <td class="column0 style3 s">WILD GOOSE</td>
    <td class="column1 style4 s">2365 HWY 66</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row182">
    <td class="column0 style2 s">WILD GOOSE</td>
    <td class="column1 style5 s">2365 HWY 66</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row183">
    <td class="column0 style3 s">OREGON CABARET THEATRE</td>
    <td class="column1 style4 s">241 HARGARDIN</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row184">
    <td class="column0 style2 s">OREGON CABARET THEATRE</td>
    <td class="column1 style5 s">241 HARGARDIN</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row185">
    <td class="column0 style2 s">OREGON CABARET THEATRE</td>
    <td class="column1 style5 s">241 HARGARDIN</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row186">
    <td class="column0 style2 s">OREGON CABARET THEATRE</td>
    <td class="column1 style5 s">241 HARGARDIN</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row187">
    <td class="column0 style2 s">OREGON CABARET THEATRE</td>
    <td class="column1 style5 s">241 HARGARDIN</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row188">
    <td class="column0 style2 s">OREGON CABARET THEATRE</td>
    <td class="column1 style5 s">241 HARGARDIN</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row189">
    <td class="column0 style3 s">ALBERTSONS #0573 ASHLAND</td>
    <td class="column1 style4 s">2301 ASHLAND ST</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row190">
    <td class="column0 style2 s">ALBERTSONS #0573 ASHLAND</td>
    <td class="column1 style5 s">2301 ASHLAND ST</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE SYRAH</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row191">
    <td class="column0 style2 s">ALBERTSONS #0573 ASHLAND</td>
    <td class="column1 style5 s">2301 ASHLAND ST</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row192">
    <td class="column0 style2 s">ALBERTSONS #0573 ASHLAND</td>
    <td class="column1 style5 s">2301 ASHLAND ST</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row193">
    <td class="column0 style2 s">ALBERTSONS #0573 ASHLAND</td>
    <td class="column1 style5 s">2301 ASHLAND ST</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row194">
    <td class="column0 style2 s">ALBERTSONS #0573 ASHLAND</td>
    <td class="column1 style5 s">2301 ASHLAND ST</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE MERLOT</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row195">
    <td class="column0 style2 s">ALBERTSONS #0573 ASHLAND</td>
    <td class="column1 style5 s">2301 ASHLAND ST</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row196">
    <td class="column0 style2 s">ALBERTSONS #0573 ASHLAND</td>
    <td class="column1 style5 s">2301 ASHLAND ST</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row197">
    <td class="column0 style2 s">ALBERTSONS #0573 ASHLAND</td>
    <td class="column1 style5 s">2301 ASHLAND ST</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row198">
    <td class="column0 style2 s">ALBERTSONS #0573 ASHLAND</td>
    <td class="column1 style5 s">2301 ASHLAND ST</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row199">
    <td class="column0 style2 s">ALBERTSONS #0573 ASHLAND</td>
    <td class="column1 style5 s">2301 ASHLAND ST</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row200">
    <td class="column0 style2 s">ALBERTSONS #0573 ASHLAND</td>
    <td class="column1 style5 s">2301 ASHLAND ST</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row201">
    <td class="column0 style2 s">ALBERTSONS #0573 ASHLAND</td>
    <td class="column1 style5 s">2301 ASHLAND ST</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row202">
    <td class="column0 style3 s">ASHLAND HILLS</td>
    <td class="column1 style4 s">2525 ASHLAND ST</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row203">
    <td class="column0 style2 s">ASHLAND HILLS</td>
    <td class="column1 style5 s">2525 ASHLAND ST</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row204">
    <td class="column0 style2 s">ASHLAND HILLS</td>
    <td class="column1 style5 s">2525 ASHLAND ST</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row205">
    <td class="column0 style2 s">ASHLAND HILLS</td>
    <td class="column1 style5 s">2525 ASHLAND ST</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row206">
    <td class="column0 style2 s">ASHLAND HILLS</td>
    <td class="column1 style5 s">2525 ASHLAND ST</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE VIOGNIER</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row207">
    <td class="column0 style2 s">ASHLAND HILLS</td>
    <td class="column1 style5 s">2525 ASHLAND ST</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row208">
    <td class="column0 style3 s">ASHLAND SPRINGS HOTEL</td>
    <td class="column1 style4 s">212 EAST MAIN</td>
    <td class="column2 style7 s">ASHLAND</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row209">
    <td class="column0 style2 s">ASHLAND SPRINGS HOTEL</td>
    <td class="column1 style5 s">212 EAST MAIN</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row210">
    <td class="column0 style2 s">ASHLAND SPRINGS HOTEL</td>
    <td class="column1 style5 s">212 EAST MAIN</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row211">
    <td class="column0 style2 s">ASHLAND SPRINGS HOTEL</td>
    <td class="column1 style5 s">212 EAST MAIN</td>
    <td class="column2 style8 s">ASHLAND</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row212">
    <td class="column0 style3 s">SAFEWAY #2627 ASTORIA</td>
    <td class="column1 style4 s">3250 LIEF ERICKSON DR</td>
    <td class="column2 style7 s">ASTORIA</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row213">
    <td class="column0 style2 s">SAFEWAY #2627 ASTORIA</td>
    <td class="column1 style5 s">3250 LIEF ERICKSON DR</td>
    <td class="column2 style8 s">ASTORIA</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row214">
    <td class="column0 style2 s">SAFEWAY #2627 ASTORIA</td>
    <td class="column1 style5 s">3250 LIEF ERICKSON DR</td>
    <td class="column2 style8 s">ASTORIA</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row215">
    <td class="column0 style3 s">HURRICANE RON'S</td>
    <td class="column1 style4 s">1331 &amp; 1335 MARINE DR</td>
    <td class="column2 style7 s">ASTORIA</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row216">
    <td class="column0 style2 s">HURRICANE RON'S</td>
    <td class="column1 style5 s">1331 &amp; 1335 MARINE DR</td>
    <td class="column2 style8 s">ASTORIA</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row217">
    <td class="column0 style3 s">KNAPPA MARKET</td>
    <td class="column1 style4 s">42930 KNAPPA CROSSROADS</td>
    <td class="column2 style7 s">ASTORIA</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row218">
    <td class="column0 style2 s">KNAPPA MARKET</td>
    <td class="column1 style5 s">42930 KNAPPA CROSSROADS</td>
    <td class="column2 style8 s">ASTORIA</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row219">
    <td class="column0 style2 s">KNAPPA MARKET</td>
    <td class="column1 style5 s">42930 KNAPPA CROSSROADS</td>
    <td class="column2 style8 s">ASTORIA</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row220">
    <td class="column0 style2 s">KNAPPA MARKET</td>
    <td class="column1 style5 s">42930 KNAPPA CROSSROADS</td>
    <td class="column2 style8 s">ASTORIA</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row221">
    <td class="column0 style3 s">BRIDGE &amp; TUNNEL BOTTLE SHOP</td>
    <td class="column1 style4 s">1390 DUANE ST</td>
    <td class="column2 style7 s">ASTORIA</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row222">
    <td class="column0 style2 s">BRIDGE &amp; TUNNEL BTLSHOP</td>
    <td class="column1 style5 s">1390 DUANE ST</td>
    <td class="column2 style8 s">ASTORIA</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD SYRAH PORT 375ML</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row223">
    <td class="column0 style2 s">BRIDGE &amp; TUNNEL BTLSHOP</td>
    <td class="column1 style5 s">1390 DUANE ST</td>
    <td class="column2 style8 s">ASTORIA</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row224">
    <td class="column0 style2 s">BRIDGE &amp; TUNNEL BTLSHOP</td>
    <td class="column1 style5 s">1390 DUANE ST</td>
    <td class="column2 style8 s">ASTORIA</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row225">
    <td class="column0 style3 s">STOP N SAVE #13</td>
    <td class="column1 style4 s">630 MAIN ST</td>
    <td class="column2 style7 s">AUMSVILLE</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row226">
    <td class="column0 style2 s">STOP N SAVE #13</td>
    <td class="column1 style5 s">630 MAIN ST</td>
    <td class="column2 style8 s">AUMSVILLE</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row227">
    <td class="column0 style3 s">76 - AURORA</td>
    <td class="column1 style4 s">21690 DELORES WAY NE</td>
    <td class="column2 style7 s">AURORA</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row228">
    <td class="column0 style2 s">76 - AURORA</td>
    <td class="column1 style5 s">21690 DELORES WAY NE</td>
    <td class="column2 style8 s">AURORA</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row229">
    <td class="column0 style3 s">ALBERTSONS #3211 - BAKER</td>
    <td class="column1 style4 s">1120 CAMPBELL ST</td>
    <td class="column2 style7 s">BAKER CITY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row230">
    <td class="column0 style2 s">ALBERTSONS #3211 - BAKER</td>
    <td class="column1 style5 s">1120 CAMPBELL ST</td>
    <td class="column2 style8 s">BAKER CITY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row231">
    <td class="column0 style3 s">RITE AID #5396</td>
    <td class="column1 style4 s">1217 CAMPBELL STREET</td>
    <td class="column2 style7 s">BAKER CITY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row232">
    <td class="column0 style2 s">RITE AID #5396</td>
    <td class="column1 style5 s">1217 CAMPBELL STREET</td>
    <td class="column2 style8 s">BAKER CITY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row233">
    <td class="column0 style3 s">MAVERIK #439 - BAKER CITY</td>
    <td class="column1 style4 s">1520 CAMPBELL ST</td>
    <td class="column2 style7 s">BAKER CITY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row234">
    <td class="column0 style2 s">MAVERIK #439 - BC</td>
    <td class="column1 style5 s">1520 CAMPBELL ST</td>
    <td class="column2 style8 s">BAKER CITY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row235">
    <td class="column0 style2 s">MAVERIK #439 - BC</td>
    <td class="column1 style5 s">1520 CAMPBELL ST</td>
    <td class="column2 style8 s">BAKER CITY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row236">
    <td class="column0 style3 s">SAFEWAY #4381 - BAKER CITY</td>
    <td class="column1 style4 s">1205 CAMPBELL</td>
    <td class="column2 style7 s">BAKER CITY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row237">
    <td class="column0 style2 s">SAFEWAY #4381 - BAKER CIT</td>
    <td class="column1 style5 s">1205 CAMPBELL</td>
    <td class="column2 style8 s">BAKER CITY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row238">
    <td class="column0 style3 s">RAYS FOODS #18</td>
    <td class="column1 style4 s">66 MICHIGAN AVE.</td>
    <td class="column2 style7 s">BANDON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row239">
    <td class="column0 style2 s">RAYS FOODS #18</td>
    <td class="column1 style5 s">66 MICHIGAN AVE.</td>
    <td class="column2 style8 s">BANDON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row240">
    <td class="column0 style2 s">RAYS FOODS #18</td>
    <td class="column1 style5 s">66 MICHIGAN AVE.</td>
    <td class="column2 style8 s">BANDON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row241">
    <td class="column0 style2 s">RAYS FOODS #18</td>
    <td class="column1 style5 s">66 MICHIGAN AVE.</td>
    <td class="column2 style8 s">BANDON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row242">
    <td class="column0 style3 s">THE BEVERAGE BARN</td>
    <td class="column1 style4 s">1225 OREGON AVE SE</td>
    <td class="column2 style7 s">BANDON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row243">
    <td class="column0 style2 s">BEVERAGE BARN THE</td>
    <td class="column1 style5 s">1225 OREGON AVE SE</td>
    <td class="column2 style8 s">BANDON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE SYRAH</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row244">
    <td class="column0 style2 s">BEVERAGE BARN THE</td>
    <td class="column1 style5 s">1225 OREGON AVE SE</td>
    <td class="column2 style8 s">BANDON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row245">
    <td class="column0 style2 s">BEVERAGE BARN THE</td>
    <td class="column1 style5 s">1225 OREGON AVE SE</td>
    <td class="column2 style8 s">BANDON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row246">
    <td class="column0 style2 s">BEVERAGE BARN THE</td>
    <td class="column1 style5 s">1225 OREGON AVE SE</td>
    <td class="column2 style8 s">BANDON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row247">
    <td class="column0 style3 s">WHEELHOUSE</td>
    <td class="column1 style4 s">125 CHICAGO</td>
    <td class="column2 style7 s">BANDON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row248">
    <td class="column0 style2 s">WHEELHOUSE</td>
    <td class="column1 style5 s">125 CHICAGO</td>
    <td class="column2 style8 s">BANDON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row249">
    <td class="column0 style2 s">WHEELHOUSE</td>
    <td class="column1 style5 s">125 CHICAGO</td>
    <td class="column2 style8 s">BANDON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row250">
    <td class="column0 style3 s">EDGEWATERS</td>
    <td class="column1 style4 s">480 1ST ST SW</td>
    <td class="column2 style7 s">BANDON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row251">
    <td class="column0 style2 s">EDGEWATERS</td>
    <td class="column1 style5 s">480 1ST ST SW</td>
    <td class="column2 style8 s">BANDON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row252">
    <td class="column0 style3 s">RITE AID #6710- BANDON</td>
    <td class="column1 style4 s">44 MICHIGAN AVE NE</td>
    <td class="column2 style7 s">BANDON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row253">
    <td class="column0 style2 s">RITE AID #6710- BANDON</td>
    <td class="column1 style5 s">44 MICHIGAN AVE NE</td>
    <td class="column2 style8 s">BANDON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row254">
    <td class="column0 style3 s">WILSON'S MARKET</td>
    <td class="column1 style4 s">90 JUNE AVENUE SE</td>
    <td class="column2 style7 s">BANDON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row255">
    <td class="column0 style2 s">WILSON'S MARKET</td>
    <td class="column1 style5 s">90 JUNE AVENUE SE</td>
    <td class="column2 style8 s">BANDON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row256">
    <td class="column0 style2 s">WILSON'S MARKET</td>
    <td class="column1 style5 s">90 JUNE AVENUE SE</td>
    <td class="column2 style8 s">BANDON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row257">
    <td class="column0 style3 s">THE LANDING RESTAURANT</td>
    <td class="column1 style4 s">5620 'B' STREET</td>
    <td class="column2 style7 s">BAY CITY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row258">
    <td class="column0 style2 s">LANDING RESTAURANT THE</td>
    <td class="column1 style5 s">5620 'B' STREET</td>
    <td class="column2 style8 s">BAY CITY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row259">
    <td class="column0 style3 s">CENTER MRKT #10 - BAY CITY</td>
    <td class="column1 style4 s">9320 5TH STREET</td>
    <td class="column2 style7 s">BAY CITY</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row260">
    <td class="column0 style2 s">CENTER MRKT #10 - BAYCITY</td>
    <td class="column1 style5 s">9320 5TH STREET</td>
    <td class="column2 style8 s">BAY CITY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row261">
    <td class="column0 style2 s">CENTER MRKT #10 - BAYCITY</td>
    <td class="column1 style5 s">9320 5TH STREET</td>
    <td class="column2 style8 s">BAY CITY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row262">
    <td class="column0 style2 s">CENTER MRKT #10 - BAYCITY</td>
    <td class="column1 style5 s">9320 5TH STREET</td>
    <td class="column2 style8 s">BAY CITY</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row263">
    <td class="column0 style3 s">ELMER'S BEAVERTON</td>
    <td class="column1 style4 s">1250 NW WATERHOUSE</td>
    <td class="column2 style7 s">BEAVERTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row264">
    <td class="column0 style2 s">ELMER'S BEAVERTON*</td>
    <td class="column1 style5 s">1250 NW WATERHOUSE</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row265">
    <td class="column0 style2 s">ELMER'S BEAVERTON*</td>
    <td class="column1 style5 s">1250 NW WATERHOUSE</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row266">
    <td class="column0 style3 s">RINGO'S</td>
    <td class="column1 style4 s">12300 SW BROADWAY</td>
    <td class="column2 style7 s">BEAVERTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row267">
    <td class="column0 style2 s">RINGO'S</td>
    <td class="column1 style5 s">12300 SW BROADWAY</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row268">
    <td class="column0 style2 s">RINGO'S</td>
    <td class="column1 style5 s">12300 SW BROADWAY</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row269">
    <td class="column0 style2 s">RINGO'S</td>
    <td class="column1 style5 s">12300 SW BROADWAY</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
    <td class="column5 style14 s"></td>
     <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row270">
    <td class="column0 style2 s">RINGO'S</td>
    <td class="column1 style5 s">12300 SW BROADWAY</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row271">
    <td class="column0 style3 s">NEW SEASONS #1111 BARROW</td>
    <td class="column1 style4 s">14805 SW BARROWS RD #103</td>
    <td class="column2 style7 s">BEAVERTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row272">
    <td class="column0 style2 s">NEW SEASONS #1111 BARROW</td>
    <td class="column1 style5 s">14805 SW BARROWS RD #103</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row273">
    <td class="column0 style2 s">NEW SEASONS #1111 BARROW</td>
    <td class="column1 style5 s">14805 SW BARROWS RD #103</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row274">
    <td class="column0 style2 s">NEW SEASONS #1111 BARROW</td>
    <td class="column1 style5 s">14805 SW BARROWS RD #103</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row275">
    <td class="column0 style2 s">NEW SEASONS #1111 BARROW</td>
    <td class="column1 style5 s">14805 SW BARROWS RD #103</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row276">
    <td class="column0 style3 s">PIZZA SCHMIZZA</td>
    <td class="column1 style4 s">18021 NW EVERGREEN STE B</td>
    <td class="column2 style7 s">BEAVERTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row277">
    <td class="column0 style2 s">PIZZA SCHMIZZA</td>
    <td class="column1 style5 s">18021 NW EVERGREEN STE B</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row278">
    <td class="column0 style2 s">PIZZA SCHMIZZA</td>
    <td class="column1 style5 s">18021 NW EVERGREEN STE B</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row279">
    <td class="column0 style3 s">WINCO FOODS #14 CEDAR HIL</td>
    <td class="column1 style4 s">3025 SW CEDAR HILLS BLVD</td>
    <td class="column2 style7 s">BEAVERTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row280">
    <td class="column0 style2 s">WINCO FOODS #14 CEDAR HIL</td>
    <td class="column1 style5 s">3025 SW CEDAR HILLS BLVD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row281">
    <td class="column0 style2 s">WINCO FOODS #14 CEDAR HIL</td>
    <td class="column1 style5 s">3025 SW CEDAR HILLS BLVD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row282">
    <td class="column0 style2 s">WINCO FOODS #14 CEDAR HIL</td>
    <td class="column1 style5 s">3025 SW CEDAR HILLS BLVD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row283">
    <td class="column0 style2 s">WINCO FOODS #14 CEDAR HIL</td>
    <td class="column1 style5 s">3025 SW CEDAR HILLS BLVD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row284">
    <td class="column0 style3 s">THE FIRESIDE GRILL</td>
    <td class="column1 style4 s">8136 SW HALL BLVD L</td>
    <td class="column2 style7 s">BEAVERTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row285">
    <td class="column0 style2 s">THE FIRESIDE GRILL</td>
    <td class="column1 style5 s">8136 SW HALL BLVD L</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row286">
    <td class="column0 style3 s">FRED MEYER #035-BEAVERTON</td>
    <td class="column1 style4 s">11425 SW BEAVERTON-HLSBRO</td>
    <td class="column2 style7 s">BEAVERTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row287">
    <td class="column0 style2 s">FRED MEYER #035-BEAVERTON</td>
    <td class="column1 style5 s">11425 SW BEAVERTON-HLSBRO</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row288">
    <td class="column0 style2 s">FRED MEYER #035-BEAVERTON</td>
    <td class="column1 style5 s">11425 SW BEAVERTON-HLSBRO</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row289">
    <td class="column0 style2 s">FRED MEYER #035-BEAVERTON</td>
    <td class="column1 style5 s">11425 SW BEAVERTON-HLSBRO</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row290">
    <td class="column0 style2 s">FRED MEYER #035-BEAVERTON</td>
    <td class="column1 style5 s">11425 SW BEAVERTON-HLSBRO</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row291">
    <td class="column0 style3 s">DECARLI RESTAURANT</td>
    <td class="column1 style4 s">4545 SW WATSON AVE</td>
    <td class="column2 style7 s">BEAVERTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row292">
    <td class="column0 style2 s">DECARLI RESTAURANT</td>
    <td class="column1 style5 s">4545 SW WATSON AVE</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row293">
    <td class="column0 style3 s">THE SPORTS PAGE</td>
    <td class="column1 style4 s">8590 SW HALL BLVD R</td>
    <td class="column2 style7 s">BEAVERTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row294">
    <td class="column0 style2 s">THE SPORTS PAGE</td>
    <td class="column1 style5 s">8590 SW HALL BLVD R</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row295">
    <td class="column0 style2 s">THE SPORTS PAGE</td>
    <td class="column1 style5 s">8590 SW HALL BLVD R</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row296">
    <td class="column0 style3 s">NEW SEASONS CEDAR HILLS</td>
    <td class="column1 style4 s">3495 SW CEDAR HILLS BLVD</td>
    <td class="column2 style7 s">BEAVERTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row297">
    <td class="column0 style2 s">NEW SEASONS #1108 C HILLS</td>
    <td class="column1 style5 s">3495 SW CEDAR HILLS BLVD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row298">
    <td class="column0 style2 s">NEW SEASONS #1108 C HILLS</td>
    <td class="column1 style5 s">3495 SW CEDAR HILLS BLVD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row299">
    <td class="column0 style2 s">NEW SEASONS #1108 C HILLS</td>
    <td class="column1 style5 s">3495 SW CEDAR HILLS BLVD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row300">
    <td class="column0 style2 s">NEW SEASONS #1108 C HILLS</td>
    <td class="column1 style5 s">3495 SW CEDAR HILLS BLVD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row301">
    <td class="column0 style3 s">SAFEWAY #2631 MURRAYHILL</td>
    <td class="column1 style4 s">14555 SW TEAL BOULEVARD</td>
    <td class="column2 style7 s">BEAVERTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row302">
    <td class="column0 style2 s">SAFEWAY #2631 MURRAYHILL</td>
    <td class="column1 style5 s">14555 SW TEAL BOULEVARD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row303">
    <td class="column0 style2 s">SAFEWAY #2631 MURRAYHILL</td>
    <td class="column1 style5 s">14555 SW TEAL BOULEVARD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row304">
    <td class="column0 style2 s">SAFEWAY #2631 MURRAYHILL</td>
    <td class="column1 style5 s">14555 SW TEAL BOULEVARD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row305">
    <td class="column0 style2 s">SAFEWAY #2631 MURRAYHILL</td>
    <td class="column1 style5 s">14555 SW TEAL BOULEVARD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row306">
    <td class="column0 style2 s">SAFEWAY #2631 MURRAYHILL</td>
    <td class="column1 style5 s">14555 SW TEAL BOULEVARD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row307">
    <td class="column0 style3 s">SAFEWAY #1073 MURRAY</td>
    <td class="column1 style4 s">6194 SW MURRAY</td>
    <td class="column2 style7 s">BEAVERTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row308">
    <td class="column0 style2 s">SAFEWAY #1073 MURRAY</td>
    <td class="column1 style5 s">6194 SW MURRAY</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row309">
    <td class="column0 style3 s">EVERGREEN CURLING CLUB**</td>
    <td class="column1 style4 s">10950 SW 5TH ST #155</td>
    <td class="column2 style7 s">BEAVERTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row310">
    <td class="column0 style2 s">EVERGREEN CURLING CLUB**</td>
    <td class="column1 style5 s">10950 SW 5TH ST #155</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row311">
    <td class="column0 style2 s">EVERGREEN CURLING CLUB**</td>
    <td class="column1 style5 s">10950 SW 5TH ST #155</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row312">
    <td class="column0 style3 s">PACIFIC GROWLERS</td>
    <td class="column1 style4 s">11427 SW SCHOLLS FERRY RD</td>
    <td class="column2 style7 s">BEAVERTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row313">
    <td class="column0 style2 s">PACIFIC GROWLERS</td>
    <td class="column1 style5 s">11427 SW SCHOLLS FERRY RD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row314">
    <td class="column0 style3 s">VAULT AT LASCALA</td>
    <td class="column1 style4 s">4725 SW LOMBARD AVE #5</td>
    <td class="column2 style7 s">BEAVERTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row315">
    <td class="column0 style2 s">VAULT AT LASCALA</td>
    <td class="column1 style5 s">4725 SW LOMBARD AVE #5</td>
     <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row316">
    <td class="column0 style2 s">VAULT AT LASCALA</td>
    <td class="column1 style5 s">4725 SW LOMBARD AVE #5</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row317">
    <td class="column0 style2 s">VAULT AT LASCALA</td>
    <td class="column1 style5 s">4725 SW LOMBARD AVE #5</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row318">
    <td class="column0 style3 s">FRED MEYER #482-WALKER</td>
    <td class="column1 style4 s">15995 SW WALKER ROAD</td>
    <td class="column2 style7 s">BEAVERTON</td>
    <td class="column3 style10 s">OR</td>
    <td class="column4 style21 s">&nbsp;</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row319">
    <td class="column0 style2 s">FRED MEYER #482-WALKER</td>
    <td class="column1 style5 s">15995 SW WALKER ROAD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row320">
    <td class="column0 style2 s">FRED MEYER #482-WALKER</td>
    <td class="column1 style5 s">15995 SW WALKER ROAD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row321">
    <td class="column0 style2 s">FRED MEYER #482-WALKER</td>
    <td class="column1 style5 s">15995 SW WALKER ROAD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row322">
    <td class="column0 style2 s">FRED MEYER #482-WALKER</td>
    <td class="column1 style5 s">15995 SW WALKER ROAD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row323">
    <td class="column0 style2 s">FRED MEYER #482-WALKER</td>
    <td class="column1 style5 s">15995 SW WALKER ROAD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row324">
    <td class="column0 style2 s">FRED MEYER #482-WALKER</td>
    <td class="column1 style5 s">15995 SW WALKER ROAD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>
    <tr class="row325">
    <td class="column0 style2 s">FRED MEYER #482-WALKER</td>
    <td class="column1 style5 s">15995 SW WALKER ROAD</td>
    <td class="column2 style8 s">BEAVERTON</td>
    <td class="column3 style11 s">OR</td>
    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
    <td class="column5 style14 s"></td>
    <td class="column6">&nbsp;</td>
    </tr>