               
                <tr class="row1673">
                    <td class="column0 style3 s">UBHILL ONE</td>
                    <td class="column1 style4 s">P.O. BOX 876</td>
                    <td class="column2 style7 s">JACKSONVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1674">
                    <td class="column0 style2 s">UBHILL ONE</td>
                    <td class="column1 style5 s">P.O. BOX 876</td>
                    <td class="column2 style8 s">JACKSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1675">
                    <td class="column0 style2 s">UBHILL ONE</td>
                    <td class="column1 style5 s">P.O. BOX 876</td>
                    <td class="column2 style8 s">JACKSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1676">
                    <td class="column0 style2 s">UBHILL ONE</td>
                    <td class="column1 style5 s">P.O. BOX 876</td>
                    <td class="column2 style8 s">JACKSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1677">
                    <td class="column0 style2 s">UBHILL ONE</td>
                    <td class="column1 style5 s">P.O. BOX 876</td>
                    <td class="column2 style8 s">JACKSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1678">
                    <td class="column0 style3 s">UMI SUSHI JACKSONVILLE</td>
                    <td class="column1 style4 s">100 CALIFORNIA STREET</td>
                    <td class="column2 style7 s">JACKSONVILLE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1679">
                    <td class="column0 style2 s">UMI SUSHI JVILLE</td>
                    <td class="column1 style5 s">100 CALIFORNIA STREET</td>
                    <td class="column2 style8 s">JACKSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE MERLOT</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1680">
                    <td class="column0 style2 s">UMI SUSHI JVILLE</td>
                    <td class="column1 style5 s">100 CALIFORNIA STREET</td>
                    <td class="column2 style8 s">JACKSONVILLE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1681">
                    <td class="column0 style3 s">WELCOME INN</td>
                    <td class="column1 style4 s">132 S MAIN</td>
                    <td class="column2 style7 s">JEFFERSON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1682">
                    <td class="column0 style2 s">WELCOME INN</td>
                    <td class="column1 style5 s">132 S MAIN</td>
                    <td class="column2 style8 s">JEFFERSON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1683">
                    <td class="column0 style2 s">WELCOME INN</td>
                    <td class="column1 style5 s">132 S MAIN</td>
                    <td class="column2 style8 s">JEFFERSON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1684">
                    <td class="column0 style2 s">WELCOME INN</td>
                    <td class="column1 style5 s">132 S MAIN</td>
                    <td class="column2 style8 s">JEFFERSON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1685">
                    <td class="column0 style3 s">JEFFERSON THRIFTWAY</td>
                    <td class="column1 style4 s">103 OLD PACIFIC HWY</td>
                    <td class="column2 style7 s">JEFFERSON</td>
                     <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1686">
                    <td class="column0 style2 s">JEFFERSON THRIFTWAY</td>
                    <td class="column1 style5 s">103 OLD PACIFIC HWY</td>
                    <td class="column2 style8 s">JEFFERSON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1687">
                    <td class="column0 style3 s">SANTIAM MARKET</td>
                    <td class="column1 style4 s">114 N 2ND ST</td>
                    <td class="column2 style7 s">JEFFERSON</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1688">
                    <td class="column0 style2 s">SANTIAM MARKET</td>
                    <td class="column1 style5 s">114 N 2ND ST</td>
                    <td class="column2 style8 s">JEFFERSON</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1689">
                    <td class="column0 style3 s">ANTON'S HOME &amp; SPIRITS</td>
                    <td class="column1 style4 s">6 SOUTH MAIN ST</td>
                    <td class="column2 style7 s">JOSEPH</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1690">
                    <td class="column0 style2 s">ANTON'S HOME &amp; SPIRITS</td>
                    <td class="column1 style5 s">6 SOUTH MAIN ST</td>
                    <td class="column2 style8 s">JOSEPH</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1691">
                    <td class="column0 style3 s">SAFEWAY #386 JUNCTION CTY</td>
                    <td class="column1 style4 s">1755 IVY STREET</td>
                    <td class="column2 style7 s">JUNCTION CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1692">
                    <td class="column0 style2 s">SAFEWAY #386 JUNCTION CTY</td>
                    <td class="column1 style5 s">1755 IVY STREET</td>
                    <td class="column2 style8 s">JUNCTION CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1693">
                    <td class="column0 style2 s">SAFEWAY #386 JUNCTION CTY</td>
                    <td class="column1 style5 s">1755 IVY STREET</td>
                    <td class="column2 style8 s">JUNCTION CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1694">
                    <td class="column0 style3 s">BI-MART #670 JUNCTION CTY</td>
                    <td class="column1 style4 s">110 E 6TH AVE</td>
                    <td class="column2 style7 s">JUNCTION CITY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                     <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1695">
                    <td class="column0 style2 s">BI-MART #670 JUNCTION CTY</td>
                    <td class="column1 style5 s">110 E 6TH AVE</td>
                    <td class="column2 style8 s">JUNCTION CITY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1696">
                    <td class="column0 style3 s">ELKS CLUB #2472</td>
                    <td class="column1 style4 s">4250 CHERRY NE</td>
                    <td class="column2 style7 s">KEIZER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1697">
                    <td class="column0 style2 s">ELKS CLUB #2472</td>
                    <td class="column1 style5 s">4250 CHERRY NE</td>
                    <td class="column2 style8 s">KEIZER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1698">
                    <td class="column0 style3 s">KEIZER LIQUOR STORE</td>
                    <td class="column1 style4 s">5021 RIVER RD N</td>
                    <td class="column2 style7 s">KEIZER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1699">
                    <td class="column0 style2 s">KEIZER LIQUOR STORE</td>
                    <td class="column1 style5 s">5021 RIVER RD N</td>
                    <td class="column2 style8 s">KEIZER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1700">
                    <td class="column0 style2 s">KEIZER LIQUOR STORE</td>
                    <td class="column1 style5 s">5021 RIVER RD N</td>
                    <td class="column2 style8 s">KEIZER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD SYRAH PORT 375ML</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1701">
                    <td class="column0 style2 s">KEIZER LIQUOR STORE</td>
                    <td class="column1 style5 s">5021 RIVER RD N</td>
                    <td class="column2 style8 s">KEIZER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1702">
                    <td class="column0 style3 s">SMOKER FRIENDLY #2</td>
                    <td class="column1 style4 s">5135 RIVER RD N</td>
                    <td class="column2 style7 s">KEIZER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1703">
                    <td class="column0 style2 s">SMOKER FRIENDLY #2</td>
                    <td class="column1 style5 s">5135 RIVER RD N</td>
                    <td class="column2 style8 s">KEIZER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1704">
                    <td class="column0 style3 s">SAFEWAY #1516 KEIZER</td>
                    <td class="column1 style4 s">4990 RIVER ROAD N</td>
                    <td class="column2 style7 s">KEIZER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1705">
                    <td class="column0 style2 s">SAFEWAY #1516 KEIZER</td>
                    <td class="column1 style5 s">4990 RIVER ROAD N</td>
                    <td class="column2 style8 s">KEIZER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1706">
                    <td class="column0 style2 s">SAFEWAY #1516 KEIZER</td>
                    <td class="column1 style5 s">4990 RIVER ROAD N</td>
                    <td class="column2 style8 s">KEIZER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1707">
                    <td class="column0 style3 s">ALL STARS SPORTS GRILL</td>
                    <td class="column1 style4 s">4900 RIVER RD N</td>
                    <td class="column2 style7 s">KEIZER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1708">
                    <td class="column0 style2 s">ALL STARS SPORTS GRILL</td>
                    <td class="column1 style5 s">4900 RIVER RD N</td>
                    <td class="column2 style8 s">KEIZER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1709">
                    <td class="column0 style3 s">BI-MART #624 KEIZER</td>
                    <td class="column1 style4 s">3862 RIVER RD N</td>
                    <td class="column2 style7 s">KEIZER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1710">
                    <td class="column0 style2 s">BI-MART #624 KEIZER</td>
                    <td class="column1 style5 s">3862 RIVER RD N</td>
                    <td class="column2 style8 s">KEIZER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1711">
                    <td class="column0 style3 s">LA HACIENDA REAL #2</td>
                    <td class="column1 style4 s">5024 RIVER RD N</td>
                    <td class="column2 style7 s">KEIZER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1712">
                    <td class="column0 style2 s">LA HACIENDA REAL #2*</td>
                    <td class="column1 style5 s">5024 RIVER RD N</td>
                    <td class="column2 style8 s">KEIZER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1713">
                    <td class="column0 style3 s">WAREMART BY WINCO #153</td>
                    <td class="column1 style4 s">5450 RIVER RD N</td>
                    <td class="column2 style7 s">KEIZER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1714">
                    <td class="column0 style2 s">WAREMART BY WINCO #153</td>
                    <td class="column1 style5 s">5450 RIVER RD N</td>
                    <td class="column2 style8 s">KEIZER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1715">
                    <td class="column0 style3 s">KOLBY'S REST BAR &amp; BILLIARDS</td>
                    <td class="column1 style4 s">3838 RIVER RD N</td>
                    <td class="column2 style7 s">KEIZER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1716">
                    <td class="column0 style2 s">KOLBY'S REST BAR &amp; BILLIA</td>
                    <td class="column1 style5 s">3838 RIVER RD N</td>
                    <td class="column2 style8 s">KEIZER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1717">
                    <td class="column0 style3 s">RITE AID #05364- KEIZER</td>
                    <td class="column1 style4 s">5452 RIVER ROAD N</td>
                    <td class="column2 style7 s">KEIZER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1718">
                    <td class="column0 style2 s">RITE AID #05364- KEIZER</td>
                    <td class="column1 style5 s">5452 RIVER ROAD N</td>
                    <td class="column2 style8 s">KEIZER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1719">
                    <td class="column0 style3 s">COST PLUS #319 KEIZER</td>
                    <td class="column1 style4 s">6160 ULALI DR NE</td>
                    <td class="column2 style7 s">KEIZER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1720">
                    <td class="column0 style2 s">COST PLUS #319 KEIZER</td>
                    <td class="column1 style5 s">6160 ULALI DR NE</td>
                    <td class="column2 style8 s">KEIZER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1721">
                    <td class="column0 style2 s">COST PLUS #319 KEIZER</td>
                    <td class="column1 style5 s">6160 ULALI DR NE</td>
                    <td class="column2 style8 s">KEIZER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1722">
                    <td class="column0 style3 s">SMOKER FRIENDLY #3</td>
                    <td class="column1 style4 s">3510 RIVER ROAD NORTH</td>
                    <td class="column2 style7 s">KEIZER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1723">
                    <td class="column0 style2 s">SMOKER FRIENDLY #3</td>
                    <td class="column1 style5 s">3510 RIVER ROAD NORTH</td>
                    <td class="column2 style8 s">KEIZER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1724">
                    <td class="column0 style3 s">NEIGHBORHOOD MARKET</td>
                    <td class="column1 style4 s">711 CHEMAWA RD NO</td>
                    <td class="column2 style7 s">KEIZER</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1725">
                    <td class="column0 style2 s">NEIGHBORHOOD MARKET</td>
                    <td class="column1 style5 s">711 CHEMAWA RD NO</td>
                    <td class="column2 style8 s">KEIZER</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1726">
                    <td class="column0 style3 s">KENO STORE</td>
                    <td class="column1 style4 s">HWY 66/ BOX 124</td>
                    <td class="column2 style7 s">KENO</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1727">
                    <td class="column0 style2 s">KENO STORE</td>
                    <td class="column1 style5 s">HWY 66/ BOX 124</td>
                    <td class="column2 style8 s">KENO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1728">
                    <td class="column0 style2 s">KENO STORE</td>
                    <td class="column1 style5 s">HWY 66/ BOX 124</td>
                    <td class="column2 style8 s">KENO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1729">
                    <td class="column0 style2 s">KENO STORE</td>
                    <td class="column1 style5 s">HWY 66/ BOX 124</td>
                    <td class="column2 style8 s">KENO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1730">
                    <td class="column0 style2 s">KENO STORE</td>
                    <td class="column1 style5 s">HWY 66/ BOX 124</td>
                    <td class="column2 style8 s">KENO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1731">
                    <td class="column0 style3 s">CHEVRON #155-6TH ST KLAMATH FALLS</td>
                    <td class="column1 style4 s">3434 S 6TH ST</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1732">
                    <td class="column0 style2 s">CHEVRON #155-6TH ST KF</td>
                     <td class="column1 style5 s">3434 S 6TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1733">
                    <td class="column0 style2 s">CHEVRON #155-6TH ST KF</td>
                    <td class="column1 style5 s">3434 S 6TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1734">
                    <td class="column0 style2 s">CHEVRON #155-6TH ST KF</td>
                    <td class="column1 style5 s">3434 S 6TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1735">
                    <td class="column0 style2 s">CHEVRON #155-6TH ST KF</td>
                    <td class="column1 style5 s">3434 S 6TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1736">
                    <td class="column0 style3 s">GINO'S CAFE &amp; SPORTS BAR</td>
                    <td class="column1 style4 s">147 E MAIN ST</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1737">
                    <td class="column0 style2 s">GINO'S CAFE &amp; SPORTS BAR</td>
                    <td class="column1 style5 s">147 E MAIN ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1738">
                    <td class="column0 style3 s">SHASTA MARKET</td>
                    <td class="column1 style4 s">5745 SHASTA WAY</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1739">
                    <td class="column0 style2 s">SHASTA MARKET</td>
                    <td class="column1 style5 s">5745 SHASTA WAY</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1740">
                    <td class="column0 style3 s">ROSTEROLLA WINE COMPANY</td>
                    <td class="column1 style4 s">808 MAIN STREET</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1741">
                    <td class="column0 style2 s">ROSTEROLLA WINE COMPANY</td>
                    <td class="column1 style5 s">808 MAIN STREET</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1742">
                    <td class="column0 style3 s">CAMPUS VALERO INC.</td>
                    <td class="column1 style4 s">2820 BIEHN ST.</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1743">
                    <td class="column0 style2 s">CAMPUS VALERO INC.</td>
                    <td class="column1 style5 s">2820 BIEHN ST.</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1744">
                    <td class="column0 style2 s">CAMPUS VALERO INC.</td>
                    <td class="column1 style5 s">2820 BIEHN ST.</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1745">
                    <td class="column0 style2 s">CAMPUS VALERO INC.</td>
                    <td class="column1 style5 s">2820 BIEHN ST.</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1746">
                    <td class="column0 style3 s">BI-MART #611 WASHBURN KF</td>
                    <td class="column1 style4 s">1920 WASHBURN WAY</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1747">
                    <td class="column0 style2 s">BI-MART #611 WASHBURN KF</td>
                    <td class="column1 style5 s">1920 WASHBURN WAY</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1748">
                    <td class="column0 style3 s">HOLIDAY MARKET</td>
                    <td class="column1 style4 s">211 N 8TH ST</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1749">
                    <td class="column0 style2 s">HOLIDAY MARKET</td>
                    <td class="column1 style5 s">211 N 8TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1750">
                    <td class="column0 style2 s">HOLIDAY MARKET</td>
                    <td class="column1 style5 s">211 N 8TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1751">
                    <td class="column0 style2 s">HOLIDAY MARKET</td>
                    <td class="column1 style5 s">211 N 8TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1752">
                    <td class="column0 style2 s">HOLIDAY MARKET</td>
                    <td class="column1 style5 s">211 N 8TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1753">
                    <td class="column0 style2 s">HOLIDAY MARKET</td>
                    <td class="column1 style5 s">211 N 8TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1754">
                    <td class="column0 style2 s">HOLIDAY MARKET</td>
                    <td class="column1 style5 s">211 N 8TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1755">
                    <td class="column0 style2 s">HOLIDAY MARKET</td>
                    <td class="column1 style5 s">211 N 8TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1756">
                    <td class="column0 style2 s">HOLIDAY MARKET</td>
                    <td class="column1 style5 s">211 N 8TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1757">
                    <td class="column0 style3 s">SHERM'S THUNDERBIRD KLAMATH FALLS</td>
                    <td class="column1 style4 s">1877 AVALON ST</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1758">
                    <td class="column0 style2 s">SHERM'S THUNDERBIRD KF</td>
                    <td class="column1 style5 s">1877 AVALON ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1759">
                    <td class="column0 style2 s">SHERM'S THUNDERBIRD KF</td>
                    <td class="column1 style5 s">1877 AVALON ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                     <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1760">
                    <td class="column0 style2 s">SHERM'S THUNDERBIRD KF</td>
                    <td class="column1 style5 s">1877 AVALON ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1761">
                    <td class="column0 style2 s">SHERM'S THUNDERBIRD KF</td>
                    <td class="column1 style5 s">1877 AVALON ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1762">
                    <td class="column0 style2 s">SHERM'S THUNDERBIRD KF</td>
                    <td class="column1 style5 s">1877 AVALON ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1763">
                    <td class="column0 style2 s">SHERM'S THUNDERBIRD KF</td>
                    <td class="column1 style5 s">1877 AVALON ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1764">
                    <td class="column0 style2 s">SHERM'S THUNDERBIRD KF</td>
                    <td class="column1 style5 s">1877 AVALON ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1765">
                    <td class="column0 style2 s">SHERM'S THUNDERBIRD KF</td>
                    <td class="column1 style5 s">1877 AVALON ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1766">
                    <td class="column0 style3 s">RUNNING Y RUDDY DUCK</td>
                    <td class="column1 style4 s">5500 RUNNING Y RD</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1767">
                    <td class="column0 style2 s">RUNNING Y RUDDY DUCK</td>
                    <td class="column1 style5 s">5500 RUNNING Y RD</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1768">
                    <td class="column0 style2 s">RUNNING Y RUDDY DUCK</td>
                    <td class="column1 style5 s">5500 RUNNING Y RD</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1769">
                    <td class="column0 style2 s">RUNNING Y RUDDY DUCK</td>
                    <td class="column1 style5 s">5500 RUNNING Y RD</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1770">
                    <td class="column0 style3 s">MAC'S STORE</td>
                    <td class="column1 style4 s">12450 HWY 39</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1771">
                    <td class="column0 style2 s">MAC'S STORE</td>
                    <td class="column1 style5 s">12450 HWY 39</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1772">
                    <td class="column0 style3 s">EASTSIDE LIQUOR</td>
                    <td class="column1 style4 s">4335 SOUTH 6TH ST</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1773">
                    <td class="column0 style2 s">EASTSIDE LIQUOR INC</td>
                    <td class="column1 style5 s">4335 SOUTH 6TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1774">
                    <td class="column0 style2 s">EASTSIDE LIQUOR INC</td>
                    <td class="column1 style5 s">4335 SOUTH 6TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1775">
                    <td class="column0 style2 s">EASTSIDE LIQUOR INC</td>
                    <td class="column1 style5 s">4335 SOUTH 6TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1776">
                    <td class="column0 style2 s">EASTSIDE LIQUOR INC</td>
                    <td class="column1 style5 s">4335 SOUTH 6TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1777">
                    <td class="column0 style2 s">EASTSIDE LIQUOR INC</td>
                    <td class="column1 style5 s">4335 SOUTH 6TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1778">
                     <td class="column0 style2 s">EASTSIDE LIQUOR INC</td>
                    <td class="column1 style5 s">4335 SOUTH 6TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1779">
                    <td class="column0 style2 s">EASTSIDE LIQUOR INC</td>
                    <td class="column1 style5 s">4335 SOUTH 6TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1780">
                    <td class="column0 style2 s">EASTSIDE LIQUOR INC</td>
                    <td class="column1 style5 s">4335 SOUTH 6TH ST</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1781">
                    <td class="column0 style3 s">FRED MEYER #165 SHASTA KFALLS</td>
                    <td class="column1 style4 s">2655 SHASTA WAY</td>
                    <td class="column2 style7 s">KLAMATH FALLS</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1782">
                    <td class="column0 style2 s">FRED MEYER #165 SHASTA KF</td>
                    <td class="column1 style5 s">2655 SHASTA WAY</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1783">
                    <td class="column0 style2 s">FRED MEYER #165 SHASTA KF</td>
                    <td class="column1 style5 s">2655 SHASTA WAY</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row1784">
                    <td class="column0 style2 s">FRED MEYER #165 SHASTA KF</td>
                    <td class="column1 style5 s">2655 SHASTA WAY</td>
                    <td class="column2 style8 s">KLAMATH FALLS</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>