
                <tr class="row3037">
                <td class="column0 style3 s">QFC #205 - BURNSIDE</td>
                <td class="column1 style4 s">5544 E BURNSIDE R</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3038">
                <td class="column0 style2 s">QFC #205 - BURNSIDE</td>
                <td class="column1 style5 s">5544 E BURNSIDE R</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3039">
                <td class="column0 style2 s">QFC #205 - BURNSIDE</td>
                <td class="column1 style5 s">5544 E BURNSIDE R</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3040">
                <td class="column0 style2 s">QFC #205 - BURNSIDE</td>
                <td class="column1 style5 s">5544 E BURNSIDE R</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3041">
                <td class="column0 style2 s">QFC #205 - BURNSIDE</td>
                <td class="column1 style5 s">5544 E BURNSIDE R</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3042">
                <td class="column0 style2 s">QFC #205 - BURNSIDE</td>
                <td class="column1 style5 s">5544 E BURNSIDE R</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3043">
                <td class="column0 style3 s">STANICH'S NE</td>
                <td class="column1 style4 s">4915 NE FREMONT</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3044">
                <td class="column0 style2 s">STANICH'S NE</td>
                <td class="column1 style5 s">4915 NE FREMONT</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT CAB SAUV</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3045">
                <td class="column0 style3 s">7-ELEVEN #35695 KLNGSWRTH</td>
                <td class="column1 style4 s">1516 NE KILLINGSWORTH</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3046">
                <td class="column0 style2 s">7-ELEVEN #35695 KLNGSWRTH</td>
                 <td class="column1 style5 s">1516 NE KILLINGSWORTH</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3047">
                <td class="column0 style3 s">STORMBREAKER BREWING</td>
                <td class="column1 style4 s">832 N BEECH ST</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3048">
                <td class="column0 style2 s">STORMBREAKER BREWING</td>
                <td class="column1 style5 s">832 N BEECH ST</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3049">
                <td class="column0 style2 s">STORMBREAKER BREWING</td>
                <td class="column1 style5 s">832 N BEECH ST</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3050">
                <td class="column0 style2 s">STORMBREAKER BREWING</td>
                <td class="column1 style5 s">832 N BEECH ST</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3051">
                <td class="column0 style2 s">STORMBREAKER BREWING</td>
                <td class="column1 style5 s">832 N BEECH ST</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3052">
                <td class="column0 style2 s">STORMBREAKER BREWING</td>
                <td class="column1 style5 s">832 N BEECH ST</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3053">
                <td class="column0 style2 s">STORMBREAKER BREWING</td>
                <td class="column1 style5 s">832 N BEECH ST</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3054">
                <td class="column0 style3 s">FRED MEYER #150-INTERSTATE</td>
                <td class="column1 style4 s">7404 N INTERSTATE</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3055">
                <td class="column0 style2 s">FRED MEYER #150-INTRSTATE</td>
                <td class="column1 style5 s">7404 N INTERSTATE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3056">
                <td class="column0 style2 s">FRED MEYER #150-INTRSTATE</td>
                <td class="column1 style5 s">7404 N INTERSTATE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3057">
                <td class="column0 style2 s">FRED MEYER #150-INTRSTATE</td>
                <td class="column1 style5 s">7404 N INTERSTATE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3058">
                <td class="column0 style2 s">FRED MEYER #150-INTRSTATE</td>
                <td class="column1 style5 s">7404 N INTERSTATE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3059">
                <td class="column0 style2 s">FRED MEYER #150-INTRSTATE</td>
                <td class="column1 style5 s">7404 N INTERSTATE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3060">
                <td class="column0 style3 s">BI-MART #629 POWELL #</td>
                <td class="column1 style4 s">17108 SE POWELL</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3061">
                <td class="column0 style2 s">BI-MART #629 POWELL #</td>
                <td class="column1 style5 s">17108 SE POWELL</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3062">
                <td class="column0 style3 s">SAFEWAY #1627 POWELL</td>
                <td class="column1 style4 s">3930 SE POWELL BLVD</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3063">
                <td class="column0 style2 s">SAFEWAY #1627 POWELL</td>
                <td class="column1 style5 s">3930 SE POWELL BLVD</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3064">
                <td class="column0 style2 s">SAFEWAY #1627 POWELL</td>
                <td class="column1 style5 s">3930 SE POWELL BLVD</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3065">
                <td class="column0 style3 s">TRIPLE CROWN FOOD</td>
                <td class="column1 style4 s">8203 N DENVER R</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3066">
                <td class="column0 style2 s">TRIPLE CROWN FOOD</td>
                <td class="column1 style5 s">8203 N DENVER R</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3067">
                <td class="column0 style2 s">TRIPLE CROWN FOOD</td>
                <td class="column1 style5 s">8203 N DENVER R</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3068">
                <td class="column0 style3 s">ALBERTSONS #0505 SHATTUCK</td>
                <td class="column1 style4 s">5415 SW BEAV-HILLS</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3069">
                <td class="column0 style2 s">ALBERTSONS #0505 SHATTUCK</td>
                <td class="column1 style5 s">5415 SW BEAV-HILLS</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3070">
                <td class="column0 style2 s">ALBERTSONS #0505 SHATTUCK</td>
                <td class="column1 style5 s">5415 SW BEAV-HILLS</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3071">
                <td class="column0 style3 s">EDS MARKET</td>
                <td class="column1 style4 s">207 N LOMBARD</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3072">
                <td class="column0 style2 s">EDS MARKET</td>
                <td class="column1 style5 s">207 N LOMBARD</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3073">
                <td class="column0 style3 s">NEW SEASONS RALEIGH HILLS</td>
                <td class="column1 style4 s">7300 SW BEAV-HILLS</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                 <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3074">
                <td class="column0 style2 s">NEW SEASONS #1101 R HILLS</td>
                <td class="column1 style5 s">7300 SW BEAV-HILLS</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3075">
                <td class="column0 style2 s">NEW SEASONS #1101 R HILLS</td>
                <td class="column1 style5 s">7300 SW BEAV-HILLS</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3076">
                <td class="column0 style2 s">NEW SEASONS #1101 R HILLS</td>
                <td class="column1 style5 s">7300 SW BEAV-HILLS</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3077">
                <td class="column0 style3 s">DELTA INN MINI MART</td>
                <td class="column1 style4 s">9930 N WHITAKER RD L</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3078">
                <td class="column0 style2 s">DELTA INN MINI MART</td>
                <td class="column1 style5 s">9930 N WHITAKER RD L</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3079">
                <td class="column0 style3 s">7-ELEVEN #25742 BEAV/HILL</td>
                <td class="column1 style4 s">9145 SW BEAV-HILLS</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3080">
                <td class="column0 style2 s">7-ELEVEN #25742 BEAV/HILL</td>
                <td class="column1 style5 s">9145 SW BEAV-HILLS</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3081">
                <td class="column0 style3 s">YOKO'S JAPANESE RESTAURANT</td>
                <td class="column1 style4 s">2878 SE GLADSTONE</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3082">
                <td class="column0 style2 s">YOKO'S JAPANESE REST*</td>
                <td class="column1 style5 s">2878 SE GLADSTONE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3083">
                <td class="column0 style3 s">EVEREST M MARKET</td>
                <td class="column1 style4 s">3734 NE 42ND</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3084">
                <td class="column0 style2 s">EVEREST M MARKET</td>
                <td class="column1 style5 s">3734 NE 42ND</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3085">
                <td class="column0 style2 s">EVEREST M MARKET</td>
                <td class="column1 style5 s">3734 NE 42ND</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3086">
                <td class="column0 style3 s">WINCO FOODS #15 NE 122ND</td>
                <td class="column1 style4 s">1950 NE 122ND</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3087">
                <td class="column0 style2 s">WINCO FOODS #15 NE 122ND</td>
                <td class="column1 style5 s">1950 NE 122ND</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3088">
                <td class="column0 style2 s">WINCO FOODS #15 NE 122ND</td>
                <td class="column1 style5 s">1950 NE 122ND</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3089">
                <td class="column0 style2 s">WINCO FOODS #15 NE 122ND</td>
                <td class="column1 style5 s">1950 NE 122ND</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3090">
                <td class="column0 style2 s">WINCO FOODS #15 NE 122ND</td>
                <td class="column1 style5 s">1950 NE 122ND</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3091">
                <td class="column0 style3 s">IN AND OUT MARKET</td>
                <td class="column1 style4 s">21130 SE STARK</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3092">
                <td class="column0 style2 s">IN AND OUT MARKET</td>
                <td class="column1 style5 s">21130 SE STARK</td>
                 <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3093">
                <td class="column0 style3 s">COSMO LOUNGE</td>
                <td class="column1 style4 s">6707 SE MILWAUKIE</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3094">
                <td class="column0 style2 s">COSMO LOUNGE</td>
                <td class="column1 style5 s">6707 SE MILWAUKIE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3095">
                <td class="column0 style3 s">K &amp; S GROCERY</td>
                <td class="column1 style4 s">15231 SE DIVISION</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3096">
                <td class="column0 style2 s">K &amp; S GROCERY</td>
                <td class="column1 style5 s">15231 SE DIVISION</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3097">
                <td class="column0 style2 s">K &amp; S GROCERY</td>
                <td class="column1 style5 s">15231 SE DIVISION</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3098">
                <td class="column0 style3 s">DRAGONWELL BISTRO</td>
                <td class="column1 style4 s">735 SW 1ST AVE</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3099">
                <td class="column0 style2 s">DRAGONWELL BISTRO</td>
                <td class="column1 style5 s">735 SW 1ST AVE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3100">
                <td class="column0 style3 s">9TH AVENUE MINI MART</td>
                <td class="column1 style4 s">1028 NW 9TH AVE</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3101">
                <td class="column0 style2 s">9TH AVENUE MINI MART</td>
                <td class="column1 style5 s">1028 NW 9TH AVE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3102">
                <td class="column0 style2 s">9TH AVENUE MINI MART</td>
                <td class="column1 style5 s">1028 NW 9TH AVE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3103">
                <td class="column0 style3 s">CLUBHOUSE BAR &amp; GRILL</td>
                <td class="column1 style4 s">5134 SW BEAV-HLSD HWY R</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3104">
                <td class="column0 style2 s">CLUBHOUSE BAR &amp; GRILL</td>
                <td class="column1 style5 s">5134 SW BEAV-HLSD HWY R</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3105">
                <td class="column0 style3 s">BLUE DIAMOND</td>
                <td class="column1 style4 s">2016 NE SANDY BLVD</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3106">
                <td class="column0 style2 s">BLUE DIAMOND</td>
                <td class="column1 style5 s">2016 NE SANDY BLVD</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3107">
                <td class="column0 style3 s">THE EAGLE / URGE</td>
                <td class="column1 style4 s">835 N LOMBARD R</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3108">
                <td class="column0 style2 s">THE EAGLE / URGE</td>
                <td class="column1 style5 s">835 N LOMBARD R</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3109">
                <td class="column0 style2 s">THE EAGLE / URGE</td>
                <td class="column1 style5 s">835 N LOMBARD R</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3110">
                <td class="column0 style3 s">FRED MEYER BURLINGAME</td>
                <td class="column1 style4 s">7555 SW BARBUR BLVD</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                 <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3111">
                <td class="column0 style2 s">FRED MEYER #040-BARBUR</td>
                <td class="column1 style5 s">7555 SW BARBUR BLVD</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3112">
                <td class="column0 style2 s">FRED MEYER #040-BARBUR</td>
                <td class="column1 style5 s">7555 SW BARBUR BLVD</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3113">
                <td class="column0 style2 s">FRED MEYER #040-BARBUR</td>
                <td class="column1 style5 s">7555 SW BARBUR BLVD</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3114">
                <td class="column0 style2 s">FRED MEYER #040-BARBUR</td>
                <td class="column1 style5 s">7555 SW BARBUR BLVD</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3115">
                <td class="column0 style2 s">FRED MEYER #040-BARBUR</td>
                <td class="column1 style5 s">7555 SW BARBUR BLVD</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3116">
                <td class="column0 style2 s">FRED MEYER #040-BARBUR</td>
                <td class="column1 style5 s">7555 SW BARBUR BLVD</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3117">
                <td class="column0 style2 s">FRED MEYER #040-BARBUR</td>
                <td class="column1 style5 s">7555 SW BARBUR BLVD</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3118">
                <td class="column0 style2 s">FRED MEYER #040-BARBUR</td>
                <td class="column1 style5 s">7555 SW BARBUR BLVD</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3119">
                <td class="column0 style2 s">FRED MEYER #040-BARBUR</td>
                <td class="column1 style5 s">7555 SW BARBUR BLVD</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3120">
                <td class="column0 style2 s">FRED MEYER #040-BARBUR</td>
                <td class="column1 style5 s">7555 SW BARBUR BLVD</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3121">
                <td class="column0 style3 s">WHOLE FOODS 10243 - SANDY</td>
                <td class="column1 style4 s">4301 NE SANDY BLVD</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3122">
                <td class="column0 style2 s">WHOLE FOODS 10243 - SANDY</td>
                <td class="column1 style5 s">4301 NE SANDY BLVD</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3123">
                <td class="column0 style3 s">ALBERTA STREET MARKET</td>
                <td class="column1 style4 s">909 NE ALBERTA ST</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3124">
                <td class="column0 style2 s">ALBERTA STREET MARKET</td>
                <td class="column1 style5 s">909 NE ALBERTA ST</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3125">
                <td class="column0 style2 s">ALBERTA STREET MARKET</td>
                <td class="column1 style5 s">909 NE ALBERTA ST</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3126">
                <td class="column0 style2 s">ALBERTA STREET MARKET</td>
                <td class="column1 style5 s">909 NE ALBERTA ST</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3127">
                <td class="column0 style2 s">ALBERTA STREET MARKET</td>
                <td class="column1 style5 s">909 NE ALBERTA ST</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3128">
                <td class="column0 style3 s">DOCKSIDE SALOON &amp; REST.</td>
                <td class="column1 style4 s">2047 NW FRONT AVE</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3129">
                <td class="column0 style2 s">DOCKSIDE SALOON &amp; REST.</td>
                <td class="column1 style5 s">2047 NW FRONT AVE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3130">
                <td class="column0 style2 s">DOCKSIDE SALOON &amp; REST.</td>
                <td class="column1 style5 s">2047 NW FRONT AVE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3131">
                <td class="column0 style3 s">MISS DELTA</td>
                <td class="column1 style4 s">3950 N MISSISSIPPI</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3132">
                <td class="column0 style2 s">MISS DELTA</td>
                <td class="column1 style5 s">3950 N MISSISSIPPI</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3133">
                <td class="column0 style3 s">ALBERTSONS #0575 CULLY</td>
                <td class="column1 style4 s">5850 NE PRESCOTT</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3134">
                <td class="column0 style2 s">ALBERTSONS #0575 CULLY</td>
                <td class="column1 style5 s">5850 NE PRESCOTT</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3135">
                <td class="column0 style2 s">ALBERTSONS #0575 CULLY</td>
                <td class="column1 style5 s">5850 NE PRESCOTT</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3136">
                <td class="column0 style2 s">ALBERTSONS #0575 CULLY</td>
                <td class="column1 style5 s">5850 NE PRESCOTT</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3137">
                <td class="column0 style3 s">TAMALE BOY*</td>
                <td class="column1 style4 s">1764 NE DEKUM ST</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3138">
                <td class="column0 style2 s">TAMALE BOY*</td>
                <td class="column1 style5 s">1764 NE DEKUM ST</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3139">
                <td class="column0 style3 s">RITE AID #5357- 181ST</td>
                <td class="column1 style4 s">514 NE 181 &amp; GLISAN</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3140">
                <td class="column0 style2 s">RITE AID #5357- 181ST</td>
                <td class="column1 style5 s">514 NE 181 &amp; GLISAN</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3141">
                <td class="column0 style2 s">RITE AID #5357- 181ST</td>
                <td class="column1 style5 s">514 NE 181 &amp; GLISAN</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3142">
                <td class="column0 style3 s">JAKES CRAWFISH HOUSE</td>
                <td class="column1 style4 s">401 SW 12TH R</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3143">
                <td class="column0 style2 s">JAKES CRAWFISH HOUSE</td>
                <td class="column1 style5 s">401 SW 12TH R</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3144">
                <td class="column0 style2 s">JAKES CRAWFISH HOUSE</td>
                <td class="column1 style5 s">401 SW 12TH R</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3145">
                <td class="column0 style3 s">I &amp; A MARKET</td>
                <td class="column1 style4 s">726 NE KILLINGSWORTH</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3146">
                <td class="column0 style2 s">I &amp; A MARKET</td>
                <td class="column1 style5 s">726 NE KILLINGSWORTH</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3147">
                <td class="column0 style3 s">UNIVERSITY CHEVRON</td>
                <td class="column1 style4 s">1967 SW 4TH AVE</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3148">
                <td class="column0 style2 s">UNIVERSITY CHEVRON</td>
                <td class="column1 style5 s">1967 SW 4TH AVE</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3149">
                <td class="column0 style3 s">FOSTER'S MARKET &amp; DELI</td>
                <td class="column1 style4 s">8533 SE 17TH L</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3150">
                <td class="column0 style2 s">FOSTER'S MARKET &amp; DELI</td>
                <td class="column1 style5 s">8533 SE 17TH L</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3151">
                <td class="column0 style2 s">FOSTER'S MARKET &amp; DELI</td>
                <td class="column1 style5 s">8533 SE 17TH L</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3152">
                <td class="column0 style2 s">FOSTER'S MARKET &amp; DELI</td>
                <td class="column1 style5 s">8533 SE 17TH L</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3153">
                <td class="column0 style3 s">JOHN STREET CAFE**</td>
                <td class="column1 style4 s">8338 N LOMBARD</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3154">
                <td class="column0 style2 s">JOHN STREET CAFE**</td>
                <td class="column1 style5 s">8338 N LOMBARD</td>
                <td class="column2 style8 s">PORTLAND</td>
                <td class="column3 style11 s">OR</td>
                <td class="column4 style22 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>
                <tr class="row3155">
                <td class="column0 style3 s">GROWLERS USA</td>
                <td class="column1 style4 s">615 SW HARRISON ST #B</td>
                <td class="column2 style7 s">PORTLAND</td>
                <td class="column3 style10 s">OR</td>
                <td class="column4 style21 s">&nbsp;</td>
                <td class="column5 style14 s"></td>
                <td class="column6">&nbsp;</td>
                </tr>