
                <tr class="row3466">
                    <td class="column0 style3 s">FRED MEYER #225 BROADWAY</td>
                    <td class="column1 style4 s">2855 BROADWAY ST</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3467">
                    <td class="column0 style2 s">FRED MEYER #225 BROADWAY</td>
                    <td class="column1 style5 s">2855 BROADWAY ST</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3468">
                    <td class="column0 style2 s">FRED MEYER #225 BROADWAY</td>
                    <td class="column1 style5 s">2855 BROADWAY ST</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3469">
                    <td class="column0 style2 s">FRED MEYER #225 BROADWAY</td>
                    <td class="column1 style5 s">2855 BROADWAY ST</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3470">
                    <td class="column0 style3 s">ROTHS #11 LIBERTY</td>
                    <td class="column1 style4 s">4555 LIBERTY RD SE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3471">
                    <td class="column0 style2 s">ROTHS #11 LIBERTY</td>
                    <td class="column1 style5 s">4555 LIBERTY RD SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3472">
                    <td class="column0 style2 s">ROTHS #11 LIBERTY</td>
                    <td class="column1 style5 s">4555 LIBERTY RD SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE SYRAH</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3473">
                    <td class="column0 style2 s">ROTHS #11 LIBERTY</td>
                    <td class="column1 style5 s">4555 LIBERTY RD SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3474">
                    <td class="column0 style2 s">ROTHS #11 LIBERTY</td>
                    <td class="column1 style5 s">4555 LIBERTY RD SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3475">
                    <td class="column0 style2 s">ROTHS #11 LIBERTY</td>
                    <td class="column1 style5 s">4555 LIBERTY RD SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3476">
                    <td class="column0 style2 s">ROTHS #11 LIBERTY</td>
                    <td class="column1 style5 s">4555 LIBERTY RD SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3477">
                    <td class="column0 style3 s">STOP-N-SAVE #1</td>
                    <td class="column1 style4 s">3625 LIBERTY RD S</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3478">
                    <td class="column0 style2 s">STOP-N-SAVE #1</td>
                    <td class="column1 style5 s">3625 LIBERTY RD S</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3479">
                    <td class="column0 style2 s">STOP-N-SAVE #1</td>
                    <td class="column1 style5 s">3625 LIBERTY RD S</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3480">
                    <td class="column0 style3 s">SHACK BAR &amp; GRILL THE</td>
                    <td class="column1 style4 s">2865 LIBERTY ST NE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3481">
                    <td class="column0 style2 s">SHACK BAR &amp; GRILL THE</td>
                    <td class="column1 style5 s">2865 LIBERTY ST NE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3482">
                    <td class="column0 style2 s">SHACK BAR &amp; GRILL THE</td>
                    <td class="column1 style5 s">2865 LIBERTY ST NE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CHARDONNAY</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3483">
                    <td class="column0 style3 s">FRED MEYER #355 S COMMERCIAL</td>
                    <td class="column1 style4 s">3450 COMMERCIALST SE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3484">
                    <td class="column0 style2 s">FRED MEYER #355 S COMMERC</td>
                    <td class="column1 style5 s">3450 COMMERCIALST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3485">
                    <td class="column0 style2 s">FRED MEYER #355 S COMMERC</td>
                    <td class="column1 style5 s">3450 COMMERCIALST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3486">
                    <td class="column0 style2 s">FRED MEYER #355 S COMMERC</td>
                    <td class="column1 style5 s">3450 COMMERCIALST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3487">
                    <td class="column0 style2 s">FRED MEYER #355 S COMMERC</td>
                    <td class="column1 style5 s">3450 COMMERCIALST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3488">
                    <td class="column0 style2 s">FRED MEYER #355 S COMMERC</td>
                    <td class="column1 style5 s">3450 COMMERCIALST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3489">
                    <td class="column0 style2 s">FRED MEYER #355 S COMMERC</td>
                    <td class="column1 style5 s">3450 COMMERCIALST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3490">
                    <td class="column0 style3 s">BI-MART #633 LANCASTER</td>
                    <td class="column1 style4 s">2155 LANCASTER DR NE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3491">
                    <td class="column0 style2 s">BI-MART #633 LANCASTER</td>
                    <td class="column1 style5 s">2155 LANCASTER DR NE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3492">
                    <td class="column0 style3 s">CENTER MARKET #16</td>
                    <td class="column1 style4 s">1420 17TH ST NE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3493">
                    <td class="column0 style2 s">CENTER MARKET #16</td>
                    <td class="column1 style5 s">1420 17TH ST NE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3494">
                    <td class="column0 style3 s">THE YARD FOOD PARK</td>
                    <td class="column1 style4 s">4106 STATE ST NE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3495">
                    <td class="column0 style2 s">THE YARD FOOD PARK</td>
                    <td class="column1 style5 s">4106 STATE ST NE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3496">
                    <td class="column0 style3 s">WINCO FOODS #18 LANCASTER</td>
                    <td class="column1 style4 s">1240 LANCASTER DR SE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3497">
                    <td class="column0 style2 s">WINCO FOODS #18 LANCASTER</td>
                    <td class="column1 style5 s">1240 LANCASTER DR SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3498">
                     <td class="column0 style2 s">WINCO FOODS #18 LANCASTER</td>
                    <td class="column1 style5 s">1240 LANCASTER DR SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3499">
                    <td class="column0 style2 s">WINCO FOODS #18 LANCASTER</td>
                    <td class="column1 style5 s">1240 LANCASTER DR SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3500">
                    <td class="column0 style2 s">WINCO FOODS #18 LANCASTER</td>
                    <td class="column1 style5 s">1240 LANCASTER DR SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3501">
                    <td class="column0 style3 s">STOP N SAVE #5</td>
                    <td class="column1 style4 s">5757 COMMECIAL ST SE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3502">
                    <td class="column0 style2 s">STOP N SAVE #5</td>
                    <td class="column1 style5 s">5757 COMMECIAL ST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3503">
                    <td class="column0 style2 s">STOP N SAVE #5</td>
                    <td class="column1 style5 s">5757 COMMECIAL ST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3504">
                    <td class="column0 style2 s">STOP N SAVE #5</td>
                    <td class="column1 style5 s">5757 COMMECIAL ST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3505">
                    <td class="column0 style3 s">ROTHS #8 VISTA</td>
                    <td class="column1 style4 s">3045 COMMERCIAL ST S</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3506">
                    <td class="column0 style2 s">ROTHS #8 VISTA</td>
                    <td class="column1 style5 s">3045 COMMERCIAL ST S</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3507">
                    <td class="column0 style2 s">ROTHS #8 VISTA</td>
                    <td class="column1 style5 s">3045 COMMERCIAL ST S</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3508">
                    <td class="column0 style2 s">ROTHS #8 VISTA</td>
                    <td class="column1 style5 s">3045 COMMERCIAL ST S</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CLARET RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3509">
                    <td class="column0 style2 s">ROTHS #8 VISTA</td>
                    <td class="column1 style5 s">3045 COMMERCIAL ST S</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3510">
                    <td class="column0 style2 s">ROTHS #8 VISTA</td>
                    <td class="column1 style5 s">3045 COMMERCIAL ST S</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3511">
                    <td class="column0 style2 s">ROTHS #8 VISTA</td>
                    <td class="column1 style5 s">3045 COMMERCIAL ST S</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3512">
                    <td class="column0 style3 s">MARCO POLO GLOBAL REST</td>
                    <td class="column1 style4 s">300 LIBERTY ST SE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3513">
                    <td class="column0 style2 s">MARCO POLO GLOBAL REST</td>
                    <td class="column1 style5 s">300 LIBERTY ST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3514">
                    <td class="column0 style3 s">SAFEWAY #412 WEST EDGEWATER</td>
                    <td class="column1 style4 s">1455 EDGEWATER W</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3515">
                    <td class="column0 style2 s">SAFEWAY #412 WEST EDGEWAT</td>
                    <td class="column1 style5 s">1455 EDGEWATER W</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3516">
                    <td class="column0 style2 s">SAFEWAY #412 WEST EDGEWAT</td>
                    <td class="column1 style5 s">1455 EDGEWATER W</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3517">
                    <td class="column0 style3 s">US MARKET #1 LANCASTER</td>
                    <td class="column1 style4 s">112 LANCASTER DR NE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3518">
                    <td class="column0 style2 s">US MARKET #1 LANCASTER</td>
                    <td class="column1 style5 s">112 LANCASTER DR NE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3519">
                    <td class="column0 style3 s">WINCO FOODS #20 COMMERCIAL</td>
                    <td class="column1 style4 s">4575 COMMERCIAL ST SE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3520">
                    <td class="column0 style2 s">WINCO FOODS #20 COMMERCIA</td>
                    <td class="column1 style5 s">4575 COMMERCIAL ST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3521">
                    <td class="column0 style2 s">WINCO FOODS #20 COMMERCIA</td>
                    <td class="column1 style5 s">4575 COMMERCIAL ST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3522">
                    <td class="column0 style2 s">WINCO FOODS #20 COMMERCIA</td>
                    <td class="column1 style5 s">4575 COMMERCIAL ST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3523">
                    <td class="column0 style2 s">WINCO FOODS #20 COMMERCIA</td>
                    <td class="column1 style5 s">4575 COMMERCIAL ST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3524">
                    <td class="column0 style2 s">WINCO FOODS #20 COMMERCIA</td>
                    <td class="column1 style5 s">4575 COMMERCIAL ST SE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3525">
                    <td class="column0 style3 s">ANNETTE'S WESTGATE CAFE</td>
                    <td class="column1 style4 s">1311 EDGEWATER ST NW</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3526">
                    <td class="column0 style2 s">ANNETTE'S WESTGATE CAFE</td>
                    <td class="column1 style5 s">1311 EDGEWATER ST NW</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3527">
                    <td class="column0 style3 s">CHAMPIONS BAR &amp; GRILL</td>
                    <td class="column1 style4 s">2930 SILVERTON RD NE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3528">
                    <td class="column0 style2 s">CHAMPIONS BAR &amp; GRILL</td>
                    <td class="column1 style5 s">2930 SILVERTON RD NE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3529">
                    <td class="column0 style3 s">CAPITAL CITY GRILL</td>
                    <td class="column1 style4 s">3301 MARKET ST NE</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3530">
                    <td class="column0 style2 s">CAPITAL CITY GRILL</td>
                    <td class="column1 style5 s">3301 MARKET ST NE</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3531">
                    <td class="column0 style3 s">MARIOS HOLDING COMPANY</td>
                    <td class="column1 style4 s">5179 RIVER RD N</td>
                    <td class="column2 style7 s">SALEM</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3532">
                    <td class="column0 style2 s">MARIOS HOLDING COMPANY</td>
                    <td class="column1 style5 s">5179 RIVER RD N</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3533">
                    <td class="column0 style2 s">MARIOS HOLDING COMPANY</td>
                    <td class="column1 style5 s">5179 RIVER RD N</td>
                    <td class="column2 style8 s">SALEM</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT CAB SAUV</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3534">
                    <td class="column0 style3 s">BI-MART SANDY</td>
                    <td class="column1 style4 s">36859 HWY 26</td>
                    <td class="column2 style7 s">SANDY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3535">
                    <td class="column0 style2 s">BI-MART SANDY</td>
                     <td class="column1 style5 s">36859 HWY 26</td>
                    <td class="column2 style8 s">SANDY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3536">
                    <td class="column0 style3 s">SHORTY'S CORNER</td>
                    <td class="column1 style4 s">42600 SE HWY 26</td>
                    <td class="column2 style7 s">SANDY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3537">
                    <td class="column0 style2 s">SHORTY'S CORNER</td>
                    <td class="column1 style5 s">42600 SE HWY 26</td>
                    <td class="column2 style8 s">SANDY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3538">
                    <td class="column0 style2 s">SHORTY'S CORNER</td>
                    <td class="column1 style5 s">42600 SE HWY 26</td>
                    <td class="column2 style8 s">SANDY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3539">
                    <td class="column0 style3 s">SAFEWAY #782 SANDY</td>
                    <td class="column1 style4 s">37061 HWY 26 L</td>
                    <td class="column2 style7 s">SANDY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3540">
                    <td class="column0 style2 s">SAFEWAY #782 SANDY</td>
                    <td class="column1 style5 s">37061 HWY 26 L</td>
                    <td class="column2 style8 s">SANDY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3541">
                    <td class="column0 style2 s">SAFEWAY #782 SANDY</td>
                    <td class="column1 style5 s">37061 HWY 26 L</td>
                    <td class="column2 style8 s">SANDY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3542">
                    <td class="column0 style3 s">FRED MEYER #663-SANDY</td>
                    <td class="column1 style4 s">16625 362ND AVE</td>
                    <td class="column2 style7 s">SANDY</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3543">
                    <td class="column0 style2 s">FRED MEYER #663-SANDY</td>
                    <td class="column1 style5 s">16625 362ND AVE</td>
                    <td class="column2 style8 s">SANDY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3544">
                    <td class="column0 style2 s">FRED MEYER #663-SANDY</td>
                    <td class="column1 style5 s">16625 362ND AVE</td>
                    <td class="column2 style8 s">SANDY</td>
                    <td class="column3 style11 s">OR</td>
                     <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3545">
                    <td class="column0 style2 s">FRED MEYER #663-SANDY</td>
                    <td class="column1 style5 s">16625 362ND AVE</td>
                    <td class="column2 style8 s">SANDY</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3546">
                    <td class="column0 style3 s">ROADRUNNER GAS GROS</td>
                    <td class="column1 style4 s">52023 COLUMB RIV HWY</td>
                    <td class="column2 style7 s">SCAPPOOSE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3547">
                    <td class="column0 style2 s">ROADRUNNER GAS GROS</td>
                    <td class="column1 style5 s">52023 COLUMB RIV HWY</td>
                    <td class="column2 style8 s">SCAPPOOSE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3548">
                    <td class="column0 style2 s">ROADRUNNER GAS GROS</td>
                    <td class="column1 style5 s">52023 COLUMB RIV HWY</td>
                    <td class="column2 style8 s">SCAPPOOSE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3549">
                    <td class="column0 style2 s">ROADRUNNER GAS GROS</td>
                    <td class="column1 style5 s">52023 COLUMB RIV HWY</td>
                    <td class="column2 style8 s">SCAPPOOSE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3550">
                    <td class="column0 style3 s">FULTANO'S PIZZA</td>
                    <td class="column1 style4 s">51511 SE 2ND AVE</td>
                    <td class="column2 style7 s">SCAPPOOSE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3551">
                    <td class="column0 style2 s">FULTANO'S PIZZA</td>
                    <td class="column1 style5 s">51511 SE 2ND AVE</td>
                    <td class="column2 style8 s">SCAPPOOSE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3552">
                    <td class="column0 style3 s">NELSON'S NEIGHBORHOOD MKT</td>
                    <td class="column1 style4 s">33666 E COLUMBIA AVE</td>
                    <td class="column2 style7 s">SCAPPOOSE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3553">
                    <td class="column0 style2 s">NELSON'S NEIGHBORHOOD MKT</td>
                    <td class="column1 style5 s">33666 E COLUMBIA AVE</td>
                    <td class="column2 style8 s">SCAPPOOSE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3554">
                    <td class="column0 style3 s">JACKPOT MARKET</td>
                    <td class="column1 style4 s">51883 S COLUMBIA RIVER HY</td>
                    <td class="column2 style7 s">SCAPPOOSE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3555">
                    <td class="column0 style2 s">JACKPOT MARKET</td>
                    <td class="column1 style5 s">51883 S COLUMBIA RIVER HY</td>
                    <td class="column2 style8 s">SCAPPOOSE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT RIVER WHITE</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3556">
                    <td class="column0 style2 s">JACKPOT MARKET</td>
                    <td class="column1 style5 s">51883 S COLUMBIA RIVER HY</td>
                    <td class="column2 style8 s">SCAPPOOSE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3557">
                    <td class="column0 style2 s">JACKPOT MARKET</td>
                    <td class="column1 style5 s">51883 S COLUMBIA RIVER HY</td>
                    <td class="column2 style8 s">SCAPPOOSE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3558">
                    <td class="column0 style2 s">JACKPOT MARKET</td>
                    <td class="column1 style5 s">51883 S COLUMBIA RIVER HY</td>
                    <td class="column2 style8 s">SCAPPOOSE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT RIVER RED</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3559">
                    <td class="column0 style2 s">JACKPOT MARKET</td>
                    <td class="column1 style5 s">51883 S COLUMBIA RIVER HY</td>
                    <td class="column2 style8 s">SCAPPOOSE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3560">
                    <td class="column0 style3 s">FRED MEYER #462-SCAPPOOSE</td>
                    <td class="column1 style4 s">51501 S COLUMBIA RIVER HY</td>
                    <td class="column2 style7 s">SCAPPOOSE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3561">
                    <td class="column0 style2 s">FRED MEYER #462-SCAPPOOSE</td>
                    <td class="column1 style5 s">51501 S COLUMBIA RIVER HY</td>
                    <td class="column2 style8 s">SCAPPOOSE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3562">
                    <td class="column0 style2 s">FRED MEYER #462-SCAPPOOSE</td>
                    <td class="column1 style5 s">51501 S COLUMBIA RIVER HY</td>
                    <td class="column2 style8 s">SCAPPOOSE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3563">
                    <td class="column0 style2 s">FRED MEYER #462-SCAPPOOSE</td>
                    <td class="column1 style5 s">51501 S COLUMBIA RIVER HY</td>
                    <td class="column2 style8 s">SCAPPOOSE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">DEL RIO VINEYARD ESTATE CABERNET SAUVIGNON</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3564">
                    <td class="column0 style3 s">BI-MART #686 SCAPPOOSE</td>
                    <td class="column1 style4 s">51536 SE 2ND AVE</td>
                    <td class="column2 style7 s">SCAPPOOSE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3565">
                    <td class="column0 style2 s">BI-MART #686 SCAPPOOSE</td>
                    <td class="column1 style5 s">51536 SE 2ND AVE</td>
                    <td class="column2 style8 s">SCAPPOOSE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3566">
                    <td class="column0 style3 s">STOP N SAVE #8</td>
                    <td class="column1 style4 s">38777 N MAIN ST</td>
                    <td class="column2 style7 s">SCIO</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3567">
                    <td class="column0 style2 s">STOP N SAVE #8</td>
                    <td class="column1 style5 s">38777 N MAIN ST</td>
                    <td class="column2 style8 s">SCIO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3568">
                    <td class="column0 style2 s">STOP N SAVE #8</td>
                    <td class="column1 style5 s">38777 N MAIN ST</td>
                    <td class="column2 style8 s">SCIO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3569">
                    <td class="column0 style2 s">STOP N SAVE #8</td>
                    <td class="column1 style5 s">38777 N MAIN ST</td>
                    <td class="column2 style8 s">SCIO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3570">
                    <td class="column0 style3 s">COVERED BRIDGE COFF*</td>
                    <td class="column1 style4 s">38765 N MAIN ST</td>
                    <td class="column2 style7 s">SCIO</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3571">
                    <td class="column0 style2 s">COVERED BRIDGE COFF*</td>
                    <td class="column1 style5 s">38765 N MAIN ST</td>
                    <td class="column2 style8 s">SCIO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3572">
                    <td class="column0 style3 s">WEST SCIO GROCERY</td>
                    <td class="column1 style4 s">38152 JEFFERSON</td>
                    <td class="column2 style7 s">SCIO</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3573">
                    <td class="column0 style2 s">WEST SCIO GROCERY</td>
                    <td class="column1 style5 s">38152 JEFFERSON</td>
                    <td class="column2 style8 s">SCIO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">JOLEE ROUGE RED BLEND</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3574">
                    <td class="column0 style2 s">WEST SCIO GROCERY</td>
                    <td class="column1 style5 s">38152 JEFFERSON</td>
                    <td class="column2 style8 s">SCIO</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3575">
                    <td class="column0 style3 s">NONNI'S ITALIAN BISTRO</td>
                    <td class="column1 style4 s">831 BROADWAY ST</td>
                    <td class="column2 style7 s">SEASIDE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3576">
                    <td class="column0 style2 s">NONNI'S ITALIAN BISTRO</td>
                    <td class="column1 style5 s">831 BROADWAY ST</td>
                    <td class="column2 style8 s">SEASIDE</td>
                    <td class="column3 style11 s">OR</td>
                    <td class="column4 style22 s">ROCK POINT PINOT NOIR</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>
                    <tr class="row3577">
                    <td class="column0 style3 s">RITE AID #5342- SEASIDE</td>
                    <td class="column1 style4 s">313 S ROOSEVELT</td>
                    <td class="column2 style7 s">SEASIDE</td>
                    <td class="column3 style10 s">OR</td>
                    <td class="column4 style21 s">&nbsp;</td>
                    <td class="column5 style14 s"></td>
                    <td class="column6">&nbsp;</td>
                    </tr>