<style>
  
  /* section 21 css */
.section_21 {
  padding: 60px 45px;
  } 
  .Our-soil-rolling-hi_annuvela {
  font-family: 'Butler';
  font-size: 40px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #171f15;
}
    @media screen and (max-width: 1150px) and (min-width: 1000px) {
/* section 11 */ 
    .Our-soil-rolling-hi_annuvela {
      font-size: 33px;
     }
    }
  
  
  @media screen and (max-width:850px) and (min-width:768px) {
  .section_21 {
     padding: 30px 30px;
   }
    .Our-soil-rolling-hi_annuvela {
  font-size: 25px;
}

  }
    @media screen and (max-width:600px) and (min-width:460px) {
      
.Our-soil-rolling-hi_annuvela {
    font-size: 23px;
}
    }
  
  /* section 21 css */
  @media screen and (max-width: 450px) {
  .section_21 {
     padding: 30px 15px;
   }
  .Our-soil-rolling-hi_annuvela {
     font-size: 19px;
     text-align: center;
   }
  } 
    @media screen and (max-width: 400px) {
  .Our-soil-rolling-hi_annuvela {
  font-size: 16px;
}
    }
    @media screen and (max-width: 350px) {
  /* section css 21 */
.Our-soil-rolling-hi_annuvela {
  font-size: 18px;
}
    }
  
</style>  

<div class="section_21">
    <div class="container">
          <div class="alluvial_fans">
            <h1 class="Our-soil-rolling-hi_annuvela">Our soil, rolling hills, alluvial fans, and southern exposure comprise a foundation for great wine making. We build on this foundation through a grower’s sensitivity to the land and a winemaker’s intuition.</h1>
          </div>
    </div>
</div>




{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
