<style>
  .row.rioclub_iner-fluid {
     margin:0px;
  }
  .header_text {
    padding-top: 0%;
    width: 40%;
}
.header_center_flex_rioclub {
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 17%;
}
  
  @media screen and (max-width:2600px) {
    img.image_serc_roclub {
      left: 0 !important;
      width: 1261px;
      height:auto !important;
    }
  }
  @media screen and (max-width:2440px) {
    img.image_serc_roclub {
      width: 1201px;
    }
  }
  @media screen and (max-width:2350px) {
    img.image_serc_roclub {
      width: 1151px;
    }
    .header_center_flex_rioclub {
    margin-left: 20%;
	}
    .header_text {
    width: 54%;
	}
}
  @media screen and (max-width: 2150px) {
    img.image_serc_roclub {
      width: 1041px;
    }
  }
  @media screen and (max-width: 2000px) {
    img.image_serc_roclub {
      width: 971px;
    }
  }

  @media screen and (min-width:1500px) {
    .header_center_flex_rioclub {
    margin-left: 8%;
	}
  }
  @media screen and (max-width: 1950px) {
    img.image_serc_roclub {
      width: 945px;
    }
  }
  @media screen and (max-width:1550px) {
    img.image_serc_roclub {
      width: 754px;
    }
  }
  @media screen and (max-width: 1500px) {
img.image_serc_roclub {
    width: 748px;
}
.header_center_flex_rioclub {
    margin-left: 8%;
}
  }
  @media screen and (max-width: 1450px) {
    img.image_serc_roclub {
      width: 704px;
    }
    .header_text {
    width: 67%;
}
  }
  @media screen and (max-width: 1340px) {
    img.image_serc_roclub {
      width: 633px;
    }
  }
  @media screen and (max-width: 1300px) {
    img.image_serc_roclub {
      width: 615px;
    }
  }
  @media screen and (max-width: 1150px) {
    img.image_serc_roclub {
      width: 529px;
    }
    .header_center_flex_rioclub {
    margin-left: 10%;
	}
    .header_text {
    width: 73%;
}
  }
  @media screen and (max-width: 1050px) {
    img.image_serc_roclub {
      width: 493px;
    }
  }
    @media screen and (max-width: 991px) {
    img.image_serc_roclub {
      width: 462px;
    }
  }
  @media screen and (max-width: 900px) {
    img.image_serc_roclub {
      width: 435px;
    }
    .perl_section_1 {
    padding-top: 52px;
}
 
  }
  @media screen and (max-width: 800px) {  
    img.image_serc_roclub {
      width: 383px;
    }
  }
 @media screen and (max-width:767px) {
  .header_center_flex_rioclub {
    margin:0px;
  }
.header_text {
    width: 40%;
    text-align: center;
    margin: auto;
}
    .header_img {
      text-align:center;
      margin-bottom: 20px;
    }
   p.bg_l_m {
    margin: auto;
    margin-bottom: 20px;
	}
/* .container_anti {
    padding-right: 15px;
    padding-left: 15px;
} */
.perl_section_1 {
    padding-top: 100px;
}
        .col-lg-6.container_anti.col-md-6.col-sm-12.col-xs-12 {
      padding: 0px;
    }
  }
 @media screen and (max-width:650px) {
img.image_serc_roclub {
    width: 100%;
    top: 0;
}
   .header_text {
    width: 75%;
   }
  }
  @media screen and (max-width: 580px) {
 img.image_serc_roclub {
    width: 583px;
}

  }
  @media screen and (max-width: 500px) {
 img.image_serc_roclub {
    width: 100%;
}
 .header_text {
    width: 90%;
}
  }
  @media screen and (max-width: 450px) {
  img.image_serc_roclub {
    width: 423px;
    margin-top: 60px;
  }
}
  @media screen and (max-width:400px) {
  img.image_serc_roclub {
    width: 396px;
    margin-top: 20px;
  }
}
  @media screen and (max-width: 380px) {
img.image_serc_roclub {
    width: 373px;
}
  }
  @media screen and (max-width:350px) {
  img.image_serc_roclub {
    width: 343px;
}
  }
  @media screen and (max-width: 340px) {
img.image_serc_roclub {
    width: 319px;
}
.header_text {
    width: 100%;
}
  }

</style> 

<div class="perl_section_1">
  <div class="container-fluid">
    <div class="row rioclub_iner-fluid">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerfrscreenrioclubsec1">
        <div class="header_center_flex_rioclub">
        <div class="header_text">
          <h1 class="A-new-layer-of-compl">{{ section.settings.Section1_heading}}</h1>
          <p class="With-every-bottle-of">{{ section.settings.Section1_text}}</p>
          <a href="#joinrio_club_the_pages"><p class="bg_l_m LEARN-MORE">{{section.settings.Section1_linktext}}</p></a>
        </div>
        </div>
      </div>
      <div class="col-lg-6 container_anti col-md-6 col-sm-12 col-xs-12">
        <div class="header_img">
          <img class="image_serc_roclub" src="{{section.settings.Image_Section_1 | img_url:'master' }}" alt="bottle">
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": " Rioclub-First Section",
    "settings": [
      {
        "id": "Section1_heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "id": "Section1_text",
        "type": "textarea",
        "label": "Add Description",
		"default": "Enter text here"
      },
	  {
        "id": "Image_Section_1",
        "type": "image_picker",
        "label": "Section 1 image"
        
      },
	  {
      "id": "Section1_linktext",
      "type": "text",
      "label": "Button text",
      "default": "Add Button Text"
      }
      
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}