   <div class="shop_all_section_3">
        <div class="container">
            <h1 class="Gifts-Boxes_shop_all">Gifts & Boxes</h1>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="gift_box_row_shop_all">
                        <div class="img_shop_all_box">
                            <img src="{{'del_rio_wine_shop_all_img_1.png' | asset_url }}" alt="">
                        </div>
                        <div>
                            <div class="product-info_shop_all Factsheet-Shelftalke_trade_shop_all">
                                <div>
                                    <p class="del_r_shop_all">Gifts</p>
                                    <div class="cabrenet_shop_all_sec">
                                        <div class="franc_all_shop">
                                            <p>Del Rio Gift Box</p>
                                        </div>
                                        <div>
                                            <div class="star_rating_shop_all_s">
                                                <p>★★★★★</p>
                                            </div>
                                            <div>
                                                <p class="review_shop_all">458 Reviews</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="description-shop_all_ss descr_Sa_shop_all">
                                <p>Add gift packaging to any order. Del Rio Vineyards’ gift boxes each accommodate up to 3 bottles of wine.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="gift_box_row_shop_all">
                        <div class="img_shop_all_box">

                            <img src="{{'del_rio_wine_shop_all_img_2.png' | asset_url }}" alt="">

                        </div>
                        <div>
                            <div class="product-info_shop_all Factsheet-Shelftalke_trade_shop_all">
                                <div>
                                    <p class="del_r_shop_all">GEAR</p>
                                    <div class="cabrenet_shop_all_sec">
                                        <div class="franc_all_shop">
                                            <p>Del Rio Gear</p>
                                        </div>
                                        <div>
                                            <div class="star_rating_shop_all_s">
                                                <p>★★★★★</p>
                                            </div>
                                            <div>
                                                <p class="review_shop_all">458 Reviews</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="description-shop_all_ss descr_Sa_shop_all">
                                <p>Add gift packaging to any order. Del Rio Vineyards’ gift boxes each accommodate up to 3 bottles of wine.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="gift_box_row_shop_all">
                        <div class="img_shop_all_box">
                            <img src="{{'del_rio_wine_shop_all_img_3.png' | asset_url }}" alt="">

                        </div>
                        <div>
                            <div class="product-info_shop_all Factsheet-Shelftalke_trade_shop_all">
                                <div>
                                    <p class="del_r_shop_all">Gifts</p>
                                    <div class="cabrenet_shop_all_sec">
                                        <div class="franc_all_shop">
                                            <p>Gift Cards</p>
                                        </div>
                                        <div>
                                            <div class="star_rating_shop_all_s">
                                                <p>★★★★★</p>
                                            </div>
                                            <div>
                                                <p class="review_shop_all">458 Reviews</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="description-shop_all_ss descr_Sa_shop_all">
                                <p>Add gift packaging to any order. Del Rio Vineyards’ gift boxes each accommodate up to 3 bottles of wine.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="gift_box_row_shop_all">
                        <div class="img_shop_all_box">
                            <img src="{{'del_rio_wine_shop_all_img_4.png' | asset_url }}" alt="">
                        </div>
                        <div>
                            <div class="product-info_shop_all Factsheet-Shelftalke_trade_shop_all">
                                <div>
                                    <p class="del_r_shop_all">Tickets</p>
                                    <div class="cabrenet_shop_all_sec">
                                        <div class="franc_all_shop">
                                            <p>Events</p>
                                        </div>
                                        <div>
                                            <div class="star_rating_shop_all_s">
                                                <p>★★★★★</p>
                                            </div>
                                            <div>
                                                <p class="review_shop_all">458 Reviews</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="description-shop_all_ss descr_Sa_shop_all">
                                <p>Come gather with us. Explore the diverse list of our current events, gourmet food and our exquisite wines in the romantic setting of the Del Rio Vineyard.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
