<section class="customers-section animatioN-on_scroll_margin_top" id="rtlcustomer">
  <div class="mycontainer  container trade-content">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="section-heading"><h2>Retail Customers</h2></div>
        <div class="section-text"><p >Looking for one of our wines? Follow one of the links below to a page with a list of all of our retailers in Oregon or Washington.</p>
          <a href="/pages/wholesale-customers-oregon" class="underline_under_trade_and_media_88"><p class="underline">Customers located in Oregon, USA</p></a>
          <a href="/pages/wholesale-customers-washington" class="underline_under_trade_and_media_88"><p class="underline">Customers located in Washington State, USA</p></a>
        </div>
      </div>
    </div>				
  </div>
</section>
<div class="my-seperator"></div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
