<style>
  .row{
    text-align:center;
  }
  
.inner-section-2nd{
    width: 1248px;
  height: 752px;
  margin-top: 55px;
}
.rtl-auto{
    margin-left: auto;
    margin-right: auto;
}
.second-sec-bg-color{
    background-color: #fff;
}
  /* --trail-section-*/
.Keeping-our-Trails{
    padding-right: 45px;
    width: 528px;
    display: inline-block;
}
.Keeping-our-Trails p{
    margin: 32px 0 76px 0px;
    font-family: ApercuPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #3e3e3e;
  }
  .text-span{
      margin-top: 10px;
  }
/*second-section-end*/
.second-col-text{
    margin-top: 100px;
}
  
  /*
.second-col-img{
    margin-top: 56px;
}
.Keeping-our-Trails-O{
    padding-right: 45px;
    width: 528px;
    display: inline-block;
}
.Keeping-our-Trails-O p{
    margin: 32px 0 76px 0px;
    font-family: ApercuPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #3e3e3e;
  }
.Keeping-our-Trails{
    padding-right: 45px;
    width: 528px;
    display: inline-block;
}
.Keeping-our-Trails p{
    margin: 32px 0 76px 0px;
    font-family: ApercuPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #3e3e3e;
  }
  .text-span{
      margin-top: 10px;
  }
  @media (max-width: 425px) and (min-width: 320px){
    .inner-section-2nd{
     width:290px !important; 
    }
    .first-image img{
    width:290px;
      height:auto;
    }
    .Keeping-our-Trails-O{
        width: 20px;
    padding: 290px;
    text-align: justify;
      
    }
    .Keeping-our-Trails-O p{
    margin:0px;
      width:290px
    }
    .row.iframe-row {
    width: 300px;
    display: inline;
}
  }
  
  @media (max-width: 768px) and (min-width: 426px){
    .first-image img{
    width:400px;
      height:auto;
    }
    .Keeping-our-Trails-O{
        width: 400px;
    padding: 20px;
    text-align: justify;
      
    }
    .Keeping-our-Trails-O p{
    margin:0px;
    }
    .inner-section-2nd{
    width:auto;
    }
  }
  @media (max-width: 1024px) and (min-width: 769px){
    .first-image img{
    max-width:350px;
      height:auto;
    }
    .Keeping-our-Trails-O{
        max-width: 350px;
    padding: 20px;
    text-align: justify;
      
    }
    .Keeping-our-Trails-O p{
    margin:0px;
    }
    .inner-section-2nd{
    width:750px;
    }
    .second-col-img{
    margin-top:25px;
    }
    .second-col-img img{
    max-width:100px;
    }
    .Keeping-our-Trails-O p{
      font-size:10px;
          font-weight: bolder;
    
    }
  }
  */
</style>
    <!--trail-section-->
    <div class="second-sec-bg-color inner-section-2nd rtl-auto">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="first-image"><img src="//cdn.shopify.com/s/files/1/0403/9376/9117/t/17/assets/IMG-20210706-WA0002.png?v=1628194741"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="second-col-img"><img src="//cdn.shopify.com/s/files/1/0403/9376/9117/t/17/assets/2018-PCTA-logo-vert-black-text.png?v=1628194751"></div>
                <div class="Keeping-our-Trails-O">
                    <p>
                        <span>
                        Keeping our Trails Open Rock Point Wines partnership with The Pacific Crest Trail Association.
                         $1/Bottle of Rock Point Wine Keeps our Trails Open Our Del Rio Vineyard Estate team loves to
                          adventure outdoors, and our Rock Point Wines were designed to highlight that passion, as
                           well as the beautiful state of Oregon. Rock Point Wines were created through inspiration 
                           of the wild and scenic Rogue River that runs at the foot of both Del Rio and Birdseye 
                           vineyards. Crafted to be sophisticated, approachable, and ready for exploring the rugged 
                           Pacific Northwest, we felt a partnership with the PCTA was perfect for the spirit behind 
                           our Rock Point Wines. Del Rio Vineyards is only miles away from the Pacific Crest Trail, 
                           which provides a world class wilderness experience that allows people to connect with the 
                           great outdoors.The trail maintenance preserves our ecosystem and lessens the impact on the environment.<br>
                        </span>
                        <br>
                           <span class="text-span">
We are incredibly excited to begin this journey with the Pacific Crest Trail Association,
 and to see what the future of this partnership holds. In addition to participating in a 
 trail maintenance day, we have partnered with our Oregon Distributor, Columbia Distributing, 
 in a program to raise funds for the Pacific Crest Trail Association. For the months of July,
  August, and September 2021 $1 per bottle of Rock Point Wine sold in participating retailers will 
  be donated to the Pacific Crest Trail Association to continue trail preservation efforts and 
  upkeep. What better way to meld two icons of Oregon and the West Coast!</span>
<br><br>
  <span class="text-span">For more information on how you can help The Pacific Crest Trail Association visit www.pcta.org.</span>
                    </p>
                </div>
                </div>
            </div>
        </div>
    <!--trail-section-end-->
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
