<style>
  @media (max-width: 400px) and (min-width: 320px){
    .inner-section-3nd {
    max-width: 300px !important;
    text-align: center;
    max-height: 1490px;
}
    .first-image img{
    width:290px;
      height:auto;
    }
    .Keeping-our-Trails-O{
       width: 290px;
    text-align: justify;
    padding: 10px;
    }
    .Keeping-our-Trails-O p{
    margin:0px;
      font-size:10px !important;
    }
    .row.iframe-row {
    width: 300px;
    display: inline;
}
    .second-col-img1 {
    margin: 56px 0px;
    text-align: center;
}
  }
  
  @media (max-width: 550px) and (min-width: 401px){
    .first-image img{
    max-width:400px;
      height:auto;
    }
    .Keeping-our-Trails-O{
        width: 400px;
    padding: 20px;
    text-align: justify;
      
    }
    .Keeping-our-Trails-O p{
    margin:0px;
    }
    .inner-section-3nd {
    width: 410px;
    text-align: center;
}
  }
  @media (max-width: 650px) and (min-width: 550px){
    .first-image img{
    max-width:100%;
      /*height:auto;*/
    }
    .Keeping-our-Trails-O{
        max-width: 530px;
    padding: 20px;
    text-align: justify;
      
    }
    .Keeping-our-Trails-O p{
    margin:0px;
    }
    .inner-section-3nd{
    max-width:530px;
    text-align:center;
    }
    
  }
  @media (max-width: 750px) and (min-width: 650px){
    .first-image img{
    max-width:100%;
      /*height:auto;*/
    }
    .Keeping-our-Trails-O {
    max-width: 630px;
    padding: 20px;
    text-align: justify;
}
    .Keeping-our-Trails-O p{
    margin:0px;
    font-size:12px;
    }
    .inner-section-3nd{
    max-width:630px;
    text-align:center;
    }
    .second-col-img1 {
    margin-top: 26px;
}
  }
  @media (max-width: 768px) and (min-width: 750px){
    .first-image img{
    max-width:100%;
      height:auto;
    }
    .Keeping-our-Trails-O{
        max-width: 630px;
    padding: 20px;
    text-align: justify;
      
    }
    .Keeping-our-Trails-O p{
    margin:0px;
    }
    .inner-section-3nd{
    width: 730px;
    text-align: center;
    }
    .second-col-img1{
    margin-top:25px;
    }
    .second-col-img1 img{
    max-width:100px;
    }
    .Keeping-our-Trails-O p{
      font-size:10px;
          font-weight: bolder;
    
    }
  }
  @media (max-width: 900px) and (min-width: 768px){
    .first-image img{
    max-width:100%;
      height:auto;
    }
    .Keeping-our-Trails-O{
        max-width: 350px;
    padding: 20px;
    text-align: justify;
      
    }
    .Keeping-our-Trails-O p{
    margin:0px;
    }
    .inner-section-3nd{
    width: 730px;
    text-align: center;
    }
    .second-col-img1{
    margin-top:25px;
    }
    .second-col-img1 img{
    max-width:100px;
    }
    .Keeping-our-Trails-O p{
      font-size:10px;
          font-weight: bolder;
    
    }
  }
  @media (max-width: 1024px) and (min-width: 900px){
    .first-image img{
    max-width:100%;
      height:auto;
    }
    .Keeping-our-Trails-O{
        max-width: 350px;
    padding: 20px;
    text-align: justify;
      
    }
    .Keeping-our-Trails-O p{
    margin:0px;
    }
    .inner-section-3nd{
    max-width: 880px;
    max-height: 810px;
    }
    .second-col-img1{
    margin-top:56px;
    }
    .second-col-img1 img{
    max-width:100px;
    }
    .Keeping-our-Trails-O p{
      font-size:10px;
          font-weight: bolder;
    
    }
  }
  @media (max-width: 1200px) and (min-width: 1024px){
    .first-image img{
    max-width:100%;
      height:auto;
    }
    .Keeping-our-Trails-O{
        max-width: 400px;
    padding: 20px;
    text-align: justify;
    }
    .inner-section-3nd{
    max-width: 980px;
    }
    .second-col-img1{
    margin-top:56px;
      padding-left: 20px;
    }
    .second-col-img1 img{
    max-width:1000px;
    }
    .Keeping-our-Trails-O p{
      font-size:12px;
          font-weight: bolder;
    }
  }
  @media (max-width: 1440px) and (min-width: 1200px){
    .inner-section-3nd{
    max-width:1150px;
    }
    .Keeping-our-Trails-O p{
      font-size:14px !important;
    }
  }
  @media (max-width: 1800px) and (min-width: 1400px){
    .inner-section-3nd{
    max-width:1150px;
    }
    .Keeping-our-Trails-O p{
      font-size:14px !important;
    }
  }
  @media (max-width: 2560px) and (min-width: 1800px){
        .Keeping-our-Trails-O p{
      font-size:15px !important;
    }
  }
</style>
<!--trail-section-->
{% for block in section.blocks %}
    <div class="second-sec-bg-color inner-section-3nd rtl-auto">
      
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              
                <div class="first-image"><img src="{{ block.settings.product-image | img_url: 'master' }}" alt=""></div>
            </div>
          
            <div class="col-lg-6 col-md-6 col-sm-12">
                {% if block.settings.title_text == ''%}
              	<div class="second-col-img1"><img src="{{ block.settings.logo-image | img_url: '200x200' }}"></div>
              	{% else%}
                <div class="second-col-text">
              	<h2>{{ block.settings.title_text }}</h2>
              </div>
                {% endif %}
              	<div class="Keeping-our-Trails-O">
                    <p>
                        {{ block.settings.desc_text }}
                    </p>
                </div>
                </div>
            </div>
    
        </div>
  {% endfor %}
    <!--trail-section-end-->

{% schema %}
  {
    "name": "Troops",
    "settings": [     
   ],

  "blocks": [
    {
      "type": "select",
      "name": "Add image",
      "settings": [
        {
          "id": "product",
          "type": "url",
       		"label": "add image"
        },
        {
          "id": "product-image",
          "type": "image_picker",
          "label": "image picker"
        },
		{
          "id": "logo-image",
          "type": "image_picker",
          "label": "Logo Image"
        },
		{
        "id": "title_text",
        "type": "text",
        "label": "Add Title in Place of Logo"
      },
		{
        "id": "desc_text",
        "type": "html",
        "label": "Add description text below"
      }
		
      ]
    }
  ],
  "presets": [
    {
      "name": "Troops",
      "category": "images-slider"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}