<div class="tour_section_8">
  <div class="container-fluid">
    <div class="vine_crates_tour">
      <img src="{{section.settings.visitpage_sec8_img_bg | img_url:'master'}}" alt="">
    </div>  
  </div>
</div>







{% schema %}
  {
    "name": "Visitpage Eight section",
    "settings": [
{
"id":"visitpage_sec8_img_bg",
"type":"image_picker",
"label":"Image"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
