<div class="tour_section_2" style="background-image:url({{section.settings.visitpage_sec2_img | img_url:'master' }});">
    <div class="container">

    </div>
</div>

{% schema %}
  {
    "name": "Visitpage second Section",
    "settings": [
      {
      "id":"visitpage_sec2_img",
      "type":"image_picker",
      "label":"Image"
      } 
    ]
  }
{% endschema %}
