
<tr class="row128">
  <td class="column0 style2 s">TOKYO JAPANESE STEAK HOUSE</td>
  <td class="column1 style5 s">1404 S 320TH STREET</td>
  <td class="column2 style8 s">FEDERAL WAY</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row129">
  <td class="column0 style2 s">TOKYO JAPANESE STEAK HOUSE</td>
  <td class="column1 style5 s">1404 S 320TH STREET</td>
  <td class="column2 style8 s">FEDERAL WAY</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row130">
  <td class="column0 style3 s">LIQUOR &amp; WINE FEDERAL WAY</td>
  <td class="column1 style4 s">2311 SW 336TH ST</td>
  <td class="column2 style7 s">FEDERAL WAY</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row131">
  <td class="column0 style2 s">LIQUOR &amp; WINE FEDERAL WAY</td>
  <td class="column1 style5 s">2311 SW 336TH ST</td>
  <td class="column2 style8 s">FEDERAL WAY</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row132">
  <td class="column0 style3 s">HONG KONG MARKET</td>
  <td class="column1 style4 s">35415 21ST AVE SW</td>
  <td class="column2 style7 s">FEDERAL WAY</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row133">
  <td class="column0 style2 s">HONG KONG MARKET</td>
  <td class="column1 style5 s">35415 21ST AVE SW</td>
  <td class="column2 style8 s">FEDERAL WAY</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row134">
  <td class="column0 style3 s">KALALOCH STORE</td>
  <td class="column1 style4 s">157151 HWY 101</td>
  <td class="column2 style7 s">FORKS</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row135">
  <td class="column0 style2 s">KALALOCH STORE</td>
  <td class="column1 style5 s">157151 HWY 101</td>
  <td class="column2 style8 s">FORKS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row136">
  <td class="column0 style2 s">KALALOCH STORE</td>
  <td class="column1 style5 s">157151 HWY 101</td>
  <td class="column2 style8 s">FORKS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row137">
  <td class="column0 style3 s">PACIFIC PIZZA</td>
  <td class="column1 style4 s">870 FORKS AVE</td>
  <td class="column2 style7 s">FORKS</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row138">
  <td class="column0 style2 s">PACIFIC PIZZA</td>
  <td class="column1 style5 s">870 FORKS AVE</td>
  <td class="column2 style8 s">FORKS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row139">
  <td class="column0 style3 s">FOX ISLAND GROCERY &amp; DELI</td>
  <td class="column1 style4 s">587 6TH AVE</td>
  <td class="column2 style7 s">FOX ISLAND</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row140">
  <td class="column0 style2 s">FOX ISLAND GROCERY &amp; DELI</td>
  <td class="column1 style5 s">587 6TH AVE</td>
  <td class="column2 style8 s">FOX ISLAND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row141">
  <td class="column0 style2 s">FOX ISLAND GROCERY &amp; DELI</td>
  <td class="column1 style5 s">587 6TH AVE</td>
  <td class="column2 style8 s">FOX ISLAND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row142">
  <td class="column0 style3 s">KING'S MARKET</td>
  <td class="column1 style4 s">160 W SPRING STREET</td>
  <td class="column2 style7 s">FRIDAY HARBOR</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row143">
  <td class="column0 style2 s">KING'S MARKET</td>
  <td class="column1 style5 s">160 W SPRING STREET</td>
  <td class="column2 style8 s">FRIDAY HARBOR</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row144">
  <td class="column0 style2 s">KING'S MARKET</td>
  <td class="column1 style5 s">160 W SPRING STREET</td>
  <td class="column2 style8 s">FRIDAY HARBOR</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row145">
  <td class="column0 style2 s">KING'S MARKET</td>
  <td class="column1 style5 s">160 W SPRING STREET</td>
  <td class="column2 style8 s">FRIDAY HARBOR</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row146">
  <td class="column0 style2 s">KING'S MARKET</td>
  <td class="column1 style5 s">160 W SPRING STREET</td>
  <td class="column2 style8 s">FRIDAY HARBOR</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row147">
  <td class="column0 style2 s">KING'S MARKET</td>
  <td class="column1 style5 s">160 W SPRING STREET</td>
  <td class="column2 style8 s">FRIDAY HARBOR</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row148">
  <td class="column0 style3 s">PIONEER 76</td>
  <td class="column1 style4 s">7101 PIONEER WAY</td>
  <td class="column2 style7 s">GIG HARBOR</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row149">
  <td class="column0 style2 s">PIONEER 76</td>
  <td class="column1 style5 s">7101 PIONEER WAY</td>
  <td class="column2 style8 s">GIG HARBOR</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row150">
  <td class="column0 style3 s">PIZZARIA FONDI GIG HARBOR</td>
  <td class="column1 style4 s">4621 PT FOSDICK DR NW 200</td>
  <td class="column2 style7 s">GIG HARBOR</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row151">
  <td class="column0 style2 s">PIZZARIA FONDI GIG HARBOR</td>
  <td class="column1 style5 s">4621 PT FOSDICK DR NW 200</td>
  <td class="column2 style8 s">GIG HARBOR</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row152">
  <td class="column0 style3 s">GOLD BAR MARKET</td>
  <td class="column1 style4 s">109 CROFT AVE W</td>
  <td class="column2 style7 s">GOLD BAR</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row153">
  <td class="column0 style2 s">GOLD BAR MARKET</td>
  <td class="column1 style5 s">109 CROFT AVE W</td>
  <td class="column2 style8 s">GOLD BAR</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row154">
  <td class="column0 style2 s">GOLD BAR MARKET</td>
  <td class="column1 style5 s">109 CROFT AVE W</td>
  <td class="column2 style8 s">GOLD BAR</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row155">
  <td class="column0 style2 s">GOLD BAR MARKET</td>
  <td class="column1 style5 s">109 CROFT AVE W</td>
  <td class="column2 style8 s">GOLD BAR</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row156">
  <td class="column0 style3 s">GOLD BAR FAMILY GROCER</td>
  <td class="column1 style4 s">1111 CROFT AVE</td>
  <td class="column2 style7 s">GOLD BAR</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row157">
  <td class="column0 style2 s">GOLD BAR FAMILY GROCER</td>
  <td class="column1 style5 s">1111 CROFT AVE</td>
  <td class="column2 style8 s">GOLD BAR</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row158">
  <td class="column0 style2 s">GOLD BAR FAMILY GROCER</td>
  <td class="column1 style5 s">1111 CROFT AVE</td>
  <td class="column2 style8 s">GOLD BAR</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row159">
  <td class="column0 style3 s">GRANGER TRAVEL PLAZA</td>
  <td class="column1 style4 s">1221 BAILEY AVENUE</td>
  <td class="column2 style7 s">GRANGER</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row160">
  <td class="column0 style2 s">GRANGER TRAVEL PLAZA 2PM</td>
  <td class="column1 style5 s">1221 BAILEY AVENUE</td>
  <td class="column2 style8 s">GRANGER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row161">
  <td class="column0 style2 s">GRANGER TRAVEL PLAZA 2PM</td>
  <td class="column1 style5 s">1221 BAILEY AVENUE</td>
  <td class="column2 style8 s">GRANGER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row162">
  <td class="column0 style3 s">HOOD CANAL GROCERY</td>
  <td class="column1 style4 s">24151 HWY 101 N</td>
  <td class="column2 style7 s">HOODSPORT</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row163">
  <td class="column0 style2 s">HOOD CANAL GROCERY</td>
  <td class="column1 style5 s">24151 HWY 101 N</td>
  <td class="column2 style8 s">HOODSPORT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row164">
  <td class="column0 style2 s">HOOD CANAL GROCERY</td>
  <td class="column1 style5 s">24151 HWY 101 N</td>
  <td class="column2 style8 s">HOODSPORT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row165">
  <td class="column0 style3 s">FRED MEYER #658 ISSAQUAH</td>
  <td class="column1 style4 s">6100 E LAKE SAMMAMISH PKW</td>
  <td class="column2 style7 s">ISSAQUAH</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row166">
  <td class="column0 style2 s">FRED MEYER #658 ISSAQUAH</td>
  <td class="column1 style5 s">6100 E LAKE SAMMAMISH PKW</td>
  <td class="column2 style8 s">ISSAQUAH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row167">
  <td class="column0 style2 s">FRED MEYER #658 ISSAQUAH</td>
  <td class="column1 style5 s">6100 E LAKE SAMMAMISH PKW</td>
  <td class="column2 style8 s">ISSAQUAH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row168">
  <td class="column0 style2 s">FRED MEYER #658 ISSAQUAH</td>
  <td class="column1 style5 s">6100 E LAKE SAMMAMISH PKW</td>
  <td class="column2 style8 s">ISSAQUAH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row169">
  <td class="column0 style2 s">FRED MEYER #658 ISSAQUAH</td>
  <td class="column1 style5 s">6100 E LAKE SAMMAMISH PKW</td>
  <td class="column2 style8 s">ISSAQUAH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row170">
  <td class="column0 style3 s">QFC #840 - ISSAQUAH</td>
  <td class="column1 style4 s">4570 KLAHANIE DRIVE SE</td>
  <td class="column2 style7 s">ISSAQUAH</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row171">
  <td class="column0 style2 s">QFC #840 - ISSAQUAH (M)</td>
  <td class="column1 style5 s">4570 KLAHANIE DRIVE SE</td>
  <td class="column2 style8 s">ISSAQUAH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row172">
  <td class="column0 style3 s">GENERAL STORE</td>
  <td class="column1 style4 s">21440 E STATE RT 397</td>
  <td class="column2 style7 s">KENNEWICK</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row173">
  <td class="column0 style2 s">GENERAL STORE</td>
  <td class="column1 style5 s">21440 E STATE RT 397</td>
  <td class="column2 style8 s">KENNEWICK</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row174">
  <td class="column0 style2 s">GENERAL STORE</td>
  <td class="column1 style5 s">21440 E STATE RT 397</td>
  <td class="column2 style8 s">KENNEWICK</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row175">
  <td class="column0 style2 s">GENERAL STORE</td>
  <td class="column1 style5 s">21440 E STATE RT 397</td>
  <td class="column2 style8 s">KENNEWICK</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row176">
  <td class="column0 style2 s">GENERAL STORE</td>
  <td class="column1 style5 s">21440 E STATE RT 397</td>
  <td class="column2 style8 s">KENNEWICK</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row177">
  <td class="column0 style2 s">GENERAL STORE</td>
  <td class="column1 style5 s">21440 E STATE RT 397</td>
  <td class="column2 style8 s">KENNEWICK</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row178">
  <td class="column0 style2 s">GENERAL STORE</td>
  <td class="column1 style5 s">21440 E STATE RT 397</td>
  <td class="column2 style8 s">KENNEWICK</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row179">
  <td class="column0 style3 s">SUN MARKET 39</td>
  <td class="column1 style4 s">10799 RIDGELINE DR</td>
  <td class="column2 style7 s">KENNEWICK</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row180">
  <td class="column0 style2 s">SUN MARKET 39</td>
  <td class="column1 style5 s">10799 RIDGELINE DR</td>
  <td class="column2 style8 s">KENNEWICK</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row181">
  <td class="column0 style3 s">MR. G'S BOTTLE WORKS</td>
  <td class="column1 style4 s">325 SO. UNION STREET</td>
  <td class="column2 style7 s">KENNEWICK</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row182">
  <td class="column0 style2 s">MR. G'S BOTTLE WORKS</td>
  <td class="column1 style5 s">325 SO. UNION STREET</td>
  <td class="column2 style8 s">KENNEWICK</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row183">
  <td class="column0 style3 s">KENT EAST LIQUOR &amp; WINE</td>
  <td class="column1 style4 s">25835 104TH AVE SE</td>
  <td class="column2 style7 s">KENT</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row184">
  <td class="column0 style2 s">KENT EAST LIQUOR &amp; WINE</td>
  <td class="column1 style5 s">25835 104TH AVE SE</td>
  <td class="column2 style8 s">KENT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row185">
  <td class="column0 style2 s">KENT EAST LIQUOR &amp; WINE</td>
  <td class="column1 style5 s">25835 104TH AVE SE</td>
  <td class="column2 style8 s">KENT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row186">
  <td class="column0 style2 s">KENT EAST LIQUOR &amp; WINE</td>
  <td class="column1 style5 s">25835 104TH AVE SE</td>
  <td class="column2 style8 s">KENT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row187">
  <td class="column0 style3 s">ACCESSO SHOWARE CENTER</td>
  <td class="column1 style4 s">625 W JAMES ST</td>
  <td class="column2 style7 s">KENT</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row188">
  <td class="column0 style2 s">ACCESSO SHOWARE CENTER</td>
  <td class="column1 style5 s">625 W JAMES ST</td>
  <td class="column2 style8 s">KENT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row189">
  <td class="column0 style2 s">ACCESSO SHOWARE CENTER</td>
  <td class="column1 style5 s">625 W JAMES ST</td>
  <td class="column2 style8 s">KENT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row190">
  <td class="column0 style3 s">MIDWAY CHEVRON</td>
  <td class="column1 style4 s">25915 PACIFIC HWY SO</td>
  <td class="column2 style7 s">KENT</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row191">
  <td class="column0 style2 s">MIDWAY CHEVRON</td>
  <td class="column1 style5 s">25915 PACIFIC HWY SO</td>
  <td class="column2 style8 s">KENT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row192">
  <td class="column0 style3 s">HONG KONG MARKET</td>
  <td class="column1 style4 s">320 E MEEKER ST STE 102</td>
  <td class="column2 style7 s">KENT</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row193">
  <td class="column0 style2 s">HONG KONG MARKET</td>
  <td class="column1 style5 s">320 E MEEKER ST STE 102</td>
  <td class="column2 style8 s">KENT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row194">
  <td class="column0 style2 s">HONG KONG MARKET</td>
  <td class="column1 style5 s">320 E MEEKER ST STE 102</td>
  <td class="column2 style8 s">KENT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row195">
  <td class="column0 style3 s">WEST VALLEY PITSTOP</td>
  <td class="column1 style4 s">6331 S 212TH STREET</td>
  <td class="column2 style7 s">KENT</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row196">
  <td class="column0 style2 s">WEST VALLEY PITSTOP</td>
  <td class="column1 style5 s">6331 S 212TH STREET</td>
  <td class="column2 style8 s">KENT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row197">
  <td class="column0 style2 s">WEST VALLEY PITSTOP</td>
  <td class="column1 style5 s">6331 S 212TH STREET</td>
  <td class="column2 style8 s">KENT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row198">
  <td class="column0 style3 s">24 EAST HILL MARKET</td>
  <td class="column1 style4 s">23847 108TH SE AVE</td>
  <td class="column2 style7 s">KENT</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row199">
  <td class="column0 style2 s">24 EAST HILL MARKET(M)</td>
  <td class="column1 style5 s">23847 108TH SE AVE</td>
  <td class="column2 style8 s">KENT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row200">
  <td class="column0 style3 s">7-ELEVEN #38806H</td>
  <td class="column1 style4 s">10255 SE 240TH</td>
  <td class="column2 style7 s">KENT</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row201">
  <td class="column0 style2 s">7-ELEVEN #38806H (M F)</td>
  <td class="column1 style5 s">10255 SE 240TH</td>
  <td class="column2 style8 s">KENT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row202">
  <td class="column0 style3 s">THE POINT CASINO</td>
  <td class="column1 style4 s">7989 SALISH LN NE</td>
  <td class="column2 style7 s">KINGSTON</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row203">
  <td class="column0 style2 s">THE POINT CASINO</td>
  <td class="column1 style5 s">7989 SALISH LN NE</td>
  <td class="column2 style8 s">KINGSTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row204">
  <td class="column0 style2 s">THE POINT CASINO</td>
  <td class="column1 style5 s">7989 SALISH LN NE</td>
  <td class="column2 style8 s">KINGSTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row205">
  <td class="column0 style2 s">THE POINT CASINO</td>
  <td class="column1 style5 s">7989 SALISH LN NE</td>
  <td class="column2 style8 s">KINGSTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row206">
  <td class="column0 style3 s">FOOD MARKET @ KINGSTON</td>
  <td class="column1 style4 s">10978 NE STATE HWY 104</td>
  <td class="column2 style7 s">KINGSTON</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row207">
  <td class="column0 style2 s">FOOD MARKET @ KINGSTON</td>
  <td class="column1 style5 s">10978 NE STATE HWY 104</td>
  <td class="column2 style8 s">KINGSTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row208">
  <td class="column0 style2 s">FOOD MARKET @ KINGSTON</td>
  <td class="column1 style5 s">10978 NE STATE HWY 104</td>
  <td class="column2 style8 s">KINGSTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row209">
  <td class="column0 style2 s">FOOD MARKET @ KINGSTON</td>
  <td class="column1 style5 s">10978 NE STATE HWY 104</td>
  <td class="column2 style8 s">KINGSTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row210">
  <td class="column0 style3 s">AM PM #680</td>
  <td class="column1 style4 s">11600 124TH AVE NE</td>
  <td class="column2 style7 s">KIRKLAND</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row211">
  <td class="column0 style2 s">AM PM #680 (M)</td>
  <td class="column1 style5 s">11600 124TH AVE NE</td>
  <td class="column2 style8 s">KIRKLAND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row212">
  <td class="column0 style2 s">AM PM #680 (M)</td>
  <td class="column1 style5 s">11600 124TH AVE NE</td>
  <td class="column2 style8 s">KIRKLAND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row213">
  <td class="column0 style3 s">QFC #828 - TOTEM</td>
  <td class="column1 style4 s">11224 NE 124TH</td>
  <td class="column2 style7 s">KIRKLAND</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row214">
  <td class="column0 style2 s">QFC #828 - TOTEM (M)</td>
  <td class="column1 style5 s">11224 NE 124TH</td>
  <td class="column2 style8 s">KIRKLAND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row215">
  <td class="column0 style2 s">QFC #828 - TOTEM (M)</td>
  <td class="column1 style5 s">11224 NE 124TH</td>
  <td class="column2 style8 s">KIRKLAND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row216">
  <td class="column0 style3 s">TOTEM LAKE 76</td>
  <td class="column1 style4 s">12412 116TH AVE NE</td>
  <td class="column2 style7 s">KIRKLAND</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row217">
  <td class="column0 style2 s">TOTEM LAKE 76</td>
  <td class="column1 style5 s">12412 116TH AVE NE</td>
  <td class="column2 style8 s">KIRKLAND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row218">
  <td class="column0 style2 s">TOTEM LAKE 76</td>
  <td class="column1 style5 s">12412 116TH AVE NE</td>
  <td class="column2 style8 s">KIRKLAND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row219">
  <td class="column0 style3 s">RIVER'S EDGE RESTARUANT</td>
  <td class="column1 style4 s">41 MAIN STREET</td>
  <td class="column2 style7 s">LA PUSH</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row220">
  <td class="column0 style2 s">RIVER'S EDGE RESTARUANT</td>
  <td class="column1 style5 s">41 MAIN STREET</td>
  <td class="column2 style8 s">LA PUSH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row221">
  <td class="column0 style3 s">LUCKY SEVEN</td>
  <td class="column1 style4 s">4061 PACIFIC AVE</td>
  <td class="column2 style7 s">LACEY</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row222">
  <td class="column0 style2 s">LUCKY SEVEN</td>
  <td class="column1 style5 s">4061 PACIFIC AVE</td>
  <td class="column2 style8 s">LACEY</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row223">
  <td class="column0 style2 s">LUCKY SEVEN</td>
  <td class="column1 style5 s">4061 PACIFIC AVE</td>
  <td class="column2 style8 s">LACEY</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row224">
  <td class="column0 style2 s">LUCKY SEVEN</td>
  <td class="column1 style5 s">4061 PACIFIC AVE</td>
  <td class="column2 style8 s">LACEY</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row225">
  <td class="column0 style3 s">NORMS MARKET</td>
  <td class="column1 style4 s">10027 LUNDEEN PKWY</td>
  <td class="column2 style7 s">LAKE STEVENS</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row226">
  <td class="column0 style2 s">NORMS MARKET</td>
  <td class="column1 style5 s">10027 LUNDEEN PKWY</td>
  <td class="column2 style8 s">LAKE STEVENS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row227">
  <td class="column0 style3 s">SPIRIT WORLD</td>
  <td class="column1 style4 s">25 95TH DR NE STE 106</td>
  <td class="column2 style7 s">LAKE STEVENS</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row228">
  <td class="column0 style2 s">SPIRIT WORLD</td>
  <td class="column1 style5 s">25 95TH DR NE STE 106</td>
  <td class="column2 style8 s">LAKE STEVENS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row229">
  <td class="column0 style3 s">GETCHELL GAS STATION</td>
  <td class="column1 style4 s">16401 84TH ST NE</td>
  <td class="column2 style7 s">LAKE STEVENS</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row230">
  <td class="column0 style2 s">GETCHELL GAS STATION</td>
  <td class="column1 style5 s">16401 84TH ST NE</td>
  <td class="column2 style8 s">LAKE STEVENS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row231">
  <td class="column0 style2 s">GETCHELL GAS STATION</td>
  <td class="column1 style5 s">16401 84TH ST NE</td>
  <td class="column2 style8 s">LAKE STEVENS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row232">
  <td class="column0 style2 s">GETCHELL GAS STATION</td>
  <td class="column1 style5 s">16401 84TH ST NE</td>
  <td class="column2 style8 s">LAKE STEVENS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row233">
  <td class="column0 style3 s">SSA LIQUORS UP</td>
  <td class="column1 style4 s">5700 100TH ST SW STE 470</td>
  <td class="column2 style7 s">LAKEWOOD</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row234">
  <td class="column0 style2 s">SSA LIQUORS UP</td>
  <td class="column1 style5 s">5700 100TH ST SW STE 470</td>
  <td class="column2 style8 s">LAKEWOOD</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row235">
  <td class="column0 style3 s">THE GOOSE COMMUNITY GROCER</td>
  <td class="column1 style4 s">14485 SR 525</td>
  <td class="column2 style7 s">LANGLEY</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row236">
  <td class="column0 style2 s">GOOSE COMMUNITY GROC (M)</td>
  <td class="column1 style5 s">14485 SR 525</td>
  <td class="column2 style8 s">LANGLEY</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row237">
  <td class="column0 style2 s">GOOSE COMMUNITY GROC (M)</td>
  <td class="column1 style5 s">14485 SR 525</td>
  <td class="column2 style8 s">LANGLEY</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row238">
  <td class="column0 style3 s">HOP N GRAPE INC</td>
  <td class="column1 style4 s">924 15TH AVENUE</td>
  <td class="column2 style7 s">LONGVIEW</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row239">
  <td class="column0 style2 s">HOP N GRAPE INC</td>
  <td class="column1 style5 s">924 15TH AVENUE</td>
  <td class="column2 style8 s">LONGVIEW</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row240">
  <td class="column0 style3 s">CHEVRON - MEADOWDALE FOOD</td>
  <td class="column1 style4 s">5127 168TH ST SW</td>
  <td class="column2 style7 s">LYNNWOOD</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row241">
  <td class="column0 style2 s">CHEVRON - MEADOWDALE FOOD</td>
  <td class="column1 style5 s">5127 168TH ST SW</td>
  <td class="column2 style8 s">LYNNWOOD</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row242">
  <td class="column0 style2 s">CHEVRON - MEADOWDALE FOOD</td>
  <td class="column1 style5 s">5127 168TH ST SW</td>
  <td class="column2 style8 s">LYNNWOOD</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row243">
  <td class="column0 style3 s">VILLAGE MARKET</td>
  <td class="column1 style4 s">6121 176TH ST SW</td>
  <td class="column2 style7 s">LYNNWOOD</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row244">
  <td class="column0 style2 s">VILLAGE MARKET</td>
  <td class="column1 style5 s">6121 176TH ST SW</td>
  <td class="column2 style8 s">LYNNWOOD</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>