
<tr class="row349">
  <td class="column0 style2 s">PUYALLUP FOOD CENTER(M)</td>
  <td class="column1 style5 s">1713 W PIONEER AVE</td>
  <td class="column2 style8 s">PUYALLUP</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row350">
  <td class="column0 style3 s">SOUTH HILL PIT STOP EXPRESS</td>
  <td class="column1 style4 s">801 SOUTH HILL PARK DRIVE</td>
  <td class="column2 style7 s">PUYALLUP</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row351">
  <td class="column0 style2 s">SOUTH HILL PIT STOP EXPRE</td>
  <td class="column1 style5 s">801 SOUTH HILL PARK DRIVE</td>
  <td class="column2 style8 s">PUYALLUP</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row352">
  <td class="column0 style3 s">76 - FREDERICKSON</td>
  <td class="column1 style4 s">17519 CANYON ROAD</td>
  <td class="column2 style7 s">PUYALLUP</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row353">
  <td class="column0 style2 s">77 - FREDERICKSON</td>
  <td class="column1 style5 s">17519 CANYON ROAD</td>
  <td class="column2 style8 s">PUYALLUP</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row354">
  <td class="column0 style3 s">QFC #860 - REDMOND</td>
  <td class="column1 style4 s">8867 161ST AVE NE</td>
  <td class="column2 style7 s">REDMOND</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row355">
  <td class="column0 style2 s">QFC #860 - REDMOND</td>
  <td class="column1 style5 s">8867 161ST AVE NE</td>
  <td class="column2 style8 s">REDMOND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row356">
  <td class="column0 style2 s">QFC #860 - REDMOND</td>
  <td class="column1 style5 s">8867 161ST AVE NE</td>
  <td class="column2 style8 s">REDMOND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row357">
  <td class="column0 style2 s">QFC #860 - REDMOND</td>
  <td class="column1 style5 s">8867 161ST AVE NE</td>
  <td class="column2 style8 s">REDMOND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row358">
  <td class="column0 style3 s">SILVER SPOON</td>
  <td class="column1 style4 s">23525 NE NOVELTY RD #A119</td>
  <td class="column2 style7 s">REDMOND</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row359">
  <td class="column0 style2 s">SILVER SPOON</td>
  <td class="column1 style5 s">23525 NE NOVELTY RD #A119</td>
  <td class="column2 style8 s">REDMOND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row360">
  <td class="column0 style3 s">QFC #878-NOVELTY HILL</td>
  <td class="column1 style4 s">23475 NE NOVELTY HILL RD</td>
  <td class="column2 style7 s">REDMOND</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row361">
  <td class="column0 style2 s">QFC #878-NOVELTY HILL (M)</td>
  <td class="column1 style5 s">23475 NE NOVELTY HILL RD</td>
  <td class="column2 style8 s">REDMOND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row362">
  <td class="column0 style3 s">QFC #820 - REDMOND</td>
  <td class="column1 style4 s">15800 NE REDMOND WY</td>
  <td class="column2 style7 s">REDMOND</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row363">
  <td class="column0 style2 s">QFC #820 - REDMOND (M)</td>
  <td class="column1 style5 s">15800 NE REDMOND WY</td>
  <td class="column2 style8 s">REDMOND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row364">
  <td class="column0 style3 s">CHTU VALLEY CENTER</td>
  <td class="column1 style4 s">4450 DAVIS AVE S</td>
  <td class="column2 style7 s">RENTON</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row365">
  <td class="column0 style2 s">CHTU VALLEY CENTER</td>
  <td class="column1 style5 s">4450 DAVIS AVE S</td>
  <td class="column2 style8 s">RENTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row366">
  <td class="column0 style3 s">QFC #871 - RENTON</td>
  <td class="column1 style4 s">4800 NE 4TH STREET</td>
  <td class="column2 style7 s">RENTON</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row367">
  <td class="column0 style2 s">QFC #871 - RENTON (M)</td>
  <td class="column1 style5 s">4800 NE 4TH STREET</td>
  <td class="column2 style8 s">RENTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row368">
  <td class="column0 style2 s">QFC #871 - RENTON (M)</td>
  <td class="column1 style5 s">4800 NE 4TH STREET</td>
  <td class="column2 style8 s">RENTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row369">
  <td class="column0 style2 s">QFC #871 - RENTON (M)</td>
  <td class="column1 style5 s">4800 NE 4TH STREET</td>
  <td class="column2 style8 s">RENTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row370">
  <td class="column0 style2 s">QFC #871 - RENTON (M)</td>
  <td class="column1 style5 s">4800 NE 4TH STREET</td>
  <td class="column2 style8 s">RENTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row371">
  <td class="column0 style2 s">QFC #871 - RENTON (M)</td>
  <td class="column1 style5 s">4800 NE 4TH STREET</td>
  <td class="column2 style8 s">RENTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row372">
  <td class="column0 style3 s">AT MICHELE'S</td>
  <td class="column1 style4 s">2323 HENDERSON LOOP</td>
  <td class="column2 style7 s">RICHLAND</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row373">
  <td class="column0 style2 s">AT MICHELE'S</td>
  <td class="column1 style5 s">2323 HENDERSON LOOP</td>
  <td class="column2 style8 s">RICHLAND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row374">
  <td class="column0 style3 s">ROSAUER'S #142</td>
  <td class="column1 style4 s">101 S 47TH AVENUE</td>
  <td class="column2 style7 s">RIDGEFIELD</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row375">
  <td class="column0 style2 s">ROSAUER'S #142</td>
  <td class="column1 style5 s">101 S 47TH AVENUE</td>
  <td class="column2 style8 s">RIDGEFIELD</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row376">
  <td class="column0 style2 s">ROSAUER'S #142</td>
  <td class="column1 style5 s">101 S 47TH AVENUE</td>
  <td class="column2 style8 s">RIDGEFIELD</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row377">
  <td class="column0 style3 s">CHOICE DELI &amp; GROCERY</td>
  <td class="column1 style4 s">6415 8TH AVE NW</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row378">
  <td class="column0 style2 s">CHOICE DELI &amp; GROCERY (M)</td>
  <td class="column1 style5 s">6415 8TH AVE NW</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row379">
  <td class="column0 style2 s">CHOICE DELI &amp; GROCERY (M)</td>
  <td class="column1 style5 s">6415 8TH AVE NW</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row380">
  <td class="column0 style3 s">KENS FOOD CENTER</td>
  <td class="column1 style4 s">2400 6TH AVE W</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row381">
  <td class="column0 style2 s">KENS FOOD CENTER</td>
  <td class="column1 style5 s">2400 6TH AVE W</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row382">
  <td class="column0 style3 s">NO. 6 CIDER PUB</td>
  <td class="column1 style4 s">823 5TH AVE N</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row383">
  <td class="column0 style2 s">NO. 6 CIDER PUB</td>
  <td class="column1 style5 s">823 5TH AVE N</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row384">
  <td class="column0 style3 s">NORTHWEST LIQUOR &amp; WINE</td>
  <td class="column1 style4 s">1605 12TH AVE</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row385">
  <td class="column0 style2 s">NORTHWEST LIQUOR &amp; WINE</td>
  <td class="column1 style5 s">1605 12TH AVE</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row386">
  <td class="column0 style2 s">NORTHWEST LIQUOR &amp; WINE</td>
  <td class="column1 style5 s">1605 12TH AVE</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row387">
  <td class="column0 style2 s">NORTHWEST LIQUOR &amp; WINE</td>
  <td class="column1 style5 s">1605 12TH AVE</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row388">
  <td class="column0 style3 s">QFC #825 - WESTWOOD VILLAGE</td>
  <td class="column1 style4 s">2500 SW BARTON ST</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row389">
  <td class="column0 style2 s">QFC #825 - WESTWOOD VILLAGE</td>
  <td class="column1 style5 s">2500 SW BARTON ST</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row390">
  <td class="column0 style2 s">QFC #825 - WESTWOOD VILLAGE</td>
  <td class="column1 style5 s">2500 SW BARTON ST</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row391">
  <td class="column0 style2 s">QFC #825 - WESTWOOD VILLAGE</td>
  <td class="column1 style5 s">2500 SW BARTON ST</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row392">
  <td class="column0 style3 s">THE BALLROOM</td>
  <td class="column1 style4 s">456 N 36TH</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row393">
  <td class="column0 style2 s">BALLROOM THE</td>
  <td class="column1 style5 s">456 N 36TH</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row394">
  <td class="column0 style3 s">76 - FREMONT</td>
  <td class="column1 style4 s">4600 FREMONT AVE N</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row395">
  <td class="column0 style2 s">76 - FREMONT</td>
  <td class="column1 style5 s">4600 FREMONT AVE N</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row396">
  <td class="column0 style2 s">76 - FREMONT</td>
  <td class="column1 style5 s">4600 FREMONT AVE N</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row397">
  <td class="column0 style3 s">SOUTHLAKE GRILL/LUNCHBOX</td>
  <td class="column1 style4 s">1253 THOMAS ST</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row398">
  <td class="column0 style2 s">SOUTHLAKE GRILL/LUNCHBOX</td>
  <td class="column1 style5 s">1253 THOMAS ST</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row399">
  <td class="column0 style3 s">76-STADIUM U-DIST</td>
  <td class="column1 style4 s">4359 ROOSEVELT WAY NE</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row400">
  <td class="column0 style2 s">76-STADIUM U-DIST(M)</td>
  <td class="column1 style5 s">4359 ROOSEVELT WAY NE</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row401">
  <td class="column0 style2 s">76-STADIUM U-DIST(M)</td>
  <td class="column1 style5 s">4359 ROOSEVELT WAY NE</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row402">
  <td class="column0 style3 s">QFC #866 - NORTHGATE</td>
  <td class="column1 style4 s">11100 ROOSEVELT WAY NE</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row403">
  <td class="column0 style2 s">QFC #866 - NORTHGATE (M)</td>
  <td class="column1 style5 s">11100 ROOSEVELT WAY NE</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row404">
  <td class="column0 style2 s">QFC #866 - NORTHGATE (M)</td>
  <td class="column1 style5 s">11100 ROOSEVELT WAY NE</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row405">
  <td class="column0 style3 s">QFC #883</td>
  <td class="column1 style4 s">4550 42ND AVE SW</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row406">
  <td class="column0 style2 s">QFC #883 (M)</td>
  <td class="column1 style5 s">4550 42ND AVE SW</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row407">
  <td class="column0 style3 s">SITE 17 DELI &amp; GROCERY</td>
  <td class="column1 style4 s">2500 WESTERN AVENUE</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row408">
  <td class="column0 style2 s">SITE 17 DELI &amp; GROCERY</td>
  <td class="column1 style5 s">2500 WESTERN AVENUE</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row409">
  <td class="column0 style2 s">SITE 17 DELI &amp; GROCERY</td>
  <td class="column1 style5 s">2500 WESTERN AVENUE</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row410">
  <td class="column0 style3 s">SHELL - C&amp;F FOOD STORE</td>
  <td class="column1 style4 s">6540 CALIFORNIA AVE SW</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row411">
  <td class="column0 style2 s">SHELL - C&amp;F FOOD STORE</td>
  <td class="column1 style5 s">6540 CALIFORNIA AVE SW</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row412">
  <td class="column0 style3 s">SECRET SAVORY</td>
  <td class="column1 style4 s">5424 BALLARD AVE NE #100</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row413">
  <td class="column0 style2 s">SECRET SAVORY</td>
  <td class="column1 style5 s">5424 BALLARD AVE NE #100</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row414">
  <td class="column0 style2 s">SECRET SAVORY</td>
  <td class="column1 style5 s">5424 BALLARD AVE NE #100</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row415">
  <td class="column0 style3 s">THE ALIBI ROOM PIKE STREET</td>
  <td class="column1 style4 s">85 PIKE ST - #400</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row416">
  <td class="column0 style2 s">ALIBI ROOM THE</td>
  <td class="column1 style5 s">85 PIKE ST - #400</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row417">
  <td class="column0 style3 s">WHY ONE GROCERY</td>
  <td class="column1 style4 s">11449 RAINIER AVE S</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row418">
  <td class="column0 style2 s">WHY ONE GROCERY</td>
  <td class="column1 style5 s">11449 RAINIER AVE S</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row419">
  <td class="column0 style3 s">DELRIDGE DELI MART</td>
  <td class="column1 style4 s">3861 DELRIDGE WAY SW</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row420">
  <td class="column0 style2 s">DELRIDGE DELI MART</td>
  <td class="column1 style5 s">3861 DELRIDGE WAY SW</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row421">
  <td class="column0 style2 s">DELRIDGE DELI MART</td>
  <td class="column1 style5 s">3861 DELRIDGE WAY SW</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row422">
  <td class="column0 style3 s">H-MART</td>
  <td class="column1 style4 s">1601 2ND AVE</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row423">
  <td class="column0 style2 s">H-MART</td>
  <td class="column1 style5 s">1601 2ND AVE</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row424">
  <td class="column0 style2 s">H-MART</td>
  <td class="column1 style5 s">1601 2ND AVE</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row425">
  <td class="column0 style3 s">SMOKE AND BEYOND</td>
  <td class="column1 style4 s">5015 RAINIER AVE S</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row426">
  <td class="column0 style2 s">SMOKE AND BEYOND</td>
  <td class="column1 style5 s">5015 RAINIER AVE S</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row427">
  <td class="column0 style3 s">COURTYARD BY MARRIOTT</td>
  <td class="column1 style4 s">925 WESTLAKE AVENUE N</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row428">
  <td class="column0 style2 s">COURTYARD BY MARRIOTT</td>
  <td class="column1 style5 s">925 WESTLAKE AVENUE N</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row429">
  <td class="column0 style3 s">PONO RANCH</td>
  <td class="column1 style4 s">1501 NW 46TH ST</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row430">
  <td class="column0 style2 s">PONO RANCH</td>
  <td class="column1 style5 s">1501 NW 46TH ST</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row431">
  <td class="column0 style3 s">THE ALIBI ROOM - GREENWOOD</td>
  <td class="column1 style4 s">10406 HOLMAN RD N</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row432">
  <td class="column0 style2 s">GREENWOOD ALIBI</td>
  <td class="column1 style5 s">10406 HOLMAN RD N</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row433">
  <td class="column0 style3 s">PLAZA SELECT FOODS</td>
  <td class="column1 style4 s">1024 MADISON ST</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row434">
  <td class="column0 style2 s">PLAZA SELECT FOODS</td>
  <td class="column1 style5 s">1024 MADISON ST</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row435">
  <td class="column0 style2 s">PLAZA SELECT FOODS</td>
  <td class="column1 style5 s">1024 MADISON ST</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row436">
  <td class="column0 style3 s">CHEVRON SHORELINE</td>
  <td class="column1 style4 s">1554 NE 145TH</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row437">
  <td class="column0 style2 s">CHEVRON SHORELINE (M)</td>
  <td class="column1 style5 s">1554 NE 145TH</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row438">
  <td class="column0 style2 s">CHEVRON SHORELINE (M)</td>
  <td class="column1 style5 s">1554 NE 145TH</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row439">
  <td class="column0 style3 s">SKY MART</td>
  <td class="column1 style4 s">7200 E MARGINAL WAY</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row440">
  <td class="column0 style2 s">SKY MART</td>
  <td class="column1 style5 s">7200 E MARGINAL WAY</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row441">
  <td class="column0 style2 s">SKY MART</td>
  <td class="column1 style5 s">7200 E MARGINAL WAY</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row442">
  <td class="column0 style3 s">FRED MEYER #122 GREENWOOD</td>
  <td class="column1 style4 s">100 NW 85TH ST</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row443">
  <td class="column0 style2 s">FRED MEYER #122 GRNWOOD(M</td>
  <td class="column1 style5 s">100 NW 85TH ST</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row444">
  <td class="column0 style2 s">FRED MEYER #122 GRNWOOD(M</td>
  <td class="column1 style5 s">100 NW 85TH ST</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row445">
  <td class="column0 style3 s">CITY FOODS</td>
  <td class="column1 style4 s">2522 5TH AVE</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row446">
  <td class="column0 style2 s">CITY FOODS</td>
  <td class="column1 style5 s">2522 5TH AVE</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row447">
  <td class="column0 style3 s">QFC #872 - HOLMAN ROAD</td>
  <td class="column1 style4 s">9999 HOLMAN RD NW</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row448">
  <td class="column0 style2 s">QFC #872 - HOLMAN (M)</td>
  <td class="column1 style5 s">9999 HOLMAN RD NW</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row449">
  <td class="column0 style2 s">QFC #872 - HOLMAN (M)</td>
  <td class="column1 style5 s">9999 HOLMAN RD NW</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row450">
  <td class="column0 style2 s">QFC #872 - HOLMAN (M)</td>
  <td class="column1 style5 s">9999 HOLMAN RD NW</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row451">
  <td class="column0 style3 s">QFC #887 - E BROADWAY</td>
  <td class="column1 style4 s">417 BROADWAY AVE E.</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row452">
  <td class="column0 style2 s">QFC #887 - E BROADWAY -M-</td>
  <td class="column1 style5 s">417 BROADWAY AVE E.</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row453">
  <td class="column0 style3 s">QFC #847 - HARVARD</td>
  <td class="column1 style4 s">1401 BROADWAY AVENUE</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row454">
  <td class="column0 style2 s">QFC #847 - HARVARD (M)</td>
  <td class="column1 style5 s">1401 BROADWAY AVENUE</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row455">
  <td class="column0 style2 s">QFC #847 - HARVARD (M)</td>
  <td class="column1 style5 s">1401 BROADWAY AVENUE</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row456">
  <td class="column0 style3 s">CAPTAIN BLACKS</td>
  <td class="column1 style4 s">129 BELMONT AVE E</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row457">
  <td class="column0 style2 s">CAPTAIN BLACKS</td>
  <td class="column1 style5 s">129 BELMONT AVE E</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row458">
  <td class="column0 style3 s">EL QUETZAL TIENDA LATINA</td>
  <td class="column1 style4 s">9240 2ND AVE SW #100</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row459">
  <td class="column0 style2 s">EL QUETZAL TIENDA LATINA</td>
  <td class="column1 style5 s">9240 2ND AVE SW #100</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row460">
  <td class="column0 style3 s">QFC #849 - RAINIER AVE</td>
  <td class="column1 style4 s">2711 RAINIER AVE SO</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row461">
  <td class="column0 style2 s">QFC #849 - RAINIER (M)</td>
  <td class="column1 style5 s">2711 RAINIER AVE SO</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row462">
  <td class="column0 style3 s">QFC #807 - UNIVERSITY VILLAGE</td>
  <td class="column1 style4 s">2746 NE 45TH</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row463">
  <td class="column0 style2 s">QFC #807 - U VILLAGE (M)</td>
  <td class="column1 style5 s">2746 NE 45TH</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row464">
  <td class="column0 style3 s">OLD STOVE BREWING COMPANY</td>
  <td class="column1 style4 s">1901 WESTERN AVE STE A</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row465">
  <td class="column0 style2 s">OLD STOVE BREWING COMPANY</td>
  <td class="column1 style5 s">1901 WESTERN AVE STE A</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row466">
  <td class="column0 style3 s">7-ELEVEN #14355</td>
  <td class="column1 style4 s">9126 ROOSEVELT WAY NE</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row467">
  <td class="column0 style2 s">7-ELEVEN #14355</td>
  <td class="column1 style5 s">9126 ROOSEVELT WAY NE</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row468">
  <td class="column0 style3 s">SOUTH PARK FOODS</td>
  <td class="column1 style4 s">8909 14TH AVE S</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row469">
  <td class="column0 style2 s">SOUTH PARK FOODS</td>
  <td class="column1 style5 s">8909 14TH AVE S</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row470">
  <td class="column0 style3 s">COSTAS</td>
  <td class="column1 style4 s">4559 UNIVERSITY WAY NE</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row471">
  <td class="column0 style2 s">COSTAS</td>
  <td class="column1 style5 s">4559 UNIVERSITY WAY NE</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row472">
  <td class="column0 style2 s">COSTAS</td>
  <td class="column1 style5 s">4559 UNIVERSITY WAY NE</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row473">
  <td class="column0 style3 s">QFC #881 - UPTOWN/QUEEN ANNE</td>
  <td class="column1 style4 s">500 MERCER ST #C101</td>
  <td class="column2 style7 s">SEATTLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row474">
  <td class="column0 style2 s">QFC #881 - UPTOWN (M)</td>
  <td class="column1 style5 s">500 MERCER ST #C101</td>
  <td class="column2 style8 s">SEATTLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row475">
  <td class="column0 style3 s">SELAH CHEVRON GAS</td>
  <td class="column1 style4 s">313 S 1ST ST</td>
  <td class="column2 style7 s">SELAH</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row476">
  <td class="column0 style2 s">SELAH CHEVRON GAS (M)</td>
  <td class="column1 style5 s">313 S 1ST ST</td>
  <td class="column2 style8 s">SELAH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row477">
  <td class="column0 style2 s">SELAH CHEVRON GAS (M)</td>
  <td class="column1 style5 s">313 S 1ST ST</td>
  <td class="column2 style8 s">SELAH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>