
<tr class="row478">
  <td class="column0 style2 s">SELAH CHEVRON GAS (M)</td>
  <td class="column1 style5 s">313 S 1ST ST</td>
  <td class="column2 style8 s">SELAH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row479">
  <td class="column0 style3 s">SELAH CONOCO</td>
  <td class="column1 style4 s">301 S FIRST ST</td>
  <td class="column2 style7 s">SELAH</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row480">
  <td class="column0 style2 s">SELAH CONOCO</td>
  <td class="column1 style5 s">301 S FIRST ST</td>
  <td class="column2 style8 s">SELAH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row481">
  <td class="column0 style3 s">SEQUIM CHEVRON</td>
  <td class="column1 style4 s">23 HOOKER RD</td>
  <td class="column2 style7 s">SEQUIM</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row482">
  <td class="column0 style2 s">SEQUIM CHEVRON</td>
  <td class="column1 style5 s">23 HOOKER RD</td>
  <td class="column2 style8 s">SEQUIM</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row483">
  <td class="column0 style3 s">ALDER WOOD BISTRO</td>
  <td class="column1 style4 s">139 W ALDER ST</td>
  <td class="column2 style7 s">SEQUIM</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row484">
  <td class="column0 style2 s">ALDER WOOD BISTRO</td>
  <td class="column1 style5 s">139 W ALDER ST</td>
  <td class="column2 style8 s">SEQUIM</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row485">
  <td class="column0 style3 s">MAYNARD'S</td>
  <td class="column1 style4 s">2251 NW BUCKLIN HILL RD</td>
  <td class="column2 style7 s">SILVERDALE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row486">
  <td class="column0 style2 s">MAYNARD'S</td>
  <td class="column1 style5 s">2251 NW BUCKLIN HILL RD</td>
  <td class="column2 style8 s">SILVERDALE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row487">
  <td class="column0 style3 s">NEW MACHIAS GROCERY</td>
  <td class="column1 style4 s">1217 SO MACHIAS ROAD</td>
  <td class="column2 style7 s">SNOHOMISH</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row488">
  <td class="column0 style2 s">NEW MACHIAS GROCERY (M)</td>
  <td class="column1 style5 s">1217 SO MACHIAS ROAD</td>
  <td class="column2 style8 s">SNOHOMISH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row489">
  <td class="column0 style2 s">NEW MACHIAS GROCERY (M)</td>
  <td class="column1 style5 s">1217 SO MACHIAS ROAD</td>
  <td class="column2 style8 s">SNOHOMISH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row490">
  <td class="column0 style2 s">NEW MACHIAS GROCERY (M)</td>
  <td class="column1 style5 s">1217 SO MACHIAS ROAD</td>
  <td class="column2 style8 s">SNOHOMISH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row491">
  <td class="column0 style2 s">NEW MACHIAS GROCERY (M)</td>
  <td class="column1 style5 s">1217 SO MACHIAS ROAD</td>
  <td class="column2 style8 s">SNOHOMISH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row492">
  <td class="column0 style2 s">NEW MACHIAS GROCERY (M)</td>
  <td class="column1 style5 s">1217 SO MACHIAS ROAD</td>
  <td class="column2 style8 s">SNOHOMISH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row493">
  <td class="column0 style2 s">NEW MACHIAS GROCERY (M)</td>
  <td class="column1 style5 s">1217 SO MACHIAS ROAD</td>
  <td class="column2 style8 s">SNOHOMISH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row494">
  <td class="column0 style3 s">EXPRESS STOP</td>
  <td class="column1 style4 s">16510 SR 9 SE STE 104</td>
  <td class="column2 style7 s">SNOHOMISH</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row495">
  <td class="column0 style2 s">EXPRESS STOP</td>
  <td class="column1 style5 s">16510 SR 9 SE STE 104</td>
  <td class="column2 style8 s">SNOHOMISH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row496">
  <td class="column0 style2 s">EXPRESS STOP</td>
  <td class="column1 style5 s">16510 SR 9 SE STE 104</td>
  <td class="column2 style8 s">SNOHOMISH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row497">
  <td class="column0 style2 s">EXPRESS STOP</td>
  <td class="column1 style5 s">16510 SR 9 SE STE 104</td>
  <td class="column2 style8 s">SNOHOMISH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row498">
  <td class="column0 style2 s">EXPRESS STOP</td>
  <td class="column1 style5 s">16510 SR 9 SE STE 104</td>
  <td class="column2 style8 s">SNOHOMISH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row499">
  <td class="column0 style2 s">EXPRESS STOP</td>
  <td class="column1 style5 s">16510 SR 9 SE STE 104</td>
  <td class="column2 style8 s">SNOHOMISH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row500">
  <td class="column0 style3 s">STORM LAKE GROCERY</td>
  <td class="column1 style4 s">5124 STORM LAKE ROAD</td>
  <td class="column2 style7 s">SNOHOMISH</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row501">
  <td class="column0 style2 s">STORM LAKE GROCERY</td>
  <td class="column1 style5 s">5124 STORM LAKE ROAD</td>
  <td class="column2 style8 s">SNOHOMISH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row502">
  <td class="column0 style2 s">STORM LAKE GROCERY</td>
  <td class="column1 style5 s">5124 STORM LAKE ROAD</td>
  <td class="column2 style8 s">SNOHOMISH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row503">
  <td class="column0 style3 s">76 - PINE STREET</td>
  <td class="column1 style4 s">235 PINE</td>
  <td class="column2 style7 s">SNOHOMISH</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row504">
  <td class="column0 style2 s">76 - PINE STREET</td>
  <td class="column1 style5 s">235 PINE</td>
  <td class="column2 style8 s">SNOHOMISH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row505">
  <td class="column0 style2 s">76 - PINE STREET</td>
  <td class="column1 style5 s">235 PINE</td>
  <td class="column2 style8 s">SNOHOMISH</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row506">
  <td class="column0 style3 s">SPANAWAY FOOD AND DELI</td>
  <td class="column1 style4 s">18920 PACIFIC AVE</td>
  <td class="column2 style7 s">SPANAWAY</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row507">
  <td class="column0 style2 s">SPANAWAY FOOD AND DELI</td>
  <td class="column1 style5 s">18920 PACIFIC AVE</td>
  <td class="column2 style8 s">SPANAWAY</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row508">
  <td class="column0 style3 s">ROSAUERS #7 FRANCIS AVE</td>
  <td class="column1 style4 s">1724 W FRANCIS AVE</td>
  <td class="column2 style7 s">SPOKANE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row509">
  <td class="column0 style2 s">ROSAUERS #7 FRANCIS (M)</td>
  <td class="column1 style5 s">1724 W FRANCIS AVE</td>
  <td class="column2 style8 s">SPOKANE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row510">
  <td class="column0 style3 s">KALISPEL GOLF &amp; COUNTRY</td>
  <td class="column1 style4 s">2010 W WAIKIKI</td>
  <td class="column2 style7 s">SPOKANE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row511">
  <td class="column0 style2 s">KALISPEL GOLF &amp; COUNTRY</td>
  <td class="column1 style5 s">2010 W WAIKIKI</td>
  <td class="column2 style8 s">SPOKANE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row512">
  <td class="column0 style3 s">THE MANGO TREE</td>
  <td class="column1 style4 s">401 W MAIN</td>
  <td class="column2 style7 s">SPOKANE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row513">
  <td class="column0 style2 s">THE MANGO TREE</td>
  <td class="column1 style5 s">401 W MAIN</td>
  <td class="column2 style8 s">SPOKANE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row514">
  <td class="column0 style3 s">POOLES PUBLIC HOUSE SOUTH</td>
  <td class="column1 style4 s">5620 S REGAL STE 1</td>
  <td class="column2 style7 s">SPOKANE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row515">
  <td class="column0 style2 s">POOLES PUBLIC HOUSE SOUTH</td>
  <td class="column1 style5 s">5620 S REGAL STE 1</td>
  <td class="column2 style8 s">SPOKANE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row516">
  <td class="column0 style3 s">HALLETT FARMS</td>
  <td class="column1 style4 s">14109 E SPRAGUE AVE STE 2</td>
  <td class="column2 style7 s">SPOKANE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row517">
  <td class="column0 style2 s">HALLETT FARMS</td>
  <td class="column1 style5 s">14109 E SPRAGUE AVE STE 2</td>
  <td class="column2 style8 s">SPOKANE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row518">
  <td class="column0 style3 s">QFC #879 - STANWOOD</td>
  <td class="column1 style4 s">27008 92ND AVE NW</td>
  <td class="column2 style7 s">STANWOOD</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row519">
  <td class="column0 style2 s">QFC #879 - STANWOOD (M)</td>
  <td class="column1 style5 s">27008 92ND AVE NW</td>
  <td class="column2 style8 s">STANWOOD</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row520">
  <td class="column0 style3 s">A &amp; J SELECT MARKET</td>
  <td class="column1 style4 s">265 SW 2ND</td>
  <td class="column2 style7 s">STEVENSON</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row521">
  <td class="column0 style2 s">A &amp; J SELECT MARKET</td>
  <td class="column1 style5 s">265 SW 2ND</td>
  <td class="column2 style8 s">STEVENSON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row522">
  <td class="column0 style3 s">RED APPLE SULTAN</td>
  <td class="column1 style4 s">807 WEST STEVENS AVE</td>
  <td class="column2 style7 s">SULTAN</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row523">
  <td class="column0 style2 s">RED APPLE SULTAN (M)</td>
  <td class="column1 style5 s">807 WEST STEVENS AVE</td>
  <td class="column2 style8 s">SULTAN</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row524">
  <td class="column0 style2 s">RED APPLE SULTAN (M)</td>
  <td class="column1 style5 s">807 WEST STEVENS AVE</td>
  <td class="column2 style8 s">SULTAN</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row525">
  <td class="column0 style3 s">CHERRY STREET MARKET</td>
  <td class="column1 style4 s">725 CHERRY ST</td>
  <td class="column2 style7 s">SUMAS</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row526">
  <td class="column0 style2 s">CHERRY STREET MARKET</td>
  <td class="column1 style5 s">725 CHERRY ST</td>
  <td class="column2 style8 s">SUMAS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row527">
  <td class="column0 style2 s">CHERRY STREET MARKET</td>
  <td class="column1 style5 s">725 CHERRY ST</td>
  <td class="column2 style8 s">SUMAS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row528">
  <td class="column0 style2 s">CHERRY STREET MARKET</td>
  <td class="column1 style5 s">725 CHERRY ST</td>
  <td class="column2 style8 s">SUMAS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row529">
  <td class="column0 style2 s">CHERRY STREET MARKET</td>
  <td class="column1 style5 s">725 CHERRY ST</td>
  <td class="column2 style8 s">SUMAS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row530">
  <td class="column0 style3 s">PAY &amp; RUN</td>
  <td class="column1 style4 s">1015 CHERRY STREET</td>
  <td class="column2 style7 s">SUMAS</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row531">
  <td class="column0 style2 s">PAY &amp; RUN (M)</td>
  <td class="column1 style5 s">1015 CHERRY STREET</td>
  <td class="column2 style8 s">SUMAS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row532">
  <td class="column0 style2 s">PAY &amp; RUN (M)</td>
  <td class="column1 style5 s">1015 CHERRY STREET</td>
  <td class="column2 style8 s">SUMAS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row533">
  <td class="column0 style2 s">PAY &amp; RUN (M)</td>
  <td class="column1 style5 s">1015 CHERRY STREET</td>
  <td class="column2 style8 s">SUMAS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row534">
  <td class="column0 style2 s">PAY &amp; RUN (M)</td>
  <td class="column1 style5 s">1015 CHERRY STREET</td>
  <td class="column2 style8 s">SUMAS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row535">
  <td class="column0 style3 s">DAY AND NIGHT GROC 102</td>
  <td class="column1 style4 s">1313 MAIN ST</td>
  <td class="column2 style7 s">SUMNER</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row536">
  <td class="column0 style2 s">DAY AND NIGHT GROC 102</td>
  <td class="column1 style5 s">1313 MAIN ST</td>
  <td class="column2 style8 s">SUMNER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row537">
  <td class="column0 style3 s">WESTGATE LIQUOR &amp; WINE</td>
  <td class="column1 style4 s">2627 N PEARL ST</td>
  <td class="column2 style7 s">TACOMA</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row538">
  <td class="column0 style2 s">WESTGATE LIQUOR &amp; WINE</td>
  <td class="column1 style5 s">2627 N PEARL ST</td>
  <td class="column2 style8 s">TACOMA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row539">
  <td class="column0 style2 s">WESTGATE LIQUOR &amp; WINE</td>
  <td class="column1 style5 s">2627 N PEARL ST</td>
  <td class="column2 style8 s">TACOMA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row540">
  <td class="column0 style2 s">WESTGATE LIQUOR &amp; WINE</td>
  <td class="column1 style5 s">2627 N PEARL ST</td>
  <td class="column2 style8 s">TACOMA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row541">
  <td class="column0 style2 s">WESTGATE LIQUOR &amp; WINE</td>
  <td class="column1 style5 s">2627 N PEARL ST</td>
  <td class="column2 style8 s">TACOMA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row542">
  <td class="column0 style3 s">MIDLAND CHEVRON</td>
  <td class="column1 style4 s">3004 112TH STREET E</td>
  <td class="column2 style7 s">TACOMA</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row543">
  <td class="column0 style2 s">MIDLAND CHEVRON(M)</td>
  <td class="column1 style5 s">3004 112TH STREET E</td>
  <td class="column2 style8 s">TACOMA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row544">
  <td class="column0 style3 s">JIM'S DELI MARKET</td>
  <td class="column1 style4 s">9318 S STEELE ST</td>
  <td class="column2 style7 s">TACOMA</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row545">
  <td class="column0 style2 s">JIM'S DELI MARKET</td>
  <td class="column1 style5 s">9318 S STEELE ST</td>
  <td class="column2 style8 s">TACOMA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row546">
  <td class="column0 style2 s">JIM'S DELI MARKET</td>
  <td class="column1 style5 s">9318 S STEELE ST</td>
  <td class="column2 style8 s">TACOMA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row547">
  <td class="column0 style2 s">JIM'S DELI MARKET</td>
  <td class="column1 style5 s">9318 S STEELE ST</td>
  <td class="column2 style8 s">TACOMA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row548">
  <td class="column0 style3 s">CHEVRON - KSP</td>
  <td class="column1 style4 s">4814 S CENTER STREET</td>
  <td class="column2 style7 s">TACOMA</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row549">
  <td class="column0 style2 s">CHEVRON - KSP</td>
  <td class="column1 style5 s">4814 S CENTER STREET</td>
  <td class="column2 style8 s">TACOMA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row550">
  <td class="column0 style2 s">CHEVRON - KSP</td>
  <td class="column1 style5 s">4814 S CENTER STREET</td>
  <td class="column2 style8 s">TACOMA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row551">
  <td class="column0 style3 s">TACOMA BOYS</td>
  <td class="column1 style4 s">5602 6TH AVE</td>
  <td class="column2 style7 s">TACOMA</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row552">
  <td class="column0 style2 s">TACOMA BOYS (M)</td>
  <td class="column1 style5 s">5602 6TH AVE</td>
  <td class="column2 style8 s">TACOMA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row553">
  <td class="column0 style3 s">76 -ONE STOP MINI MART</td>
  <td class="column1 style4 s">4401 6TH AVENUE</td>
  <td class="column2 style7 s">TACOMA</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row554">
  <td class="column0 style2 s">76 -ONE STOP MINI MART(M)</td>
  <td class="column1 style5 s">4401 6TH AVENUE</td>
  <td class="column2 style8 s">TACOMA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row555">
  <td class="column0 style3 s">HADI AM/PM</td>
  <td class="column1 style4 s">1101 SPRAGUE AVE</td>
  <td class="column2 style7 s">TACOMA</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row556">
  <td class="column0 style2 s">HADI AM/PM (M)</td>
  <td class="column1 style5 s">1101 SPRAGUE AVE</td>
  <td class="column2 style8 s">TACOMA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row557">
  <td class="column0 style3 s">TENINO IGA MARKET</td>
  <td class="column1 style4 s">669 LINCOLN AVE E</td>
  <td class="column2 style7 s">TENINO</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row558">
  <td class="column0 style2 s">TENINO IGA MARKET (M)</td>
  <td class="column1 style5 s">669 LINCOLN AVE E</td>
  <td class="column2 style8 s">TENINO</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row559">
  <td class="column0 style3 s">TUMWATER SHELL</td>
  <td class="column1 style4 s">6131 CAPITOL BLVD</td>
  <td class="column2 style7 s">TUMWATER</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row560">
  <td class="column0 style2 s">TUMWATER SHELL</td>
  <td class="column1 style5 s">6131 CAPITOL BLVD</td>
  <td class="column2 style8 s">TUMWATER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row561">
  <td class="column0 style3 s">VILLA GROVE IGA</td>
  <td class="column1 style4 s">9200 LITTLEROCK RD</td>
  <td class="column2 style7 s">TUMWATER</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row562">
  <td class="column0 style2 s">VILLA GROVE IGA</td>
  <td class="column1 style5 s">9200 LITTLEROCK RD</td>
  <td class="column2 style8 s">TUMWATER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row563">
  <td class="column0 style3 s">SOUTHEND GROCERY</td>
  <td class="column1 style4 s">6450 CAPITOL BLVD</td>
  <td class="column2 style7 s">TUMWATER</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row564">
  <td class="column0 style2 s">SOUTHEND GROCERY</td>
  <td class="column1 style5 s">6450 CAPITOL BLVD</td>
  <td class="column2 style8 s">TUMWATER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row565">
  <td class="column0 style3 s">HARBOR GREENS UNIVERSITY PLACE</td>
  <td class="column1 style4 s">2620 BRIDGEPORT WAY W #D</td>
  <td class="column2 style7 s">UNIVERSITY PLAC</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row566">
  <td class="column0 style2 s">HARBOR GREENS UP</td>
  <td class="column1 style5 s">2620 BRIDGEPORT WAY W #D</td>
  <td class="column2 style8 s">UNIVERSITY PLAC</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row567">
  <td class="column0 style2 s">HARBOR GREENS UP</td>
  <td class="column1 style5 s">2620 BRIDGEPORT WAY W #D</td>
  <td class="column2 style8 s">UNIVERSITY PLAC</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row568">
  <td class="column0 style3 s">FRED MEYER #236 @ ORCHARD</td>
  <td class="column1 style4 s">7411 NE 117TH AVE</td>
  <td class="column2 style7 s">VANCOUVER</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row569">
  <td class="column0 style2 s">FRED MEYER #236 @ ORCHARD</td>
  <td class="column1 style5 s">7411 NE 117TH AVE</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row570">
  <td class="column0 style3 s">NEW SEASONS #1112</td>
  <td class="column1 style4 s">2100B SE 164TH AVE #101</td>
  <td class="column2 style7 s">VANCOUVER</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row571">
  <td class="column0 style2 s">NEW SEASONS #1112 (F)</td>
  <td class="column1 style5 s">2100B SE 164TH AVE #101</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row572">
  <td class="column0 style2 s">NEW SEASONS #1112 (F)</td>
  <td class="column1 style5 s">2100B SE 164TH AVE #101</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row573">
  <td class="column0 style2 s">NEW SEASONS #1112 (F)</td>
  <td class="column1 style5 s">2100B SE 164TH AVE #101</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row574">
  <td class="column0 style3 s">FRED MEYER #093 @ E. VANCOUVER</td>
  <td class="column1 style4 s">16600 SE MCGILLIVRAY</td>
  <td class="column2 style7 s">VANCOUVER</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row575">
  <td class="column0 style2 s">FRED MEYER #093 @ E. VANC</td>
  <td class="column1 style5 s">16600 SE MCGILLIVRAY</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row576">
  <td class="column0 style2 s">FRED MEYER #093 @ E. VANC</td>
  <td class="column1 style5 s">16600 SE MCGILLIVRAY</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row577">
  <td class="column0 style2 s">FRED MEYER #093 @ E. VANC</td>
  <td class="column1 style5 s">16600 SE MCGILLIVRAY</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row578">
  <td class="column0 style2 s">FRED MEYER #093 @ E. VANC</td>
  <td class="column1 style5 s">16600 SE MCGILLIVRAY</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row579">
  <td class="column0 style3 s">QFC #212 @ SE 192ND</td>
  <td class="column1 style4 s">3505 SE 192ND AVENUE</td>
  <td class="column2 style7 s">VANCOUVER</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row580">
  <td class="column0 style2 s">QFC #212 @ SE 192ND</td>
  <td class="column1 style5 s">3505 SE 192ND AVENUE</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row581">
  <td class="column0 style2 s">QFC #212 @ SE 192ND</td>
  <td class="column1 style5 s">3505 SE 192ND AVENUE</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row582">
  <td class="column0 style2 s">QFC #212 @ SE 192ND</td>
  <td class="column1 style5 s">3505 SE 192ND AVENUE</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row583">
  <td class="column0 style2 s">QFC #212 @ SE 192ND</td>
  <td class="column1 style5 s">3505 SE 192ND AVENUE</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row584">
  <td class="column0 style2 s">QFC #212 @ SE 192ND</td>
  <td class="column1 style5 s">3505 SE 192ND AVENUE</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row585">
  <td class="column0 style2 s">QFC #212 @ SE 192ND</td>
  <td class="column1 style5 s">3505 SE 192ND AVENUE</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row586">
  <td class="column0 style2 s">QFC #212 @ SE 192ND</td>
  <td class="column1 style5 s">3505 SE 192ND AVENUE</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row587">
  <td class="column0 style3 s">BEVERAGE TOBACCO ZONE</td>
  <td class="column1 style4 s">11320 NE 49TH ST #201</td>
  <td class="column2 style7 s">VANCOUVER</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row588">
  <td class="column0 style2 s">BEVERAGE TOBACCO ZONE</td>
  <td class="column1 style5 s">11320 NE 49TH ST #201</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row589">
  <td class="column0 style2 s">BEVERAGE TOBACCO ZONE</td>
  <td class="column1 style5 s">11320 NE 49TH ST #201</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row590">
  <td class="column0 style3 s">ARCO QUICK STOP</td>
  <td class="column1 style4 s">2829 E MILL PLAIN BLVD</td>
  <td class="column2 style7 s">VANCOUVER</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row591">
  <td class="column0 style2 s">ARCO QUICK STOP</td>
  <td class="column1 style5 s">2829 E MILL PLAIN BLVD</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row592">
  <td class="column0 style3 s">FRED MEYER #460 @ SALMON</td>
  <td class="column1 style4 s">800 NE TENNEY</td>
  <td class="column2 style7 s">VANCOUVER</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row593">
  <td class="column0 style2 s">FRED MEYER #460 @ SALMON</td>
  <td class="column1 style5 s">800 NE TENNEY</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row594">
  <td class="column0 style2 s">FRED MEYER #460 @ SALMON</td>
  <td class="column1 style5 s">800 NE TENNEY</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row595">
  <td class="column0 style2 s">FRED MEYER #460 @ SALMON</td>
  <td class="column1 style5 s">800 NE TENNEY</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row596">
  <td class="column0 style3 s">FRED MEYER #683 @ GRAND CENTRAL</td>
  <td class="column1 style4 s">2500 COLUMBIA HOUSE BLVD</td>
  <td class="column2 style7 s">VANCOUVER</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row597">
  <td class="column0 style2 s">FRED MEYER #683 @ GRAND C</td>
  <td class="column1 style5 s">2500 COLUMBIA HOUSE BLVD</td>
  <td class="column2 style8 s">VANCOUVER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row598">
  <td class="column0 style3 s">ORCHARD HILLS COUNTRY CLUB</td>
  <td class="column1 style4 s">605 39TH ST.</td>
  <td class="column2 style7 s">WASHOUGAL</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row599">
  <td class="column0 style2 s">ORCHARD HILLS COUNTRY CL</td>
  <td class="column1 style5 s">605 39TH ST.</td>
  <td class="column2 style8 s">WASHOUGAL</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row600">
  <td class="column0 style3 s">YOKES #14 W. RICHLAND</td>
  <td class="column1 style4 s">1401 BOMBING RANGE RD</td>
  <td class="column2 style7 s">WEST RICHLAND</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row601">
  <td class="column0 style2 s">YOKES #14 W. RICHLAND(M)</td>
  <td class="column1 style5 s">1401 BOMBING RANGE RD</td>
  <td class="column2 style8 s">WEST RICHLAND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row602">
  <td class="column0 style2 s">YOKES #14 W. RICHLAND(M)</td>
  <td class="column1 style5 s">1401 BOMBING RANGE RD</td>
  <td class="column2 style8 s">WEST RICHLAND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row603">
  <td class="column0 style3 s">XPRESS MART</td>
  <td class="column1 style4 s">51 FIRING CENTER ROAD</td>
  <td class="column2 style7 s">YAKIMA</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row604">
  <td class="column0 style2 s">XPRESS MARTFIRE (M)</td>
  <td class="column1 style5 s">51 FIRING CENTER ROAD</td>
  <td class="column2 style8 s">YAKIMA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row605">
  <td class="column0 style2 s">XPRESS MARTFIRE (M)</td>
  <td class="column1 style5 s">51 FIRING CENTER ROAD</td>
  <td class="column2 style8 s">YAKIMA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row606">
  <td class="column0 style2 s">XPRESS MARTFIRE (M)</td>
  <td class="column1 style5 s">51 FIRING CENTER ROAD</td>
  <td class="column2 style8 s">YAKIMA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row607">
  <td class="column0 style16 s"></td>
  <td class="column1 style16 s"></td>
  <td class="column2 style16 s"></td>
  <td class="column3 style16 s"></td>
  <td class="column4 style21 s"></td>
  <td class="column5">&nbsp;</td>
</tr>
<tr class="row608">
  <td class="column0 style0 s">Report Created on 3/23/2020 7:19:18 PM</td>
  <td class="column1">&nbsp;</td>
  <td class="column2">&nbsp;</td>
  <td class="column3">&nbsp;</td>
  <td class="column4">&nbsp;</td>
  <td class="column5">&nbsp;</td>
</tr>