
<tr class="row245">
  <td class="column0 style2 s">VILLAGE MARKET</td>
  <td class="column1 style5 s">6121 176TH ST SW</td>
  <td class="column2 style8 s">LYNNWOOD</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row246">
  <td class="column0 style3 s">FRED MEYER #180 LYNWOOD</td>
  <td class="column1 style4 s">4615 196TH STREET</td>
  <td class="column2 style7 s">LYNNWOOD</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row247">
  <td class="column0 style2 s">FRED MEYER #180 LYNWOOD(M</td>
  <td class="column1 style5 s">4615 196TH STREET</td>
  <td class="column2 style8 s">LYNNWOOD</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row248">
  <td class="column0 style3 s">QFC #835 - W LYNNWOOD</td>
  <td class="column1 style4 s">7510 196TH AVENUE</td>
  <td class="column2 style7 s">LYNNWOOD</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row249">
  <td class="column0 style2 s">QFC #835 - W LYNNWD (M)</td>
  <td class="column1 style5 s">7510 196TH AVENUE</td>
  <td class="column2 style8 s">LYNNWOOD</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row250">
  <td class="column0 style3 s">76 - ALDERWOOD MALL PKWY</td>
  <td class="column1 style4 s">19611 ALDERWOOD MALL</td>
  <td class="column2 style7 s">LYNNWOOD</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row251">
  <td class="column0 style2 s">76 - ALDERWOOD MALL PKWY</td>
  <td class="column1 style5 s">19611 ALDERWOOD MALL</td>
  <td class="column2 style8 s">LYNNWOOD</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row252">
  <td class="column0 style2 s">76 - ALDERWOOD MALL PKWY</td>
  <td class="column1 style5 s">19611 ALDERWOOD MALL</td>
  <td class="column2 style8 s">LYNNWOOD</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row253">
  <td class="column0 style2 s">76 - ALDERWOOD MALL PKWY</td>
  <td class="column1 style5 s">19611 ALDERWOOD MALL</td>
  <td class="column2 style8 s">LYNNWOOD</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row254">
  <td class="column0 style2 s">76 - ALDERWOOD MALL PKWY</td>
  <td class="column1 style5 s">19611 ALDERWOOD MALL</td>
  <td class="column2 style8 s">LYNNWOOD</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row255">
  <td class="column0 style3 s">TRUE LIGHT MARKET</td>
  <td class="column1 style4 s">16404 36TH AVE W</td>
  <td class="column2 style7 s">LYNNWOOD</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row256">
  <td class="column0 style2 s">TRUE LIGHT MARKET</td>
  <td class="column1 style5 s">16404 36TH AVE W</td>
  <td class="column2 style8 s">LYNNWOOD</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row257">
  <td class="column0 style3 s">FRED MEYER #682 MAPLE</td>
  <td class="column1 style4 s">26520 MAPLE VALLEY-BLACKD</td>
  <td class="column2 style7 s">MAPLE VALLEY</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row258">
  <td class="column0 style2 s">FRED MEYER #682 MAPLE(M)</td>
  <td class="column1 style5 s">26520 MAPLE VALLEY-BLACKD</td>
  <td class="column2 style8 s">MAPLE VALLEY</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row259">
  <td class="column0 style3 s">MARYSVILLE LIQUOR &amp; WINE</td>
  <td class="column1 style4 s">6608 64TH ST NE STE C</td>
  <td class="column2 style7 s">MARYSVILLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row260">
  <td class="column0 style2 s">MARYSVILLE LIQUOR &amp; WINE</td>
  <td class="column1 style5 s">6608 64TH ST NE STE C</td>
  <td class="column2 style8 s">MARYSVILLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row261">
  <td class="column0 style2 s">MARYSVILLE LIQUOR &amp; WINE</td>
  <td class="column1 style5 s">6608 64TH ST NE STE C</td>
  <td class="column2 style8 s">MARYSVILLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row262">
  <td class="column0 style3 s">TULALIP LIQUOR STORE</td>
  <td class="column1 style4 s">6326 33RD AVE NE</td>
  <td class="column2 style7 s">MARYSVILLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row263">
  <td class="column0 style2 s">TULALIP LIQUOR STORE SMOKE SHOP</td>
  <td class="column1 style5 s">6326 33RD AVE NE</td>
  <td class="column2 style8 s">MARYSVILLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row264">
  <td class="column0 style2 s">TULALIP LIQUOR STORE SMOKE SHOP</td>
  <td class="column1 style5 s">6326 33RD AVE NE</td>
  <td class="column2 style8 s">MARYSVILLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row265">
  <td class="column0 style2 s">TULALIP LIQUOR STORE SMOKE SHOP</td>
  <td class="column1 style5 s">6326 33RD AVE NE</td>
  <td class="column2 style8 s">MARYSVILLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row266">
  <td class="column0 style2 s">TULALIP LIQUOR STORE SMOKE SHOP</td>
  <td class="column1 style5 s">6326 33RD AVE NE</td>
  <td class="column2 style8 s">MARYSVILLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row267">
  <td class="column0 style3 s">QUICK STOP</td>
  <td class="column1 style4 s">9515 STATE AVE</td>
  <td class="column2 style7 s">MARYSVILLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row268">
  <td class="column0 style2 s">QUICK STOP</td>
  <td class="column1 style5 s">9515 STATE AVE</td>
  <td class="column2 style8 s">MARYSVILLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row269">
  <td class="column0 style3 s">ARCO FACITLITY #04390</td>
  <td class="column1 style4 s">1124 4TH ST</td>
  <td class="column2 style7 s">MARYSVILLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row270">
  <td class="column0 style2 s">ARCO FACITLITY #04390</td>
  <td class="column1 style5 s">1124 4TH ST</td>
  <td class="column2 style8 s">MARYSVILLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row271">
  <td class="column0 style2 s">ARCO FACITLITY #04390</td>
  <td class="column1 style5 s">1124 4TH ST</td>
  <td class="column2 style8 s">MARYSVILLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row272">
  <td class="column0 style3 s">QFC #806-MERCER ISLAND</td>
  <td class="column1 style4 s">8421 SE 68TH ST</td>
  <td class="column2 style7 s">MERCER ISLAND</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row273">
  <td class="column0 style2 s">QFC #806-MERCER ISLAND(M)</td>
  <td class="column1 style5 s">8421 SE 68TH ST</td>
  <td class="column2 style8 s">MERCER ISLAND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row274">
  <td class="column0 style2 s">QFC #806-MERCER ISLAND(M)</td>
  <td class="column1 style5 s">8421 SE 68TH ST</td>
  <td class="column2 style8 s">MERCER ISLAND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row275">
  <td class="column0 style3 s">QFC #839 - NORTH MERCER</td>
  <td class="column1 style4 s">7823 SE 28TH</td>
  <td class="column2 style7 s">MERCER ISLAND</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row276">
  <td class="column0 style2 s">QFC #839 - NO.MERCER (M)</td>
  <td class="column1 style5 s">7823 SE 28TH</td>
  <td class="column2 style8 s">MERCER ISLAND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row277">
  <td class="column0 style3 s">GRAND MARKET</td>
  <td class="column1 style4 s">3729 E COLLEGE WAY #100</td>
  <td class="column2 style7 s">MOUNT VERNON</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row278">
  <td class="column0 style2 s">GRAND MARKET</td>
  <td class="column1 style5 s">3729 E COLLEGE WAY #100</td>
  <td class="column2 style8 s">MOUNT VERNON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row279">
  <td class="column0 style2 s">GRAND MARKET</td>
  <td class="column1 style5 s">3729 E COLLEGE WAY #100</td>
  <td class="column2 style8 s">MOUNT VERNON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row280">
  <td class="column0 style2 s">GRAND MARKET</td>
  <td class="column1 style5 s">3729 E COLLEGE WAY #100</td>
  <td class="column2 style8 s">MOUNT VERNON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row281">
  <td class="column0 style2 s">GRAND MARKET</td>
  <td class="column1 style5 s">3729 E COLLEGE WAY #100</td>
  <td class="column2 style8 s">MOUNT VERNON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row282">
  <td class="column0 style2 s">GRAND MARKET</td>
  <td class="column1 style5 s">3729 E COLLEGE WAY #100</td>
  <td class="column2 style8 s">MOUNT VERNON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row283">
  <td class="column0 style3 s">LA CONNER ROAD SHELL</td>
  <td class="column1 style4 s">1377 LACONNER WHITNE</td>
  <td class="column2 style7 s">MOUNT VERNON</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row284">
  <td class="column0 style2 s">LA CONNER ROAD SHELL (M)</td>
  <td class="column1 style5 s">1377 LACONNER WHITNE</td>
  <td class="column2 style8 s">MOUNT VERNON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row285">
  <td class="column0 style2 s">LA CONNER ROAD SHELL (M)</td>
  <td class="column1 style5 s">1377 LACONNER WHITNE</td>
  <td class="column2 style8 s">MOUNT VERNON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row286">
  <td class="column0 style2 s">LA CONNER ROAD SHELL (M)</td>
  <td class="column1 style5 s">1377 LACONNER WHITNE</td>
  <td class="column2 style8 s">MOUNT VERNON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row287">
  <td class="column0 style2 s">LA CONNER ROAD SHELL (M)</td>
  <td class="column1 style5 s">1377 LACONNER WHITNE</td>
  <td class="column2 style8 s">MOUNT VERNON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row288">
  <td class="column0 style2 s">LA CONNER ROAD SHELL (M)</td>
  <td class="column1 style5 s">1377 LACONNER WHITNE</td>
  <td class="column2 style8 s">MOUNT VERNON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row289">
  <td class="column0 style3 s">D &amp; D GROCERY</td>
  <td class="column1 style4 s">800 W DIVISION ST</td>
  <td class="column2 style7 s">MOUNT VERNON</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row290">
  <td class="column0 style2 s">D &amp; D GROCERY</td>
  <td class="column1 style5 s">800 W DIVISION ST</td>
  <td class="column2 style8 s">MOUNT VERNON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row291">
  <td class="column0 style2 s">D &amp; D GROCERY</td>
  <td class="column1 style5 s">800 W DIVISION ST</td>
  <td class="column2 style8 s">MOUNT VERNON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row292">
  <td class="column0 style2 s">D &amp; D GROCERY</td>
  <td class="column1 style5 s">800 W DIVISION ST</td>
  <td class="column2 style8 s">MOUNT VERNON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row293">
  <td class="column0 style3 s">WARRIOR QUICK STOP # 2</td>
  <td class="column1 style4 s">1726 E COLLEGE WAY</td>
  <td class="column2 style7 s">MOUNT VERNON</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row294">
  <td class="column0 style2 s">WARRIOR QUICK STOP # 2 (M</td>
  <td class="column1 style5 s">1726 E COLLEGE WAY</td>
  <td class="column2 style8 s">MOUNT VERNON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row295">
  <td class="column0 style2 s">WARRIOR QUICK STOP # 2 (M</td>
  <td class="column1 style5 s">1726 E COLLEGE WAY</td>
  <td class="column2 style8 s">MOUNT VERNON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row296">
  <td class="column0 style2 s">WARRIOR QUICK STOP # 2 (M</td>
  <td class="column1 style5 s">1726 E COLLEGE WAY</td>
  <td class="column2 style8 s">MOUNT VERNON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row297">
  <td class="column0 style3 s">QFC #857 - TERRACE</td>
  <td class="column1 style4 s">22803 44TH AVENUE</td>
  <td class="column2 style7 s">MT LAKE TERRACE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row298">
  <td class="column0 style2 s">QFC #857 - TERRACE (M)</td>
  <td class="column1 style5 s">22803 44TH AVENUE</td>
  <td class="column2 style8 s">MT LAKE TERRACE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row299">
  <td class="column0 style2 s">QFC #857 - TERRACE (M)</td>
  <td class="column1 style5 s">22803 44TH AVENUE</td>
  <td class="column2 style8 s">MT LAKE TERRACE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row300">
  <td class="column0 style2 s">QFC #857 - TERRACE (M)</td>
  <td class="column1 style5 s">22803 44TH AVENUE</td>
  <td class="column2 style8 s">MT LAKE TERRACE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row301">
  <td class="column0 style3 s">GOODIES FOODS</td>
  <td class="column1 style4 s">4804 212TH ST SW</td>
  <td class="column2 style7 s">MT LAKE TERRACE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row302">
  <td class="column0 style2 s">GOODIES FOODS</td>
  <td class="column1 style5 s">4804 212TH ST SW</td>
  <td class="column2 style8 s">MT LAKE TERRACE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row303">
  <td class="column0 style3 s">ZAKKS SMOKE SHOP</td>
  <td class="column1 style4 s">22803 44TH AVE W STE E2</td>
  <td class="column2 style7 s">MT LAKE TERRACE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row304">
  <td class="column0 style2 s">ZAKKS SMOKE SHOP</td>
  <td class="column1 style5 s">22803 44TH AVE W STE E2</td>
  <td class="column2 style8 s">MT LAKE TERRACE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row305">
  <td class="column0 style2 s">ZAKKS SMOKE SHOP</td>
  <td class="column1 style5 s">22803 44TH AVE W STE E2</td>
  <td class="column2 style8 s">MT LAKE TERRACE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row306">
  <td class="column0 style3 s">CHEVRON MT LAKE TERRACE</td>
  <td class="column1 style4 s">22801 44TH AVE W</td>
  <td class="column2 style7 s">MT LAKE TERRACE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row307">
  <td class="column0 style2 s">CHEVRON MT LAKE TERRACE</td>
  <td class="column1 style5 s">22801 44TH AVE W</td>
  <td class="column2 style8 s">MT LAKE TERRACE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row308">
  <td class="column0 style3 s">POUR HOUSE</td>
  <td class="column1 style4 s">330 W NORTH BEND WAY</td>
  <td class="column2 style7 s">NORTH BEND</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row309">
  <td class="column0 style2 s">POUR HOUSE</td>
  <td class="column1 style5 s">330 W NORTH BEND WAY</td>
  <td class="column2 style8 s">NORTH BEND</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row310">
  <td class="column0 style3 s">OLLALA FOOD CENTER</td>
  <td class="column1 style4 s">12668 OLLALA VALLEY RD SE</td>
  <td class="column2 style7 s">OLLALA</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row311">
  <td class="column0 style2 s">OLLALA FOOD CENTER</td>
  <td class="column1 style5 s">12668 OLLALA VALLEY RD SE</td>
  <td class="column2 style8 s">OLLALA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row312">
  <td class="column0 style3 s">STEAMBOAT TRADING POST</td>
  <td class="column1 style4 s">6610 SEXTON RD NW</td>
  <td class="column2 style7 s">OLYMPIA</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row313">
  <td class="column0 style2 s">STEAMBOAT TRADING POST(F)</td>
  <td class="column1 style5 s">6610 SEXTON RD NW</td>
  <td class="column2 style8 s">OLYMPIA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row314">
  <td class="column0 style2 s">STEAMBOAT TRADING POST(F)</td>
  <td class="column1 style5 s">6610 SEXTON RD NW</td>
  <td class="column2 style8 s">OLYMPIA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row315">
  <td class="column0 style2 s">STEAMBOAT TRADING POST(F)</td>
  <td class="column1 style5 s">6610 SEXTON RD NW</td>
  <td class="column2 style8 s">OLYMPIA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row316">
  <td class="column0 style3 s">THRIFTWAY RALPH'S</td>
  <td class="column1 style4 s">1908 E 4TH AVENUE</td>
  <td class="column2 style7 s">OLYMPIA</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row317">
  <td class="column0 style2 s">THRIFTWAY RALPH'S (M)</td>
  <td class="column1 style5 s">1908 E 4TH AVENUE</td>
  <td class="column2 style8 s">OLYMPIA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row318">
  <td class="column0 style2 s">THRIFTWAY RALPH'S (M)</td>
  <td class="column1 style5 s">1908 E 4TH AVENUE</td>
  <td class="column2 style8 s">OLYMPIA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row319">
  <td class="column0 style2 s">THRIFTWAY RALPH'S (M)</td>
  <td class="column1 style5 s">1908 E 4TH AVENUE</td>
  <td class="column2 style8 s">OLYMPIA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row320">
  <td class="column0 style2 s">THRIFTWAY RALPH'S (M)</td>
  <td class="column1 style5 s">1908 E 4TH AVENUE</td>
  <td class="column2 style8 s">OLYMPIA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row321">
  <td class="column0 style3 s">HAGGEN #3444 OLYMPIA</td>
  <td class="column1 style4 s">1313 COOPER POINT RD SW</td>
  <td class="column2 style7 s">OLYMPIA</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row322">
  <td class="column0 style2 s">HAGGEN #3444 OLY (M F)</td>
  <td class="column1 style5 s">1313 COOPER POINT RD SW</td>
  <td class="column2 style8 s">OLYMPIA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row323">
  <td class="column0 style2 s">HAGGEN #3444 OLY (M F)</td>
  <td class="column1 style5 s">1313 COOPER POINT RD SW</td>
  <td class="column2 style8 s">OLYMPIA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row324">
  <td class="column0 style3 s">PUGET PANTRY</td>
  <td class="column1 style4 s">1100 PUGET ST</td>
  <td class="column2 style7 s">OLYMPIA</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row325">
  <td class="column0 style2 s">PUGET PANTRY</td>
  <td class="column1 style5 s">1100 PUGET ST</td>
  <td class="column2 style8 s">OLYMPIA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row326">
  <td class="column0 style3 s">ARBOR CENTER CHEVRON</td>
  <td class="column1 style4 s">9335 MARTIN WAY E</td>
  <td class="column2 style7 s">OLYMPIA</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row327">
  <td class="column0 style2 s">ARBOR CENTER CHEVRON</td>
  <td class="column1 style5 s">9335 MARTIN WAY E</td>
  <td class="column2 style8 s">OLYMPIA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row328">
  <td class="column0 style3 s">DAY &amp; NIGHT GROCERY</td>
  <td class="column1 style4 s">7637 MARTIN WAY</td>
  <td class="column2 style7 s">OLYMPIA</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row329">
  <td class="column0 style2 s">DAY &amp; NIGHT GROCERY</td>
  <td class="column1 style5 s">7637 MARTIN WAY</td>
  <td class="column2 style8 s">OLYMPIA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row330">
  <td class="column0 style2 s">DAY &amp; NIGHT GROCERY</td>
  <td class="column1 style5 s">7637 MARTIN WAY</td>
  <td class="column2 style8 s">OLYMPIA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row331">
  <td class="column0 style3 s">THRIFTWAY BAYVIEW</td>
  <td class="column1 style4 s">516 4TH AVENUE W</td>
  <td class="column2 style7 s">OLYMPIA</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row332">
  <td class="column0 style2 s">THRIFTWAY BAYVIEW</td>
  <td class="column1 style5 s">516 4TH AVENUE W</td>
  <td class="column2 style8 s">OLYMPIA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row333">
  <td class="column0 style2 s">THRIFTWAY BAYVIEW</td>
  <td class="column1 style5 s">516 4TH AVENUE W</td>
  <td class="column2 style8 s">OLYMPIA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row334">
  <td class="column0 style2 s">THRIFTWAY BAYVIEW</td>
  <td class="column1 style5 s">516 4TH AVENUE W</td>
  <td class="column2 style8 s">OLYMPIA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row335">
  <td class="column0 style3 s">MERIDIAN CORNER GAS &amp; DELI</td>
  <td class="column1 style4 s">9410 MARTIN WAY E</td>
  <td class="column2 style7 s">OLYMPIA</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row336">
  <td class="column0 style2 s">MERIDIAN CORNER GAS &amp; DEL</td>
  <td class="column1 style5 s">9410 MARTIN WAY E</td>
  <td class="column2 style8 s">OLYMPIA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row337">
  <td class="column0 style3 s">TRI-LAKE MARKET</td>
  <td class="column1 style4 s">8031 YELM HWY SE</td>
  <td class="column2 style7 s">OLYMPIA</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row338">
  <td class="column0 style2 s">TRI-LAKE MARKET</td>
  <td class="column1 style5 s">8031 YELM HWY SE</td>
  <td class="column2 style8 s">OLYMPIA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row339">
  <td class="column0 style3 s">NISQUALLY BAR &amp; GRILL</td>
  <td class="column1 style4 s">10323 MARTIN WAY</td>
  <td class="column2 style7 s">OLYMPIA</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row340">
  <td class="column0 style2 s">NISQUALLY BAR &amp; GRILL</td>
  <td class="column1 style5 s">10323 MARTIN WAY</td>
  <td class="column2 style8 s">OLYMPIA</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row341">
  <td class="column0 style3 s">SOL DUC RESTAURANT</td>
  <td class="column1 style4 s">12076 SOL DUC HOT SPRINGS</td>
  <td class="column2 style7 s">PORT ANGELES</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row342">
  <td class="column0 style2 s">SOL DUC RESTAURANT</td>
  <td class="column1 style5 s">12076 SOL DUC HOT SPRINGS</td>
  <td class="column2 style8 s">PORT ANGELES</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row343">
  <td class="column0 style3 s">BURLY STORE</td>
  <td class="column1 style4 s">14972 BETHEL-BURLEY RD</td>
  <td class="column2 style7 s">PORT ORCHARD</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row344">
  <td class="column0 style2 s">BURLY STORE</td>
  <td class="column1 style5 s">14972 BETHEL-BURLEY RD</td>
  <td class="column2 style8 s">PORT ORCHARD</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row345">
  <td class="column0 style3 s">LUMBERYARD FOODHALL</td>
  <td class="column1 style4 s">305 N GRAND AVE</td>
  <td class="column2 style7 s">PULLMAN</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row346">
  <td class="column0 style2 s">LUMBERYARD PARTNERS LLC</td>
  <td class="column1 style5 s">305 N GRAND AVE</td>
  <td class="column2 style8 s">PULLMAN</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row347">
  <td class="column0 style2 s">LUMBERYARD PARTNERS LLC</td>
  <td class="column1 style5 s">305 N GRAND AVE</td>
  <td class="column2 style8 s">PULLMAN</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row348">
  <td class="column0 style3 s">PUYALLUP FOOD CENTER</td>
  <td class="column1 style4 s">1713 W PIONEER AVE</td>
  <td class="column2 style7 s">PUYALLUP</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>