<tr class="row3">
  <td class="column0 style18 s">Retailer Name</td>
  <td class="column1 style17 s">Address</td>
  <td class="column2 style17 s">City</td>
  <td class="column3 style17 s">State</td>
  <td class="column4 style18 s">Wine</td>
  <td class="column5">&nbsp;</td>
</tr>
<tr class="row4">
  <td class="column0 style1 s">ROSARIO MARKET</td>
  <td class="column1 style6 s">3101 COMMERCIAL AVE</td>
  <td class="column2 style9 s">ANACORTES</td>
  <td class="column3 style12 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row5">
  <td class="column0 style2 s">ROSARIO MARKET</td>
  <td class="column1 style5 s">3101 COMMERCIAL AVE</td>
  <td class="column2 style8 s">ANACORTES</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row6">
  <td class="column0 style2 s">ROSARIO MARKET</td>
  <td class="column1 style5 s">3101 COMMERCIAL AVE</td>
  <td class="column2 style8 s">ANACORTES</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row7">
  <td class="column0 style2 s">ROSARIO MARKET</td>
  <td class="column1 style5 s">3101 COMMERCIAL AVE</td>
  <td class="column2 style8 s">ANACORTES</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row8">
  <td class="column0 style3 s">STEINS TAPHOUSE</td>
  <td class="column1 style4 s">20308 77TH AVE AVE NE #B</td>
  <td class="column2 style7 s">ARLINGTON</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row9">
  <td class="column0 style2 s">STEINS TAPHOUSE</td>
  <td class="column1 style5 s">20308 77TH AVE AVE NE #B</td>
  <td class="column2 style8 s">ARLINGTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row10">
  <td class="column0 style3 s">GREAT LIQUOR BEER &amp; WINE</td>
  <td class="column1 style4 s">16815 SMOKEY PT BLVD</td>
  <td class="column2 style7 s">ARLINGTON</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row11">
  <td class="column0 style2 s">GREAT LIQUOR BEER &amp; WINE</td>
  <td class="column1 style5 s">16815 SMOKEY PT BLVD</td>
  <td class="column2 style8 s">ARLINGTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row12">
  <td class="column0 style2 s">GREAT LIQUOR BEER &amp; WINE</td>
  <td class="column1 style5 s">16815 SMOKEY PT BLVD</td>
  <td class="column2 style8 s">ARLINGTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row13">
  <td class="column0 style3 s">OUTLET CHEVRON FOOD MART</td>
  <td class="column1 style4 s">1402 OUTLET COLLECTION WA</td>
  <td class="column2 style7 s">AUBURN</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row14">
  <td class="column0 style2 s">OUTLET CHEVRON FOOD MART</td>
  <td class="column1 style5 s">1402 OUTLET COLLECTION WA</td>
  <td class="column2 style8 s">AUBURN</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row15">
  <td class="column0 style3 s">AUBURN LIQUOR STORE</td>
  <td class="column1 style4 s">3930 A ST SE</td>
  <td class="column2 style7 s">AUBURN</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row16">
  <td class="column0 style2 s">AUBURN LIQUOR STORE</td>
  <td class="column1 style5 s">3930 A ST SE</td>
  <td class="column2 style8 s">AUBURN</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row17">
  <td class="column0 style3 s">SEATTLE MARRIOTT BELLEVUE</td>
  <td class="column1 style4 s">200 110TH AVE NE</td>
  <td class="column2 style7 s">BELLEVUE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row18">
  <td class="column0 style2 s">SEATTLE MARRIOTT BELLEVUE</td>
  <td class="column1 style5 s">200 110TH AVE NE</td>
  <td class="column2 style8 s">BELLEVUE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row19">
  <td class="column0 style2 s">SEATTLE MARRIOTT BELLEVUE</td>
  <td class="column1 style5 s">200 110TH AVE NE</td>
  <td class="column2 style8 s">BELLEVUE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row20">
  <td class="column0 style3 s">FORUM SOCIAL HOUSE</td>
  <td class="column1 style4 s">700 BELLEVUE WAY NE #300</td>
  <td class="column2 style7 s">BELLEVUE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row21">
  <td class="column0 style2 s">FORUM SOCIAL HOUSE</td>
  <td class="column1 style5 s">700 BELLEVUE WAY NE #300</td>
  <td class="column2 style8 s">BELLEVUE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row22">
  <td class="column0 style3 s">QFC #874 - ROBINSWOOD</td>
  <td class="column1 style4 s">1510 145TH PLACE SE</td>
  <td class="column2 style7 s">BELLEVUE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row23">
  <td class="column0 style2 s">QFC #874 - ROBINSWOOD -M-</td>
  <td class="column1 style5 s">1510 145TH PLACE SE</td>
  <td class="column2 style8 s">BELLEVUE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row24">
  <td class="column0 style2 s">QFC #874 - ROBINSWOOD -M-</td>
  <td class="column1 style5 s">1510 145TH PLACE SE</td>
  <td class="column2 style8 s">BELLEVUE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row25">
  <td class="column0 style3 s">QFC #808 - BELLEVUE</td>
  <td class="column1 style4 s">10116 NE 8TH STREET</td>
  <td class="column2 style7 s">BELLEVUE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row26">
  <td class="column0 style2 s">QFC #808 - BELLEVUE</td>
  <td class="column1 style5 s">10116 NE 8TH STREET</td>
  <td class="column2 style8 s">BELLEVUE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row27">
  <td class="column0 style2 s">QFC #808 - BELLEVUE</td>
  <td class="column1 style5 s">10116 NE 8TH STREET</td>
  <td class="column2 style8 s">BELLEVUE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row28">
  <td class="column0 style2 s">QFC #808 - BELLEVUE</td>
  <td class="column1 style5 s">10116 NE 8TH STREET</td>
  <td class="column2 style8 s">BELLEVUE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row29">
  <td class="column0 style2 s">QFC #808 - BELLEVUE</td>
  <td class="column1 style5 s">10116 NE 8TH STREET</td>
  <td class="column2 style8 s">BELLEVUE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row30">
  <td class="column0 style3 s">SMACHA TEA</td>
  <td class="column1 style4 s">14603 NE 20TH ST STE 4A</td>
  <td class="column2 style7 s">BELLEVUE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row31">
  <td class="column0 style2 s">SMACHA TEA</td>
  <td class="column1 style5 s">14603 NE 20TH ST STE 4A</td>
  <td class="column2 style8 s">BELLEVUE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row32">
  <td class="column0 style3 s">LAKEMONT 76</td>
  <td class="column1 style4 s">5157 LAKEMONT BLVD SE</td>
  <td class="column2 style7 s">BELLEVUE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row33">
  <td class="column0 style2 s">LAKEMONT 76</td>
  <td class="column1 style5 s">5157 LAKEMONT BLVD SE</td>
  <td class="column2 style8 s">BELLEVUE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row34">
  <td class="column0 style2 s">LAKEMONT 76</td>
  <td class="column1 style5 s">5157 LAKEMONT BLVD SE</td>
  <td class="column2 style8 s">BELLEVUE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row35">
  <td class="column0 style3 s">76 - FACTORIA/CIRCLE K</td>
  <td class="column1 style4 s">3727 128TH AVE SE</td>
  <td class="column2 style7 s">BELLEVUE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row36">
  <td class="column0 style2 s">76 - FACTORIA/CIRCLE K</td>
  <td class="column1 style5 s">3727 128TH AVE SE</td>
  <td class="column2 style8 s">BELLEVUE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row37">
  <td class="column0 style2 s">76 - FACTORIA/CIRCLE K</td>
  <td class="column1 style5 s">3727 128TH AVE SE</td>
  <td class="column2 style8 s">BELLEVUE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row38">
  <td class="column0 style3 s">SHELL - SANDHU MINI MART</td>
  <td class="column1 style4 s">2659 148TH AVE SE</td>
  <td class="column2 style7 s">BELLEVUE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row39">
  <td class="column0 style2 s">SHELL - SANDHU MINI MART</td>
  <td class="column1 style5 s">2659 148TH AVE SE</td>
  <td class="column2 style8 s">BELLEVUE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row40">
  <td class="column0 style2 s">SHELL - SANDHU MINI MART</td>
  <td class="column1 style5 s">2659 148TH AVE SE</td>
  <td class="column2 style8 s">BELLEVUE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row41">
  <td class="column0 style3 s">FRED MEYER #023 BELLEVUE</td>
  <td class="column1 style4 s">2041 148TH AVE NE</td>
  <td class="column2 style7 s">BELLEVUE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row42">
  <td class="column0 style2 s">FRED MEYER #023 BELLEVU(M</td>
  <td class="column1 style5 s">2041 148TH AVE NE</td>
  <td class="column2 style8 s">BELLEVUE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row43">
  <td class="column0 style3 s">CHEVRON - CROSSROADS</td>
  <td class="column1 style4 s">16256 NE 8TH ST</td>
  <td class="column2 style7 s">BELLEVUE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row44">
  <td class="column0 style2 s">CHEVRON - CROSSROADS(M)</td>
  <td class="column1 style5 s">16256 NE 8TH ST</td>
  <td class="column2 style8 s">BELLEVUE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row45">
  <td class="column0 style3 s">SILVER BEACH GROCERY</td>
  <td class="column1 style4 s">609 NORTH SHORE DR</td>
  <td class="column2 style7 s">BELLINGHAM</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row46">
  <td class="column0 style2 s">SILVER BEACH GROCERY</td>
  <td class="column1 style5 s">609 NORTH SHORE DR</td>
  <td class="column2 style8 s">BELLINGHAM</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row47">
  <td class="column0 style3 s">HILLS CHEVRON</td>
  <td class="column1 style4 s">568 PEACE PORTAL DR</td>
  <td class="column2 style7 s">BLAINE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row48">
  <td class="column0 style2 s">HILLS CHEVRON</td>
  <td class="column1 style5 s">568 PEACE PORTAL DR</td>
  <td class="column2 style8 s">BLAINE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row49">
  <td class="column0 style2 s">HILLS CHEVRON</td>
  <td class="column1 style5 s">568 PEACE PORTAL DR</td>
  <td class="column2 style8 s">BLAINE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row50">
  <td class="column0 style2 s">HILLS CHEVRON</td>
  <td class="column1 style5 s">568 PEACE PORTAL DR</td>
  <td class="column2 style8 s">BLAINE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row51">
  <td class="column0 style3 s">BAY CENTER GROCERY</td>
  <td class="column1 style4 s">8050 HARBORVIEW RD</td>
  <td class="column2 style7 s">BLAINE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row52">
  <td class="column0 style2 s">BAY CENTER GROCERY (M)</td>
  <td class="column1 style5 s">8050 HARBORVIEW RD</td>
  <td class="column2 style8 s">BLAINE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row53">
  <td class="column0 style2 s">BAY CENTER GROCERY (M)</td>
  <td class="column1 style5 s">8050 HARBORVIEW RD</td>
  <td class="column2 style8 s">BLAINE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row54">
  <td class="column0 style3 s">CHEVRON -QUIK MART #51</td>
  <td class="column1 style4 s">21406 HWY 410</td>
  <td class="column2 style7 s">BONNEY LAKE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row55">
  <td class="column0 style2 s">CHEVRON -QUIK MART #51</td>
  <td class="column1 style5 s">21406 HWY 410</td>
  <td class="column2 style8 s">BONNEY LAKE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row56">
  <td class="column0 style3 s">CHATEAU BOTHELL LANDING</td>
  <td class="column1 style4 s">9921 W RIVERSIDE DR</td>
  <td class="column2 style7 s">BOTHELL</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row57">
  <td class="column0 style2 s">CHATEAU BOTHELL LANDING</td>
  <td class="column1 style5 s">9921 W RIVERSIDE DR</td>
  <td class="column2 style8 s">BOTHELL</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row58">
  <td class="column0 style2 s">CHATEAU BOTHELL LANDING</td>
  <td class="column1 style5 s">9921 W RIVERSIDE DR</td>
  <td class="column2 style8 s">BOTHELL</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row59">
  <td class="column0 style3 s">FRED MEYER #457 BOTHELL</td>
  <td class="column1 style4 s">21045 BOTHELL EVERETT HWY</td>
  <td class="column2 style7 s">BOTHELL</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row60">
  <td class="column0 style2 s">FRED MEYER #457 BOTHELL(M</td>
  <td class="column1 style5 s">21045 BOTHELL EVERETT HWY</td>
  <td class="column2 style8 s">BOTHELL</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row61">
  <td class="column0 style3 s">SHELL - NORTH CREEK</td>
  <td class="column1 style4 s">11611 NE 195TH</td>
  <td class="column2 style7 s">BOTHELL</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row62">
  <td class="column0 style2 s">SHELL - NORTH CREEK</td>
  <td class="column1 style5 s">11611 NE 195TH</td>
  <td class="column2 style8 s">BOTHELL</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row63">
  <td class="column0 style2 s">SHELL - NORTH CREEK</td>
  <td class="column1 style5 s">11611 NE 195TH</td>
  <td class="column2 style8 s">BOTHELL</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row64">
  <td class="column0 style3 s">QFC #819 - BOTHELL </td>
  <td class="column1 style4 s">18921 BOTHELL WAY NE</td>
  <td class="column2 style7 s">BOTHELL</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row65">
  <td class="column0 style2 s">QFC #819 - BOTHELL (M)</td>
  <td class="column1 style5 s">18921 BOTHELL WAY NE</td>
  <td class="column2 style8 s">BOTHELL</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row66">
  <td class="column0 style3 s">QFC #838-INGLEWOOD</td>
  <td class="column1 style4 s">14130 JUANITA DR NE</td>
  <td class="column2 style7 s">BOTHELL</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row67">
  <td class="column0 style2 s">QFC #838-INGLEWOOD (M)</td>
  <td class="column1 style5 s">14130 JUANITA DR NE</td>
  <td class="column2 style8 s">BOTHELL</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row68">
  <td class="column0 style3 s">HARBORSIDE MARKET</td>
  <td class="column1 style4 s">40 WASHINGTON AVE</td>
  <td class="column2 style7 s">BREMERTON</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row69">
  <td class="column0 style2 s">HARBORSIDE MARKET</td>
  <td class="column1 style5 s">40 WASHINGTON AVE</td>
  <td class="column2 style8 s">BREMERTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row70">
  <td class="column0 style2 s">HARBORSIDE MARKET</td>
  <td class="column1 style5 s">40 WASHINGTON AVE</td>
  <td class="column2 style8 s">BREMERTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row71">
  <td class="column0 style3 s">CLOVERLEAF BAR &amp; GRILL</td>
  <td class="column1 style4 s">1240 HOLLIS ST</td>
  <td class="column2 style7 s">BREMERTON</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row72">
  <td class="column0 style2 s">CLOVERLEAF BAR &amp; GRILL</td>
  <td class="column1 style5 s">1240 HOLLIS ST</td>
  <td class="column2 style8 s">BREMERTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row73">
  <td class="column0 style2 s">CLOVERLEAF BAR &amp; GRILL</td>
  <td class="column1 style5 s">1240 HOLLIS ST</td>
  <td class="column2 style8 s">BREMERTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row74">
  <td class="column0 style3 s">BREMERTON FOOD MART</td>
  <td class="column1 style4 s">4200 WHEATON WAY</td>
  <td class="column2 style7 s">BREMERTON</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row75">
  <td class="column0 style2 s">BREMERTON FOOD MART</td>
  <td class="column1 style5 s">4200 WHEATON WAY</td>
  <td class="column2 style8 s">BREMERTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row76">
  <td class="column0 style3 s">C &amp; C MARKET</td>
  <td class="column1 style4 s">3746 G ST</td>
  <td class="column2 style7 s">BREMERTON</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row77">
  <td class="column0 style2 s">C &amp; C MARKET</td>
  <td class="column1 style5 s">3746 G ST</td>
  <td class="column2 style8 s">BREMERTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row78">
  <td class="column0 style3 s">FRED MEYER #171 BREMERTON</td>
  <td class="column1 style4 s">5050 HIGHWAY 303 NE</td>
  <td class="column2 style7 s">BREMERTON</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row79">
  <td class="column0 style2 s">FRED MEYER #171 BREMERTON</td>
  <td class="column1 style5 s">5050 HIGHWAY 303 NE</td>
  <td class="column2 style8 s">BREMERTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row80">
  <td class="column0 style3 s">BRIER GROCERY</td>
  <td class="column1 style4 s">23607 BRIER ROAD</td>
  <td class="column2 style7 s">BRIER</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row81">
  <td class="column0 style2 s">BRIER GROCERY</td>
  <td class="column1 style5 s">23607 BRIER ROAD</td>
  <td class="column2 style8 s">BRIER</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row82">
  <td class="column0 style3 s">SUN MARKET</td>
  <td class="column1 style4 s">838 UHLING</td>
  <td class="column2 style7 s">BURBANK</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row83">
  <td class="column0 style2 s">SUN MARKET</td>
  <td class="column1 style5 s">838 UHLING</td>
  <td class="column2 style8 s">BURBANK</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row84">
  <td class="column0 style3 s">HOLIDAY MARKET</td>
  <td class="column1 style4 s">887 NEVITT RD</td>
  <td class="column2 style7 s">BURLINGTON</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row85">
  <td class="column0 style2 s">HOLIDAY MARKET (M)</td>
  <td class="column1 style5 s">887 NEVITT RD</td>
  <td class="column2 style8 s">BURLINGTON</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row86">
  <td class="column0 style3 s">CAMAS FOOD MART</td>
  <td class="column1 style4 s">1605 NW 6TH AVE</td>
  <td class="column2 style7 s">CAMAS</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row87">
  <td class="column0 style2 s">CAMAS FOOD MART</td>
  <td class="column1 style5 s">1605 NW 6TH AVE</td>
  <td class="column2 style8 s">CAMAS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROUGE RED BLEND</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row88">
  <td class="column0 style2 s">CAMAS FOOD MART</td>
  <td class="column1 style5 s">1605 NW 6TH AVE</td>
  <td class="column2 style8 s">CAMAS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row89">
  <td class="column0 style3 s">RED APPLE PRAIRIE CTR</td>
  <td class="column1 style4 s">408 S MAIN STREET</td>
  <td class="column2 style7 s">COUPEVILLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row90">
  <td class="column0 style2 s">RED APPLE PRAIRIE CTR (M)</td>
  <td class="column1 style5 s">408 S MAIN STREET</td>
  <td class="column2 style8 s">COUPEVILLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row91">
  <td class="column0 style3 s">ABC GROCERY</td>
  <td class="column1 style4 s">22309 7TH AVE S</td>
  <td class="column2 style7 s">DES MOINES</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row92">
  <td class="column0 style2 s">ABC GROCERY(M)</td>
  <td class="column1 style5 s">22309 7TH AVE S</td>
  <td class="column2 style8 s">DES MOINES</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row93">
  <td class="column0 style2 s">ABC GROCERY(M)</td>
  <td class="column1 style5 s">22309 7TH AVE S</td>
  <td class="column2 style8 s">DES MOINES</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row94">
  <td class="column0 style3 s">HIGHLAND SHELL</td>
  <td class="column1 style4 s">21449 INTERNATIONAL BLVD</td>
  <td class="column2 style7 s">DES MOINES</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row95">
  <td class="column0 style2 s">HIGHLAND SHELL</td>
  <td class="column1 style5 s">21449 INTERNATIONAL BLVD</td>
  <td class="column2 style8 s">DES MOINES</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row96">
  <td class="column0 style3 s">DUPONT GROCERY 76</td>
  <td class="column1 style4 s">100 BARKSDALE AVE</td>
  <td class="column2 style7 s">DUPONT</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row97">
  <td class="column0 style2 s">DUPONT GROCERY - 76 (F M)</td>
  <td class="column1 style5 s">100 BARKSDALE AVE</td>
  <td class="column2 style8 s">DUPONT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row98">
  <td class="column0 style2 s">DUPONT GROCERY - 76 (F M)</td>
  <td class="column1 style5 s">100 BARKSDALE AVE</td>
  <td class="column2 style8 s">DUPONT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row99">
  <td class="column0 style3 s">DUVALL TAVERN</td>
  <td class="column1 style4 s">15807 MAIN ST NE</td>
  <td class="column2 style7 s">DUVALL</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row100">
  <td class="column0 style2 s">DUVALL TAVERN</td>
  <td class="column1 style5 s">15807 MAIN ST NE</td>
  <td class="column2 style8 s">DUVALL</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row101">
  <td class="column0 style3 s">OHOP VALLEY GROCERY</td>
  <td class="column1 style4 s">33916 MOUNTAIN HWY E</td>
  <td class="column2 style7 s">EATONVILLE</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row102">
  <td class="column0 style2 s">OHOP VALLEY GROCERY</td>
  <td class="column1 style5 s">33916 MOUNTAIN HWY E</td>
  <td class="column2 style8 s">EATONVILLE</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row103">
  <td class="column0 style3 s">THE HOOK SEAFOOD BROILER</td>
  <td class="column1 style4 s">18521 76TH AVE W. #101</td>
  <td class="column2 style7 s">EDMONDS</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row104">
  <td class="column0 style2 s">THE HOOK SEAFOOD BROILER</td>
  <td class="column1 style5 s">18521 76TH AVE W. #101</td>
  <td class="column2 style8 s">EDMONDS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row105">
  <td class="column0 style2 s">THE HOOK SEAFOOD BROILER</td>
  <td class="column1 style5 s">18521 76TH AVE W. #101</td>
  <td class="column2 style8 s">EDMONDS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row106">
  <td class="column0 style3 s">FIRDALE MARKET</td>
  <td class="column1 style4 s">9601 FIRDALE AVENUE</td>
  <td class="column2 style7 s">EDMONDS</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row107">
  <td class="column0 style2 s">FIRDALE MARKET</td>
  <td class="column1 style5 s">9601 FIRDALE AVENUE</td>
  <td class="column2 style8 s">EDMONDS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row108">
  <td class="column0 style2 s">FIRDALE MARKET</td>
  <td class="column1 style5 s">9601 FIRDALE AVENUE</td>
  <td class="column2 style8 s">EDMONDS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row109">
  <td class="column0 style3 s">QFC #851 - WESTGATE</td>
  <td class="column1 style4 s">22828 100TH AVENUE</td>
  <td class="column2 style7 s">EDMONDS</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row110">
  <td class="column0 style2 s">QFC #851 - WESTGATE</td>
  <td class="column1 style5 s">22828 100TH AVENUE</td>
  <td class="column2 style8 s">EDMONDS</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row111">
  <td class="column0 style3 s">TOM THUMB GROCERY</td>
  <td class="column1 style4 s">1920 S LAKE STEVENS</td>
  <td class="column2 style7 s">EVERETT</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row112">
  <td class="column0 style2 s">TOM THUMB GROCERY</td>
  <td class="column1 style5 s">1920 S LAKE STEVENS</td>
  <td class="column2 style8 s">EVERETT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row113">
  <td class="column0 style3 s">A &amp; D MARKET</td>
  <td class="column1 style4 s">8405 7TH AVE SE</td>
  <td class="column2 style7 s">EVERETT</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row114">
  <td class="column0 style2 s">A &amp; D MARKET</td>
  <td class="column1 style5 s">8405 7TH AVE SE</td>
  <td class="column2 style8 s">EVERETT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row115">
  <td class="column0 style2 s">A &amp; D MARKET</td>
  <td class="column1 style5 s">8405 7TH AVE SE</td>
  <td class="column2 style8 s">EVERETT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row116">
  <td class="column0 style2 s">A &amp; D MARKET</td>
  <td class="column1 style5 s">8405 7TH AVE SE</td>
  <td class="column2 style8 s">EVERETT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE GRENACHE ROSÉ</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row117">
  <td class="column0 style3 s">QFC #853 - EVERETT</td>
  <td class="column1 style4 s">2615 BROADWAY</td>
  <td class="column2 style7 s">EVERETT</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row118">
  <td class="column0 style2 s">QFC #853 - EVERETT</td>
  <td class="column1 style5 s">2615 BROADWAY</td>
  <td class="column2 style8 s">EVERETT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row119">
  <td class="column0 style2 s">QFC #853 - EVERETT</td>
  <td class="column1 style5 s">2615 BROADWAY</td>
  <td class="column2 style8 s">EVERETT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row120">
  <td class="column0 style2 s">QFC #853 - EVERETT</td>
  <td class="column1 style5 s">2615 BROADWAY</td>
  <td class="column2 style8 s">EVERETT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row121">
  <td class="column0 style3 s">FRED MEYER #458 MURPHYS CORNER</td>
  <td class="column1 style4 s">12906 BOTHELL EVERETT HWY</td>
  <td class="column2 style7 s">EVERETT</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row122">
  <td class="column0 style2 s">FRED MEYER #458 MURPHYS CORNER</td>
  <td class="column1 style5 s">12906 BOTHELL EVERETT HWY</td>
  <td class="column2 style8 s">EVERETT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">ROCK POINT PINOT NOIR</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row123">
  <td class="column0 style2 s">FRED MEYER #458 MURPHYS CORNER</td>
  <td class="column1 style5 s">12906 BOTHELL EVERETT HWY</td>
  <td class="column2 style8 s">EVERETT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style13 s">ROCK POINT RIVER RED</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row124">
  <td class="column0 style3 s">CHEVRON EVERETT MALL</td>
  <td class="column1 style4 s">1020 EVERETT MALL WA</td>
  <td class="column2 style7 s">EVERETT</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row125">
  <td class="column0 style2 s">CHEVRON EVERETT MALL</td>
  <td class="column1 style5 s">1020 EVERETT MALL WA</td>
  <td class="column2 style8 s">EVERETT</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">JOLEE ROSE SEMI-SPARKLING</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row126">
  <td class="column0 style3 s">TOKYO JAPANESE STEAK HOUSE</td>
  <td class="column1 style4 s">1404 S 320TH STREET</td>
  <td class="column2 style7 s">FEDERAL WAY</td>
  <td class="column3 style10 s">WA</td>
  <td class="column4 style10 s">&nbsp;</td>
  <td class="column5 style15 s"></td>
</tr>
<tr class="row127">
  <td class="column0 style2 s">TOKYO JAPANESE STEAK HOUSE</td>
  <td class="column1 style5 s">1404 S 320TH STREET</td>
  <td class="column2 style8 s">FEDERAL WAY</td>
  <td class="column3 style11 s">WA</td>
  <td class="column4 style14 s">DEL RIO VINEYARD ESTATE PINOT GRIS</td>
  <td class="column5 style15 s"></td>
</tr>