{% comment %}
<article class="pt-6">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <div>{{ page.content }}</div>
  </div>
</article>
{% endcomment %}


<style>

  .perl_section_1 {               
    background-color: #fcf9ef;
    padding-top: 80px;
  }
  .header_img img {
    width: 109%;
    position: relative;
    left: -15px !important;
    height:unset;
  }

  .container_anti {
    padding-right: 0;
  }
  .A-new-layer-of-compl {
    font-family: 'Butler';
    font-size: 52px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #291f1f;
  }
  .With-every-bottle-of {
    font-family: Apercu Pro;
    font-size: 13.3px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #291f1f;
    margin-top: 22px;
    margin-bottom:34px;
  }
  .LEARN-MORE {
    font-family: Apercu Pro;

    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 2px;
    color: #2e4433;
    border: 1px solid;
    width: fit-content;
    padding: 12px 58px;
  }
  .header_text {
    padding-top: 36%;
  }
  a {
    text-decoration:none;
  }
  a:hover {
    text-decoration:none;
  }





  /* section 2  */

  .perl_section_2 {
    padding: 60px 45px;
    background-color: #f3f5eb;
  }
  .pad_cab {
    padding-top: 50px;
  }
  .own-wor {
    font-family: Apercu pro;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #171f15;
  }
  .rio_wines {
    border: 1px solid;
    background: none;
    font-size: 12px;
    font-weight: bold;
    font-family: apercu pro;
    color: #2e4433;
    padding: 10px 14px;
    text-align: center;
    margin-top: 7px;
    letter-spacing: 2px;
    line-height: 1.33;
  }

  .Incredible-ways {
    font-family: Apercu Pro;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 2px;
    color: #171f15;
    text-transform: uppercase;
  }

  .chardo_rio {
    width: 100%;
  }
  .png_club {
    background-color: white;
    padding: 15px 0 10px 15px;
  }
  .la_car h1 {
    color: #523e3e;
  }
  .subs h1 {
    color: #8f4b3f;  
  }

  .RIO-CLUB_pic {
    font-family: 'Butler';
    font-size: 35px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.86px;
    color: #47657a;
  }
  .own-jolee {
    font-size: 12px;
    text-align: left;
    margin-bottom: 5px;
    padding: 10px 21px 0 0;
  }
  .padding_up {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .Wine-Clubs_perk_pg {
    font-family: 'Butler';
    font-size: 48px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #291f1f;
  }  

  .SHOP-WINES_continue_club_perk {
    font-family: Apercu Pro;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 2.5px;
    text-align: center;
    color: #ffffff;
    background-color: #2e4433;
    padding: 10px 6%;
    margin-top: 20px;
  }
  .SHOP-WINES_continue_club_perk:hover {
    color: white;
  }
  .shop_perk_22 {
    width: 100%;
    padding-top: 40px;
  }  
  .Wine-Club-Perks {
    padding-bottom: 45px;
    font-family: 'Butler';
    font-size: 48px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #291f1f;
  }
  .perl_section_3 {
    padding: 45px;
  }
  .VIP-invitation-to_perk {
    font-family: 'Butler';
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #171f15;
    margin: 0 auto;
  }
  .perk_6 img {
    width: 100%;
    position: relative;
    left: -77px;
  }
  .perk_6_text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .perk_7 img {
    width: 100%;
    position: relative;
    right: -76px;
  }
  .padding-4_perk {
    padding-bottom:60px;
  }
  .shop_perk_23 {
    width: 100%;
  }
  .perl_section_4 {
    padding: 45px;
    background-color: #f3f5eb;
  }
  .absolutely_perk_23 h1 {
    font-family: 'Butler';
    font-size: 48px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #171f15;
  }
  .absolutely_perk_23 p {
    font-family: Apercu;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #3e3e3e;
    width: 61%;
    margin: 0 auto;
  }
  .blnde_perk {
    text-align: right;
  }
  .blnde_perk img:first-child {
    position: absolute;
    left: 52%;
    top: 44%;
  }
  .absolutely_perk_23 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .OUR-CUSTOMER {
    font-family: Apercu;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 2px;
    text-align: center;
    color: #291f1f;
    margin-bottom: 60px;
  }
  .end_margin {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 34%;
    margin-top: 8px;
    margin-bottom: 8px;
  }



  .relaxing {
    font-family: 'Butler';
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #171f15;
  }

  .address {
    font-family: Apercu;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 2px;
    text-align: center;
    color: #291f1f;
  }
  .address span {
    color: rgba(23, 31, 21, 0.4);
  }
  .relaxing h1 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  span.navtext {
    font-size: 35px;
    color: rgba(82, 62, 62, 0.22);
  }
  span.navtext:hover {
    color: rgba(82, 62, 62, 1);
  }
  .owl-theme .owl-nav [class*="owl-"]:hover {
    color: black !important;
    background: none !important;
  }
  button.owl-next:focus,
  button.owl-prev:focus {
    outline: none !important;
  }
  .perl_section_5 {
    padding: 60px 45px;
    background-color: #f3f5eb;
  }


  .FAQs_perk {
    font-family: 'Butler';
    font-size: 48px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #171f15;
    padding-bottom: 40px;
  }
  .perl_section_6 {
    padding: 60px 45px;
    background-color: #fcfcf5;
  }
  .perk_footer_9 img {
    width: 100%;
  }
  .All-Del-Rio-Wines-av_perk p.All-Del-Rio-Wines_perk {
    font-family: Apercu Pro;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.5px;
    color: #171f15;
    padding-top:10px
  }
  .perk_footer_text {
    width: 89%;
    margin: 0 auto;
    margin-right: 0;    
  }



  /* sccordian css */

  .main .accordion {
    padding: 4rem 0 2rem 0;
  }


  .main .accordion-item {
    padding: 0.5rem 0;
    margin: 0;
    overflow: hidden;
    border: none;
    outline: none;
    border-bottom: 1.3px solid #d4d4d4;
  }
  .main .accordion-item .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Apercu Pro;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #171f15;
    margin: 0;
  }
  .All-wines-are-shippe {
    width: 528px;
    height: 60px;
  }
  .main .accordion-item .title i.fa {
    font-size: 0.9rem;
    color: #454545;
    transform: translateX(-50%) rotate(0);
    transition: transform 0.15s ease;
  }
  .main .accordion-item .paragraph {
    font-family: Apercu;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #171f15;
    display: none;
    padding: 1rem 0;
  } 
  h1.h1_text_choode_einw_rio_club {
    font-family: 'Butler';
    font-size: 48px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #291f1f;
  }
  h3.uk-card-title.Heading {
    font-family: 'Butler';
    font-size: 31px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.72px;
    color: #523e3e;
    padding-top:15px;
  }
  .page_club_description_section p {
    font-family: Apercu;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #171f15;
  }
  .image_perk_jolle   img {
    width: 15%;
    padding: 30px;
    padding-top: 60px; 
  }
  .main .accordion-item.active .paragraph {
    display: block;
  }
  .bf_blur_ship {
    background-color: #CAE6F4;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    right: 8%;
    top: 16%;
  }
  .VIP-invitation-to_perk_99 {
    width: 80%;
  }
  .dispnay_perk_mbl {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    .main .accordion {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  /* end accordian */


  @media screen and (max-width:1250px) and (min-width:850px) {
    .A-new-layer-of-compl {
      font-size: 43px;
    }
    .With-every-bottle-of {
      font-size: 11px;
      margin-top: 15px;
      margin-bottom: 11px;
    }
    .LEARN-MORE {
      font-size: 10px;
      padding: 10px 46px;
    }
    .header_text {
      padding-top: 186px;
    }
    .header_img img {
      height: 558px;
      left: 0 !important;
    } 
    .relaxing h1 {
      font-size: 34px;
    }
    .RIO-CLUB_pic {
      font-size: 26px;
    }
    .bf_blur_ship {
      height: 60px;
      width: 60px;
      right: 9%;
      top: 17%;
    }     
    .own-jolee {
      font-size: 10px;
      text-align: left;
    }
    .VIP-invitation-to_perk {
      font-size: 32px;
    }
    .VIP-invitation-to_perk_99 {
      width: 73%;
    }
    .perk_7 img {
      width: 100%;
      position: relative;
      right: -59px;
    }
    .absolutely_perk_23 h1 {
      font-size: 37px;
    }
    .absolutely_perk_23 p {
      font-size: 11px;
    }
    .blnde_perk img:first-child {
      position: absolute;
      left: 44%;
      top: 44%;
    }
    .All-Del-Rio-Wines-av_perk p.All-Del-Rio-Wines_perk {
      font-size: 18px;
    }
    .main .accordion {
      padding: 3rem 0 2rem 0;
    }
    .main .accordion-item .title {
      font-size: 14px;
    }
    .main .accordion-item .paragraph {
      font-size: 11px;
    }
  }
  @media screen and (max-width:1150px) {
    .relaxing h1 {
      font-size: 33px;
    }
  }

  @media screen and (max-width: 1000px) and (min-width:768px) {
    .A-new-layer-of-compl {
      font-size: 36px;
    } 
    .header_text {
      padding-top: 40%;
    }
    .With-every-bottle-of {
      font-size: 9px;
      margin-bottom:15px;

    }
    .LEARN-MORE {
      font-size: 7px;
      padding: 7px 24px;
    }
    .header_img img {
      height: unset;
      left: 23px !important;
    }
    .RIO-CLUB_pic {
      font-family: 'Butler';
      font-size: 17px;
    }
    .own-jolee {
      font-size: 7px;
    }
    .png_club {
      background-color: white;
      padding: 10px 0 5px 10px;
    }
    .SHOP-WINES_continue_club_perk {
      font-size: 10px;
      padding: 10px 5%;
    }
    .shop_perk_22 {
      padding-top: 25px;
    }
    .end_margin {
      width: 27%;
    }
    .relaxing h1 {
      font-size: 25px;
    }
    .bf_blur_ship {
      height: 45px;
      width: 45px;
      right: 10%;
      top: 16%;
    }
    .VIP-invitation-to_perk {
      font-size: 22px;
    }
    .aby_top_perk {
      width:100%;
    }
    .blnde_perk img:first-child {
      left: 42%;
      top: 39%;
    }
    .absolutely_perk_23 h1 {
      font-size: 24px;
    }
    .absolutely_perk_23 p {
      font-size: 9.5px;
    }
    .perk_7 img {
      right: -62px;
    }
    .All-Del-Rio-Wines-av_perk p.All-Del-Rio-Wines_perk {
      font-size: 13px;
    }
    .main .accordion {
      padding: 1rem 0 2rem 0;
    }
    .main .accordion-item .title {
      font-size: 10px;
    }
    .main .accordion-item .paragraph {
      font-size: 9px;
    }
    .image_perk_jolle img {
      width: 17%;
      padding-top: 25px;
    }

  }
  @media screen and (max-width:767px) {
    .relaxing h1 {
      font-size: 19px;
    }
    .header_text {
      padding-top: 10%;
    }
    .dispnay_perk_mbl {
      display: unset;
    }
    .dispnay_perk_desktop {
      display: none;
    }
    .VIP-invitation-to_perk {
      font-size: 24px;
      margin-top: 30px;
    }
    .perk_6 img {
      left: 0;
    }
    .perk_7 img {
      right: 0px;
    }
    .VIP-invitation-to_perk_99 {
      width: 100%;
      margin-bottom: 0px;
    }
    .perl_section_5 {
      padding: 60px 15px;
    }

  }
  @media screen and (max-width:450px) {
    .A-new-layer-of-compl {
      font-size: 34px;
    }
    .With-every-bottle-of {
      font-size: 13px;
    }
    .header_img img {
      height: unset;
      left: 0px !important;
      width:100%;
      position:unset;
    }
    .With-every-bottle-of_1 {
      font-size: 18px;
    }

    .With-every-bottle-of_1 {
      font-size: 19px;
    }
    .header_text {
      padding-top: 60px;
      width: 100%%;
    }
    .perl_section_2 {
      padding: 60px 15px;
    }
    .png_club {
      margin-bottom: 40px;
    }
    .shop_perk_22 {
      padding-top: 0px;
    }
    .Wine-Club-Perks {
      padding-bottom: 30px;
      font-family: 'Butler';
      font-size: 38px;
    }
    .aby_top_perk {
      width:100%;
    }
    .perl_section_3 {
      padding: 45px 15px;
    }
    .perk_6 img {
      width: 100%;
      position: unset;
      left: unset;   
    }
    .perk_7 img {
      width: 100%;
      position: unset;
      right: unset;
    }
    .padding-4_perk {
      padding-bottom: 30px;
    }
    .absolutely_perk_23 h1 {
      font-size: 28px;
    }
    .perl_section_4 {
      padding: 45px 15px;
    }
    .absolutely_perk_23 p {
      font-size: 12px;
      width: 77%;
      padding-bottom: 30px;
    }
    .blnde_perk img:first-child {
      left: 42%;
      top: 40%;
    }
    .perl_section_6 {
      padding: 60px 15px;
    }
    .perk_footer_text {
      width: 100%;
      margin-right: 0;
      margin-top: 30px;
    }
    .All-Del-Rio-Wines-av_perk p.All-Del-Rio-Wines_perk {
      font-size: 17px;
    }
    .main .accordion {
      padding: 2rem 0 2rem 0;
    }
    .main .accordion-item .title {
      font-size: 13px;
    }
    .main .accordion-item .paragraph {
      font-size: 11px;
    }
    .image_perk_jolle img {
      width: 15%;
      padding: 0;
      padding-top: 30px;
    }
    .bf_blur_ship {
      top: 15%;
    }
    p.bg_l_m {
      margin: 0 auto;
    }
    h1.h1_text_choode_einw_rio_club {
      font-size: 37px;
    }
    #carousel_1 .owl-next {
      right: -6%;
    }
    #carousel_1 .owl-prev {
      left: -6%;
    }
  }
  @media screen and (max-width: 400px) {
    .header_img img {
      height: unset;
    }
    .With-every-bottle-of_1 {
      font-size: 18px;
    }
    .relaxing h1 {
      font-size: 16px;
    }
    .address {
      font-size: 11px;
    }

    .A-new-layer-of-compl {
      font-size: 36px;
    }
    .With-every-bottle-of {
      font-size: 11px;
    }
    .bf_blur_ship {
      top: 19%;
      right: 6%;
    }
    .main .accordion-item .title {
      font-size: 11px;
    }
    .All-Del-Rio-Wines-av_perk p.All-Del-Rio-Wines_perk {
      font-size: 15px;
    }
    h1.h1_text_choode_einw_rio_club {
      font-size: 30px;
    }
    .VIP-invitation-to_perk {
      font-size: 19px;
    }
  }

  @media screen and (max-width:350px) {
    .relaxing h1 {
      font-size: 15px;
    }
    .address {
      font-size: 9px;
    }
    .All-Del-Rio-Wines-av_perk p.All-Del-Rio-Wines_perk {
      font-size: 12.5px;
    }
    .absolutely_perk_23 h1 {
      font-size: 23px;
    }
    .absolutely_perk_23 p {
      font-size: 9px;
      width: 82%;
    }
    .Wine-Clubs_perk_pg {
      font-size: 35px;
    }
    .own-jolee {
      font-size: 10px;
    }
    .bf_blur_ship {
      top: 23%;
      right: 8%;
      height: 60px;
      width: 60px;
    }
    .main .accordion-item .title {
      font-size: 11px;
    }
    .main .accordion-item .title {
      font-size: 9px;
    }
    .VIP-invitation-to_perk_99 {
      width: 94%;
    }

  }


  @media screen and (max-width: 767px) and (min-width:501px) {
    .png_club {
      margin-bottom: 40px;
    }
    .A-new-layer-of-compl {
      font-size: 38px;
    }
    .With-every-bottle-of {
      font-size: 10px;
    }
    .All-Del-Rio-Wines-av_perk p.All-Del-Rio-Wines_perk {
      font-size: 13px;
    }
    .main .accordion-item .title {
      font-size: 9px;
    }
    .main .accordion-item .paragraph {
      font-size: 10px;
    } 
    h1.h1_text_choode_einw_rio_club {
      font-size: 37px;
    }
  }
  @media screen and (max-width:650px) and (min-width:501px) {
    .header_img img {
      left: 0px !important;
    }
  }
  @media screen and (max-width:650px) and  {
    .perk_6 img {
      left: 0;
    }
    .perk_7 img {
      right: 0;
    }
  }



  @media screen and (max-width:600px) and (min-width:470px) {
    .perl_section_1 .header_img img {
      width: 100%;
      position: relative;
      left: 0px !important;
      height: auto;
    }
    .perl_section_1 .header_img img {
      left: 0;
      top: 0px;
    }
    .png_club.la_car {
      margin-bottom:40px;
    } 
    .image_perk_jolle img {
      padding: 0;
    }
  }
  .accordion-item {
    cursor:pointer;
  }
  p.bg_l_m {
    background-color:#2e4433;
    color:white;
  }

  @media screen and (min-width:767px) { 
    .centerfrscreenrioclubsec1 {
      display:flex;
      align-items:center;
    }
  }
</style>  



{% section 'RioClub_Section_1'%}
{% section 'Rio-Club_Section_2_Bloom'%}
{% section 'RioClub_Section_3'%}

{% comment %}
{% section 'RioClub_Section_4'%}
{% endcomment %}

{% section 'RioClub_Section_5'%}

{% comment %}
{% section 'RioClub_Section_6'%}
{% endcomment %}



<script>
  jQuery("main#site-main").css('overflow','hidden');
</script>  