{% comment %}
<article class="pt-6">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <div>{{ page.content }}</div>
  </div>
</article>
{% endcomment %}

<style>
  
.tour_section_1_awards {
    padding: 110px 15px 32px;
    background-color: #f3f5eb;
  	display: none;
}
.tour_nav_awards ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 0;
}

.tour_nav_awards li {
    padding: 30px;
}
    .btn_awards {
    border-bottom: 2px solid #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
    display: none;
}
.btn_awards {
    display: flex;
}

.Events__tour_text_awards li a {
    font-family: Apercu;
    font-size: 14.1px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 2px;
    text-align: center;
    color: #2e4433;
    text-decoration: none;
}
.btn33_awards {
    margin-left: -75px;
}
.Events__tour_text_awards li a {
    font-family: Apercu pro;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 1.71px;
    text-align: center;
    color: #2e4433;
    text-decoration: none;
}
.btn_awards::after {
    width: 200px;
    height: 50px;
    right: -1px;
}
.btn_awards::before {
    height: 50px;
    width: 200px;
    left: 0;
    margin-left: -1px;
}
.btn_awards::before, .btn_awards::after {
    position: absolute;
    background: #f3f5eb;
    z-index: -1;
    transition: 0.3s;
    content: '';
    border-radius: 0;
}

.tour_event_awards li a {
    text-transform: uppercase;
    color: rgba(46, 68, 51, 0.6);
}
.tour_event_awards li a:hover {
    color: rgba(46, 68, 51, 1);
}
.Events__tour_text_awards li {
    padding: 0 45px;
}

    @media screen and (min-width:1100px) {
    .tour_nav_awards ul {
    margin-right:5.8%;
    }
    }

@media screen and (max-width:991px) {
    .Events__tour_text_awards li {
        padding: 0px 37px;
    }
    .Events__tour_text_awards li a {
        font-size: 11px;
    }
    .btn_awards::after {
        width: 165px;
    }


}

@media screen and (max-width:767px) {
    .tour_nav_awards ul {
        display: block;
    }
    .btn_awards::before, .btn_awards::after {
        margin-left: -1px;
    }
    .Events__tour_text_awards li {
        padding: 7.9px 37px;
    }
    .btn_awards::before, .btn_awards::after {
        height: 36px;
        margin-top: 2px;
    }
    .btn_awards::after,.btn_awards::before {
        width: 51%;
    }


}

  .btn1_t:hover::before {
    width: 65px;
    margin-left: -1px !important;
}
/* section 1 css end */


/* section 2 css */

  .top_heading{
  	background-color: #f3f5eb;
    padding: 13px;
    margin: -40px 0px 0px 0px;
  }
  
h1.History-of-Del-Rio-V_his {
    font-family: 'Butler';
    font-size: 53px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #171f15;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 80px;
  	background-color: #f3f5eb;
  	margin-top: 35px;
}  
  .btn-align{
  	text-align: center;
    margin-top: -75px;
  }
  a.btn-style.navigable:hover{
  	color: gray;
    border-bottom: 1px solid;
  }
   a.btn-style-2.navigable:hover{
  	color: gray;
    border-bottom: 1px solid;
  }
  a.btn-style.navigable{
  	display: inline-block;
    text-decoration: none;
    color: gray;
    margin: 15px;
    font-family: 'Apercu';
  }
  a.btn-style-2.navigable{
  	display: inline-block;
    text-decoration: none;
    color: gray;
    font-family: 'Apercu';
  }
.section_2_history {
    padding: 120px 0px 0px;
    background: linear-gradient(to bottom,  #fffffa 46%,#fcfcf5 54%);
  	background: #FCF9EF;
}
} 
.history_page_imag_1_his {
    text-align: center;
}
  .right-image{
  	width: 30%;
    height: 58%!important;
    margin-top: -19%;
    margin-left: 57%;
  }

/* section 3 css */

.perl_section_3 {
    padding:30px 45px 0px;
    background-color: #fcfcf5;
}

.padding-4_perk {
    padding-bottom: 100px;
}

.perk_6 {
    position: relative;
    left: -77px;
}
.perk_6 img {
    width: 100%;
    height: 400px;
}
.perk_6_text {
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    width: 95%;
}
.VIP-invitation-to_perk {
    font-family: 'Butler';
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #171f15;
    margin: 0 auto;
}
p.On-February-8-1865_history_2 {
    font-family: Apercu;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #3e3e3e;
}

h1.year_in_history_page {
    font-family:'Butler' ;
    font-size: 64px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #2e4433;
  }
  .On-February-8-1865_history_1 {
    font-size: 50px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 2px;
    color: #171f15;
    margin-bottom: 24px;
    font-family: 'Butler';
  }
  .desc_his_2 {
    width: 47%;
    margin: 0 auto;
    margin-right: 0;
    margin-top: 8px;
  }

  /* 2nd sec */
  .perk_7 {
    width: 71%;
    height: auto;
}
.perk_7 img {
    width: 100%;
    height: auto;
}
.perk_7 .desc_his_2 {
    margin-left: 0;
    width: 57%;
}
.perk_6_text.perk_7_his {
    margin-top: 0%;
    display: block;
}
.mar_30_history_mm {
    margin-top: 37px;
}
  .history_page_imag_1_his .text-center{
  	background-color: red;
  }	
  
  
/* 3rd sec */

  #shopify-section-Historypage_third_section {
    background: #FCF9EF;
}
 .top-heading-sec-3{
  	text-align: center;
    font-family: 'Butler'; 
    font-weight: 400;
    font-size: 45px!important;
  }
  .section-top-style{
        background-color: #FCF9EF;
        padding-bottom: 40px;
  }
  .hr-line-style{
  	max-width: 4%;
    color: black;
    border: 1px solid;
    margin-top: -10px;
    margin-bottom: 0px;
  }
  .sub_heading_2{
  	font-size: 12px;
    font-weight: 600;
    margin-top: -25px;
  }
.perk_8 .desc_his_2 {
    width: 86%;
}
.perk_7.perk_8 {
    width: 62%;
    margin: 0 auto;
    margin-right: 28%;
}
/* 4th sec */

.perk_6.perk_9 img {
    height: 608px;
}

/* section 4 css */
.sec_4_imag_last img {
    width: 100%;
}
.sec_4_imag_last {
    margin-bottom: 32px;
}
.section_4_history {
    padding: 0px 45px;
    background-color: #fcfcf5;
}
.section_end_txt_history h1 {
    font-family: 'Butler';
    font-size: 44px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #2e4433;
    margin-bottom: 25px;
  }
  .section_end_txt_history p {
    font-family: Apercu;
    font-size: 14.1px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #3e3e3e;
    margin-top: 55px;
    max-width: 406px;
    font-size: 11px!important;
  }
  .section_end_txt_history {
    width: 95%;
    margin: 0 auto;
    margin-right: 0;
    margin-top: 12%;
  }

  /* section 5 css */

  .Visit-Us_history p {
    font-family: Apercu Pro;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 2px;
    text-align: center;
    color: #171f15;
    text-transform: uppercase;
    padding-top: 30px;
  }
  h1.We-invite-you-to-com_his {
    font-family: 'Butler';
    font-size: 29px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #171f15;
    padding-top: 20px;
        padding-bottom: 20px;
  }
  .section_5_history {
      padding: 0px 45px;
      background-color: #fcfcf5;
          padding-bottom: 30px;
  }

  .padding_35_about {
    padding-top: 20px;
    margin-bottom: 15px;
}
.sig_about_us p {
    text-transform: uppercase;
    font-family: Apercu Pro;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 1px;
    text-align: center;
    color: #171f15;
    margin-top: -60px;
}
.height_100_about {
    height: 100%;
}
  
/*   sec eleven */
  
  .On-February-8-1865_history_1_section_11{
    font-size: 47px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 2px;
    color: #171f15;
    margin-bottom: 24px;
    font-family: 'Butler';
  }
  
/*   sec nine */

  .top-heading-sec-9{
  	text-align: center;
    font-family: 'Butler';
    font-weight: 400;
    font-size: 45px!important;
  }
  .hr-line-style-9{
  	max-width: 4%;
    color: black;
    border: 1px solid;
    margin-top: -10px;
  }
  .heading-plus-hr-align{
  	padding: 20px 0;
        background-color: #FCF9EF;
  }
  #shopify-section-Historypage_nine_section{
  	background: #FCF9EF;
  }
  
/* .margi_about_up {
    margin-top: 5px;
} */
p.mar_sign_name_history {
    margin: 5px 0;
    margin-top: -21px;
}
.row.padding_35_about .d-flex.align-items-center {
    justify-content: flex-end;
}
.row.padding_35_about .d-flex.align-items-center.height_100_about {
    justify-content: flex-start;
}



@media screen and (max-width:1100px) {
    .desc_his_2 {
        width: 55%;
    }
    .padding-4_perk {
        padding-bottom: 100px;
    }
    .perk_7 .desc_his_2 {
        width: 66%;
    }    
    .perk_7 .desc_his_2 {
        width: 100%;
    }
    p.On-February-8-1865_history_2 {
        font-size: 13px;
    }
    h1.year_in_history_page {
        font-size: 55px;
    }  
    .section_end_txt_history h1 {
        font-size: 36px;
    }  
    .section_end_txt_history p {
        font-size: 13px;
    }
    h1.We-invite-you-to-com_his {
        font-family: 'Butler';
        font-size: 23px;
    }
    .section_5_history {
        padding: 75px 45px;
    }
    h1.History-of-Del-Rio-V_his {
        font-size: 43px;
    }
    .history_page_imag_1_his img {
        height: 550px;
    }
    .perk_6_text {
        width: 100%;
    }
    .perk_6 {
        left: -60px;
    }
    .perk_6 img {
        height: 370px;
    }
}

@media screen and (max-width:1000px) {
    .section_2_history {
        padding: 80px 0px 60px;
    }
    .history_page_imag_1_his img {
        height: 450px;
    }
    h1.History-of-Del-Rio-V_his {
        font-size: 39px;
      margin-bottom: 60px;
    }
  .btn-align {
    margin-top: -55px;
}
    .perk_6 img {
        height: 300px;
    }
    h1.year_in_history_page {
        font-size: 45px;
    }
    .On-February-8-1865_history_1 {
        font-size: 10px;
        margin-bottom: 16px;
    }
    p.On-February-8-1865_history_2 {
        font-size: 10.5px;
    }
    .desc_his_2 {
        width: 58%;
    }
    .padding-4_perk {
        padding-bottom: 100px;
    }
    .perk_6.perk_9 img {
        height: 450px;
    }
    .section_4_history {
        padding: 60px 30px;
    }
    .perl_section_3 {
        padding: 0 30px 30px;
    }
    .perk_6 {
        left: -45px;
    }
    .padding_35_about {
        padding-top: 0;
    }
    .section_5_history {
        padding: 75px 30px;
      padding-top:0px;
    }
}
@media screen and (max-width:767px) {
    .row.padding_35_about .d-flex.align-items-center {
        justify-content: center;
        margin-bottom: 20px;
    }
    .history_page_imag_1_his img {
        height: 340px;
    }
  .On-February-8-1865_history_1 {
    margin-bottom: 24px;
}
  .btn-align {
    margin-top: -25px;
}
  .top-heading-sec-3 {
    font-size: 35px!important;
}
  .row.padding_35_about .d-flex.align-items-center.height_100_about {
        justify-content: center;
    }
  .padding-4_perk {
    padding-bottom: 40px;
}
  .section_end_txt_history h1 {
	margin-bottom:0px;
}
  .section_end_txt_history p {
    margin-top: 15px;
}
    h1.We-invite-you-to-com_his {
        font-size: 20px;
    }
    .section_end_txt_history {
        width: 100%;
        margin-top: 8%;
        text-align: center;
    }
    .section_end_txt_history h1 {
        font-size: 29px;
    }
    h1.History-of-Del-Rio-V_his {
        width:68%;
    }
    .perk_6 {
        position: unset;
    }
    .perk_6 img {
        height: 250px;
        width: auto;
    }
    .perk_6 {
        text-align: center;
    }
    p.On-February-8-1865_history_2 {
        font-size: 14.5px;
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .perk_7 {
        width: 100%;
        text-align: center;
    }
    .perk_7 img {
        width: auto;
        height: 250px;
    }
    .perk_vip_text {
        margin-top: 40px;
    }
    .section_5_history {
        padding: 30px;
      padding-top:0px;
    }
}

@media screen and (max-width: 550px) {
.perk_6.perk_9 img {
    height: 350px;
}
.perk_7 img {
    width: auto;
    height: 200px;
}
.perk_7.perk_8 {
    width: 100%;
}
}

@media screen and (max-width:500px) {
    h1.History-of-Del-Rio-V_his {
        width: 100%;
    }
    .perk_6 img {
        height: 200px;
        width: auto;
    }
    .perl_section_3 {
        padding: 0 15px 15px;
    }
    .section_4_history {
        padding: 60px 15px;
     padding-bottom:0px;
    }
    .history_page_imag_1_his img {
        height: 260px;
    }
}
@media screen and (max-width:400px) {
.history_page_imag_1_his img {
    height: 220px;
}
h1.History-of-Del-Rio-V_his {
    font-size: 31px;
}
p.On-February-8-1865_history_2 {
    font-size: 12.5px;
}
.perk_6.perk_9 img {
    height: 250px;
}
.section_4_history {
    padding: 30px 15px;
  padding-bottom:0px
}
.section_end_txt_history h1 {
    font-size: 25px;
}
.section_end_txt_history p {
    font-size: 12px;
}
h1.We-invite-you-to-com_his {
    font-size: 18px;
}
.section_5_history {
    padding: 15px;
}

}
@media screen and (max-width:350px) {
.section_end_txt_history h1 {
    font-size: 21px;
}
.perk_7 img {
    height: 150px;
}
.perk_6 img {
    height: 150px;
    width: auto;
}
.history_page_imag_1_his img {
    height: 200px;
}
h1.History-of-Del-Rio-V_his {
    font-size: 25px;
    margin-bottom: 30px;
}
}
  
</style>  

<!-- section 1 -->
   {% section 'Awardspage_first_section' %}


<style>
  .tour_event_awards li.btn_awards.btn1_t a {
    color: rgba(46, 68, 51, 1);
   }
  .btn_awards.btn1_t::after, .btn_awards.btn1_t::before {
    width: 62px;
    margin-left: -1px;
}
  @media screen and (max-width:991px) {
  .btn_awards.btn1_t::after, .btn_awards.btn1_t::before {
        width: 48px;
    }
   .btn1_t::before,.btn1_t::after {
        width: 52px;
    } 

  }
  @media screen and (max-width:767px) {
    .btn_awards.btn1_t::after, .btn_awards.btn1_t::before {
        width: 45%;
    }
          .btn1_t::after, .btn1_t::before {
        width: 43%;
    }
    
  }
  @media screen and (max-width: 550px) {
    .btn_awards.btn1_t:hover::after, .btn_awards.btn1_t:hover::before {
        width: 42%;
    }
    .btn1_t::after, .btn1_t::before {
    width: 39%;
    }
  }
  
</style>  
 


   {% section 'explore_oregon_second_section' %}
<!-- section 3 -->

   {% section 'explore_oregon_third_section' %}
   {% section 'explore_oregon_forth_section' %}
   {% section 'explore_oregon_fifth_section' %}
   {% section 'explore_oregon_six_section' %} 
   {% section 'explore_oregon_nine_section' %}
   {% section 'explore_oregon_ten_section' %}
   {% section 'explore_oregon_eleven_section' %}
          

{% section 'explore_oregon_seven_section' %}
{% section 'explore_oregon_eight_section' %}