{% comment %}
<article class="pt-6">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <div>{{ page.content }}</div>
  </div>
</article>
{% endcomment %}


<style>
  

/* section 2 css */

.img_sec_fluid_vintners img {
    width: 100%;
}
.vintners_s_section_1 .container-fluid {
    padding: 0;
}
.alluvial_fans_rolling_hill h1 {
    font-family: 'Butler';
    font-size: 43px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #171f15;
    width: 54%;
    margin: 0;
    padding-bottom: 100px;
}
.vintners_s_section_2 {
    padding: 100px 45px;
    background-color: #fcfcf5;
}
.text_left_vintners_sec_2 {
    width: 91%;
}
.text_left_vintners_sec_2 h1 {
        font-family: 'Butler';
        font-size: 32px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: #171f15;
        margin-top: 24px;
}
.text_left_vintners_sec_2 p.about_content_vintners {
    font-family: Apercu Pro;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(46, 68, 51, 0.6);
  }
  .description_txt_vintners p {
    font-family: Apercu;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #171f15;
  }
  .img_right_vintners_sec_2 {
      text-align: right;
  }
  .img_right_vintners_sec_2 img {
    height: 375px;
  }
.pading-160_vintners {
    padding-bottom: 150px;
}
.d_none_vintners_2 {
    display: none;
}
.for_fnt_vintners p {
  font-size: 12.8px;
}

/* section 3 css */

.meticulously_text_ss_vintners h1 {
        font-family: 'Butler';
        font-size: 42px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: #171f15;
}
.meticulously_text_ss_vintners p.Del-Rio-Vineyards-is_vintners {
    font-family: Apercu;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #171f15;
    width: 60%;
    padding-top: 45px;
}
.vintners_s_section_3 {
    padding: 60px 45px 110px;
    background-color: #fcfcf5;
}
.text_down_vintners_1 {
    margin-top: 12px;
    margin-bottom: 45px;
}
.text_down_vintners_1 p {
    font-family: Apercu Pro;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 1px;
    text-align: center;
    color: #171f15;
}
.text_down_vintners_1 p:first-child{
    text-transform: uppercase;
    margin-bottom: 4px;
}
.text_down_vintners_1 p.cellular_vintners {
    font-family: Apercu;
    font-size: 14px;
    line-height: 1.43;
    font-weight: 500;
}
hr.line_vintners {
      border: 0px;
      border-top: 1px solid #bcc3bd;
      margin: 0;
}
  .vintners_s_section__end_line .container-fluid {
      padding: 0;
}

  .vin_about_bottlers_vintners.text-center {
    width: 82%;
    margin: 0 auto;
    margin-right: 0;
  }
  .img_up_vintners_1 img {
      height: 288px;
  }

@media screen and (max-width:1200px) {
    .alluvial_fans_rolling_hill h1 {
        font-size: 36px;
        width: 56%;
    }
    .description_txt_vintners p {
        font-size: 11.5px;
    }
    .text_left_vintners_sec_2 h1 {
        font-size: 25px;
    }
    .text_left_vintners_sec_2 p.about_content_vintners {
        font-size: 10px;
    }
    .img_right_vintners_sec_2 img {
        height: 300px;
    }
    .meticulously_text_ss_vintners h1 {
        font-size: 33px;
    }   
    .meticulously_text_ss_vintners p.Del-Rio-Vineyards-is_vintners {
        font-size: 10px;
        width: 57%;
        padding-top: 35px;
    } 
    .img_up_vintners_1 img {
        height: 230px;
    }
    .text_down_vintners_1 p,.text_down_vintners_1 p.cellular_vintners {
        font-size: 12px;
    }
    .vintners_s_section_3 {
        padding: 60px 45px 80px;
    }


    
}
@media screen and (max-width: 991px) {
    .alluvial_fans_rolling_hill h1 {
        font-size: 36px;
        width: 75%;
        padding-bottom: 80px;
    }
    .description_txt_vintners p {
        font-size: 10.5px;
    }
    .pading-160_vintners {
        padding-bottom: 120px;
    }
    .meticulously_text_ss_vintners h1 {
        font-size: 26px;
    }
    .vin_about_bottlers_vintners.text-center {
        width: 100%;
    }
    .img_up_vintners_1 img {
        height: 206px;
    }
    .text_down_vintners_1 p, .text_down_vintners_1 p.cellular_vintners {
        font-size: 9px;
    }
    .vintners_s_section_2 {
        padding: 80px 45px;
    }


    
    
    
}
@media screen and (max-width: 800px) {
    .vintners_s_section_2 {
        padding: 80px 30px;
    }    
    .alluvial_fans_rolling_hill h1 {
        font-size: 35px;
        width: 75%;
        padding-bottom: 70px;
    }
    .img_right_vintners_sec_2 img {
        height: 270px;
    }
    .description_txt_vintners p {
        font-size: 9.5px;
    }    
    .pading-160_vintners {
        padding-bottom: 100px;
    }
    .meticulously_text_ss_vintners h1 {
        font-size: 23px;
    }
    .meticulously_text_ss_vintners p.Del-Rio-Vineyards-is_vintners {
        width: 65%;
        padding-top: 30px;
    }
    .img_up_vintners_1 img {
        height: 180px;
    }
    .vintners_s_section_3 {
        padding: 60px 45px 
    }

}
@media screen and (max-width: 767px) {
    .alluvial_fans_rolling_hill h1 {
        font-size: 35px;
        width: 100%;
        padding-bottom: 60px;
    }
    .description_txt_vintners p {
        font-size: 10.5px;
    }
    .img_right_vintners_sec_2 {
        text-align: center;
        margin-top: 30px;
    }
    .text_left_vintners_sec_2 {
        width: 100%;
    }
    .d_none_vintners_2 {
        display: block;
    }
    .d_none_vintners_1 {
        display: none;
    }

    .Charley_Thomas_bottling_managaer_vintners {
        margin-top: 50px;
    }
    .meticulously_text_ss_vintners h1 {
        font-size: 23px;
        width: 87%;
    }
    .img_up_vintners_1 img {
        height: 206px;
    }
}
@media screen and (max-width: 600px) {
    .alluvial_fans_rolling_hill h1 {
        font-size: 29px;
        width: 80%;
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 550px) {
.alluvial_fans_rolling_hill h1 {
    font-size: 27px;
    width: 80%;
}
.vintners_s_section_2 {
    padding: 60px 15px;
}
.pading-160_vintners {
    padding-bottom: 80px;
}
.vintners_s_section_3 {
    padding: 60px 15px;
}
.meticulously_text_ss_vintners h1 {
    font-size: 28px;
    width: 78%;
}
}
@media screen and (max-width:500px) {
    .alluvial_fans_rolling_hill h1 {
        font-size: 26px;
        width: 100%;
    }


    .meticulously_text_ss_vintners h1 {
        font-size: 28px;
    }
    .meticulously_text_ss_vintners p.Del-Rio-Vineyards-is_vintners {
        font-size: 11px;
        width: 100%;
    }    
    .meticulously_text_ss_vintners h1 {
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
.alluvial_fans_rolling_hill h1 {
    font-size: 22px;
    width: 100%;
    padding-bottom: 40px;
}
.img_right_vintners_sec_2 img {
    height: 220px;
}
.description_txt_vintners p {
    font-size: 9.5px;
}
.text_left_vintners_sec_2 h1 {
    font-size: 22px;
}
.meticulously_text_ss_vintners h1 {
    font-size: 24px;
}
.meticulously_text_ss_vintners p.Del-Rio-Vineyards-is_vintners {
    font-size: 10px;
}


}
@media screen and (max-width: 350px) {
.alluvial_fans_rolling_hill h1 {
    font-size: 18px;
    width: 100%;
}
.img_right_vintners_sec_2 img {
    height: 170px;
}



.vintners_s_section_3 {
    padding: 40px 15px;
}
.meticulously_text_ss_vintners h1 {
    font-size: 21px;
}
.meticulously_text_ss_vintners p.Del-Rio-Vineyards-is_vintners {
    padding-top: 20px;
}
}
  
  .btn1_8::before {
    width: 68px;
    margin-left: -1px !important;
}
  .btn1_8::after {
    width: 68px;
    margin-right: -1px !important;
}
 @media screen and (max-width:991px) {
    .btn1_8::before,.btn1_8::after {
        width: 52px;
    } 
 }
  @media screen and (max-width:767px) {
   .btn1_8::after, .btn1_8::before {
        width: 45%;
    }
  }
  @media screen and (max-width: 550px) {
    .btn1_8::after, .btn1_8::before {
        width: 47%;
    }
  }
  @media screen and (max-width: 400px)  {
    .btn1_8::after, .btn1_8::before {
        width: 46%;
    }
  }
  
</style>  


{% section 'Vintners_page_section_1' %}
<style>
  .btn1_8::before {
    width: 68px;
    margin-left: -1px !important;
}
  .btn1_8::after {
    width: 68px;
    margin-right: -1px !important;
}
 .tour_event_awards   li.btn1_8 a {
    color: rgba(46, 68, 51, 1);
} 
 @media screen and (max-width:991px) {
    .btn1_8::before,.btn1_8::after {
        width: 52px;
    } 
 }
  @media screen and (max-width:767px) {
   .btn1_8::after, .btn1_8::before {
        width: 45%;
    }
  }
  @media screen and (max-width: 550px) {
    .btn1_8::after, .btn1_8::before {
        width: 47%;
    }
  }
  @media screen and (max-width: 400px)  {
    .btn1_8::after, .btn1_8::before {
        width: 46%;
    }
  }
  
</style>  

{% section 'Vintners_first_section' %}
{% section 'Vintners_second_section' %}
{% section 'Vintners_third_section' %}
{% section 'vintnerspage_four_section' %}


