<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
  /* @font-face {font-family: "Legendum"; src: url("//db.onlinewebfonts.com/t/ddff4a43bc959bb27ee5b1a170c66aee.eot"); src: url("//db.onlinewebfonts.com/t/ddff4a43bc959bb27ee5b1a170c66aee.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ddff4a43bc959bb27ee5b1a170c66aee.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ddff4a43bc959bb27ee5b1a170c66aee.woff") format("woff"), url("//db.onlinewebfonts.com/t/ddff4a43bc959bb27ee5b1a170c66aee.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ddff4a43bc959bb27ee5b1a170c66aee.svg#Legendum") format("svg"); } */
  td.style17 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #000000;
    /* font-family: 'Tahoma'; */
    font-size: 10pt;
    font-family: apercu;
    background-color: #DAECF4;
  }
  table.sheet0 tr {
    height: 12.75pt;
  }

  td.style2 {
    vertical-align: bottom;
    text-align: left;
    padding-left: 0px;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #6a69a8 !important;
    /* font-family: 'Tahoma'; */
    font-size: 10pt;
    font-family: apercu;
    background-color: #FFFFFF;
  }
  td.style5 {
    vertical-align: bottom;
    text-align: left;
    padding-left: 0px;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #6a69a8 !important;
    /* font-family: 'Tahoma'; */
    font-size: 10pt;
    font-family: apercu;
    background-color: #F1F0F0;
    padding-left:6px !important;
  }
  td.style3,td.style4,td.style7,td.style13,td.style5,td.style8,td.style2 {
      padding-left:6px !important;
  }
  td.style8 {
    vertical-align: bottom;
    text-align: left;
    padding-left: 0px;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #6a69a8 !important;
    /* font-family: 'Tahoma'; */
    font-size: 10pt;
    font-family: apercu;
    background-color: #E4E3E4;
  }
  td.style11 {
    vertical-align: bottom;
    text-align: left;
    padding-left: 0px;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #D9E1F2;
    /* font-family: 'Tahoma'; */
    font-size: 10pt;
    font-family: apercu;
    background-color: #D5D5D5;
  }
  td.style22 {
    vertical-align: bottom;
    text-align: left;
    padding-left: 0px;
    border-bottom: none #000000;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000;
    font-weight: bold;
    color: #305496;
    /* font-family: 'Tahoma'; */
    font-family: apercu;
    font-size: 10pt;
    background-color: #BCBDBC;
  }
  td.style14 {
    vertical-align: bottom;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: 1px solid #000000 !important;
    border-right: none #000000;
    color: #000000;
    /* font-family: 'Arial'; */
    font-family: apercu;
    font-size: 10pt;
    background-color: #BCBDBC;
  }
  .section_first_table_text_desc {
    padding-top: 140px;
  }
  .wpb_wrapper_container_8 h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: none;
  }
  td.style12 {
    vertical-align: bottom;
    text-align: left;
    padding-left: 0px;
    border-bottom: none #000000;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: none #000000;
    font-weight: bold;
    color: #305496;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: #D5D5D5;
  }
  table.sheet0 tr { height:12.75pt }


  a.comment-indicator:hover + div.comment { background:#ffd; position:absolute; display:block; border:1px solid black; padding:0.5em }
  a.comment-indicator { background:red; display:inline-block; border:1px solid black; width:0.5em; height:0.5em }
  div.comment { display:none }
  table { border-collapse:collapse; page-break-after:always }
  .gridlines td { border:1px dotted black }
  .gridlines th { border:1px dotted black }
  .b { text-align:center }
  .e { text-align:center }
  .f { text-align:right }
  .inlineStr { text-align:left }
  .n { text-align:right }
  .s { text-align:left }
  td.style0 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Arial'; font-size:10pt; background-color:white }
  th.style0 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Arial'; font-size:10pt; background-color:white }
  td.style1 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:1px solid #000000 !important; border-right:none #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#FFFFFF }
  th.style1 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:1px solid #000000 !important; border-right:none #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#FFFFFF }
  td.style2 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:1px solid #000000 !important; border-right:1px solid #000000 !important; color:#D9E1F2; font-family:'Tahoma'; font-size:10pt; background-color:#FFFFFF }
  th.style2 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:1px solid #000000 !important; border-right:1px solid #000000 !important; color:#D9E1F2; font-family:'Tahoma'; font-size:10pt; background-color:#FFFFFF }
  td.style3 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#FFFFFF }
  th.style3 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#FFFFFF }
  td.style4 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#F1F0F0 }
  th.style4 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#F1F0F0 }
  td.style5 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:1px solid #000000 !important; border-right:1px solid #000000 !important; color:#D9E1F2; font-family:'Tahoma'; font-size:10pt; background-color:#F1F0F0 }
  th.style5 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:1px solid #000000 !important; border-right:1px solid #000000 !important; color:#D9E1F2; font-family:'Tahoma'; font-size:10pt; background-color:#F1F0F0 }
  td.style6 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:1px solid #000000 !important; border-right:none #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#F1F0F0 }
  th.style6 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:1px solid #000000 !important; border-right:none #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#F1F0F0 }
  td.style7 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#E4E3E4 }
  th.style7 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#E4E3E4 }
  td.style8 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:1px solid #000000 !important; border-right:1px solid #000000 !important; color:#D9E1F2; font-family:'Tahoma'; font-size:10pt; background-color:#E4E3E4 }
  th.style8 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:1px solid #000000 !important; border-right:1px solid #000000 !important; color:#D9E1F2; font-family:'Tahoma'; font-size:10pt; background-color:#E4E3E4 }
  td.style9 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:1px solid #000000 !important; border-right:none #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#E4E3E4 }
  th.style9 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:1px solid #000000 !important; border-right:none #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#E4E3E4 }
  td.style10 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#D5D5D5 }
  th.style10 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#D5D5D5 }
  td.style11 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:1px solid #000000 !important; border-right:1px solid #000000 !important; color:#D9E1F2; font-family:'Tahoma'; font-size:10pt; background-color:#D5D5D5 }
  th.style11 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:1px solid #000000 !important; border-right:1px solid #000000 !important; color:#D9E1F2; font-family:'Tahoma'; font-size:10pt; background-color:#D5D5D5 }
  td.style12 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:1px solid #000000 !important; border-right:none #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#D5D5D5 }
  th.style12 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:1px solid #000000 !important; border-right:none #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#D5D5D5 }
  td.style13 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#CCCDCD }
  th.style13 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#BCBDBC }
  /* td.style14 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:1px solid #000000 !important; border-right:none #000000; color:#000000; font-family:'Arial'; font-size:10pt; background-color:white } */
  th.style14 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:1px solid #000000 !important; border-right:none #000000; color:#000000; font-family:'Arial'; font-size:10pt; background-color:white }
  td.style15 { vertical-align:bottom; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Arial'; font-size:10pt; background-color:white }
  th.style15 { vertical-align:bottom; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Arial'; font-size:10pt; background-color:white }
  td.style16 { vertical-align:middle; text-align:center; border-bottom:1px solid #000000 !important; border-top:1px solid #000000 !important; border-left:1px solid #000000 !important; border-right:1px solid #000000 !important; color:#000000; font-family:'Tahoma'; font-size:10pt; background-color:#DAECF4 }
  th.style16 { vertical-align:middle; text-align:center; border-bottom:1px solid #000000 !important; border-top:1px solid #000000 !important; border-left:1px solid #000000 !important; border-right:1px solid #000000 !important; color:#000000; font-family:'Tahoma'; font-size:10pt; background-color:#DAECF4 }
  td.style17 { vertical-align:middle; text-align:center; border-bottom:1px solid #000000 !important; border-top:1px solid #000000 !important; border-left:1px solid #000000 !important; border-right:1px solid #000000 !important; color:#000000; font-family:'Tahoma'; font-size:10pt; background-color:#DAECF4 }
  th.style17 { vertical-align:middle; text-align:center; border-bottom:1px solid #000000 !important; border-top:1px solid #000000 !important; border-left:1px solid #000000 !important; border-right:1px solid #000000 !important; color:#000000; font-family:'Tahoma'; font-size:10pt; background-color:#DAECF4 }
  td.style18 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Arial'; font-size:10pt; background-color:white }
  th.style18 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Arial'; font-size:10pt; background-color:white }
  td.style19 { vertical-align:middle; text-align:center; border-bottom:1px solid #000000 !important; border-top:1px solid #000000 !important; border-left:1px solid #000000 !important; border-right:1px solid #000000 !important; color:#000000; font-family:'Tahoma'; font-size:10pt; background-color:#DAECF4 }
  th.style19 { vertical-align:middle; text-align:center; border-bottom:1px solid #000000 !important; border-top:1px solid #000000 !important; border-left:1px solid #000000 !important; border-right:1px solid #000000 !important; color:#000000; font-family:'Tahoma'; font-size:10pt; background-color:#DAECF4 }
  td.style20 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Arial'; font-size:10pt; background-color:white }
  th.style20 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Arial'; font-size:10pt; background-color:white }
  td.style21 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#CCCDCD }
  th.style21 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#CCCDCD }
  td.style22 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:1px solid #000000 !important; border-right:1px solid #000000; font-weight:bold; color:#305496; font-family:'Tahoma'; font-size:10pt; background-color:#BCBDBC }
  td.style23 { vertical-align:bottom; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Arial'; font-size:10pt; background-color:white }
  th.style23 { vertical-align:bottom; border-bottom:none #000000; border-top:1px solid #000000 !important; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Arial'; font-size:10pt; background-color:white }
  table.sheet0 col.col0 { width:161.31110926pt }
  table.sheet0 col.col1 { width:140.29999839pt }
  table.sheet0 col.col2 { width:92.17777672pt }
  table.sheet0 col.col3 { width:25.75555526pt }
  table.sheet0 col.col4 { width:205.36666431pt }
  table.sheet0 col.col5 { width:42pt }
  table.sheet0 col.col6 { width:42pt }
  table.sheet0 tr { height:12.75pt }
  td.column5,td.column6 {
    display: none;
  }
  .h3_customer_2st_pg {
    width:19%;
    margin-bottom: 50px;
  }
  .h3_customer_2st_pg h3 {
    vertical-align: bottom;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: none #000000;
    border-right: none #000000;
    font-weight: bold;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    background-color: white;
  }
  @media screen and (max-width:991px) {
    .h3_customer_2st_pg {
      width:35%;
    }    
  }
  @media screen and (max-width:767px) {
    .h3_customer_2st_pg {
      width:100%;
    }    
    .table_div_2 {
      overflow: auto;
    }
    td.style22 ,td.style13,td.style7,td.style1,td.style6,td.style9,td.style12,td.style3,td.style4,td.style14{
      font-size: 8pt;
    }
  }
  td.style18,td.style17 {
    background-color: #DAECF4;
    text-align: center;
    border: 1px solid;
  }

  table {
    border: 1px solid #333333;
  }
  .table_div_2 {
    margin-bottom: 50px;
  }
  .e_customers_located-in p {
    color: #707070;
    font-size: 15px;
    font-weight: 300;
    /* font-family: "Legendum"; */
    margin-bottom: 5px;
  }
  .e_customers_located-in p:last-child {
    margin-bottom: 55px;
  }
  .separator_normal_table {
    position: relative;
    display: block;
    height: 1px;
    background-color: #eaeaea;
    margin: 10px 0;
  }
td.style14 {
    vertical-align: bottom;
    text-align: left;
    padding-left: 0px;
    border-bottom: none #000000;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: none #000000;
    font-weight: bold;
    color: #305496;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: #CCCDCD;
}
</style>

<div class="section_first_table_text_desc">
  <div class="container">
    <div class="wpb_wrapper_container_8">
      <h2>Wholesale customers located in Washington State, USA</h2>
      <div class="separator_normal_table"></div>
      <div class="e_customers_located-in">
        <p>This list shows which of our wines that each purchasing retailer – including restaurants – have purchased in the past six months. Since this list is not linked to any retailer’s inventory, it does not guarantee that they have the listed wines in stock, only that they have purchased them recently. We suggest using search (Ctrl-F) to find your city, then look for the retailer nearest you that you prefer to shop at.</p>
        <p>Can’t find the wine you are looking for in your city? Many retailers will obtain from our distributor, Columbia Distributing, by special request. Certainly all independent retailers offer this service, and most of the regional grocery store chains do as well. Alternatively, you can order our wine directly from us and we will ship it to you.*</p>
        <p>*Adult signature may be required. Shipping may be an additional charge.</p>
      </div>
    </div>
  </div>
</div>



<div class="table_customer_section_1">
  <div class="container">

    <div class="h3_customer_2st_pg">
      <h3>DEL RIO VINEYARDS, JOLEE, AND ROCK POINT WINES</h3>
      <h3>WASHINGTON STATE PURCHASING RETAILERS</h3>
    </div>
    <div class="table_div_2">
      <table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0">
        <tbody>

          {% section 'Washington_Customer_1_section' %}
          {% section 'Washington_Customer_2_section' %}
          {% section 'Washington_Customer_3_section' %}
          {% section 'Washington_Customer_4_section' %}
          {% section 'Washington_Customer_5_section' %}

        </tbody>
      </table>
    </div>
  </div>
</div>

