{% comment %}
<article class="pt-6">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <div>{{ page.content }}</div>
  </div>
</article>
{% endcomment %}

<style>


/* section-2 css */

.section-2_awards {
    padding: 80px 45px 0px;
    background-color: #fcfcf5;
}

.end_margin_awards {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 34%;
    margin-top: 8px;
    margin-bottom: 8px;
}
.OUR-CUSTOMER_awards {
    font-family: Apercu;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 2px;
    text-align: center;
    color: #291f1f;
    margin-bottom: 27px;
}
h1.WINE-ENTHUSIAST-MAGA_awae_awards {
    font-family: 'Butler';
    font-size: 42.5px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: var(--almost-black-40);
    color: rgba(23, 31, 21, 0.4);
    margin: 0;
  }
/*   h1.WINE-ENTHUSIAST-MAGA_awae_awards span {
      color: black;
  } */


  /* section 3 css */

  .section_3_awards {
    background-color: #fcfcf5;
    padding: 60px 45px 160px;
}
  .magazine_awards_desc {
      margin-bottom: 40px;
      max-width:33%;
      flex:33%;
  }
  .magazine_awards_desc h1 {
    font-family: 'Butler';
    font-size: 29px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #171f15;
  }
  .magazine_awards_desc p {
    margin-bottom: 0;
    font-family: Apercu;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #3e3e3e;  
  }
  p.wine_name_got_awards {
      font-weight: 600;
  }
  .wine_with_those_compant_got_awards {
      margin-bottom: 20px;
  }


  @media screen and (max-width:1100px) {
    h1.WINE-ENTHUSIAST-MAGA_awae_awards {
        font-size: 34.5px;
    }
    .OUR-CUSTOMER_awards {
        font-size: 10px;
    }    
  }

  @media screen and (max-width: 800px) {
    h1.WINE-ENTHUSIAST-MAGA_awae_awards {
       font-size: 26px;
    }
    .section-2_awards {
        padding: 60px 30px 0px;
    }
    .section_3_awards {
        padding: 60px 30px 160px;
    }
    .magazine_awards_desc h1 {
        font-size: 22px;
    }
    .magazine_awards_desc p {
        margin-bottom: 0;
        font-family: Apercu;
        font-size: 11px;
    }
      .magazine_awards_desc {
      max-width:50%;
      flex:50%;
  }
}
@media screen and (max-width: 767px) {
    h1.WINE-ENTHUSIAST-MAGA_awae_awards {
        font-size: 25px;
    }
    .section_3_awards {
        padding: 60px 15px 80px;
    }
    .magazine_awards_desc h1 {
        font-size: 29px;
    }
    .magazine_awards_desc p {
        font-size: 13px;
    }
   .magazine_awards_desc {
      max-width:100%;
      flex:100%;
  }
}
@media screen and (max-width: 580px) {
    h1.WINE-ENTHUSIAST-MAGA_awae_awards {
        font-size: 21px;
    }
}
@media screen and (max-width: 500px) {
    .section-2_awards {
        padding: 60px 15px 0px;
    }
    h1.WINE-ENTHUSIAST-MAGA_awa_awardse {
        font-size: 18px;
    }
    .end_margin_awards {
        width: 23%;
    }
}
@media screen and (max-width: 400px){
    h1.WINE-ENTHUSIAST-MAGA_awae_awards {
        font-size: 15.5px;
    }
    .end_margin_awards {
        width: 17%;
    }
    .magazine_awards_desc h1 {
        font-size: 24px;
    }
    .magazine_awards_desc p {
        font-size: 11px;
    }
}
@media screen and (max-width: 350px){
    h1.WINE-ENTHUSIAST-MAGA_awae_awards {
        font-size: 13px;
    }
}

</style>  




<!-- section 1 -->
   {% section 'Awardspage_first_section' %}

<style>
    .tour_event_awards li.btn1_awards a {
    color: rgba(46, 68, 51, 1);
   }
 .btn1_awards::after {
    width: 67px;
    margin-right: -1px;
}
  .btn1_awards::before {
    width: 67px;
    left: -1 !important;
}
  @media screen and (max-width:991px) {

      .btn1_awards::before,.btn1_awards::after {
        width: 60px;
    }   
  }
  @media screen and (max-width:767px) {
      .btn1_awards::after, .btn1_awards::before {
        width: 38%;
    }
  }
 @media screen and (max-width: 550px) { 
  .btn1_awards::after, .btn1_awards::before {
    width: 36%;
}
 }
  @media screen and (max-width: 350px)  {
    .btn1_awards::after, .btn1_awards::before {
        width: 30%;
}
}
  .displat_wrapper_11 {
	    display: flex;
        flex-wrap: wrap;
}
</style>


    <!-- section 2 -->
{% section 'Awards_Section_2'%}
    <!-- section 3 -->

<div class="section_3_awards">
  <div class="container">
    
    <div class="row">
<!--       <div class="col-lg-4 col-md-4 col-sm-12 col-12"> -->
              {% section 'Awards_Section_3'%}
<!--       </div> -->
      {% comment %}
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              {% section 'Awards_Section_4'%}
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              {% section 'Awards_Section_5'%}
      </div>
      {% endcomment %}
    </div>
    
  </div>
</div>
