{% comment %}
<article class="pt-6">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <div>{{ page.content }}</div>
  </div>
</article>
{% endcomment %}


<style>
  
  /* newsletter */
.Vines-Wines_newsletter_txt h1 {
    font-family: 'Butler';
    white-space: nowrap;
    font-size: 225px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #291f1f;
    margin-bottom: 0;
  }
  .newsletter_section_1 {
   background-color: #fcf9ef;
   padding: 260px 0 0px; 
  }

  /* section 2 css */

  .newsletter_section_2 {
    background-color: #fcf9ef;
    padding: 40px 45px;
  }
  .quarterly_newsletter_text_1 p {
    font-family: Apercu Pro;
    font-size: 12.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #3e3e3e;
    padding-right: 30px;
}
  .fall_2020_newsletter_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 12px;
    padding-bottom: 8px;
}
  .fall_2020_newsletter_1 p {
        font-family: Apercu;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: 2px;
        text-align: right;
        color: #fcf9ef;
        margin: 0;
  }

  .brown_color_bg_4_col_newsletter {
        background-color: #c09b68 !important; 
  }
.remove_padding_0_newsletter {
    padding: 0px;
}
.issue_64_letter_news {
    padding-left: 15px;
    padding-top: 21%;
}
.issue_64_letter_news p {
    margin-bottom: 20px;
}
.issue_64_letter_news p.Issue-N {
    font-family: Apercu Pro;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(46, 68, 51, 0.6);
  }
  .issue_64_letter_news p.In-this-issue {
    font-family: Apercu Pro;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 2px;
    color: #171f15;
    text-transform: uppercase;
  }
  p.Spreading-joy-in-the_newsletter {
    font-family: Apercu;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #3e3e3e;
  }
  .LEARN-MORE_newsletter_button {
    font-family: Apercu Pro;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
    background-color: #c09b68;
    padding: 15px;
    width: 77%;
    margin-top: 36px;
}
  .issue_64_letter_news a:hover {
      text-decoration: none;      
  }
  .png_club_newsletter {
    padding: 15px 0 24px 15px;
    margin-top: -36.5%;
}
.la_car_newsletter h1 {
    color:#ffffff;
    margin-bottom: 0;
}
.chardo_rio_newsletter {
    width: 100%;
}
.Best-Wines-for-Summe, .Bright-Elegant, h1.RIO-CLUB_pic_newsletter {
    text-transform: uppercase;
}
.RIO-CLUB_pic_newsletter {
    font-family: 'Butler';
    font-size: 35px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.86px;
    color: #47657a;
}

  /* section 3 css */

  .newsletter_section_3 {
    background-color: #fcf9ef;
    padding: 60px 45px 140px;
}
  .pad_cab_newsletter_css_txt {
    padding-top: 45px;
}
.cabrener_pad_newsletter_css_txt {
    padding-bottom: 20px;
}
.png_club_newsletter_css_txt {
    padding: 15px 0 24px 15px;
    margin-bottom: 40px;
}
.la_car_newsletter_css_txt h1 {
    color: white;
}
h1.RIO-CLUB_pic_newsletter_css_txt {
    text-transform: uppercase;
}
.RIO-CLUB_pic_newsletter_css_txt {
    font-family: 'Butler';
    font-size: 43px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.86px;
    color: #47657a;
}
.chardo_rio_newsletter_css_txt {
    width: 100%;
    height: 415px;
}

h1.PAST-ISSUES_newsletter {
    font-family: 'Butler';
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #171f15;
    text-align: center;
    margin: 0;
  }
 /* background-colors */
.bg_color_newsletter_1 {
    background-color: #58572f;
}
.bg_color_newsletter_2 {
    background-color: #4b544b;
}
.bg_color_newsletter_3 {
    background-color: #9e7153;
}
.bg_color_newsletter_4 {
    background-color: #a07551;
}
.bg_color_newsletter_5 {
    background-color: #746360;
}
.bg_color_newsletter_6 {
    background-color: #c9d3dd;
}
.bg_color_newsletter_7 {
    background-color:#707972;
}
.bg_color_newsletter_8 {
    background-color:#6a683e;
}
.bg_color_newsletter_9 {
    background-color:#d2ab8a;
}
.bg_color_newsletter_10 {
    background-color:#8f773f;
}
.bg_color_newsletter_11 {
    background-color:#8f4b3f;
}
.bg_color_newsletter_12 {
    background-color:#d0b88d;
}
.bg_color_newsletter_13 {
    background-color: #977b66;
}
.bg_color_newsletter_14 {
    background-color: #8f6c3f;
}
.bg_color_newsletter_15 {
    background-color: #475a62;
}
h1.text-color-spring_newsletter_1 {
    color: rgba(31, 54, 71, 0.87) !important;
}
h1.text-color-spring_newsletter_2 {
    color: #291f1f;
}

/* next number css */
.next_signs {
    padding-top: 30px;
    padding-bottom: 30px;
}
.num_one_to li a {
    text-decoration: underline;
}
.num_one_to li a {
    font-family: Apercu Pro;
    font-size: 16px;
    line-height: 1.5;
    color: #2e4433;
    padding: 0 7px;
}

.num_one_to a:hover {
    text-decoration: none;
    opacity: 0.6;
}



@media screen and (max-width:1100px) {
    .Vines-Wines_newsletter_txt h1 {
        font-size: 182px;
    }
    .quarterly_newsletter_text_1 p {
        font-size: 10.5px;
    }
    .png_club_newsletter {
        margin-top: -38.5%;
    }    
    p.Spreading-joy-in-the_newsletter {
        font-size: 12px;
    }
    .LEARN-MORE_newsletter_button {
        font-size: 10px;
        padding: 12px;
        width: 68%;
        margin-top: 28px;
    }    
    .RIO-CLUB_pic_newsletter_css_txt {
        font-size: 33px;
    }
    .chardo_rio_newsletter_css_txt {
        height: 350px;
    }
}
@media screen and (max-width: 991px) {
.Vines-Wines_newsletter_txt h1 {
    font-size: 176px;
}
.quarterly_newsletter_text_1 p {
    font-size: 10px;
    padding-right: 15px;
}
.issue_64_letter_news p {
    margin-bottom: 15px;
}
p.Spreading-joy-in-the_newsletter {
    font-size: 10.5px;
}
.LEARN-MORE_newsletter_button {
    font-size: 9px;
    padding: 12px 0;
    margin-top: 20px;
}
.RIO-CLUB_pic_newsletter_css_txt {
    font-size: 23px;
}
.chardo_rio_newsletter_css_txt {
    height: 250px;
}
.png_club_newsletter_css_txt {
    padding: 10px 0 20px 8px;
}
.RIO-CLUB_pic_newsletter {
    font-size: 23px;
}
.fall_2020_newsletter_1 {
    padding-right: 6px;
}
.fall_2020_newsletter_1 p {
    font-size: 9px;
}
}
@media screen and (max-width: 850px) {
.Vines-Wines_newsletter_txt h1 {
    font-size: 137px;
}
.newsletter_section_1 {
    padding: 180px 0 0px;
}
.png_club_newsletter {
    margin-top: -44.5%;
}
.issue_64_letter_news p.Issue-N {
    font-size: 9px;
}
.issue_64_letter_news p.In-this-issue {
    font-size: 10px;
}
.png_club_newsletter {
    padding: 12px 0 17px 10px;
}
.next_signs {
    padding-top: 15px;
    padding-bottom: 15px;
}
}
@media screen and (max-width: 767px) {
.png_club_newsletter {
    margin-top: 0;
}
.remove_padding_0_newsletter {
    padding: 20px 15px;
}
.quarterly_newsletter_text_1 p {
    font-size: 15.5px;
    padding-right: 0;
}
.issue_64_letter_news {
    padding-left: 0;
    padding-top: 2%;
}
.issue_64_letter_news p.Issue-N {
    font-size: 13px;
}
.issue_64_letter_news p.In-this-issue {
    font-size: 13px;
}
p.Spreading-joy-in-the_newsletter {
    font-size: 13px;
}
.LEARN-MORE_newsletter_button {
    font-size: 12px;
}
.newsletter_section_3 {
    padding: 30px 15px 110px;
}
.RIO-CLUB_pic_newsletter_css_txt {
    font-size: 37px;
}
.chardo_rio_newsletter_css_txt {
    height: 450px;
}
.newsletter_section_2 {
    padding: 40px 15px;
}
.png_club_newsletter {
    padding: 15px 0 24px 15px;
}
.png_club_newsletter_css_txt {
    padding: 15px 0 24px 15px;
    width: 85%;
    margin: 20px auto;
}
.png_club_newsletter {
    padding: 15px 0 24px 15px;
    width: 85%;
    margin: auto;
}
.RIO-CLUB_pic_newsletter {
    font-size: 33px;
}
.fall_2020_newsletter_1 p {
    font-size: 12px;
}
}
@media screen and (max-width: 550px) {
.Vines-Wines_newsletter_txt h1 {
    font-size: 98px;
}
}

@media screen and (max-width: 450px) {
    .chardo_rio_newsletter_css_txt {
        height: 350px;
    }
    .pad_cab_newsletter_css_txt {
        padding-top: 35px;
    }
    .Vines-Wines_newsletter_txt h1 {
        font-size: 75px;
    }
}
@media screen and (max-width: 400px) {
.png_club_newsletter_css_txt {
    padding: 15px 0 20px 12px;
}
.RIO-CLUB_pic_newsletter_css_txt {
    font-size: 29px;
}
.pad_cab_newsletter_css_txt {
    padding-top: 20px;
}
.RIO-CLUB_pic_newsletter {
    font-size: 28px;
}
.fall_2020_newsletter_1 p {
    font-size: 10px;
}
.quarterly_newsletter_text_1 p {
    font-size: 13.5px;
}
.Vines-Wines_newsletter_txt h1 {
    font-size: 66px;
}
}
@media screen and (max-width: 350px) {
.png_club_newsletter_css_txt {
    width: 100%;
}
.chardo_rio_newsletter_css_txt {
    height: 300px;
}
.Vines-Wines_newsletter_txt h1 {
    font-size: 56px;
}
.quarterly_newsletter_text_1 p {
    font-size: 12px;
    margin: 0px;
}
.png_club_newsletter {
    width: 100%;
}
}
  .pagination_newsletter li {
    list-style: none;
  }
  
</style>  


{% section 'newsletter_first_section'%}
{% section 'newsletter_second_section'%}







