{% comment %}
<article class="pt-6">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <div>{{ page.content }}</div>
  </div>
</article>
{% endcomment %}


<style>

  
/* winemaking css */
.winemaking_section_1 {
    padding: 65px 45px 60px;
    background-color: #f3f5eb;
}
.Representing-our-ori_ginal_wine h1 {
    font-family: 'Butler';
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #171f15;
  }
  .Representing-our-ori_ginal_wine p {
    font-family: Apercu Pro;
    font-size: 14px;
    padding: 20px 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: rgba(23, 31, 21, 0.87);
}
  .set_width_winemakeing {
      width: 60%;
  }
  .set_width_winemakeing {
    width: 37%;
    margin: 0 auto;
}
a:hover {
    text-decoration: none;
    color: black;
}
.Share_social_winemake a span {
    font-family: Apercu;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: rgba(23, 31, 21, 0.6);
  }
  .Share_social_winemake a i {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: rgba(23, 31, 21, 0.6);
    padding-right: 6px;
  }
  .Share_social_winemake {
      padding: 10px 0;
  }
  .Share_social_winemake div:first-child {
      padding-right: 40px;
  }

  /* section 2 css */
  .winemaking_section_2 {
      background-color: #fcfcf5;
      padding: 60px 45px;
  }
  .WINEMAKING-PHILOSOPH_tour h1 {
    font-family: 'Butler';
    font-size: 48px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #291f1f;
  }
  .Expressing-the-viney_winemaking {
    font-family: Apercu Pro;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 2px;
    text-align: center;
    color: #171f15;
    text-transform:uppercase;
  }
  .essense_winemake11 {
      padding-top: 12px;
  }
  .essense_winemake12 {
      margin-top: 7px;
  }
.Expressing-the-viney_winemaking {
    padding-top: 23px;
}  
.Expressing-the-viney_up_wine {
    padding: 40px 0;
}

/* section 3 css */

.Winemaking_Philosph_tour h1 {
    font-family: 'Butler';
    font-size: 48px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #291f1f;
  }
  .I-believe-that-most_wine_making p {
    font-family: Apercu;
    font-size: 13.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #3e3e3e;
  }
  .image_tom_wine_making img {
      width:87%;
  }
  .padding_15_bg_wine {
      padding-top: 15px;
      margin-bottom: 80px;
  }
  .Jean-Michel-Jussiaum_wine_making {
    font-family: 'Butler';
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #291f1f;
    padding-top: 20px;
}

  .Winemaking_Philosph_tour {
    padding: 0 45px 0 7px;
    height: 100%;
    display: flex;
    align-items: center;
}
.I-believe-that-most_wine_making p a {
  color: #2e4433;
  
text-decoration: underline;
}
.Winemaking_Phlosphy {
    padding-bottom: 20px;
}
.i_believe_wine {
    margin: 0;
}
.i_believe_wine2 {
    margin: 20px 0;
}
h1.Our-soil-rolling-hi_win_making {
    font-family: 'Butler';
    font-size: 37px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #171f15;
    width: 91%;
}
  .Expressing_the_essense_winemake img {
  height: 218px;
  }
  
  
  
  
  
  




  @media screen and (max-width:1200px){
    .set_width_winemakeing {
        width: 44%;
    }
    .Winemaking_Philosph_tour h1 {
        font-size: 33px;
    }
    h1.Our-soil-rolling-hi_win_making {
        font-family: 'Butler';
        font-size: 30px;
    }
    .WINEMAKING-PHILOSOPH_tour h1 {
        font-size: 38px;
    }
    .Winemaking_Philosph_tour {
        padding: 0 25px 0 7px;
    }
  }

  @media screen and (max-width:1015px) {
    .set_width_winemakeing {
        width: 46%;
    }
    .Expressing-the-viney_up_wine {
        padding-bottom: 0;
    }
    .Expressing_the_essense_winemake.essense_winemake11 img {
        width: 100% !important;
    }
    .Winemaking_Philosph_tour {
        padding: 0px 15px 0 7px;
    }
    .Winemaking_Philosph_tour h1 {
        font-size: 27px;
    }
    .I-believe-that-most_wine_making p {
        font-family: Apercu;
        font-size: 11px;
        margin-bottom: 8px;
    }
    .image_tom_wine_making img {
        width: 100%;
    }
    .Jean-Michel-Jussiaum_wine_making {
        padding-top: 10px;
    }
    h1.Our-soil-rolling-hi_win_making {
        font-family: 'Butler';
        font-size: 23px;
    }
    .WINEMAKING-PHILOSOPH_tour h1 {
        font-size: 30px;
    }
    .Expressing_the_essense_winemake.text-center img {
        height:185px;
    }
    .padding_15_bg_wine {
        margin-bottom: 60px;
    }
}
  @media screen and (max-width:991px) {
    .set_width_winemakeing {
        width: 60%;
    }
    .Representing-our-ori_ginal_wine img {
    width:100%;
      
    }
    .Expressing_the_essense_winemake.text-center img{
    height: 144px;
}
  }
  @media screen and (max-width:770px) {
    .Representing-our-ori_ginal_wine img {
        width: 100%;
    }
    .Representing-our-ori_ginal_wine h1 {
        font-size: 37px;
    }
    .Expressing-the-viney_winemaking {
        font-size: 11px;
    }
    .winemaking_section_2 {
        padding: 45px;
    }
    .Winemaking_Phlosphy {
        padding-bottom: 10px;
    }
    .I-believe-that-most_wine_making p {
        font-size: 10px;
    }
    h1.Our-soil-rolling-hi_win_making {
        font-family: 'Butler';
        font-size: 21px;
        width: 90%;
    }
    
  }
  @media screen and (max-width:767px) {
    .set_width_winemakeing {
        width: 75%;
    }
    .Expressing_the_essense_winemake.text-center img {
        width: unset;
    }
    .Expressing_the_essense_winemake.essense_winemake11 img {
        width: unset !important;
    }
    .Expressing_the_essense_winemake.essense_winemake11 {
        margin: 30px 0;
    }
    .Winemaking_Philosph_tour {
        padding: 30px 15px 15px 15px;
    }
    h1.Our-soil-rolling-hi_win_making {
        font-size: 16px;
        width: 86%;
    }
    .winemaking_section_1 {
    padding: 30px 45px 60px;  
    }
}
@media screen and (max-width: 600px) {
.Representing-our-ori_ginal_wine h1 {
    font-size: 33px;
}
.Representing-our-ori_ginal_wine p {
    font-size: 13px;
}
}
@media screen and (max-width: 550px) {
.Representing-our-ori_ginal_wine h1 {
    font-size: 29px;
}
.Representing-our-ori_ginal_wine p {
    font-size: 12px;
}
.winemaking_section_2 {
    padding: 30px 15px;
}
.WINEMAKING-PHILOSOPH_tour h1 {
    font-size: 24px;
}

.Expressing_the_essense_winemake.essense_winemake11 img {
    width: 51% !important;
}
.Expressing_the_essense_winemake.essense_winemake11 {
    margin: 0;
}
.img_width_100_percent {
    margin-bottom: 30px;
}
h1.Our-soil-rolling-hi_win_making {
    font-size: 13px;
    width: 99%;
}
}
@media screen and (max-width:450px) {
    .winemaking_section_1 {
        padding: 100px 15px 60px;
    }
    .set_width_winemakeing {
        width: 100%;
    }
    .Representing-our-ori_ginal_wine h1 {
        font-size: 32px;
    }
    .Representing-our-ori_ginal_wine p {
        font-size: 13px;
    }
    h1.Our-soil-rolling-hi_win_making {
        font-size: 14px;
        width: 99%;
    }
}
@media screen and (max-width: 400px) {
.Representing-our-ori_ginal_wine p {
    font-size: 12px;
}
h1.Our-soil-rolling-hi_win_making {
    font-size: 12px;
}
}
@media screen and (max-width: 350px) {
.Representing-our-ori_ginal_wine h1 {
    font-size: 26px;
}
.Representing-our-ori_ginal_wine p {
    font-size: 10px;
    padding: 15px 0;
}
.WINEMAKING-PHILOSOPH_tour h1 {
    font-size: 20px;
}
.Winemaking_Philosph_tour h1 {
    font-size: 22px;
}
.Jean-Michel-Jussiaum_wine_making {
    font-size: 17px;
}
.padding_15_bg_wine {
    margin-bottom: 35px;
}

}

</style>  


{% section 'Vintners_page_section_1' %}

<style>

  .btn_awards.sm_btn_awrd_vinemak::after, .btn_awards.sm_btn_awrd_vinemak::before {
      width: 110px;
      margin-left: -1px;
  }  
   .tour_event_awards  li.sm_btn_awrd_vinemak a {
    color: rgba(46, 68, 51, 1);
  }
  @media screen and (max-width:991px) {
      .btn_awards.sm_btn_awrd_vinemak::after, .btn_awards.sm_btn_awrd_vinemak::before {
        width:81px;
    }
  }
  @media screen and (max-width:767px) {
      .btn_awards.sm_btn_awrd_vinemak::after, .btn_awards.sm_btn_awrd_vinemak::before {
        width: 40%;
    } 
  }
  @media screen and (max-width: 550px) {
    .btn_awards.sm_btn_awrd_vinemak::after, .btn_awards.sm_btn_awrd_vinemak::before {
        width: 34%;
    }
  }
  
</style>  

{% section 'winemakingpage_first_section' %}
{% section 'winemakingpage_second_section'%}

<div class="winemaking_section_2 wine_makings_sec_3">
  <div class="container">
    {% section 'winemakingpage_third_section' %}
    {% section 'winemakingpage_fourth_section'%} 
    {% section 'winemakingpage_fifth_section'%}       
  </div>
</div>




