{% comment %}
<article class="pt-6">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <div>{{ page.content }}</div>
  </div>
</article>
{% endcomment %}

<style>
  
  
  /* jolee page css */

  .jolee_section_1 {
      padding: 80px 45px 45px;
      background-color: #ffe9e0;
  }
  .Delightfully-easy-dr_jolee h1 {
    font-family: Apercu Pro;
    font-size: 72px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -2.5px;
    color: #f07b55;
    padding-top: 18px;
}
  .Delightfully-easy-dr_jolee p {
    font-family: Apercu;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #f07b55;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .Delightfully-easy-dr_jolee a {
    font-family: Apercu;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 2px;
    text-align: center;
    color: #a3563a;
    padding: 2% 14%;
    background: white;
    border: 1px solid;
  }

  .jolee_header_text {
      width: 90%;
/*       padding-top: 10px; */
      height: 100%;
  }
  a:hover {
      text-decoration: none;
  }
.padding-top_60_jolee {
    padding-top: 80px;
}


/* section 2 css */
  .jolee_merge_up {
      text-align: right;
      padding-right: 24px;
  }
  .Jolee-wines-are-full_pg {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .jolee_merge_up img:first-child {
    position: absolute;
    left: 14.4%;
    top: 21%;
}
.jolee_section_2 {
    padding:100px 45px;
    background-color: #fffbfa;
}
.Jolee-wines-are-full_pg p {
    font-family: Apercu Pro;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1px;
    color: #f07769;
    width: 82%;
    margin-bottom: 45px;
}

/* section 3 css */
.jolee_section_3 img {
    width: 100%;
}
/* section 4 css */
.jolee_section_4 {
    padding:100px 45px;
    background-color: #fffbfa;
}
.Jolee-Wines-captures_jole {
    font-family: Apercu Pro;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.14px;
    text-align: center;
    color: #f07769;
    width: 71%;
    margin: 0 auto;
  }
  
  .Jolee-Wines-captures_jole span {
    font-style: italic;
  }
  .flower_jolee_red {
    background-image: url({{'jolee_img_6.png' | asset_url }});
      height: 514px;
      background-size: 100% 100%;
  }
  .SHOP_joleee {
    font-family: Apercu;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 2px;
    text-align: center;
    color: #8f4b33;
  }
  .flower_jolee_red p {
      width: 95%;
      margin: 0 auto;
      background-color: white;
      border: 1px solid;
      padding-top: 10px;
      padding-bottom: 7px;
  }
  .bf_pink_jolee {
    background-color: #f0dddf;
    width: 31.5%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 16%;
    padding: 0px 0px 6%;
}
.flower_jolee_red a {
    position: absolute;
    bottom: 27.5%;
    width: 92%;
}
  p.Sweet-Bubbly_j00_jole_pgi {
     text-transform:uppercase;
  }
.Ros-Jolee_jolie {
    font-family: Apercu;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.5px;
    text-align: center;
    color: #f56358;
  }
  .Sweet-Bubbly_jolee {
    font-family: Apercu pro;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 2px;
    text-align: center;
    color: #f07b55;
  }
 .class-star_rating_jile {
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #f07b55;

  }
  .-Reviews_jolie {
    font-family: Apercu;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #f07b55;
    margin-left: 10px;
}
  .Perfect-companions-d_jolie {
    font-family: Apercu;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #f07769;
  }
  .text_below_jolee {
      padding-top: 20px;
      text-align:center;
  }
  .ADD-TO-CART_jolie {
    font-family: Apercu Pro;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 2px;
    text-align: center;
    color: #2e4433;
    width: 100%;
    border: solid 1px #2e4433;
    padding: 10px;
    margin: 0;
    margin-top: 40px;
    background-color: white;
}
.png_carbernet_jolie {
    background-color: #ffede1;
    padding: 84px 10px 10px;
    background-repeat:no-repeat;
}
  .png_carbernet_jolie img {
  height:320px;
  }
.shop_joliee {
    background-color: white;
    padding: 16px;
    border: 1px solid;
    margin-top: 30px;
    margin-bottom: 0;
}
.justify_jolie {
    justify-content: space-evenly;
    padding-top: 60px;
}
.flower_jolee_red_33 {
    margin-right: -60px;
}

.or-picnic-on-the-riv_jolie h1 {
    font-family: Apercu Pro;
    font-size: 43px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f07769;
    position: absolute;
    z-index: 3;
  }
  .or-picnic-on-the-riv_jolie h1.game_day_joli {
    right: -20%;
}
  .or-picnic-on-the-riv_jolie h1.game_day_joli1 {
    left: -21%;
}
  .or-picnic-on-the-riv_jolie h1.game_day_joli,.or-picnic-on-the-riv_jolie h1.game_day_joli1 {
    top: 45%;
  }

  .jolee_section_6 {
      padding: 100px 45px 0;
      background-color: #fffcf9;
  }
.ladies_talking_jolie img {
    width: 100%;
}

/* carousel css */

#game_day.owl-theme .owl-dots .owl-dot span {
    width: 12px !important;
    height: 4px !important;
    margin: 5px 8px !important;
    background: rgba(224, 99, 100, 0.32) !important;
    display: block !important;
    -webkit-backface-visibility: visible !important;
    transition: opacity .2s ease !important;
    border-radius: 0 !important;
}

#game_day.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
    background: #e06364 !important;
}
#game_day.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 20px !important;
}

.WHAT-OUR-CUSTOMER-AR_jolies {
    font-family: Apercu;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 2px;
    text-align: center;
    color: #f07b55;
    margin-bottom: 0;
  }
  .Rose-Jolee-is-forwa_jolies {
    font-family: Apercu Pro;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #f56358;
    padding: 45px 0;
  }
  .rating_inter_jolies {
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #f07b55;
    text-align: center;
  }
  .Meghann-E_jolies {
    font-family: Apercu;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 2px;
    text-align: center;
    color: #f07b55;
  }
  .customer_quotes_jolee {
    padding: 14% 8.5%;
  }

/*  section 7 css  */
  
   .jolee_section_7 {
    padding: 45px;
    background-color: #faf0dc;
    padding-bottom: 0;
  }
  .winc_image img {
    width: 113%;
    position: relative;
    left: -18%;
  }
  .Ros-Jolee-Wines-to {
    font-family: Apercu Pro;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 2px;
    text-align: center;
    color: #e06364;
    text-transform: uppercase;
  }
  .Get-Ros-Jolee-wines {
    font-family: Apercu Pro;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -1.14px;
    text-align: center;
    color: #e06364;
    width: 94%;
    margin: 0 auto;
    margin-bottom: 8px;
  }
  .How-Many-Bottles-of {
    font-family: Apercu Pro;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 2px;
    text-align: center;
    color: #e06364;
    text-transform: uppercase;
  }
  .vertical_line_jolee {
    width: 51.6%;
    border-right:1px solid #f07769;
    height: 96px;
    margin-bottom: 1rem;
  }

/* radio css */
  .radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
  .radio-tile-group .input-container {
    position: relative;
    height: 3rem;
    width: 4.5rem;
    margin-right: 0.5rem;
  }
  .radio-tile-group .input-container .radio-button {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
 }
  .radio-tile-group .input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid #f07769;
    padding: 1rem;
 }
  .radio-tile-group .input-container .radio-button:checked + .radio-tile .icon svg,.radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label,.radio-tile-group .input-container .radio-button:checked + .radio-tile {
    background-color: #f07769;
    transition: background-color 500ms ease;
 }

 .number_3_jolee {
  font-family: Apercu;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 2px;
  text-align: center;
  color: #e08d75;
}
p.number_3_jolee {
  margin-bottom: 0;
}
.jolee_0-off-Ros-Jolee {
  font-family: Apercu;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #f07769;
  padding-top: 15px;
}
.Frequency_jolieee {
  font-family: Apercu Pro;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 2px;
  text-align: center;
  color: #e06364;
  text-transform: uppercase;
}

input:checked ~ .checkmark {
  background-color: red;
}

/* Hide the browser's default checkbox */
.container_check_mark input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 1px solid #f07769;
  margin-left: 20px;
  margin-top: 4px;
}

/* When the checkbox is checked, add a blue background */
.container_check_mark input:checked ~ .checkmark {
  background-color: #fbf5f1;
  border:1px solid #f07769;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_check_mark input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_check_mark .checkmark:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid #f07769;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.RIO-CLUB_jolee_club p {
    font-family: Apercu;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #b86141;
    margin-bottom: 0;
}
.RIO-CLUB_jolee_club {
  border: 1px solid #f07769;
  padding: 2% 8% 2% 1%;
  margin-right: 0.5rem;
}
.RIO-CLUB_jolee_club .radio-button:checked,.radio-button:checked,.radio-button:checked {
  background-color: #f07769;
  transition: background-color 500ms ease;
}
input[type=submit].SUBSCRIBE-82_joleee {
  font-family: Apercu;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 2px;
  text-align: center;
  color: #b86141;
  background-color: white;
  border: solid 1px #b86141;
  padding: 15px 23%;
  margin-top: 25px;
  outline: 0px;
}
.form_subscribing {
  text-align:center;
}
/* section 8 css */
.jolee_section_8 {
  padding:100px 45px;
  background-color:#fff0eb;
}
.images_flow_jolee2 img:first-child {
  position: absolute;
  right: -32%;
  top: 18%;
}
.images_flow_jolee2 img:last-child {
  position: absolute;
  right: -30%;
  top: 39%;
  z-index: 2;
}
.images_flow_jolee3 img {
  position: relative;
  z-index: 1;
}
.images_flow_jolee4 img:first-child {
  position: absolute;
  /* right: -32%; */
  top: 15%;
  left: -30%;
  z-index: 2;
}
.images_flow_jolee4 img:last-child {
  position: absolute;
  top: 50%;
  left: -43%;
}
.images-flowe_hat_lady h1 {
  font-family: Apercu Pro;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #f56358;
  padding-top: 50px;
  padding-bottom: 16px;
}
.images-flowe_hat_lady p {
  font-family: Apercu;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #f56358;
  width: 39%;
  margin: 0 auto;
}

.Started-by-Jolee-Wal .text-style-1 {
  font-weight: bold;
}

/* section 9 css */
.jolee_section_9 {
  padding: 100px 45px;
  background-color: #fffbfa;
}
  
  
@media screen and (max-width:1200px) {
    .Jolee-Wines-captures_jole {
        font-size: 30px;
    }
    .flower_jolee_red {
        height: 500px;
    }
    .bf_pink_jolee {
        top: 17%;
        padding: 0px 0px 6%;
    }
    .flower_jolee_red a {
        bottom: 28.5%;
    }
    .customer_quotes_jolee {
        padding: 14% 7px;
    }
  .height_275 img {
    height: 320px;
}
  .height_514 {
    height: 500px;
}
  
  
    
}

@media screen and (max-width:1100px) {
    .jolee_header_text {
        width: 100%;
    }
    .jolee_header_img img {
        width: 100%;
    }
    .Delightfully-easy-dr_jolee h1 {
        font-family: Apercu Pro;
        font-size: 61px;
    }
    .jolee_header_text {
        width: 77%;
    }
    .jolee_header_text img {
        width:44%;
    }
    .Delightfully-easy-dr_jolee p {
        font-size: 19px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .Delightfully-easy-dr_jolee a {
        padding: 2% 12%;
    }
    /* sec 2 */
    .Jolee-wines-are-full_pg p {
        font-size: 24px;
        width: 74%;
        margin-bottom: 45px;
    }
    .jolee_merge_up img:last-child {
        width: 50%;
    }
    .jolee_merge_up img:first-child {
        width: 39%;
    }
.flower_jolee_red,.height_514 {
    height: 454px;
}
  .height_275 img {
    height: 292px;
}

.flower_jolee_red a {
    bottom: 30.5%;
}
    .bf_pink_jolee {
        top: 15%;
        padding: 0px 0px 9%;
    }
    .png_carbernet_jolie {
        padding: 64px 10px 10px;
    }
    .or-picnic-on-the-riv_jolie h1 {
        font-size: 33px;
    }
    .or-picnic-on-the-riv_jolie h1.game_day_joli {
        right: -20%;
    }

    .Rose-Jolee-is-forwa_jolies {
        font-size: 24px;
    }
  .customer_quotes_jolee {
    padding: 11% 12%;
}
  
  
    .Get-Ros-Jolee-wines {
      font-size: 28px;
    }
    .How-Many-Bottles-of {
      font-size: 11px;
    }
    .jolee_0-off-Ros-Jolee {
      font-size: 11px;
    }
    .Frequency_jolieee {
      font-size: 12px;
    }
    .RIO-CLUB_jolee_club p {
      font-size: 13px;
    }
    .RIO-CLUB_jolee_club {
      padding: 2% 10% 2% 1%;
    }
    .checkmark {
      margin-top: 0;
  }
  .rose_joli_dorestop p {
    margin-bottom: 8px;
}
.RIO-CLUB_jolee_club p {
  margin-bottom: 0;
}
.vertical_line_jolee {
  height: 65px;
}
p.number_3_jolee {
  margin: 0;
}
.images_flow_jolee2 img:last-child {
  right: -17%;
  top: 35%;
}
.images_flow_jolee2 img:first-child {
  right: -22%;
  top: 18%;
}
.images_flow_jolee4 img:first-child {
  top: 13%;
  left: -14%;
}
.images_flow_jolee4 img:last-child {
  top: 48%;
  left: -28%;
}
.images-flowe_hat_lady h1 {
  font-size: 28px;
}
.images-flowe_hat_lady p {
  width: 49%;
}
  
  
}

@media screen and (max-width:800px) and (min-width:760px) {
/*     .jolee_header_text {
        padding-top: 0;
    } */
    .Delightfully-easy-dr_jolee h1 {
        font-size: 46px;
        padding-top: 10px;
    }
    .jolee_section_1 {
        padding: 80px 30px 45px;
    }
    .jolee_header_text {
        width: 90%;
    }
    .Delightfully-easy-dr_jolee p {
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 0px;
    }
    .jolee_header_text img {
        width: 39%;
    }
    .jolee_section_2 {
        padding: 80px 30px;
    }
    .jolee_merge_up img:first-child {
        position: absolute;
        left: 17.4%;
        top: 19%;
    }
    .Jolee-wines-are-full_pg p {
        font-size: 19px;
        width: 74%;
        margin-bottom: 25px;
    }
    .jolee_merge_up {
        padding-right: 0px;
    }
    .flower_jolee_red_33 {
        margin-right: 0;
    }
    .flower_jolee_red {
        height: 70.5%;
    }
.flower_jolee_red a {
    bottom: 32.5%;
}
    .bf_pink_jolee {
        top: 9%;
        padding: 0px 0px 7%;
    }
    .Jolee-Wines-captures_jole {
        font-size: 21px;
    }
    .png_carbernet_jolie {
        padding: 54px 10px 10px;
    }
    .or-picnic-on-the-riv_jolie h1 {
        font-size: 21px;
    }
    .Rose-Jolee-is-forwa_jolies {
        font-size: 22.5px;
        padding: 30px 0;
    }
    .customer_quotes_jolee {
        padding: 11% 0%;
    }
  
  
  
  
   .images_flow_jolee3 img {
      position: relative;
      z-index: 1;
      width: 100%;
  }
  .winc_image img {
    left: -24%;
}

.images_flow_jolee2 img:first-child {
  right: -23%;
  top: 19%;
  width: 50%;
}
.images_flow_jolee2 img:last-child {
  right: -18%;
  top: 35%;
  width: 74%;
}
.images_flow_jolee4 img:first-child {
  top: 13%;
  left: -19%;
  width: 74%;
}
.images_flow_jolee4 img:last-child {
  top: 50%;
  left: -34%;
  width: 56%;
}
.images-flowe_hat_lady h1 {
  font-size: 20px;
}
.images-flowe_hat_lady p {
  width: 50%;
  font-size: 12px;
}
.jolie_center img {
  width: 30%;
}     
.winc_image img {
  width: 132%;
}
.Ros-Jolee-Wines-to {
  font-size: 9px;
}
.Get-Ros-Jolee-wines {
  font-size: 20px;
  width: 82%;
}
.jolee_section_7 {
  padding: 45px 30px;
  padding-bottom: 0;
}
.How-Many-Bottles-of {
  font-size: 8px;
}
.radio-tile-group .input-container .radio-tile {
  padding: 10px;
}
.radio-tile-group .input-container {
  height: 2rem;
  width: 3rem;
}
.number_3_jolee {
  font-size: 10px;
}
.RIO-CLUB_jolee_club p {
  font-size: 11px;
}
.checkmark {
  height: 15px;
  width: 15px;
}
.container_check_mark .checkmark:after {
  left: 4px;
  top: 0px;
}
input[type=submit].SUBSCRIBE-82_joleee {
  font-size: 10px;
  padding: 8px 23%;
}
        
}
@media screen and (max-width:767px) and (min-width:600px) {
    .flower_jolee_red {
        height: 91%;
    }
    .flower_jolee_red a {
        bottom: 27.5%;
    }
    .bf_pink_jolee {
        top: 4%;
    }
    .png_carbernet_jolie {
        margin-top: 28%;
    }
    .flower_jolee_red a {
        bottom: 10.5%;
        width: 94%;
    }
    .png_carbernet_jolie {
        padding: 56px 10px 10px;
    }
    .jolee_section_6 {
        padding: 60px 30px;
        background-color: #fffcf9;
    }
  
  
  
    
}
@media screen and (max-width:767px) {
    .jolee_header_img img {
        width: 100%;
        margin-top: 50px;
    }
    .jolee_merge_up img:first-child {
        position: absolute;
        left: 16.4%;
        top: 20%;
    }
    .Jolee-wines-are-full_pg p {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-top: 40px;
    }
    .Jolee-Wines-captures_jole {
        font-size: 22px;
        width: 100%;
    }
    .justify_jolie {
        justify-content: start;
    }
    .Rose-Jolee-is-forwa_jolies {
        font-size: 17px;
    }    
  
  
  
   .rose_joli_dorestop {
    margin-top: 50px;
  }
 
      .winc_image img {
      width: 100%;
      left: 0;
  }
  .jolee_section_7 {
    padding: 45px 15px;
}
.Get-Ros-Jolee-wines {
  font-size: 20px;
}
.rose_joli_dorestop p {
  margin-bottom: 15px;
}
.RIO-CLUB_jolee_club {
  padding: 2% 14% 2% 3%;
}
.RIO-CLUB_jolee_club p {
  margin-bottom: 0;
}
input[type=submit].SUBSCRIBE-82_joleee {
  padding: 15px 30%;
}
.images_flow_jolee2 img:last-child {
  right: 0%;
  top: -12rem;
  width: 42%;
}
.images_flow_jolee3 img {
  width: 100%;
}
.jolee_section_8 {
  padding: 50% 15px 45px;
}
.images_flow_jolee2 img:first-child {
  right: 28%;
  top: -6rem;
  width: 36%;
}

.images_flow_jolee4 img:first-child {
  top: -2rem;
  left: 0%;
  width: 46%;
}
.images_flow_jolee4 img:last-child {
  top: -2rem;
  left: 33%;
  width: 33%;
}
.images-flowe_hat_lady h1 {
  padding-top: 57%;
  font-size: 21px;
}
.images-flowe_hat_lady p {
  width: 100%;
  font-size: 13.5px;
}
.jolee_section_9 {
  padding: 70px 15px;
  background-color: #fffbfa;
}
.jolie_center img {
  width: 16%;
}
p.number_3_jolee {
  margin-bottom: 0;
}
.or-picnic-on-the-riv_jolie h1 {
  position: unset;
} 
h1.game_day_joli1 {
  text-align: right;
}
}
@media screen and (max-width:550px) {
    .jolee_header_text {
        width: 94%;
    }
}

@media screen and (max-width:450px) {
    .jolee_header_text {
        width: 94%;
    }
    .jolee_section_1 {
        padding: 80px 15px 45px;
    }
    .jolee_section_2 {
        padding: 60px 15px;
    }
    .jolee_merge_up img:first-child {
        left: 13.4%;
        top: 17%;
    }
    .flower_jolee_red {
        height: 85%;
    }
    .flower_jolee_red a {
        bottom: 16.5%;
    }
    .jolee_section_4 {
        padding: 60px 15px;
    }
    .Jolee-Wines-captures_jole {
        font-size: 18px;
    }
    .bf_pink_jolee {
        top: 11%;
        padding: 0px 0px 6%;
    }

    .Perfect-companions-d_jolie {
        font-family: Apercu;
        font-size: 14px;
    }
    .or-picnic-on-the-riv_jolie h1 {
        font-size: 43px;
        position: unset;
    }
    .or-picnic-on-the-riv_jolie h1 {
        font-size: 28px;
    }
    .jolee_section_6 {
        padding: 60px 15px;
    }
    .or-picnic-on-the-riv_jolie h1.game_day_joli {
        margin-bottom: 20px;
    }
    .or-picnic-on-the-riv_jolie h1.game_day_joli1 {
        margin-top: 20px;
        text-align: right;
    }
    .Rose-Jolee-is-forwa_jolies {
        font-size: 14px;
        padding: 20px 0;
    }
  
  
    .winc_image img {
      width: 100%;
      left: 0;
  }
  .jolee_section_7 {
    padding: 45px 15px;
}
.Get-Ros-Jolee-wines {
  font-size: 20px;
}
.rose_joli_dorestop p {
  margin-bottom: 15px;
}
.RIO-CLUB_jolee_club {
  padding: 2% 14% 2% 3%;
}
.RIO-CLUB_jolee_club p {
  margin-bottom: 0;
}
input[type=submit].SUBSCRIBE-82_joleee {
  padding: 15px 30%;
}
.images_flow_jolee2 img:last-child {
  right: 0%;
  top: -12rem;
  width: 42%;
}
.images_flow_jolee3 img {
  width: 100%;
}
.jolee_section_8 {
  padding: 50% 15px 45px;
}
.images_flow_jolee2 img:first-child {
  right: 28%;
  top: -6rem;
  width: 36%;
}

.images_flow_jolee4 img:first-child {
  top: -2rem;
  left: 0%;
  width: 46%;
}
.images_flow_jolee4 img:last-child {
  top: -2rem;
  left: 33%;
  width: 33%;
}
.images-flowe_hat_lady h1 {
  padding-top: 57%;
  font-size: 21px;
}
.images-flowe_hat_lady p {
  width: 100%;
  font-size: 13.5px;
}
.jolee_section_9 {
  padding: 70px 15px;
  background-color: #fffbfa;
}
.jolie_center img {
  width: 16%;
}
p.number_3_jolee {
  margin-bottom: 0;
}
}

@media screen and (max-width: 400px) {
    .jolee_header_text {
        width: 100%;
    }
    .Delightfully-easy-dr_jolee h1 {
        font-size: 52px;
    }
    .Delightfully-easy-dr_jolee p {
        font-size: 17px;
    }
    .Delightfully-easy-dr_jolee a {
        padding: 2% 9%;
    }
    .padding-top_60_jolee {
        padding-top: 40px;
    }
    .Jolee-wines-are-full_pg p {
        font-size: 22px;
    }
    .bf_pink_jolee {
        top: 11%;
    }
    .text_below_jolee p {
        margin-bottom: 10px;
    }
    .Rose-Jolee-is-forwa_jolies {
        font-size: 12px;
        padding: 20px 0;
    }
    .WHAT-OUR-CUSTOMER-AR_jolies {
        font-size: 10px;
    }
    .customer_quotes_jolee p {
        margin-bottom: 10px;

    }
  
  
     .Get-Ros-Jolee-wines {
      font-size: 19px;
  }
  .Ros-Jolee-Wines-to {
    font-size: 10px;
  }
  .How-Many-Bottles-of {
    font-size: 8px;
}
.images-flowe_hat_lady h1 {
    font-size: 19px;
}
.images-flowe_hat_lady p {
    font-size: 11.4px;
}
.images_flow_jolee2 img:last-child {
  top: -11rem;
}
.images_flow_jolee4 img:first-child {
  top: -1rem;
}

}
@media screen and (max-width: 350px) { 
    .Delightfully-easy-dr_jolee h1 {
        font-size: 44px;
    }
    .Delightfully-easy-dr_jolee a {
        font-size: 9px;
    }    
    .Delightfully-easy-dr_jolee p {
        font-size: 14px;
        padding-bottom: 0px;
    }
    .Jolee-wines-are-full_pg p {
        font-size: 18px;
    }
    .bf_pink_jolee {
        top: 7%;
    }

    .flower_jolee_red a {
        width: 89%;
    }

    .Perfect-companions-d_jolie {
        font-size: 11px;
    }
    .or-picnic-on-the-riv_jolie h1 {
        font-size: 23px;
    }
    .Rose-Jolee-is-forwa_jolies {
        font-size: 10px;
    }
    .Meghann-E_jolies {
        font-size: 9px;
    }
  
  
     .images_flow_jolee2 img:last-child {
      top: -8rem;
  }
  .images_flow_jolee2 img:first-child {
    top: -4rem;
}
.images-flowe_hat_lady h1 {
  padding-top: 60%;
  font-size: 16px;
}
.images-flowe_hat_lady p {
  font-size: 11px;
}
.Get-Ros-Jolee-wines {
  font-size: 17px;
  width: 100%;
}
.radio-tile-group .input-container {
  height: 2rem;
}
.RIO-CLUB_jolee_club p {
  font-size: 10px;
}
.RIO-CLUB_jolee_club {
  padding: 3% 18% 2% 3%;
}
.checkmark {
  height: 15px;
  width: 15px;
}
.container_check_mark .checkmark:after {
  left: 4px;  
  top: 0px;
}
  .height_275 img {
    height: 230px;
}
}

   
</style>  



{% section 'joleepage_first_section' %}
{% section 'joleepage_second_section' %}
{% section 'joleepage_third_section' %}
{% section 'joleepage_forth_section' %}
{% section 'joleepage_five_section' %}
{% section 'joleepage_six_section' %}
{% comment %}
{% section 'joleepage_seven_section' %}
{% endcomment %}
{% section 'joleepage_eight_section' %}
{% section 'joleepage_nine_section' %}