{% comment %}
<article class="pt-6">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <div>{{ page.content }}</div>
  </div>
</article>
{% endcomment %}


<style>
  
  /* section 2 css */
p.variant_vineyard_1 {
    font-family: Apercu Pro;
    font-size: 10.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 2px;
    color: rgba(46, 68, 51, 0.6);
    text-transform: uppercase;
    margin: 0;
}
.vineyard_section_2 {
    padding: 100px 45px 40px;
    background-color: #fcf9ef;
}
.row_sec_1_vineyard__mar {
    margin-top: 45px;
}
.premium_estate_winemaker_vineyards_img img {
    width: 100%;
}
.premium_estate_winemaker_vineyards_txt h1 {
    font-family: 'Butler';
    font-size: 42.5px;
    font-weight: 300;
    margin-bottom: 80px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #2e4433;
}
.premium_estate_winemaker_vineyards_img_2 {
    text-align: center;
    margin-top: 13px;
    padding-left: 35px;
}
.premium_estate_winemaker_vineyards_img_2 img {
    height: 650px;
}
p.grape_facing_south_vineyard {
    font-family: Apercu Pro;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: rgba(23, 31, 21, 0.6);
    width: 77%;
    margin-top: 8px;
    margin-bottom: 0;
}

/* section 3 css */

.vineyard_section_3 {
    padding: 40px 45px 100px;
    background-color: #fcf9ef;
}
.vineyard_sec_img_desc_2 img {
    height: 55px;
}
h1.Over-300000-vines-p_vineyards_del {
    font-family: 'Butler';
    font-size: 43px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #2e4433;
    margin-bottom: 40px;
    margin-top: 30px;
}
  p.Over-300000-vines-p_vineyards_del_txts {
    font-family: Apercu;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #171f15;
    width: 72%;
    margin-bottom: 0;
}
.vineyard_sec_img_desc_2 {
    width: 69%;
}
.h1_text_vineyard_text_grape_varieties h1 {
    font-family: 'Butler';
    font-size: 29px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #171f15;
  }
  .h1_text_vineyard_text_names_varieties_11 {
      margin-top: 45px;
  }


  hr.solid_border_litish_pinkish_vineyards {
    border: 0px;
    border-top:1px solid #bcc3bd;
    margin: 0px;
  }
/* section 4 css */
  .premium_estate_winemaker_vineyards_img_3 img {
    width: 100%;
}
.drop_mari_0_vineyard_pg h1 {
    margin-bottom: 0;
    font-size: 40.5px;
}
p.grape_facing_south_vineyard_11 {
    font-family: Apercu Pro;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: rgba(23, 31, 21, 0.6);
    width: 55%;
    margin-top: 40px;
    margin-bottom: 0;
}
.vineyard_section_4 {
    padding: 100px 45px;
    background-color: #fcf9ef;
}

@media screen and (max-width:1100px) {
    .premium_estate_winemaker_vineyards_txt h1 {
        font-size: 35.5px;
    }
    p.variant_vineyard_1 {
        font-size: 9.5px;
    }
    .premium_estate_winemaker_vineyards_img_2 img {
        height: 550px;
    }
    h1.Over-300000-vines-p_vineyards_del {
        font-size: 37px;
    }
    p.Over-300000-vines-p_vineyards_del_txts {
        font-size: 12.5px;
    }    
    .h1_text_vineyard_text_grape_varieties h1 {
        font-size: 23px;
    }
    .vineyard_section_3 {
        padding: 40px 45px 80px;
    }
    p.grape_facing_south_vineyard_11 {
        font-size: 12px;
    }
    .vineyard_section_4 {
        padding: 70px 45px;
    }
        

}

@media screen and (max-width:800px) {
    .vineyard_section_2 {
        padding: 100px 30px 40px;
    }
    .premium_estate_winemaker_vineyards_txt h1 {
        font-size: 25.5px;
        margin-bottom: 40px;
    }
    .premium_estate_winemaker_vineyards_img_2 img {
        height: 385px;
    }
    p.grape_facing_south_vineyard {
        font-size: 10px;
        width: 87%;
    }
    h1.Over-300000-vines-p_vineyards_del {
        font-size: 28px;
    }
    p.Over-300000-vines-p_vineyards_del_txts {
        font-size: 12px;
    }
    .h1_text_vineyard_text_grape_varieties h1 {
        font-size: 16px;
    }
    .drop_mari_0_vineyard_pg h1 {
        margin-bottom: 0;
    }
    p.grape_facing_south_vineyard_11 {
        font-size: 10px;
        width: 67%;
    }
}
@media screen and (max-width: 767px) {
.premium_estate_winemaker_vineyards_txt h1 {
    font-size: 29px;
    margin-bottom: 40px;
}
p.grape_facing_south_vineyard {
    font-size: 14px;
    width: 87%;
}
.vineyard_sec_img_desc_2 {
    width: 100%;
}
.h1_text_vineyard_text_grape_varieties {
    margin-bottom: 30px;
}
.drop_mari_0_vineyard_pg {
    margin-bottom: 30px;
}
p.grape_facing_south_vineyard_11 {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 20px;
}
}
@media screen and (max-width:550px) {
    p.grape_facing_south_vineyard_11 {
        font-size: 13px;
        width: 77%;
    }
    .premium_estate_winemaker_vineyards_txt h1 {
        width: 80%;
    }
    .drop_mari_0_vineyard_pg h1 {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
.premium_estate_winemaker_vineyards_txt h1 {
    width: 100%;
    font-size: 27px;
}
p.grape_facing_south_vineyard {
    font-size: 15px;
    width: 100%;
    margin: 20px 0;
}
.premium_estate_winemaker_vineyards_img_2 {
    padding-left: 0;
    margin: 0;
}
.vineyard_section_3 {
    padding: 40px 15px 60px;
}
.vineyard_section_2 {
    padding: 80px 15px 40px;
}
.vineyard_section_4 {
    padding: 70px 15px;
}
}

@media screen and (max-width: 400px) {
p.grape_facing_south_vineyard_11 {
    font-size: 12px;
    width: 100%;
}
.premium_estate_winemaker_vineyards_txt h1 {
    font-size: 25px;
}
.row_sec_1_vineyard__mar {
    margin-top: 30px;
}
h1.Over-300000-vines-p_vineyards_del {
    font-size: 20px;
    margin: 20px 0;
}
}

@media screen and (max-width: 350px) {
.premium_estate_winemaker_vineyards_txt h1 {
    font-size: 21px;
}
p.grape_facing_south_vineyard {
    font-size: 12px;
}
p.Over-300000-vines-p_vineyards_del_txts {
    font-size: 12px;
    width: 100%;
}
.premium_estate_winemaker_vineyards_txt h1 {
    font-size: 21px;
    margin-bottom: 30px;
}
p.grape_facing_south_vineyard_11 {
    font-size: 10px;
}
}

</style>  


{% section 'Vintners_page_section_1' %}

<style>

  .btn1_99::before {
    width: 68px;
    margin-left: -1px !important;
}
  .btn1_99::after {
    width: 68px;
    margin-right: -1px !important;
}
   .tour_event_awards  li.btn1_99 a {
    color: rgba(46, 68, 51, 1);
}
 @media screen and (max-width:991px) {
    .btn1_99::before,.btn1_99::after {
        width: 52px;
    } 
 }
  @media screen and (max-width:767px) {
   .btn1_99::after, .btn1_99::before {
        width: 45%;
    }
  }
  @media screen and (max-width: 550px) {
    .btn1_99::after, .btn1_99::before {
        width: 47%;
    }
  }
  @media screen and (max-width: 400px)  {
    .btn1_99::after, .btn1_99::before {
        width: 46%;
    }
  }

  
  
</style>
{% section 'Vineyard_second_section' %}
{% section 'Vineyard_third_section' %}
{% section 'Vineyard_fourth_section' %}
{% section 'vintnerspage_four_section' %}
