{% comment %}
<article class="pt-6">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <div>{{ page.content }}</div>
  </div>
</article>
{% endcomment %}


<style>
  
  /* section 1 */
.section_1_about {
    background-color: #f3f5eb;
    padding: 170px 45px 80px;
}

.about_us_header .About-Us_text {
    font-family: Apercu pro;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 2px;
    text-align: center;
    color: #171f15;
    text-transform: uppercase;
    padding-bottom: 30px;
  }
  .about_us_header h1 {
    font-family: 'Butler';
    font-size: 48px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #171f15;
    width: 90%;
    margin: 0 auto;
  }

/* section 2 */

.section_2_about {
    padding: 60px 45px;
    background-color: #fcfcf5;
}
.images_flow_about_us_2 img {
    position: absolute;
    right: -46%;
    top: 19%;
    z-index: 1;    
}
.images_flow_about_us_4 img:last-child {
    position: absolute;
    left: -45%;
    top: 50%;    
}
.images_flow_about_us_4 img:first-child {
    position: absolute;
    left: -30%;
    top: 22%;
}
.sig_about_us p {
    text-transform: uppercase;
    font-family: Apercu Pro;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 1px;
    text-align: center;
    color: #171f15;
}
.height_100_about {
    height: 100%;
}
/* .sig_about_us1 p {
    margin-top: -30px;

}
.margi_about_up p {
    margin-top: 5px;
} 
.margi_about_up {
    margin-top: 17px;
}*/
.padding_35_about {
    padding-top: 35px;
}
/* .sig_about_us img {
    width: 70%;
} */

/* section 3 css */

.section_3_about {
    padding: 80px 45px;
    background-color: #fcfcf5;
}

h1.about_us_story  {
    font-family: 'Butler';
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #171f15;
}
.our_mission_about_us p {
    font-family: Apercu;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #3e3e3e;
}
.padding_about_us_bg_wine {
    width: 85%;
    margin: 0 auto;
    background-color: #f3f5eb;
}
.image_tom_wine_making img {
    width: 100%;
}
.about_us_story_tour {
    padding: 30px 15px 30px 45px;
}

/* section 4 css */

.padding_about_us_bg_wine.bg-white {
    padding-top: 80px;
    padding-bottom: 60px;
}
.create_wines_with_a_purpose_about h1 {
        font-family: 'Butler';
        font-size: 40px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: center;
        color: #171f15;
}
p.a_purpose_about {
    font-family: Apercu Pro;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 2px;
    text-align: center;
    color: #171f15;
    text-transform: uppercase;
  }

.create_wines_with_a_purpose_about p.Our-mission-is-to-cr {
    font-family: Apercu;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: rgba(23, 31, 21, 0.87);
  }
  .create_wines_with_a_purpose_about {
    width: 62%;
    margin: 0 auto;
  }
  .create_wines_with_a_purpose_about div {
      margin-top: 40px;
  }
  .create_wines_with_a_purpose_about div:nth-child(3),.create_wines_with_a_purpose_about div:nth-child(4) {
    margin-top: 46px;
}

/* section 5 css */

.section_4_about {
    padding: 60px 45px;
    background-color: #f3f5eb;
}

.Who-we-are_about h1 {
    font-family: 'Butler';
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #171f15;
    margin-bottom: 30px;
  }
  .Who-we-are_about img.img_222 {
    position: absolute;
    left: 47%;
    z-index: 1;
    transform: translate(8%,246%);
}
.section_5_about {
    padding: 60px 45px;
    background-color: #fcfcf5;
}
.del_rio_about_family h1 {
    font-family: 'Butler';
    font-size: 48px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #171f15;
  }
  .del_rio_about_family p.del_vin_about {
    font-family: Apercu;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #171f15;
    width: 66%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
}
.Lee_Traynham_section_owner .w-20 {
    margin-right: 20px;
}
.Lee_Traynham_section_owner .w-20:nth-child(5) {
    margin-right: 0px;
}
.Lee_Traynham_section_owner .w-20  img {
    width: 100%;
}
.Lee_aynham_about p:first-child {
    font-family: Apercu Pro;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 1px;
    text-align: center;
    color: #171f15;
    margin-bottom: 4px;
    padding-top: 12px;
    text-transform: uppercase;
}
  .Lee_aynham_about p:last-child {
    font-family: Apercu;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #171f15;
    margin-bottom: 0;
  }

  .Lee_Traynham_section_owner {
      margin-bottom: 30px;
  }
  .Lee_Traynham_section_owner .w-20.w_about_99 img {
      width: 97%;
  }
  .Lee_Traynham_section_owner .w-20.w_about_96 img {
    width: 96%;
}


@media screen and (max-width:1100px) {
    .about_us_header h1 {
        font-size: 42px;
    }
    .images_flow_about_us_2 img {
        right: -38%;
        top: 19%;
        width: 100%;
    }
    .images_flow_about_us_4 img:last-child {
        left: -37%;
        top: 50%;
        width: 100%;
    }
    .images_flow_about_us_4 img:first-child {
        left: -22%;
        top: 19%;
    }
    .images_flow_about_us_3 img {
        width: 75%;
    }
    .padding_about_us_bg_wine {
        width: 93%;
    }
    .about_us_story_tour {
        padding: 30px 0px 30px 30px;
    }
    .our_mission_about_us p {
        font-size: 14px;
    }
    .sig_about_us img {
        width: 80%;
    }
    .sig_about_us {
        text-align: center;
    }
    .margi_about_up {
        margin-top: 7px;
    }       
    .create_wines_with_a_purpose_about {
        width: 70%;
    }
    .padding_about_us_bg_wine.bg-white {
        padding-top: 60px;
        padding-bottom: 50px;
    }
    .del_rio_about_family p.del_vin_about {
        width: 81%;
    }    
    .w-20.w_about_99 {
        width: 18.5%;
    }
    .Lee_Traynham_section_owner .w-20.w_about_99 img {
        width: 98%;
    }
}

@media screen and (max-width: 991px) {
    .images_flow_about_us_4 img:first-child {
        width: 54%;
    }
    .padding_about_us_bg_wine {
        width: 100%;
    }
    .our_mission_about_us p {
        font-size: 12px;
    }
    .about_us_story_tour {
        padding: 15px 0px 30px 30px;
    }
    .padding_35_about {
        padding-top: 0px;
    }
/*     .sig_about_us1 p {
        margin-top: -24px;
    }     */
    .create_wines_with_a_purpose_about {
        width: 86%;
    }
    img.img_1278 {
        width: 100%;
    }

}

@media screen and (max-width:800px) {
    .about_us_header h1 {
        font-size: 29px;
    }
    .about_us_header .About-Us_text {
        font-size: 9px;
        padding-bottom: 15px;
    }
    .images_flow_about_us_2 img {
        right: -39%;
        top: 18%;
    }
    .images_flow_about_us_4 img:last-child {
        left: -39%;
        top: 49%;
    }
    .our_mission_about_us p {
        font-size: 11.2px;
    }
    .sig_about_us p {
        font-size: 11px;
    }
    .about_us_story_tour {
        padding: 15px 0px 15px 30px;
    }
    .padding_about_us_bg_wine.bg-white {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .create_wines_with_a_purpose_about {
        width: 82%;
    }
    .create_wines_with_a_purpose_about p.Our-mission-is-to-cr {
        font-size: 13px;
    }
    img.img_1278 {
        width: 100%;
    }
    .Who-we-are_about img.img_222 {
        left: 45%;
        transform: translate(8%,200%);
    }
    .Lee_aynham_about p:first-child {
        font-size: 14px;
    }
    .Lee_aynham_about p:last-child {
        font-size: 14px;
    }
    .del_rio_about_family p.del_vin_about {
        font-size: 10px;
    }
.w-20 {

}

}

@media screen and (max-width:767px) {
    .images_flow_about_us_2 img {
        left: 7%;
        top: -220px;
        width: 45%;
        position: absolute;
    }
    .section_2_about {
        padding: 240px 15px;
        /* padding-bottom: 200px; */
    }
    .images_flow_about_us_3 img {
        width: 75%;
    }
    .images_flow_about_us_4 img:last-child {
        left: 47%;
        top: -30px;
        width: 45%;
    }
    .images_flow_about_us_4 img:first-child {
        width: 21%;
        left: 4%;
        top: 135px;
    }
    .w-20.invisible {
        display: none !important;
    }
    .Lee_Traynham_section_owner.d-flex {
        display: block !important;
    }
    .Lee_Traynham_section_owner .w-20 {
        margin-right: 0px;
        text-align: center;
        margin-bottom: 30px;
    }
    .Lee_Traynham_section_owner .w-20 img {
        width: 55%;
    }
    
}

@media screen and (max-width:500px) {
    .section_1_about {
        padding: 160px 15px 60px;
    }
    .about_us_header h1 {
        font-size: 24px;
    }
    .images_flow_about_us_2 img {
        left: 7%;
        top: -172px;
        width: 45%;
        position: absolute;
    }
    .section_2_about {
        padding: 240px 15px;
        /* padding-bottom: 200px; */
    }
    .images_flow_about_us_3 img {
        width: 75%;
    }
    .images_flow_about_us_4 img:last-child {
        left: 47%;
        top: -30px;
        width: 45%;
    }
    .images_flow_about_us_4 img:first-child {
        width: 21%;
        left: 4%;
        top: 135px;
    }
    .section_3_about {
        padding: 80px 15px;
    }
    .margi_about_up {
        margin-top: 20px;
    }
    .about_us_story_tour {
        padding: 15px;
    } 
    .vineyard_about__9 img {
        width: 75%;
    }
    .Who-we-are_about img.img_1278 {
        width: 100%;
    }   
    .section_4_about {
        padding: 60px 15px;
    }
    .section_2_about {
        padding: 190px 15px;
    }
    .section_3_about {
        padding: 80px 15px;
        padding-bottom: 40px;
    }
    .create_wines_with_a_purpose_about {
        width: 100%;
        padding: 0px 10px;
    }
    .create_wines_with_a_purpose_about p.Our-mission-is-to-cr {
        font-size: 13px;
    }
    .Who-we-are_about img.img_222 {
        left: 40%;
        transform: translate(8%,88%);
    }
    .padding_about_us_bg_wine.bg-white {
        padding-top: 50px;
        padding-bottom: 30px;
    }  

    /* section 6 css */
    .section_5_about {
        padding: 60px 15px;
    }
    .del_rio_about_family h1 {
        font-size: 37px;
    }
    .del_rio_about_family p.del_vin_about {
        width: 100%;
    }
    .Lee_Traynham_section_owner.d-flex {
        display: block !important;
    }
    .Lee_Traynham_section_owner .w-20 {
        margin-right: 0px;
        text-align: center;
        margin-bottom: 30px;
    }
    .Lee_Traynham_section_owner .w-20 img {
        width: 55%;
    }

}

@media screen and (max-width: 400px) {
.about_us_header h1 {
    font-size: 20px;
}

.images_flow_about_us_2 img {
    top: -150px;
}
.images_flow_about_us_4 img:last-child {
    top: -24px;
}
.Who-we-are_about img.img_222 {
    left: 38%;
    transform: translate(8%,68%);
}
.create_wines_with_a_purpose_about h1 {
    font-size: 32px;
}
.create_wines_with_a_purpose_about p.Our-mission-is-to-cr {
    font-size: 10px;
}

.Who-we-are_about h1 {
    font-size: 31px;
}
.del_rio_about_family p.del_vin_about {
    font-size: 11px;
}
.Lee_aynham_about p:first-child {
    font-size: 12px;
}
}
@media screen and (max-width: 350px) {
.about_us_header h1 {
    font-size: 17px;
}
.images_flow_about_us_2 img {
    top: -120px;
}
.section_2_about {
    padding: 165px 15px;
}
.images_flow_about_us_4 img:first-child {
    left: 6%;
}
h1.about_us_story {
    font-size: 33px;
}
.our_mission_about_us p {
    font-size: 10px;
}
.Who-we-are_about img.img_222 {
    transform: translate(8%,48%);
}
.del_rio_about_family h1 {
    font-size: 29px;
}
.del_rio_about_family p.del_vin_about {
    font-size: 10px;
}
.Lee_Traynham_section_owner .w-20 {
    margin-bottom: 25px;
}
.Lee_Traynham_section_owner .w-20 img {
    width: 60%;
}
}

@media screen and (min-width:1600px) {
    .Who-we-are_about img.img_222 {
        position: absolute;
        left: 49%;
        z-index: 1;
        transform: translate(-14%,242%);
    }
}
  
  
</style>




<!-- section 1 -->

    {% section 'about_us_section_1' %}
<style>
  .btn_awards:hover::after, .btn_awards:hover::before {
    width: 67px;
    margin-left: -1px; 
  }
.image_tom_wine_making.text-center img {
    padding-top: 6%;
/*     position: absolute;
    top: -19%;
    left: 14%; */
    height: 500px;
    width: 355px;
}

  @media screen and (max-width:991px) {
  .btn_awards:hover::after, .btn_awards:hover::before {
        width: 48px;
    }
    .image_tom_wine_making.text-center img {
    height: 438px;
    width: 275px;
}
 
  }
  @media screen and (max-width:800px) {
  .image_tom_wine_making.text-center img {
    height: 398px;
    width: 255px;
}
  }
  @media screen and (max-width:767px) {
      .btn_awards:hover::after, .btn_awards:hover::before {
        width: 45%;
    }
    .image_tom_wine_making.text-center img {
      position: relative;
      left: 0;
    }
    .about_us_story_tour {
      padding: 15px 15px 15px 15px;
    }
    .padleftfprsec4abotus {
      padding-right: 0px !important;
      padding-bottom: 20px;
    }
  }

  @media screen and (max-width: 550px) {
    .btn_awards:hover::after, .btn_awards:hover::before {
        width: 42%;
    }
  }
  .padleftfprsec4abotus {
    padding-right:20px;
  }
</style>
<!-- section 2 -->

    {% section 'about_us_section_2' %}
<!-- section 3 -->
   {% section 'about_us_section_3' %}

<!-- section 4 -->
{% section 'about_us_section_4' %}

    <!-- section 5  -->
{% section 'about_us_section_5' %}

        <!-- section 6 -->
{% section 'about_us_section_6' %}